[2019-06-21 12:55] ChanYiLin commented on #1031
Thanks for the issue!

I have sent a PR to fix the issue, #1032 .
BTW, we create the podGroup with the same name as the tfJob not scheduler name. So the annotation should be `scheduling.k8s.io/group-name: $PODGROUP_NAME`

[2019-06-24 04:05] #1031 closed

[2019-06-24 13:52] ChanYiLin opened #1033 "Add E2E test for gang-scheduling"
We now support the gang-scheduling with using kube-batchd and PodGroup
but we don't have tests for it.

[2019-06-26 02:35] #1029 closed

[2019-06-26 02:40] staugust opened #1035 "tf-operator version conficts"
When running command **/opt/kubeflow/tf-operator.v1 -version**  inside docker image **gcr.io/kubeflow-images-public/tf_operator:v0.5.3**, I got lines below:
[code]
I'm wondering why the output Version conflicts with docker image tag. Shall the two keep the same ?

[2019-06-26 02:47] gaocegege commented on #1035
Yeah, I think it is a bug.

[2019-06-26 02:47] gaocegege commented on #1035
/cc @johnugeorge @richardsliu

[2019-06-26 02:53] gaocegege commented on #1035
We should use go build -ldflags "-X github.com/kubeflow/tf-operator/pkg/version.GitSHA={}" to build the binary

[2019-06-27 03:06] johnugeorge commented on #1035
@gaocegege  https://github.com/kubeflow/tf-operator/blob/6c791e90ba802a55ddedba4298105928859d54c9/py/kubeflow/tf_operator/release.py#L159

[2019-06-27 03:23] gaocegege commented on #1035
@johnugeorge And we should do the similar thing to pkg/version.Version

[2019-06-28 23:19] cheyang commented on #999
The pod is killed and disappeared. So I think it would be useful to keep `preempted` status in the TFJob.

[2019-07-02 02:14] wynn5a opened #1039 "Is there any document for how to run TFJob in AllReduce Strategy"
Hello guys, I want to know if there is any document about how to run tfjob in all-reduce strategy?

[2019-07-02 02:22] gaocegege commented on #1039
https://github.com/kubeflow/tf-operator/tree/master/examples/v1/distribution_strategy May be helpful for you.

[2019-07-02 02:27] wynn5a commented on #1039
@gaocegege Yes, it is helpful, thanks!  Closing...

[2019-07-02 02:27] #1039 closed

[2019-07-16 08:36] soolaugust opened #1045 "TFjob still running while chief pod is completed"
Hello,

I am using ` kubeflow.org/v1beta2` version and start a TFjob container only one chief pod. when chief pod completed, TFjob status still running and won't change status.

![image](https://user-images.githubusercontent.com/10558124/61278901-a344f480-a7e7-11e9-949b-e4dc4113aa0d.png)

![image](https://user-images.githubusercontent.com/10558124/61278936-b788f180-a7e7-11e9-973f-6f6bebd31a56.png)

[2019-07-16 09:02] gaocegege commented on #1045
@soolaugust

Can you show me the status of the TFJob.

kubectl -n xxx describe tfjobs

[2019-07-16 09:21] gaocegege commented on #1026
Maybe we should use validating webhook.

[2019-07-16 09:27] soolaugust commented on #1045
status shows as following:

![image](https://user-images.githubusercontent.com/10558124/61283032-0be39f80-a7ef-11e9-949a-e5e1bf2f7cd2.png)

[2019-07-16 09:38] gaocegege commented on #1045
@soolaugust Thanks for your report. I think it is a bug, I will take a look.

[2019-07-16 09:44] gaocegege commented on #1045
@soolaugust

Cannot reproduce it. What image and commands are you running? It seems that ExitedWithCode is outputted several times in your case.

[code]

[2019-07-16 09:46] gaocegege commented on #1045
I think in your case, the chief is sometimes running and sometimes succeeded. Thus we get multiple `ExitedWithCode` events. Do you set `RestartPolicy: Always` for it?

[2019-07-16 10:00] soolaugust commented on #1045
I run multi command in container, like "xxx&&xxx&&xxx". would this be the reason?

[2019-07-16 10:03] gaocegege commented on #1045
Maybe. I am wondering why you need to run multiple commands. Are you using one chief to run multiple ps and workers?

[2019-07-16 10:04] soolaugust commented on #1045
my dockerfile is as following:

[code]

[2019-07-16 10:05] soolaugust commented on #1045
because I need more operations including pre-handle, training, post-hanlde.

[2019-07-16 10:06] gaocegege commented on #1045
You are not using the command right? You said you are running xxx&&xxx&&xxx

[2019-07-16 10:07] soolaugust commented on #1045
oh, my mistake. I use only `python:3.6.8-slim`.

[2019-07-16 10:08] gaocegege commented on #1045
If the preprocess and postprocess can be written in the code, I suggest this way.

BTW, are these processing functions used to process the dataset?

[2019-07-16 10:09] soolaugust commented on #1045
yes, pre-handle process dataset and post-handle process model

[2019-07-16 10:13] gaocegege commented on #1045
@soolaugust If you are using pv to store the dataset, recommend using a init container or poststart/prestop webhook to do the logic. Personally, do not suggest running multiple processes in one container.

[2019-07-16 10:22] soolaugust commented on #1045
I see. I already use init container to handle dataset mount, but there are some requirement need to do in one container, like `pip install`, `python main.py`, `tar cvf MODEL_DIR`. I know running multiple command is not a good way. but I could not find a better solution now.

[2019-07-16 10:26] gaocegege commented on #1045
How about running pip install in the Dockerfile and use prestop hook to package and push the model?

[2019-07-16 13:38] soolaugust commented on #1045
Current requirement is using different docker image for training. and different codes need different dependencies. so pip install can not put in the Dockerfile. and about prestop hook, I know less about this, I will check the document and try. Thanks :)

[2019-07-17 03:12] soolaugust commented on #1045
after check, it's not multiple command cause this problem. I try to run multiple simple command, tfjob status will be successed when chief pod is completed.

[2019-07-17 03:16] gaocegege commented on #1045
@soolaugust Can you reproduce it every time? I cannot reproduce it at all.

[2019-07-17 03:20] soolaugust commented on #1045
yes, when I use training code. it will reproduce all the time. I am sorry that the codes could not be provided.  I think the reason may be the codes, so I need check them more. I will response later when I get the result.

[2019-07-17 03:29] gaocegege commented on #1045
@soolaugust Yeah, sure.

If you could find the root cause or the code that can reproduce it and can be public, you can post it here. I can help you.

[2019-07-22 07:55] soolaugust commented on #1045
Hi @gaocegege，
After checking, I think the problem is that training codes consume too much cpu resources, as our kubernetes is deployed in the same host, so kubernetes is not available when training codes running. this may cause this issue. I am not sure, will continue checking.

[2019-07-22 07:58] gaocegege commented on #1045
@soolaugust Did you set resource limits for the training job?

[2019-07-22 08:01] soolaugust commented on #1045
Yes， but the training codes require too much CPU resource. I set limit to 10Gi. However the host could not provide so much free CPU resource by now, so it will cause kubernetes been inavailable. will check when host is not that busy.

[2019-07-22 08:23] gaocegege commented on #1045
@soolaugust CPU is set to 10Gi? do you mean mem?

I think you should keep training jobs at low quota, then allow it OOM

[2019-07-22 08:23] gaocegege commented on #1045
Sure, let me know if there is any problem

[2019-07-22 08:28] soolaugust commented on #1045
Sorry, my mistake, it's memory limit.

it's other person's codes. and it won't start if Memory resource is not satisfy.

[2019-07-29 07:27] soolaugust commented on #1045
Hi @gaocegege

After testing with enough memory, the result is as expect. so I think the problem is just like we thought before. as we know, kubernetes doesn't schedule pod on master node by default, this maybe in case of such thing.

So this is not a tf-operator issue. I will close it. thanks @gaocegege

[2019-07-29 07:27] #1045 closed

[2019-07-29 07:48] gaocegege commented on #1045
OK, thanks

[2019-07-29 08:07] gaocegege commented on #960
I think we can close the issue now. We already have the repo for the common operator.

[2019-07-29 08:08] #960 closed

[2019-07-29 08:12] gaocegege commented on #925
I think we should not introduce kubebuilder into tfjob operator since it does not benefit us. We already implement most features using the current design.

[2019-07-29 08:15] gaocegege commented on #900
I think it cannot solve the `Split brain` problem.

[2019-07-29 08:17] gaocegege commented on #1026
@xqqcoder You can have a look at the events of the TFJob

[2019-07-29 12:51] davidstack opened #1048 "can we add PriorityClassName when we create TF-job Podgroup?"
i use kube-batch to schedule for tf-job, kube-batch support  set the priorityclass of podgroup, so we can schedule the tf-job by priority. do the tf-operator support this feture?thanks

[2019-07-29 17:51] richardsliu commented on #925
Agree.

/close

[2019-07-29 17:51] #925 closed

[2019-08-01 13:20] fabboe opened #1053 "Example on EKS: Device or resource busy"
Hi there,

I'm trying https://github.com/kubeflow/tf-operator/tree/master/examples/v1beta2/mnist_with_summaries on EKS

1. In  [tfevent-pv.yaml](https://github.com/kubeflow/tf-operator/blob/master/examples/v1beta2/mnist_with_summaries/tfevent-volume/tfevent-pv.yaml) had to switch `standard` to `gp2` for it to actually get mounted.
2. When running the TFJob with given script, I'm getting:
[code]

I

[2019-08-04 23:43] jlewi commented on #965
@richardsliu @johnugeorge What are the next steps for this issue?

[2019-08-06 11:23] zhcf opened #1056 "Invalid value: "v1beta1": must appear in spec.versions"
**Environment:**
k8s 1.14.2
kuberctl 1.14.2
ks 0.13.1
kubeflow 0.4.1
minikube 1.2

**Error**
When I apply the CRD in the example, I get the below error:
kubectl apply -f ./examples/crd/crd-v1.yaml
Warning: kubectl apply should be used on resource created by either kubectl create --save-config or kubectl apply
The CustomResourceDefinition "tfjobs.kubeflow.org" is invalid:
* spec.version: Invalid va

[2019-08-07 01:06] gaocegege commented on #1056
Hi you cannot use crd-v1.yaml for v1beta1, v1 and v1beta1 are two versions of API

[2019-08-07 03:08] wynn5a opened #1057 "remove v1beta1 in v0.5.3 cause incompatible issue when using go mod"
We use tf-operator@v0.5.0 as our dependency,
and go mod was try to get latest version of v0.5, so we got v0.5.3.
Now there is no v1beta1 anymore.

I want to know if there is anyway that I can fix this without upgrading tfjob to v1beta2 or v1.

Thanks for your help.

[2019-08-07 03:21] hmtai opened #1058 "Refactor dockerfile"
In tf-operator dockerfile:https://github.com/kubeflow/tf-operator/blob/master/build/images/tf_operator/Dockerfile
Do we need set the golang environment?
[code]

[2019-08-07 03:22] gaocegege commented on #1058
I think it is to support ppc64le

[2019-08-07 03:42] gaocegege opened #1059 "[discussion] Should We Add CleanPodPolicy PS?"
Now we have

[code]

We introduce Running policy since the PS will be running after the job is completed. But we found such a case:

There is a TFJob with 2 PS and 4 workers.

[code]

If there is one worker failed, then the other 3 workers and the 2 PS will be deleted since they are still running:

[code]

The events of the TFJob are:

[code]

I am not sure if we should keep the other 3 workers si

[2019-08-07 03:43] wynn5a commented on #1057
I made a mistake on how go module working, now I find the root cause of this issue.
Closing...

[2019-08-07 03:43] #1057 closed

[2019-08-07 07:06] hougangliu opened #1060 "tf-job-dashboard cannot work"
After install Kubeflow 0.6, tf-job-dashboard cannot work
<img width="869" alt="image" src="https://user-images.githubusercontent.com/10126721/62601830-e1d05980-b924-11e9-805c-44152fc95b3d.png">

[2019-08-07 09:34] zhcf commented on #1056
This is a bug of the example crd, conflict between   apiversion and the versions in spec.
apiVersion: apiextensions.k8s.io/v1beta1
 versions:
  - name: v1
    served: true
    storage: true
  - name: v1beta2
    served: true
    storage: false

It can work if  I use the following yaml file:
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: tfjobs.kubeflow.or

[2019-08-09 07:12] yptheangel opened #1065 "Can I create a tf-operator pod without using GO?"
I am unable to run my "TFJob pod" because I do not have a "tf-operator Pod".
I have created a CRD by using kubectl apply -f kubeflow/tf-operator/examples/crd/crd-v1.yaml

Can i create the tf-operator pod without using GO? referring to this link
https://github.com/kubeflow/tf-operator/blob/master/developer_guide.md

For reference, my TFJob yaml is https://gist.github.com/yptheangel/2bc7ce25bf94d9ff

[2019-08-09 11:07] yptheangel commented on #1065
issue solved. saw the tf-operator by using command line "kubectl -n kubeflow get pods"

[2019-08-09 11:07] #1065 closed

[2019-08-12 18:38] johnugeorge commented on #965
We should track this for next release.

[2019-08-12 19:13] #1058 closed

[2019-08-15 02:57] hougangliu opened #1066 "GenLabels may select wrong Pods"
https://github.com/kubeflow/tf-operator/pull/1064
https://github.com/kubeflow/pytorch-operator/pull/204

Above PRs change `GenLabels` to common label, and I notice that 'DeprecatedLabelPyTorchJobName' and `DeprecatedLabelTFJobName` will be dropped, so after that, GenLabels will keep same keys in tf-operator and pytorch-operator, if a user create Tfjob and Pytorchjob with same name, the two operato

[2019-08-15 03:06] gaocegege commented on #1066
Are you interested in fixing the issue? I think we could add a new label `framework` to avoid it.

[2019-08-15 03:22] hougangliu commented on #1066
yes, agree with you. what do you think add a label `controller-name: jc.Controller.ControllerName()`

[2019-08-15 03:28] gaocegege commented on #1066
SGTM. I think we can add it.

[2019-08-16 04:49] gaocegege opened #1068 "[bug] Keep tf-job-role as deprecated label in this version"
Now we keep tf-job-name as the deprecated label. Thus I think we should keep the tf-job-role as well.

[2019-08-20 14:00] andreyvelich commented on #447
@wbuchwalter @jlewi Do we have any updates on this issue?
Is it possible to monitor TFJobs in TensorBoard right now?

[2019-08-21 02:31] jlewi commented on #447
If you want to  use TensorBoard you would just launch a Deployment/Statefulset to run TensorBoard.

I think it would be great if we took the JupyterWebApp and either generalized it so we could launch other applications or else created variants of it for other application (e.g. TensorBoard).

To my knowledge noone is working on that but it would be very useful. My guess is it wouldn't be that much

[2019-08-21 03:01] richardsliu commented on #1060
@hougangliu
tf-job-dashboard is going to be deprecated.

[2019-08-21 05:18] johnugeorge commented on #1068
@gaocegege tf-job-role is used only in Katib as of now.

[2019-08-21 05:53] gaocegege commented on #1068
OK, then we can update the code in katib instead of keeping it.

[2019-08-21 05:53] #1068 closed

[2019-08-21 11:04] andreyvelich commented on #447
@jlewi I was able to run TensorBoard successful in my cluster.
Do you know, if I use this example: https://github.com/kubeflow/tf-operator/tree/master/examples/v1/mnist_with_summaries, will I see information on my TensorBoard?

[2019-08-21 14:14] andreyvelich commented on #1053
I got the same error in GCP, as well. I am using this example: https://github.com/kubeflow/tf-operator/tree/master/examples/v1/mnist_with_summaries.

[2019-08-22 14:35] andreyvelich commented on #1053
I think, I found the problem.
Here https://github.com/kubeflow/tf-operator/blob/master/examples/v1/mnist_with_summaries/tf_job_mnist.yaml#L20 we should specify subfolder under `/train` folder. For example, `"--log_dir=/train/data"`. For some reason, Tensorflow, can't create folders and write data directly in the mounted path.

Should we change it in the Mnist with summaries examples @richardsliu?

[2019-08-23 02:14] gaocegege commented on #1053
cc @richardsliu

If we cannot run it on EKS and GCP, I think we should update the training example.

[2019-08-23 02:14] gaocegege commented on #1053
/kind bug

[2019-08-25 23:15] hougangliu commented on #1060
ok close it

[2019-08-25 23:15] #1060 closed

[2019-08-29 08:13] johnugeorge commented on #1056
Can you use the latest tf operator image?

[2019-08-29 08:15] johnugeorge commented on #1053
@fabboe @andreyvelich Is it always reproducible ?

[2019-08-29 08:22] johnugeorge commented on #1059
@gaocegege Just wondering what was the reason that only 1 worker died out of 4?  Does CleanPodPolicy=None help in this case?

[2019-08-29 08:27] johnugeorge commented on #1016
@wackxu Are you planning to take this up?

[2019-08-29 08:27] johnugeorge commented on #1016
Related: https://github.com/kubeflow/tf-operator/issues/1026

[2019-08-29 08:56] gaocegege commented on #1059
If we set CleanPodPolicy to None, PS won't be deleted.

[2019-08-29 08:57] gaocegege commented on #1059
All workers may fail. But there will be only one worker fail first. Then other workers will be deleted since they are still running.

[2019-08-29 09:26] andreyvelich commented on #1053
@johnugeorge For me yes.
You can try to reproduce it on your cluster.

[2019-08-29 17:07] #1053 closed

[2019-08-30 04:37] #1035 closed

[2019-08-30 12:24] johnugeorge commented on #985
k8s upgraded to 1.12.3

[2019-08-30 12:25] johnugeorge commented on #985
Closing the issue
/close

[2019-08-30 12:25] #985 closed

[2019-08-30 12:25] johnugeorge commented on #1066
Closing the issue as #1067 is merged
/close

[2019-08-30 12:25] #1066 closed

[2019-08-30 12:34] johnugeorge commented on #965
@zionwu Is this issue still valid?  See [Scalability evaluation of operator doc](https://docs.google.com/document/d/1ZHqfhyEx39_g_da687Xl4jneYiI8TL2eZwI4Si8a29o/edit)

[2019-08-30 12:35] johnugeorge commented on #965
Related: https://github.com/kubeflow/tf-operator/issues/829

[2019-08-31 01:54] wackxu commented on #1016
@johnugeorge Sorry for the delay, Yes I will but we need a new repo for it first.

[2019-09-04 22:23] richardsliu commented on #1019
I think we can close this now since the dashboard is deprecated.

/close

[2019-09-04 22:23] #1019 closed

[2019-09-04 23:17] richardsliu commented on #1016
@johnugeorge Should we take this on for 0.7?

[2019-09-04 23:19] richardsliu commented on #622
@johnugeorge Should we fix this for v1.0?

[2019-09-04 23:20] richardsliu commented on #167
@johnugeorge Should we try to do this for v1.0?

[2019-09-04 23:34] richardsliu opened #1076 "TFJob 1.0"
## Requirements

### Configuration and deployment

Description | Category | Status | Issue
-- | -- | -- | --
Kustomize package | Required | Done |  
Application CR | Required | Done |
Images listed in kustomization.yaml | Required | Done |  
Upgradeability | Required | Done |
Separate cluster scoped and namespace scoped resources | Recommended | Done |  #1077
Kustomize package should be deployable

[2019-09-04 23:34] richardsliu commented on #1076
/cc @johnugeorge

[2019-09-05 03:01] johnugeorge commented on #1076
Request for web hook implementation for validating CR: https://github.com/kubeflow/tf-operator/issues/1016

[2019-09-05 03:23] richardsliu commented on #965
Discussed with @johnugeorge, will lower this in priority based on the scalability evaluation.

[2019-09-05 03:42] richardsliu opened #1077 "Separate cluster scoped and namespace scoped resources"
Part of #1076

[2019-09-05 03:49] johnugeorge commented on #1016
@wackxu Why do you need a separate repo for it?

[2019-09-05 03:58] gaocegege commented on #1077
Can you please add some details about the issue? Cannot get what we should do for the issue.

[2019-09-05 04:12] richardsliu commented on #1077
Our kustomize package is currently defined at https://github.com/kubeflow/manifests/tree/master/tf-training/tf-job-operator. The recommendation is to define cluster and namespace-scoped resources in different packages to allow admins to install cluster-specific resources separately.

See https://github.com/kubeflow/community/pull/285 for more context.

[2019-09-05 04:21] richardsliu commented on #1076
/cc @gaocegege

[2019-09-09 02:22] wackxu commented on #1016
@johnugeorge I think we should add webhook for all operators. If we do not put them in a single repo, then we should add webhook for each operator separately. It is not convenient for user that use multiple operator to deploy and maintain.

[2019-09-09 02:26] wackxu commented on #1016
We can use switch to control which webhook is turned on. If user only use one operator such as tf-operator, then he can only turn on the tf webhook switch. It is convenient for user to manage these operator webhook.

[2019-09-11 05:52] gaocegege opened #1078 "[bug] Cannot initialize the training job with TF Estimator when the user uses 1 worker and 0 PS"
There are some users want to use TFJob to run local training jobs with Estimator. They will have such a config:

[code]

One worker will be created with TF_CONFIG:

[code]

The estimator will [try to load TF_CONFIG from the env var](https://github.com/tensorflow/estimator/blob/ef31ca605f5565751261436058b62ebad1c06de2/tensorflow_estimator/python/estimator/run_config.py#L533).  then it will get the

[2019-09-11 05:54] gaocegege commented on #1078
Here is an example: https://github.com/tensorflow/models/tree/master/tutorials/image/cifar10_estimator

We cannot use 1 worker to run the example with tf-operator.

[2019-09-11 05:55] gaocegege commented on #1078
/cc @johnugeorge @richardsliu

I can fix it

/assign @gaocegege

[2019-09-11 07:13] johnugeorge commented on #1078
In Pytorch, it is validated to have 1 Master with 0 or more workers

[2019-09-11 07:19] gaocegege commented on #1078
@johnugeorge Will pytorch-operator set MASTER_ADDR in this master pod?

[2019-09-11 07:20] johnugeorge commented on #1078
I think so. But, it would not matter even if it does it

[2019-09-11 07:21] gaocegege commented on #1078
Gotcha. TF_CONFIG has a side effect in this case.

[2019-09-11 07:37] hykych opened #1079 "Performance problem about pod informer"
[code]

I've seen this informer in the code. Doest it have performance problem since it doesn't filter any kind of pod, when the replicas of tf-operator become larger the api-server will send the same event to each one of tf-operator which brings a lot of pressure to api-server and etcd.

[2019-09-11 07:45] gaocegege commented on #1079
Thanks for your issue. If you mean `FilteringResourceEventHandler`, it applies the provided filter to all events coming in. Thus it does not help us solve the performance issue. many controllers in Kubernetes, such as[job_controller](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/job/job_controller.go#L124), also use ResourceEventHandlerFuncs.

And we have filter logic in jc.A

[2019-09-11 07:54] hykych commented on #1079
@gaocegege so do you guys have any plan or ideas to solve this?

[2019-09-11 08:08] gaocegege commented on #1079
Benchmark is here https://github.com/kubeflow/tf-operator/issues/829

[2019-09-11 08:27] gaocegege commented on #1079
@hykych Can you give me more info about your cluster?  I think tf-operator will not be the bottleneck.

[2019-09-12 03:28] #1078 closed

[2019-09-23 08:44] hykych opened #1086 "Lack of documents for deployment"
I want to deploy a tf-operator on my cluster, but I can't find documents about it.
does anybody have tutorials about it?

[2019-09-23 09:01] gaocegege commented on #1086
@hykych Thanks for the issue. We do not have a separate doc to deploy tf-operator. Maybe you could refer to doc https://www.kubeflow.org/docs/started/getting-started/#installing-kubeflow to setup kubeflow.

[2019-09-28 21:37] #1077 closed

[2019-09-30 00:46] apatsekin commented on #975
Got the same error. The reason is that containers deployed by k8s don't have internet access at all. Run on the host system: `sudo iptables -P FORWARD ACCEPT` .

[2019-09-30 01:43] gaocegege commented on #975
@apatsekin Do you mean the pods in Kubernetes cannot communicate each other?

[2019-09-30 02:01] apatsekin commented on #975
@gaocegege nope, the topic issue is caused by the fact that the target python script is unable to download dataset from internet. When I tried to login into running container, it didn't have an internet access at all (although error above is DNS related). So the solution is `sudo iptables -P FORWARD ACCEPT` on the host.

[2019-09-30 02:11] gaocegege commented on #975
Gotcha. Thanks for the explanation.

[2019-10-10 07:03] gaocegege opened #1087 "[enhancement] Replace common with kubeflow/common"
It is better to use kubeflow/common and remove the common package in tf-operator.

/cc @johnugeorge @richardsliu @hougangliu

[2019-10-10 10:03] gaocegege commented on #953
Now TF 2.0 is released, we should have an example for it.

[2019-10-16 04:21] gaocegege commented on #1087
Will it affect other components? Not sure about it.

[2019-10-16 07:59] gaocegege commented on #1087
/assign

[2019-10-26 08:54] yuanzac opened #1090 "Java client for current version of TFjob"
There is a repo, [tfjob-java-client](https://github.com/kubeflow-incubator/tfjob-java-client), to provides the java client of TFjob. But the year of the latest update is 2018. There is no udpates for a long time. The current version of tf-operator is V1, but tfjob-java-client is for V1alpha2. As the interface has changed, tfjob-java-client can't be used directly. When I run the Example class of tf

[2019-10-28 01:35] gaocegege commented on #167
Is there anyone working on this issue?

[2019-10-28 01:35] gaocegege commented on #1090
Ref https://github.com/kubeflow/tf-operator/issues/167

It seems that we do not have bandwidth for the issue.

[2019-10-28 02:49] matthen opened #1091 "Multiple Evaluator replicas gives InvalidTFJobSpec"
If I set `replicas: 2` in the `Evaluator` spec, I get `InvalidTFJobSpec  4s    tf-operator  Failed to marshal the object to TFJob; the spec is invalid: failed to marshal the object to TFJob`.

Changing it to `replicas: 1`, the job is launched correctly without error

This is `kubeflow.org/v1beta1`

[2019-10-28 02:59] gaocegege commented on #1091
We have such a validation:

[code]

Could you give me more info about why to use 2 evaluators? Thanks

[2019-10-28 03:01] gaocegege commented on #1090
/close

dup with #167

Feel free to comment at #167

[2019-10-28 03:01] #1090 closed

[2019-10-28 03:51] matthen commented on #1091
We have an extra evaluation, which uses the exact same code except it removes one feature from the input of the model, testing robustness to that feature being missing. We also used to use multiple evaluators to test on multiple datasets.

Of course the alternative is to run these various conditions in the single evaluator, but it can sometimes be cleaner to do it with multiple evaluators. And it

[2019-10-28 04:09] gaocegege commented on #1091
@matthen Does TF support it? The cluster spec will be like:

[code]

and

[code]

I did not have experience on such a case.

[2019-10-28 04:24] matthen commented on #1091
Yes and I'm pretty sure tf operator in a previous version used to support it too

[2019-10-28 04:26] gaocegege commented on #1091
/cc @johnugeorge @richardsliu

I will have a look at the implementation of Estimator and if it works, I think we should support it.

Thanks for the issue.

[2019-10-28 04:28] #1086 closed

[2019-10-28 05:56] matthen commented on #1091
Excellent, thanks. Btw we are not using Estimator, but a custom train/eval script.

[2019-10-29 08:44] cyprnose commented on #864
I had similar problem. By default stackdriver assigns severity based on target stream (so for example: logs captured from stdout get severity "info" and ones from stderr get "error"). Python logging module's default handler sends all logs to stderr (even those with INFO level), that's why all of them has "error" severity in stackdriver.
Here is an example how to split logging between stdout and st

[2019-10-29 09:13] gaocegege commented on #864
We are not using python logging package in tf-operator, I think.

We are using "github.com/sirupsen/logrus" and its default output is STDERR. It should be easy to fix.

[code]

[2019-10-29 09:17] gaocegege commented on #864
After https://github.com/kubeflow/tf-operator/pull/1088 is merged, I can have a look.

[2019-10-29 09:18] gaocegege commented on #1048
@davidstack Are you using PodGroup v1alpha1 or v1alpha2?

[2019-10-29 09:19] #1056 closed

[2019-10-29 09:20] gaocegege commented on #1033
@ChanYiLin Are you interested in this issue?

[2019-10-29 09:22] gaocegege commented on #1016
@wackxu @johnugeorge Is there any update? I think it is an important feature.

[2019-10-29 09:22] gaocegege commented on #1026
I am closing the issue since it is stale. We can keep track of the issue in https://github.com/kubeflow/tf-operator/issues/1016

[2019-10-29 09:22] #1026 closed

[2019-10-29 09:24] gaocegege commented on #1024
Since other Jobs do not have a dashboard and we do not have bandwidth to maintain tf-dashboard, I think we can deprecate the dashboard.

[2019-10-29 09:26] gaocegege commented on #999
@cheyang

I am not sure how to implement it. Should we aggregate all status of all PS/workers into TFJob status?

[2019-10-29 09:26] gaocegege commented on #996
I am closing the issue since it is stale

[2019-10-29 09:26] #996 closed

[2019-10-29 09:27] gaocegege commented on #976
I am closing the issue since it is stale. But feel free to leave comments if you still have problems.

[2019-10-29 09:27] #976 closed

[2019-10-29 09:28] gaocegege commented on #953
Is there any update? If no one is interested in it, I will have a look.

[2019-10-29 09:31] gaocegege commented on #916
Ref https://github.com/kubeflow/common/issues/46

It is proposed in common.

[2019-10-29 09:32] gaocegege commented on #804
/close

Do not need it

[2019-10-29 09:32] #804 closed

[2019-10-29 09:34] gaocegege commented on #1091
I am not sure if it is the best practice of TF. If it is not, removing such a validation does not benefit us, I think.

[2019-10-29 09:47] gaocegege commented on #965
@johnugeorge @zionwu Is there any update? I think we should have such a condition. If you do not have time, I can help implement it.

[2019-10-29 09:58] gaocegege commented on #902
I am closing the issue since it is stale. But feel free to leave comments if you still have problems.

[2019-10-29 09:58] #902 closed

[2019-10-29 10:02] gaocegege commented on #165
Should we close the issue? We already support using kube-batch and volcano for gang scheduling.

[2019-10-29 10:13] ChanYiLin commented on #1033
Ok I can take it!

[2019-10-29 10:39] gaocegege commented on #1033
Thanks!

/assign @ChanYiLin

[2019-10-29 13:12] zionwu commented on #965
@johnugeorge The Scalability evaluation of operator doc only tested two cases: big TFJobs and large number of concurrent TFJobs ,  but it did not test the case which there is a lot of completed job.

[2019-10-29 13:14] zionwu commented on #965
@gaocegege  I have implemented it in my own environment. I can submit a PR if you guys agrees with the fix I described in previous comments.

[2019-10-30 01:33] gaocegege commented on #965
@zionwu I think we need it and the implementation LGTM. @johnugeorge WDYT

[2019-10-30 09:56] zionwu commented on #965
@gaocegege Great, I will submit a PR tmr.

[2019-10-30 10:02] gaocegege commented on #965
@zionwu
Thanks. Maybe we could request @johnugeorge 's review.

[2019-10-30 14:01] johnugeorge commented on #965
Sorry for late reply. My worry is that this is a change that will affect other operators too.  Current terminal conditions are successful and failed. I am not sure if there are assumptions made about this outside the project. So best case solution would be if we can solve this problem without adding new one. Is it really necessary?

[2019-10-30 20:49] jlewi opened #1093 "TFJob tests should use pytest"
The tests
https://github.com/kubeflow/tf-operator/blob/de4847c1d10c25aa0afef83b16f0a713b1f3016c/py/kubeflow/tf_operator/simple_tfjob_tests.py#L96

Should be updated as follows

1. Use pytest and follow the appropriate naming convention of `${WORKFLOW}/${TEST}
1. Get rid of the use of ksonnet
    * We should just create the job using YAMl and the PY client.

[2019-10-30 21:04] jlewi opened #1094 "TFJob test is failing on master and v0.7 branch for kubeflow/kubeflow"
Here's a link to a recent periodic job.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/kubeflow-periodic-master/1189568070343987210

Logs are attached

[kubeflow-periodic-master-kfctl-go-iap-v07-7210-f035-3887004707.log.txt](https://github.com/kubeflow/tf-operator/files/3791124/kubeflow-periodic-master-kfctl-go-iap-v07-7210-f035-3887004707.log.txt)

Looks like there is a timeout waiting for

[2019-10-30 22:01] johnugeorge commented on #1094
I am currently traveling and I will be unavailable till next weekend. When do you plan to have this? Can @richardsliu help here till then?

[2019-10-31 01:57] gaocegege commented on #965
I can confirm the problem locally. While I can solve it by setting reconcilePeriod to 12h or 24h.

I think it will be better if we could have a condition to avoid useless reconcile loops.

[2019-10-31 02:05] gaocegege commented on #1094
@jlewi Can it be always reproduced? I saw most failures are caused by katib-db.

[2019-10-31 03:24] zoux86 opened #1095 "c"

[2019-10-31 03:24] #1095 closed

[2019-10-31 03:40] zoux86 opened #1096 "can i install tf-operator alone without kubeflow?"
i  have a k8s cluster already. and i want to use tf-operator to run tfjob。

but when i followed the  Developer Guide （https://github.com/kubeflow/tf-operator/blob/master/developer_guide.md）, it seems i created the  example job  successfully，but no pod created.

so i want to ask is it necessary to install tf-operator with kubeflow(by ksonnet)?

[2019-10-31 04:06] gaocegege commented on #1096
No, you can install tf-operator directly. Could you show us `kubectl describe tfjobs`?

[2019-10-31 06:11] davidstack commented on #1048
v1alpha2

[2019-10-31 06:14] gaocegege commented on #1048
Then now we cannot do it since TFJob is still using v1alpha1.

[2019-11-01 18:25] jlewi commented on #1094
@gaocegege don't know we should check testgrid.

[2019-11-04 21:23] jlewi commented on #167
I don't think anyone has picked this up.
It would be good to do this for 1.0.

[2019-11-08 12:22] zoux86 commented on #1096
@gaocegege the problem was solved with running tf-operator.v1 rather than tf-operator.

[2019-11-08 12:22] #1096 closed

[2019-11-08 15:26] nrchakradhar commented on #1093
I can work on this in the next week. I will try to create a PR by end of next week(16-Nov)

[2019-11-09 02:10] gaocegege commented on #1093
@nrchakradhar  Thanks!

[2019-11-11 06:48] scott0000 opened #1099 "[Question] can't the base image "registry.access.redhat.com/ubi8/ubi:latest" in Dockerfile be replaced with "debian:buster" ?"
Hello guys, can the base image "registry.access.redhat.com/ubi8/ubi:latest" in Dockerfile be replaced with "debian:buster" ?

I did  a try and it can works. My test dockerfile is here:
[code]
It's conducive to support multiple CPU architectures using  "debian" as the base image, for "debian" officially supporting many CPU architectures.

Why we are using "registry.access.redhat.com/ubi8/ubi:latest

[2019-11-11 07:08] gaocegege commented on #1099
Ref https://github.com/kubeflow/tf-operator/pull/962

/cc @pdmack

[2019-11-11 07:15] #1087 closed

[2019-11-11 15:38] scott0000 commented on #1099
@gaocegege hello，thanks for this tips. And I get it， it’s for security to use redhat ubi. 🙂

I think the debian base image will be good for supporting other CPU archs and it's worth being taken to consideration. The component images of kubernetes like kube-api-server, kube-proxy, kube-xxx are all based on “debian:stretch”.

[2019-11-11 15:38] #1099 closed

[2019-11-12 00:54] PrincewillIroka commented on #406
I reduced both COVERAGE THRESHOLD FOR FAILURE and COVERAGE DECREASE THRESHOLD FOR FAILURE to 0.0% and Coveralls Coverage no longer fails.

[2019-11-14 13:36] vpavlin commented on #923
@llegolas Did you resolve this or just decided to drop it?

[2019-11-14 14:45] llegolas commented on #923
@vpavlin I dropped it. One of these days I have to check how is it in v0.7

[2019-11-15 11:53] nrchakradhar commented on #1093
@gaocegege Unfortunately there are some issues due to which I can no longer make contributions.  I am deleting my other comment as well. Sorry about that.

[2019-11-22 01:07] ChanYiLin commented on #1033
Hi @gaocegege here in #1093 I found we are going to have massive change in our tests
should I wait until the change is finished?

[2019-11-22 01:29] gaocegege commented on #1033
@ChanYiLin I think we can add it now since I am not sure if we have the bandwidth to migrate to pytest.

[2019-11-25 09:43] johnugeorge commented on #165
Yes. This can be solved using gang scheduling.

[2019-11-25 09:43] johnugeorge commented on #1024
Tf job dashboard is already removed from Kubeflow UI and manifests. We should delete it from tf-operator repo too.

[2019-11-25 10:57] rvesse opened #1101 "Long job names result in jobs stuck forever"
If your `TFJob` defines a `metadata.name` that is too long the operator will be unable to process the job spec because it results in over long labels and resource names being generated for various resources that the operator is trying to create (e.g. Pods and Services).

Example job spec:

[code]

Which results in a stream of errors like the following (formatted for readability) in the TensorFlow

[2019-11-25 11:01] gaocegege commented on #1101
Thanks for the issue. Do you have any suggestion to fix it?

[2019-11-25 12:06] johnugeorge commented on #1101
This validation can be added once validating webhook is implemented.
Related: https://github.com/kubeflow/tf-operator/issues/1016

[2019-11-25 12:07] johnugeorge commented on #1016
@gaocegege  This is not yet taken up

[2019-11-25 16:27] rvesse commented on #1101
@gaocegege Well what other projects do is to add code to their codebase that mutates provided names to ensure that they are valid for the resources they are creating or as @johnugeorge use validating hooks to reject names that don't meet your requirements

[2019-11-25 19:00] jlewi commented on #1094
@johnugeorge @gaocegege @richardsliu can anyone take a quick look and see if this is still happening?

[2019-11-26 02:37] gaocegege commented on #1101
Gotcha. I misunderstand your pain point. If there is a validation webhook, then it works.

[2019-11-26 09:25] rvesse commented on #1101
Sure, currently in our environment we actually control generation of job names for jobs submitted by our users so we sanitise the job name appropriately to keep within the limits

[2019-11-26 14:32] jlewi commented on #447
@andreyvelich I don't know I would expect so if its exporting a tf events file.

Closing this issue as we got rid of the dashboard.

I think the current plan is to build a separate webapp for tensorboard.

[2019-11-26 14:32] #447 closed

[2019-11-26 14:32] jlewi commented on #447
See kubeflow/kubeflow#3578

[2019-11-27 05:29] richardsliu commented on #1094
I see different errors on the periodic tests.

Master is currently failing on "deploy kubeflow":
[code]
This may be related to the deletion of ksonnet registries.

The v0.7-branch test is failling on checkout:
[code]

[2019-11-27 05:33] richardsliu commented on #1094
For the latter, the problem seems to be caused by `--depth=2` in the git clone command.

[2019-12-02 19:11] chardch commented on #999
@matthen When a gke gpu node is preempted, it is recreated. However, if the node is recreated shortly after being preempted (before the pods have been evicted ~5min), then upon node startup, the preexisting pods will still be running on the node, potentially before all system pods are finished setting up.
Thus there is a possibility for the GPU pods to be running on the node before the ndivida-dri

[2019-12-04 08:36] jinchihe commented on #167
@jlewi @gaocegege @richardsliu Totally agree. This is really import for kubeflow e2e user case, user would like to create tfjobs with Python SDK via Notebooks.
I will try to implement this. I implemented the kfserving SDK by this way (openapi -> Sawgger -> SDK). Thanks.

[2019-12-04 12:54] johnugeorge commented on #167
Can you please add it for pytorchjobs too?

[2019-12-05 01:24] jinchihe commented on #167
@johnugeorge Of couse, will add that later, thanks.

[2019-12-05 12:41] whycircle commented on #975
@gaocegege 我也尝试了这个 example（https://github.com/kubeflow/tf-operator/tree/master/examples/v1/dist-mnist）直接用的是官网给出的， pod 状态是 running，但是看了  logs，worker/ps 的 logs 是这样：
`/usr/local/lib/python2.7/dist-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type

[2019-12-05 15:06] gaocegege commented on #975
@whycircle Could you show more logs?

[2019-12-09 08:05] #167 closed

[2019-12-09 12:15] xrmzju opened #1112 "read TF_CONFIG env from configMap"
TF_CONFIG ENV was set on every pod with same content  for now, we should set the env in configmap and ref the env from the configMap instead for storage saving intention.

[2019-12-09 12:17] xrmzju commented on #1112
@gaocegege what do you think?

[2019-12-09 12:25] xrmzju commented on #1112
sry, i've made a mistake, TF_CONFIG is different in different pod. my problem is i have a tfjob  with large number of workers,  every pod stores a big TF_CONFIG env, is there any way to fix this?

[2019-12-10 01:46] gaocegege commented on #1112
From tf's perspective, we have nothing to do. Because the TF_CONFIG is required by TensorFlow.

Does the large json object have performance issues in your cluster?

[2019-12-10 01:49] gaocegege opened #1113 "[chore] Remove tfjob dashboard"
Now we do not maintain the dashboard. Thus we should remove it in the repo and in the next release.

@ChanYiLin Can you help us with this issue?

[2019-12-10 02:10] ChanYiLin commented on #1113
Ok, I can take this

[2019-12-10 02:23] gaocegege commented on #1113
/assign

@ChanYiLin

Thanks for your contribution! :tada: :+1:

[2019-12-10 02:23] gaocegege commented on #1113
/unassign

/assign @ChanYiLin

[2019-12-10 02:53] xrmzju commented on #1112
don't have performance issues for now, but i  want to reduce the risks.

[2019-12-10 03:08] gaocegege commented on #1112
Gotcha. Do not think we should use configmap in this scenario.

/close

Feel free to leave comments if you have more questions.

[2019-12-10 03:08] #1112 closed

[2019-12-16 08:23] umialpha opened #1115 "TFConfig should be demonstrated more specifically."
When I glanced at tf-operator example, I wondered how tf-operator map tensorflow-native code to tf-operator, especially the args of _worker-num, ps-num, worker-hosts, ps-hosts, etc_.

Is it done by hard coding or is there some magic? Should I keep my input args as the same as _tf_cnn_benchmarks.py_ ?

I couldn't find any clue online, so I had to dig into the source code. Finally, I found that **TF

[2019-12-16 08:44] gaocegege commented on #1115
TF Estimator will read the TF_CONFIG automatically.

[2019-12-17 05:38] nrchakradhar commented on #1115
A good write-up on how tf-operator/TfJob helps is available at
https://github.com/Azure/kubeflow-labs/tree/master/7-distributed-tensorflow
The exact examples are still using ksonnet, but the explanation of how TfJob helps is very simple to understand. Hope this helps.

[2019-12-19 08:41] umialpha commented on #1115
Thx a lot! the example is great!

[2019-12-19 08:41] #1115 closed

[2019-12-20 02:52] gaocegege commented on #953
@zabbasi Are you still working on it?

[2019-12-24 02:04] gaocegege commented on #1113
@ChanYiLin Are you still working on this issue?

[2019-12-24 02:06] ChanYiLin commented on #1113
yep I will send the PR today

[2019-12-24 02:16] gaocegege commented on #1113
Thanks for your contribution! :tada: :+1:

[2019-12-24 05:33] #1113 closed

[2019-12-24 09:55] b675987273 opened #1121 "Popgroup is not created automatically."
Maybe the api of kube-batch is out-of-date? And my tf version is "kubeflow-tf-operator-postsubmit:v0.7.0". I understand that if the podgroup is wrote into the yaml,  tf will not creat a new one. But it is the yaml file  in  example/v1/dist-mnist.

My args is:
[code]

[2019-12-24 14:42] gaocegege commented on #1121
What's the log?

[2019-12-25 02:45] b675987273 commented on #1121
[code]

[2019-12-25 02:51] gaocegege commented on #1121
Should have the RBAC permission.

[2019-12-25 03:34] b675987273 commented on #1121
Oh, thanks! I get it.

[2019-12-25 03:34] #1121 closed

[2020-01-06 20:31] jtfogarty commented on #953
/area docs
/priority p2
/kind feature

[2020-01-06 21:26] jtfogarty commented on #1091
/pirority p2

[2020-01-06 21:32] jtfogarty commented on #716
/priority p2

[2020-01-06 22:06] richardsliu commented on #953
@gaocegege I will take this up.

[2020-01-08 03:20] xiaogaozi commented on #1048
Hi, we've fixed this issue in our fork. If anyone interested in, you could try use [`redfirefly/kubeflow-tf-operator:v0.5.3-8`](https://hub.docker.com/r/redfirefly/kubeflow-tf-operator) this Docker image (build based on v0.5.3 and only `/opt/kubeflow/tf-operator.v1` binary include in).

[2020-01-08 04:02] gaocegege commented on #1048
@xiaogaozi Are you interested in contributing it back to the upstream?

[2020-01-08 05:01] xiaogaozi commented on #1048
@gaocegege I'd like to. I'll create a PR ASAP (sorry no ETA for now).

[2020-01-08 06:07] gaocegege commented on #1048
Thanks. It is not a high-priority feature from my side. Thus there is no hurry

[2020-01-08 15:49] jtfogarty commented on #864
/kind bug

[2020-01-08 15:52] jtfogarty commented on #165
/priority p2

[2020-01-08 16:04] jtfogarty commented on #980
/priority p2

[2020-01-08 16:05] jtfogarty commented on #916
/kind feature

[2020-01-08 16:06] jtfogarty commented on #757
/priority p2

[2020-01-09 03:51] #1048 closed

[2020-01-09 08:45] jinchihe opened #1129 "Support getting the training process via Python SDK"
/feature

`Kubeflow-tfjob` SDK should support getting training process/logs, so that user can watch the training process or show the training logs to debug etc...

And it's better to get created Pod of the TFJob via `Kubeflow-tfjob`, so that user can debug using Pod name.

[2020-01-09 08:45] jinchihe commented on #1129
/assign

[2020-01-09 08:54] jinchihe commented on #1129
Just talked with @gaocegege , for collect the training process:
- If TFJob has Chief, just collect the Chief logs.
- If no Chief, collect one of Worker logs.

[2020-01-09 09:05] gaocegege commented on #1129
I think we can use label to aggregate the logs and add `pod.name` as a prefix for the logs.

[2020-01-09 15:40] johnugeorge commented on #1129
we have added a label to identify the master using the same logic. This could be used to figure out the pod where to fetch logs

https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1/tensorflow/pod.go#L155

See if it works for you.

This label works also for pytorch operator.

[2020-01-09 23:23] jinchihe commented on #1129
@gaocegege @gaocegege Thanks Ce and Johnu, Will investigate and implement that.

[2020-01-10 21:09] srinjay-paul commented on #999
Has anyone found a solution/workaround? The issue persists in gke version 1.16.0 which is supposed to include the commits made in the PRs mentioned above by @chardch

[2020-01-14 08:07] #1129 closed

[2020-01-14 20:26] jtfogarty commented on #1101
/area engprod
/priority p1

[2020-01-14 20:27] jtfogarty commented on #1079
/area engprod
/priority p2

[2020-01-14 20:30] jtfogarty commented on #1030
/area engprod
/priority p2

[2020-01-14 20:31] jtfogarty commented on #1024
/area engprod
/priority p2

[2020-01-14 20:33] jtfogarty commented on #999
/area engprod
/priority p2

[2020-01-14 20:34] jtfogarty commented on #964
/area engprod
/priority p2

[2020-01-14 20:35] jtfogarty commented on #900
/area engprod
/priority p2

[2020-01-14 20:48] jtfogarty commented on #609
/area operator

[2020-02-05 17:42] jlewi opened #1131 "Surface Pod and other Errors that Prevent TFJob from starting"
See kubeflow/kubeflow#4711

We need a good way to surface errors starting or running pods to the users. Right now it looks like users would have to look at the operator logs.

Users should be able to do

[code]

to see relevant errors problems

[2020-02-06 04:04] johnugeorge commented on #1131
Good point. Will take this up in the next release

[2020-02-07 20:04] srinjay-paul commented on #999
Is there any progress regarding this issue? Without solving this issue, distributed training using kubeflow and preemptible GPU nodes is impossible. Doesn't Kubeflow claim to do both?

[2020-02-08 02:26] matthen commented on #999
+1 we have had to switch to non preemptible nodes for tfjobs to work

[2020-02-10 08:55] chansonzhang opened #1132 "How to change the log level of tf-job-operator"
**Problem:** tf-job-operator produced too many logs, and quickly filled up the disk.

I login to the tf-job-operator pod use `kubectl exec -it <tf-job-operator-xxx>`. And `/opt/kubeflow/tf-operator.v1 --help` shows that the parameter `-v` is the `log level for V logs`. But I can't found any document can tell me what the value of this parameter really mean. As we use the kubeflow version 0.7, the i

[2020-02-11 00:11] zhujl1991 commented on #965
AFAIU, the `resync` can help the cases where `informer` misses notifications. Do we have any idea why and how frequently does the miss happen? https://github.com/kubernetes/kubernetes/pull/75622 Looks like the `resync` has been removed in sset controller. Is it possible to remove it for tf operator as well?

[2020-02-24 06:26] toyow opened #1135 "tf-job-operator CrashLoopBackOff"
`{"filename":"app/server.go:75","level":"info","msg":"EnvKubeflowNamespace not set, use default namespace","time":"2020-02-24T06:12:54Z"}
{"filename":"app/server.go:79","level":"info","msg":"Using cluster scoped operator","time":"2020-02-24T06:12:54Z"}
{"filename":"app/server.go:85","level":"info","msg":"[API Version: v1 Version: v0.1.0-alpha Git SHA: Not provided. Go Version: go1.12 Go OS/Arch: l

[2020-02-24 07:35] joyme123 opened #1136 "should gpu resource be released when tfjob failed because of image pull problem?"
when tfjob failed because of image pull problem, gpu resource will not be released. it is a waste if we don't fix the image pull problem as soon as possible. this will also cause other training job can not be scheduled.

should tf-operator detect this problem and delete the failed tfjob automatically after some retries?

[2020-02-24 09:34] gaocegege commented on #1136
It is hard to do from tf-operator side since we cannot know if the error about image pull is a permanent error or not.

[2020-02-24 09:36] gaocegege commented on #1135
Thanks for the issue, I will take a look soon.

/assign

[2020-02-24 10:09] joyme123 commented on #1136
i think tf-operator can provide a timeout option for user

[2020-02-25 09:27] TaranSinghania commented on #739
Hi there, I'm interested in this issue and wanted to know if it is still viable to contribute since it's almost 2 years old. Thanks! :)

[2020-03-03 07:23] #1136 closed

[2020-03-05 08:49] pingsutw opened #1138 "Is there any case to run the different command in tfReplicaSpecs?"
Follow this [tutorial](https://www.kubeflow.org/docs/components/training/tftraining/), we need two same commands for ps, worker.
In the real world, we always set same command for ps, worker, master.
Is there any case to run the different command on Kubeflow

[2020-03-06 06:42] gaocegege commented on #1138
You can set different ps for workers/ps. But the same type replicas share the command definition.

[2020-03-09 15:47] meibenjin opened #1139 "evaluator should be set in TF_CONFIG when using Estimator distribute strategy"
Evaluator was excluded when generatingTF_CONFIG  environment  in tf-operator, see:https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1/tensorflow/tensorflow.go#L110

However,  when use Estimator with distribute strategy ，TF 1.12 will  raise an error:

[code]

similar error occured in TF 1.15:

[code]

TF code with distribute strategy （1 ps 1 chief 1 worker 1 evaluator）:

[code]

N

[2020-03-09 15:53] meibenjin commented on #1139
similar issue in tensorflow repo: https://github.com/tensorflow/tensorflow/issues/30121

[2020-03-10 17:47] terrytangyuan commented on #1139
@johnugeorge @richardsliu @gaocegege Looks like tf-operator needs to support evaluator in addition to ps and worker. An example cluster spec that has all these roles:
[code]
On evaluator node, TF_CONFIG should be similar to the following in order to tell TensorFlow to use this node for performing model evaluation:
[code]

[2020-03-11 08:01] gaocegege commented on #1132
We are using glog, and -v is supported by glog by default.

[2020-03-11 08:07] gaocegege commented on #449
/close

Closing it since we do not have dashboard now.

[2020-03-11 08:07] #449 closed

[2020-03-12 01:35] zhujl1991 opened #1141 "[Proposal] Support ClusterSpec Propagation Feature in TF 1.14"
## Goals
Since Tensorflow 1.14, TensorFlow supports [Cluster Propagation](https://github.com/tensorflow/tensorflow/commit/f28935a7d280b6ba75fe93fe35783d87b9cc2ec9) feature which "allows TensorFlow workers
to be booted independently of each other, and with no knowledge about others". This essentially allows us to add/remove workers on-the-fly. Specifically, this makes two features possible:
1. Work

[2020-03-12 02:58] gaocegege commented on #1141
LGTM. It is a helpful feature.

/cc @richardsliu @johnugeorge

[2020-03-12 19:11] zhujl1991 commented on #1141
@gaocegege The first PR is here https://github.com/kubeflow/tf-operator/pull/1142 . Looks like I'm not allowed to add you as the reviewer. Can you take a look when you get a chance? Thanks.

[2020-03-13 00:56] ChanYiLin commented on #1141
I like the feature, sounds good!

Is current dynamic worker also supported in all training mode, e.g. allreduce, parameter server or even sync/async training?

I am also interested in implementing it because my graduation thesis is exactly to implement the autoscaling and ps/worker location aware scheduling controller based on tf-operator which had a lot of limit at the time.

You can reference to

[2020-03-13 02:32] meibenjin commented on #1139
@terrytangyuan If evaluator contains TF_CONFIG cluster spec,  some changes should be made in tensorflow 1.12  when train_distribute attribute in tf.estimator.RunConfig is set to None. Otherwise other node will  wait for evaluator forever：
![image](https://user-images.githubusercontent.com/4006547/76584100-f0639c80-6515-11ea-9995-d8944b5a80fc.png)

[2020-03-13 02:36] meibenjin commented on #1139
@rbrishabh  I'm glad to  take time to fix this problem if possible.

[2020-03-13 02:46] meibenjin commented on #1139
@richardsliu @gaocegege   I'm glad to take time to fix this problem if possible.

[2020-03-13 03:21] zhujl1991 commented on #1141
Cool! I'll submit a PR, which has been done internally, implementing in a very naive way based on the 4th item in the `Implementation Details`. The PR can already meet our needs for now. I think we can work together on top of it later making the functionality more sophisticated.

[2020-03-13 08:15] johnugeorge commented on #1141
Interesting feature 👍

[2020-03-13 16:53] johnugeorge commented on #1139
LGTM

[2020-03-14 09:14] meibenjin commented on #1139
Hi，you mean the way TF_CONFIG environment  set by tf-operator  currently  is correct?

[2020-03-16 19:43] ashahab commented on #1139
@meibenjin are you working on this? We are blocked on this too and we'd like to create a patch if you haven't already(would be glad to test your patch if there's an image).

[2020-03-17 01:49] gaocegege commented on #1139
@meibenjin Welcome the PR. I think it is a problem, but one question: How about the old version TF?

[2020-03-17 02:02] meibenjin commented on #1139
I think some changes would be made in old version TF if we add evaluator in TF_CONFIG cluster (remove evaluator from TF_CONFIG cluster_spec)，In our test when train_distribute attribute in tf.estimator.RunConfig is set to None. Other nodes will wait for evaluator forever：
![image](https://user-images.githubusercontent.com/4006547/76814641-3d0ce780-6836-11ea-9ca7-4c444d54e373.png)

[2020-03-17 02:08] meibenjin commented on #1139
please see my reply to gaocegege ，We should think about the compatibility in old version TF like Tensorflow1.12。

[2020-03-17 02:18] gaocegege commented on #1139
@meibenjin Thanks for the reply. I will comment soon after a deep dive into the TF code.

[2020-03-17 02:36] gaocegege commented on #1139
@terrytangyuan We already support it if there is no DistributionStrategy. DistributionStrategy requires a validate function call to validate that the evaluator should be in cluster spec.

https://github.com/tensorflow/tensorflow/issues/30121

[2020-03-17 02:37] gaocegege commented on #1139
@terrytangyuan We already support it if there is no DistributionStrategy. DistributionStrategy requires a validate function call to validate that the evaluator should be in cluster spec.

https://github.com/tensorflow/tensorflow/issues/30121

[2020-03-17 03:14] gaocegege commented on #1139
Yeah. It is what I worry about. All the replicas will wait for the evaluator session.

I am not sure why distribute strategy needs such a validate function to keep evaluators in cluster_spec. Not sure if it is a bug or feature.

/cc @terrytangyuan Do you have any idea about it?

[2020-03-17 14:52] terrytangyuan commented on #1139
@gaocegege Not sure. It's probably due to some requirements in higher level APIs. We can bring this up in tensorflow/tensorflow#30121.

[2020-03-18 03:30] richardsliu commented on #1139
I have a PR fix here: https://github.com/kubeflow/tf-operator/pull/1146

But this will run into the issue mentioned by @meibenjin.

[2020-03-19 21:09] sarahmaddox commented on #1016
/area gsoc

[2020-04-01 05:50] chunyang-wen commented on #1139
Please have a look at this https://github.com/tensorflow/tensorflow/issues/27857#issuecomment-488924749. Master node is not officially supported. Because `master` will start an evaluator itself.

[2020-04-01 23:18] zhujl1991 commented on #1141
Closed in https://github.com/kubeflow/tf-operator/pull/1149

[2020-04-01 23:18] #1141 closed

[2020-04-02 03:46] gaocegege commented on #1016
/cc @carmark

I think we can reuse this repo to keep the webhook if needed. https://github.com/kubeflow/crd-validation

[2020-04-06 13:53] jlewi commented on #1131
You might want to check out kubeflow/kubeflow#3637 to see how this was solved in the case of notebooks. I think the approach we followed was to replay events from the pod.

[2020-04-10 03:30] ChanYiLin commented on #965
Ref [kubeflow/common#61](https://github.com/kubeflow/common/pull/61)
@zionwu @gaocegege any feedback or update on it?

currently if a job is finished (succeeded/failed) it will do following check

1. delete related pod/resources
2. cleanup tfjob based on TTL
3. delete podgroup if enable gang-scheduling
4. update replica status if is Succeeded

then it will return.
I wonder which part still introdu

[2020-04-20 11:32] 372046933 commented on #888
We recompiled TFjob-operator and changed the log level.

[2020-04-20 23:01] #1076 closed

[2020-04-21 01:11] jlewi commented on #53
@johnugeorge @richardsliu is this still relevant? Did we ever setup lint checks?

[2020-04-21 01:11] #389 closed

[2020-04-25 19:40] jlewi commented on #1016
Do we still need to create our validation webhook? It looks like Kubernetes custom resources now allow schemas to be specified using OpenAPI in which case valdiation will happen automatically.
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#specifying-a-structural-schema

Related: kubeflow/katib#1170

[2020-04-27 10:48] #114 closed

[2020-04-27 10:48] #132 closed

[2020-04-27 10:48] #108 closed

[2020-04-27 10:48] #81 closed

[2020-04-27 10:48] #35 closed

[2020-04-27 10:48] #377 closed

[2020-04-27 10:48] #385 closed

[2020-04-27 10:48] #382 closed

[2020-04-27 10:48] #415 closed

[2020-04-27 10:48] #430 closed

[2020-04-27 10:48] #438 closed

[2020-04-27 10:48] #426 closed

[2020-04-27 10:48] #394 closed

[2020-04-27 10:48] #519 closed

[2020-04-27 10:48] #540 closed

[2020-04-27 10:48] #450 closed

[2020-04-27 10:48] #590 closed

[2020-04-27 10:48] #375 closed

[2020-04-27 10:48] #448 closed

[2020-04-27 10:48] #29 closed

[2020-04-27 10:48] #427 closed

[2020-04-27 10:48] #423 closed

[2020-04-27 10:48] #30 closed

[2020-04-27 10:48] #170 closed

[2020-04-27 10:48] #597 closed

[2020-04-27 10:48] #956 closed

[2020-04-27 10:48] #921 closed

[2020-04-27 10:48] #967 closed

[2020-04-27 10:48] #722 closed

[2020-04-27 10:48] #756 closed

[2020-04-27 18:10] #888 closed

[2020-04-27 18:10] #708 closed

[2020-04-27 18:10] #810 closed

[2020-04-27 18:10] #622 closed

[2020-04-27 18:10] #1093 closed

[2020-04-27 18:10] #1094 closed

[2020-04-27 18:10] #1091 closed

[2020-04-27 18:10] #165 closed

[2020-04-27 18:10] #716 closed

[2020-04-27 18:10] #1079 closed

[2020-04-27 23:06] lalithvaka commented on #1016
This seems like a good idea. Only thing to watch for is this feature is supported only K8S Cluster version 1.16 and above!

[2020-04-28 12:42] jazzsir opened #1156 "TFjob pods hang without explanation"
I applied a TFjob including MultiWorkerMirroredStrategy example codes(https://www.tensorflow.org/tutorials/distribute/keras)
- codes
[code]
- YAML
[code]
- Dockerfile
[code]

But all pods hang after printing below logs.
[code]

And GPU memories are occupied but all states of `GPU-Util  Compute M.` is 0%.
[code]

So I checked GPU states in a jupyter notebook but I can't find any problem
[code]
[cod

[2020-04-28 12:43] johnugeorge commented on #53
yes. it is already added
https://github.com/kubeflow/tf-operator/blob/master/.travis.yml#L17

[2020-04-29 00:18] #53 closed

[2020-05-01 17:44] #1101 closed

[2020-05-01 17:44] #1024 closed

[2020-05-01 21:17] kaishah commented on #999
Quoting from https://cloud.google.com/kubernetes-engine/docs/how-to/preemptible-vms#kubernetes_constraint_violations

Node preemption shutdowns Pods ungracefully and ignores the configured Pod grace period. This means Pods shut down without notice.

According to the Pod disruption budget documentation, "The budget can only protect against voluntary evictions, not all causes of unavailability." Pre

[2020-05-02 21:47] #964 closed

[2020-05-02 21:47] #900 closed

[2020-05-04 14:52] LearnKen opened #1158 "Non-OK-status: GpuLaunchKernel(FillPhiloxRandomKernelLaunch<Distribution>, num_blocks, block_size, 0, d.stream(), gen, data, size, dist) status: Internal: out of memory"
**Question:**
1.Using GTX1050 on my host can run code, but the same codce and GPU will have an error on tf-job
```Non-OK-status: GpuLaunchKernel (FillPhiloxRandomKernelLaunch <Distribution>, num_blocks, block_size, 0, d.stream (), gen, data, size, dist) status: Internal: out of memory```
even I modify my BATCH_SIZE_PER_REPLICA = 10 it still happy

2. When the pod is running, I cannot see my output

[2020-05-05 09:18] #1158 closed

[2020-05-08 18:53] leela-uppuluri commented on #1156
@jazzsir Try to do Top command and check if your code is using CPU because I see my issue similar to yours and I could able to solve that building new docker image with inheriting tensorflow/tensorflow:1.15.2-gpu container and added my set of requirements on top of that with my python source code.
Also please make sure that you mention the attached gpus to your worker nodes on your k8s cluster in

[2020-05-09 08:04] gaocegege commented on #1156
I am not sure if it is a problem about TFJob. Looks like a problem about nvidia gpu-device-plugin or driver.

[2020-05-13 13:01] jazzsir commented on #953
@richardsliu I tested TF 2.0 & 2.1, can I take it?

[2020-05-13 22:32] panchul opened #1159 "Error while replicating mnist_with_summaries"
Hello,

I wanted to run the `examples/v1/mnist_with_summaries` code on Azure.
TFJob was created ok, but the pod stays `Pending` state. I believe there is an issue with the storage. After running .yamls in `tfevent-volume`, persistent volume is defined, but not Bound, and ultimately the worker pod never starts.

[code]

The pvc for `tfevent-volume` stays in Pending state too:

[code]

And there see

[2020-05-14 01:41] gaocegege commented on #1159
Maybe you need to have another storageclass to support ReadWriteMany PV

[2020-05-14 01:42] gaocegege commented on #953
@jazzsir Of course. Thanks for your contribution.

[2020-05-14 07:53] jazzsir commented on #953
/assign

[2020-05-17 14:31] jazzsir commented on #1156
I figured it out, two workers I ran were scheduled in a same node and the GPUs needed to be shared by them.

[2020-05-17 14:31] #1156 closed

[2020-05-18 13:11] jlewi commented on #1131
@johnugeorge How's this coming? Do you think this will land for 1.1?

[2020-05-19 01:46] gaocegege commented on #1131
/cc @ChanYiLin

[2020-05-21 13:12] ChanYiLin commented on #1131
@gaocegege @johnugeorge
I am thinking should we put this in the common library?
It seems this is a feature that every operator needs.

[2020-05-21 19:59] Jeffwan commented on #1131
This is a reasonable request. I think the engineer story is if pods come into failed status, try to filter events of pods and create CR events along with error msg from pods side. It should catch 1.1 timeline once we move all operator to common (target for 1.1 as well)

[2020-05-22 04:48] Jeffwan opened #1161 "Replace reconciler implementation with kubeflow/common JobController"
In #1144, we upgrade Kubernetes to v1.16.x and update kubeflow/common to v0.3.1 which is good.
The next step, we plan to replace reconciler implementation with kubeflow/common's JobController.

in v0.3.1, I expose `ReconcileJob`, `ReconcilePod` and `ReconcileService` methods and if TF can not use common implementation, it's fine to override the methods and customize logic.

[2020-05-22 04:51] gaocegege commented on #1161
I think it is a high-priority feature for the next release.

/priority p1

[2020-05-22 04:52] gaocegege commented on #1161
@Jeffwan

Do you have the bandwidth for this enhancement?

[2020-05-22 04:53] Jeffwan opened #1162 "Clean up vendor dependencies"
As we migrate from dep to go modules. There's no need to keep vendor redirectory.

however, In order to remove it, there're some prerequisite steps.
1. Update `update-codegen.sh` to remove reference. Use code-generator from go mod.
2. python-sdk generation needs to be vendor independent. Similarly, we should use `kube-openapi` in go pkg.
3. Remove any vendor dependency in .travis.yaml or Dockerfil

[2020-05-22 04:54] Jeffwan commented on #1162
I did similar work for PyTorch and MXNet and I will take this one.

[2020-05-22 04:56] Jeffwan commented on #1161
Yeah. I can definitely help on that. @ChanYiLin Said he is interested in it. I will check with him and see if he's comfortable to make the change.

[2020-05-22 04:57] gaocegege commented on #1162
Since we cannot remove it from the .git history to reduce the repo size, can we just keep it?

[2020-05-22 04:57] gaocegege commented on #1161
Thanks

/assign @Jeffwan @ChanYiLin

[2020-05-22 05:16] Jeffwan opened #1163 "Cut release for tf-operator project"
Seems the latest tag for tf-operator is v0.5.3. There's a v1.0.0 pre-release.
Trying to discuss if the release procedure. Do you want to keep sync with kubeflow release? like v1.1.0 or it doesn't have to follow the pattern? (Currently, every 3 - 4 months, Kubeflow will have a major release.)

To better manage releases, there're two patterns
1. Cut branch, cut release against branch, bug fixes shou

[2020-05-22 05:16] Jeffwan commented on #1163
I will help cut v1.0.0 and probably v1.0.x releases based on changes from last June to now.. #1161 will brings breaking changes (API, implementation and batch scheduler), we will cut v1.1.0 release later.

[2020-05-23 10:40] #609 closed

[2020-05-24 01:33] #953 closed

[2020-05-26 13:49] terrytangyuan commented on #1161
Any concrete plan on this yet? @Jeffwan @ChanYiLin

[2020-05-26 14:43] ChanYiLin commented on #1161
I will start working on it this week, it might take 1~2 weeks
and maybe @Jeffwan can help me to check it functions well the end of next week?

[2020-05-27 22:34] Jeffwan commented on #1161
@ChanYiLin Sounds good. Feel free to pin me for any help.

[2020-05-31 11:15] #1135 closed

[2020-06-01 15:04] pingsutw opened #1166 "swagger-codegen-cli-2.4.6.jar not found"
https://github.com/kubeflow/tf-operator/blob/24798375fead22bb1a78f3039565ccf5a9fae017/hack/python-sdk/gen-sdk.sh#L21

This link not work.
Maybe we could use this [link](https://repo1.maven.org/maven2/io/swagger/swagger-codegen-cli/2.4.6/) instead.

[2020-06-02 11:13] ljainker opened #1167 "tf-job-operator pod restarts"
The tf-job-operator pod restarts.

**Logs of the previous instance of the tf-job-operator,**

`{"filename":"app/server.go:76","level":"info","msg":"EnvKubeflowNamespace not set, use default namespace","time":"2020-06-02T07:42:44Z"}
{"filename":"app/server.go:80","level":"info","msg":"Using cluster scoped operator","time":"2020-06-02T07:42:44Z"}
{"filename":"app/server.go:86","level":"info","msg":"

[2020-06-03 01:32] fulei-9 commented on #1167
I have the same issues, tf opertor installed by kfctl, kubeflow version 0.71 and 1.0 also have the same issues

[2020-06-04 16:47] pingsutw commented on #1138
@gaocegege Yap, I know I could set different cmd for workers/ps. But I found that all distributed training examples always use the same cmd.
I just curious about what scenario will use different cmd.

[2020-06-05 01:22] gaocegege commented on #1138
For example, if you do not want to use GPU for PS, you can use --cpu for PS and --gpu for worker. It depends on your implementation.

[2020-06-05 12:52] pingsutw commented on #1138
got it, thanks.

[2020-06-05 12:52] #1138 closed

[2020-06-05 17:12] johnugeorge commented on #1167
@fulei-9 @ljainker Are you consistently seeing it?

/cc @gaocegege

[2020-06-06 00:51] gaocegege commented on #1167
I will have a look.

[2020-06-06 01:04] gaocegege commented on #1167
Maybe you could have a look at https://github.com/kubedb/project/issues/581#issuecomment-629592937

The problem is

[code]

Your lease cannot be renewed, I think it may be related to network.

[2020-06-06 12:44] LearnKen opened #1168 "NCCL WARN Failed to open libibverbs.so[.1]"
I use the official example https://github.com/kubeflow/tf-operator/tree/master/examples/v1/distribution_strategy/keras-API

1.POD is  working but use only one GPU
and the second failed is
2. `eval_fn` is not passed in. The `worker_fn` will be used if an "evaluator" task exists in the cluster
`eval_fn` is not passed in. The `worker_fn` will be used if an "evaluator" task exists in the cluster
####

[2020-06-07 00:46] gaocegege commented on #1168
are you using nvidia-runtime?

[2020-06-07 00:47] gaocegege commented on #1168
IB is not tested with tf-operator. Maybe you should use ethernet

[2020-06-07 04:20] LearnKen commented on #1168
Yes  I using nvidia-container-runtime=2.0.0+docker18.09.7-3
Sorry, where show IB is not tested with tf-operator
My Kubernetes is built locally
What should I set to use the Internet?

[2020-06-07 08:22] gaocegege commented on #1168
Can you show us the code?

[2020-06-07 08:43] LearnKen commented on #1168
office code
[code]

[2020-06-07 09:14] gaocegege commented on #1168
I think it may be caused by
[code]

[2020-06-07 13:11] LearnKen commented on #1168
My nvidia GPU should be able to use NCCL, I don't know why this is not working
I clean that
[code]
and it same situation

[2020-06-08 01:31] gaocegege commented on #1168
Try to use RING and show the new log, thanks.

[2020-06-08 05:34] LearnKen commented on #1168
code
[code]
Pod logs
[code]

[2020-06-08 06:29] gaocegege commented on #1168
OK, will dive into it. But seems that it does not affect the training process, right?

[2020-06-08 06:39] LearnKen commented on #1168
It still S NCCL WARN Failed to open libibverbs.so[.1]
[code]
yes

[2020-06-08 07:38] LearnKen commented on #1168
This is offical docker file
[code]
May I ack  did tensorflow/tensorflow:2.1.0-gpu-py3 have NCCL ?
Why I can not use NCCL ?

[2020-06-08 08:12] fulei-9 commented on #1167
I0607 18:54:56.730451       1 leaderelection.go:231] failed to renew lease default/pytorch-operator: failed to tryAcquireOrRenew context deadline exceeded
{"filename":"app/server.go:168","level":"fatal","msg":"leader election lost","time":"2020-06-07T18:54:56Z"}

[2020-06-08 08:12] gaocegege commented on #1168
not sure if you can use NCCL or not. Just to avoid problems about it.

[2020-06-08 08:14] fulei-9 commented on #1167
the operator can work,but pod always restart

[2020-06-08 08:27] ljainker commented on #1167
Hi @johnugeorge

Even I am facing the same issue, the pod gets restarted with the below error

I0608 07:26:53.478306       1 leaderelection.go:231] failed to renew lease default/tf-operator: failed to tryAcquireOrRenew context deadline exceeded
{"filename":"app/server.go:179","level":"fatal","msg":"leader election lost","time":"2020-06-08T07:26:53Z"}

[2020-06-08 08:27] gaocegege commented on #1167
I think it is caused by the network. Where are you running Kubeflow?

[2020-06-08 09:20] ljainker commented on #1167
Hi @gaocegege,

I am running Kubeflow on Kubernetes cluster.

**Kubernetes version:**

Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.4", GitCommit:"8d8aa39598534325ad77120c120a22b3a990b5ea", GitTreeState:"clean", BuildDate:"2020-03-12T21:03:42Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.1

[2020-06-08 09:23] gaocegege commented on #1167
Yeah I know. I was asking the situation of the kubernetes cluster. Is it running locally in your laptop or in a data center or in a public cloud?

[2020-06-08 09:24] fulei-9 commented on #1167
my cluster in data center

[2020-06-08 09:36] ljainker commented on #1167
Mine is on-premise, installed on Openstack platform

[2020-06-08 10:01] ljainker commented on #1167
Hi @gaocegege ,

As mentioned in https://github.com/SeldonIO/seldon-core/issues/1910, this issue is caused by network issues similar to what is mentioned in https://github.com/kubernetes/kubernetes/issues/74340.
We are checking with our internal who can support us with network issue.

Thank you very much for the support :)

I will now be closing this ticket.

[2020-06-08 10:01] #1167 closed

[2020-06-08 12:37] LearnKen commented on #1168
It traing but it still one gpu using
Why...

[2020-06-08 12:59] gaocegege commented on #1167
If you have any progress or problem ,do not hesitate to post here. Thanks for your issue.

[2020-06-08 13:26] LearnKen opened #1169 "Multi-worker training with Keras only use one GPU"
#### System information
[code]

**Describe the current behavior**
I use  Multi-worker training with Keras but it only use one Gpu
Error:
1.error: Internal: Complete shape not known for Adam/allreduce/CollectiveReduce_2
2.`eval_fn` is not passed in. The `worker_fn` will be used if an "evaluator" task exists in the cluster
3.Most import it only run one gpu
I run the code described below:

TEST 1: (3

[2020-06-09 14:57] #1168 closed

[2020-06-10 01:47] gaocegege commented on #1168
Hi, did you solve the problem?

[2020-06-11 08:35] gaocegege opened #1170 "[feature] Support failurePolicy like successPolicy"
We should support custom failPolicy like successPolicy.

For example, when there is one master, 4 workers. When 4 workers are failed and 1 master is running, it is hard to say that the job is failed.

Thus we need to have a way to let users tell us when we should think the job is failed.

/cc @ChanYiLin

[2020-06-11 10:34] terrytangyuan commented on #1170
Maybe failurePolicy?

[2020-06-11 10:37] gaocegege commented on #1170
SGTM

[2020-06-11 11:20] ChanYiLin commented on #1170
also SGTM

[2020-06-11 22:03] Jeffwan commented on #1162
@gaocegege I don't quite understand that. Do you mean the repo size won't drop after vendor clean up?

[2020-06-12 00:41] terrytangyuan commented on #1162
@gaocegege Well, technically it's possible to remove it from the history as well through [git-filter-branch](https://git-scm.com/docs/git-filter-branch) but can be dangerous. Unless there's strong reason to do that, e.g. accidentally pushed large files, we should refrain from doing so.

We can probably keep it around if really needed. Though one can always just use generate it on his own.

[2020-06-12 01:28] gaocegege commented on #1162
As you all know, vendor downloading in the Chinese mainland is sometimes affected for some unknown reasons. Thus prefer to keep it to make it easy for new contributors in China.

[2020-06-12 01:41] terrytangyuan commented on #1162
@gaocegege Good point. Is there any good/reliable workaround for that?

[2020-06-12 01:46] gaocegege commented on #1162
From our experience, we keep the vendor in git repository and check if it is updated in CI.

[2020-06-13 12:31] #1169 closed

[2020-06-15 02:15] gaocegege commented on #1166
/cc @jinchihe

[2020-06-15 02:40] jinchihe commented on #1166
/assign

The package is changed, I going to update that. Thanks @pingsutw and @gaocegege

[2020-06-15 03:17] #1166 closed

[2020-06-15 05:53] pingsutw commented on #1170
/assign

[2020-06-15 17:49] jlewi commented on #1131
@gaocegege @johnugeorge @Jeffwan Is this on track for 1.1? What is the likelihood it lands this week? If not should we downgrade it to P2 and remove from KF 1.1?

[2020-06-16 01:39] gaocegege commented on #1131
Personally, I think it is not on track. @Jeffwan

[2020-06-16 09:33] lvcaiping opened #1173 "can tf-operator used in distribute scene, such as Multi-node"

[2020-06-16 11:05] #1132 closed

[2020-06-16 18:17] pingsutw commented on #1173
@lvcaiping sure, just use the multi-worker strategy in TF script,
TF-operator will help you handle `TF_CONFIG`

[2020-06-16 18:23] pingsutw opened #1174 "Could not introduce k8s.io/kube-openapi@master"
How to reproduce?
[code]
Error message
[code]
I've done with https://github.com/kubeflow/tf-operator/issues/1170, but I can't generate `openapi_generated.go `

[code]

[2020-06-17 01:38] gaocegege commented on #1174
Maybe we can use go mod instead soon. Maybe after #1171

[2020-06-17 13:13] ChanYiLin commented on #1174
@pingsutw
We have already migrated to go mod, you can refer to this PR https://github.com/kubeflow/tf-operator/pull/1144.
So instead of using `dep ensure`, you have to use `go mod download` to download the dependencies.

@gaocegege I think we have to update the developer_guide.md to reflect the change

[2020-06-17 13:21] pingsutw commented on #1174
@ChanYiLin Thanks, I will update my PR ASAP.

[2020-06-17 15:30] ChanYiLin commented on #1174
BTW, for the openapi_generated, you have to install openapi-gen (from https://github.com/kubernetes/kube-openapi) first like `defaulter-gen` in your `{GO_PATH}/bin`

[2020-07-03 11:29] yashjakhotiya opened #1180 "[feature] python sdk should report errors in created TFJobs"
In case of errors in training code `tfjob_client.wait_for_job` shows `Running` and exits after some time. Instead of looking at Error Reporting from Google Cloud Dashboard, the python sdk should report them

[2020-07-08 02:23] #1139 closed

[2020-07-08 07:00] Everret-moon opened #1181 "How to create a python sdk for mxnet-operator"
Platform informations:

kubernetes: `v1.14.4`
Kubernetes-python-client: `10.0.1`
OS: `Centos 7.6`

I want to create a kubeflow job such TFJob and MXJob via python ,  the former has the corresponding python sdk, but the later
has not.

I can create the mxnet-job with `kubectl create -f mxjob_dist_gpu_v1.yaml`,

I tried to archieve this goal by calling the api `client.CustomApi().create_namespaced_c

[2020-07-08 07:06] gaocegege commented on #1181
Does TFJob pythobn sdk work when you create TFJob?

[2020-07-08 07:15] Everret-moon commented on #1181
Yes, the python sdks both works for TFJob and PyTorchJob. This really confused me!

[2020-07-08 07:34] gaocegege commented on #1181
Thus your question is that Kubernetes SDK does not support MXNet?

[2020-07-08 07:43] Everret-moon commented on #1181
I am not sure about that but I doubt it

[2020-07-08 07:46] gaocegege commented on #1181
You can illustrate your problem here in Chinese, I can translate for you. I am not sure if we are on the same page.

[2020-07-08 08:02] Everret-moon commented on #1181
It may be my problem. I have set `JOB_PLURAL` to `mxnetjobs` for MXJob.
I will try it again.

[2020-07-08 08:18] Everret-moon commented on #1181
@gaocegege  I am sorry,It's all my fault. I have fix the problem via change the value of `JOB_PRLURAL`.

[2020-07-08 08:18] #1181 closed

[2020-07-10 20:14] yashjakhotiya opened #1182 "[bug] [Python SDK] tfjob_client.get_logs broken"
The error is
[code]

Even when running `kubectl logs <job-name>-worker-0` a container parameter needs to be passed (`-c tensorflow`). Not passing the container parameter, returns the same error.

[2020-07-10 20:18] yashjakhotiya opened #1183 "[bug] With Python SDK, TFJob won't stop running"
A TFJob would not stop running even after the training code exits.

`tfjob_client.get_job_status` returns 'Running'.
`tfjob_client.wait_for_job` timeouts
With, `tfjob_client.get_logs` broken(#1182), running `kubectl -n ${NAMESPACE} logs ${JOB_NAME}-worker-0 -c tensorflow` gives training logs, from which it can be understood that training is over. But the job does not stop.

Running `tfjob_client.i

[2020-07-11 01:38] gaocegege commented on #1182
/assign @jinchihe

[2020-07-11 07:45] yashjakhotiya commented on #1183
/assign @jinchihe

[2020-07-11 14:12] yashjakhotiya commented on #1180
/assign @jinchihe

[2020-07-13 01:48] jinchihe commented on #1180
@yashjakhotiya Thanks. Would you think user should get the error from logs if training has error? if so the SDK has a api `get_logs`
see more https://github.com/kubeflow/tf-operator/blob/master/sdk/python/docs/TFJobClient.md#get_logs

[2020-07-13 01:54] jinchihe commented on #1182
Yeah, seems that's a bug if there is one more `istio-proxy` container, I'm going to fix that, and release new one.

Thanks @yanniszark to report that.

[2020-07-13 01:57] jinchihe commented on #1183
is that caused by `timeout`? if timeout (default or use set), the `wait_for_job ` api will exits and do not update anymore. Thanks.

[2020-07-13 08:38] yashjakhotiya commented on #1183
Tested this even after increasing timeout, much larger than what is required by training code. The training code finishes (can be understood by looking into logs at `kubectl -n ${NAMESPACE} logs ${JOB_NAME}-worker-0 -c tensorflow`), but the Job keeps running.

[2020-07-13 08:43] yashjakhotiya commented on #1180
Turned out that there have been a couple of bugs - 1. with `get_logs` and 2. the tfjob keeps running even if there has been no error and training code exits normally. If both of these get fixed, I don't think we need `wait_for_job` to explicitly report errors.

[2020-07-13 09:40] jinchihe commented on #1183
@yashjakhotiya Thanks the deep checking. how about the status by `kubectl get tfjob ${JOB_NAME} -n ${NAMESPACE}`. I think the Python API should be consistent with backend CLI output, otherwise that's bug.

[2020-07-16 10:49] Mesilenceki commented on #1139
hey, do you guys have a clear solution? I still came out with this problem.

[2020-07-17 07:37] #965 closed

[2020-07-24 12:43] yashjakhotiya commented on #1183
Turned off istio for TFJob pods with
[code]

The TFJob stopped as expected. Turns out the istio sidecar running has caused problems for this as well as the logs issue (#1182). Closing this issue now.

[2020-07-24 12:43] #1183 closed

[2020-07-24 12:44] yashjakhotiya commented on #1182
Turned off istio with
[code]

Everything worked as expected. The istio sidecar container caused problems. Closing the issue now.

[2020-07-24 12:44] #1182 closed

[2020-07-24 12:46] yashjakhotiya commented on #1180
Got `get_logs` to work by turning off istio in PodTemplateSpec
[code]
This was the same reason why TFJob won't stop running. Now that we have solved them both, we don't need `wait_for_job` to explicitly report errors. Closing the issue now.

[2020-07-24 12:46] #1180 closed

[2020-07-26 02:51] #864 closed

[2020-07-29 07:13] ID56 opened #1184 "TFJob cannot utilize GPUs in the node."
I have an Azure (AKS) cluster of the following configuration:
* 4x Standard_DS2_V2 nodes
* 8x Standard_NC6 nodes

Each NC6 node is backed by a single K80 GPU.

The image I used was the tf1 image built from the [Tensorflow Object Detection API](https://github.com/tensorflow/models/tree/master/research/object_detection/dockerfiles/tf1) docker.

I tried running a TFJob with the configuration:
* Maste

[2020-07-29 07:58] gaocegege commented on #1184
GPU memory is not enough for your training job.

[2020-07-29 08:48] ID56 commented on #1184
But the training job works and finishes successfully when I reduce the number of GPUs. What is the reason behind this?

[2020-07-29 08:53] gaocegege commented on #1184
I think it is not caused by TFJob, it may be related to TensorFlow. Can you monitor the GPU and see when it OOMs?

[2020-07-29 08:54] gaocegege commented on #1184
BTW, are you increasing the batch size when you use more replicas?

[2020-07-29 09:24] ID56 commented on #1184
Yeah it is also likely that this is caused by TensorFlow. I'll try monitoring the GPU, this is a good idea. And the batch sizes are kept to the minimum, which is 1.

[2020-07-29 09:56] gaocegege commented on #1184
Then it is weird. Please keep sync here if there is progress.

[2020-07-29 10:10] ID56 commented on #1184
Will do!

[2020-08-01 03:33] jazzsir commented on #1173
@lvcaiping I hope my example is helpful to you. https://github.com/kubeflow/tf-operator/tree/master/examples/v1/distribution_strategy/keras-API

[2020-08-10 08:19] zionwu commented on #902
I have the same issue when using tf-operator v0.3.0.
I looked into the code and found it is because tf-operator is using v1.9 for `k8s.io/api` and shareProcessNamespace is not yet supported at this release:  https://github.com/kubeflow/tf-operator/blob/v0.3.0/vendor/k8s.io/api/core/v1/types.go#L2716

[2020-08-11 03:25] gaocegege commented on #1184
Did you fix the issue?

[2020-08-15 16:46] ID56 commented on #1184
I haven't solved it yet. My team has gotten in touch with technical support from Azure, and they're looking into this at the moment. But I will close the issue here, since it seems probable that this is being caused by the inner workings of the OD API iteself, rather than any component in TFJob or Kubeflow. Thank you for all the responses thus far!

[2020-08-15 16:46] #1184 closed

[2020-08-19 07:11] #1159 closed

[2020-08-19 09:07] gaocegege commented on #1131
/cc @whalecold

[2020-08-20 01:47] whalecold commented on #1131
/assign

[2020-08-25 07:20] zionwu opened #1186 "Pod get re-created after it exited and get garbage collected"
We are using tf-operator in a large k8s cluster and thousands of TF jobs will be running every day.  Completed jobs (TFJob CRD) will be kept for 15 days. Recently, we found that  after the job completed, occasionally its worker get re-created and the job will re-run.

We investigated it and found out the root cause:
1. tf-operator is using the pod's status to change the TFJob‘s status to `Failed`

[2020-08-27 00:56] terrytangyuan commented on #1161
@ChanYiLin Should we close this now?

[2020-08-27 01:51] gaocegege commented on #1161
I think we can /cc @ChanYiLin

[2020-08-27 01:57] ChanYiLin commented on #1161
Yes, we can close this now.
This issue has been resolved here #1171

[2020-08-27 01:57] #1161 closed

[2020-08-27 08:38] whalecold commented on #1131
The pod error event has be recorded in the [common repo](https://github.com/kubeflow/common/blob/f77924701cb5d8a2d6b7f49f7afaec3c6271782a/pkg/controller.v1/control/pod_control.go#L150) and I can find the pod error event in my kubernetes cluster. It seems that he didn't use `kubectl describe` to track the unexpected condition in the [issue](https://github.com/kubeflow/kubeflow/issues/4711). What do

[2020-08-27 09:19] gaocegege commented on #1131
Sometimes the pod is created successfully, but it is failed to schedule.

[2020-08-27 10:04] whalecold commented on #1131
OK, I have two ideas, One is using the active pod status which is False like [spark operator](https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/c19d2b8660d80ce561be28d76046ed60393a83d9/pkg/controller/sparkapplication/controller.go#L338). Another is collecting the events which were generated by the abnormal pods.
I think the first is better because of the second solution need stores

[2020-08-27 10:06] gaocegege commented on #1131
The first SGTM. I think it works for tf-operator and easy to implement.

[2020-08-27 12:21] whalecold commented on #1131
Done, PTAL

[2020-08-28 05:43] Jeffwan commented on #1186
Em.  Thanks for reporting this issue. this might be a little bit tricky.

Do you have an estimate on this? Usually how long the pods will be GCed right before job is reconciled?

For some of the case, this is desired, otherwise, any interruption to the pod results in losing pod forever.

[2020-08-28 09:59] ChanYiLin commented on #1186
I am interested in your use case.
So tf-operator decide whether the job is **Failed** or **Success** based on `worker0Completed`, `chiefCompleted` or even `allWorkerComplete`.
We assume when the worker0 or Chief completed and exits with 0, the pod will be there for a while so we can check the exit code to make sure it exists with 0 to say the job succeed
In your case, it seems like the pod will be

[2020-08-28 22:28] Jeffwan commented on #1163
/reopen

[2020-08-30 22:38] #739 closed

[2020-08-30 22:38] #1033 closed

[2020-09-03 09:00] zionwu commented on #1186
It depends, we observed pods in some hosts get GCed very soon, about less than 60s.

[2020-09-03 09:06] zionwu commented on #1186
We care the exit code. We will use the conditions to show the status of TFJob.
Currently, if the pod is missing  we will just mark the job succeed. We will check the collected log of the pods to find out if it succeeds or fail.

[2020-09-09 07:13] gaocegege opened #1188 "[feature] Support SuccessPolicy/FailurePolicy Based on % of Succeeded/Failed Workers"
We now support allworkers in success/failure policy. Users want to make the Job succeeded/failed based on the percentage of the succeeded/failed workers. I think we can support it in the operator side.

/cc @DeliangFan @terrytangyuan @ChanYiLin

[2020-09-09 07:19] gaocegege commented on #1188
/priority p1

[2020-09-09 07:42] gaocegege commented on #1188
We think a Job failed when:

- Chief fails (it reaches backofflimit) or
- Any PS fails (it reaches backofflimit) or
- percentage of workers (they all reach backofflimit) fail

[2020-09-12 20:23] shaowei-su opened #1189 "Having trouble viewing logs using Kubernetes dashboard"
See the screenshot below:
<img width="1362" alt="Screen Shot 2020-09-12 at 13 20 34" src="https://user-images.githubusercontent.com/7682657/93004336-d291e700-f4fa-11ea-9dcf-cc25c1fce13e.png">

worker pods' logs are not retrievable when the training dataset is large. Is this a know issue?
Kubernetes versions:
[code]

[2020-09-13 19:29] terrytangyuan commented on #1170
/lifecycle freeze

[2020-09-16 23:00] #1189 closed

[2020-09-26 03:26] #1174 closed

[2020-09-28 03:03] ChanYiLin commented on #1174
/close

[2020-09-30 13:44] matthen commented on #999
Are there any fixes for this, or can we not use kubeflow with preemptible GPUs? @jtfogarty @jbottum @jlewi

[2020-10-07 03:08] ChanYiLin commented on #999
I think I have fixed this issue while refactoring the whole project
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1/tensorflow/status.go#L170

@gaocegege @Jeffwan is there a way to allow people to use latest tf-operator image?

[2020-10-07 04:33] matthen commented on #999
(I ended up switching to regular k8s services + jobs, and adding logic in the workers + parameter servers themselves to make sure they exit successfully at the end of training)

[2020-10-08 17:55] Jeffwan commented on #1162
I agree on `git-filter-branch `, I think we consider to remove vendor in master, won't wipe git history.  If we plan to do so, we need to be careful to only modify commits with `vendor/` folder changes.

For China region, is there's a reliable GOPROXY people can use to speed up downloading?

[2020-10-08 18:16] Jeffwan commented on #999
@ChanYiLin Release infra and test-infra are blocked currently. We have to wait for a while or do manual release.

[2020-10-09 05:17] gaocegege commented on #1131
I think we can update the vendor to use the latest common.

[2020-10-09 05:18] gaocegege commented on #1173
I am going to close the issue, feel free to ask here if there is any new question.

[2020-10-09 05:18] #1173 closed

[2020-10-09 05:25] gaocegege commented on #1186
I am wondering why the job is running when the pod is completed. is it caused by frequent gc?

I think the job should be succeeded if the pod is completed.

[2020-10-12 06:25] whalecold commented on #1131
As the tag  [v0.3.1](https://github.com/kubeflow/tf-operator/blob/5e95a9b1d0eb70fb388face81e16ed108d5443fb/go.mod#L10) is not latest,  we should release a new tag first.

[2020-10-16 21:24] shaowei-su opened #1191 "TFJob completion with active services/endpoints resources"
Upon job completion, by settings `cleanPodPolicy` properly, workers pods are properly terminated. However, services/endpoints are not cleaned up by the controller, e.g.
<img width="747" alt="Screen Shot 2020-10-16 at 09 40 35" src="https://user-images.githubusercontent.com/7682657/96309715-b4684c80-0fba-11eb-9c49-ef0df927eb5b.png">

Is this by design to keep those services around?

[2020-10-16 23:45] shaowei-su commented on #1191
After some digging up: it seems that Pod with completed / failed status won't be deleted in the current implementation:
https://github.com/kubeflow/common/blob/master/pkg/controller.v1/common/job.go#L37
since pod and service deletion are tied together.

[2020-10-17 00:08] #1191 closed

[2020-10-19 07:27] DeliangFan opened #1192 "tf-operator panic without worker role"
How to produce?

Create a tfjob with only chief role.

yaml
[code]
panic stack:
[code]

[2020-10-19 07:43] #1192 closed

[2020-10-19 07:45] DeliangFan commented on #1192
it seems fixed in v2

[2020-10-22 21:12] Jeffwan opened #1193 "Move presubmit jobs to AWS CI"
Community is asking different WG to own their infra and community won't provide a common shared testing infra anymore.   Sees https://github.com/kubeflow/testing/issues/752 for more details.

Pytorch migration works well and here's the PR to update test case to work on AWS Prow+ Argo cluster.
https://github.com/kubeflow/pytorch-operator/pull/305

Current presubmits blocks PR merge if user make any

[2020-10-23 03:05] ChanYiLin commented on #1193
Sounds good to me!
If there is anything I can help, you can just assign the issue to me :)

[2020-10-23 06:52] Jeffwan commented on #1193
Hi @ChanYiLin

If you have time to help on this issue, that would be great. I can help you onboard testing infra.
The goal is to rewrite Presubmit workflow https://github.com/kubeflow/tf-operator/blob/master/test/workflows/components/workflows.libsonnet to work on AWS.

1. setup_cluster or tear_down cluster. You can remove all GCP settings and use following scripts instead, scripts has been build

[2020-10-23 16:12] PatrickXYS commented on #1193
@PatrickXYS Can you help create this repo?

This is done

[2020-11-01 02:47] #1016 closed

[2020-12-02 20:01] amitbhadra opened #1194 "Kubeflow TFlow Python API returns error for the example code"
I'm trying to run the simple example mentioned in the docs at [Kubeflow-tfoperator/py/docs](https://github.com/kubeflow/tf-operator/blob/master/sdk/python/docs/TFJobClient.md) with a slight modification --

`namespace = utils.get_default_target_namespace()
`

I'm running Docker Desktop on Mac OS Catalina with Kubernetes enabled.
Now, when I run the code against the Kubernetes python package 12.0.1

[2020-12-04 02:11] gaocegege commented on #1194
Sorry for the late reply.

Which version of tfjob are you using?

[2020-12-04 03:24] Crisescode commented on #1194
and i has the same problem, i use the latest kubeflow-tfjob sdk and the kubernetes-client version is 12.0.1

[2020-12-04 03:25] Crisescode commented on #1194
the some issue log:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/root/.pyenv/versions/py3_tfop/lib/python3.6/site-packages/kubeflow/tfjob/api/tf_job_client.py", line 69, in create
    tfjob)
  File "/root/.pyenv/versions/py3_tfop/lib/python3.6/site-packages/kubernetes/client/api/custom_objects_api.py", line 225, in create_namespaced_custom_object
  File "/root

[2020-12-04 07:32] Crisescode commented on #1194
i found the same issue in https://github.com/kubernetes-client/python/issues/1290, and i think it is necessary to replace Swagger Codegen with openAPI Generator to generate python SDK?

[2020-12-05 00:56] gaocegege commented on #1194
Thanks for your reply!

We are using Kubernetes python client as a dependency. Maybe we need to try to upgrade the version of the dependency.

[2020-12-05 22:16] amitbhadra commented on #1194
Which version of kubeflow-tfjob are you using? -- `0.1.3`

Hi @gaocegege @Crisescode In the official Kubeflow python docs, I've read that they recommend using Kubernetes 10.x because they are aware of the error` 'V1TFJob' object has no attribute 'openapi_types'.`

But the issue is after using Kubernetes 10.x, I get the error --
[code]

[2020-12-06 05:35] #1163 closed

[2020-12-07 01:56] gaocegege commented on #1194
I think it is related to the Kubernetes Python client SDK version we are using. Seems that it has some compatibility issues. BTW, can you please explain how you are using the python sdk to submit jobs? We are trying to understand the use case here :-)

[2020-12-07 02:20] amitbhadra commented on #1194
I have some other scripts which I will execute once I am able to run the example given. The example I'm trying to execute is the one mentioned at https://github.com/kubeflow/tf-operator/blob/master/sdk/python/docs/TFJobClient.md for the "create(tfjob)".

[2020-12-11 06:37] oikomi opened #1195 "How to install it without kubeflow"
hi all

kubeflow contains many components , but we just want  tf-operator, so how to install  tf-operator without kubeflow?

thanks

[2020-12-11 09:36] gaocegege commented on #1195
You can just build and deploy it as a normal k8s deployment. It should work.

[2020-12-11 09:38] gaocegege commented on #1195
If you need any help, I'd glad to help you.

[2020-12-11 09:56] oikomi commented on #1195
@gaocegege  thank you , any readme file for deployed independently?

[2020-12-11 10:01] gaocegege commented on #1195
We do not have such documentation yet because we assume that users always deploy tf-operator with Kubeflow. If you need it, we can have a new doc here.

[2020-12-11 10:10] gaocegege commented on #1195
If you need any help before that, you can add my wechat gaocedidi, I can provide more info about how to deploy tf-operator.

[2020-12-11 10:10] gaocegege opened #1197 "Add Helm Charts for Kubeflow Trainer V2"

[2020-12-11 13:18] andreyvelich commented on #1195
@oikomi In the meantime you can follow [these steps](https://github.com/kubeflow/katib#tf-operator) to install TF operator.

[2020-12-11 14:43] goat023 commented on #1197
I would like to work on this issue. Since I'm new here, can someone guide me?

[2020-12-12 07:59] gaocegege commented on #1197
Thanks, @goat023

You can have a look at other operator's helm chart, like tidb-operator or etcd-operator. It should be similar to them.

[2020-12-12 20:37] terrytangyuan commented on #1170
/lifecycle freeze

[2020-12-12 20:38] terrytangyuan commented on #1197
There's also helm chart for mpi-operator for reference but probably needs some update as well: https://github.com/kubeflow/mpi-operator/tree/master/hack/helm/mpi-operator

[2020-12-13 03:58] goat023 commented on #1197
Thanks, I'll try

[2020-12-13 04:30] goat023 commented on #1197
where can I get the maintainer's name and email address for this repo

[2020-12-14 02:10] gaocegege commented on #1197
https://github.com/kubeflow/tf-operator/blob/master/OWNERS

[2020-12-18 02:51] gaocegege commented on #1162
Yeah, I think so. We can remove it safely.

[2020-12-18 02:53] gaocegege commented on #1193
Is there any update? Seems that the tf-operator's tests in GCP fail all the time.

[2020-12-18 03:08] PatrickXYS commented on #1193
@ChanYiLin @Jeffwan Any updates on this task?

[2020-12-18 03:58] ChanYiLin commented on #1193
Not yet, sorry for the late reply, I am a little bit busy last month.
I will do it this weekend !

[2020-12-18 04:14] PatrickXYS commented on #1193
@ChanYiLin In general, you can follow this doc to onboard testing to our test-infra.

https://github.com/kubeflow/testing/blob/master/aws/Doc/onboarding.md

[2020-12-18 04:17] ChanYiLin commented on #1193
Got it, thanks for the doc.

[2020-12-18 09:04] gaocegege commented on #1193
Thanks!

[2020-12-19 06:33] #1188 closed

[2020-12-22 01:54] gaocegege opened #1200 "[feat] Add example for clusterspec propagation"
Ref https://github.com/kubeflow/tf-operator/pull/1149

We support clusterspec propagation but do not provide such an example to illustrate how to use it. We should have such an example.

[2020-12-22 09:19] gaocegege commented on #1200
@zhujl1991

Are you interested in this issue?

[2020-12-23 04:51] zhujl1991 commented on #1200
Sorry but I don't have any bandwidth for this currently.

[2020-12-23 06:07] gaocegege commented on #1200
Gotcha. I will have a look. Thanks for your reply.

[2020-12-28 10:22] #1195 closed

[2020-12-28 17:05] PatrickXYS opened #1205 "[Test] Add support for public ECR image"
**TL;DR**
tf-operator can switch to use public ECR image to support better testing user experience, which support CI + CD simultaneously.

**Details**
We've started work in Kaniko and ECR Credential Helper (https://github.com/awslabs/amazon-ecr-credential-helper/issues/248 + https://github.com/GoogleContainerTools/kaniko/issues/1515), after those work done, we can start engineering work in tf-oper

[2020-12-28 17:06] PatrickXYS commented on #1205
/cc @ChanYiLin @gaocegege @Jeffwan

[2020-12-30 08:41] oikomi opened #1206 "checkCRDExists func return true when k8s cluster is not connected"
hi

when k8s cluster is not connected (may be any network issue), log message like this

{"filename":"app/server.go:219","level":"error","msg":"Get \"https://10.107.104.120:6443/apis/kubeflow.org/v1/tfjobs\": dial tcp 10.107.104.120:6443: i/o timeout","time":"2020-12-30T16:35:14+08:00"}

checkCRDExists will return true ,  that is not the right way

[2020-12-30 14:09] terrytangyuan commented on #1206
Fixed by https://github.com/kubeflow/tf-operator/pull/1207

[2020-12-30 14:09] #1206 closed

[2021-01-06 03:00] gaocegege opened #1213 "[bug] Evaluator does not work well with TF 2 ParameterServerStrategy"
But i just test it in our Yarn cluster not k8s, so I want to know how to solve it in tf-operator. Maybe tf-operator have similar problems.

https://github.com/kubeflow/tf-operator/pull/1146#discussion_r552337074

cc @zuston

[2021-01-06 03:01] gaocegege commented on #1213
I am not sure if it is a bug in TF or tf-operator. In TF 1, evaluator works with ps-worker well.

[2021-01-06 03:07] gaocegege commented on #1213
Yeah, there is no coordinator in TF 1, thus we do not have such a problem. Maybe we can fix it in TF 2.

[2021-01-12 09:03] kuikuikuizzZ opened #1214 "[bug] UpdateStatus raise panic when only one master or cheif instance in tfjob"
When create a tfjob with only one master or cheif, IsWorker0Completed will raise a panic for no worker instance.
![image](https://user-images.githubusercontent.com/40418998/104292214-8336e400-54f7-11eb-8359-b9299243bbfa.png)
### Reproduce step:
[code]
kubectl apply -f master_tf.yaml

[2021-01-13 08:07] oikomi opened #1216 "[improve] no need to create pod when source replicas is 0"
hi all

see tfJob Spec like:
    ps:
      replicas: 0
      restartPolicy: OnFailure

when deploy it ,we get :

$ kubectl get po
tensorflow-testnewoper-ai-platform-138-evaluator-0           0/1     ContainerCreating   0          12m
tensorflow-testnewoper-ai-platform-138-ps-0                  0/1     Terminating         0          6s
tensorflow-testnewoper-ai-platform-138-worker-0              0/

[2021-01-13 12:41] gaocegege commented on #1216
Thanks for the issue!

[2021-01-15 18:25] nellaivijay commented on #1200
@gaocegege , Any reference or example to look at this issue?

[2021-01-16 01:09] gaocegege commented on #1200
Ref #1149

[2021-01-17 21:51] #1131 closed

[2021-01-17 21:51] #999 closed

[2021-01-18 06:42] gaocegege commented on #1197
@goat023 Hi, is there any progress?

[2021-01-18 08:40] cwdsuzhou opened #1219 "Add support for PodGroup CRD provided by scheduling.sigs.k8s.io"
https://github.com/kubernetes-sigs/scheduler-plugins  also provides a CRD named PodGroup.  Is there any possible to support it in kubeflow.

[2021-01-18 09:01] gaocegege commented on #1219
Yeah, I think we can. We already support kube-batch and volcano now.

[2021-01-18 09:24] gaocegege commented on #1219
We need to bump k8s to 1.19 to enable the CRD.

[2021-01-18 09:26] gaocegege commented on #1219
/cc @ChanYiLin @terrytangyuan

[2021-01-19 11:53] gaocegege opened #1220 "[feat] Add scale subresource"
We need this feature to support elastic training.

[2021-01-21 02:44] ultraji opened #1221 "I have some questions about the function `createNewPod` in `pkg/controller.v1/tensorflow/pod.go`"
In this function, why we do `ExpectCreations` first then `CreatePodsWithControllerRef`?

In my test, If `CreatePodsWithControllerRef` failed, the controller will create a new pod when the expectation expires.

[2021-01-21 08:47] gaocegege commented on #1221
Do you mean that you think there is a consistency problem?

[2021-01-21 09:08] ultraji commented on #1221
It cause that too slow(use `ExpectationsTimeout` seconds) to create the pod which is created failed at the first time。

[2021-01-21 14:13] vit- opened #1222 "[bug] resource manifest is not validated properly"
~I have noticed that some fields from pod template spec do not make it to the actual pods created by the controller. In my case, the `environment` and `workdir` fields are dropped.~
Resource manifest is not validated properly. In the following manifest fields `workdir` and `environment` are incorrect:

[code]

**Actual result**:
TFJob is saved as is without any error messages. While the actual pod

[2021-01-22 08:54] gaocegege commented on #1221
I will test it. Do you have any suggestions to fix it?

[2021-01-22 09:03] ultraji commented on #1221
I just put `ExpectCreations` after `CreatePodsWithControllerRef`(without careful consideration), and everything runs ok;

[code]

[2021-01-22 09:03] gaocegege commented on #1222
If you want to define env vars in TFJob, please refer to this https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/

[code]

[2021-01-22 09:04] gaocegege commented on #1222
For work dir, you need to use `workingDir`.

[2021-01-22 15:08] vit- commented on #1222
Oh, my bad. I wasn't paying enough attention to the key names. I was expecting an incorrect manifest would fail validation. Should I file another issue about the validation?

[2021-01-22 22:32] shaowei-su opened #1223 "Error with release tag `v1.0.1` "invalid memory address or nil pointer dereference""
After upgrading the tf-operator to tag `v1.0.1`, controller starts failing with error:
[code]

Controller built with: https://github.com/kubeflow/tf-operator/blob/master/build/images/tf_operator/Dockerfile
Git SHA: `fb7b1616af823ada13d181849a3d00d9e9e6ac10`

[2021-01-23 03:31] gaocegege commented on #1222
You can update the issue title, thanks!

[2021-01-23 03:48] gaocegege commented on #1223
Thanks for the issue, will fix it soon.

[2021-01-23 03:56] gaocegege commented on #1223
The error comes from https://github.com/kubeflow/tf-operator/blob/fb7b1616af823ada13d181849a3d00d9e9e6ac10/vendor/github.com/kubeflow/common/pkg/controller.v1/common/job.go#L315

[2021-01-23 03:57] gaocegege commented on #1223
Did you set TTL for the job? Can you show the job status?

[2021-01-23 03:58] gaocegege commented on #1223
Can you please add my WeChat gaocedidi?

Maybe we can discuss it.

[2021-01-23 04:02] gaocegege commented on #1223
cc @ChanYiLin

[2021-01-23 06:18] ChanYiLin commented on #1223
@gaocegege Is there any more information for debugging?
one of the possible reason might be forgetting set the `runPolicy.TTLSecondsAfterFinished`
so `duration := time.Second * time.Duration(*ttl)` point to a nil pointer

[2021-01-23 06:30] ChanYiLin commented on #1223
Ok I might find the bug
https://github.com/kubeflow/common/blob/master/pkg/controller.v1/common/job.go#L245
When the job exceeds limit (BackoffLimit or ActiveDeadlineSeconds) it will failed and start to cleanup the resources
in the cleanup function it will use `jobStatus.CompletionTime`
but the `jobStatus.CompletionTime` is set after the cleanup function
https://github.com/kubeflow/common/blob/mas

[2021-01-23 06:31] ChanYiLin commented on #1223
@shaowei-su  Does this happen when some jobs exceed their limit?

[2021-01-23 07:06] shaowei-su commented on #1223
Thanks for the quick response! @gaocegege @ChanYiLin

This error happens whenever a TFJob failed and the status is
[code]

[2021-01-25 02:43] gaocegege commented on #1220
I am working on the design doc for this feature.

/assign @gaocegege

[2021-01-25 20:11] shaowei-su commented on #1223
@gaocegege  @ChanYiLin  PTAL: https://github.com/kubeflow/common/pull/108 thanks!

[2021-01-26 01:44] gaocegege commented on #1223
We need to update the vendor to fix it in tf-operator. Can you open a PR for it?

[2021-01-26 05:11] gaocegege commented on #1223
It is fixed by #1225

[2021-01-26 05:31] ChanYiLin commented on #1223
Hi @shaowei-su  I wonder does the PR in kubeflow/common actually fix the issue
Your logs showed that the controller failed when it was trying to claenup
Ant the job failed because of a worker failed not because limit exceeded.
So I guess the the cleanup function call is from #L165 not in the block of limit exceed.
Can you check again if the PR fix your issue?

[2021-01-26 06:33] shaowei-su commented on #1223
You are right @ChanYiLin . I thought in the case of `Success` or `Failure` then the job status will have `CompletionTime` preset before pass in, which is not the case in fact..

So I guess we need a code block like
[code]
in line #159 as well?

[2021-01-26 06:48] ChanYiLin commented on #1223
That will fix the problem indeed,
but I am curious why the tfjob got the status failed and the message `TFJob tfjob-manual-ttl-8 has failed because 1 Worker replica(s) failed.` but didn't get the completion time.
According to the code here, it should append the completion time at the same time.
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1/tensorflow/status.go#L192

[2021-01-26 06:51] ChanYiLin commented on #1223
Oh ... I got it, it was my fault
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1/tensorflow/status.go#L192
it should be
[code]
not `tfJob.Status`...

[2021-01-26 06:52] ChanYiLin commented on #1223
@shaowei-su Can you help to fix the issue and test again if this fix your issue? Thanks

[2021-01-26 06:53] shaowei-su commented on #1223
Ah good catch. Sure let me try this out.

[2021-01-26 07:52] shaowei-su commented on #1223
Yup it works now after the fix:
[code]
PTAL @ChanYiLin  https://github.com/kubeflow/tf-operator/pull/1226

[2021-01-26 08:24] gaocegege commented on #1223
/reopen

[2021-01-26 13:11] vit- commented on #1222
I have updated the issue title and description accordingly

[2021-01-27 02:31] #1223 closed

[2021-01-27 03:44] gaocegege opened #1229 "[discussion] Should we have a validating webhook or keep the unstructured informer"

[2021-02-02 12:04] ultraji commented on #1221
I found this code block in  [https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/job/job_controller.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/job/job_controller.go).

[code]

[2021-02-03 02:58] gaocegege commented on #1221
Can you add my wechat gaocedidi and discuss details about it?

[2021-02-04 01:59] #1221 closed

[2021-02-04 02:01] gaocegege commented on #1219
ref https://github.com/volcano-sh/volcano/issues/1270
ref https://github.com/kubeflow/tf-operator/pull/1235

[2021-02-09 01:36] asahalyft opened #1241 "TFJob and Worker Pods are not deleted after the Job has completed"
Hello Team - After applying the tf-operator and successfully running a Distributed TFJob. I see the worker pods still hanging around in the `Completed` state and the TFJob is also not deleted. I cannot spawn a new Job with the same name unless I manually cleanup all of them.

e.g. After the job has completed I do the following
`kubectl describe tfjob tf2-keras-mnist-tfjob-gpu -n asaha` and I still

[2021-02-09 01:41] gaocegege commented on #1241
Thanks for the issue! I will have a look ASAP.

[2021-02-09 01:50] gaocegege commented on #1241
Hi, which API version are you using? Maybe you need to set cleanPodPolicy like this if you are using v1:

[code]

[2021-02-09 01:50] gaocegege commented on #1241
BTW, would you mind adding your adoption to https://github.com/kubeflow/tf-operator/blob/master/docs/adopters.md?

[2021-02-09 01:52] gaocegege opened #1242 "[feature] Add documentation about usage"

[2021-02-09 02:24] asahalyft commented on #1241
I see. Thanks @gaocegege that worked. There is a difference between how `tf-operator` and the `mpi-operator` expect the `cleanPodPolicy` to be specified.

I had been using below with tf-operator which is what we also use with the `mpi-operator`
[code]

But after changing to
[code]

I see the tfjob worker pods are now being cleaned up. But, the TFJob still hangs around. Is that designed like that?

[2021-02-09 02:37] terrytangyuan commented on #1241
Do you mind adding your organization to MPI operator's adopters as well?

[2021-02-09 02:56] asahalyft commented on #1241
Sure, I will be happy to update the adoption once we finish our evaluation and testing and incorporate MPI Operator in our production system.

[2021-02-09 03:27] gaocegege commented on #1241
Sure, thanks.

https://github.com/kubeflow/mpi-operator/issues/324 I am working on it. I think we will have the same layout with MPIJob.

Yeah, we will not delete TFJob when the TFJob is succeeded.

[2021-02-09 06:11] zhangle-dev opened #1245 "[bug] Scheduling pods after PodGroup is created successfully"
Which version of the tf-operator corresponding to docker image gcr.io/kubeflow-images-public/tf_operator:v1.0.0-g92389064?

Switch to the tf-operator v1.0 branch and find that the batch scheduler in the code uses kube-batch, but the default value in the image is volcano.

When the Volcano version is later than 0.3, a message is displayed indicating that the TFjob is deployed. If the TFjob version

[2021-02-09 06:13] gaocegege commented on #1245
Now we do not use gcr anymore. Can you try to use v1.0.1?

[2021-02-09 06:20] zhangle-java commented on #1245
我的tf-operator 是用 kfctl apply -V -f kfctl_k8s_istio.v1.0.1.yaml 安装的，版本应该是1.0.1吧

[2021-02-09 06:28] gaocegege commented on #1245
It's KF 1.0.1, I recommend using https://github.com/kubeflow/tf-operator/releases/tag/v1.0.1-rc.5. Maybe you can use https://github.com/kubeflow/tf-operator/blob/master/deploy/v1/tf-operator.yaml

As for the image, you can use ccr.ccs.tencentyun.com/kubeflow-oteam/tf-operator:v1.0.1-rc.5

[2021-02-09 06:29] gaocegege commented on #1193
Can we close this?

/cc @ChanYiLin @PatrickXYS

[2021-02-09 06:40] zhangle-java commented on #1245
I use kfctl to install all kubeflow components. If only the tf-operator version is replaced, will this issue occur?

[2021-02-09 06:53] asahalyft commented on #1241
Thanks @gaocegege for the explanation.

[2021-02-09 06:53] #1241 closed

[2021-02-09 07:14] gaocegege commented on #1245
I do not think there is any problem if you just replace tf operator.

[2021-02-09 07:52] #1214 closed

[2021-02-09 07:53] gaocegege commented on #1205
Hi

Is there any progress?

[2021-02-09 07:59] ChanYiLin commented on #1193
Sure, the presubmit e2e test works now!

[2021-02-09 07:59] ChanYiLin commented on #1193
/close

[2021-02-09 07:59] #1193 closed

[2021-02-09 08:11] zhangle-dev commented on #1245
If the crd is not changed, do I only need to use kubectl -n "kubeflow edit deploy tf-job-operator" to modify the container image?

[2021-02-09 08:17] zhangle-dev commented on #1245
Or should I delete all resources related to the tf-operator and recreate them?

[2021-02-09 08:26] gaocegege commented on #1245
You do not need to delete the CRD. You just need to update the deployment.

[2021-02-09 09:23] zhangle-dev commented on #1245
I have replaced the tf-operator version and deployed a tfjob, but it does not take effect. Some pods have been created and some pods fail to be created.
![image](https://user-images.githubusercontent.com/29698544/107342679-7b209300-6afb-11eb-9ad9-62b9b040e2f9.png)

[2021-02-09 09:27] gaocegege commented on #1245
Can you describe the podGroup and post result here?

[2021-02-09 09:29] zhangle-dev commented on #1245
After the TFjob is deployed, a pod group is created and deleted immediately.

[2021-02-09 09:31] gaocegege commented on #1245
Can you try to recreate the TFJob and show us the result? I am not sure if it relates to the podgroup apiversion.

[2021-02-09 09:36] zhangle-dev commented on #1245
After the TFjob is deployed, I view the description of the podgroup. The podgroup disappears several seconds later.
![image](https://user-images.githubusercontent.com/29698544/107344321-47466d00-6afd-11eb-9dd8-421892419a44.png)

[2021-02-09 09:38] gaocegege commented on #1245
[code]

When the job is failed, we will delete the PodGroup, I think the reason is that the TFJob is failed.

[2021-02-09 09:40] zhangle-dev commented on #1245
However, if I do not use gang scheduling, the application can run properly.

[2021-02-09 09:43] zhangle-dev commented on #1245
If the resources are sufficient, the system can run properly. If the resources are insufficient, some pods fail to run.

[2021-02-09 09:45] gaocegege commented on #1245
Can you please add my wechat gaocedidi? We can discuss further.

[2021-02-09 09:46] zhangle-dev commented on #1245
However, should not gang scheduling ensure that all pods are in the padding state instead of failed state when resources are insufficient?

[2021-02-09 10:15] gaocegege commented on #1245
I think the reason is that we will create pods immediately after PodGroup is created. I am not sure what happened if the PodGroup is not ready.

[2021-02-09 10:16] gaocegege commented on #1245
Not sure if it is a bug in volcano or tf-operator, I will have a look.

[2021-02-09 16:06] PatrickXYS commented on #1205
@gaocegege There are some engineering work ongoing, and we look forward to making this work around March

[2021-02-10 00:23] yanniszark opened #1246 "TFJob Operator: Move manifests development upstream"
### Background

Umbrella-Issue: https://github.com/kubeflow/manifests/issues/1740

As part of the work of wg-manifests for 1.3
(https://github.com/kubeflow/manifests/issues/1735), we are moving manifests
development to upstream repos. This gives the application developers full
ownership of their manifests, tracked in a single place.

To give an example from the `notebook-controller`, the diagram s

[2021-02-10 01:37] zhangle-dev commented on #1245
This problem occurs because I set nodeName for the pod. As a result, an error occurs when the pod is created and the pod group is deleted. The nodeName field is deleted successfully.

[2021-02-10 03:40] #1245 closed

[2021-02-10 03:40] gaocegege commented on #1245
I am closing the issue 😄

[2021-02-20 06:03] gaocegege opened #1248 "[feature] Auto generate API doc for TFJob"
Ref https://github.com/rabbitmq/cluster-operator/pull/546

[2021-02-22 08:00] gaocegege opened #1250 "[feature] Support RDMA Training with TFJob"

[2021-02-23 03:14] gaocegege opened #1251 "[feature] Support multi port in TFJob"
Now we do not support multi ports in TFJob because we do not expose them in the service.

[2021-02-23 03:16] gaocegege commented on #1251
/assign @xieydd

[2021-02-23 10:14] pengyuan commented on #1139
i have the same problem,  is there one solution or workaround please?  @terrytangyuan

from estimator.run_config.py:
[code]
      cluster = {'chief': ['host0:2222'],
                 'ps': ['host1:2222', 'host2:2222'],
                 'worker': ['host3:2222', 'host4:2222', 'host5:2222']}
      os.environ['TF_CONFIG'] = json.dumps(
          {'cluster': cluster,
           'task': {'type': 'evalua

[2021-02-24 02:00] chunyang-wen commented on #1139
@pengyuan There is a workaround here. But it seems a little hacky. An estimator parses all the cluster information from the environment variable `TF_CONFIG`. You can try to override the `TF_CONFIG` to a reasonable string before starting your own program. But be careful about the exiting logic of the whole tensorflow program. For example, you have 1 ps, 1 master, 2 workers. You can create a valid `

[2021-03-08 03:00] #1246 closed

[2021-03-09 03:58] xieydd commented on #1251
ok, i will do it.

[2021-03-11 23:26] PatrickXYS commented on #1205
FYI, we have added support for public ECR. From now on, we can use latest kaniko to build and push images to public ECR registry.

I think only a few changes need to be made:

1. replace image url from private ecr to public ecr
2. create public ecr registry
3. Update kaniko to latest version

/cc @gaocegege @ChanYiLin @Jeffwan

[2021-03-12 06:16] gaocegege commented on #1205
cc @andreyvelich @johnugeorge

[2021-03-12 21:54] PatrickXYS commented on #1205
Hi all, personally I plan to invest more in training part, so I could help finish this part to begin my training project contributions.

[2021-03-12 22:42] andreyvelich commented on #1205
Thanks a lot @PatrickXYS!
That would be great.

So do we want to have 2 public registries for each project ?
One for the CI and one for the release ?

[2021-03-12 22:50] PatrickXYS commented on #1205
@andreyvelich  There are two options we can move forward:

1. One public ECR registry, in presubmit, we enable kaniko [--no-push flag](https://github.com/GoogleContainerTools/kaniko#--no-push) to not push to public ECR.
2. Two public ECR registry, one for presubmit, one for postsubmit.

WDYT?

[2021-03-12 22:57] andreyvelich commented on #1205
If we have enough resources I prefer 2nd option since some of the project might not re-build all of the images in the CI and just use images from the release.
Also it's more safety as you mentioned.

What do others think @kubeflow/wg-training-leads ?

[2021-03-14 08:59] gaocegege commented on #1205
Cool!

Personally, prefer the latter.

[2021-03-17 01:59] gaocegege opened #1253 "tf-operator release process"
Ref https://github.com/kubeflow/katib/issues/1466

cc @andreyvelich @yanniszark

[2021-03-17 19:19] PatrickXYS commented on #1205
Created a public ECR registry: `809251082950.dkr.ecr.us-west-2.amazonaws.com/tf-operator`

Public View: https://gallery.ecr.aws/j1r0q0g6/training/tf-operator

[2021-03-17 19:20] PatrickXYS commented on #1205
Will send a follow up PR to fix test part

[2021-03-18 03:20] MartinForReal opened #1258 "Add a step to upload artifact"
mirror issue: https://github.com/kubeflow/mpi-operator/issues/342

[2021-03-18 08:21] gaocegege commented on #1258
Should we follow the design here? https://github.com/kubeflow/community/blob/master/proposals/pvc-template.md

[2021-03-18 09:25] MartinForReal commented on #1258
PVC works perfectly when it comes to storing training data, but it would be a little different when it comes to uploading output artifacts (such as model uploading)  And S3 would be an more feasible option if we need to run jobs in multiple clusters and it would have less dependencies.  Do you think so? Any advice is appreciated. Thanks!

[2021-03-19 19:09] #1205 closed

[2021-03-24 02:59] verult commented on #1251
Hello, any update on this feature? Thanks!

[2021-03-24 23:28] Jeffwan opened #1261 "Cut a new release for kubeflow 1.3"
I see @gaocegege  cut a few v1.0.1-rc release, do you want to cut a official release? BTW, I would suggest to use v1.1.0 instead of v1.0.1 since there're many changes and it's worth a minor version upgrade.

https://github.com/kubeflow/tf-operator/compare/v1.0.1-rc.5...master

@kubeflow/wg-training-leads

[2021-03-25 02:45] gaocegege commented on #1261
cc @PatrickXYS

I think we can use v1.1.0

[2021-03-25 02:53] PatrickXYS commented on #1261
+1 to use v1.1.0

[2021-03-25 04:42] Jeffwan commented on #1261
OK. I cut a tag from @PatrickXYS given commit. Let's use the pinned version here https://github.com/kubeflow/manifests/issues/1775

[2021-03-25 07:20] #1261 closed

[2021-03-25 07:25] Jeffwan commented on #1258
@MartinForReal I see your request in mpi-operator as well. Trying to understand if that's possible to add your logic in tfjob? Since KFP based training jobs uses launcher and that's not possible to leverage artifact feature. If you have some thoughts, feel free to draft a proposal

[2021-03-25 07:31] Jeffwan opened #1262 "GitHub Actions runs failed"
https://github.com/kubeflow/tf-operator/actions

Looks like runs are failing and we should decide if we still want to use Github images? As we move to AWS ECR public registry. We probably can remove GitHub action settings.

![image](https://user-images.githubusercontent.com/4739316/112435058-7ad20500-8d01-11eb-901b-c73d9cb9242d.png)

[2021-03-25 08:50] gaocegege commented on #1262
Yeah, I think so.

[2021-03-28 05:18] chenwenjun-github opened #1264 "enable-gang-scheduling not work"
**What happened**:
I use the kubeflow/tf-operator with --enable-gang-scheduling = true, and I have installed volcano.
When I submit two same tfjobs at the same time and the resourcequota of namespace is only enough for one tfjob, I find the two tfjob still start to occupy the resources and cause deadlock.

And I try to submit only one tfjob with more resource but the resourcequota of namespace is

[2021-03-29 01:56] gaocegege commented on #1264
Are you using volcano?

[2021-03-29 01:57] #1262 closed

[2021-03-29 02:36] chenwenjun1995 commented on #1264
yes I do

[2021-03-29 02:55] gaocegege commented on #1264
OK, I will have a look ASAP.

/cc @Thor-wl @shinytang6

[2021-03-29 03:14] Thor-wl commented on #1264
Yes, we've noticed this issue and is analysising it.

[2021-03-29 08:48] chenwenjun1995 commented on #1264
Some additional information:
1. tf-operator version is tag:1.0.1-rc.5, and container param what I set is like this:
![image](https://user-images.githubusercontent.com/46237364/112810801-fd661600-90ad-11eb-8a0e-0f0e228c569c.png)
volcano version is tag:v1.2.0
2. I use default queue which volcano create defaultly, and I have many namespace, need I create different queue for namespace?

[2021-03-29 11:20] chenwenjun1995 commented on #1264
![image](https://user-images.githubusercontent.com/46237364/112819690-6ef69200-90b7-11eb-8705-9084123a0882.png)
I think that this code have some problem, It should juage whether status of podgroup is running first before ReconcilePods if EnableGangScheduling is true.
I'm not sure my idea, what do you think @Thor-wl

[2021-03-29 11:24] Thor-wl commented on #1264
I'm sorry for not reviewing the code. Let me take a look.

[2021-03-29 12:53] shinytang6 commented on #1264
If you only use the default queue and `proportion` plugin is enabled, all podgroups will be inqueue regardless of the `minresource` declaration, because queue.capacity is empty, so it is possible that some pods will be pending in real allocate action.

[code]

[2021-03-29 13:39] chenwenjun1995 commented on #1264
@shinytang6 Thank you. I also find this when I test gang-scheduler. The status of podgroup is always inqueue even if the resourcequota of namespace is not enough for tfjob.

[2021-03-29 14:15] shinytang6 commented on #1264
emm, I don’t think so. The tasks scheduled by volcano are generated based on the pod with `schedulername=volcano`. What `allocate` do is to select the appropriate node and bind it to the pod instead of creating the pod.

[2021-03-30 04:46] chenwenjun1995 commented on #1264
you are right. volcano don't create pod. the pod and podgroup is created by tf-operator, schedulered by volcano.
But my problem is my tfjob is running in one namespace of k8s, the resourcequota of namespace is limited.
Although pod which is pending have not been binded to node, but it occupy  resourcequota of namespace.
This maybe cause deadlock when I submit two same tfjobs at the same time and t

[2021-03-30 08:08] Thor-wl commented on #1264
@shinytang6 @jiangkaihua have discussed about this issue last night. And they are working for it.
/assign @shinytang6 @jiangkaihua

[2021-04-02 08:30] jiangkaihua opened #1267 "Pod needs annotations when EnableGangScheduling is true."
When `EnableGangScheduling` argument is set true, tf-operator will take `volcano` as scheduler. But in volcano job, pod needs `volcano.sh/task-spec=ps` to announce task type, which is missing when tf-operator create pods. And this may cause some volcano plugin lost effect.

[2021-04-02 08:33] gaocegege commented on #1267
/cc @shinytang6

[2021-04-02 10:15] william-wang commented on #1267
The task role information like ps or worker are needed to be added for Task-Topology scheduling.

[2021-04-02 12:26] denkensk commented on #1267
I suggest this is better to add the annotation like `scheduling.k8s.io/task-spec=ps` to announce task type.
This will be consistent with `scheduling.k8s.io/group-name`. This will make the naming more general and convenient for users to adapt the default scheduler or other scheduler.
/cc @gaocegege

[2021-04-02 15:34] PatrickXYS opened #1269 "[Test] Postsubmit failure"
The most recent PR https://github.com/kubeflow/tf-operator/pull/1268
caused the postsubmit failure.

Prowjob link: http://prow.kubeflow-testing.com/view/s3/aws-kubeflow-jenkins/logs/kubeflow-tf-operator-postsubmit/1377929915071991808
Argo Workflow link: https://argo.kubeflow-testing.com/workflows/kubeflow-test-infra/kubeflow-tf-operator-postsubmit-v1-3d9e7c8-1808-0e34?tab=workflow

From the log, l

[2021-04-03 09:54] gaocegege commented on #1267
I think it will be better. WDYT @william-wang

[2021-04-03 09:54] gaocegege commented on #1267
Ref https://github.com/kubeflow/tf-operator/pull/1268

[2021-04-04 23:26] terrykong opened #1270 "[Feature Request] tf.data service"
Hi,

I was wondering if the TFJob CRD will eventually provide tf.data service support or perhaps a companion CRD that serves data to the TFJob. Source: https://github.com/tensorflow/ecosystem/tree/master/data_service

Thanks!

[2021-04-05 05:03] gaocegege commented on #1270
Thanks for the issue, I think we want to support it.

/cc @terrytangyuan

[2021-04-05 05:27] gaocegege commented on #1269
It is weird. Seems that we miss the google cloud dep.

[2021-04-05 14:19] terrytangyuan commented on #1270
`tf.data.experimental.service.DispatchServer` still looks experimental and maybe removed at any time in the future so I am uncertain whether this is something we want to support now.

[2021-04-05 15:43] PatrickXYS commented on #1269
Let me re-run the workflow to see if it passes, not sure what happened here

[2021-04-20 08:36] zionwu commented on #1186
@gaocegege I think this is a common issue as there is a similar KEP for k8s job: https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2307-job-tracking-wihout-lingering-pods

We can also use finalized to solve the problem.

[2021-04-20 08:37] zionwu commented on #1186
/reopen

[2021-04-20 09:05] gaocegege commented on #1186
Gotcha. LGTM

[2021-04-21 07:36] zw0610 opened #1271 "v1_time.py is not generated by hack/python-sdk/gen-sdk.sh"
The python-sdk generation script common library, which looks like 0.1.x: https://github.com/kubeflow/tf-operator/blob/master/hack/python-sdk/gen-sdk.sh#L36

However, the common library defined in go.mod is 0.3.3.

The python-sdk generation reports error:

[code]

Even after I skip the openapi generation step, the swagger cli generates a bunch of python script with `v1_time.py` missing.

I double-c

[2021-05-08 21:01] pdcoded opened #1273 "Not able to pass environment variable from tfjob to pod"
Here is how the tfjob looks like:

apiVersion: "kubeflow.org/v1"
kind: "TFJob"
metadata:
  name: mlmodel-train-recipe-textcls
  namespace: kubeflow
spec:
  cleanPodPolicy: All
  tfReplicaSpecs:
    Worker:
      replicas: 1
      restartPolicy: Never
      template:
        spec:
          containers:
            - name: tensorflow
              image: gcr.io/*****/mlmodel-train-recipe-textcls

[2021-05-10 02:13] gaocegege commented on #1273
I cannot reproduce it, could you please format the code to show if there is a problem with indentation.

[2021-05-11 14:28] omlomloml opened #1275 "the delete in python SDK is not working"
as you can see below, rest of the calls are ok, but delete is not working
I have the latest release version

{'apiVersion': 'kubeflow.org/v1', 'kind': 'TFJob', 'metadata': {'creationTimestamp': '2021-05-11T01:25:50Z', 'generation': 1, 'managedFields': [{'apiVersion': 'kubeflow.org/v1', 'fieldsType': 'FieldsV1', 'fieldsV1': {'f:spec': {'.': {}, 'f:cleanPodPolicy': {}, 'f:tfReplicaSpecs': {'.': {},

[2021-05-20 18:03] verult commented on #1251
@xieydd thanks for merging the feature in kubeflow/common. Does tf-operator need to update its dependency for this to work? And what's tf-operator's release schedule?

[2021-05-25 02:46] gaocegege commented on #1251
Yeah.

We release a new version with a kubeflow release regularly.

After we merge #1276, I think we can work on this issue.

[2021-05-25 03:20] gaocegege opened #1277 "bug: CI failure because of google cloud SDK"
[code]

[2021-05-26 13:45] alexeygorobets opened #1278 "Update swagger.json schema for TFJobSpec to include RunPolicy"
TFJobSpec [has been updated](https://github.com/kubeflow/tf-operator/commit/984adc287e6fe82841e4ca282dc9a2cbb71e2d4a#diff-2ff55230a375d22f96a216cfc4618b93669ebde60fd435a8eb9fe577f6f9b388L56) to contain RunPolicy which [encapsulates](https://github.com/kubeflow/common/blob/master/pkg/apis/common/v1/types.go#L189), for example, backoff limit.
Yet [Swagger schema](https://github.com/kubeflow/tf-opera

[2021-06-01 02:52] shinytang6 commented on #1251
/cc @gaocegege @verult l think we could proceed on this due to #1276 was merged.

[2021-06-02 09:32] Windfarer opened #1279 "Could you release a new version of Python SDK"
It seems [the latest release is at Jan 16, 2020](https://pypi.org/project/kubeflow-tfjob/#history) and there are many commits(includes some bug fixes) to this repository so far. Could you release a new version to pypi so that we can use the updated package.

Thanks.

[2021-06-02 10:48] gaocegege commented on #1279
@jinchihe Can we do it?

[2021-06-03 07:34] johnugeorge commented on #1279
Related: #1281

[2021-06-03 07:40] Windfarer commented on #1279
Another related PR: https://github.com/kubeflow/tf-operator/pull/1280

[2021-06-04 02:16] #1275 closed

[2021-06-08 13:02] merlintang opened #1282 "How to handle long pending pods in a TF-job?"
In the production environment, we would run into some kinds of pod scheduling problems.

For example, one pod fails to get the volume, one pod fails to get the image, or the pod fails to schedule because the related node is broken. In these cases, these pods run into the pending stage. As a result, we have to ask users to delete the current TFjob, and restart a new Job.

However, this would waste

[2021-06-09 05:44] johnugeorge commented on #1282
Eventually, pod should get into running state? why does it remain in pending?

[2021-06-09 08:42] merlintang commented on #1282
Thanks for your reply, the pod would run into the pending stage  (a.k.a hang ) forever. we have to run a monitor script to find these poods and clean it, as a result, the tfjob would fail as a result. thus, we hope tf operator can find these pods and restart it.

[2021-06-09 22:20] #1170 closed

[2021-06-09 22:20] #1194 closed

[2021-06-09 22:20] #1213 closed

[2021-06-09 22:20] #1216 closed

[2021-06-09 22:20] #1222 closed

[2021-06-09 22:20] #1229 closed

[2021-06-09 22:21] #1219 closed

[2021-06-09 22:21] #1242 closed

[2021-06-09 22:21] #1248 closed

[2021-06-09 22:21] #1250 closed

[2021-06-10 19:58] johnugeorge commented on #1282
Interesting. Does Tensorflow support restarting one or more workers?

/cc @gaocegege

[2021-06-16 02:24] gaocegege commented on #1282
I think the problem is how to find these bad pods. We cannot tell if the pod is actually pending or hanging.

[2021-06-16 05:48] merlintang commented on #1282
can we have a white list to record the cases where these pods are hanging there forever? then, tf operator can find pod to restart based on the white list

[2021-06-17 14:30] johnugeorge commented on #1282
@merlintang  Can you elaborate more on your proposal?

[2021-06-18 17:33] merlintang commented on #1282
For these pending pod , we can find the related container state.

For example, one pod for its container (init container or job container) is running into the "ImagePullBackOff" / "CreateContainerConfigError"/ "CreateContainerError", and the restart_count > upper_bound, we would say this pod can not resume to work.  In this case, we need to restart this pod, then the scheduler would allocate this

[2021-06-23 02:10] xieydd commented on #1251
/PTAL @gaocegege Can i start this work?

[2021-06-23 08:20] gaocegege commented on #1251
I think we can, wdyt

[2021-06-23 10:56] johnugeorge commented on #1258
keeping it open for more discussions

[2021-06-26 02:46] #1253 closed

[2021-07-01 03:23] D0m021ng opened #1284 "bug: tf-operator panic when delete a tfjob"
tf-operator panic：
[code]
related code:
![image](https://user-images.githubusercontent.com/9292128/124059527-ceb95c00-da5d-11eb-9363-71d856b830de.png)

When tfjob is not found, tfjob object is null.

[2021-07-01 05:49] johnugeorge commented on #1284
This is a bug. Are you using master?
Can you contribute?

[2021-07-01 05:51] johnugeorge commented on #1284
@gaocegege Since CI is not in place, we are introducing bugs

[2021-07-01 06:30] gaocegege commented on #1284
Yeah, I think we should fix the CI ASAP!

[2021-07-03 19:21] johnugeorge commented on #1277
This will be fixed by #1285

[2021-07-03 19:22] johnugeorge commented on #1269
This will be fixed by #1285

[2021-07-05 17:51] Jeffwan commented on #1277
The latest testing image `public.ecr.aws/j1r0q0g6/kubeflow-testing:latest` remove all GCP dependencies..

https://github.com/kubeflow/testing/blob/master/images/Dockerfile.py3.aws

But we did that early this year and didn't have updates later.

[2021-07-05 17:51] #1284 closed

[2021-07-05 18:29] Jeffwan commented on #1277
#1285 has been merged . Thanks @johnugeorge

[2021-07-05 18:29] #1277 closed

[2021-07-05 18:32] Jeffwan commented on #1269
Seems failure comes from testing image but not code itself. But I didn't find obvious related changes here. https://github.com/kubeflow/testing

Anyway, @johnugeorge comment the dependency out and the issue has been resolved.

We should not introduce any vendor specific libraries in the code repo so we can migrate to any testing infra without changes

[2021-07-05 18:32] #1269 closed

[2021-07-05 19:12] Jeffwan commented on #1162
I just remove vendor folder but there're still something left like updating `./hack/update-codegen.sh`. I don't want to mix them together because vendor deletion is a very large PR..

For rest of the changes, I will make it later. (probably want for development branch done unless there're urgent needs)

[2021-07-05 20:41] Jeffwan opened #1289 "Build doesn't work in all-in-one-operator branch"
/cc @zw0610

go build doesn't work for `all-in-one-operator` branch

1.  GroupVersion redeclared in this block.
[code]

2. context has been supported in kubeflow/commom@v0.3.4 (compatible with 1.19) Let's upgrade the dependency and then regenerate the clientset.
[code]

[2021-07-05 21:08] Jeffwan opened #1291 "Enable test in all-in-one-operator branch"
Since we are making large changes against shttps://github.com/kubeflow/tf-operator/tree/all-in-one-operator. it would be great to enable prow tests to make sure we don't break original functionalities.

Additional CI reduce risk incomplete codes merge in the branch.

[2021-07-06 00:48] Jeffwan commented on #1289
This issue has been fixed.

[2021-07-06 00:48] #1289 closed

[2021-07-08 01:29] #1264 closed

[2021-07-11 00:31] Jeffwan commented on #1291
https://github.com/kubeflow/testing/pull/951

[2021-07-11 20:29] #1267 closed

[2021-07-11 23:11] Jeffwan opened #1298 "Universal Operator Phase I: Merge apis and controllers from all repos to all-in-one-operator repo"
Part of https://github.com/kubeflow/common/issues/138
In Phase I, we want to merge different operators's apis and controller in one place.

- Tensorflow http://github.com/kubeflow/tf-operator
- PyTorch http://github.com/kubeflow/pytorch-operator
- MXNet http://github.com/kubeflow/mxnet-operator
- XGBoost http://github.com/kubeflow/xgboost-operator

MPI is not part of it, Let's consider it in later

[2021-07-11 23:13] Jeffwan commented on #1298
XGBoost - https://github.com/kubeflow/tf-operator/pull/1286 https://github.com/kubeflow/tf-operator/pull/1293
PyTorch - https://github.com/kubeflow/tf-operator/pull/1294
Tensorflow - https://github.com/kubeflow/tf-operator/pull/1295
MXNet - https://github.com/kubeflow/tf-operator/pull/1296

[2021-07-11 23:16] Jeffwan commented on #1298
The goal of Phase I is to make code compilation work in this branch. controller can run with simple example. No need to cover all the tests

[2021-07-11 23:21] Jeffwan opened #1299 "Universal Operator Phase II: Reduce duplication and extract common utilities"
In Phase I https://github.com/kubeflow/tf-operator/issues/1298, we try to replicate codes from different operator directly and make them work without further optimization. This is part of https://github.com/kubeflow/common/issues/138

However, this is not the ultimate goal. We can see there're lots of duplications and inefficient usage. in Phase II, we want to

1. Eliminate difference between oper

[2021-07-12 03:39] Jeffwan commented on #1298
We have all related PRs merged. This can be closed.

[2021-07-12 03:39] #1298 closed

[2021-07-14 04:25] Jeffwan opened #1301 "Add role details as new columns to `kubectl get jobs` output for CRD."
Currently, when we run  `Kubectl get tfjob`, it just shows jobs name without extra details. User has to `describe` the job to understand more details of the job.

There're multiple ways to provides rich information.

1. Kubectl extension
2. Since we will migrate to kubebuilder. it's very easy to add marker "\\ +kubebuilder:printcolumn" to print the new columns.  source: https://book.kubebuilder.io

[2021-07-14 04:26] Jeffwan commented on #1301
This can be done after we finish alpha release of universal operator

[2021-07-16 18:40] alculquicondor opened #1303 "Evaluate usage of upstream Job API"
Currently, the training operators manage plain Pods. Arguably, managing plain Pods is difficult, as exemplified by this long standing upstream issue kubernetes/kubernetes#28486

For this reason, kubernetes provides a series of higher level workload APIs such as Deployment, StatefulSet, DaemonSet and Job. Controllers are encouraged to create these workloads instead of plain Pods. However, the exist

[2021-07-16 19:16] alculquicondor opened #1304 "Upgrade CDRs to apiextensions.k8s.io/v1"
The api group apiextensions.k8s.io/v1beta1 is no longer served in k8s 1.22 https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122

kubeflow APIs need to be upgraded

[2021-07-19 03:25] gaocegege commented on #1304
SGTM.

[2021-07-19 03:34] gaocegege commented on #1303
- https://github.com/kubeflow/tf-operator/issues/325
- https://github.com/kubeflow/tf-operator/issues/45

Hi @alculquicondor We discussed it before. There are some features which make us have to use Pod. If we can implement them with Jobs, I think we definitely should use Job.

For example, Restart for the specific exit code:

ExitCode means the restart behavior is dependent on the exit code of th

[2021-07-19 13:23] alculquicondor commented on #1303
Thanks @gaocegege. This is the kind of information I'm looking for.
Anything else you can think of? Do you agree that the feature I mentioned is also needed?

[2021-07-19 13:53] alculquicondor commented on #1303
Also, please clarify how OnExitCode is implemented. Plain Pods don't support that, so you can't support it at the container level, correct? This is only valid for Pod recreation.

[2021-07-20 03:00] gaocegege commented on #1303
Yes, some dirty tricks here.

https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1/tensorflow/pod.go#L128

[2021-07-20 03:07] gaocegege commented on #1303
Yeah, we need the indexed job to run different replicas (e.g. ps-0, ps-1, .., ps-n). We also need:

- Restart the replicas for the given restart policy
- Policies to determine if we think the job is succeeded or failed (https://github.com/kubeflow/tf-operator/blob/e306113276879132a457e453f268d738076de6e1/pkg/apis/tensorflow/v1/common.go#L18) (We can implement the feature in the tf-operator, I thin

[2021-07-20 13:38] alculquicondor commented on #1303
It seems that you do a Pod deletion. I suppose the next sync would create a new Pod again. I don't think we have to support this directly in the Job API. You could do the same (inspect the exit code and delete the Pod) and let the Job controller create the replacement for it. The good thing is that the Job controller will keep track of the number of restarts even if you delete the Pod (starting in

[2021-07-20 13:46] alculquicondor commented on #1303
Actually, we might need to do something. The Job controller will always create a new Pod for an index when the previous one fails  (up to the configured number of retries). So we either need to restrict recreation altogether or implement the ExitCode approach.

[2021-07-20 23:58] #1270 closed

[2021-07-21 01:48] gaocegege opened #1306 "[bug] The pod wil be recreated until the expectation expires"
When you delete the TFJob and restart it immediately, the pod cannot be created if there is a pod terminating. It will be recreated until the expectation expires.

[2021-07-21 01:50] gaocegege commented on #1303
We will decide if there's a new Pod according to the exit code. Consider such a case: the exit code is 0, and we will not restart it.

I am not sure if we can or should do it with Job or IndexJob.

[2021-07-21 01:51] gaocegege commented on #1303
For example, in some cases, the job should be considered succeeded if 80% of workers are succeeded.

[2021-07-21 01:52] gaocegege commented on #1303
It depends. It's still in the design

[2021-07-21 01:59] gaocegege commented on #1303
Hi, Can you please provide the code or the docs for the index job? I am not quite familiar with it.

[2021-07-21 13:15] alculquicondor commented on #1303
In this case, the Pod is considered Succeeded, so it wouldn't be recreated. But any other exit code causes a recreation, until the maximum number of retries is reached. We would need to change this to either pay attention to other exit codes or to restrict recreation to other signals, such as the Pod being deleted (although this is not reliable, because the garbage collector might remove the Pod).

[2021-07-21 14:07] gaocegege commented on #1303
When the model training replicas update weights asynchronously, we can think the job is succeeded if x% of workers are succeeded. It is related to the domain-specific logic, I think.

[2021-07-21 14:08] gaocegege commented on #1303
Cool, when will it be released in K8s?

[2021-07-21 15:02] alculquicondor commented on #1303
Indexed Job is releasing as beta in k8s 1.22

[2021-07-21 15:13] gaocegege commented on #1303
OK, I will look through the code to see if we can use it. Thanks

[2021-07-21 19:56] alculquicondor commented on #1303
I'm not sure how useful would be for you to look at the code. The API is well documented in  https://kubernetes.io/docs/concepts/workloads/controllers/job and https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/job-v1/

As already discussed, there are some features that we would need to add for the API to be useful in training. That's what I want to focus this thread on.

[2021-07-22 02:49] gaocegege commented on #1303
OK, thanks.

[2021-07-23 06:10] gaocegege commented on #1271
/cc @jinchihe

[2021-07-26 06:50] gaocegege commented on #1306
We could update the vendor kubelfow/common to 0.3.6

The problem should be fixed in https://github.com/kubeflow/common/pull/139

[2021-07-26 17:01] ahg-g commented on #1303
Is this optimization to accelerate processing or a fundamental functional requirement (e.g., are there cases where some pods get stuck and never complete and so you are trying to have more replicas to ensure that enough of them complete)?

[2021-07-27 14:37] alculquicondor commented on #1303
An update from the last k8s SIG Apps meeting. In general, the community is onboard with adding features to the Job API to enable more use cases. In particular, they don't have major concerns for the following features:

- Ability to resize a Job (number of completions), Indexed or not.
- Ability for particular exit codes to prevent retries. They pointed me to this very old discussion: kubernetes/k

[2021-07-28 02:54] gaocegege commented on #1303
Sure, I think we can discuss more the details and of course, we can get involved in the tasks. 🍻

[2021-07-28 02:55] gaocegege commented on #1303
It's sort of optimization.

[2021-07-28 06:27] gaocegege commented on #1303
Now there are only two policies supported as you listed. worker-0 is the master worker. In some cases, we consider the job is succeeded if the master worker is succeeded.

The users should choose the right policy according to his/her training mode.

[2021-07-28 09:49] gaocegege commented on #1303
As you know the feature is alpha at 1.21, but we also need to support 1.14-1.18. Thus I think the process will be long.

Maybe we can implement a PoC of using Indexed Job. At the same time, we can try to contribute some features that we care about to the upstream Job controller.

WDYT

[2021-07-28 13:28] alculquicondor commented on #1303
I agree that the process will take long. If we were to implement the remaining features now, they would only be available as beta in 1.24, but that's being optimistic. It's still good to have it as a long term goal.

Yes to both questions. I can't promise to get to those now, as my priority is the mpi-operator. But if there is a contributor willing to get their hands on this, I can assist.

[2021-07-28 17:10] ahg-g commented on #1303
Any idea how critical is this optimization?

It is great that you are interested in contributing to upstream k8s; I think as a batch community in the k8s ecosystem it is in everyone's best interest to try and continuously improve the core Jobs API; we understand that the process is sometimes long, but that is a price we pay for production readiness and long term support.

[2021-07-29 02:38] gaocegege commented on #1303
It is a nice-to-have optimization. I do not think it is a blocker, IMO.

[2021-07-29 02:43] gaocegege commented on #1303
Personally, I also suggest using upstream Job API if it works, because managing pods directly is hard.

[2021-07-29 17:09] Jeffwan commented on #1299
The last part of this PR is

1. Fix all the issues to run multiple controllers correctly.
2. Run more testing to make sure current behavior is same as original operator

[2021-07-29 17:12] Jeffwan opened #1309 "Copyright header is not correctly generated"
https://github.com/kubeflow/tf-operator/blob/b8d5d3cd6e824865de196388c2c2a4e852b709e7/pkg/controller.v1/mxnet/mxjob_controller.go#L1

https://github.com/kubeflow/tf-operator/blob/b8d5d3cd6e824865de196388c2c2a4e852b709e7/main.go#L2

Seems hack scripts doesn't correctly generate hear and render it in files

/help
/good-first-issue

[2021-07-29 17:44] Jeffwan opened #1310 "Dynamically register scheme and start corresponding controllers"
We register scheme for all frameworks and  start all controllers in current version. Ideally, it should accepts a list of framework user want to enable.

https://github.com/kubeflow/tf-operator/blob/b8d5d3cd6e824865de196388c2c2a4e852b709e7/main.go#L50-L56

https://github.com/kubeflow/tf-operator/blob/b8d5d3cd6e824865de196388c2c2a4e852b709e7/main.go#L91-L106

/good-first-issue
/help-wanted

[2021-07-29 17:47] Jeffwan opened #1311 "Enable tests for all frameworks"
Current project only have test cases for Tensorflow. We should enable tests for all rest frameworks in the pipeline.

1. Move all test cases to the repo
2. Rewrite CI pipeline to includes these steps (build images, run e2e tests etc)

[2021-07-29 17:48] Jeffwan commented on #1311
/help

[2021-07-29 18:03] Jeffwan opened #1312 "Controller can not successfully run due to conflicts index fields"
branch: all-in-one-operator,  part of #1299

[code]

The reason is we use indexers with same name.. This should be resolved either by removing indexing or using different names

[2021-07-29 18:04] Jeffwan commented on #1312
/bug

[2021-07-29 18:04] Jeffwan commented on #1312
/assign @Jeffwan

[2021-07-29 20:46] Jeffwan opened #1313 "Improve logs structure by consolidating libs from controller runtime and controllers"
Umbrella issue: #1318

Log is kind of messy and we should unify log library. I created a story in https://github.com/kubeflow/common/issues/143 as well. it needs changes in both repos

[code]

[2021-07-30 01:08] Jeffwan opened #1314 "Status is missing from job details"
branch: all-in-one-operator , part of https://github.com/kubeflow/tf-operator/issues/1299

It might be a conflict using both together?  need to double check

[code]

and

[code]

[code]

/kind bug
/assign

[2021-07-30 02:09] gaocegege commented on #1313
SGTM

[2021-07-31 04:33] Jeffwan commented on #1314
This issue actually blocks the CI jobs.  https://github.com/kubeflow/tf-operator/pulls

This is a high priority problem we have to fix

[2021-07-31 05:15] Jeffwan commented on #1314
I figure out the problem.

1. `// +kubebuilder:subresource:status ` works with `common.JobStatus`
2.  Here, we use previous way to update entire Job object. However, `/status` is a subresource and reconcile actually give in-built way to update the status.  `client.Status().Update(context.Background(), &obj)`

https://github.com/kubeflow/tf-operator/blob/b8d5d3cd6e824865de196388c2c2a4e852b709e7/pkg

[2021-07-31 05:38] Jeffwan commented on #1291
I merge the request and verify the test runs successfully

[2021-07-31 05:38] #1291 closed

[2021-07-31 07:08] Jeffwan opened #1316 "flag redefined: kubeconfig: tf-operator.v1 and universal operator can not work together"
This is an issue found in https://github.com/kubeflow/tf-operator/pull/1315 tests.   part of #1299

[code]

Our goal is to have original tf operator and new universal operator working together. However, Addflag is called twice and report the error.   See more details in https://github.com/kubeflow/tf-operator/pull/1315#issuecomment-890301802

Seem there's no good way to workaround it.  We can temp

[2021-07-31 18:51] Jeffwan opened #1317 "CI pipeline can not successfully run in all-in-one-operator branch"
part of #1299

We enabled CI in all-in-one-operator branch but the pipeline can not pass due to a few issues.

This issue is used to track those test failures so we don't have to put everything in https://github.com/kubeflow/tf-operator/pull/1315

[2021-07-31 18:52] Jeffwan commented on #1317
Currently failures come from
- shutdown-policy -tests
- estimator-runconfig-tests
- preplica-restart-policy-tests
- pod-names-valication-tests

![image](https://user-images.githubusercontent.com/4739316/127749803-a4e9b038-903e-4c34-aa62-f5f5d482d9b3.png)

[2021-07-31 18:58] Jeffwan commented on #1317
### shutdown-policy -tests

[code]

[2021-07-31 18:59] Jeffwan commented on #1317
### estimator-runconfig-tests

[code]

[2021-07-31 19:31] Jeffwan commented on #1317
https://github.com/kubeflow/tf-operator/blob/47a74b738920edbf4207160cec7e1dff9cdab3f2/py/kubeflow/tf_operator/util.py#L117-L127

utils.py use this way to send exitCode to pods. However, 503 indicates Service Unavailable.

[2021-07-31 19:57] Jeffwan commented on #1317
After we did the kubebuilder migration, we use a pretty clean registry template.

original initialization logics is removed.

https://github.com/kubeflow/tf-operator/blob/47a74b738920edbf4207160cec7e1dff9cdab3f2/pkg/apis/tensorflow/v1/register.go#L53-L59

Since default function is not registered in the scheme,  following default methods doesn't work.

https://github.com/kubeflow/tf-operator/blob/b

[2021-07-31 20:06] Jeffwan commented on #1299
We need to fix these critical bugs to make sure old tensorflow controller work as well.

#1312
#1314
#1316
#1317

This make us comfortable to merge this branch to master and also make both old & new operator works together in one code base

[2021-07-31 20:08] Jeffwan commented on #1313
/help
/good-first-issue

[2021-07-31 20:19] Jeffwan opened #1318 "Universal Operator Phase III: Graduate operator to production grade"
In Phase II #1299, we unified code structure and refactor all controller to have same operator pattern. In addition, we enabled test cases against dev branch and make sure original tests pass which makes us pretty confident to merge dev back to master.

In Phase III, we will prepare for the initial release.  There're a few graduation criterions (https://github.com/kubeflow/common/issues/138) need

[2021-07-31 20:23] Jeffwan commented on #1318
Feel free to pick up any issues if contributor has bandwidth.

[2021-07-31 21:08] Jeffwan opened #1319 "Reduce e2e replica-restart-policy-tests running time"
This is a successful pipeline case.  `replica-restart-policy-tests` takes ~30 mins to finish (rest in parallel tasks take ~5min),  cluster creation/deletion takes also takes 30mins. In total, we need ~1hr to pass presubmit e2e test.

![image](https://user-images.githubusercontent.com/4739316/127752354-6964d2ab-206b-4d2b-9977-9750e7ae6e7b.png)

We could consider to break down replica-restart-policy

[2021-08-02 17:04] Jeffwan commented on #1314
This issue has been fixed.

/close

[2021-08-02 17:04] #1314 closed

[2021-08-02 17:11] Jeffwan commented on #1316
I comment out `//fs.StringVar(&s.Kubeconfig, "kubeconfig", "", "The path of kubeconfig file")` at this moment.
If user like to use external kubeconfig, they have to use KUEBCONFIG at this moment.  This is not a big problem as I think (most user still use in cluster config)

I will leave this open if there's an elegant way to claim it.

[2021-08-02 17:13] Jeffwan commented on #1317
This issue has been resolved and test run successfully against all-in-one-operator.

/close

[2021-08-02 17:13] #1317 closed

[2021-08-02 17:24] Jeffwan commented on #1312
This has been resolved.

/close

[2021-08-02 17:24] #1312 closed

[2021-08-02 17:25] Jeffwan commented on #1299
We can close this issue now.

/close

[2021-08-02 17:25] #1299 closed

[2021-08-02 20:52] Jeffwan opened #1321 "Cut 1.2.0 tag and release a stable version of master"
I think it's a good time to consider merging all-in-one-operator back to master branch and keep evolving the development.

1. I would suggest to cut a 1.1.1 tag or 1.2.0 tag from master. This would be the final version of original tf operator. Just for backup purpose.
https://github.com/kubeflow/tf-operator/compare/v1.1.0...master
~~Seems not too many feature changes since 1.1.0. I think 1.1.1 is

[2021-08-02 20:55] Jeffwan commented on #1321
/cc @kubeflow/wg-training-leads

[2021-08-02 20:56] Jeffwan commented on #1318
/priority p1

[2021-08-02 21:00] Jeffwan opened #1322 "Prepare kustomization files for new operator"
Umbrella issue: https://github.com/kubeflow/tf-operator/issues/1318

We will need a new folder to host manifests for new operators.  https://github.com/kubeflow/tf-operator/tree/master/manifests

This will also be used for integration tests.

/help

[2021-08-02 21:09] Jeffwan opened #1323 "Prepare e2e tests for all frameworks"
Umbrella issue: https://github.com/kubeflow/tf-operator/issues/1318

1. We lack of enough examples for testing.  https://github.com/kubeflow/tf-operator/tree/all-in-one-operator/examples. It's better to move all previous examples to this project if any is missing.

2. We need to enable tests against new operator. While, we should keep original argo workflow.  This help us make sure both the old co

[2021-08-02 22:06] Jeffwan opened #1324 "make test failed due to invalid crd schema"
[code]

[code]

metada.description violates the open api v3 schema

![image](https://user-images.githubusercontent.com/4739316/127929806-1884b68d-27bd-43eb-8847-a8e8a72a257f.png)

[2021-08-02 22:10] Jeffwan commented on #1324
The major reason is
![image](https://user-images.githubusercontent.com/4739316/127930014-5ba7ec56-914e-4a3c-9215-b6f4aeaf3d13.png)

This is definitely a bug in kubebuilder.   comment is converted to   `meta.description` but it only allows `metadata.name` and `metadata.generateName`

The workaround is to remove comments in job crds.

[2021-08-03 02:15] terrytangyuan commented on #1321
SGTM.

[2021-08-03 02:52] Jeffwan opened #1326 "Create new container image repository for training-operator"
kaniko failed to build image.  https://github.com/kubeflow/tf-operator/pull/1325

[code]

The major reason is AWS doesn't support push a new repository. We need to create it in advance and then use it.

[code]

/cc @PatrickXYS Do we use Gitops to manage repositories?

[2021-08-03 07:04] Jeffwan opened #1327 "Test failures against universal operators"
There're some test failures against new universal operator. Let's fix all those issues.  PR: https://github.com/kubeflow/tf-operator/pull/1325

https://argo.kubeflow-testing.com//workflows/kubeflow-test-infra/kubeflow-tf-operator-presubmit-v1-1325-8430a04-6576-0e63?tab=workflow

It takes some time to investigate the root cause and fix them. This issue is used to track our findings.

/assign
/prior

[2021-08-03 16:58] Jeffwan commented on #1327
[code]

[2021-08-03 16:59] Jeffwan commented on #1327
[code]

[2021-08-03 16:59] Jeffwan commented on #1327
Seems both have 401 errors which is unexpected.

[2021-08-03 17:01] Jeffwan commented on #1327
[code]

[code]

Let me run it against local dev environment.

[2021-08-03 19:39] Jeffwan opened #1329 "Test image has incorrect tag?"
https://argo.kubeflow-testing.com/workflows/kubeflow-test-infra/kubeflow-tf-operator-presubmit-v1-1325-8430a04-8224-a787?tab=workflow&nodeId=kubeflow-tf-operator-presubmit-v1-1325-8430a04-8224-a787-1831026653

Kaniko use $(PULL_BASE_SHA) as image tag. Is this expected?

Should we use PULL_PULL_SHA which is the head?  Luckily, this doesn't affect real test because `setup-tf-operator.sh` uses same t

[2021-08-03 20:37] Jeffwan commented on #1327
### Invalid job

because new operator adds validation, invalid_job use case is not working anymore.

[code]

The problem is operator doesn't allow invalid job submitted any more. We need to change test case this time

[2021-08-03 20:40] Jeffwan commented on #1327
![image](https://user-images.githubusercontent.com/4739316/128082939-0fb38990-46e0-4ca3-9104-1fa96353c8ba.png)

Seem two jobs are interacted on each other. It would be great to have separate jobs..

[2021-08-03 20:43] Jeffwan commented on #1327
I double check that

kuebconfig path is different.
[code]

[2021-08-03 23:05] Jeffwan opened #1331 "RunPolicy bugs: spec schema is not honored in CRD which leads inconsistency"
Related issue: https://github.com/kubeflow/tf-operator/issues/1241

In above issue, customer said "runPolicy" is required to make tf-operator work.

[code]

However, both master and 1.1-branch (before we merge kubeflow/common) show that it should be

[code]

https://github.com/kubeflow/tf-operator/blob/6f1e96c4b3e7b63860780b6f572ec229e58ca146/pkg/apis/tensorflow/v1/types.go#L51

https://github.com

[2021-08-03 23:06] Jeffwan commented on #1331
/bug
/priority p0

[2021-08-03 23:06] Jeffwan commented on #1331
/kind bug

[2021-08-04 00:20] Jeffwan opened #1332 "Should training operator keep clientset in the same repository?"
There's discussion with @andreyvelich here https://github.com/kubeflow/tf-operator/pull/1320#discussion_r682080657
@zw0610 also mentioned this when we start all-one-one operator project.

it depends on whether we have upstream, (I do think so. ) Having separate repo is easier for any project to import and that's pretty clean. Otherwise, user have to import entire project which is still acceptable

[2021-08-04 01:10] #1326 closed

[2021-08-04 01:43] zw0610 commented on #1332
I think the main point is to separate `apis` and `clientsets`. The generation of `clientsets` introduces a specific `client-go` version, which maybe troublesome for developers on `client-go` version control.

[2021-08-04 02:28] gaocegege commented on #1332
Do you mean we need three repos?

[2021-08-04 09:46] johnugeorge commented on #1321
SGTM.
I will review #1320  in a bit

[2021-08-04 10:41] gaocegege commented on #1321
Should we maintain a branch for it?

[2021-08-04 18:38] Jeffwan commented on #1321
That's a good idea. How about rebase all master changes to v1.1-branch?

[2021-08-05 00:46] Jeffwan commented on #1321
If we plan to cut a new branch. we don't need to maintain two test pipelines. That save me a lot of time. I will file a PR to enable test and images build for v1.1-branch later once it's created

[2021-08-05 02:22] gaocegege commented on #1321
SGTM

[2021-08-05 15:48] PatrickXYS commented on #1329
Yeah I think it's better we can use $PULL_PULL_SHA, we should make a one-line change https://github.com/kubeflow/tf-operator/blob/6f1e96c4b3e7b63860780b6f572ec229e58ca146/scripts/setup-tf-operator.sh#L28 to and it should work.

[2021-08-05 18:18] Jeffwan commented on #1329
/assign @PatrickXYS

Can you help file a PR?

[2021-08-05 18:43] Jeffwan opened #1333 "Best practice to organize main.go and Dockerfile?"
@andreyvelich  have some some suggestion to put Dockerfile and main.go together in https://github.com/kubeflow/tf-operator/pull/1320#discussion_r682175978.

I feel both way work for me. I create this issue to track the improvement for better folder and files organization.

If someone is aware of some best practices, feel free to share with us and I think we are open for any changes

[2021-08-05 19:22] Jeffwan commented on #1321
1. PR doesn't work because of CLA. Every contributor needs to content it..
2. I can not `push upstream v1.1-branch` because it's protected. Need googler to help with it.

[code]

[2021-08-05 19:34] Jeffwan commented on #1309
/cc @PatrickXYS If you have interest, feel free to pick them up.

[2021-08-05 19:34] Jeffwan commented on #1313
/cc @PatrickXYS If you have interest, feel free to pick them up.

[2021-08-05 20:01] Jeffwan opened #1337 "Prepare a training-operator container image in public ECR"
A new image is needed to distinguish between old operator and new one.

Old one
[code]

Can we have a similar one like

[code]

/cc @PatrickXYS  Can you help on this?

I submitted a PR to create private one. https://github.com/kubeflow/testing/pull/956 But I remember you said public one is not managed through Gitops yet. Without this one, I think post-submit may not work well.

[2021-08-05 20:02] Jeffwan commented on #1337
/assign @PatrickXYS

[2021-08-05 20:04] Jeffwan commented on #1331
This is the last piece for make everything work! https://github.com/kubeflow/tf-operator/pull/1336/commits/ceb5caad260c2bd3b6d1a83bbf9401a2d921744a

[2021-08-05 20:07] Jeffwan commented on #1327
@gaocegege reminds me we can create separate branch v1.1-branch for original tf-operator.
This makes our life easier and we don't have to maintain two pipelines in same branch.

The plan is
1. Keep original test against v1.1-branch. Any bugs fixes comes into this branch
2. Update test to adapt to new universal operators.  We don't have to run original tests anymore in master. (Test suite is still

[2021-08-05 21:47] Jeffwan commented on #1327
https://argo.kubeflow-testing.com/workflows/kubeflow-test-infra/kubeflow-tf-operator-presubmit-v1-1336-ceb5caa-5136-605e?tab=workflow&nodeId=kubeflow-tf-operator-presubmit-v1-1336-ceb5caa-5136-605e-4258196020
in https://github.com/kubeflow/tf-operator/pull/1336

I remember we meet this problem. defaulter is not working well so it doesn't create 2222 for svc correctly.
[code]

[2021-08-06 00:48] PatrickXYS commented on #1337
@Jeffwan  No problem, created one as `public.ecr.aws/j1r0q0g6/training/training-operator`

[2021-08-06 01:33] Jeffwan commented on #1337
@PatrickXYS Great. Thanks!

/close

[2021-08-06 01:33] #1337 closed

[2021-08-06 01:37] Jeffwan commented on #1329
I didn't review carefully. We should change kaniko side as well.

https://github.com/kubeflow/tf-operator/pull/1336/commits/a5bdae70fd759cd63f74c36fec34c194a115b95d

This commit fully resolve the issue

[2021-08-06 01:44] Jeffwan commented on #1321
/cc Need  @Bobgy 's help.

Can you either remove v1.1-branch from protected branch or help create v1.1-branch from https://github.com/kubeflow/tf-operator/commit/6f1e96c4b3e7b63860780b6f572ec229e58ca146 and override the existing one?

[2021-08-06 01:51] Jeffwan commented on #1309
/assign @PatrickXYS

[2021-08-06 01:55] Jeffwan commented on #1313
/assign @PatrickXYS  Feel free to unassign if you are overhelmed by other stuff

[2021-08-06 01:55] Jeffwan commented on #1313
/assign @PatrickXYS

Feel free to unassign if you are overhelmed by other stuff

[2021-08-06 01:56] Jeffwan commented on #1310
/assign @zw0610  Feel free to unassign if you are overhelmed by other stuff/

[2021-08-06 01:59] Jeffwan commented on #1316
This is not something we are worried about any more. We plan to cut v1.1-branch for old tf-operator. We don't necessarily need to support compatibility between two version in same branch.

[2021-08-06 01:59] Jeffwan commented on #1316
/close

[2021-08-06 01:59] #1316 closed

[2021-08-06 02:00] zw0610 commented on #1310
I think I can take it this weekend.

[2021-08-06 02:00] Jeffwan commented on #1331
/assign

[2021-08-06 03:48] Jeffwan opened #1340 "Improve observability of universal operator"
Part of https://github.com/kubeflow/tf-operator/issues/1318

1. We are currently using default liveness/readiness from kubebuilder. It would be great to double check if that's enough for our case

2. Job metrics are not unified. TensorFlow has best support and same prometheus metrics should be observed for rest of the frameworks.

/help

[2021-08-06 03:50] Jeffwan opened #1341 "Generate API Documentation for all frameworks"
Part of https://github.com/kubeflow/tf-operator/issues/1318

@gaocegege did an awesome job in this PR. https://github.com/kubeflow/tf-operator/pull/1249

For rest of the frameworks, we should generate API documentation as well

/help

[2021-08-06 03:55] Jeffwan commented on #1318
Once all above issues are resolved. We should update README.md to ask user to use universal operators.

[2021-08-06 05:07] Jeffwan commented on #1332
/kind discussion

[2021-08-06 05:07] Jeffwan commented on #1333
/kind discussion

[2021-08-06 05:07] Jeffwan commented on #1324
/kind bug

[2021-08-06 05:08] Jeffwan commented on #1323
/area testing

[2021-08-06 05:08] Jeffwan commented on #1324
/area testing

[2021-08-06 07:05] zw0610 commented on #1310
btw, because the scheme registration is defined in `init(){}` function, it may not be easy to let user choose what schemes to be registered. Meanwhile, registering unused schemes seems no harm.

The reconciler setup could be configured based on the command line input.

[2021-08-06 13:02] Bobgy commented on #1321
My understanding is that, you've got some features changes after v1.1.
By semantic versioning, v1.1.1 should only have bug fixes.

Then following the complexities for merging to v1.1 branch, I think the easiest solution is just to release v1.2 and create a new v1.2-branch. WDUT?

[2021-08-06 16:45] Jeffwan commented on #1310
Agree. We just need to make sure scheme registration won't break if CRD is not installed.

[2021-08-06 16:59] Jeffwan commented on #1321
@Bobgy

We didn't exactly follow version semantics. some minor features do come into patch version. This definitely needs some improvement.

v1.1-branch was created due to historical reason. It's not being used.
Here's the release history https://github.com/kubeflow/tf-operator/releases.  the latest release is v1.1.1

Since we will make some breaking changes to master, we want to cut v1.1-branch f

[2021-08-06 17:16] Jeffwan commented on #1327
Resolved by adding `xgboostv1.SetDefaults_XGBoostJob(xgboostJob)`, the scheme issue, I will create separate task for it

[2021-08-06 17:16] #1327 closed

[2021-08-06 17:17] Jeffwan commented on #1331
This has been resolved. All tests pass and we can close it

[2021-08-06 17:17] #1331 closed

[2021-08-06 17:21] Jeffwan opened #1343 "post-submit job failure in master branch"
![image](https://user-images.githubusercontent.com/4739316/128548499-7b4be979-0b5e-437b-b5db-e0d2a219619a.png)

https://argo.kubeflow-testing.com/workflows/kubeflow-test-infra/kubeflow-tf-operator-postsubmit-v1-3320f7f-6336-11ab?tab=workflow&nodeId=kubeflow-tf-operator-postsubmit-v1-3320f7f-6336-11ab-775640279

[code]

Seems it's related to  https://github.com/kubeflow/tf-operator/pull/1336

/kani

[2021-08-06 17:21] Jeffwan commented on #1343
/bug

[2021-08-06 22:47] Jeffwan commented on #1322
Currently, we use `/config`  which is generated by kubebuilder to run CI test. Ideally, we should sync manifests to `/manifests` folder and it will be used by `kubeflow/manifest` as well

[2021-08-06 22:48] Jeffwan commented on #1340
/good-first-issue

[2021-08-06 22:49] Jeffwan commented on #1341
/good-first-issue

[2021-08-06 22:49] Jeffwan commented on #1322
/good-first-issue

[2021-08-06 22:55] Jeffwan commented on #1329
I reopen the issue. The major issue is post submit job doesn't have `PULL_PULL_SHA`. Above changes will fail the pipeline.

We need to use `PULL_PULL_SHA` for presubmit Jobs and `PULL_BASE_SHA` for postsubmit jobs.

/priority p2

[2021-08-10 05:41] Jeffwan commented on #1310
Great job. This can be closed

[2021-08-10 05:41] #1310 closed

[2021-08-10 06:40] Jeffwan opened #1345 "Support mpi jobs in universal operator"
We've migrated pytorch, mxnet(byteps), xgboost (lightbgm). The next step is to consider moving mpi apis and controllers to this repo. (for people who are not familiar with the background, check https://docs.google.com/document/d/1x1JPDQfDMIbnoQRftDH1IzGU0qvHGSU4W6Jl4rJLPhI/edit#heading=h.e33ufidnl8z6)

The reason we didn't make it in the first draft is the code structure of mpi-operator is a littl

[2021-08-12 23:30] terrytangyuan opened #1348 "Rename this repo"
Once the unified operator is in place, we should probably rename the repo so that it's no longer specific to TensorFlow.

We can use this issue to discuss details.

/cc @kubeflow/wg-training-leads

@kubeflow/project-steering-group What's the process like to get this repo renamed?

[2021-08-13 18:38] Jeffwan commented on #1322
/priority p0

[2021-08-13 20:10] deepak-muley opened #1350 "Enable leader election in controller manager using controllermanagerconfig"
Ref #1322
From PR https://github.com/kubeflow/tf-operator/pull/1346, Comment: https://github.com/kubeflow/tf-operator/pull/1346#discussion_r688266189

we need to enable leader election

[2021-08-13 20:47] deepak-muley commented on #1340
I am working on this issue and will have a PR early next week.

[2021-08-13 20:51] Jeffwan commented on #1340
/assign @deep

[2021-08-13 20:51] Jeffwan commented on #1340
@deepak-muley Thanks! I assign to you

[2021-08-13 20:56] Jeffwan commented on #1350
part of #1318

[2021-08-13 21:05] Jeffwan commented on #1340
/priority p1

[2021-08-13 22:16] Jeffwan commented on #1345
/cc @alculquicondor

[2021-08-14 00:36] andreyvelich opened #1352 "Controller fails when TFJob is complete"
/kind bug

I tried to run Katib TFJob example: https://github.com/kubeflow/katib/blob/master/examples/v1beta1/tfjob-example.yaml with the new Training manager.

As I can see, my TFJob `CleanPodPolicy` is empty.
Once TFJob is complete and Katib controller deletes Succeeded TFJob, I am getting this error in the controller:

[code]

cc @kubeflow/wg-training-leads

[2021-08-14 01:10] Jeffwan commented on #1352
https://github.com/kubeflow/common/blob/f162091f3ea6b2275635d48116dd67c1b344ef61/pkg/controller.v1/common/job.go#L27

CleanupPolicy is empty and leads to panic.

I think we do use defaulters for new jobs. Let me double check this job

The difference comes from some changes to spec.RunPolicy. definition was not unified across operators and we make some changes. We change not to use inline.

https:/

[2021-08-14 01:18] Jeffwan commented on #1352
Related issue: https://github.com/kubeflow/tf-operator/issues/1331

[2021-08-14 01:18] Jeffwan commented on #1352
/priority p0

[2021-08-14 04:29] Jeffwan opened #1353 "Optimize post submit jobs flow"
https://argo.kubeflow-testing.com/workflows/kubeflow-test-infra/kubeflow-tf-operator-postsubmit-v1-7d11ae8-5888-d10a

This is an example of post-submit job. We share same workflow for presubmit jobs and post submit jobs.
I think we just need pipeline to build an image and push to public ECR register. There's no need to rerun the tests? WDYT?

/cc @kubeflow/wg-training-leads

[2021-08-14 04:35] Jeffwan opened #1354 "Update presubmit and post submit job triggers"
### Presubmit

I notice `/manifests` change doesn't trigger CI pipeline which doesn't give us confidence on correctness.
https://github.com/kubeflow/tf-operator/blob/e78151fb989b219f516ce77d22f1bdbfb4821215/prow_config.yaml#L12-L27

We should make the changes to includes the manifest folder. This has not been updated for long time. It's better to revisit the settings and includes folder required C

[2021-08-14 04:49] Jeffwan opened #1355 "Enable CI pipeline against v1.2-branch"
part of https://github.com/kubeflow/tf-operator/issues/1321

I notice we don't have test enabled for v1.2-branch. Master now serves universal operator and if people like to use original tf operator, bug fixes should come to v1.2-branch and CI pipeline will be required then.

sample PR: https://github.com/kubeflow/testing/pull/951

/help
/good-first-issue

[2021-08-14 05:50] johnugeorge commented on #1353
This is the same case with most of the Kubeflow repos. Can there be racecondition issues between multiple merges?  eg: code merge of 1 PR while image building from the other?

[2021-08-14 10:53] gaocegege commented on #1345
cc @zw0610

[2021-08-14 10:56] gaocegege commented on #1352
I think we need the mechanism to run integration tests for kubeflow/common. Only unit tests does not work for common.

[2021-08-14 15:16] terrytangyuan opened #1357 "Acknowledge/credit contributors from other training operator repos"
There are many contributors in other training operator repos that are not part of this repo's history. We should consider  summarizing their contributions based on GitHub contributions graph for each individual repos.

@kubeflow/wg-training-leads

[2021-08-14 17:59] Jeffwan commented on #1357
@terrytangyuan Totally agree. Is there an easier way to do that?

[2021-08-14 18:07] terrytangyuan commented on #1357
If there's a way to migrate those commits to this repo without affecting the project, it would be really great.

If not, we can just use GitHub API to summarize the contributions (number of commits, additions, and deletions, link to the list of commits, PRs reviewed, issue discussions involved, etc.). I had a tiny project that does something similar but it's in R and I haven't worked on it for a w

[2021-08-14 18:52] Jeffwan commented on #1345
@zw0610 had some discussion with @carmark and @ryantd in the past. Do you have the conclusion? BTW, what's the plan for v2 MPI?  Is it ok to adopt v2 directly?

[2021-08-14 19:06] Jeffwan commented on #1352
Agree. We lack of integration tests. There's a test job implementation but won't cover everything.

For this issue, kubeflow/common assume runPolicy always exist. I think that's the problem.

[2021-08-14 19:09] andreyvelich opened #1358 "Distributive Gloo PyTorchJob example doesn't work"
/kind bug

I tried to run this  PyTorch distributive Gloo backend example with the new Training Controller.
It stuck at this step: https://github.com/kubeflow/katib/blob/master/examples/v1beta1/pytorch-mnist/mnist.py#L132

This is example YAML:
[code]

This is source code for this example: https://github.com/kubeflow/katib/blob/master/examples/v1beta1/pytorch-mnist/mnist.py.

This is output of `ku

[2021-08-14 19:10] andreyvelich commented on #1358
cc @kubeflow/wg-training-leads

[2021-08-14 20:05] Jeffwan opened #1359 "Fix scheme registration issue"
Scheme.Default doesn't work well
https://github.com/kubeflow/tf-operator/blob/52cddeceba1e31e54a2e34551f486675fafabda2/pkg/controller.v1/tensorflow/tfjob_controller.go#L846

That's the reason we manually set `tensorflowv1.SetDefaults_TFJob(tfJob)`.  We do register the defaulters here.

https://github.com/kubeflow/tf-operator/blob/52cddeceba1e31e54a2e34551f486675fafabda2/pkg/apis/tensorflow/v1/type

[2021-08-14 20:05] Jeffwan commented on #1359
Let me cut a PR for this issue.

[2021-08-14 20:34] Jeffwan commented on #1352
@andreyvelich this issue has been resolved in #1360 .Please try `kubeflow/training-operator:08cfe109e2a18823ba177aa40fac06495e5e8197`

[2021-08-14 20:44] Jeffwan commented on #1358
I can reproduce the issue.  I ssh to pods and looks env injection is correct.

[code]

Let me double check port and service setting

[2021-08-14 21:12] Jeffwan commented on #1358
Figure out the issue.

Originally, it uses real `rType` to compare with `pyv1. PyTorchReplicaTypeMaster`

https://github.com/kubeflow/pytorch-operator/blob/a502590d8d340186604e695c55b4cc6cea5cee0d/pkg/controller.v1/pytorch/pod.go#L246

In kubeflow/common mode, it passes `rt` which is the lower case of rType

https://github.com/kubeflow/common/blob/f162091f3ea6b2275635d48116dd67c1b344ef61/pkg/contr

[2021-08-14 21:15] Jeffwan commented on #1358
This is misleading we mix use `rt` and `rType` in the code base. So https://github.com/kubeflow/common/pull/135/files resolves this issue. I think I can bump dependency to 0.3.5 to fix this issue.

Another way is to manually covert `pyv1. PyTorchReplicaTypeMaster` to lower case for string comparison.

[2021-08-14 21:29] andreyvelich commented on #1352
@Jeffwan I tested `kubeflow/training-operator:08cfe109e2a18823ba177aa40fac06495e5e8197`, it works correct with this example.
Thank you for this fix!

[2021-08-14 21:34] andreyvelich commented on #1358
Sounds good, thank you for the investigation @Jeffwan!
I think we should bump the dependency.

[2021-08-14 21:40] Jeffwan commented on #1358
I determine to change `strings.ToLower()` now. I notice this change https://github.com/kubeflow/common/pull/135/files in  v0.3.5 may bring some issues. We do use same way for bytePS's case here.

https://github.com/kubeflow/tf-operator/blob/52cddeceba1e31e54a2e34551f486675fafabda2/pkg/controller.v1/mxnet/mxnet.go#L226-L233

@andreyvelich Please use this image for testing. `kubeflow/training-operat

[2021-08-14 21:47] Jeffwan commented on #1358
/priority p0

[2021-08-14 22:20] andreyvelich commented on #1358
@Jeffwan Yes, this image is working.
Also, I checked that Katib Example with PyTorch is working also: https://github.com/kubeflow/katib/blob/master/examples/v1beta1/pytorchjob-example.yaml.
Thank you!

[2021-08-14 23:24] Jeffwan opened #1363 "Add more CRD validations markers to block invalid job on client apply"
A follow up of https://github.com/kubeflow/tf-operator/pull/1362

If required item missing, we should fail the job submission on the client instead of only reporting errors on the server side.
Since we don't have plan to use web hook, we can use CRD validations. Please double check if all our requirement can be satisfied by using these markers.

https://book.kubebuilder.io/reference/markers/crd-va

[2021-08-14 23:24] Jeffwan commented on #1363
/kind enhancement

[2021-08-15 01:14] #1352 closed

[2021-08-15 01:17] Jeffwan commented on #1353
em. I remember any code merges will re-trigger presubmit? If so, it forces the pipeline to rebase the master automatically. If not, I think it does have the race condition issue.

[2021-08-15 01:20] Jeffwan commented on #1353
There's another issue. If the post submit fails due to flaky tests. Even the image is built and pushed to registry. The test market still shows red which is misleading. The major problem is we mix release and post-submit test together. The best practice maybe split release process out of post submit tests.

[2021-08-15 01:23] Jeffwan commented on #1350
/priority p2

[2021-08-15 01:24] Jeffwan commented on #1322
This can be closed.  leader election can be separate story it's not a blocking issue

[2021-08-15 01:24] #1322 closed

[2021-08-15 07:01] zw0610 commented on #1345
On the last community meeting, I've explained that internally we prefer using the APIs that are already production-ready. From my understanding, the v2 API as long as its controller is still under completion and has not been widely adopted by the community users. Merging v2 version directly may not benefit many users who persist with v1 API.

[2021-08-16 03:26] Jeffwan commented on #1358
fix has been merged and manifest is up to date. We can close the issue.

[2021-08-16 03:26] #1358 closed

[2021-08-16 03:49] deepak-muley opened #1366 "Need to copy all (mainly pytorch) framework's example dir to tf-operator/examples"
To Location: https://github.com/kubeflow/tf-operator/tree/master/examples
From Location:
- https://github.com/kubeflow/pytorch-operator/tree/master/examples
- https://github.com/kubeflow/mxnet-operator/tree/master/examples

Assumption is that now that we have ported all the operators (except mpi) into all-in-one operator (this repo). we need to pull all the examples respective repos provide. I see

[2021-08-16 04:03] Jeffwan commented on #1366
part of https://github.com/kubeflow/tf-operator/issues/1311

[2021-08-16 06:05] DeliangFan commented on #1355
/assign

[2021-08-16 06:05] DeliangFan commented on #1341
/assign

[2021-08-16 06:22] gaocegege commented on #1355
@DeliangFan

Thanks for your contribution! :tada: :+1:

[2021-08-16 13:20] alculquicondor commented on #1345
I estimate the v2 controller and API will be ready in a month at most. Then we can produce a release.

The new controller has more coverage at unit, integration and e2e level, so it's in good track to be production-ready :)

[2021-08-16 13:25] alculquicondor commented on #1345
Also, I'm interested in helping with the migration of mpi-operator to the universal operator, but only after the v2 release. I don't think I would be able to implement everything myself, but I can at the very least help with reviews.

[2021-08-16 15:27] andreyvelich commented on #1353
What do you think about using GitHub Actions for our post-submits ?
I guess we need only to push images to ECR and Dockerhub after PR is merged.
In that case, we don't need AWS cluster for that.

[2021-08-16 16:50] Jeffwan commented on #1353
We are using kaniko to build image in prow cluster and this barely fails the tests. We can update workflow to skip tests part but Johnu's concern is valid. We need to double check there's no race condition issue

Does Katib run post-submit e2e tests?

[2021-08-16 17:00] andreyvelich commented on #1353
Unfortunately, we are running [Manual script](https://github.com/kubeflow/katib/blob/master/Makefile#L58-L62) to publish images currently.
I think, we can setup Actions to build and publish the images.

[2021-08-16 21:02] Jeffwan commented on #1359
new image has been released in master branch. This can be closed

[2021-08-16 21:02] #1359 closed

[2021-08-16 23:06] Jeffwan commented on #1353
I see. tf-operator currently use this way. It's pretty simple but the challenge is it leveraged ksonnet to render the workflow.. We can do some refactor later to get rid of ksonnet..

https://github.com/kubeflow/tf-operator/blob/d3725fd67fb6c285a6eca3db6492048db49dd395/test/workflows/components/workflows.libsonnet#L329-L343

[2021-08-16 23:20] andreyvelich commented on #1353
@Jeffwan We are following the same Kaniko builder for our Katib pre-submits:
https://github.com/kubeflow/katib/blob/master/test/workflows/components/workflows-v1beta1.libsonnet#L435-L440

Do you think AWS cluster is necessary to publish images for Kubeflow Training operator ?
For example, it's not very easy to restart post-submit in AWS in case of fail (for example, Docker pull limit ratio).
Altho

[2021-08-17 00:16] deepak-muley opened #1367 "Need to remove older tensorflow controller related files from repo"
In order to keep the controller folder consistent across all frameworks, only "frameworkjob_controller.go", "framework.go" and "suit_test.go" are the used files.
tf-operator/pkg/controller.v1/tensorflow has files from previous controller code which needs to be removed.

[2021-08-17 02:39] Jeffwan commented on #1309
@DeliangFan reached out to me and he wants to pick up some beginner issues in this repo. This would be a good candidate. @PatrickXYS I will unassign you and I know you will be busy with onboarding. :D

[2021-08-17 02:39] Jeffwan commented on #1309
/assign @DeliangFan

[2021-08-17 02:54] gaocegege commented on #1367
SGTM

[2021-08-17 03:06] gaocegege opened #1369 "[feature] Support different PS/worker types"
In some customer cases, users want to schedule one PS for one GPU machine, and place other PSes in CPU machines, like this:

[code]

/cc @zw0610

[2021-08-17 03:08] zw0610 commented on #1369
I've implemented this feature for internal use. If the community believe this feature is desirable, let me push the changes to this repository.

[2021-08-17 03:11] gaocegege commented on #1369
It is widely needed in the industry, I think.

/cc @kubeflow/wg-training-leads

[2021-08-17 03:16] DeliangFan commented on #1309
/assing

[2021-08-17 03:16] DeliangFan commented on #1309
/assign

[2021-08-17 03:27] johnugeorge commented on #1369
Interesting. Can you give one example here? When would a user prefer GPU for some while CPU. for other PS?

[2021-08-17 03:40] zw0610 commented on #1369
I can offer two cases:

**Case 1: Diversity on ParameterServer**

For a PS/Worker distributed training task, as we wish to maximize the communication bandwidth between workers and parameter servers, once possible, we shall co-allocate workers and parameter servers. However, there might leave some parameter servers that cannot fit into node as the resource on a node is limited. In this case, we nee

[2021-08-17 03:41] gaocegege commented on #1369
It's more about scheduling. For example, there is a GPU node with 2 GPU, 64 CPU, and 126G memory. One work uses 1 GPU, 25 CPU, and 40G. Then there can be another PS that uses 14 CPU, 46G memory.

Besides this, there are some CPU nodes with 16 CPU, 32G. Then PSes in CPU nodes should use 16 CPU, 32G.

[2021-08-17 05:42] DeliangFan commented on #1355
https://github.com/kubeflow/testing/pull/964

[2021-08-17 06:24] gaocegege commented on #1369
Maybe we could wait until all-in-one is merged to master.

[2021-08-17 07:16] DeliangFan commented on #1309
Thanks Jeffwan a lot~

[2021-08-17 07:46] DeliangFan commented on #1366
/assign

[2021-08-17 08:26] gaocegege opened #1372 "[chore] Delete the all-in-one branch"
@Jeffwan @zw0610

The branch is merged into master, can we delete it?

[2021-08-17 09:12] johnugeorge commented on #1369
Got it. Because of the resource allocation, need arises

[2021-08-17 14:54] terrytangyuan commented on #1369
This would require a customized optimizer and dynamic batch sizing algorithm though. I am curious to see if there's any good practices around this from your internal experiments.

[2021-08-17 16:12] deepak-muley commented on #1367
@thunderboltsid is interested in working on this as his first issue. we can take it up in the next release as we are close to this release. @Jeffwan

[2021-08-17 16:57] Jeffwan commented on #1367
/assign @thunderboltsid

[2021-08-17 16:58] Jeffwan commented on #1367
@thunderboltsid please type `/assign` if you want to pick it up

[2021-08-17 17:12] thunderboltsid commented on #1367
/assign

[2021-08-17 17:16] deepak-muley commented on #1367
we should also remove cmd/tf-operator.v1 as we already have cmd/training-operator.v1 folder

[2021-08-17 17:17] Jeffwan commented on #1341
This can be closed. Thanks @DeliangFan !

[2021-08-17 17:17] #1341 closed

[2021-08-17 17:18] Jeffwan commented on #1309
Thanks @DeliangFan for the help!

[2021-08-17 17:18] #1309 closed

[2021-08-17 17:43] Jeffwan commented on #1372
@gaocegege Yes. We can. I left that one for post-submit job testing and forget to delete it.

[2021-08-17 17:44] Jeffwan commented on #1372
it's been deleted.

[2021-08-17 17:44] #1372 closed

[2021-08-17 17:52] Jeffwan commented on #1353
@andreyvelich

There're some tradeoffs.
From code reusability perspective, I think we don't necessary need to introduce new stacks. If we just need image building, we don't bring up AWS cluster. It's one kaniko pod running in Argo cluster.  The tricky thing is post-submit job can not be operated easily, even by maintainers. If there's a good way to restart the failed job like presubmit jobs. I wou

[2021-08-17 17:53] Jeffwan commented on #1355
@DeliangFan helps enable the test and we can close this issue

[2021-08-17 17:53] #1355 closed

[2021-08-17 17:55] Jeffwan commented on #1321
We have cut v1.2-branch to host legacy tensorflow controllers and enable test for any new coming bug fixes.

alpha version of universal training operator has been released https://github.com/kubeflow/tf-operator/releases/tag/v1.3.0-alpha.2.

We can close this issue.

[2021-08-17 17:55] #1321 closed

[2021-08-17 18:07] andreyvelich commented on #1353
Yes, you are correct, we don't deploy another cluster in post-submit, but we are still using Argo AWS Cluster to run these Kaniko containers.

I am not sure if that will be easy.
Since once Argo Workflow is started, we mount volume for it with the repo and test sources.
To restart it, we should deploy a new Argo Workflow with the new volume.

[2021-08-18 18:11] Jeffwan commented on #1324
This has been fixed.

[2021-08-18 18:11] #1324 closed

[2021-08-18 18:14] Jeffwan opened #1376 "Provides a default Grafana dashboard"
Part of https://github.com/kubeflow/tf-operator/issues/1340

Let's create a default Grafana dashboard once #1375 is done. That would be helpful for operator maintainers to understand workloads in the cluster

[2021-08-18 18:15] Jeffwan commented on #1376
/area enhancement
/help
/good-first-issue

[2021-08-19 02:22] gaocegege commented on #1348
ping @kubeflow/project-steering-group

[2021-08-19 02:25] gaocegege commented on #1304
Ref https://github.com/kubeflow/tf-operator/blob/master/manifests/base/crds/kubeflow.org_tfjobs.yaml#L3

CRD is upgraded already, I think we can close it safely.

[2021-08-19 02:27] gaocegege commented on #1162
Can we rename the issue since the vendor directory is already removed

[2021-08-19 03:43] Jeffwan commented on #1162
Sounds good. I rename it

[2021-08-19 08:32] johnugeorge commented on #1348
Also, need to ensured that prow settings are correctly reflected when repo name is changed

[2021-08-19 08:57] johnugeorge commented on #1345
How about getting v2 API directly in the universal operator while we continue using v1 from current MPI repo?  This way, both will be isolated and switching from v1 to v2 will be easy?

[2021-08-19 13:57] alculquicondor commented on #1345
I vote yes to that. We can migrate only the v2 API. But we are not ready yet.

[2021-08-19 19:17] Jeffwan commented on #1345
@johnugeorge

@zw0610 proposed to merge two version in this repo. Since mpi uses different API versions, it's ok for them to coexist. There're lots of v1 users as I know and they will not immediately migrate to v2 because of both operator and api changes

[2021-08-19 19:52] alculquicondor commented on #1303
Created proposal in k8s to count the number of Ready pods (stronger than Running) kubernetes/enhancements#2880

[2021-08-19 20:11] alculquicondor commented on #1345
One problem I see is that we don't have a conversion webhook. The v2 controller can't support v1 APIs, and even if it could, it cannot handle the missing resources that jobs created with a v1 controller wouldn't have (like the workers Service). I think it's reasonable to only have support for v2. If users don't want to upgrade yet, they can keep using the separate v1 controller.

[2021-08-19 20:42] Jeffwan commented on #1345
I mean two apis + two controllers. Just treat mpiv2 as a separate framework. In that case, we don't necessarily need conversions in that case.

[2021-08-19 20:52] alculquicondor commented on #1345
I don't see much value from adding the two controllers, considering the extra effort.

[2021-08-19 20:58] theadactyl commented on #1348
hi there -- I think first we should figure out where there are mentions of
tf-operator everywhere (code, docs, etc) so we can update accordingly. What
is the new name you were thinking of?

On Thu, Aug 19, 2021 at 1:33 AM Johnu George ***@***.***>
wrote:

[2021-08-19 21:01] alculquicondor commented on #1345
I think we should take this as an opportunity to encourage users to upgrade and simplify their infrastructure.

[2021-08-20 01:48] terrytangyuan commented on #1348
Perhaps "training-operator" or "training-operators"? Any suggestions? @kubeflow/wg-training-leads

We can update the docs later once the repo is renamed. GitHub will auto-redirect to the new URL so we don't have to worry about breaking existing links.

[2021-08-20 01:56] gaocegege commented on #1348
training-operator LGTM.

[2021-08-20 16:09] theadactyl commented on #1348
LGTM as well, but I'll wait for @bobgy to confirm. As long as we have a
plan to update documentation right after. I believe we can easily handle
repo rename.

On Thu, Aug 19, 2021 at 6:56 PM Ce Gao ***@***.***> wrote:

[2021-08-20 16:20] jbottum commented on #1348
+1 on training-operators (or training-operator is there is a good reason not be plural), @kimwnasptd will this change impact manifests ?

[2021-08-23 03:03] zw0610 commented on #1369
Definitely, a new optimizer that can cope with this volatile environment is required. But diverse parameter server mode, a regular optimizer supporting asyncrhonized updating is sufficient. dynamic bs adjusting mainly comes from the diverse worker mode.

Regarding experiments, we probably need to provide this feature in tf-operator as the experiment environment for algorithm researchers to proceed