[2017-07-26 04:24] jlewi opened #4 "Add a creationTimestamp"
We should add a creationTimeStamp to the metadata of TfJobs.

[2017-07-26 05:14] jlewi opened #5 "TfJobRestClient.Create doesn't set kind appropriately"
If you create a job using and then use kubectl we get an error

[code]

[2017-07-26 12:36] jlewi commented on #4
Looks like K8s automatically adds the creationTimestamp to metadata so we don't have to.

- apiVersion: mlkube.io/v1beta1
  kind: TfJob
  metadata:
    creationTimestamp: 2017-07-26T06:07:49Z
    labels:
      test.mlkube.io: ""
    name: gpu-load-test-job-6sfu
    namespace: default
    resourceVersion: "11348"
    selfLink: /apis/mlkube.io/v1beta1/namespaces/default/tfjobs/gpu-load-test-job-6sfu

[2017-07-26 12:36] #4 closed

[2017-07-26 12:37] jlewi commented on #5
If we list the items though Kind is set in the result.

[code]

[2017-07-26 12:45] jlewi opened #6 "Better GPU support"
We should make it easier to use GPUs.

Right now to use GPUs the user would have to add appropriate volume mounts to the PodSpec in the TfJob to mount the GPU devices from the host and set other specs like environment variables if needed.

I think we should have a higher level API. For example

[code]
The TfJob controller could then be instantiated with the necessary information to add the appropr

[2017-07-26 16:34] enisoc commented on #5
What client/server versions are you running? (output from `kubectl version`)

[2017-07-26 16:42] wbuchwalter commented on #6
Hey!
If the user is not responsible to mount the drivers, what's your vision to deal with different driver versions, and different install locations?

[2017-07-26 20:03] jlewi commented on #5
jlewi@jlewi-carbon-glaptop:~/git_training$ kubectl version
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.0", GitCommit:"d3ada0119e776222f11ec7945e6d860061339aad", GitTreeState:"clean", BuildDate:"2017-06-29T23:15:59Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.7", GitCommit:"095136c3078ccf88

[2017-07-26 21:11] enisoc commented on #5
I think you have hit https://github.com/kubernetes/kubernetes/issues/44182. The fix would be to make sure your operator always sets the apiVersion and Kind on objects it sends to the server.

For future reference: CRD enforces this properly on the server side, so you would have received an explanation in an error message when the operator originally tried to create the object.

[2017-07-26 22:03] jlewi commented on #5
Thanks. We'll plan on migrating to CRD. I tried setting Kind and Version in the create requests to the server but this wasn't working as expected. Since TPR's are deprecated, I think it makes sense to migrate to CRD first and seeing if its still an issue.

[2017-07-26 22:18] jlewi commented on #6
Hi

So I think it would be the responsibility of the "ops" person who deploys the TfJob operator to specify the location of the drivers on the host machine and appropriate mount points in the cluster.

This assumes that all GPU nodes in the cluster use the same driver version and have the drivers installed in the same location.

Supporting more multiple driver versions really depends on whether K8

[2017-07-27 19:43] wbuchwalter opened #7 "Dependency management"
Hi,
Currently the project is not buildable because there has been breaking changes in `k8s.io/client-go/pkg/api/v1`, so `go install` complains that it cannot find buildable Go source files.

Are you open to add something like dep or Glide to lock-in specific versions of the project's dependencies?

[2017-07-30 22:23] jlewi commented on #7
Hi,

Yes. I'm open to this.

Would bazel be an option?

@vishh @foxish Do you have thoughts about what the best way to solve this is?

I'm not particularly familiar with Glide or dep. I'd like to adopt whatever tooling K8s is planning on using.

[2017-07-30 23:24] wbuchwalter commented on #7
I believe bazel doesn't offer dependency management but only the build system.

Most kubernetes projects are using `godep`, but it seems this tool is now being slowly replaced by `glide` or `dep`. See `kubernetes/client-go` [own doc which talk about this](https://github.com/kubernetes/client-go/blob/master/INSTALL.md).

`etcd-operator` is using `glide` for example.

It should be quite easy to from

[2017-07-31 17:30] jlewi commented on #6
PR #9  is out for review.

Its pretty close to what I suggested above. Main difference is we look at container resources and limits to determine if GPUs are required rather than introducing new fields to indicate when GPUs are desired.

[2017-07-31 20:17] wbuchwalter commented on #7
Fixed by #8

[2017-07-31 20:17] #7 closed

[2017-08-01 04:24] jlewi commented on #6
PR #9  is merged.

[2017-08-01 04:24] #6 closed

[2017-08-02 21:28] wbuchwalter opened #13 "TensorBoard Integration"
How do you see TensorBoard integrating with this solution?
It would be really cool if I could create a template, ask for TensorBoard to be deployed as well and receive either a ClusterIP or Public IP.

For example this could look like:

[code]

TensorBoard would then run as a sidecar in the master's pod.
Now the main issue here is accessing the log files.
An easy way would be to document a certain

[2017-08-02 22:03] jlewi commented on #13
I was thinking that it would work something like the following.

The user would just specify the location of the checkpoint in the TfJob e.g. something like this

[code]
The TfJob operator would then just create/manage a ReplicaSet that was running TensorBoard with the specified log_dir. The lifetime of that replica set would be tied to the lifetime of the TfJob.

My first assumption is that users

[2017-08-03 15:30] wbuchwalter commented on #13
Regarding storage, to make sure I understand correctly:
Your example `gs://output_dir/check_point_dir` was when using some kind of in-cluster distrbuted storage where there is no need for any kind of credentials, or url to access the storage.

And when dealing with something like Azure Files or GCE Persistent Disks, the template would instead look like:

[code]
Am I understanding this correctly?

[2017-08-03 17:39] jlewi commented on #13
Your spec looks good to me. If you want to take that one that would be great.

On GCP you don't have to mount GCS because GCS is GCP's object storage system. So any process can just read/write to GCS as long as you have appropriate credentials. So you don't have to explicitly mount GCS as a volume as TensorFlow supports reading/writing directly to GCS.

You could do something similar with HDFS sin

[2017-08-03 18:23] wbuchwalter commented on #13
Sure thing!

Yes Azure files supports multiple mounting simultaeously which is quite nice for this use case.

[2017-08-07 13:29] jlewi opened #16 "Run TensorFlow server for parameter servers by default"
For the parameter servers we could just run the TensorFlow server by default and not make the user specify any code to run.

[2017-08-15 19:52] elibixby opened #17 "Should this be converted to a Custom Resource Definition (CRD) in anticipation of 1.7"
Just found out from a k8s expert that Third Party Resources are being removed in favor of Custom Resource Definitions.

https://coreos.com/blog/custom-resource-kubernetes-v17
https://kubernetes.io/docs/tasks/access-kubernetes-api/migrate-third-party-resource/

It looks like it's in beta in 1.7 and TPR will be completely removed in 1.8. So the time to move over is probably now...

[2017-08-16 01:06] #13 closed

[2017-08-16 18:27] jlewi opened #19 "Setup continuous build of containers"
We should continuously build the Docker container for the TfJob operator.

[2017-08-17 19:33] jlewi commented on #17
In progress #20

[2017-08-19 23:38] jlewi opened #21 "E2E test should actually run TensorFlow"
The E2E helm test doesn't actually run TensorFlow. We should update the test so that it will actually run a simple distributed TensorFlow program which will fail if all the workers and parameter servers can't communicate.

[2017-08-20 20:57] jlewi commented on #17
#20 has been merged.

[2017-08-20 20:57] #17 closed

[2017-08-20 20:59] jlewi commented on #21
I was wrong; the test is running the sample which does run a simple TF program.

[2017-08-20 20:59] #21 closed

[2017-08-20 21:02] jlewi commented on #5
This has been fixed by #20

[2017-08-20 21:02] #5 closed

[2017-08-21 00:45] jlewi opened #22 "Provide a default value for TfPort, replicas, and tfReplicaType"
The operator should provide a default port to use for the gRPC TensorFlow server so that users don't have to specify it.

[2017-08-21 13:06] jlewi opened #23 "Operator Log Spam; replicas.go:287] No container named: tensorflow found for pod; assuming POD is running"
Seeing the following in the operator logs

[code]

This is not a helpful error message since its unclear which TfJob it pertains to.

[2017-08-21 13:23] jlewi opened #24 "Structured Logging For the operator"
I think it would be useful if the operator used structured logging.

For example, it would be nice if the operator outputted json formatted records with various metadata tags. One tag could be the name of the job a log message pertains to. This would make it easy to filter the log messages by job.

https://github.com/sirupsen/logrus is a Go package for structured logging. The main reason I initial

[2017-08-21 13:34] jlewi opened #25 "More validation of TfJob"
We should add more validation to TfJobSpec.Validate so that we reject invalid jobs with clear error messages.

Things to check

1. At least 1 ReplicaSet is specified
1. There is a MASTER
1. There aren't multiple ReplicaSet's of the same type

[2017-08-21 17:50] jlewi opened #26 "If handling Add event fails, TfJob should be marked as failed with appropriate error"
Currently if there is a problem handling the Add event for a TfJob, the job just gets stuck as opposed to being reported as failed with an appropriate error message.

Here's an exmaple

[code]

NewTBReplicaSet in this case is failing because logDir isn't specified.

The TfJob just remains in the state as indicated by the YAML above. That's not very helpful. The TfJob should be failed with a helpfu

[2017-08-21 19:10] jlewi commented on #23
The problem is in replicaStatusFromPodList.

[code]
found is only true if the container is terminated.

[2017-08-21 19:26] jlewi commented on #26
In progress #27

[2017-08-21 19:26] jlewi commented on #23
See #27

[2017-08-21 20:23] jlewi opened #28 "Permanent errors don't cause job failure"
If a container crashes with an exit code of 1 this should be considered a permanent error and cause the job to fail.

This doesn't happen because
isRetryableTerminationState
https://github.com/jlewi/mlkube.io/blob/master/pkg/trainer/training.go

Requires that a termination message be set in order for the exit code to be trusted.
This is legacy code that is no longer applicable. It assumes we were

[2017-08-21 23:42] jlewi opened #29 "E2E test(s) to verify that permanent and retryable errors are handled correctly."
We should add an E2E test that ensures that we handle different exit codes of the master correctly.

This would prevent issues like #28.

[2017-08-21 23:45] jlewi opened #30 "E2E test that verifies invalid jobs are failed"
We should add E2E tests that verify if a TfJob spec is invalid, then the job is marked as failed with an appropriate reason set.

See #26

[2017-08-21 23:46] jlewi commented on #26
Fix has been merged.
Filed #30 to add an E2E test.

[2017-08-21 23:46] #26 closed

[2017-08-21 23:47] jlewi commented on #23
Fixed by #27

[2017-08-21 23:47] #23 closed

[2017-09-01 13:47] wbuchwalter commented on #22
Could we also provide a default value for `replicas` (1) and `tfReplicaType` (master)?
That would make using TfJob for single VM training a breeze.

[2017-09-01 17:02] jlewi commented on #22
Yes. I think we should try to provide sensible defaults for as much as possible to make it as easy possible to get started. I just want to be specific in the GitHub issue.

[2017-09-03 18:37] jlewi commented on #22
#31 is out fore review.

[2017-09-03 20:17] jlewi opened #32 "Structured (Json) logging for Tf Processes"
We'd like to support outputting structured (json) log entries from TensorFlow processes. These json log entries should contain metadata in the form of key-value pairs which provide information such as
  * Job name
  * Replica type and index that generated the log message

The goal is to allow K8s clusters to be configured to use a backend for logging (e.g. StackDriver logging on GKE) that can inde

[2017-09-05 12:37] jlewi commented on #32
So I did some prototyping (see #33) of a custom Python logger which outputs json formatted log entries.

This approach turns out to have a problem because log messages coming from TensorFlow c++ code don't go through the python logger. TensorFlow's [LogMessage::GenerateLogMessage](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/default/logging.cc) just writes to stder

[2017-09-05 15:45] foxish commented on #32
IIUC, The requirements are - using `kubectl logs` through writing to stdout/stderr, and getting annotated logs in the logging backend.

I think then option 2 is fine, as it's not uncommon to have a [streaming sidecar container](https://kubernetes.io/docs/concepts/cluster-administration/logging/#streaming-sidecar-container) to intercept and annotate logs. OTOH, in the longer term, maybe an issue sh

[2017-09-05 17:16] jlewi commented on #32
Thanks @foxish.

I think it would be reasonable to modify TF logging, but what about every other c++ extension/library that code might invoke? So IMO relying on c++ extensions to allow logging to be controlled via environment variables or from python seems destined to always be an incomplete solution.

Arguably stdout/stderr already define a well established convention for exporting logs so that s

[2017-09-05 19:15] wbuchwalter opened #34 "Rename project"
If I understand correctly mlkube was the internal name of this project at Google?
What do you think of renaming this repo to TFJob, or Tensorflow-operator?
Not a big deal, but it would be good for discoverability/clarity IMO.

[2017-09-06 01:47] jlewi commented on #32
@wbuchwalter Do you want to weigh in? I'd appreciate hearing your opinion. There's now some prototype code in #33 of a logger running in a sidecar.

[2017-09-06 18:33] wbuchwalter commented on #34
Absolutely!
I just sent an email to the address figuring on your Github profile.

[2017-09-06 23:53] bhack commented on #34
Why not pushing this in the official repo  https://github.com/tensorflow/ecosystem?

[2017-09-06 23:56] bhack commented on #22
Merged

[2017-09-07 01:34] #22 closed

[2017-09-07 16:11] wbuchwalter commented on #32
Could we manage this using k8s API instead?
When a TF pod starts, we look at the labels of the pod to get all the metadatas we need and then stream the logs of the pod through the k8s API and reformat them before sending them to the logging backend.

We would still need to work around the multi-line issue though.

[2017-09-07 17:12] jlewi commented on #32
That's a great idea!  So the logger can use the [ReadLog](https://kubernetes.io/docs/api-reference/v1.7/#read-log) API to fetch the logs. We can also fetch the labels from the POD rather than passing them in via command line.

[2017-09-07 18:29] vishh commented on #32
I'd recommend not requiring access to k8s APIs for security and scalability reasons. This is a common problem because our current logging pipeline doesn't really support structured logging. Let's see if k8s offers any generic solutions for this problem. cc @crassirostris to see if he has any idea here.

In general, we recommend sidecars in k8s world since it decouples the main app from the actual

[2017-09-07 18:39] crassirostris commented on #32
I agree with @vishh, relying on sending all logging traffic through the apiserver is _not_ a great idea

If you're not able to use json logs, I would suggest rolling with the sidecar approach. Logging is complex: the default Stackdriver Logging integration will handle metadata, rotation, buffering on the node side and so on for you. It's possible that in the future it'll be possible to configure t

[2017-09-07 20:11] jlewi commented on #32
@vishh @crassirostris thanks for the pointers that makes sense.

I think the plan involves using a sidecar either way. I think the main question is how to redirect logs to the sidecar. We want to avoid the ugliness that @wbuchwalter mentioned of forcing users to redirect stdout/stderr.

Can we just volume mount the container logs produced by Docker and process those log files directly? I assume th

[2017-09-08 09:39] crassirostris commented on #32
Yes, you can setup your own logging agent, e.g. fluentd, then get container metadata using e.g. https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter and then apply a special multiline format for container you're interested in, and drop the rest. Or implement your own plugin to get the metadata from the apiserver and only process logs which belong to the containers you're intereste

[2017-09-08 13:12] wbuchwalter commented on #16
How would we handle the different version of TF?
Can we assume that TF won't make any breaking change around data exchange between PS and workers in 1.x.x ?
Would a TF 1.3 PS work nominally with 1.1 workers today for example?

[2017-09-08 16:21] jlewi commented on #16
Using multiple versions of TF in the same job is asking for trouble. I think we'd have to provide a mechanism for the user to specify the TF version and it would be up to the user to select a version matching the version in their container.

[2017-09-08 16:57] wbuchwalter commented on #16
Agree.
So we would maintain a collection of docker images containing a simple PS server for each minor TF version.

[2017-09-08 17:24] jlewi commented on #16
Yes.

[2017-09-08 20:52] wbuchwalter commented on #16
FYI, I have started working on this one.

[2017-09-08 22:40] jlewi commented on #16
Great! Thank you.

[2017-09-09 00:12] bhack commented on #16
How we take care of Parameter variable suggestions in https://www.tensorflow.org/performance/performance_models

[2017-09-09 02:06] jlewi commented on #32
Thanks.

I found another relevant [PR](https://github.com/kubernetes/kubernetes/issues/15478) to support letting users specify the logger plugin which I think is ultimately what we'd want to do.

I think for now we'll do the following based on previous suggestions

- Create a "logger" to reformat json formatted Docker log entries as needed
- Run the logger in a sidecar
- Emit the transformed logs

[2017-09-09 07:49] crassirostris commented on #32
This is not a PR, and node team is reluctant to let that happen, because this is runtime-specific.

Note that /var/log/containers is deprecated and will be probably removed in one of the future releases. The correct way of accessing logs is /var/log/pods, but it requires to know the pod id.

I suggest to implement it little bit differently: have an init container, that will create a pipe in a shar

[2017-09-10 18:29] jlewi commented on #32
@crassirostris thank you for explaining node team's view. Attaching labels to logs (and also to metrics like CPU traces) seems like it would be a common request. Are there any issues worth paying attention to?

Any suggestion about how to get the POD id? It doesn't look like I can set an environment variable like I can for POD NAME. I tried

[code]

but this gave me an error

[code]
So the best I

[2017-09-11 09:20] crassirostris commented on #32
It's already available via kubernetes_metadata_filter. Making them available out of the box in GKE setup is in progress, but I'm not sure there's an open-source issue

It should be available: https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information#capabilities-of-the-downward-api

[2017-09-11 13:25] jlewi commented on #32
How does [kubernetes_metadata_filter](https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter) help here? It doesn't seem like that plugin attaches pod labels; presumably because it has no way to get the pod labels.

I could run fluentd in the sidecar and modify the fluentd config on container start to fetch the pod labels and attach them to each entry. But that has the significant d

[2017-09-11 13:41] wbuchwalter commented on #16
@bhack not sure I understand your question.
The parameter server would still be running, and would still be part of the ClusterSpec.
We would just automatically start the PS for you so you don't need to create/maintain your own image.

If I missed your point, feel free to clarify.

[2017-09-11 13:58] bhack commented on #16
It is not strictly related to the PS automation but more on how to broadcast variables and aggregate gradients across different GPUs within the same host machine (the same Node in k8).

[2017-09-11 14:46] wbuchwalter commented on #16
If you request say 1 `PS` and 2 `worker` in your `tfjob`, each instance will be created as a separate job and each one exposed through it's own service.
So even though everything might be happening on a single k8s Node (assuming you only have one in your cluster), it would still behave as if each instance were on separate nodes and the variable updates will happen over the network.
If you want ins

[2017-09-11 15:35] bhack commented on #16
What I meant if we want to totally exlcude intra GPU/NCCL communication use cases.

[2017-09-11 15:42] bhack commented on #16
Probably there is now way to handle affinity and let jobs to communicate intra GPU/NCCL cause a probably a mixed intra GPU and over network deployment network doesn't exist. How much the training process will be slow down when GPU just communicate over the network on the same node?

[2017-09-11 15:43] crassirostris commented on #32
It does, look at the example. It goes to the K8s apiserver to get the data, so you should have a RBAC policy for fluentd, allowing to do that.

[2017-09-11 22:37] jlewi commented on #16
@bhack K8s has [Affinity and Anti-Affinity](https://coreos.com/fleet/docs/latest/affinity.html#affinity-in-kubernetes) which are part of the PodSpec. These can be used to try to prevent some pods or containers from running on the same node.

A potential use for this would be to prevent multiple parameter servers from running on the same node.  Since parameter servers can be IO constrained you migh

[2017-09-11 22:43] jlewi commented on #32
Thanks. This is great this should be exactly what we need.

[2017-09-11 22:51] bhack commented on #16
@jlewi You got the point.. it is really an interesting topic.. probably a little bit too advanced for the actual k8 GPU support. Can you move on a new issue just to not have this topic lost?

[2017-09-11 23:24] jlewi opened #35 "Optimize scheduling of TF Processes"
Opening this issue to track ideas for how to improve scheduling of TF processes.

This topic first came up in
https://github.com/jlewi/mlkube.io/issues/16#issuecomment-328678529

As an example of issues to consider

1. How can we use [pod Affinity and Anti Affinity](https://coreos.com/fleet/docs/latest/affinity.html#affinity-in-kubernetes) to minimize network contention between parameter servers?

[2017-09-11 23:24] jlewi commented on #16
Done. Opened: https://github.com/jlewi/mlkube.io/issues/35

[2017-09-12 00:22] bhack commented on #35
Something related. See that [IBM has something](https://researcher.watson.ibm.com/researcher/files/us-sseelam/GTC2017_MesosKub_Final.pdf) in its k8 fork

[2017-09-13 13:10] jlewi commented on #16
@jsheu It looks like [grpc_tensorflow_server.py](https://github.com/tensorflow/tensorflow/blob/076799bdfae0057723d96f47cf78cb623c8bcd57/tensorflow/tools/dist_test/server/grpc_tensorflow_server.py) isn't part of TensorFlow's published Docker images. Does that seem like a reasonable TF feature request?

[2017-09-13 14:28] wbuchwalter commented on #16
@jlewi just found this: https://hub.docker.com/r/tensorflow/tf_grpc_server/

[2017-09-13 14:56] wbuchwalter commented on #35
A team at Microsoft is also working on this [in a fork](https://github.com/MSRCCS/kubernetes) and talking with the community to see how to integrate it back into mainsteam: https://github.com/Microsoft/DLWorkspace/blob/master/docs/Presentation/1707/Kubernetes_Modifications.pptx

[2017-09-13 15:30] bhack commented on #35
Yes I really hope that a shared vision between stakeholders could land in upstream.

[2017-09-13 17:39] jhseu commented on #16
It'd probably be better for us to build the C++ binary grpc_tensorflow_std_server and publish that. File a bug internally?

[2017-09-13 18:10] jlewi commented on #16
@jhseu Done thanks.

[2017-09-13 22:25] jlewi commented on #32
Closing this issue.

Per the discussion above. The expectation is that K8s will support attaching pod labels to container logs.

[2017-09-13 22:25] #32 closed

[2017-09-14 18:13] jlewi commented on #35
@vishh as FYI

[2017-09-14 18:29] bhack commented on #35
It could be nice to understand also how all this evolution could fit with high level ["reccomended"](https://developers.googleblog.com/2017/09/introducing-tensorflow-datasets.html) API

[2017-09-14 19:45] vishh commented on #35
What is the desired job placement model?

The k8s community is looking into this. I'd love to hear feedback on the desired semantics.

[2017-09-14 22:46] bhack commented on #35
FYI @seelam @liyubobj

[2017-09-19 01:42] jlewi commented on #34
@bhack I've been in discussion with the TF folks. The current plan is to do a review in the next couple weeks to see whether this should be hosted in https://github.com/tensorflow. If the TF team is supportive then it will move to its own repo within https://github.com/tensorflow.

I'd prefer its own repository as opposed to hosting it in https://github.com/tensorflow/ecosystem because  mlkube is

[2017-09-19 01:52] bhack commented on #34
@jlewi Any solution that will give more exposure to this project is good. Now that DCOS support k8 also @klueska could be interested in this.

[2017-09-19 04:29] jlewi opened #40 "Use headless services for Training jobs"
We should use [headless services](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services). We don't need load balancing since there is a single pod that is the backend for each service. I think this should provide some performance benefits but I don't know how much.

[2017-09-21 12:28] loadwiki opened #41 "func c.findAllTfJobs() in controller.go will never reach"
err := c.createCRD()
	if err != nil {
		if k8sutil.IsKubernetesResourceAlreadyExistError(err) {
			// CRD has been initialized before. We need to recover existing cluster.
			watchVersion, err = c.findAllTfJobs()
If only if c.createCRD() return an error that matches status "AlreadyExist", func  c.findAllTfJobs() will be called. However , see code in func createCRD() below:

 	_, err := c.ApiCli.Ap

[2017-09-21 12:45] loadwiki opened #42 "Use K8s Garbage Collection"
The code in gc.go collect pod、svc、deploy with special label app=tensorflow-job.
But the resource in a tfjob such as job svc doesn't have that label.
So, will you add the  label when create job in the future.
In addition, tfjob doesn't have a k8s deploy,and delete pod of a job doesn't work because the job object haven't been deleted.
At the end, where does garbage come from? When a user deletes a t

[2017-09-26 13:30] jlewi commented on #42
Thanks for reporting this. You are correct that the method FullyCollect won't work because it depends on the app label which currently isn't applied. It looks like the functions k8sutil.LabelsForJob is never called.

This is by design. We leave the pods around until the TfJob is deleted. This allows logs to be fetched via kubectl logs. This mirrors the behavior of the built in K8s JobController.

[2017-09-26 16:03] jlewi commented on #42
Garbage collection for CRD should be in 1.8.

[2017-09-26 16:10] jlewi commented on #41
You're correct. Thanks for reporting this. Have you observed problems caused by this bug?

[2017-09-27 09:21] loadwiki commented on #41
First we delete a tfjob when the tf-operator's controller is down.
Then we start the tf-operator.
At last, the tfjob cluster which should  be deleted before,  will not be deleted by the new controller instance.

[2017-09-27 13:39] #41 closed

[2017-09-27 13:47] jlewi commented on #41
Thanks @loadwiki. Should be fixed by #43. I've published a new Docker image as well.

[2017-09-29 01:41] jlewi opened #45 "Consider how we manage replicas (stateful sets, managing pods directly)"
In the current implementation if a TfProcess (e.g. PS, MASTER, WORKER) has N replicas. We end up creating N job controllers. This is largely a hold over from the initial implementation which predated StatefulSets. Now that StatefulSets are more mature we should consider switching to StatefulSets. This should simplify the logic in the CRD.

The main challenge to using StatefulSets is figuring how t

[2017-09-29 01:44] jlewi commented on #45
@vishh FYI.

[2017-09-29 05:13] #28 closed

[2017-10-02 23:37] jlewi commented on #45
Another issue is figuring out what to do about logs.

I'd logs to be available after a job finishes but before it is deleted via kubectl logs. But a stateful set will just restart the container so I'm not sure how we preserve logs.

[2017-10-09 20:28] jlewi opened #46 "Integrate with Prow for Continuous Testing"
We would like to integrate with [Prow](https://github.com/kubernetes/test-infra), K8s, test infra to provide continuous testing.

After some initial discussion with @foxish and @krzyzacy the current plan is to have 2 prow jobs;

- First job will checkout an build a container containing the CRD and E2E tests.
- Second job will install the CRD and run the E2E tests.

The current plan is to not rely

[2017-10-13 21:37] jlewi commented on #46
Initial ProwJobs were defined in [kubernetes/test-infra/pull/4951](https://github.com/kubernetes/test-infra/pull/4951).

Next steps
- Configure mlkube.io to send webhooks to Prow so that we trigger Pre/Postsubmits.
- Actually bring up a GKE cluster and deploy the CRD as part of the test.

[2017-10-16 18:11] foxish commented on #45
That should be possible through the [downward API](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/) and some sort of init script that configures env-var differently on each replica. The logs issue is more difficult because StatefulSets were not designed to support completion semantics.

Another alternative worth investigating is just scheduling

[2017-10-17 12:27] jlewi opened #53 "Run lint (Python, Go) as a presubmit test"
We should run lint checks as a presubmit test.

Would be nice to do markdown as well but I'm not sure if there's a linter for markdown.

[2017-10-17 13:46] jlewi opened #54 "E2E test for GPUs"
We should add an E2E test to verify that GPUs work.

[2017-10-17 23:29] jlewi commented on #46
Status

- A complete E2E test was submitted in #49
- Prow is running pre & post submit prow jobs
- Periodic jobs don't appear to be running
- No results are showing up in the [Test Grid](https://k8s-testgrid.appspot.com/sig-big-data#Summary)
- K8s chatbot can't update test status on PRs; waiting on owner of chatbot account to accept invite to be an admin of the mlkube.io repository
- Need to add r

[2017-10-17 23:37] krzyzacy commented on #46
the periodic job was keep failing without logs - http://prow.k8s.io/?type=periodic&job=mlkube-build-periodic, I'll retrigger and see what is going on

pr/postsubmit jobs probably need a different log path in testgrid

[2017-10-17 23:41] jlewi opened #55 "Set a default value for restartPolicy"
Users shouldn't need to explicitly set restart policy. We should be able to pick sensible values.

[2017-10-17 23:41] krzyzacy commented on #46
[code]

[2017-10-18 00:22] jlewi commented on #46
@krzyzacy ; thanks. I'll put together a fix for the periodic issue.

[2017-10-18 03:50] jlewi commented on #46
#56 hopefully fixes the periodic test; should run every 8 hours so should know tomorrow morning.

[2017-10-18 17:26] jlewi commented on #46
@krzyzacy My fix for the periodic jobs doesn't appear to have worked. Could you check the logs or tell me how I can check them?

[2017-10-18 17:44] krzyzacy commented on #46
the job comes from http://prow.k8s.io/?job=mlkube-build-periodic, but since it failed early on, it did not upload any logs :-( and the failing pod will be deleted within next hour.. You can try click rerun and run the kubectl command it pops up. (I'll retrigger and check the log)

[2017-10-18 18:28] jlewi commented on #46
@krzyzacy Thanks; I was looking at the wrong tab; http://prow.k8s.io/?repo=jlewi%2Fmlkube.io. I realize now periodic jobs don't specify the repository so they wouldn't show up under the repository tab.

Here's the error; another bug on my end.
[code]

[2017-10-18 18:55] jlewi opened #57 "UI / Kubernetes Dashboard Integration"
It would be nice to have a UI that provides features like the following

- List of jobs with relevant links (e.g. to TensorBoard)
- Wizard to help create new jobs
   - Something similar to the "deploy" wizard in the kubernetes dashboard.

It looks like K8s is thinking about how to support CRDs in the K8s dashboard [issue/1559](https://github.com/kubernetes/dashboard/issues/1599). So that might giv

[2017-10-18 21:33] wbuchwalter opened #58 "E2E Test for default PS server"
We should create an E2E test to make sure that the default PS server behaves correctly.

[2017-10-18 23:29] jlewi commented on #46
k8s-bot integration is now working; see #50

[2017-10-18 23:35] jlewi opened #59 "presubmit test(bootstrap.py) doesn't properly check out PRs"
Presubmit test submitted on #36 failed with the following error.
[code]
Looks like the issue is that bootstrap.py is trying to checkout the code from github.com/jlewi/mlkube.io. But since the PR is from a different user the code is in a different repo.

So to fix it I need to figure out which environment variables to use. We can modify boostrap.py to log the environment variables.

[2017-10-18 23:36] jlewi commented on #46
Filed #59 to fix an issue with presubmits.

[2017-10-19 03:38] jlewi commented on #59
Fixed by #60

[2017-10-19 03:38] #59 closed

[2017-10-19 13:05] jlewi opened #61 "tensorflow 1.4 and estimator support"
In TensorFlow 1.4 TF_CONFIG uses "chief" and not "master" see [here](https://www.tensorflow.org/versions/r1.4/api_docs/python/tf/estimator/train_and_evaluate).

We should figure out what changes we should make to support this. We should also figure out how to continue supporting older versions of TF.

Estimator also added evaluation replicas which might not finish until after the master/chief fini

[2017-10-19 13:23] jlewi commented on #46
#59 is fixed

Periodic jobs are fixed. http://prow.k8s.io/?job=mlkube-build-periodic

[2017-10-19 14:19] jlewi opened #62 "Post submit jobs don't correctly upload artifacts to GCS"
If you click on a post submit job to get the results we see an error like:

[code]

[2017-10-19 18:26] jlewi opened #63 "Setup release process for CRD"
We should setup a release process for the CRD.

The artifact should be a helm package published in GCS so that customers can just do

[code]
or for users wanting a specific version

[code]

The steps involved are

1. Get the latest green postsubmit
1. Check out the code
1. Build and push the docker image
1. Update default values for the chart to point to the new image.
1. Push a .tar to GCS

We ca

[2017-10-19 18:39] jlewi commented on #16
Fixed by #36

[2017-10-19 18:39] #16 closed

[2017-10-19 22:07] jlewi commented on #34
The TensorFlow team has agreed to give this project is own repository under tensorflow. We just need to come up with a name. The thinking is that the repository should be scoped somewhat narrowly to Tf for Kubernetes and the name should reflect that.

Suggestions?

How about?
k8s-crds
k8s-custom-resources
k8s-jobs
k8s-controllers
k8s-components
k8s

Since it will be under the tensorflow org I don'

[2017-10-19 22:12] jlewi opened #64 "API Review"
Opening an issue to track API issues that should be addressed as part of moving from Alpha to Beta.

  - TfReplicaType
        - Should this be an enum?
        - Instead of specifying replica type should we specify features e.g. run forever, restart always, etc...

  - master vs. chief nomenclature

@mrry from tensorflow should be included on the eventual api review.

[2017-10-19 22:14] jlewi opened #65 "Change version from beta -> alpha"
We should try to follow [k8s guidelines](https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#alpha-beta-and-stable-versions) for versioning.

So the version should be v1alpha1 not (v1beta1) until we can meet the beta criterion.

[2017-10-19 22:23] bhack commented on #34
I like k8s and k8s-jobs

[2017-10-20 11:33] MarkusTeufelberger opened #67 "How to create TF Jobs from the user side?"
I am wondering how the actual procedure would be to go from a simple `hello world` example to actually deploying it on a mlcube-enabled k8s cluster.

Your example seems to include a Docker container and setting the script (which also has to contain some rather specific scaffolding, like reading config from the environment) as `ENTRYPOINT`. Is that the recommended way? Or even the only way?

Ideall

[2017-10-20 12:01] bhack commented on #34
@jlewi There will be an official announce, blog post, social to promote a little bit this switch?

[2017-10-20 12:03] wbuchwalter commented on #34
`k8s-jobs` is the clearest IMO.
`crds` and `custom-resources` are not a very well known feature of k8s unless you are already deep in the ecosystem.
`k8s` might be a bit too vague, and create confusion as to what is inside (i.e. tensorflow-serving ? )

[2017-10-20 12:06] wbuchwalter commented on #67
@MarkusTeufelberger currently yes this is the only way. You need to build the container on your end grab the `TF_CONFIG`.
Most likely at some point there will be some tools abstracting the container creation away from the user though, @jlewi has some thoughts on this.
Regarding the `tf.clusterSpec`, how would you like it to be passed? As arguments instead?

[2017-10-20 12:07] aronchick commented on #34
I would prefer `k8s-crd`. `k8s-job` has a special meaning in the k8s world. I know that `k8s-crd` is  not well understood, but it's the most descriptive/accurate (one assumes that you'll know what it means if you're deploying to K8s.

[2017-10-20 12:22] bhack commented on #34
@wbuchwalter @aronchick I agree with your comments. What I like of k8s name is that it really seems more an "official effort". It is more like: "this is the official Tensorflow effort if you want to use it on k8".
We come from a story of a not so much lucky https://github.com/tensorflow/ecosystem so a strong signal is important an this was the main motivation of my previous comment about the promo

[2017-10-20 12:25] MarkusTeufelberger commented on #67
Config via the environment is fine, it is just more or less just documented in code right now. Also in both cases (arguments/environment), some custom logic besides the actual machine learning code is required to make sure the script knows which role it should assume (the boilerplate code in main() in https://github.com/jlewi/mlkube.io/blob/master/examples/tf_sample/tf_sample/tf_smoke.py)

Ideally

[2017-10-20 13:05] jlewi commented on #34
@aronchick @wbuchwalter @bhack I prefer k8s as well. I like it because its simple and generic enough to still be appropriate if we want to add components to aid TF on k8s which aren't CRDs. An example might be a UI/Dashboard or a server to stage packages so you don't have to build docker images just to distribute your code (so the UX would be similar to staging packages on hadoop/spark).

Another

[2017-10-20 13:13] jlewi commented on #34
@bhack I hope we will do some announcements/blog posts (kubecon?) but those will happen after the move. One of the things highlighted in a discussion yesterday with the TensorFlow team is that we need more realistic examples/tutorials. Taking an existing TensorFlow example and showing how to run it distributed on K8s would make a great blog post. Its just a question of finding someone with cycles.

[2017-10-20 13:15] bhack commented on #34
@jlewi Yes I think it is sane.

[2017-10-20 19:05] jlewi commented on #67
Thanks for taking the time to try it out and provide feedback.

For staging your code building docker containers is one approach and common in K8s.

Another approach would be to use a shared filesystem (like NFS). You could then mount your code into the job via volume mounts. If the filesystem is also mountable on your dev box then you can edit code and make it available to your jobs without build

[2017-10-20 19:08] jlewi opened #68 "Clean up examples; don't require cloning the repo"
The examples are a bit of mess.

Do we need to use helm for the examples?

It would be nice if folks didn't need to clone the repo just to run the examples. If we use helm we should deploy the package to GCS as part of our releases so users can run them just by installing the archive using a public link. If we have raw, untemplated, YAML then we can just use a github https link with kubectl.

[2017-10-20 23:28] jlewi opened #70 "Create a web page to list releases"
It would be nice to be able to list releases with out using gsutil.

It would be nice to create a simple web page that automatically lists and shows all releases.

Alternatively when we push a release we could create an index.html file and serve that from GCS.

[2017-10-20 23:38] bhack commented on #35
See also https://github.com/kubernetes/kubernetes/issues/49964

[2017-10-21 16:13] wbuchwalter opened #71 "Simplify/Clarify Accelerators config"
Accelerators configuration should be surfaced in chart's values.yaml, and examples should be provided for the different providers.

[2017-10-21 19:07] jlewi commented on #71
In addition to letting users specify config directly, could we have an enum based on which we would select a default config suitable for a particular cloud so a user could do something like

[code]

or

[code]

The cloud value would be used to select from different config files provided as part of the chart.

For users would complete control they could do something like the following

[code]

[2017-10-22 23:11] jlewi commented on #67
@mgyucht I saw your [talk](https://www.slideshare.net/databricks/a-tale-of-three-tools-kubernetes-jsonnet-and-bazel) about automating the build and deploy docker image using bazel and ksonnet using your kubecfg tool. Has that been released?

[2017-10-23 00:07] jlewi opened #72 "Include TfJob name in labels"
We should include the TfJob name in the labels of all resources. This would make it easy to identify all resources associated with a particular job.

Here is the current set of labels attached to a pod.

[code]

[2017-10-23 04:40] mgyucht commented on #67
@jlewi It hasn't yet... Until then, you might find success using @mattmoor's rules_k8s https://github.com/bazelbuild/rules_k8s + https://github.com/bazelbuild/rules_jsonnet, which supports a similar-ish workflow if you want to try to get something up and running now.

[2017-10-23 04:59] mattmoor commented on #67
@jlewi I'm happy to send you pointers or give you a demo.  The `rules_k8s` repo has a sample that generates K8s config via `rules_jsonnet` and feeds them into `rules_k8s`.  I can give pointers to more complex examples too, if you want.

[2017-10-23 16:54] jlewi commented on #34
@jhseu do you want to weigh in?

[2017-10-23 17:06] jlewi commented on #67
@mgyucht @mattmoor  Thanks for the pointers.

@MarkusTeufelberger I'm going to close this issue. Feel free to reopen if your question hasn't been addressed.

[2017-10-23 17:06] #67 closed

[2017-10-23 22:53] jlewi opened #75 "No results show up in prow test grid for presubmit jobs"
Results are showing up in [testgrid](https://k8s-testgrid.appspot.com/sig-big-data#Summary) for postsubmit and periodic jobs but not presubmit jobs.

[2017-10-23 22:54] jlewi commented on #46
Results are showing up in [testgrid](https://k8s-testgrid.appspot.com/sig-big-data#Summary) for postsubmit and periodic jobs but not presubmit jobs.

Filed #75

[2017-10-23 23:30] jlewi commented on #62
Confirmed this is now fixed.

[2017-10-23 23:32] jhseu commented on #34
No strong opinion. Any of the listed options seem reasonable to me.

[2017-10-23 23:34] jlewi opened #76 "No results show up if you click on mlkube-build-periodic"
If you click on periodic jobs in prow, we get the following internal service error

[code]

[2017-10-24 00:23] jlewi commented on #62
This doesn't match what the This [doc](https://github.com/kubernetes/test-infra/tree/master/gubernator#gcs-bucket-layout) say

They specify the following GCS layout.

[code]

So maybe the docs are wrong?

I looked at a different job

[maintenance-ci-testgrid-config-upload](https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml)
is a post submit build.

[code]
   * This is the locati

[2017-10-24 02:13] jlewi commented on #75
According to the instructions

[code]

Do we need to create symbolic links below **pr-logs/directory**?

[2017-10-24 03:09] jlewi commented on #75
Reopening until I verify its fixed.

[2017-10-24 03:11] jlewi commented on #76
Look at the code in view_build.py

[code]
If we look at started.json

[code]
So the problem appears to be that we shouldn't set the pull entry to the empty string in started.json

[2017-10-24 11:20] jlewi commented on #70
[gcsweb](https://github.com/kubernetes/test-infra/tree/master/gcsweb) is a web frontend for GCS that is part of prow. I think we just need to add our bucket to allowed buckets. Otherwise it redirects to the GCS storage browser which requires logging in.

[2017-10-24 11:28] jlewi commented on #34
@jhseu lets go with **tensorflow/k8s** then.

[2017-10-24 11:54] jlewi commented on #75
I think we need need to create the symbolic links.

[2017-10-24 11:54] jlewi commented on #76
Still not fixed.

[code]

[2017-10-24 12:38] #76 closed

[2017-10-24 12:41] jlewi commented on #75
Here's an example

[code]

[2017-10-24 14:05] jlewi opened #80 "E2E tests leaking GKE clusters"
E2E tests seem to be leaking GKE clusters

[code]
(Clusters are listed as stopping because I manually deleted them).

[2017-10-24 17:39] jlewi commented on #75
This is fixed.

[2017-10-24 17:39] #75 closed

[2017-10-24 17:42] jlewi opened #81 "Build sample container as part of release process"
We should rebuild the [samples Docker image](https://github.com/jlewi/mlkube.io/blob/master/examples/tf_sample/Dockerfile.template) as part of the release.

Since there will be breaking API changes in the future it would be good to version the examples in tandem with the CRD.

We will most likely want to build 2 images; one based on TF-CPU and one on TF-GPU.

[2017-10-25 13:59] jlewi opened #82 "runner.py needs to create build-log.txt with stdout/stderr of test"
See [GCS Layout](https://github.com/kubernetes/test-infra/tree/master/gubernator#job-artifact-gcs-layout)

We should be creating build-log.txt with stdout/stderr from the test.

Ideally we should capture output of bootstrap.py as well. We can probably just add a logging handler
that appends logs of bootstrap.py and runner.py to a file.

[2017-10-25 14:08] jlewi opened #83 "periodic test is failing"
Periodic test is failing

[code]

I think we need to fix #82 so that we have the stdout/stderr so we can debug it.

[2017-10-25 18:34] jlewi commented on #34
Project has been moved. Thanks @jhseu

[2017-10-25 18:35] #34 closed

[2017-10-25 18:36] jlewi opened #84 "Update prow to use repo tensorflow/k8s"
The repository has moved to tensorflow/k8s so we need to update prow.

[2017-10-25 18:37] jlewi opened #85 "mlkube.io -> tensorflow/k8s"
Now that we've moved the repo to tensorflow/k8s we need to update all the go imports and other references to mlkube.io

[2017-10-25 18:38] jlewi opened #86 "Update repo to use its new location tensorflow/k8s"
This is the uber tracking bug.

Items
  - #84 Update prow to the new repository location
 - #85 Update mlkube.io -> tensorflow/k8s in the code

[2017-10-25 22:20] jlewi opened #88 "Setup travis for tensorflow/k8s"
We need to enable travis on the new repo: tensorflow/k8s

[2017-10-25 22:54] jlewi opened #89 "Rename TfJob kind to remove mlkube.io"
Currently the TfJob kind is

[code]

We should rename it to

[code]

[2017-10-25 23:48] jlewi commented on #88
Travis is running as [post submit](https://travis-ci.org/tensorflow/k8s)
Presubmits are failing though

[code]

Why is it calling the repo tensorflow/mlkube?

[2017-10-26 03:58] jlewi commented on #88
Its working.

[2017-10-26 03:58] #88 closed

[2017-10-26 03:59] jlewi commented on #53
Looks like kubernetes/test-infra is getting rid of using Travis so we should probably do the same.

[2017-10-26 07:16] wbuchwalter opened #93 "Copy chart to kubernetes/charts"
Once #71 is in, we should also make a PR to kubernetes/charts.
This would allow the installation of the chart by just doing
`helm install incubator/tf-job` which would be even simpler.

[2017-10-26 07:21] resouer commented on #35
@wbuchwalter We have added GPU topology as use case to be covered in the next design, see: https://docs.google.com/document/d/1dv3-se21ivEZhyRCr9qixvjyB_VRO2yIlotWb2kOdiw/edit?ts=59e4be43# We are also collection more use cases.

[2017-10-26 13:38] jlewi commented on #35
@resouer Can you make the doc public?

[2017-10-26 13:48] jlewi commented on #93
The problem with moving the chart to incubator/tf-job is that it would introduce a manual step into our release process. Any time we wanted to do a release we'd have to wait for a PR to be approved.

Eventually, I'd like to automate releases so that we push a new chart and Docker image on each green postsubmit.

Pushing to incubator/tf-job might make sense once we reach v1 or possible v1beta1 and

[2017-10-26 14:02] jlewi commented on #53
In Travis I tried installing pylint as an apt package but that pulls in an older version 1.0 versus 1.7.

[2017-10-26 14:22] resouer commented on #35
@jlewi That is a public community design doc while the only request is please join kubernetes-sig-scheduling@googlegroups.com or
kubernetes-sig-node@googlegroups.com  mailing list.

This restriction is required by kubernetes community, which I may not allowed to make a change ...

[2017-10-26 14:59] bhack commented on #93
Additionally charts are often out of sync partially cause by unresolved https://github.com/kubernetes/charts/issues/1471

[2017-10-26 15:16] #71 closed

[2017-10-26 22:34] jlewi commented on #93
@wbuchwalter Do you still think this is worth doing?

[2017-10-26 22:38] jlewi commented on #84
All jobs are running successfully using the new repo.

[2017-10-26 22:38] #84 closed

[2017-10-26 23:57] wbuchwalter commented on #93
Let's discuss it again once we are at a stable v1.
We won't be making as much breaking changes then, so it should be okay if the chart on kubernetes/charts is not updated as often.
Also hopefully kubernetes/charts#1471 will have progressed.

[2017-10-27 00:00] #82 closed

[2017-10-29 21:24] jlewi opened #95 "E2E Test log should capture output from helm-test"
We should capture the output of [helm-test](https://github.com/tensorflow/k8s/blob/master/test-infra/helm-test/main.go) in the build log created by runner.py.

Here's an  [example build log](https://github.com/tensorflow/k8s/files/1425506/pr-94.build-log.txt)
).

The relevant lines are

[code]
So no output is captured from helm test.

[2017-10-29 21:31] jlewi commented on #95
helm-test writes most of its output to the junit-01.xml file. There are some log statements at info level but those are probably missed because we haven't set the logging level to include them.

[2017-10-29 21:37] jlewi commented on #95
Here's the output, [helm-test.output.txt](https://github.com/tensorflow/k8s/files/1425514/helm-test.output.txt), from running

[code]

So clearly we are missing a lot of output.

[2017-10-29 21:44] jlewi commented on #95
I think the problem is that helm-test ends up writing to stderr and the functions in util.py are only capturing output from stdout and not stderr.

[2017-10-29 21:48] jlewi opened #96 "E2E tests are failing"
The E2E tests are failing. The problem appears to be that the TfJob operator gets stuck starting the container.

Here's the output of kubectl describe

[code]
This is most likely the result of changes to the helm chart in #71. We need to specify cloud when calling helm init otherwise no config will be created.

[2017-10-29 23:05] jlewi commented on #95
This was fixed by #97

[2017-10-29 23:05] #95 closed

[2017-10-29 23:06] jlewi commented on #96
This should be fixed by #97.
Presubmit is passing. Will close this once we have a post submit passing.

[2017-10-30 00:10] jlewi commented on #96
Passing [postsubmit](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/tensorflow_k8s/tf-k8s-postsubmit/5/)

[2017-10-30 00:10] #96 closed

[2017-10-30 03:21] jlewi commented on #63
release.py is failing.

[2017-10-30 18:04] jlewi opened #101 "Run python unittests as part of pre/post/periodic tests"
We should run the python unittests as part of our E2E test suite.

[2017-10-30 20:39] jlewi commented on #63
Continuous releasing is working.
The release:
gs://tf-on-k8s-dogfood-releases/v20171030-bc0c348/
was automatically picked up and created.

[2017-10-30 20:39] #63 closed

[2017-10-31 18:08] jlewi opened #106 "helm permission issue on 1.8.1"
When I try to install the operator on a 1.8.1 cluster (GKE) like so

[code]

I get the error

[code]

This looks like an RBAC issue. Previously I was using K8s 1.7 so I guess something changed with 1.8 which is why I'm hitting this now.

@sozercan  Any idea what's going on? Is the problem that helm needs to be granted appropriate permissions as mentioned [here](https://github.com/kubernetes/helm/i

[2017-10-31 18:10] sozercan commented on #106
I am running it on k8s 1.8 with RBAC on Azure, let me check

[2017-10-31 18:12] jlewi commented on #106
Thanks. I followed this [SO post](https://stackoverflow.com/questions/46672523/helm-list-cannot-list-configmaps-in-the-namespace-kube-system) and that appears to have fixed the issue.

[2017-10-31 18:26] jlewi commented on #106
@foxish what's the proper way to setup helm on a GKE cluster running 1.8? Should it just work or is it expected that I have to run commands like the following (from this [post](https://stackoverflow.com/questions/46672523/helm-list-cannot-list-configmaps-in-the-namespace-kube-system))

[code]

[2017-10-31 18:39] foxish commented on #106
@jlewi, it is expected with RBAC turned on that the permissions will need to be setup for the tiller deployment. There are steps in https://github.com/kubernetes/helm/blob/master/docs/service_accounts.md.
In addition, there may be separate permissions that the operator needs in a particular namespace, to create pods, edit pods, create configmaps/secrets, etc.

For example, with spark, we ship with

[2017-10-31 18:40] foxish commented on #106
Having tiller be cluster-admin is not uncommon, but it would make sense to lock down the operator itself a bit more with its own service account and namespace granting just enough permissions to operate correctly.

[2017-10-31 18:52] sozercan commented on #106
Tiller that is bundled with Azure includes service account and role bindings (as `cluster-admin`). I am guessing this doesn't come with GKE?

Tjob CRD sets up it's own serviceaccount and role bindings, so that shouldn't be an issue. Sounds like this is permissions for the tiller itself.
Maybe we can update the docs to include something like this in case it doesn't exist

[code]

[2017-10-31 21:24] jlewi commented on #106
@foxish  Thanks. I'll send a PR adding to instructions. Just to confirm is RBAC automatically turned on in GKE with 1.8? I didn't see this mentioned in the [release notes](https://cloud.google.com/container-engine/release-notes).

[2017-10-31 21:28] jlewi opened #107 "TensorBoard replica set not deleted when job deleted."
I'm noticing that TensorBoard is left running even after I delete the TfJobs.

[code]
[code]
So I only have one TfJob but multiple tensorboard pods.

@wbuchwalter  Have you run into this?

[2017-10-31 21:56] wbuchwalter commented on #107
I have a cluster with an older version of the CRD (`mlkube/tfjob`) and tensorboard is correctly deleted with it's associated `tfjob`.
I can take a look tomorrow.

[2017-11-01 00:16] jlewi opened #108 "Update instructions and code to work with Kubernetes 1.8"
With Kubernetes 1.8
   * GPU type has changed and is now
[code]

  * Volume mounting NVIDIA drivers from the host should no longer be necessary if the cluster use [device plugins](https://kubernetes.io/docs/concepts/cluster-administration/device-plugins/)

@sozercan @wbuchwalter Is Azure using device plugins for GPUs or do you still rely on volume mounting GPU drivers?

[2017-11-01 03:54] jlewi opened #109 "Set termination timestamp"
We should set a finished timestamp on the job when the job finishes.

Here's the spec/status for a current job.

[code]

[2017-11-01 03:56] jlewi opened #110 "Phase is wrong unexpected TfJob phase: Done"
In the job below phase as reported as Failed but the state reports succeeded. This is a bug.

[code]

[2017-11-01 13:35] jlewi opened #112 "Add hyperparameter tuning?"
Opening this issue to see if there is any interest in adding capabilities to manage hyperparameter tuning.

[2017-11-01 15:54] #85 closed

[2017-11-01 16:14] jlewi commented on #89
Fixed by #103

[2017-11-01 16:14] #89 closed

[2017-11-01 16:22] jlewi opened #113 "postsubmit results aren't showing up in testrgrid"
[Test Grid](https://k8s-testgrid.appspot.com/sig-big-data#tf-k8s-postsubmit) is broken again; no results show up for post submit jobs.

I think it was working before we moved the repo to tensorflow/k8s

[2017-11-01 16:30] jlewi commented on #113
The entry in [testgrid/config/config.yaml](https://github.com/kubernetes/test-infra/blob/master/testgrid/config/config.yaml#L1439)  is

[code]

Gubernator links to

[code]

So I think we need to fix the location in the config file.

[2017-11-01 17:00] jlewi commented on #113
Setting  the GCS prefix like this

[code]
ends up causing [config_test](https://github.com/kubernetes/test-infra/blob/master/testgrid/config/config_test.go#L89) to fail because the gcs_prefix doesn't match the test group name.

According to the gubernator [docs](https://github.com/kubernetes/test-infra/tree/master/gubernator) the GCS path should not it include the repo name.

[code]

[2017-11-01 17:04] jlewi commented on #113
In #62  we had to change the GCS path to include the repo name otherwise gubernator wouldn't display the results correctly.

@krzyzacy Any idea idea what the correct fix is?

[2017-11-01 20:15] bacongobbler commented on #106
Yes, RBAC is automatically turned on in GKE with kubernetes 1.8.

[2017-11-01 20:16] bacongobbler commented on #106
See https://github.com/kubernetes/helm/issues/2962#issuecomment-331523916 for more in-depth instructions on how to configure tiller to work in a RBAC-enabled environment.

[2017-11-01 20:18] foxish commented on #106
Sorry, yeah, didn't see your comment. Yes, RBAC turns on [automatically](https://cloud.google.com/container-engine/docs/role-based-access-control#prerequisites_for_using_role-based_access_control) with 1.8.

[2017-11-01 20:18] bacongobbler commented on #106
@sozercan's example works too, but the users should be made well aware that this means if a user has access to tiller, they may install/uninstall anything within their cluster.

[2017-11-01 20:49] #72 closed

[2017-11-01 20:55] jlewi commented on #106
Thanks
I added links in #111. PTAL and comment if you are so inclined.

[2017-11-01 21:09] jlewi commented on #109
It probably makes sense to add end timestamps to replicaStatuses. We can model it off containerStatuses in pods.

[2017-11-01 21:19] #113 closed

[2017-11-02 04:23] jlewi commented on #46
All blocking issues have been fixed. Prow integration is all setup.

[2017-11-02 04:23] #46 closed

[2017-11-02 13:02] jlewi opened #114 "Refactor code in py into a proper python package"
The code in py is shaping up to have some useful python functions that we might want to reuse in examples/notebooks. It might be nice to refactor that into a proper python package that gets published as part of our releases to make it easier to reuse.

I suggest tfk8s for the package name.

[2017-11-02 13:04] #106 closed

[2017-11-02 23:00] sozercan opened #115 "Latest tag on G is old"
Helm chart now contains `latest` tag but `latest` on gcr.io is pretty old :)

https://console.cloud.google.com/gcr/images/tf-on-k8s-dogfood/GLOBAL/tf_operator@sha256:5a58039ab631aee6b370da21be5be6a841b757b08e7873e19b42ffbc71032ad3/details/info

[2017-11-02 23:01] sozercan opened #116 "Latest tag on gcr.io is not up to date"
Helm chart now contains `latest` tag but `latest` on gcr.io is pretty old :)

https://console.cloud.google.com/gcr/images/tf-on-k8s-dogfood/GLOBAL/tf_operator@sha256:5a58039ab631aee6b370da21be5be6a841b757b08e7873e19b42ffbc71032ad3/details/info

[2017-11-02 23:01] #115 closed

[2017-11-03 01:45] jlewi opened #118 "initResource() failed; findAllTfJobs returned error:"
Today I hit the following error running on a GKE cluster with 1.8

[code]

[2017-11-03 01:54] jlewi commented on #118
I suspect this is the line that's failing

[code]
I suspect its failing because of insufficient RBAC permissions.

I had originally deployed the operator without setting rbac.install=true. I then purged it and reinstalled it but my guess is something didn't get cleaned up.

[2017-11-03 02:00] jlewi commented on #118
I suspect the problem is [here](https://github.com/tensorflow/k8s/blob/master/tf-job-operator-chart/templates/rbac.yaml#L10)

[code]

That should probably have been updated to tensorflow.org

[2017-11-03 02:47] #118 closed

[2017-11-03 03:36] jlewi commented on #116
We need to update the GCB workflow in py/release.py to apply the latest tag.

[2017-11-03 04:11] jlewi commented on #116
Actually looks like gcloud supports add a tag to an image. I think adding the "latest" tag as a separate step is better because this way we can run tests before promoting an image to latest.

[2017-11-03 12:43] jlewi commented on #116
Will close this after verifying that newly built images are tagged latest.

[2017-11-03 14:07] jlewi opened #120 "Extend Test Infrastructure to run multiple E2E tests in parallel"
We need to extend the E2E test infrastructure to run multiple tests in parallel. The diagram below illustrates  the expected flow

![test_infrastructure](https://user-images.githubusercontent.com/777219/32376621-8cabb0d8-c062-11e7-9fa0-59a00bab1078.png)

The sequence of events is:
   * An event (e.g. GitHub pull request) triggers a prow job
   * Prow job builds the artifacts (Docker images, helm p

[2017-11-03 15:38] jlewi commented on #116
Confirmed. Latest tag is now applied to the latest build

[2017-11-03 15:38] #116 closed

[2017-11-03 16:19] bhack commented on #120
For option 3 do you know the status of https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=71013666?

[2017-11-03 16:22] bhack commented on #120
I know that there will be a [meetup](https://www.meetup.com//it-IT/Bay-Area-Apache-Airflow-Incubating-Meetup/events/244525050/?_locale=it-IT&showDescription=true) quite soon.

[2017-11-03 20:59] jlewi commented on #120
@foxish could provide more information about status of Airflow on K8s.

[2017-11-03 21:17] foxish commented on #120
We'll present a demo at kubernetes sig-apps soon as well. The branch everyone is committing to currently is https://github.com/bloomberg/airflow/tree/airflow-kubernetes-executor. Some discussion remains around credential management and storage, but mostly, the executor is in pretty good shape. I think the expectation is for the basic first PR upstreamed in the next month or so.

cc/ @dimberman

[2017-11-03 22:49] bhack commented on #120
Nice I was following that branch some times ago

[2017-11-04 01:50] jlewi opened #122 "Collaborators need to be K8s members to trigger tests"
We are currently using K8s instance of prow to run our testing infrastructure.

One of the results of this is that collaborators on the tensorflow/k8s repo also need to be members of the kubernetes github organization otherwise they won't be able to trigger tests.

There are at least a couple ways we could deal with this
  1. tensorflow/k8s collaborators could become k8s members; here are the [gui

[2017-11-04 02:10] jlewi commented on #107
I think there is a bug in how we delete the resources.

Currently we delete all the resources associated with a particular job in response to a Delete event. Ordinarily that works fine but I suspect that in some edge cases that can leave orphaned resources; e.g. if the job controller were to die mid delete. In that case the TfJob would no longer be stored in the K8s master or in memory inside the

[2017-11-04 10:22] bhack commented on #120
I think that option 3 is more on the edge but probably the most future-prof.

[2017-11-05 17:59] jlewi commented on #24
Lots of workarounds discussed in sirupsen/logrus#63. prometheus implemented [this way](https://github.com/prometheus/common/blob/master/log/log.go#L234) so we could potentially copy them.

[2017-11-05 23:36] jlewi opened #126 "results of lint test aren't reported in junit file used by gubernator"
The results of lint aren't stored in the junit file that gubernator uses to extract test results.
We need to include the results in that file.

@krzyzacy Does gubernator allow multiple junit_XX.xml files to be uploaded to artifacts/? Or do we need to have a single junit file?

[2017-11-05 23:43] jlewi commented on #53
[golint](https://github.com/golang/lint) is the go linter.

We should add it to lint.sh

I ran it and there are quite a few lint issues:
[code]
[code]

[2017-11-06 00:49] jlewi commented on #42
@enisoc @kow3ns I could use your advice on how to properly clean up resources.

Currently the TfJob creates a bunch of resources
   * Multiple Job controllers
   * Services
   * Deployments

Currently these resources are explicitly deleted by the TfJob CRD controller in response to a delete event.

Questions:
   1. Is there any reason the CRD controller should explicitly delete these resources? Sh

[2017-11-06 05:41] krzyzacy commented on #126
@jlewi can you attach a link?

[2017-11-06 14:18] jlewi commented on #126
@krzyzacy Here's a failed [prow job](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/tensorflow_k8s/124/tf-k8s-presubmit/65/). The tests are reported as succeeded because my junit_00.xml file doesn't take into account the results of lint. But the prow job exited with non-zero exit code because ./lint.sh failed.

My test is structured as follows.
  * The prow job runs runne

[2017-11-06 17:10] krzyzacy commented on #126
@jlewi yes gubernator supports multiple junit.xml files

example at http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/17389/artifacts/ and https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/17389

[2017-11-06 18:52] jlewi opened #128 "Don't leave pods running just to get logs"
We currently leave pods up after the job finishes to continue to make logs available after job finishes via
kubectl logs.

This is bound to cause problems; for example if a pod doesn't complete (e.g. parameter servers) the pod will continue to consume resources. (I think @vishh or someone pointed this out on other issues).

Per #32 its probably best to rely on cluster level logging. If we depend o

[2017-11-06 19:33] enisoc commented on #42
1. If you want them to stick around as long as the parent TfJob still exists, then I suggest relying on GC. I would only suggest deleting a child object yourself if it's part of ongoing management rather than final cleanup -- for example if you support some kind of rollout process like Deployment, it would make sense for your controller to directly delete old things after the rollout finishes.

2.

[2017-11-06 22:37] wbuchwalter commented on #128
As discussed let's assume the logs are exported somewhere, otherwise keeping pods alive will cause too much issues resource-wise.

[2017-11-07 02:58] jlewi commented on #42
@enisoc Thank you.

[2017-11-07 03:32] #42 closed

[2017-11-07 03:32] #107 closed

[2017-11-08 02:29] Jimexist commented on #114
`tfk8s` is quite a natural choice

[2017-11-08 02:30] Jimexist commented on #112
support grid search to begin with?

[2017-11-08 02:31] Jimexist commented on #53
using `gometalinter` and disabling comment related lint warnings could be a starter

[2017-11-08 12:48] jlewi commented on #120
CNCF has a [project](https://github.com/cncf/cross-cloud) to do cross-cloud integration for its projects. This [slide](https://docs.google.com/presentation/d/1dhJgeBLYEzXoVvpxX7ls75o-GdsVwhpUY08O8UAiUUc/edit#slide=id.g2467f609e6_0_241) seems to indicate its based on [GitLab](https://about.gitlab.com/).

[2017-11-08 13:19] jlewi commented on #120
I took a look at [GitLab CI/CD](https://docs.gitlab.com/ee/ci/quick_start/README.html) and I think I prefer the K8s + Airflow approach.

   * It looks like GitLab has its own workflow system based on a simple declarative syntax (YAML)
   * GitLab has its own abstractions for runners, processes, and containers.

Its not obvious to me that the cognitive load of using a different set of tools for CI/

[2017-11-08 16:44] wbuchwalter commented on #112
The more I think about it, the more I think this should not be handled by `TfJob` but by a higher abstraction, such as the dashboard and other tools that will ultimately interact with `TfJob`.
Users might want to do different strategies that may be difficult to express in YAML, but easier in a frontend.
Would there be any optimization that would be possible if we handle HP tuning directly at the T

[2017-11-08 20:11] jlewi commented on #112
I don't think HP Tuning should be handled by TfJob. I think a hyperparameter tuning system should be implemented as a set of loosely coupled components. Here are some components I see

* Launchers - These are controllers (e.g. TfJob, K8s Job controller) that know how to train a model
* Tuners - This component knows how to pick new parameters
* Evaluators - Knows how to evaluate models.
* HP Contro

[2017-11-08 22:22] jlewi commented on #65
This has been fixed.

[2017-11-08 22:22] #65 closed

[2017-11-09 05:13] Jimexist commented on #112
from API's point of view, doing HP tuning has no difference from firing up a bunch of parallelable TfJobs (and of course won't care about their relationships, just that they are independent).

[2017-11-09 08:57] ScorpioCPH opened #130 "Need to trim trailing slash of host string in TfJobRestClient.Watch()"
Hi, there is an error occurred while running the `tf_operator` locally:

[code]

This is because `host` parameter which passed in TfJobRestClient.Watch() is ` https://localhost:6443/` with trailing slash, so `fmt.Sprintf()` will formats invalid URL.

@jlewi PTAL. And I will send a PR to fix this if it is confirmed :)

[2017-11-09 14:48] jlewi commented on #130
@ScorpioCPH Thanks for the bug report. Not sure when I'll be able to fix this but I'll happily accept a patch.

[2017-11-09 14:50] jlewi opened #132 "TfDebugger support"
What if anything can we do to better support [TfDebugger](https://www.tensorflow.org/programmers_guide/debugger#offline_debugging_of_remotely-running_session)?

Can we support interactive debugging (perhaps via kubectl exec)?

[2017-11-10 18:21] #130 closed

[2017-11-10 18:25] jlewi opened #135 "Helm test; insufficient permissions on RBAC clusters"
Helm test works by launching [test/e2e/main.go](thttps://github.com/tensorflow/k8s/blob/master/test/e2e/main.go) in a pod. This program in turn creates a TfJob.

On a stock GKE cluster running 1.8, this pod will end up running with the default service account which doesn't have necessary permissions to submit the job.

[2017-11-10 19:22] jlewi commented on #135
So I tried creating a new cluster role

[code]
[code]
The test is now able to create the TfJob but it fails waiting for the master to finish.

[code]
But the pod definitely exists.

[code]
So I guess this is another RBAC issue due to the default service account not having sufficient permissions.

@foxish @sozercan  Do you have suggestions about what the proper fix is?
  * Should we be using a diff

[2017-11-10 19:46] jlewi commented on #135
I didn't see any existing default roles that looked like good candidates. basic-user seemed like one candidate but it seemed like it only had create per missions

[code]

[2017-11-10 22:07] jlewi opened #136 "Support Draft for packaging"
[Draft](https://github.com/Azure/draft) seems like a really nice tool for packing up code to deploy apps on K8s.

Should we make it easy for people to use Draft as a way of deploying TF training jobs using the CRD to K8s?

What would that take?
   * I think we need to define a [pack](https://github.com/Azure/draft/tree/master/packs) for TensorFlow.

It looks like Draft has a server side component.

[2017-11-10 23:48] foxish commented on #135
For context, the edit role and other possible non-system roles that can be granted are documented in https://kubernetes.io/docs/admin/authorization/rbac/#user-facing-roles

[2017-11-14 01:38] Jimexist commented on #120
had some internal efforts trying out option 3 except for that we went with [luigi](https://luigi.readthedocs.io/) which was more mature at the time than Airflow (currently incubating). I would ditto the claim that airflow is more future-proof.

[2017-11-14 23:07] #135 closed

[2017-11-15 06:30] jianzi123 opened #149 "After init helm, install chart failed"
I can't find the problem..
`[root@master heml_install]# kubectl create -f tf_job.yaml
error: unable to recognize "tf_job.yaml": no matches for tensorflow.org/, Kind=TfJob

[root@master heml_install]# helm ls
NAME  	REVISION	UPDATED                 	STATUS  	CHART                                        	NAMESPACE
tf-job	1       	Mon Nov 13 16:09:38 2017	DEPLOYED	tf-job-operator-chart-0.2.0-v2017111

[2017-11-15 17:29] jlewi opened #150 "Clarify scope of tensorflow/k8s"
We should update README.md to clarify the scope of tensorflow/k8s.

[2017-11-15 17:41] jlewi commented on #149
It looks like the TfJob CRD wasn't created which most likely indicates there was a problem deploying the operator.

Check if the CRD was created

[code]

You should see something like this

[code]
If you don't see tfjobs.tensorflow.org then it means the CRD wasn't created.

Check if the operator is running

``
kubectl get deployment
``

You should see output like the following

[code]

If the depl

[2017-11-16 07:06] Jimexist commented on #150
a list of questions in my mind that can be better answered if the scope is clearly defined:
- does this repo cover (simple) support for more general data pipelining? (can be via Airflow jobs though)
- does the UI in this project include metrics and statistics visualization across a trail of TensorFlow experiments
- what are the assumed compatible storage systems (if they work with k8s) with this r

[2017-11-16 14:30] jlewi commented on #150
I hope this repo will be part of a broader effort to create a loosely coupled stack of components covering the full ML lifecycle on K8s. @aronchick has suggested calling this broader effort KubeFlow.

This will be just one repo in that effort. The focus of this repo will be on TensorFlow on K8s. TensorFlow is itself a growing ecosystem of components aimed at the full life cycle of ML. So this repo

[2017-11-16 20:59] aronchick commented on #150
@Jimexist did that help? Happy to drop into mail and explain our overall efforts if you'd like

[2017-11-17 00:38] bhack commented on #150
The UI part is a little bit obscure. The upstream ticket seems quite stalled and the last two comments are unreplied.

[2017-11-17 05:32] Jimexist opened #155 "Use coveralls.io to report and check code coverage"
https://coveralls.io/

@jlewi i can help creating a PR if you need.

[2017-11-17 09:50] bhack commented on #150
Also I think that an overview on this [Google Gradient co-financied effort](The AI Layer
https://www.linkedin.com/pulse/ai-layer-diego-oppenheimer) could be useful to outline the perimeter of this project.

[2017-11-17 12:57] jlewi commented on #155
@Jimexist A PR would be great.

[2017-11-17 12:58] jlewi commented on #149
@jianzi123 Any luck?

[2017-11-17 17:37] cwbeitel opened #156 "Deleted jobs re-starting"
Noting that I'm seeing deleted jobs re-starting themselves, e.g.

[code]

I'll note my cluster version is `1.7.8-gke.0` in case that's relevant.

E.g. one of the problem-causing jobs scripts:

[code]

[2017-11-17 19:13] jlewi commented on #156
Did you delete the TfJob? If you don't delete the TfJob it will recreate all the resources needed to run the job.

[2017-11-17 23:35] jlewi opened #160 "TfJob doesn't work on minikube"
I was experimenting with TfJob on minikube.

Helm was having problems deploying the operator (I think because tiller issues) so I just ran helm in debug mode to create the templates

[code]
and then deployed them with kubectl.

Looks like the TfJob controller is having problems because it can't connect to the master
[code]
@foxish @vishh Any idea if I need to do something special to be able to con

[2017-11-18 00:11] foxish commented on #160
As discussed, it's likely the vm driver setting messing with network communication. Just tried the same on minikube 0.23.0 (K8s 1.8) with virtualbox. Bootstrap succeeds and works as expected.

[code]

[2017-11-18 00:13] jlewi commented on #160
Looks like the issue might be with my minikube setup and that fact that I was using vm-driver=none.

@foxish tried it with vbox + minikube  and it worked.

[2017-11-18 00:13] #160 closed

[2017-11-18 02:02] Jimexist commented on #155
@jlewi see #161

[2017-11-19 14:26] cwbeitel commented on #156
Wow my bad right there in the readme. I.e. for future reference

[code]

[2017-11-19 14:26] #156 closed

[2017-11-19 21:00] jlewi commented on #149
@jianzi123 I'm going to close this issue for now. If you're still having trouble please feel free to reopen it.

[2017-11-20 14:23] jlewi commented on #150
@bhack  Algorithmia isn't currently involved although it would be great to work with them if they are interested.

Its my understanding that @wbuchwalter is working on a minimal UI just to make TensorFlow on K8s more accessible to folks who feel more comfortable with a UI. I think the long term direction for the UI is unclear. Feel free to chime in on the issue with your oppinions or on slack [kub

[2017-11-21 17:20] jlewi commented on #58
I think we should make it easy to run a test given a YAML file containing the TfJob spec. Then we can just create different YAML files corresponding to different test cases.

[2017-11-21 17:27] jlewi opened #164 "E2E test for GPUs"
We should have an E2E test that covers the case of GPUs.

To support this I think we should do the following

 1.  Our E2E test should create a GKE cluster with multiple node pools; 1 CPU node pool and 1 GPU node
pool.
 1. We should extend our E2E test infrastructure so we can add a test case just by creating a YAML file containing the spec for the job.

[2017-11-21 17:34] jlewi opened #165 "Prevent scheduling deadlocks"
Suppose a user submits M distributed jobs each requiring with N workers each requiring 1 GPU.
Suppose the cluster has exactly N GPUs. So there is enough capacity in the cluster to run exactly 1 job at a time.

But suppose K8s ends up scheduling 1 worker from each job. Then each training job is potentially stalled because it won't start until all N workers are available.

How can we prevent such de

[2017-11-21 17:47] foxish commented on #165
This is a great discussion - and we have the exact same problem with Spark as well. I think this can be somewhat helped by [priority and preemption for pods](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/) - but the underlying issue where you want gang scheduling can only be solved by a real queueing & batching system.

We proposed one in [this doc](https://docs.google.

[2017-11-21 17:51] foxish commented on #165
/xref https://github.com/kubernetes/features/issues/269

[2017-11-21 18:04] jlewi commented on #165
@foxish So is the way we would use kube-arbitrator be that the TfJob controller submits a QueueJob that specifies all the resources that we want to schedule together (i.e. all the job controllers)?

[2017-11-21 19:56] jlewi commented on #165
Wouldn't that require the caller of the TfJob to know what resources a TfJob needs? The actually resources   should be an internal detail computed by the controller.

[2017-11-21 20:03] foxish commented on #165
Hmm.. In the Spark case, it's expected that the user submitting the job will have some notion of the resources required/requested. I guess one can also envision a system like you mentioned in https://github.com/tensorflow/k8s/issues/165#issuecomment-346111463, but IMO it would be difficult for a user to reason about their jobs if they are completely abstracted from the resources requested.

[2017-11-21 20:47] jlewi commented on #165
The user does specify resources but this is only part of the total foot print for a job. TfJob might launch additional agents/processes such as running TensorBoard, logging side cars etc.. TfJob might supply defaults if the user doesn't supply defaults.  So the user may not have the total picture. In this case the total resource foot print is some function of the resources specified by the user in

[2017-11-21 21:10] jlewi opened #167 "OpenAPI Client Generation for Java, Python"
Should we create a client library for Python?

How much of the client library could be autogenerated (e.g. using Swagger?).

The motivation for Python is that Python is the most common way people write TensorFlow programs. A Python client library providing higher level functions (e.g. wait for job) would make it easier to use TfJob in Juptyer environments. It would also be useful for our test infr

[2017-11-21 21:20] erikerlandson commented on #165
As @foxish mentioned, coping with a set of contending jobs, where any job may require some minimum number of resources to start, isn't trivial.  If this situation gets combined with priorities and/or QOS, it is possible for jobs to starve - for example some other jobs with higher priority always take the necessary resources, and other jobs never run.  A situation where job quota is less than the c

[2017-11-22 00:23] jlewi commented on #165
Good points.

Another case worth consider is when the resource usage varies over time.

In some settings training an ML model can consist of interleaved phases of training and evaluation. In the simplest case, we might train a model, and then evaluate the model. Training and evaluation might have very different resource foot prints.

When the user submits a TfJob they might specify how many resour

[2017-11-22 00:50] bhack commented on #165
@jlewi Mainly we can have train, validation and testing phase. Probably validation and testing could be similar in term of resources request but validation could be needed to run more frequently also for evaluate early stopping.

[2017-11-22 01:39] erikerlandson commented on #165
Some of these evolving-workload aspects seem similar to issues that are being encountered by Airflow, where a DAG workflow can fan out to many parallel tasks, then back down to some smaller number, and so on.

[2017-11-22 03:01] paramgo commented on #55
Yes, not sure about the severity of the issue, however if you leave out the restartPolicy, it seems K8s 1.8 defaults to Always which results in the creation of master/workers but not ps (error below):
<pre>
I  Creating Service: master-xyzz-0
I  Service master-xyzz-0 already exists.
I  Creating Job: master-xyzz-0
I  master-xyzz-0 already exists.
I  Creating Service: worker-xyzz-0
I  Service worker-

[2017-11-22 16:37] jlewi opened #170 "E2E test for non-default namespace"
We should add test coverage to ensure we can install the operator in non-default namespaces.

* We've had some bugs (e.g. #169) so it would be good to have tests to prevent regressions.

[2017-11-23 02:01] DjangoPeng commented on #150
@jlewi To make TensorFlow tasks run well on Kubernetes. I think we have to implement some other tools, such as monitor(real-time processing and monitoring the status of all TensorFlow tasks). An ease-to-use command line tool is sort of necessary.

[2017-11-23 04:03] DjangoPeng opened #171 "Failed to build TFOperator"
I followed the [developer_guide](https://github.com/tensorflow/k8s/blob/master/developer_guide.md#building-the-operator) file and some problems occurred in the process. The most common problems are `Unable to get repository`. I checked the [glide.lock](https://github.com/tensorflow/k8s/blob/master/glide.lock) file and found that there are some repos are unavailable in restricted network environmen

[2017-11-23 09:57] jianzi123 commented on #149
e... i'm sorry for put the logs so late...
`[root@master templates]# kubectl logs tf-job-tfjob-test-uphtnq --namespace default
E1123 07:09:35.392424       1 tpr_util.go:107] Creating the TfJob:
{
  "kind": "TfJob",
  "apiVersion": "tensorflow.org/v1alpha1",
  "metadata": {
    "name": "e2e-test-job-l9ry",
    "creationTimestamp": null,
    "labels": {
      "test.mlkube.io": ""
    }
  },
  "spec"

[2017-11-25 09:57] DjangoPeng opened #173 "no matches for tensorflow.org/, Kind=TfJob"
I have set a configMap for bare metal environment, and got a problem when I created a [TF job](https://raw.githubusercontent.com/tensorflow/k8s/master/examples/tf_job.yaml). I'm sure that I followed the instructions of [README.md](https://github.com/tensorflow/k8s/blob/master/README.md) file step by step. I attached the error log as below:

[code]

[2017-11-25 16:34] jlewi commented on #171
Can you explain what you mean by restricted network environment? Are you saying networks allow access to github.com but not cloud.google.com and golang.org?

[2017-11-25 16:42] jlewi commented on #173
This error indicates that the Custom Resource for TfJob could not be created.

Please take a look at this [comment](https://github.com/tensorflow/k8s/issues/149#issuecomment-344670932) for some initial steps to try to identify the particular cause.

There's a high likelihood that you are hitting the same issue with the ConfigMap.

[2017-11-25 16:45] jlewi opened #174 "Troubleshooting Guide: no matches for tensorflow.org/, Kind=TfJob"
We should start a troubleshooting guide. There have been multiple problems (#149, #173) with jobs failing with

[code]

This error indicates the CRD wasn't created. We should provide instructions for troubleshooting this issue.

[2017-11-25 16:54] jlewi commented on #149
@jianzi123 It looks like your controller_config_file.yaml is empty is that the case? My guess is that in this case no file actually gets created and this is why the [read](https://github.com/tensorflow/k8s/blob/master/cmd/tf_operator/main.go#L73) ends up failing.

Can you provide the command line you used to install the helm charter? I'd like to know what value you provided for the config map.

I

[2017-11-25 17:01] jlewi opened #175 "Helm should only set --controller_config_file conditionally"
Our helm chart currently always sets [controller_config_file](https://github.com/tensorflow/k8s/blob/master/tf-job-operator-chart/templates/deployment.yaml#L20)

This causes problems if the config_file doesn't actually exist which is the case if the user doesn't specify the cloud flag when installing the helm chart. I suspect this is the problem in #149 and #173.

We should modify the helm chart s

[2017-11-25 17:02] jlewi commented on #149
Created #175

[2017-11-25 17:03] #101 closed

[2017-11-25 17:03] #126 closed

[2017-11-25 17:21] jlewi commented on #149
@jianzi123 As a quick fix I suspect if you could try removing the --controller_config_file argument [here](https://github.com/tensorflow/k8s/blob/master/tf-job-operator-chart/templates/deployment.yaml#L20)

[2017-11-25 17:44] jianzi123 commented on #149
I have fix it  by reset configmap, thanks.

[2017-11-25 17:44] #149 closed

[2017-11-26 04:59] DjangoPeng commented on #171
In China, we can't access any service from Google because of the GFW. It's a public and general case for Chinese developers to access Google service via VPN. But, nowadays many VPN providers have stop their service cause our government publish a more restricted network policy. I think both Golang and Google know the context and situation.

[2017-11-26 05:04] DjangoPeng commented on #173
Thanks for replying. Let me have a look at the comment and refs.

[2017-11-26 05:14] DjangoPeng commented on #174
Yep, I'm in the process of building TFOperator and run TFJob example in bare metal. I'd like to take the work to provide a step by step instructions.

[2017-11-26 15:58] jlewi commented on #174
Great thank you.

[2017-11-26 16:03] jlewi commented on #171
This makes sense thank you for the explanation.

[2017-11-26 16:05] #171 closed

[2017-11-27 03:09] DjangoPeng commented on #173
@jlewi I checked my case according to your comment in #149 . The TF Job CRD is not created actually. But, the deployment and pod of TF Job are running. I took a look at the logs of TF Job pod, and found that it may be a authority problem of namespace.

[code]

[2017-11-27 12:03] DjangoPeng commented on #173
I forgot to set `rbac.install=true` when I run the `helm install` instruction. After setting that, the tf-operator is running well. But, I failed to `docker pull gcr.io/tf-on-k8s-dogfood/tf_sample:dc944ff`. Could you have a look? @jlewi

[2017-11-27 12:37] DjangoPeng commented on #175
How about setting an empty configmap by default? Please take a look at the [patch](https://github.com/DjangoPeng/k8s/commit/15b66fca9e0fd6ed20836423ef0fb23fc579f35a). If we prepare the empty configmap, it's easy for users to specify something individual based on the updated [config.yaml](https://github.com/DjangoPeng/k8s/blob/configmap-dev/tf-job-operator-chart/templates/config.yaml#L43). If they

[2017-11-27 17:26] hyperbolic2346 opened #179 "Helm Test fails because grpcServerFilePath is the empty string"
I'm trying to run the helm test from the readme, but I fail on both GCE and AWS in the tests. I'm deploying canonical kubernetes(CDK) if that would matter. The test times out, but everything seems normal with the cluster:

[code]
[code]
[code]

I'm not sure what to do to track this down.

[2017-11-27 23:23] DjangoPeng commented on #179
@jlewi Could you have a look at this?

[2017-11-28 02:46] jlewi commented on #179
I suspect the portforward issue is an issue with helm and not an issue with TfJob operator.

The list of running pods shows that the test (tf-job-tfjob-test-i22a5u) is running. I also see a pod (e2e-test-job-r9tj-master-t8j2-0-t8zmt) that looks like the master pod launched by the TfJob.

Can you check the TfJob

[code]
   * Does the job succeed error out?

Can you also check the logs of the test

[2017-11-28 02:53] jlewi commented on #173
I confirmed the docker image exists. I also confirmed the bucket is public. Could this be an issue with gcr.io being blocked by the firewall?

In the meantime you should be able to build the Docker image from the repo using https://github.com/tensorflow/k8s/blob/master/examples/tf_sample/build_and_push.py

[2017-11-28 03:02] jlewi commented on #175
@DjangoPeng can you review #176? What's the advantage of providing an empty config map as opposed to just not providing a config map and setting the flags accordingly.

With #176 if a user wants to specify a custom map then they can do something like this

[code]

and specify the name of whatever config map they want to use. I also added an option to override the default name for the file used.

[2017-11-28 03:07] DjangoPeng commented on #173
Ok, I'm going to build the Docker image. Thanks!

[2017-11-28 03:24] DjangoPeng commented on #173
@jlewi I noticed that we directly call subprocess to build and push Docker image in [build_and_push.py](https://github.com/tensorflow/k8s/blob/master/examples/tf_sample/build_and_push.py) file. I think replace it with Docker SDK would be better and more portable. What do you think?

[2017-11-28 03:36] DjangoPeng opened #181 "Complement docs for Python 3rd party dependencies"
Our project has more than one Python 3rd party dependencies, such as `google-cloud`, `google-api-python-client`, `kubernetes`, `jinja2` and so on. When I built tf-operator and continuously followed out guide, many `No such xxx lib` errors make me in trouble.

I think we should complement the relevant doc ( eg: README.md ) to remind users to install all of dependencies before running our TF example

[2017-11-28 04:43] Jimexist commented on #173
`gcr.io` is blocked, one needs VPN to access.

[2017-11-28 05:53] DjangoPeng commented on #173
Anyway, the issue of `no matches for tensorflow.org/, Kind=TfJob` has been figured out. Close this issue. Others who facing same problem can trace #174 , I will create a PR to add troubleshooting guide this week.

[2017-11-28 05:53] #173 closed

[2017-11-28 06:27] davidopp commented on #165
kube-arbitrator may be overkill if all you need is gang scheduling. But regardless, the underlying issues are the same however it's implemented.

I think there are basically three approaches. (I use "gang of pods" and "job" interchangeably here.)

1) Change the API that the scheduler uses to request the API server to bind pods to nodes, so that it can request a set of bindings with the semantics o

[2017-11-28 12:18] jlewi commented on #165
Thanks @davidopp; option 3 makes the most sense to me. I think we could implement a version of that in the TfJob controller if need be.

[2017-11-28 14:03] k82cn commented on #165
As davidopp@ said, option 3 is simplified version of kube-arbitrator; and it's also our next target :). Overall, I'd like to make kube-arbitrator pluggable, and delegate specific requirement to different policy (or plugin).

@jlewi , what's your time line for this feature? @foxish , do you think we can handle this gang-scheduling requirement together with Spark's ?

[2017-11-28 14:18] bhack commented on #112
Is it arriving in productioction: https://deepmind.com/blog/population-based-training-neural-networks/?

[2017-11-28 17:02] hyperbolic2346 commented on #179
tfjob: http://paste.ubuntu.com/26065035/

Looking over the job log, it looks like there is trouble with communication here:

E1128 03:17:37.522586       1 election.go:226] error retrieving resource lock default/tf-operator: Get https://10.152.183.1:443/api/v1/namespaces/default/endpoints/tf-operator: dial tcp 10.152.183.1:443: getsockopt: connection refused
E1128 03:17:42.701853       1 election.g

[2017-11-28 18:09] jlewi opened #185 "Make Airflow logs accessible"
We need to make the Airflow logs more accessible so that people can see why their presubmits are failing.

There are two options

1. We could copy the logs to GCS artifacts bucket used by prow
2. Airflow might support writing the logs directly to GCS
3. We could give contributors/committers access to Airflow.

Option 3 seems like the quickest solution. I don't see any problem giving regular contri

[2017-11-29 00:35] bsalamat commented on #165
While option 3 may address this problem, as I see more and more use-cases, I feel scheduler must implement a mechanism similar to option 2. A potential mechanism is to let scheduler do its usual work to find a node for a pod. It then assumes a pod and updates its state of the cluster, including available resources on nodes, etc., but it does not bind the assumed pods automatically. It instead wait

[2017-11-29 03:31] jlewi commented on #179
This looks like an issue with connecting to the API server from within the pod. (For [reference] (https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/#accessing-the-api-from-a-pod)).

Can you upload the full log file please? Is this error transient or does it repeat throughout the logs?

The client is created here:
https://github.com/tensorflow/k8s/blob/master/cmd/tf_operator/ma

[2017-11-29 04:00] jlewi commented on #165
@k82cn  We don't have a specific ETA; lack of gang scheduling hasn't been a problem; we'll see how far we can get before it becomes an issue.

My inclination though is not to develop our own custom solution. So I'd be inclined to try kube-arbitrator first.

[2017-11-29 15:34] hyperbolic2346 commented on #179
The api server is there and seems to be working:

[code]

Reading over the log it is pretty much repeating over and over. It looks like it tries to get this information once at the top and then just fails constantly after that. Here is the useful part of the log:

[code]

[2017-11-29 16:20] jlewi commented on #179
The fact that you are getting a connection refused error in the TfJob
operator when requesting the same error that works in a pod is puzzling.

Can you try using kubectl exec to start a shell in the TfJob operator
container and then using curl to fetch the same error

That should provide some idea as to whether the issue is with the pod or
the TfJob operator code.

On Nov 29, 2017 7:34 AM, "Mike W

[2017-11-29 16:24] hyperbolic2346 commented on #179
I've done that and I get the same auth error and not a connection refused. It is possible it was a transient error. It would be nice to have the api query retried periodically on failure. That would tell us if this were a temporary issue or something with the test. I haven't looked at the code you linked yet though to see how it is accessing the api.

I have tried this multiple times on different

[2017-11-29 18:12] jlewi commented on #179
What version of K8s are you using and how are you deploying it?

On Nov 29, 2017 8:24 AM, "Mike Wilson" <notifications@github.com> wrote:

[2017-11-29 21:07] hyperbolic2346 commented on #179
I am running 1.8.4 and deploying it with conjure-up, which uses juju. [CDK](https://jujucharms.com/canonical-kubernetes/)

[2017-11-30 07:45] jlewi commented on #179
I think the problem is that you are providing a custom controller config but you aren't specifying GrpcServerFilePath in your config. As a result, the TfJob controller doesn't know what file to use to create a standard gRPC server for your PS. Try setting GrpcServerFilePath in your config to

[code]

Details:

I somehow missed the full logs in your previous [comment](https://github.com/hyperbolic2

[2017-11-30 08:17] gaocegege commented on #181
Maybe we could close this issue, since #180 was merged. 🤔

Could the PR work for you?

[2017-11-30 08:21] DjangoPeng commented on #181
Good job! Close the issue.

[2017-11-30 08:21] #181 closed

[2017-11-30 11:24] k82cn commented on #165
@jlewi , that's great ; let kube-arbitrator try to handle this :). Keep you posted if any update.

[2017-11-30 12:50] jlewi opened #188 "Handle the case where grpcServerFilePath is the empty string"
If grpcServerFilePath isn't set we should handle this in a grace full way so that we don't fail in a hard to debug way (e.g. #179) (see also this [comment](https://github.com/tensorflow/k8s/pull/176#issuecomment-348176442).

Some options would be:

   1. Require a non empty value; so TfJob operator should error out on startup if the path doesn't point to a valid file
   1. TfJob's that require grp

[2017-11-30 12:57] jlewi opened #189 "Make cloning the repo and building the artifacts separate commands in py/release.py"
We should make cloning the repo and building the artifacts separate commands in py/release.py and separate steps in our Airflow pipeline.

One of the advantages of doing so will be that the code for cloning the repo has to be baked into the Airflow container to allow us to boot strap by checking out the repo. So any changes to code invoked in the cloning step is difficult to test in presubmits. If

[2017-11-30 17:35] hyperbolic2346 commented on #179
Adding in the grpcServerFilePath fixed the helm test and it passes now. I'm not sure how that is related to the timeouts, but everything is good now. Thank you for your help and I'm sorry for somehow missing that in my configmap.

[2017-11-30 17:43] jlewi commented on #179
Glad its working; thank you for your persistence.

I'd appreciate you keeping us updated about your progress using CDK and opening issues for any problems you hit.

Out of curiosity, are you using CDK to deploy on GCP and AWS or on premise? On GCP why did you choose CDK over GKE?

[2017-11-30 18:15] hyperbolic2346 commented on #179
Happy to help, if I did. It looks like there is a QOL fix from this, so I'll call that a win.

I will add issues for anything that I run into from here. Thanks again.

I'm using CDK to deploy on AWS and GCP. It can go anywhere, which is some of the appeal of CDK. As for chosing it over GKE, it was entire done for testing purposes to verify that Tensorflow would run on CDK without issue. Once I got

[2017-11-30 22:11] jlewi commented on #179
Rather than fixing this with a PR to improve docs, how about taking a look at #188 and seeing if you can fix this by surfacing a more actionable error message?

[2017-11-30 22:11] #179 closed

[2017-12-01 06:29] jlewi commented on #150
@DjangoPeng I agree with you. Do you want to open up issues for those items?

[2017-12-01 06:39] DjangoPeng commented on #150
Sure thing. Maybe next Monday or Tuesday, I'll open an issue to explain and clarify our proposal.  At the same time, I'll give a developing schedule including feature and due date.

[2017-12-01 07:02] jlewi opened #192 "Don't require a master or chief"
We should consider removing the requirement to have a master.

A lot of TF code just uses worker 0 as the chief. An example is [inception using slim](https://github.com/tensorflow/models/tree/master/research/slim). Adapting such code to work with the existing TfJob API can be awkward. Inception for example uses worker 0 as the chief. If you try to treat the master as the chief and a worker you hav

[2017-12-01 16:57] foxish opened #193 "Publishing a client to pypi"
If the operator were used to generate an openapi spec, and publish a python client, that may help interactive users invoke the distributed training CRD in an easier fashion.

The flow I imagine is something like:

[code]
cc/ @jlewi

[2017-12-01 17:27] foxish commented on #193
Saw this is a dupe of https://github.com/tensorflow/k8s/issues/167. Closing.

[2017-12-01 17:27] #193 closed

[2017-12-01 17:28] foxish commented on #167
cc/ @pwittrock who was recently discussing generation of openapi from CRDs.

[2017-12-02 01:25] bhack opened #195 "Tutorials"
I want to start to collect some reference tutorials here until we will find a better place:

- [Azure TF Object API train](https://medium.com/@sozercan/tensorflow-object-detection-on-azure-part-2-using-kubernetes-to-run-distributed-tensorflow-ced5b9a6184a)

[2017-12-04 04:10] jlewi opened #196 "E2E tests pre & postsubmits are failing"
https://k8s-testgrid.appspot.com/sig-big-data#tf-k8s-postsubmit

Postsubmits have been failing.
As are presubmits.

I think this is related to #125. For that issue we started pushing updates to the container used by Airflow. That included changes to release.py to build the dashboard artifacts. But the dashboard artifacts aren't checked in yet, so the build step will fail on presubmits.

Here's wha

[2017-12-04 04:35] #175 closed

[2017-12-04 13:51] jlewi commented on #165
If someone wants to take a stab at adding kube-arbitrator support to TfJob controller here's a rough idea of what I think needs to happen

  * Add an option to TfJob controller to indicate we want to use kube-arbitrator and additional config
  * Add a method to [TfReplicaSetInterface](https://github.com/tensorflow/k8s/blob/master/pkg/trainer/replicas.go#L37) that will add the resources needed by a

[2017-12-04 19:36] jlewi commented on #192
Proposal. Add a termination policy to the TfJob; something like

[code]

The chief policy corresponds to waiting for a particular process which is the chief to exit. By letting the user specify the replica and replica index to use we can easily accomodate the cases where
   * Chief/Master runs as a dedicated replica type
   * Chief is just worker index 0
       * This appears to the pattern used b

[2017-12-05 20:05] jlewi commented on #196
Fixed.

[2017-12-05 20:05] #196 closed

[2017-12-05 20:50] jlewi opened #201 "Investigate using buildah to build our images"
https://github.com/projectatomic/buildah

We use docker build to build all our images. This is convenient when building locally but its problematic when it comes to containerizing our build/test infrastructure and running on K8s clusters. Using docker inside containers requires privileged pods and mapping in the docker socket; which isn't ideal.

I think buildah might better support building conta

[2017-12-06 03:55] jlewi commented on #192
Some getting started pointers in case someone is considering taking this on
- terminationPolicy would be defined by modifying the [TfJobSpec](https://github.com/tensorflow/k8s/blob/master/pkg/spec/tf_job.go#L55)
- Modify [SetDefaults](https://github.com/tensorflow/k8s/blob/master/pkg/spec/tf_job.go#L215) to automatically set a default terminationPolicy if one isn't set
     - The default policy sh

[2017-12-06 16:25] cwbeitel commented on #132
To get more than static remote debugging I'm wondering if, when debugging, wrapping training commands in a screen session would allow you to then connect to a failed container that has dropped into the debugger. Potentially you could connect to multiple nodes in this way in parallel and be able to use the debugger to investigate issues with distribution?

[2017-12-06 17:28] cwbeitel opened #202 "Potential issue with Tensorboard / value of simple best-practices example with tboard"
With [tf/agents ppo distributed](https://github.com/tensorflow/k8s/pull/159) example seeing edges missing from graph in tensorboard when run through tf/k8s (first image). Edges are visible when running tboard on local (with a different version of tensorboard).

<img width="1124" alt="noconnections" src="https://user-images.githubusercontent.com/2348401/33674389-31d28274-da64-11e7-9a2b-e0648da7ad5d

[2017-12-06 20:18] cwbeitel opened #203 "Submitted tfjobs cease to start running under unknown conditions"
See [logs](https://gist.github.com/cwbeitel/3b8b66afbc9c63c2c1572e5fc4790fe9). Sometimes see a previously working deployment no longer launch tfjobs and upon re-deploying cluster the same attempted tfjob deployment then works. The next time it happens I can get log or config data, let me know what you'd need.

[2017-12-06 20:35] cwbeitel commented on #202
The issue may not be with the model, seeing same issue with an adaptation of [mnist_replica.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/python/mnist_replica.py), gist [here](https://gist.github.com/cwbeitel/9c4eaec08de2c511511b20a19b0ae5e4).

tboard on tf/k8s with release v20171122-b48958b/tf-job-operator-chart-0.2.0-v20171122-b48958b

<img width="787" alt="

[2017-12-06 20:38] cwbeitel commented on #202
I don't know what this means but the dev console has the following error via a tf/k8s deployment of tboard and not on my local:
[code]

[2017-12-07 00:27] jlewi commented on #203
Please provide the logs of the TfJob operator pod.
Also please provide the result of
kubectl get tfjobs -o yaml <job name>

Also if I have access to this cluster please leave it up and running when it happens so I can inspect it.

[2017-12-07 00:37] jlewi commented on #202
This seems like an issue with certain versions of TensorBoard or the installation of TensorBoard in the tensorflow container.

The Docker image used for tensorboard can be set  by specifying [TfImage](https://github.com/tensorflow/k8s/blob/master/pkg/spec/tf_job.go#L67) in the job spec.

If TfImage isn't set it defaults [here](https://github.com/tensorflow/k8s/blob/master/pkg/spec/tf_job.go#L217).

[2017-12-07 00:39] jlewi commented on #40
@DjangoPeng Is this the right thing to do? Do you have other suggestions on how we might improve networking efficiency?

[2017-12-07 00:45] cwbeitel commented on #202
Cool yeah I'll try a TfJob with this version (1.5.0-dev20171016).

[2017-12-07 11:24] bhack commented on #108
https://github.com/kubernetes/kubernetes/issues/54011#issuecomment-349852289

[2017-12-07 13:07] DjangoPeng commented on #40
@jlewi I think LB is sort of useful for TensorFlow Serving jobs. Generally we launch a model (eg: face recognition) in a TensorFlow Serving Pod when the number of requests is bearable. But, with the number of requests increasing, a single pod is not enough to support them. Based on the assumption, I prefer launching TensorFlow Serving jobs as Deployment. On the one hand, Deployment is good at scal

[2017-12-07 15:58] jlewi commented on #40
Sorry I should have clarified that for headless services I only meant in the context of training jobs. For training jobs we need to assign stable names to each replica. So for a given replica there should be only 1 pod backing it. So I think load balancers are just introducing overhead.

Regarding network performance, is there a simple benchmark that can be run to measure network performance in a

[2017-12-07 16:06] jlewi commented on #45
I think we should also consider creating the pods directly ourselves so that we can get the semantics we want in terms

- Restart behavior based on exit code
- Setting of environment variables per replica

I think [GoogleCloudPlatform/kube-metacontroller](GoogleCloudPlatform/kube-metacontroller) could make it really simple to define a controller that just manages a single pod with the exact semant

[2017-12-07 16:15] foxish commented on #45
We should create the pods ourselves, I agree. But having a controller per pod is not a common pattern - I think it would be quite  a lot of complexity. One place the meta-controller fits in, is in replacing the existing go-based controller code. But IIRC, there's certain things we may not want to do (yet) with the meta-controller - like scaling (watch optimizations & informers), authorization of i

[2017-12-07 16:42] cwbeitel commented on #203
Sure will do.

[2017-12-07 17:49] cwbeitel commented on #202
Yep as you suggested set a more recent tfImage, tensorflow/tensorflow:1.4.0, and edges show up fine (and the example still works 😅).

<img width="1386" alt="connections_mnist_replica_cloud" src="https://user-images.githubusercontent.com/2348401/33730033-9cf63f1c-db33-11e7-8958-8334d2db44e7.png">

Do you want me to send a PR to change the default image or not right now? And do you want the dist. mn

[2017-12-07 20:20] jlewi commented on #202
Can you open up an issue (and feel free to submit a PR) to make the default Docker image configurable via the config for the operator?

What does the mnist example illustrate?

[2017-12-08 03:00] jlewi opened #205 "Use Argo workflow engine for CI/CD or releases"
https://applatix.com/open-source/argo/

This looks like it could be much lighter weight than Airflow. Looks like it would be simpler to allow testing of changes to the workflow in presubmits.

Might be interesting to experiment with Argo for our release pipeline and see if we like it more than Airflow.

[2017-12-08 03:29] wackxu opened #206 "refactor the TfJob to use Informer and Controller"
Kubernetes provides many useful tools that we can use to develop our project, such as sharedInformer, clientSet, lister and so on. Using these make our project more readable and good performance. and we also need versioned the API and it is easy for us to implement backwards compatible and make the code more specification.
we can refactor the project similar with example https://github.com/kuberne

[2017-12-08 10:58] bhack commented on #205
Seems interesting and with a "native" design.

[2017-12-08 16:25] cwbeitel opened #207 "Make default TfImage configurable by users"
Parameter servers and tensorboard instances deployed by the tfJob operator currently run `tensorflow/tensorflow:1.3.0` by [default](https://github.com/tensorflow/k8s/blob/master/pkg/spec/tf_job.go#L84). Customizing this at job time is possible by adding a `tfImage:` field to the job spec, e.g.

[code]

Users may prefer to configure the default tensorflow container at deploy- instead of job-time.

[2017-12-08 18:49] wbuchwalter commented on #195
* [Train TensorFlow Models at Scale with Kubernetes on Azure](https://github.com/wbuchwalter/tensorflow-k8s-azure)

Part 5,6,7 are around `TfJob`

[2017-12-08 20:23] jlewi commented on #202
Can we close this issue?

[2017-12-08 22:48] jlewi opened #208 "ksonnet configs for deploying the TfJob CRD & Controller"
I think it would be good to create some ksonnet configs for the TfJob CRD & controller.

This would be useful for comparing to helm and deciding which one we like better.

See also:
google/kubeflow#22

[2017-12-09 03:49] gaocegege commented on #206
Hi we(caicloud) are implementing the controller for kubeflow which is similar to kubernetes/sample-controller. And we are glad to file a proposal for the new design soon.

[2017-12-09 06:07] Jimexist commented on #205
Personally, I think Argo (or any other mature k8s-native approach) would be a better fit than Airflow.  It allows for better inter-operationality and a unified resource control and scheduling.

[2017-12-09 12:05] wackxu commented on #206
@gaocegege I am so sorry that I have almost done it and I will commit a  PR ASAP

[2017-12-09 12:39] wackxu commented on #206
@jlewi We can make the change step by step,The first phases main include follows:
1、refactor the `spec`  package to the kubernetes standard API, make the CRD definition versioned and it is easy for us to maintenance and make the code backwards compatible.
2、import code-generator to help us generate `sharedInformer`, `lister`, `clientSet` and so on.Then we will use these to refactor the `controller

[2017-12-09 13:08] ddysher commented on #206
@wackxu nice work!

Are you targeting at refactoring the code base only, or do you also plan to change the API?

[2017-12-09 19:41] jlewi commented on #206
That's awesome.

Are you planning on submitting a single PR or splitting it up into multiple
PRs?

On Dec 9, 2017 7:08 AM, "Deyuan Deng" <notifications@github.com> wrote:

[2017-12-10 02:25] gaocegege commented on #188
#dibs

I will file a WIP PR ASAP.

[2017-12-10 04:00] DjangoPeng opened #209 "Rethink the TFJob CRD"
In general, we always launch more than one TensorFlow training jobs with multiple kinds of hyper parameters combinations to get the best training results. At the same time, we can use one TensorBoard instance to visualize all of TensorFlow events outputted from training jobs. It is really a common case for data scientists and algorithm engineers. But, in the current design, the TensorBoard job is

[2017-12-10 09:07] gaocegege commented on #206
@wackxu It doesn't matter, it is awesome :smile:

[2017-12-10 23:10] jlewi commented on #209
So I agree that tying TensorBoard to a particular job doesn't facilitate comparing multiple experiments.

I think the long term plan is for TensorBoard to become a service with a DB storing the events for all jobs. See tensorflow/tensorboard#92. So at that point TfJob's would just specify the location of the DB to send the events to and there would be a separate TensorBoard service that would be r

[2017-12-11 01:35] pineking commented on #209
I think it's a better solution that the user can select the experiments
they like to show in the TensorBoard.

On Mon, Dec 11, 2017 at 7:10 AM, Jeremy Lewi <notifications@github.com>
wrote:

--
---------------------------------------------
Qingsong Liu
liuqs.ustc@gmail.com
Univ. of Sci.& Tech. of China
----------------------------------------------

[2017-12-11 02:56] DjangoPeng commented on #209
The TensorBoard upstream may have a big picture including many new features, such as supporting DB and cache, productionization ,monitoring, security, etc. I do agree all of them are benefits for us. But, I think we need to beat the current obstacle that is how to help data scientists train and track model easily. For example, if we want to train a InceptionV3 model, we might create a project dir

[2017-12-11 03:54] jlewi commented on #209
So is the proposal to create a Tensorboard instance that can track a directory?

Can't tensorboard already be pointed at a directory and automatically load multiple runs from that directory?

In your example spec for a TensorBoard job, you have 2 replicas. How does each replica decide which event files in the directory to load?

The intent of the TB replica in TfJob is not to provide a comprehensi

[2017-12-11 04:16] DjangoPeng commented on #209
@jlewi Sorry for the typo. The TensorBoard job replicas should be 1, and I have fixed that.

I agree on that we can launch TensorFlow Serving job via Deployment and ReplicaSets. But, if we want to build a e2e ML system based on Kubernetes, we have to do more things. For example, we might launch one TensorFlow Serving job in the beginning. With the number of requesting increasing, we have to scale

[2017-12-11 12:24] bhack commented on #209
@wbuchwalter In you [blog post](https://medium.com/@wbuchwalter/monitoring-your-kubernetes-training-cluster-with-tensorboard-on-azure-e5133ad0c17c) you have suggested to run Tensorboard as a service over a shared mount point. So, are the or not scalability  problem with this workaround (i.e. memory bottleneck etc.)? Or is it just an isolation problem between experiments?

[2017-12-11 12:34] bhack commented on #209
See also https://github.com/wbuchwalter/tensorflow-k8s-azure/blob/be91ed8134bb94751606646c6c13f549101e789c/7-hyperparam-sweep/solution-chart/templates/deployment.yaml#L59

[2017-12-11 13:10] jlewi commented on #209
@DjangoPeng A proposal for a KubeFlow server sounds like a good idea.

[2017-12-11 13:17] bhack commented on #209
@jlewi Kubeflow and K8 here are confusing me. What is the difference between the two projects?

[2017-12-11 13:26] jlewi commented on #209
Kubeflow is the name for the effort to make deploying an ML stack on K8s easy.

The fact that the code is split across two repos google/kubeflow and tensorflow/k8s in two different GitHub organizations is an unfortunate consequence of history and corporate policies.

At some point I hope we will fix this and create a more organized repository.

[2017-12-11 13:40] bhack commented on #209
@jlewi Yes I hope that  it will be solved when the tools will mature. I understand the policies but it will be unpractical from an user point of view to have two access entries.

[2017-12-11 14:20] xianhuawei opened #212 "panic: runtime error: invalid memory address or nil pointer dereference can not run in k8s 1.8.5"
I1211 09:10:26.004615 1 main.go:69] Loading controller config from /etc/config/controller_config_file.yaml.
I1211 09:10:26.005687 1 main.go:81] ControllerConfig: {
"Accelerators": {
"alpha.kubernetes.io/nvidia-gpu": {
"Volumes": [
{
"Name": "lib",
"HostPath": "/usr/lib64/nvidia",
"MountPath": "/usr/lib/nvidia"
},
{
"Name": "bin",
"HostPath": "/bin",
"MountPath": "/usr/local/nvidia/bin"
},
{
"Name"

[2017-12-11 15:09] jlewi commented on #212
Are you building from source?

[2017-12-11 21:47] #192 closed

[2017-12-11 22:02] jlewi commented on #203
I think I'm encountering this myself.

* Controller pod has been running for 8 days
* I have submitted multiple TfJobs that started successfully.
* Currently there is a single TfJob (see [tfjobs.yaml.txt](https://github.com/tensorflow/k8s/files/1549513/tfjobs.yaml.txt))
   * The TfJob doesn't have runtimeId which indicates it hasn't been updated by the controller.
*  Log for the [controller.log.tx

[2017-12-12 01:37] xianhuawei commented on #212
use the docker image is  gcr.io/tf-on-k8s-dogfood/tf_operator:v20171129-f8ec762

[2017-12-12 01:46] jlewi commented on #68
This has been fixed.

[2017-12-12 01:46] #68 closed

[2017-12-12 14:13] jlewi opened #214 "E2E tests should reuse clusters"
Right now our E2E tests create a new cluster for each test run.
This is especially slow when using GPUs.

It would be faster to reuse a cluster and just give a test its own namespace in the cluster.

Since GPUs require Alpha clusters we'd have to recreate the cluster every 30 days.

[2017-12-12 15:25] jlewi commented on #212
Any idea why the stack trace shows paths like "/home/will/gows/src/github.com"?
Is that your home directory?

Does this happen consistently?

Its not entirely clear from the stack trace what variable is nil. I suspect its: TfJobRestClient.restcli.Client. We could add a check in NewTfJobClient to make sure its not nil and ensure we have a properly initialized client.

[2017-12-12 16:36] wbuchwalter commented on #212
Is that your home directory?

That would be my home directory. Most likely built and pushed by me when I was debugging the release script for #125 .

@xianhuawei Are these the commands you ran: https://github.com/wbuchwalter/tensorflow-k8s-azure/tree/master/5-tfjob#installing-tensorflowk8s ? Or did you install the chart another way?

I'm not sure why this would be pulling a 2 weeks old image in yo

[2017-12-12 19:15] jlewi opened #218 "TfJob should be marked as failed if setup fails"
Context #203

* Controller pod has been running for 8 days
* I have submitted multiple TfJobs that started successfully.
* Currently there is a single TfJob (see [tfjobs.yaml.txt](https://github.com/tensorflow/k8s/files/1549513/tfjobs.yaml.txt))
   * The TfJob doesn't have runtimeId which indicates it hasn't been updated by the controller.
*  Log for the [controller.log.txt][controller.log.txt](ht

[2017-12-12 19:16] jlewi commented on #203
I opened #218 for the specific issue I encountered. Chris we can continue to use this issue to track your particular problem.

[2017-12-12 19:30] jlewi commented on #218
So I can repo this using the following spec:

[code]

Which results in the following job

[code]

The state isn't set but it should be set to failed.

[2017-12-13 02:28] xianhuawei commented on #212
@wbuchwalter  I use

kubectl create -f https://raw.githubusercontent.com/google/kubeflow/master/components/tf-controller/deploy_crd.yaml

[2017-12-13 04:14] jlewi commented on #212
That's really puzzling. Can you try updating deploy_crd.yaml to use
gcr.io/tf-on-k8s-dogfood/tf_operator:v20171213-2b67180

for the image?

[2017-12-13 07:32] mitake commented on #165
Hi @k82cn , I'm interested in this issue because we are working on the same problem. Our approach is implementing the gang scheduling in a custom scheduler. The brief description can be found in my talk at kubecon '17: https://schd.ws/hosted_files/kccncna17/95/kc_cnc_na17_mitake.pdf (page 6 - 9).

Can I try your kube-arbitrator based solution, or is it still under construction?

[2017-12-13 12:16] k82cn commented on #165
@mitake , we're still working on that; but I think you can have a try. If any issue here, we'll handle it ASAP.

[2017-12-13 12:22] k82cn commented on #165
/cc @jinzhejz

[2017-12-13 16:22] zjj2wry commented on #207
anyone in process with this issue? if not, i 'd like pick this for my first issue.

[2017-12-13 17:11] cwbeitel commented on #203
Sounds good.

[2017-12-13 17:18] cwbeitel commented on #207
Go for it!

[2017-12-14 01:50] cwbeitel commented on #202
Sure just saw this.

[2017-12-14 01:50] #202 closed

[2017-12-14 04:22] gaocegege opened #223 "Use conditions instead of phase"
https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#typical-status-properties

kubernetes suggests us to use conditions instead of phase, now the code uses phase heavily, I think we should have a plan to deprecate phase.

/cc @DjangoPeng

label/enhancement

[2017-12-14 05:21] jlewi commented on #223
Makes sense to me.

Should we wait until #206 is fixed to fix this?

/cc @wackxu

[2017-12-14 05:23] gaocegege commented on #223
I think so :thinking:

We could design the correspondence between phase and conditions first and the implementation may be blocked until #215 merged.

[2017-12-14 05:37] gaocegege opened #224 "[CRD] Request for input and output dirs in TFJobSpec"
There is one input dir: `DataDir` and three output dirs `ModelDir`, `LogDir`, and `ExportDir` in a typical training job.

`DataDir`  is the path to dataset, `ModelDir` is the path to checkpoint, graph and etc. `LogDir` is the path to the log, and `ExportDir` is the path to the saved model.

These dirs are often specified by users, then could we add them as an optional config in TFJobSpec?

For exa

[2017-12-14 05:47] mitake commented on #165
@k82cn thanks. But it seems that tf_operator simply creates jobs for TF workers and PSes simply (https://github.com/tensorflow/k8s/blob/master/pkg/trainer/replicas.go#L258). How k8s can determine these jobs belong to a single learning task and schedule them at once?

[2017-12-14 05:53] DjangoPeng commented on #223
Agree with @gaocegege. A slight question here: what's the design purpose of [ReplicaStatuses](https://github.com/tensorflow/k8s/blob/master/pkg/spec/tf_job.go#L363) and [ReplicasStates](https://github.com/tensorflow/k8s/blob/master/pkg/spec/tf_job.go#L382) here?

[2017-12-14 12:33] erikerlandson commented on #165
A kube job object can describe multiple pods that start up and run to completion.  In that respect a job can represent a single TF training (if you embue it with gang scheduling). If we use the existing kube object Job as a unit of gang scheduling, it might hit a lot of use cases.  People with traditional Job objects could use it.  But we might architect newer things like kubeflow CRDs or Airflow

[2017-12-14 19:54] jlewi opened #229 "Test failures aren't properly reported in Gubernator"
If steps in our Airflow E2E test pipeline fail, we should create junit files in GCS so that gubernator shows the test as failed.

Similarly, we should probably create junit files corresponding to any steps that don't run because of upstream failures.

Otherwise in Gubernator if a step fails we just see 0 failed/ N succeeded where N is less than the total number of tests. This is confusing for peop

[2017-12-14 19:57] jlewi commented on #185
Quickest path might be creating a Google group to keep track of collaborators that should have access to the test infrastructure.

[2017-12-15 04:40] #218 closed

[2017-12-15 04:47] jlewi commented on #224
How would these values be passed to the user's code?

What's the advantage of this proposal over just letting the user specify command line arguments or environment variables as they see fit?

Why not let users rely on their tool of choice (e.g. helm or ksonnet) to specify the TfJob spec conveniently?

[2017-12-15 09:15] DjangoPeng commented on #224
@jlewi Hi Jeremy, I think it's a trade-off between flexibility and complexity.

We can divide users into two kinds according to the familiarity with TensorFlow. One is the TensorFlow expert who always know how to train, visualize and serve models. Another is the TensorFlow newbie who is the process of learning TensorFlow API.

- For TensorFlow experts, the optional fields above would never influen

[2017-12-15 13:11] jlewi commented on #223
ReplicaStatuses and ReplicaStates provide information about each replica. Not all replicas might be in the same state; some might be crashing for example. So ReplicaStatuses provide finer grained information then just the overall status of the job.

[2017-12-15 13:49] jlewi commented on #224
Suppose I don't understand TensorFlow very well and I just copied someone else's TensorFlow example. If I look at the proposed TfJob spec then I'd probably expect if I just specify LogDir, DataDir, and ModelDir that this would set the corresponding values for my TF program.

But this would most likely not work.

First I'd need to understand how TfJob passes those values into the TensorFlow program

[2017-12-18 07:49] DjangoPeng commented on #209
I think the current design of CRD is dedicated to TensorFlow training jobs. While single CRD for multiple TFJob types might not a good choose. So I'd like to close this issue, and we can open another PR to discuss the CRD of TensorBoard and TensorFlow Serving. @jlewi WDYT

[2017-12-18 08:19] DjangoPeng commented on #224
@jlewi Thanks for your replies. Since TensorFlow is just a ML lib instead of framework such as Hadoop/Spark, we have to trade-off the user flexibility and system completeness. Of course we can open all interfaces and configs to users. In this way, we just provide a tool to launch TensorFlow training jobs and hard to provide a `Training-TensorBoard-Serving` pipeline. The key point is the scope of o

[2017-12-18 14:44] jlewi commented on #209
@DjangoPeng Makes sense to me. Thanks.

[2017-12-18 14:44] #209 closed

[2017-12-18 16:02] cwbeitel commented on #114
Interested might be quick, do you want something like [what is used for tensorflow](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/pip_package) or something simple like adding setup.py to the root of the project or to release?

[2017-12-18 17:14] jlewi commented on #114
Something like simple like adding a setup.py and then modifying the release process to build and publish the pip package to GCS or pypi (if its easy).

[2017-12-19 02:13] benni82 opened #233 "example-job can not work in private k8s cluster"
kubectl get all
[code]

kubectl describe tfjob example-job
[code]

kubectl logs po/example-job-master-guw2-0-mfh94
[code]

can not find ps pod `example-job-ps-guw2-0`

[2017-12-19 04:52] jlewi commented on #233
Can you include the logs from the the TfJob operator pod? It looks like the parameter servers aren't getting created.

[2017-12-19 06:24] benni82 commented on #233
kubectl logs po/tf-job-operator-5bc5b5f65-r9f42
[code]

[2017-12-19 06:34] benni82 commented on #233
If I create configmap as blow
[code]
and reinstall tf-job-operator
[code]
`helm test tf-job` can passed

[2017-12-19 09:13] #233 closed

[2017-12-19 13:36] zjj2wry commented on #122
plugin.yaml:
[code]
check user permission code:
[code]
@jlewi take a look test-infra code. Seems PR's org member can trigger CI. `kubernetes` is  trusted_org for `tensorflow/k8s`, so `kubernetes` member also can trigger CI. but we can use tensorflow membership guidelines in `join_org_url`. And we only open `trigger` plugin, we can open `lgtm`,`label`,`size` plugin. seems it is helpful.
[code]

[2017-12-20 04:05] #207 closed

[2017-12-20 04:07] #155 closed

[2017-12-20 04:27] jlewi commented on #122
Thanks.

I think we want to follow Kubernetes practices and membership guidelines not TensorFlow. I don't think requiring Kubeflow contributors to be members of either tensorflow or kubernetes organizations really makes sense; but that's one of the issues we can discuss at the community meeting.

Just so I understand the last comment, you're proposing we add the lgtm,label,size plugins for the ten

[2017-12-20 07:30] lluunn opened #235 "e2e test for the case that the chief is not master"
followup of this [issue](https://github.com/tensorflow/k8s/issues/192)

[2017-12-20 10:07] zjj2wry commented on #122
@jlewi we can get some information in [plugin-help](https://prow.k8s.io/plugin-help.html).

[2017-12-20 23:11] jlewi commented on #189
I think we also need to configure the steps in the airflow pipeline to use the newly checked out directory as the Python path.

[2017-12-21 05:34] jlewi commented on #224
@DjangoPeng I agree there's room for providing simpler APIs and tools. My preference though would be to build this as a separate layer on top of the core layers.

For example, if you want a simpler and more constrained API then TfJobSpec then why not define a new CRD with the desired API and implemented as a lambda using [kube-metacontroller](https://github.com/GoogleCloudPlatform/kube-metacontrol

[2017-12-21 10:26] EdwardZhang88 opened #238 "tf_smoke.py distributed computing doesn't work on minikube"
I just started to learn K8S this month and found this CRD initiative to support Tensorflow on K8S really helpful. However, while I am able to run a local MNIST test on a single Pod in my minikube successfully, I am now stuck with distributed task tf_smoke.py. Here are the details:
minikube version: v0.24.1
tensorflow:1.4.0
tf_operator:gcr.io/tf-on-k8s-dogfood/tf_operator:v20171215-eb0fd5f

Below i

[2017-12-21 14:17] jlewi commented on #238
My guess would be some sort of networking issue with minikube. Can you try pinging the master from the workers e.g.

[code]
When you call tf.Server you are starting a TensorFlow server on port 2222 in another process. The python code that is executing locally on that work then connects to that gRPC server and uses that server to talk to the other gRPC servers in the cluster. It uses "localhost" be

[2017-12-21 14:18] jlewi commented on #208
This has been committed. To google/kubeflow.

[2017-12-21 14:19] #208 closed

[2017-12-21 14:26] jlewi opened #239 "Use Kubeflow & ksonnet to install TfJob"
Kubeflow & ksonnet should be the preferred way to obtain and install Kubeflow.

Here's the work to be done

- [X] google/kubeflow#61 Add missing features to ksonnet TfJob component
- [X] Update TfJob E2E tests to use Kubeflow to deploy and install Kubeflow via the TfJob controller
   - See #403
- [ ] Update TfJob docs to refer to Kubeflow & ksonnet
- [ ] Stop building and releasing new helm packag

[2017-12-21 16:28] EdwardZhang88 commented on #238
@jlewi Thanks for the reply. First of all, all the Pods are running without any container restart.
<img width="1034" alt="screen shot 2017-12-22 at 12 11 53 am" src="https://user-images.githubusercontent.com/28944236/34264121-c8c0662a-e6ac-11e7-8d3f-52471a717240.png">
I also tried to verify the network connectivity. Surprisingly, It turns out that ping is not installed in the original tensorflow d

[2017-12-22 00:36] #189 closed

[2017-12-22 02:01] squillace commented on #136
A draft pack contains a Dockerfile for the code and a Helm chart for deployment; unless there's something in a manifest or Ksonnet that cannot be expressed in a Helm chart -- and I'm not clear what that would be -- a custom draft pack is exactly what you would do. :-)

`draft up --pack=<draft pack>` would then apply the dockerfile and chart so that the developer doesn't have to. This would provide

[2017-12-22 04:52] jlewi commented on #238
It looks in your shells you were pinging by ip address and not hostname. And I didn't see any entry in the hosts files for remote replicas. So maybe there is an issue with DNS lookup?

We also want to use the hostname for the services not the pods themselves. So in the example you gave the service names would be

[code]

Can you run:

nslookup ${HOSTNAME}

for the names of some the services on one

[2017-12-22 09:13] k82cn commented on #165
@erikerlandson , in kube-arbitrator, we introduced `QueueJob` (CRD) to include all related info for scheduling. For now, it's not bound to `Job`; but it makes sense to do that (similar with CronJob) when  merging to upstream.

[2017-12-22 13:41] jlewi opened #240 "GPU test marked as succeeded but airflow step is failing"
In our Airflow graph, the run_gpu_test isn't succeeding.

[code]
But the test is still reported as succeeded in [Gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/tf-k8s-periodic/174). The junit file
https://storage.googleapis.com/kubernetes-jenkins/logs/tf-k8s-periodic/174/artifacts/junit_gpu-tests.xml
exists and reports success.

So there are two issues here

1. The Tf

[2017-12-22 13:48] jlewi commented on #240
Here's the value of `/var/lib/data/runs/tf_k8s_tests/2017-12-22T11_23_38/tensorflow_k8s/examples/tf_job_gpu.yaml`

[code]

[2017-12-22 14:25] jlewi commented on #240
When I manually ran the step to create the cluster I noticed that it completed before the controller pod had started

[code]
So I'm guessing we try to create the TfJob before the CRD is actually created and this is why we get a 404.

Potential fixes
  - Setup cluster should wait for resource to be TfJob CRD to be created
  - Add retry to job submission

[2017-12-22 22:27] jlewi opened #242 "SetupCluster failures unexpected keyword argument 'client_configuration'"
I updated the docker images for Airflow because I'm trying to fix some issues and setup cluster started failing with the error

[code]

[2017-12-22 22:34] jlewi commented on #242
Kubernetes py package 4.0.0 was released on 11-20.
https://pypi.python.org/pypi/kubernetes/4.0.0

I suspect even though we had rebuilt the container since then we hadn't rebuilt the layer container the Kubernetes client so we were still using 3.0.0. So I suspect something changed.

I think util.setup_cluster actually relies on a private function to work around kubernetes-incubator/client-python#33

[2017-12-22 22:52] jlewi commented on #242
Looks like Configuration might have changed
https://github.com/kubernetes-incubator/client-python/blob/master/CHANGELOG.md#v400a1

It looks like KubeConfigLoader is actually sourced from a different repo via a submodule.
Here's the current version
https://github.com/kubernetes-client/python-base/blob/master/config/kube_config.py
client_configuration is not an option.

It looks like we might just n

[2017-12-22 23:59] #240 closed

[2017-12-22 23:59] #242 closed

[2017-12-25 09:43] EdwardZhang88 commented on #238
@jlewi So I tried the same YAML and tf_smoke.py on a single K8S node and the issue was gone. I guess it's just an issue with Minikube then.

[2017-12-25 09:43] #238 closed

[2017-12-25 18:36] jlewi commented on #80
[code]

[2017-12-25 18:53] jlewi commented on #80
Here's one failure mode I see

DAG run 2017-12-25T05:33:44

SetupCluster runs. On attempt #1 the cluster is created and the helm package for the operator is installed; but then there's a problem getting the status while waiting for the deployment to be ready

[code]
Airflow retries the setup cluster task (attempt 2) and that fails due to a problem creating the GCS output.

[code]

Now teardown_clu

[2017-12-27 03:08] otrewyi191 opened #247 "what's the main change between version 0.2 and version 0.3?"
@jlewi
what's the main change between version 0.2 and version 0.3?

[2017-12-27 03:45] jlewi commented on #247
What version are you referring to?

[2017-12-27 04:38] ScorpioCPH commented on #165
@jlewi Thanks for bringing up this great discussion! Sorry don't notice this discussion before I proposed [kube-scheduler](https://github.com/google/kubeflow/issues/68), please involve me in about this in the future, let's push this forward together!

For TensorFlow data parallel training, there are two approaches, synchronous and asynchronous:
- Synchronous: is similar as you described, the PS wi

[2017-12-27 09:31] ScorpioCPH opened #249 "API: some comments about API changes from PR #215 review"
@jlewi Hi, file this issue to track API comments from PR #215:

- Reuse `metadata.UID` instead of `RuntimeId` in `TfJobSpec`.
- Maybe we should revisit status representation: `State`/`ReplicaState`/`TfReplicaStatus`.

[2017-12-27 09:31] ScorpioCPH commented on #64
I also have some comments about API changes https://github.com/tensorflow/k8s/issues/249, maybe we can discuss this topic together :)

[2017-12-27 09:54] gaocegege commented on #64
I think the type name `tfReplicaType` is a little redundant, maybe `type` is fine.

And I agree with @ScorpioCPH about the status:

For example, I think `State` field in `TFReplicaStatus` could not express the state accurately since it is complicated, then `TFReplicasStates` is enough maybe.

[2017-12-27 14:43] jlewi commented on #165
@ScorpioCPH I'm not sure its worth it to treat asynchronous any differently from synchronous. At best that seems like an optimization to wait for the future.

Do you think we should try to add kube-arbitrator support to TfJob controller?

[2017-12-27 14:47] jlewi commented on #249
What are the properties of UID? i.e. how long is it and what characters does it use?

[2017-12-27 17:08] ScorpioCPH commented on #249
@jlewi Hi, It is defined here, [Identifiers and Names in Kubernetes](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/identifiers.md)

`UID`: A non-empty, opaque, system-generated value guaranteed to be unique in time and space; intended to distinguish between historical occurrences of similar entities.

[2017-12-27 17:25] ScorpioCPH commented on #165
Maybe we can do a deep survey about this, if asynchronous model is used commonly, this is not a high-priority issue.

If synchronous is used commonly, i think this is a high-priority issue need to be addressed, because in some corner case the training will get stuck.

Sorry, i'm not very familiar with `kube-arbitrator`, it seems like it still under construction.
Maybe we can take a stab at this (I

[2017-12-27 20:37] #80 closed

[2017-12-28 03:52] k82cn commented on #165
Agree with jlewi@ ; in davidopp@'s design doc, it's handled by `min request` for both 'async' and 'sync': if 'total desired' == 'min request', it is "sync", 'total desired' > 'min request' is "async" according to your description; the controller can update number of task.

Maybe we can take a stab at this (I prefer starting this after refactor).

Honestly, it's better to contribute to kube-arbitra

[2017-12-28 13:25] Jimexist commented on #122
Following the Kubernetes org guideline, does contributing in tensorflow/k8s count?

[2017-12-28 15:17] jlewi commented on #122
@Jimexist Not sure who decides that.

I wonder if we could add an IsCollaborator method to [github client]( https://github.com/kubernetes/test-infra/blob/master/prow/github/client.go) and then allow tests to be triggered by members of the org or collaborators?

[2017-12-29 02:23] Jimexist commented on #53
@jlewi see also #248 and one can add `pylint` as a dev depedency there

[2017-12-29 02:53] Jimexist commented on #53
@jewi

Prettier can handle markdown

[2017-12-29 02:54] Jimexist commented on #53
also FYI pipenv can [enforce pep8 check](https://github.com/pypa/pipenv/blob/master/docs/advanced.rst#-code-style-checking)

[2017-12-29 16:47] jlewi opened #255 "Setup Prow PR Dashboard"
We should the [Prow PR Dashboard](https://github.com/kubernetes/test-infra) to make it easier to see which PRs need attention.

[2017-12-29 17:30] jlewi commented on #249
Great. I think you are right we can and should replace RuntimeId with the UID; although we might need to truncate it.

[2017-12-29 17:35] jlewi opened #256 "Build failing because of lint issues"
[code]

My guess is that on #215 Travis hadn't been rerun since gomelinter had been added.

@Jimexist Could you take a look please? I'd be ok with a quick fix of disabling lint checks on some or all of the files mentioned with problems. Some of this code like zz_generated is auto-generated and should probably be ignored.

[2017-12-30 12:50] Jimexist commented on #256
@jlewi see #257

[2018-01-03 03:38] #256 closed

[2018-01-03 05:36] jlewi opened #263 "Does TfJob controller need to do master election?"
The TfJob controller does master election. This code was originally copied from the etcd controller.

I think the etcd operator was using master election to handle operator update.

What do others think? Is master election the right thing to do?

/cc @zjj2wry @wackxu @gaocegege @DjangoPeng

[2018-01-03 05:44] jlewi commented on #206
Reopening this because it was autoclosed but I think there are PRs still pending related to this.

[2018-01-03 05:49] gaocegege commented on #263
I think it is better to follow the design of [controller in Kubernetes](https://github.com/kubernetes/sample-controller) instead of [etcd operator](https://github.com/coreos/etcd-operator), since we could keep the controller stateless. @wackxu did lots of refactoring work and we are close to it.

In that architecture, we do not need keep a in-memory state machine and the map here https://github.co

[2018-01-03 06:12] DjangoPeng commented on #263
Both tensorflow/k8s and caicloud TFJob controller keep the sample controller style. And, TFJob controller should be stateless and get rid of in-memory state machine.

So, we can deprecate the master election.

[2018-01-03 07:44] gaocegege commented on #263
FYI @jlewi https://github.com/caicloud/kubeflow-controller

We open sourced a temporary re-implementation of our internal tool, ml-executor, in caicloud. And it is designed to be stateless although it is simple now. We hope the project could accelerate the development of tensorflow/k8s :-) And we will use tensorflow/k8s eventually to replace this controller.

[2018-01-03 09:12] GoodJoey opened #264 "what's the folder pkg for?"
https://github.com/tensorflow/k8s/tree/master/pkg

hi, i noticed that in this folder , there are many go files, what r these files for?
is it the go scripts for installing CRD? How to use it? Thanks?

[2018-01-03 09:16] gaocegege commented on #264
If you are a user of Kubeflow, not interested in the development, you do not need to care about `pkg`. And if you are interested in the development, `pkg` contains the main logic of the operator in `pkg/controller/controller.go`.

[2018-01-03 09:18] wackxu commented on #263
If we want to make TFJob controller stateless like ` Kubernetes controller` , I think we need do master election for high availability so that we can running more than one tensorflow controller and when one of them down, it can switch smoothly to one of the cold back.

[2018-01-03 09:22] gaocegege commented on #206
#234 refactors the logic but there are some other things should be done to migrate to the new controller design.

We implemented a simple controller github.com/caicloud/kubeflow-controller and glad to help the upstream to do the rest work.

[2018-01-03 09:28] gaocegege commented on #263
Master election is a little heavy for me, I think we could use deployments to deploy the controller and rely on k8s to help us handle the controller failure.

BTW /cc @ScorpioCPH @Jimexist

[2018-01-03 09:43] ScorpioCPH commented on #263
If it is `stateless`, I think we can just scale-up it by load balancer like web service, what's the benefit of `built-in` master election?

[2018-01-03 09:47] gaocegege commented on #263
There is one thing different compared to web services: All controller instances watch the apiserver and all of them will execute event call back handler by default. Although we could keep the data consistency with the support of ResourceVersion, I think it is a little weird.

[2018-01-03 10:48] ScorpioCPH commented on #263
@gaocegege So I think it is not `stateless` as you described.

In consideration of data consistency, I prefer master election.

[2018-01-03 13:33] jlewi commented on #206
@gaocegege Merging the caicloud work seems like a great idea; I think the caiacloud controller has many advantages over the current implementation. A couple questions/comments

1. https://github.com/caicloud/kubeflow-controller seems to distinguish between a local job and non local job. What's the difference?

1. How does the caicloud controller determine when a job is done?

1. Could you explain

[2018-01-04 01:48] wackxu commented on #206
@jlewi @gaocegege caicloud kubeflow-controller is similar with [kubernetes job controller](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/job/job_controller.go), It is a better implementation. I think we can do it in the next PR and I am very glad to help review it.  The main change is so big and I think we should first merge https://github.com/tensorflow/k8s/pull/234, https:/

[2018-01-04 02:16] DjangoPeng commented on #45
A same discussion in caicloud internally.  Ref: https://github.com/caicloud/kubeflow-controller/issues/71#issuecomment-355056365

PTAL @jlewi @foxish

[2018-01-04 03:14] gaocegege-caicloud commented on #206
@jlewi @wackxu

Thanks for your review, I will write a design doc ASAP and file an issue to discuss the differences between caicloud controller and the upstream controller.

There are some changes in caicloud TFJob CRD, and @DjangoPeng is summarising them and he will file an issue to discuss it.

Now it is simple, the controller checks the statuses of the workers, if all workers are succeeded, we

[2018-01-04 03:28] #264 closed

[2018-01-04 03:35] DjangoPeng commented on #206
@jlewi Thanks for your reply. I'd like to give a supplement.

In caicloud Clever platform, we support not only TensorFlow jobs but also batch job, service and others. Considering the open source work, we'll eventually combine TFJob CRD of ourselves and upstream. It's necessary to file an issue to discuss the details, and I'll do it after my company work.

The design and lifecycle of local job is d

[2018-01-04 05:20] jlewi commented on #45
Here's some background.

- The original motivation to use a Job or Replica set controller (as opposed to managing pods directly) was to let K8s handle failures that would cause a pod to be terminated

  -  For example if a VM becomes unhealthy terminating the pod, we want to restart the pod; the assumption is that the training code is robust to these types of failures i.e. they are using Superviso

[2018-01-04 06:43] GoodJoey opened #265 "suppose i've install the tfjob in my k8s cluster"
if i want distribute train with tfjob, what changes do i need to do in my code(say train.py).
if i understand right, i still need to set up the ClusterSpec, right? thanks

[2018-01-04 07:13] ScorpioCPH commented on #45
@jlewi Hi, Thanks for your background update.

We have an option `restartPolicy` in TFJob API [here](https://github.com/tensorflow/k8s#creating-a-job), so let user to define the restarting policy maybe better.

[2018-01-04 18:19] jlewi commented on #45
I agree with letting the user specify the restart behavior. In the current implementation, restart behavior is tied to replica type. Workers, parameter servers, and masters have different restart behaviors.

I think in a future iteration we should let users define the restart behavior for each replica by picking from a set of policies.

I don't know if we can reuse the existing `restartPolicy` fie

[2018-01-05 00:32] jlewi commented on #265
You might want to look at this tutorial
https://github.com/tensorflow/k8s/issues/195#issuecomment-350341807

The correct ClusterSpec will be provided as part of the TF_CONFIG environment variable. The code changes you make depends on which TensorFlow APIs you are using.

Higher level API's like tf.Estimator I believe automatically check the TF_CONFIG environment variable for the cluster spec so yo

[2018-01-05 01:32] wackxu opened #266 "Attach appropriate header (copyright) to go files"
@jlewi @zjj2wry @gaocegege @ScorpioCPH

[2018-01-05 02:07] gaocegege commented on #266
Do you mean the copyright header?

[2018-01-05 02:37] wackxu commented on #266
@gaocegege Yes, copyright header for go files is confused， we can make a boilerplate  for all go files

[2018-01-05 02:41] gaocegege commented on #266
SGTM

[2018-01-05 03:23] ScorpioCPH commented on #266
Do you mean we need an auto-generate script?

[2018-01-05 04:53] jlewi commented on #266
Does anyone have a link to what the requirements are?

/cc @foxish @vishh @aronchick

[2018-01-05 06:30] gaocegege commented on #206
https://github.com/gaocegege/kubeflow-controller/blob/a54021d250c6e532f3a6e32be32e37e1249c0780/docs/design_doc.md#implementation

I added some explanation about the implementation, and as wackxu@ said it is simliar to job controller in Kubernetes. Before #234 merged, I will fix some issues in our own implementation. And I will file an issue to contribute the implementation to the upstream after #2

[2018-01-05 15:12] jlewi commented on #206
Are you planning on using a single CRD or having different CRDs for different types of jobs?

[2018-01-05 18:28] robinlu1984 opened #267 "Pods terminated without waiting"
Master, worker, PS can start successfully. They can also train the model, but after that, something unusual happened. For example, I have the following pods deployed:

[code]
After training finished in one worker, it is terminated. Then other nodes, such as master pod, stuck at the place:
[code]
All these pods are running in different nodes.

Any suggestion?

[2018-01-05 21:06] jlewi commented on #267
Only the chief (master) should terminate. Workers shouldn't exit.

The problem is that TensorFlow blocks unless there are gRPC servers corresponding to all the replicas (master, ps, workers) are running a gRPC server.

So when your workers are finished they should just block forever; only the master should exit.

[2018-01-05 21:15] robinlu1984 commented on #267
@jlewi  thanks for the reply.  If the workers block forever,  the pod cannot be terminated by kubernetes, meaning that that GPU is always occupied by that pod, and other pending pods requiring GPU resources cannot get scheduled.

[2018-01-05 22:29] aronchick commented on #266
uh, no idea. /cc @ewilderj

[2018-01-06 01:18] ewilderj commented on #266
Check out https://opensource.google.com/docs/releasing/preparing/#include-license-file-and-source-code-headers

[2018-01-07 15:17] cwbeitel opened #268 "deploy.py gives gcloud api error '... Version "1.8.1-gke.1" is invalid.'"
Deploy command

[code]

gives

[code]

Suggest changing [initialClusterVersion](https://github.com/tensorflow/k8s/blob/master/py/deploy.py#L48) to "1.7.11-gke.1".

[2018-01-07 20:42] jlewi commented on #267
The expectation is that the TfJob controller will terminate the pods, thus releasing the resources when the job is done.

There's a current limitation in how TfJob controller works in that pods are only terminated when the TfJob is deleted k8s/issues#128 but we plan on changing that.

The fact that all replicas in a TF cluster need to be available for any to do work is an outcome of the way TF wor

[2018-01-07 20:43] jlewi commented on #265
Please reopen this  issue if you have further questions.

[2018-01-07 20:43] #265 closed

[2018-01-07 20:44] #83 closed

[2018-01-07 20:53] jlewi commented on #128
Bumping the priority of this issue because I think the fact that we leave pods running is a barrier to people actually doing real work with TfJobs. So we should work on getting it fixed soon.

[2018-01-07 23:11] jlewi opened #270 "Fix the releaser so we can build new images"
TfJob dashboard is crashing for me.

[code]
So looks like it can't find the right binary. Could be an issue with the image or with the config.

Here's the pod spec.

[code]
I launched the job with the ksonnet config in google/kubeflow#93

[2018-01-07 23:21] jlewi commented on #270
Image: gcr.io/tf-on-k8s-dogfood/tf_operator:v20171223-37af20d

I don't see the dashboard backend in the image

[code]

[2018-01-07 23:28] jlewi commented on #270
Our release script is currently broken which is why we haven't produced new images since 12/23.

Here's the error

[code]
So we're missing yarn  and therefore unable to build the FE.

[2018-01-08 13:28] #268 closed

[2018-01-08 16:01] bhack commented on #136
See also https://github.com/Azure/draft/issues/482

[2018-01-09 07:44] mitake commented on #165
@ScorpioCPH

I don't think the problem is a corner case thing. It is really easy to produce the problem: generate some distributed learning task (e.g. 100) on a relatively small cluster (e.g. less than 10 nodes) is enough even for CPU based training. And such a situation would be common for experiments of DL research and engineering (especially hyperparameter tuning).

[2018-01-10 06:29] gaocegege commented on #206
@jlewi

Sorry for the late reply.

We hope we could use the upstream controller eventually. And we will discuss about the changes and try to merge the changes in CRD into the upstream, or we will rethink about the design of ours if we can not come to an agreement.

As README in caicloud/kubeflow-controller said, it is just temporary.

[2018-01-10 08:34] jianzi123 opened #274 "build new code to new image and find some problem"
error code:
`logging before flag.Parse: I0110 08:10:47.282907       1 controller.go:78] Setting up event handlers
CustomResourceDefinition.apiextensions.k8s.io "tfjobs.tensorflow.org" is invalid: spec.names.singular: Invalid value: "TfJob": a DNS-1035 label must consist of lower case alphanumeric characters or '-', start with an alphabetic character, and end with an alphanumeric character (e.g. 'm

[2018-01-10 08:46] gaocegege opened #275 "[bug] glog before flag.Parse()"
The code in master has some errors:

[code]

[code]

We do not parse flag, so the glog prints error every time.

[2018-01-10 08:51] gaocegege commented on #274
Hi, @jianzi123 There are two problems in the code, and we will fix it soon.

One is about glog: #275

And another is that singular name of tfjob should be lower case and we use `Tfjob` instead [here](https://github.com/tensorflow/k8s/blob/master/pkg/apis/tensorflow/v1alpha1/types.go#L9)

Thanks for the issue

[2018-01-10 09:05] gaocegege commented on #275
I think we should use flag instead of pflag, because glog is bound to flag: https://github.com/golang/glog/pull/13

[2018-01-10 09:08] ScorpioCPH commented on #45
Do you mean we can re-started some workers with checkpoint file?

Good idea, and in consideration of these `smart` features, I prefer `Pod` now :), It will give us the full control of the whole workflow.

[2018-01-10 09:16] DjangoPeng commented on #45
@jlewi @ScorpioCPH Sorry for the late reply.

SGTM. We'd better move it forward and take care of the implementation at the same time.

[2018-01-10 09:21] jianzi123 commented on #274
If no one  solve the problem, I can try it.

[2018-01-10 09:25] gaocegege commented on #274
I am fixing it and PTAL #277 #276

If you want to get involved into the development of the project, maybe #188 is a good entrypoint. Since I have a PR #210  for the issue but I have not time to update it. The issue is friendly for new contributors :-)

[2018-01-10 09:28] gaocegege commented on #45
If we decide to use pod, we could reuse the code in caicloud/kubeflow-controller :smile:

And I also vote for pod, now

[2018-01-10 09:34] DjangoPeng commented on #45
@ScorpioCPH @gaocegege Maybe we should merge the CRD at first. There are some difference between upstream and caicloud's implementation.

Some discussion here https://github.com/caicloud/kubeflow-controller/issues/80

[2018-01-10 10:07] gaocegege commented on #274
@jianzi123 And this error is fixed in #278  = =

[2018-01-10 10:47] wydwww commented on #173
Hi @jlewi Is there any solution for the same issue when tf-job-operator is deployed by Kubeflow instead of helm?

[2018-01-10 11:20] jianzi123 commented on #274
thanks.

[2018-01-10 11:29] jlewi commented on #206
Sounds great thanks.

[2018-01-10 15:05] #275 closed

[2018-01-10 15:09] #274 closed

[2018-01-10 15:24] jlewi commented on #270
This is fixed.

[2018-01-10 15:24] #270 closed

[2018-01-10 15:25] jlewi opened #279 "Regression in flag name: controller-config-file"
The flag controller_config_file was changed to controller-config-file. But it looks like this change was lost in the big refactor #234.

[2018-01-10 15:32] gaocegege commented on #279
👍  +1

And by the way, I think we need to test if the code works well since there were some bugs that make the operator crash.

#276 #278 fix some issues but maybe there are some other issues that we haven't found yet.

[2018-01-10 15:34] jlewi commented on #214
Not sure we want to do that. I think CRD's are cluster level resources; so there can be a single TfJob CRD per cluster. So I don't know how we would test that each version of the CRD is creating a valid spec if its using an existing cluster that already has CRD defined.

As an example, #274 indicates an error with the CRD spec not being valid for TfJob. (Although that bug wasn't caught by our test

[2018-01-10 15:36] jlewi opened #280 "Gaps in test coverage"
Our tests aren't catching certain bugs.

For example #274. In that case the controller was crash looping because the spec was incorrect

[code]

[2018-01-10 15:38] jlewi commented on #279
I opened #280.

We should try to avoid manual tests because they slow everything down. We have automatic tests for pre/post submits. That should have caught the issue in #274.

[2018-01-10 18:52] jlewi commented on #24
I'm adding this to our next milestone because I think structured logging will be critical to scaling. As we scale up to more jobs and larger jobs we will need to be able to easily filter logs by pod, job etc... to get to relevant logs.

[2018-01-10 18:53] jlewi commented on #212
I think this issue is stale so closing it.

[2018-01-10 18:53] #212 closed

[2018-01-10 18:54] jlewi commented on #205
We're using Argo for google/kubeflow and its much better. I think we want to migrate ASAP because the friction around Airflow is impeding developer velocity.

[2018-01-10 18:55] jlewi commented on #185
This is obsolete because the plan is to get rid of Airflow in favor of Argo.

[2018-01-10 18:55] #185 closed

[2018-01-10 19:05] bhack commented on #205
There is also https://github.com/argoproj/argo-ci in early stages.

[2018-01-11 03:09] gaocegege opened #281 "[feature] Seperate the CRD and controller"
Now we create CRD when the controller is initialized, and the implementation may cause some issues: #173 . Then I think if we could write a `crd.yml` similar to https://github.com/caicloud/kubeflow-controller/blob/master/examples/crd/crd.yml, to create the CRD directly in Kubernetes.

If we does it, then the operator's logic is clear: dealing with the lifecycle of TFJob.

[2018-01-11 03:33] caogj commented on #281
i think a sperate crd yaml file should be the common pattern among k8s related project, e.g. [istio](https://github.com/istio/istio).

[2018-01-11 03:46] gaocegege commented on #281
@caogj

I think there are two patterns for this kind of project: operator and controller. In the operator pattern, the crd is usually created when the operator is initialized, e.g. etcd-operator. And in the controller pattern, the crd is usually placed in a sperate yaml file, e.g. [kube-metacontroller](https://github.com/GoogleCloudPlatform/kube-metacontroller/blob/master/manifests/metacontroller.

[2018-01-11 05:35] jlewi commented on #280
#278 Fixed a bug that should have been caught by our tests.

The previous commit was [adc8ab956605e8167b3597dd63d338b3b08a2fe0](https://github.com/tensorflow/k8s/commit/adc8ab956605e8167b3597dd63d338b3b08a2fe0)

Here's the post submit
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/tensorflow_k8s/tf-k8s-postsubmit/98/

Dag Run ID: 2018-01-10T15:10:22

Here's the logs from the run_

[2018-01-11 05:44] jlewi commented on #280
Looks like a red herring, I think its just an issue of not grabbing logs from the subprocess.

[2018-01-11 05:46] jlewi commented on #280
So the junit test does indicate a test failure

https://storage.googleapis.com/kubernetes-jenkins/logs/tensorflow_k8s/tf-k8s-postsubmit/98/artifacts/junit_e2e.xml
[code]

But gubernator is reporting all tests as having passed
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/tensorflow_k8s/tf-k8s-postsubmit/98/?log#log

[2018-01-11 05:51] jlewi commented on #280
It looks like we might need to have a test case in the xml
https://storage.googleapis.com/kubernetes-jenkins/logs/spark-periodic-default-gke/64/artifacts/junit_runner.xml

[code]

[2018-01-11 05:51] gaocegege commented on #280
FYI, #278 's test still failed: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/tensorflow_k8s/278/tf-k8s-presubmit/340/artifacts/junit_e2e.xml

[2018-01-11 06:35] gaocegege opened #282 "[bug] Build log 404 in https://prow.k8s.io/?repo=tensorflow%2Fk8s"
For example: https://prow.k8s.io/log?job=tf-k8s-presubmit&id=340

[code]

[2018-01-11 07:43] gaocegege opened #283 "[discussion] Differences between tensorflow/k8s and caicloud/kubeflow-controller"
## Checklist
For tracking all issues we discussed above, we'd better set a checklist as below:

- [x] [TfImage](https://github.com/tensorflow/k8s/issues/330)
- [x] [IsDefaultPS](https://github.com/tensorflow/k8s/issues/329)
- [x] Type
- [x] [TfPort](https://github.com/tensorflow/k8s/issues/327)
- [x] [TfJobStatus](https://github.com/tensorflow/k8s/issues/333)
- [x] [CRD Name](https://github.com/te

[2018-01-11 08:49] GoodJoey opened #284 "fail to run example job. invalid job spec: tfReplicaSpec.TfPort can''t be nil"
i tried kubectl create -f https://raw.githubusercontent.com/tensorflow/k8s/master/examples/tf_job.yaml
with command kubectl get TfJob -o yaml
get output:
- apiVersion: tensorflow.org/v1alpha1
  kind: TfJob
  metadata:
    clusterName: ""
    creationTimestamp: 2018-01-11T08:34:46Z
    generation: 0
    name: example-job
    namespace: default
    resourceVersion: "30201"
    selfLink: /apis/tensor

[2018-01-11 09:08] gaocegege commented on #284
It is a bug, and you could add TfPort into the YAML:

[code]

[2018-01-11 09:17] GoodJoey commented on #284
thanks for the response.
seems the error is gone, but i can't see the tfjob in my dashboard,
and no related containers are run in any of my nodes

[2018-01-11 09:42] gaocegege commented on #284
@GoodJoey Sorry for that, it seems that our code is broken now. I am not sure when all of them will be fixed. Maybe you could try it on the commit https://github.com/tensorflow/k8s/tree/430cf179ba9c1ce4a134d3800f871dbbb0c73da1

[2018-01-11 09:50] gaocegege opened #288 "[bug] metadata.ownerReferences.apiVersion is not set"
After the PR #287 , you can see a new error:

[code]

And the status is

[code]

I am not sure what happened now, but it seems to be a bug.

[2018-01-11 09:51] gaocegege commented on #280
There are so many errors in the master now, could we file a release for the prior commit which could works?

[2018-01-11 10:37] GoodJoey commented on #284
@gaocegege
i think the chart should be roll back, or do you mean i use the branch to build a new one?CHART=https://storage.googleapis.com/tf-on-k8s-dogfood-releases/latest/tf-job-operator-chart-latest.tgz

[2018-01-11 10:48] gaocegege commented on #284
emmmm, I didn't try chart, I mean the code in maste has some bugs: #289 #287 #286

Maybe you could checkout the commit 430cf179ba9c1ce4a134d3800f871dbbb0c73da1 and try again. I think it should work well.

[2018-01-11 11:24] GoodJoey commented on #284
you mean  use commit 430cf17 to build a new tf_operator docker image, right?

[2018-01-11 11:30] gaocegege commented on #284
Yeah, I am not sure if it works but I think it does. I am asking @jlewi to release a stable version for users here: https://github.com/tensorflow/k8s/issues/280#issuecomment-356882741

[2018-01-11 11:33] GoodJoey commented on #284
seems need to set up go environment? any quick scripts to do that?
or is there any existing image？ sorry, i didn't build image tf_operator on my own before.

[2018-01-11 11:36] gaocegege commented on #284
If you are not urgent, maybe you could wait for these PRs, when they are merged I think the problems will be solved.

[2018-01-11 19:23] jlewi commented on #280
@gaocegege The test isn't fixed yet.

That's a good idea, I think the last known good release is.

gs://tf-on-k8s-dogfood-releases/v20171223-37af20d/

[2018-01-11 19:25] jlewi opened #290 "Promote last known good release"
Head is completely broken because our tests had a bug and a lot of things broke in the refactor.

We should make the last known good release the recommended solution. The last known good release is

[code]

We need to do the following

- [X ] Disable the automatic releaser
- [X ] Make the GCS latest link point at the above release.
- [X ] Delete or move all releases since then.

/cc @gaocegege

[2018-01-11 19:28] jlewi commented on #290
[code]

latest should now point to the current known good release.

[2018-01-11 20:17] jlewi commented on #290
Stored the bad releases in

[code]

[code]

[2018-01-11 20:19] jlewi commented on #290
Turned down the releaser.

[2018-01-11 21:33] cwbeitel opened #292 "Operator deployment fails post-v20180108-190394d"
On deployment with helm

[code]

observed the following error from tf job operator

[code]

Last tfjob operator version that does not create an error is the following:

https://storage.googleapis.com/tf-on-k8s-dogfood-releases/v20180108-190394d-dirty-e3b0c44/tf-job-operator-chart-0.2.0-v20180108-190394d-dirty-e3b0c44.tgz

Related to https://github.com/tensorflow/k8s/issues/290 @jlewi @gaocegege

[2018-01-11 21:40] #290 closed

[2018-01-11 21:42] jlewi opened #293 "Fix Head"
Uber bug for fixing head.

A lot of bugs crept in during the refactor because of #280 which meant jobs which failed were actually indicated as successful.

- [X] #292 Operator deployment fails due to bad commandline arguments
- [X] #284 TfPort not set by default.
- [X] #294 PyLint issues.
- [X] 309 Reconcile not called periodically so job state not updated

[2018-01-11 21:43] jlewi opened #294 "Bunch of pylint error messages"
pylint test is failing with:

[code]

[2018-01-11 22:05] jlewi commented on #284
Sorry for the slow reply. The latest GCS link now points to an old stable release.

[2018-01-11 22:45] #279 closed

[2018-01-12 00:01] jlewi commented on #284
We should be setting a default port [here](https://github.com/tensorflow/k8s/blob/master/pkg/apis/tensorflow/v1alpha1/defaults.go#L25) which is called from some of the informer generated code.

Looks like that's not happening. Any ideas why?

/cc @gaocegege @wackxu

[2018-01-12 00:42] gaocegege opened #297 "[bug] Add a default pod template for PS"
See #287

Now we will check if the container's name in template is `tensorflow`: https://github.com/tensorflow/k8s/blob/master/pkg/apis/tensorflow/validation/validation.go#L44

And the PS in the example do not have the template. This is a hack to make examples work. I am not sure why we check the name `tensorflow`. And, the name is used in https://github.com/tensorflow/k8s/blob/519b0acb32514f08a65

[2018-01-12 01:50] jlewi commented on #280
Prow still reports failure even if some of the junit files indicate fail. It looks like gubernator's status for the job is based on the exit code of the prow job. So we need to update the E2E tests to set exit code based on whether any tests failed.

[2018-01-12 02:47] GoodJoey commented on #284
@jlewi
hi, what do you mean "The latest GCS link now points to an old stable release."?
i can pull the master branch and rebuild the docker image, then it will work?

[2018-01-12 13:38] #284 closed

[2018-01-12 13:38] #297 closed

[2018-01-12 13:40] #288 closed

[2018-01-12 13:44] jlewi commented on #282
I think this is working as intended. When you click on the prow job, the logs you are seeing are pulled directly from the pod. So they are only available as long as the pod is available and pods get GC'd soon after the pods are finished.

For long term storage, Gubernator uses GCS to store a copy of the logs. In the prow dashboard you can click on the job type in the "Job" column to get a link to

[2018-01-12 13:44] #282 closed

[2018-01-12 13:50] jlewi commented on #281
I vote for separating the CRD and controller.

Aside from this being common, CRD's are cluster scoped and not namespace scoped. But controllers can be name space scoped. We could potentially have multiple controllers running.

[2018-01-12 13:58] jlewi opened #300 "[Discussion] Operators vs. controller pattern"
Are operators and controllers actually two different patterns or just different terminology?

When I originally created the TfJob controller I based it on the [CoreOs etcd operator](https://coreos.com/blog/introducing-operators.html).

We are refactoring the code to be a controller #206 and use more K8s infrastructure to support controllers.

However, as far as I can tell operators aren't fundamen

[2018-01-12 14:13] gaocegege commented on #281
@jlewi Could you explain more about why CRD is cluster scoped :thinking:

/cc @DjangoPeng @ScorpioCPH (We have a discussion about it internally, too)

[2018-01-12 14:29] jlewi commented on #281
Its my understanding that CRD's are cluster level resources you create the CRD at the cluster level not in a particular namespace. I think that's just how it [works](https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/). The actual resources can be namespaced or cluster level scoped but not the definition.

/cc @enisco

[2018-01-12 15:04] cwbeitel opened #301 "Jobs evicted for lack of memory, potentially add resource field to tf-job prototype"
I'm seeing jobs being evicted due to a out of memory error, e.g.

[code]

[code]

and wondering what the correct way is to  specify resource limits - whether it's to add such a field to the tf-job ksonnet prototype or something else.

[2018-01-12 15:05] cwbeitel commented on #301
Sorry tf-job prototype issues belong in https://github.com/google/kubeflow

[2018-01-12 15:05] #301 closed

[2018-01-12 15:11] gaocegege commented on #300
I think they are two patterns, operator is issued by coreos and the controller is used in Kubernetes: https://github.com/kubernetes/kubernetes/tree/master/pkg/controller.

[2018-01-12 15:19] gaocegege opened #302 "Potential data race, maybe"
Now we keep a map in the controller: https://github.com/tensorflow/k8s/blob/master/pkg/controller/controller.go#L49 and the controller [has several workers](https://github.com/tensorflow/k8s/blob/master/pkg/controller/controller.go#L128), so I think it may have data race since there is no synchronization mechanism.

[2018-01-12 16:15] jlewi commented on #205
I haven't looked at argo-ci. Any idea what it provides relative to  prow?

[2018-01-12 16:22] bhack commented on #205
I suppose that is an early stage CI Argo flavour (SCM integration, Artifact, Deployment etc..)
/cc @alexmt

[2018-01-12 16:27] jlewi commented on #293
Here's the latest postsubmit [result](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/tensorflow_k8s/tf-k8s-postsubmit/103/)

There are two failures.

[code]

And pylint issues.

[2018-01-12 18:39] enisoc commented on #300
Since CoreOS coined the term "Operator", [their article](https://coreos.com/operators/) is the authority on what they mean by that:

To paraphrase: All Operators use the controller pattern, but not all controllers are Operators. It's only an Operator if it's got: controller pattern + API extension + single-app focus.

TfJob is a good example of an Operator, because it's a custom controller + CRD t

[2018-01-12 19:25] resouer commented on #300
My 2 cents.

Operator is a customized controller implement with CRD. It exactly follow the same pattern with build-in controllers (i.e. watch, diff, action).

The key idea of Operator is providing you with a framework to do extra operation during installation or scaling the instances. e.g. register new instance to master onAdd() of it.  These operation can include alert and act on failure, backup,

[2018-01-12 23:26] jlewi commented on #300
This is very helpful.

My key takeway is that in the context of the TfJob CRD "operator vs. controller" is mostly semantics and doesn't really refer to a different design for the TfJob controller.

To be more specific, the TfJob controller was created by copying the CoreOs etcd operator. Which wasn't using Informer and Controller classes like https://github.com/kubernetes/sample-controller. My wor

[2018-01-13 03:39] gaocegege commented on #300
It is helpful and thanks :-)

I am actually thinking of etcd-operator when we talk about operator. And after looking through [Prometheus Operator](https://github.com/coreos/prometheus-operator/blob/master/pkg/prometheus/operator.go#L311:20) and [kong operator](https://github.com/upmc-enterprises/kong-operator), I found that they are different in implementation although they are all operators. Then

[2018-01-13 13:24] ScorpioCPH commented on #205
@jlewi Thanks for the background information! Will take a look tomorrow :)

[2018-01-13 18:28] alexellis commented on #300
I was sent a link here - very interesting conversation. We're starting to embrace CRDs on OpenFaaS - there are other distinctions at play here. i.e the difference between an event-driven controller with "power references" for its CRDs vs. a controller that simply polls for state and remediates that way.

[2018-01-13 20:44] alexmt commented on #205
@jlewi, Argo CI is envisioned as travis-ci like system, powered by argo workflows. I've briefly looked at prow and seems like argo ci is very similar. Roadmap is available here: https://github.com/argoproj/argo-ci/blob/master/ROADMAP.md . Requests and comments are very welcome.

[2018-01-13 22:16] jlewi commented on #302
Is this the result of the refactoring to use informer and controller classes?

[2018-01-13 22:27] jlewi commented on #300
@alexellis what are power references?

[2018-01-13 22:38] alexellis commented on #300
Typo - owner references - claims about CRDs made by a controller to receive relevant events.

[2018-01-14 01:36] gaocegege commented on #302
I think so. Before the refactor, we do not have a workqueue.

[2018-01-14 01:46] jlewi commented on #293
Most recent [postsubmit](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/tensorflow_k8s/tf-k8s-postsubmit/105/) had a single test failure which was the GPU test timing out.

[2018-01-14 01:51] gaocegege commented on #292
Did we solve this issue: https://github.com/tensorflow/k8s/blob/master/cmd/tf_operator/app/options/options.go#L44?

[2018-01-14 02:07] jlewi commented on #293
It looks like the TfJob status might not be updated correctly. A job is stuck in the "creating" state even though master has exited and job should be marked as completed.

[2018-01-14 04:06] zhoudongyan opened #304 "Assign resource quota for TensorBoard"
As said in [Resource Quota](https://kubernetes.io/docs/concepts/policy/resource-quotas/),

Currently we can assign resource quota for `PS`,`WORKER` and `MASTER` but not for `TensorBoard`, because there is no [ResourceRequirements](https://godoc.org/k8s.io/api/core/v1#ResourceRequirements) in [TensorBoardSpec](https://github.com/tensorflow/k8s/blob/master/pkg/apis/tensorflow/v1alpha1/types.go#L95).

[2018-01-14 05:56] caogj opened #306 "rename master to chief"
* it's confusing because of distributed master in tensorflow;
* due to  #61 , in tensorflow 1.4, TF_CONFIG use `chief` instead of `master`;
@jlewi @gaocegege

[2018-01-14 06:15] gaocegege commented on #306
Maybe we already have an issue about it: https://github.com/tensorflow/k8s/issues/64

[2018-01-14 09:02] zhoudongyan commented on #304
`LimitRange` is a  alternative here: https://kubernetes.io/docs/tasks/administer-cluster/memory-default-namespace/

[2018-01-14 10:07] caogj commented on #64
I suggest we should use `chief` instead of `master` as #306 stated
[code]
@jlewi @ScorpioCPH @gaocegege

[2018-01-14 17:35] jzelinskie commented on #300
An operator is a Kubernetes controller that understands 2 domains: Kubernetes and something else. By combining knowledge of both domains, it can automate tasks that usually require a human operator that understands both domains.

This is correct. Within CoreOS, internally and externally, there are a variety of operators each with different designs depending on what the operator needs to do.

There

[2018-01-14 23:23] jlewi commented on #293
With the refactor to use the informer and controller classes, does [TrainingJob.Reconcile](https://github.com/tensorflow/k8s/blob/master/pkg/trainer/training.go#L310) get called periodically? Or only in response to some event?

/cc @wackxu @ScorpioCPH

[2018-01-15 00:22] jlewi opened #309 "TrainingJob.reconcile not called periodically"
It looks like as a result of the refactor (#206) [TrainingJob.Reconcile](https://github.com/tensorflow/k8s/blob/master/pkg/trainer/training.go#L310) doesn't get called periodically and as a result jobs aren't being marked as completed which is why our tests are failing (#293).

The initial design of the TfJob controller relied on periodically polling the world to determine when the job was finishe

[2018-01-15 00:22] jlewi commented on #292
Yes.

[2018-01-15 00:22] #292 closed

[2018-01-15 01:43] jlewi commented on #309
Looks like we can just requeue the work item see #308

[2018-01-15 01:44] jlewi opened #310 "E2E test delete and recreate job with same name"
We should have a test that

- Runs a job successfully
- Deletes the job
- Submits a new job with the same name
- Verifies both jobs ran successfully

In #308 I fixed a bug where submitting a job with the same name wouldn't work. We need an E2E test to prevent a regression.

[2018-01-15 03:06] gaocegege commented on #309
@jlewi

In the implementation of kubernetes/sample-controller or caicloud/kubefow-controller, there is no goroutine to update the status. And I think it is not the best practice since if we restart the operator, the goroutine could not be restarted correspondingly.

And we update the status when there is a new event. For example, if there is a pod failed and our operator will get the event. Then t

[2018-01-15 03:40] DjangoPeng commented on #283
@jlewi PTAL

[2018-01-15 07:03] ScorpioCPH commented on #293
@jlewi It is not called periodically, I think it is `event-driven`:

- We need to set up an event handler for when `TFJob` resources changed.
- It will enqueue that `TFJob` resource for processing.
- `syncTFJob` will dequeue and process the single work item (TFJob) and call `TrainingJob.Reconcile`.

[2018-01-15 07:05] ScorpioCPH commented on #309
@jlewi Hi,

I think the standard way is `event-driven`:
- We need to set up an event handler for when `TFJob` resources changed.
- It will enqueue that `TFJob` resource for processing.
- `syncTFJob` will dequeue and process the single work item (TFJob) and call `TrainingJob.Reconcile`.

[2018-01-15 07:47] gaocegege opened #311 "Remove outdated branch wbuchwalter-patch-1"
Now we have two branches and one of them is closed. Could we remove this one: https://github.com/tensorflow/k8s/tree/wbuchwalter-patch-1

@jlewi @wbuchwalter

[2018-01-15 08:54] gaocegege commented on #24
Personally, I recommend glog since most of repos in the Kubernetes community use glog.

[2018-01-15 09:06] gaocegege commented on #283
@jlewi

I think we could discuss the differences together, some of them are not necessary for upstream and we could remove them.

Now I am trying to refactor the code and there are some things I could do now: #312 . But most of the refactor work is blocked by this issue. :smile:

Look forward to receiving your reply

[2018-01-15 09:59] ScorpioCPH commented on #24
+1 for `glog` :)

[2018-01-15 15:00] bhack commented on #35
See also https://github.com/tensorflow/tensorflow/issues/11196

[2018-01-15 16:16] mqliang commented on #309
@jlewi

The Informer framework accept a parameter which defines a "resync" period, and we set it as "30s", see https://github.com/tensorflow/k8s/blob/master/cmd/tf_operator/app/server.go#L83

The problem is: when "resync", the informer will send out "Update" events, but we currently only handle "Add" events and "Delete" events.

[code]

We should also add a "UpdateFunc" to handle "Update" events l

[2018-01-15 17:36] jlewi opened #314 "Make the TfJob controller more event driven"
Right now the controller relies on the TrainingJob.reconcile being called frequently to check the state of the job and take any needed action.

In #308 it was suggested we adopt a more event driven design.

Here's the comment from @ScorpioCPH

- Listen on `Pods` which created by TFJob controller.
  - This needs a little change to use `Pod` instead of `Job`.
  - And set `OwnerReferences` of each `P

[2018-01-15 17:47] jlewi commented on #309
Thanks @mqliang that sounds exactly like what we want.

[2018-01-15 18:02] mqliang commented on #309
@jlewi

Some details about using the "UpdateFunc" handler function:

* Even if a resource NOT actually get updated, the informer framework will still send out "Updated" event every "ResyncDuration" period, but in such a case "reflect.deepEqual(oldObj, newObj)". So, if you only want handle a "real" Updated event, you can use a handler like this:

[code]
* If you only want to handle a updating in Sp

[2018-01-15 18:04] jlewi opened #315 "Need to mark prow job as failed if any tests fail"
Our prow jobs are being marked as successful even though some of our tests failed (as indicated by the junit files).

We should add a step to our test pipeline to read all the junit XML files and mark the prow job as failed by setting status failed in finished.json.

[2018-01-15 18:05] jlewi commented on #280
Opened #315
Closing this in favor of #315

[2018-01-15 18:05] #280 closed

[2018-01-15 21:57] jlewi commented on #309
Thanks!.

#313 has been merged so I'm closing this issue.

[2018-01-15 21:57] #309 closed

[2018-01-16 13:04] jlewi commented on #311
Done.

[2018-01-16 13:04] #311 closed

[2018-01-16 13:06] jlewi commented on #306
Duplicate of #64

[2018-01-16 13:07] #306 closed

[2018-01-16 13:08] jlewi commented on #64
I agree we should probably get rid of "master". I actually think we should probably get rid of ReplicaType and introduce properties that control different behaviors of the replica such as termination policy. Users can then assign an arbitrary name to each replica.

[2018-01-16 13:34] jlewi commented on #283
**TfImage**

TfImage is used as the default TensorFlow image for parameter servers and TensorBoard. If we get rid of it what image would we use for TensorBoard and parameter servers?

**TerminationPolicy**

TerminationPolicy as currently implemented is a property of the job and describes when the job should be considered terminated. So why would you add it to the replica?

**Dirs**

Per #224 lets

[2018-01-16 13:35] jlewi commented on #302
Doesn't the workqueue ensure that only a single worker is processing a single item?

[2018-01-16 13:37] jlewi commented on #293
Head is now fixed. Here's the latest passing postsubmit
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/tensorflow_k8s/tf-k8s-postsubmit/108/

[2018-01-16 13:37] #293 closed

[2018-01-16 13:38] #247 closed

[2018-01-16 14:25] caogj commented on #64
+1,  @jlewi we can use a property named `job` or `name` instead of `replicaType`, which can be assigned to any valid string. other terms we can use include task, group... by default `job` will be set to worker.
[code]

[2018-01-16 16:14] gaocegege opened #317 "[enhancement] Add e2e test cases for recorder"
Ref #312

Now we could push events for the TFJob to Kubernetes, but we have no test case for this feature.

[2018-01-16 16:16] gaocegege commented on #302
@jlewi Yeah, but the map could be accessed by all workers at one time.

[2018-01-17 00:40] jlewi opened #318 "E2E tests are not isolated"
I think our E2E test runs are all using the same directory and as a result they modifying the same .kubeconfig file leading to unpredicatable test results because they are talking to the wrong cluster.

Dag run: 2018-01-16 22:54:15

[code]

This was the first attempt of setup cluster; so I don't know why the helm package would already be deployed.

Might be easier to just fix as part of the move t

[2018-01-17 05:17] jlewi opened #320 "Reenable the releaser"
We disabled the releaser because our tests couldn't be trusted.

Once #319 is fixed we can reenable the releaser.

[2018-01-17 05:23] jlewi commented on #205
We've been using Prow for a quite a while and I think its been around longer then Argo. I think there's overlap between Prow and Argo CI. Its not obvious to me what benefit Argo CI would provide of Prow.

[2018-01-17 07:20] DjangoPeng commented on #300
@gaocegege @jlewi Sorry for the late reply.

I strongly agree with the viewpoint above.

I also think https://github.com/kubernetes/sample-controller is a best practice of operator, and that is what we did in https://github.com/caicloud/kubeflow-controller.

Now we are planing to merge our implementation to upstream. I believe @gaocegege would open a PR to do the merging work this week.

[2018-01-17 07:56] DjangoPeng commented on #281
Agree with @jlewi .

TFJob CRD itself should be cluster scope rather than namespace scope, but the CRD object may belong to a specific namespace.

The [CRD guide](https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/) also gives some explanations as below:

I'm not sure whether the default value of `scope` field is `Cluster`. If not, we have to explicitly s

[2018-01-17 07:59] DjangoPeng commented on #281
BTW: We may need to set a dedicated Finalizer for TFJob CRD to handle some misoperations.

[2018-01-17 12:11] #315 closed

[2018-01-17 12:50] jlewi commented on #320
#319 has been submitted

Post submit is passing
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/tensorflow_k8s/tf-k8s-postsubmit/112/

Going to reenable the releaser.

[2018-01-17 13:37] jlewi commented on #320
Releaser produced image
gcr.io/tf-on-k8s-dogfood/tf_operator:v20180117-04425d9-dirty-e3b0c44

[2018-01-17 13:37] #320 closed

[2018-01-17 13:38] jlewi opened #321 "Releaser incorrectly tags images as "dirty""
The releaser is tagging our images as dirty; e.g.

[code]

Probably because we modify some files in the git source tree as part of a build.

We should fix this.

[2018-01-17 15:29] jlewi opened #322 "Recreating a failed/successful job with same name doesn't work"
I had another report of a new job not being updated. It looks like the following happened (this was with the tf-cnn job in kubeflow)

- Create the job
- Job fails because TerminationPolicy is invalid (specifies a replica which doesn't exist)
  - Status correctly indicates the cause of the failure
- Delete the job
- Recreate the job with the same name
   - Status of the job is not updated

I will t

[2018-01-17 18:40] jlewi commented on #322
So far I wasn't able to reproduce this with
gcr.io/tf-on-k8s-dogfood/tf_operator:v20180117-04425d9-dirty-e3b0c44

[2018-01-17 18:58] jlewi opened #323 "TfJobs dashboard doesn't work with K8s API server proxy or envoy proxy"
I have the dashboard running and tried accessing it over the K8s API server proxy. For a brief second I see the dashboard but then I just get a grey screen.

When I connect via `kubectl port-forward` to the pod it works.

is this expected?

[2018-01-17 19:03] jlewi opened #324 "TfJobs dashboard not showing jobs"
I have two TfJobs running in namespace `test`. I'm also running the dashboard in namespace test but the dashboard doesn't show any jobs.

[code]

![tf_jobs_dashboard](https://user-images.githubusercontent.com/777219/35061415-fffde530-fb75-11e7-8fe0-2f0a200ee741.png)

[2018-01-17 19:26] jlewi commented on #281
@DjangoPeng Why do you want the CRD to be cluster scoped? If we scope it to cluster then all TfJobs are cluster scope which I don't think we want. We want it to be namespace scoped so that TfJobs are created in a particular namespace.

[2018-01-17 23:41] ConnorDoyle commented on #128
Is anybody working on this? We may have resources to pick it up. cc @nqn

[2018-01-18 02:16] DjangoPeng commented on #281
@jlewi I realised that there is a misunderstanding of `scope` field in the CRD after testing. What I want is

Actually, if we set CRD as cluster scope, all corresponding CRD objects are cluster scope. I set the scope as `Cluster` in this [CronTab CRD example](https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#create-a-customresourcedefinition). Then I cr

[2018-01-18 03:08] DjangoPeng commented on #283
@gaocegege Thanks for sorting out the difference.
@jlewi Thanks for your reply.

**TfImage**

I prefer get rid of the TfImage field. For TensorBoard, it does not belong to the TFJob scope, so we just need to focus on PS. There are two alternative ways as below:
- Use [TensorFlow official image](https://hub.docker.com/r/tensorflow/tensorflow/), e.g. tensorflow/tensorflow:1.4.0 .
- We maintain a set

[2018-01-18 03:16] jlewi commented on #128
That would be great.

Would this interfere with any of the informer refactorings?

/cc @DjangoPeng @gaocegege @wackxu

[2018-01-18 05:02] jlewi commented on #281
Yes.
Agree scope should be namespace.

[2018-01-18 08:16] ScorpioCPH commented on #45
@jlewi I think we have reached an agreement (Pod) after discussion, should we close this?

[2018-01-18 08:19] ScorpioCPH commented on #128
@jlewi Hi, as we have reached an agreement(https://github.com/tensorflow/k8s/issues/45) that we will manage pods directly, maybe we can move from `Job` to `Pod` first.

[2018-01-18 13:24] jlewi opened #325 "Manage Pods directly instead of using Job controllers"
Consensus in #45 was that we should manage the pods directly. Opening this issue to track that work.

[2018-01-18 13:25] jlewi commented on #45
Good idea. Opened #325

[2018-01-18 13:25] #45 closed

[2018-01-18 13:28] jlewi commented on #128
Opened #325 to manage the pods directly. I think that's going to be a bigger change. If no one's going to pick that up soon it might be good to delete the jobs (#128) as a short term fix because I think that's a relatively straightforward change and will prevent finished jobs from continuing to hog resources.

[2018-01-18 14:24] DjangoPeng opened #326 "Standardise labels for issues and PRs"
We'd better standardise labels for our repo, which is good for issue management. For example, we have 14 labels in caicloud/kubeflow-controller repo as below:

![image](https://user-images.githubusercontent.com/16943353/35102626-614d93a2-fc9e-11e7-8c2f-c84545a25d4d.png)

WDYT @jlewi

[2018-01-18 22:23] wbuchwalter commented on #323
This is because using `kubectl proxy` adds a prefix to the path, but the front-end try making request to the root.

see: https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/

Prometheus and Kashti for example only work with `kubectl port-forward`. Iirc airflow also has issues with proxy but not port-forward?
Would you be ok with explicitly directing toward port-forward in th

[2018-01-18 22:23] #57 closed

[2018-01-19 01:27] jlewi commented on #326
SGTM. Anyone else have input?

[2018-01-19 01:40] jlewi commented on #283
@gaocegege @DjangoPeng Could we split this up into multiple issues for the unresolved issues? For me at least its easier to discuss a single issue per thread rather than a whole bunch of issues.

Most of what your proposing seems good to me but it will be easier to track and resolve as separate issues.

## TfImage

I'd be ok getting rid of TfImage and perhaps as a result TB and DefaultPs (since th

[2018-01-19 02:45] ScorpioCPH commented on #325
Hi, folks, I will pick up this if nobody working on this :)

[2018-01-19 03:10] ScorpioCPH commented on #128
@jlewi SGTM, I will pick up https://github.com/tensorflow/k8s/issues/325 this if nobody working on it :)

[2018-01-19 03:13] DjangoPeng opened #327 "Deprecate TfPort and set default port for users"
In the current CRD, we have a `TfPort` field [here](https://github.com/tensorflow/k8s/blob/master/pkg/apis/tensorflow/v1alpha1/types.go#L89) for TensorFlow replicas. While the pod template has a `Port` field as well.

According to the discussion of `TfPort` [here](https://github.com/tensorflow/k8s/issues/283), we'd like to deprecate it and set a default port for users.

/cc @jlewi @gaocegege @Scor

[2018-01-19 03:21] DjangoPeng opened #328 "[Convention] Replace Tf with TF in CRD"
I noticed that there is a discussion of CRD name：`TfJob vs TFJob`

Actually, we prefer `TFJob` cause TF is an abbreviation of TensorFlow. According to the Golang and Kubernetes convention, `TFJob` is better as well.

So we'd better replace `Tf` with `TF` in CRD and some related function name.  Ref: https://github.com/tensorflow/k8s/issues/283#issuecomment-358840302

/cc @jlewi @gaocegege @ScorpioC

[2018-01-19 03:41] DjangoPeng opened #329 "Deprecate the IsDefaultPS field"
In the current design of CRD, we have a `IsDefaultPS` field [here](https://github.com/tensorflow/k8s/blob/master/pkg/apis/tensorflow/v1alpha1/types.go#L92).

While outside Google it's not a common case to provide a default PS. We'd better get rid of it and focus on TensorFlow distributed training job lifecycle management.

If we want to deprecate it, we should provide some alternative ways for use

[2018-01-19 03:46] DjangoPeng opened #330 "Deprecate the TfImage field"
In the current CRD, we have a `TfImage` field [here](https://github.com/tensorflow/k8s/blob/master/pkg/apis/tensorflow/v1alpha1/types.go#L45) for TensorFlow replicas. While the pod template has a `Image` field as well.

According to the discussion of `TfImage` [here](https://github.com/tensorflow/k8s/issues/283), we'd like to deprecate it.

/cc @jlewi @gaocegege @ScorpioCPH

[2018-01-19 03:51] DjangoPeng commented on #283
For tracking all issues we discussed above, we'd better set a checklist as below:

- [ ] [TfImage](https://github.com/tensorflow/k8s/issues/330)
- [ ] [IsDefaultPS](https://github.com/tensorflow/k8s/issues/329)
- [ ] [Type]()
- [ ] [TfPort](https://github.com/tensorflow/k8s/issues/327)
- [ ] [TfJobStatus]()
- [ ] [CRD Name](https://github.com/tensorflow/k8s/issues/328)

[2018-01-19 03:58] DjangoPeng commented on #283
I have opened four issues to track clear and definitive parts. A checklist has been added at the most top of this issue.

PTAL @jlewi

[2018-01-19 03:59] DjangoPeng commented on #283
@ScorpioCPH Could you please open a dedicated issue for TfJobStatus?

[2018-01-19 04:58] ConnorDoyle commented on #128
/assign

[2018-01-19 05:47] ScorpioCPH commented on #328
+1 for `TFJob`, PR is coming :)

[2018-01-19 06:44] ScorpioCPH opened #333 "Refactor TFJobStatus in CRD API"
Hi, this is a separate tracker/discussion issue from https://github.com/tensorflow/k8s/issues/283.

### Motivation
As we discussed, `TFJobStatus` need to be more specified to tracking individual TF job status, here is our considerations:

- Different data/model parallel training
  - Synchronous and Asynchronous
- Mange the Pod/Service lifecycle more efficient
  - Restart or ignore failed Pod due t

[2018-01-19 07:21] gaocegege commented on #325
@ScorpioCPH

Awesome! And I think it is hard to decouple #314 and this issue 🤔 Would you file one PR for these two issues together?

[2018-01-19 07:30] gaocegege commented on #326
@DjangoPeng

I think caicloud/kubeflow-controller has 29 labels and some labels are handled by caicloud-bot, e.g. `size/xx` for PR. caicloud/kubeflow-clientset has 14 labels 😄

@jlewi

Labels are helpful for contributors or users. And I recommend importing a bot to the repo to add labels based on some rules automatically. For example https://github.com/icecrime/poule, which is used by moby/moby.

[2018-01-19 07:31] DjangoPeng commented on #326
@gaocegege Gotcha. Please go ahead.

[2018-01-19 10:34] Jimexist opened #334 "in dashboard, silent error when nonexistent namespace is specified"
I imagine either 401 or 400 error, instead of a silent failure.

[code]

[2018-01-19 10:55] Jimexist opened #335 "dashboard silient error during calling non-existent tfjob"
I have local port-forwarding from 3000 to dashboard's 8080

[code]

[code]

[2018-01-19 15:02] wbuchwalter commented on #334
Not yet, in the first release I really did the bare minimum to get this out so people could start contributing, so a bunch of important things are missing.
I am working on correctly handling namespaces today to fix: https://github.com/tensorflow/k8s/issues/324.

[2018-01-19 17:11] gaocegege opened #337 "[discussion] Should group name be tensorflow.org or kubeflow.io or kubeflow.org?"
Now [our group name is `tensorflow.org`](https://github.com/tensorflow/k8s/blob/master/pkg/apis/tensorflow/v1alpha1/register.go#L16), and I think the scope of kubeflow is not included in tensorflow. We may support MXNet or other ML frameworks, so I think `kubeflow.org` may be more appropriate.