[2018-06-21 09:31] gaocegege commented on #661
Decided to add a field cleanpodpolicy, ref #691 #685

[2018-06-21 09:31] #661 closed

[2018-06-21 09:31] gaocegege commented on #657
You could use features in #691 , to control the behaviour.

[2018-06-21 09:31] #657 closed

[2018-06-21 09:34] gaocegege commented on #692
It may be not necessary, although I am not sure why.

[2018-06-21 09:34] #692 closed

[2018-06-21 09:36] gaocegege commented on #366
I am closing it since it is stale.

[2018-06-21 09:36] #366 closed

[2018-06-21 13:20] jlewi commented on #628
@bhack

What changes to tf-operator do you think this would require? I think this will just work if you assign multiple GPUs to your nodes.

Are you implying that we don't support heterogenous workers?

[2018-06-21 13:45] bhack commented on #628
@jlewi Yes, if we will transparently support heterogeneous workers.
I also think that the most strategic open question is https://github.com/tensorflow/tensorflow/issues/18222#issuecomment-397803011

[2018-06-22 12:15] #680 closed

[2018-06-25 09:54] #635 closed

[2018-06-25 12:55] kkasravi opened #696 "file_cache is unavailable when using oauth2client >= 4.0.0"
I'm seeing this error in kubeflow-tf-operator-presubmit-v1-688-b6c16a9-754-67d9.setup-cluster

According to this comment https://github.com/google/google-api-python-client/issues/299#issuecomment-288190015 if can be fixed by adding cache_discovery=False in our testing/test_deploy.py script line 352.

[2018-06-25 13:15] kkasravi commented on #696
Screen shot of failure

<img width="1662" alt="screen shot 2018-06-25 at 8 52 03 am" src="https://user-images.githubusercontent.com/146453/41852127-3c3b1fb8-7858-11e8-889f-2f83c40775a0.png">

[2018-06-25 16:32] u2takey opened #697 "how to upgrade smoothly from v1alpha1 to v1alpha2?"
After I upgrade crd of `tfjob` from v1alpha1 to v1alpha2, all `tfjobs` of v1alpha1 lost. Is there a way to upgrade smoothly from v1alpha1 to v1alpha2 without affecting old user's experience? ( In kubernetes, they have internal and external version of resources for that ? )

[2018-06-26 03:26] jian-he opened #698 "Wrong comment when setting default CleanPodPolicy"
Below code sets cleanPodPolicy to be running, but the comment says all
[code]

[2018-06-26 04:47] #698 closed

[2018-06-26 06:18] gaocegege commented on #697
Hi @u2takey

This is a good question. When we designed the v1alpha2, we consider it a breaking change. We will keep compatibility after v1alpha2. And I will check if there is any way to keep TFJobs.

[2018-06-26 11:54] kkasravi opened #701 "unable to create a tfjob in the UI"
I'm seeing the following error

[code]

it looks like the namespace isn't being sent and there might be errors related to whether the worker or chief is specified.

[2018-06-26 11:55] kkasravi commented on #701
/assign @swiftdiaries

[2018-06-26 11:56] kkasravi commented on #701
/cc @jlewi

[2018-06-26 12:42] kkasravi commented on #701
Blocked by https://github.com/kubeflow/tf-operator/issues/696
PR for 696 is available #1084

[2018-06-27 02:28] gaocegege commented on #651
We already have unit test cases for the evaluator. And we need e2e now.

[2018-06-27 11:42] #696 closed

[2018-06-28 04:04] gaocegege opened #703 "[v1alpha2] Error when host name is not svc.cluster.local"
There are some k8s clusters which have their own domains, they may not use svc.cluster.local. Then the service is configured to it, thus it won't work.

[2018-06-28 05:34] #703 closed

[2018-06-28 07:47] gaocegege opened #705 "[v1alpha2] Support cluster spec via command line argument"
We use TF_CONFIG as the environment variable as cluster spec, while it cannot cover all cases. We could add a policy to allow users to specify the way to inject the cluster.

[2018-06-28 09:34] gaocegege commented on #705
/assign @codeflitting

[2018-06-28 09:34] #682 closed

[2018-06-28 18:35] jian-he commented on #705
+1 , we do have applications relying on command line  arguments

[2018-06-29 01:49] ScorpioCPH commented on #705
+1

[2018-06-29 15:50] jlewi commented on #705
Can you give an example of where user would want to specify TF_CONFIG? Also TF_CONFIG is an environment variable so what would be the expected behavior if a user just sets TF_CONFIG environment variable on their pod specs. Would Cluster Spec get merged in?

[2018-06-29 15:52] jlewi opened #706 "[v1alpha2] Invalid Job spec crashes operator"
The following spec (I assume its invalid) is causing TFJob operator to crash

[code]

Here are the operator logs

[code]

Docker image is

[code]

[2018-06-29 16:10] jlewi commented on #706
Here's the valid spec.

[code]

Can we avoid crashing the operator and instead add an error message to the status?

I though we added some handling with v1alpha2 to do that

[2018-06-29 17:30] jlewi opened #707 "[v1alpha2] Invalid job spec not reported in TFJob status"
I had an invalid job spec because container was missing image
There is an error in operator logs but the job status doesn't get updated

[code]

[2018-06-29 18:14] jian-he commented on #705
Our existing tensorflow applications are taking the cluster spec from the arguments such  as "--ps_hosts, --worker_hosts" as described in the official [tensorflow doc](https://www.tensorflow.org/deploy/distributed), so thinking passing in these flags would be useful for existing tensorflow jobs following that pattern.

[2018-06-30 08:29] gaocegege commented on #705
@jlewi

I think we should support both two ways since there are some users like @jian-he who would like to pass the cluster spec with CLI arguments.

[2018-06-30 08:31] gaocegege commented on #707
I think we should append the error into tfjob's event and set the status to failed.

[2018-06-30 16:40] jlewi commented on #706
Invites sent

[2018-06-30 17:01] jlewi commented on #705
Thanks @gaocegege @jian-he I understand the feature request now.

Why not just tell users to use their own launcher script? Or maybe publish one or more launcher scripts for common use cases; something like this

https://github.com/kubeflow/examples/blob/master/github_issue_summarization/tensor2tensor/github/t2t_launcher.sh

We've tried to avoid having the operator add command line arguments for a

[2018-07-01 08:17] gaocegege commented on #706
/assign @codeflitting

[2018-07-01 08:18] gaocegege commented on #707
/assign @codeflitting

[2018-07-01 08:18] gaocegege commented on #705
@jian-he Does it work for you?

[2018-07-01 08:28] gaocegege commented on #622
/assign @codeflitting

[2018-07-01 09:54] gaocegege opened #708 "[discussion] Capacity planning"
When applying Kubeflow in our company, AI engineers meet some problems about the capacity. I am glad to discuss it with the community to find a better way to avoid it.

They complain that they always encounter OOM problem, since they may not know how to limit the resource used in the job. They want to let us tell them how to set the resource limit.

Then I investigate how to achieve it, there are

[2018-07-01 09:56] gaocegege commented on #708
I think it is an important feature while may not be implemented by the operator. Maybe on top of it or in the pipeline.

[2018-07-01 10:37] bhack commented on #708
I think it could be a little bit a chicken and egg problem in some cases. I.e. see https://github.com/kubeflow/tf-operator/issues/628#issuecomment-396577600.
So are you just talking about minimum required resources?

[2018-07-01 10:58] bhack opened #709 "Model exchange"
What is tf-operator and so Kubeflow position about model exchange between Kubeflow supported frameworks.
I open the issue here cause seems to me that the TF position is still not clearly resolved. See https://github.com/tensorflow/tensorflow/issues/1288

[2018-07-01 11:39] gaocegege commented on #708
The question is from AI engs. They said they are not sure about how many resources they should assign to the container. I think it should be the minimum required resources.

[2018-07-01 14:44] gaocegege commented on #709
Do you mean the model is exchanged between tf, pytorch and so on?

[2018-07-01 14:45] bhack commented on #709
Yes exactly to exchange models inside Kubeflow supported frameworks

[2018-07-01 17:16] amsaha commented on #708
I have personally faced this issue of OOM and the cluster not having enough CPU, etc. Ideally, the solution would be to have ``elasticity`` built into our installation scripts so that the scripts can start with some _calculated minimum_ and in case of failure, starts increasing the resource(s) that gave an error.

We can even have a ``dry_run`` option for installation to figure out what the ``minu

[2018-07-02 02:39] ddysher commented on #708
Thanks for bringing up the issue. The overall issue has much higher scope than tf-operator, but we can  probably start from minimal and see what we can do in tf-operator first.

I believe this is what borg does for resource estimation, where you gradually increase allocated resources and restart killed apps. For us, a big prerequisite is that we need ml apps to have checkpoint support unless it's

[2018-07-02 02:44] ddysher commented on #709
@bhack what's ur use case for exchanging model between different frameworks? does https://github.com/onnx/onnx a viable solution to you?  personally, i think it's out of scope for tf-operator.

[2018-07-02 02:53] ddysher commented on #622
what's the plan for crd validation, @codeflitting @gaocegege can anyone of you summarize here?  are we limiting user to only use kubernetes 1.11, or we follow @jessesuen 's suggestion?

[2018-07-02 02:56] gaocegege commented on #622
@ddysher

We now follow jessesuen@'s suggestion to use the unstructured informer. While this is a WIP issue to use crd validation feature in Kubernetes to validate our CRD. If we do, we need to use k8s 1.11 because of https://github.com/kubernetes/kubernetes/issues/59485#issuecomment-380032718

[2018-07-02 03:07] ddysher opened #710 "tf-operator should ensure that CRD exists"
From what I experimented, tf-operator requires crd to be created via admin manually; however, i believe in most of crd-based system, they are responsible to make sure crd exists, e.g. [rook,](https://github.com/rook/rook), [volume snapshot](https://github.com/kubernetes-incubator/external-storage/tree/d03688aa58774ef34074e8d72064ff642c6f0315/snapshot), etc

Note apart from creating crd upon startu

[2018-07-02 03:12] gaocegege commented on #710
@ddysher We have some discussions about it. In the beginning, we follow what etcd-operator does, which create the CRD in the operator. We think the logic should not be in the operator since it is not the duty of the operator. Do you think we need to add it in the operator?

[2018-07-02 05:30] gaocegege commented on #710
Make sense.

/assign @codeflitting

[2018-07-02 07:40] ddysher commented on #710
/cc @jlewi  I think Jeremy prefers installation via ksonnet (though the suggested issue is not mutually exclusive).

[2018-07-02 10:20] bhack commented on #709
@ddysher I think that the Google/TF position to not officially support onnx is particularly relavant for Kubeflow as it wants to be a cross framework tool. As I told I've opened the issue here cause pytorch-operator and mxnet operator suppport ONNX natively.

[2018-07-02 11:57] bhack commented on #709
/cc @tjingrant

[2018-07-02 12:03] jlewi commented on #710
I prefer the CRD to not be created by the operator; but I think its a good idea for the operator to check if it exists.

I think there is potentially a 1 to many relationship of CRD definitions to operator deployments.

CRD's are not cluster scoped so you can only have a single CRD definition. I think (K8s 1.11 adds support for multiple versions of a CRD).

Nonetheless, you could potentially have

[2018-07-02 12:19] ScorpioCPH commented on #710
SGTM, tfjob informers will throw an error if the CRD doesn't exist, we can return the error if needed.

[2018-07-02 14:58] ddysher commented on #710
CRD is like table/collection in database, application is responsible to manage it.  Most crd based operators I've seen so far create crds, which provides better user experience.

[2018-07-02 22:39] jlewi commented on #708
Does [vertical pod autoscaling](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler) give us what we need? Can't we use vertical pod autoscaling to automatically bump up the pod requests if it OOMs?

[2018-07-03 02:57] gaocegege commented on #708
@jlewi

It could solve the problem partially. [Initial resoucres](https://github.com/kubernetes/kubernetes/pull/12472) + VPA equals `Closed-loop (feedback) control` above.

BTW, VPA will restart the pod if it thinks the pod needs to be auto scale, which is not expected from user's view.

[2018-07-03 03:04] codeflitting commented on #706
hi  @jlewi
I have been fix it by add some validation(#702),  can you try the master branch?

[2018-07-03 03:21] k82cn commented on #349
I think we can close that one. In upstream, we decide to use kube-arbitrator for batch related workload; here's the design https://github.com/kubernetes/community/pull/2337 . For tf-operator, kube-arbitrator keeps the backward compatibility to support PDB; but if we want to support more features, e.g. nodeSelector, it's better to replace PDB with SchedulingSpec when design is finalized. Will open

[2018-07-03 03:21] #349 closed

[2018-07-03 11:49] jlewi commented on #706
@codeflitting Thanks.

Rather than manually verifying it, do we have a test that checks invalid specs are handled properly? If not how about opening an issue to add one.

[2018-07-03 12:21] jlewi commented on #709
Kubeflow wants to be multi-framework but I don't know that we want to be cross framework. I think its perfectly fine if each framework has its own ecosystem and there isn't necessarily overlap between them (e.g. if you can't serve PyTorch using TFServing).

I think its really up to the different tools (e.g. onnx, TFServing) to determine whether they want to be cross framework or not.

Is there a l

[2018-07-03 12:29] jlewi commented on #697
I think this is a K8s issue to the extent Kubernetes doesn't allow us to have multiple versions of a CRD simultaneously. I believe this is fixed in 1.11.

https://github.com/kubernetes/features/issues/544

I think we can close this issue.

On K8s versions of 1.11 and later we can simultaneously support multiple versions of a CRD. I don't think its worth it to try to improve the experience on older

[2018-07-03 12:30] jlewi commented on #655
Adding to 0.3.0 because if we want to get to a v1beta1; testing and reliability are critical.

[2018-07-03 12:31] #697 closed

[2018-07-03 12:34] jlewi commented on #628
@bhack Can you elaborate please? Is there something in particular we should try to do for 0.3?

[2018-07-03 12:37] jlewi commented on #622
Would it be possible to only enable CRD validation on K8s 1.11 and newer? So that we could continue to support older K8s? Would that be worth doing?

[2018-07-03 12:39] jlewi commented on #609
@StAugust Any more info?

[2018-07-03 12:40] jlewi commented on #608
v1alpha2 is released and now the default in 0.2. So I'm closing this issue.

[2018-07-03 12:40] #608 closed

[2018-07-03 12:42] jlewi commented on #597
Adding this to 0.3.0 so its on our radar. I think we need to figure out a plan with regards to testing in order to get TFJob operator to the next level of reliability.

[2018-07-03 12:48] jlewi commented on #596
v1alpha2 is now released in 0.2 and the default. So I'm going to close this issue as obsolete.

[2018-07-03 12:48] #596 closed

[2018-07-03 12:50] jlewi commented on #563
What do we want to do in 0.3.0? Do we leave the behavior as is or do we change it?

[2018-07-03 12:52] jlewi commented on #562
@yph152 What work remains? Specifically what work is needed in 0.3?

[2018-07-03 12:53] gaocegege commented on #622
I think it is not in high priority. We definitely could enable it since it just needs some config in crd yaml file.

[2018-07-03 12:54] gaocegege commented on #562
I think we can close it.

@yph152

Does v1alpha2 work for us now? Could I remove the redundant code?

[2018-07-03 12:55] gaocegege commented on #563
We can not change it since we need it to find the port and generate cluster spec.

[2018-07-03 12:55] jlewi commented on #550
We added CleanPodPolicy to v1alpha2 and it should be in 0.2.0.

Do we still need/want ActiveDeadlineSeconds and BackoffLimit with the other changes to RestartPolicy?

Is this something we want to fix in 0.3?

We should try to nail down the API in order to get to v1.

[2018-07-03 13:00] jlewi commented on #447
I wonder if we should be using Katib/Modeldb as a way to easily launch TensorBoard?

With ModelDB we can store a list of models/experiments with references to the TF events file. We can add functionality to the UI to launch a tensorboard instance.

/cc @YujiOshima @mpvartak

[2018-07-03 13:05] bhack commented on #628
@jlewi On the sync batch or the distribution strategies?

[2018-07-03 13:08] bhack commented on #709
@jlewi Generally people want onnx cause they want to work with a single framework but as the model portfolio is not the same they want to us more model as possible without switching framework. I.e. have you seen the tensorRT approach to serving about models format support?

[2018-07-03 13:21] YujiOshima commented on #447
@jlewi That is exactly I want to add ModelDB UI!
It is so useful to look the Models of each experiment on tf-board.

[2018-07-04 01:57] jian-he commented on #705
we discussed a bit, I think what @jlewi said makes sense. we can use a wrapper script for this scenario. Thanks !

[2018-07-04 02:41] codeflitting commented on #706
Yes we have, I have wrote more test cases to cover the validation  (#711)

[2018-07-04 02:47] gaocegege commented on #706
Yeah, I think we could close the issue. If we meet again we could reopen it.

[2018-07-04 02:47] #706 closed

[2018-07-04 03:24] codeflitting opened #712 "[v1alpha2] Invalid Job Status"
I created a TFJob，TFJobFailed come before TFJobRunning

Here  is the TFJobSpec
[code]

JobStatus:
[code]

Discovered by @yph152

[2018-07-04 03:40] codeflitting commented on #712
@gaocegege What do you think the final status should be

[2018-07-04 04:00] gaocegege commented on #712
I am not sure why the job is failed. Is there any worker failed?

[2018-07-04 04:57] #707 closed

[2018-07-04 05:36] gaocegege commented on #167
Ref https://github.com/kubernetes-client/gen/issues/59

[2018-07-04 05:44] gaocegege commented on #167
The issue is a little difficult and I am not sure if we could implement it. While ppl from alibaba and mogujie ask me if we could support it in 0.3. Thus I just added it to 0.3

[2018-07-04 06:29] yph152 commented on #562
Yes, we can close it and remove the redundant code. @jlewi @gaocegege

[2018-07-04 06:33] #562 closed

[2018-07-04 06:34] gaocegege opened #713 "[v1alpha2] Remove redundant code about status"
We have some redundant code in status, now we can remove.

[2018-07-04 06:35] gaocegege commented on #713
@codeflitting Could you please take a look. I think finishing the issue could help you to understand the logic about status update in the operator.

[2018-07-04 06:51] yph152 commented on #712
I think adding the following can solve it.
[code]

[2018-07-04 06:51] codeflitting commented on #713
ok i will do it

[2018-07-04 06:54] gaocegege commented on #713
Thanks. If you have no idea about which code is redundant, feel free to ask me.

[2018-07-04 07:52] gaocegege commented on #575
/assign @codeflitting

[2018-07-04 07:59] gaocegege commented on #575
@codeflitting When you finished your work, please take a look at this issue. @jinzhejz waits the issue to start his work on https://github.com/kubernetes-incubator/kube-arbitrator

[2018-07-05 04:10] gaocegege opened #716 "[discussion] Maintain Helm Chart"
We use ksonnet in kubeflow/kubeflow to deploy the kubeflow stack, while there are some users who request to have helm support for the operator directly. Could we support it in the repository?

[2018-07-05 04:11] gaocegege commented on #716
/cc @ddysher @ScorpioCPH

[2018-07-05 04:35] ddysher commented on #716
+1 from me; if it is not appropriate to maintain in this repository, we can maintain a separate one.

Helm is widely used right now, using it can help us reach more developers and make it easier for folks to try out.

[2018-07-05 05:22] #712 closed

[2018-07-05 05:22] #713 closed

[2018-07-05 05:43] gaocegege commented on #716
/cc @jlewi

[2018-07-06 07:23] gaocegege commented on #167
@jlewi

Hi @JetMuffin from Alibaba contributes the Java client for tfjob, while we think it should not be in this repository. Then we decided to palce it in https://github.com/kubeflow-incubator/tfjob-java-client. If the community could create a repository for it we could move it in the org.

[2018-07-06 17:14] ccding opened #718 "[proposal] cleanup jobs after finished"
Requirement
----
Delete the tf-job from Kubernetes after it has finished for a (configurable) period of time.

Approach
----
Add a configuration called `cleanupTimeoutAfterFinished` in the yaml file for each job.

At the initialization phase of tf-operator, it lists all the tf-jobs and watches for updates. With the statuses of all the tf-jobs stored locally, tf-operator is able to delete them from

[2018-07-06 17:53] jlewi commented on #716
I think the question is priority and cost. Do we have the resources to support two different ways of installing the operator?

As I mentioned in @ankushagarwal's doc about a unified job spec.

I think the priority should be getting TFJob to v1. So I'd like to see a plan for how to get to v1 and that plan can include discussion of what the supported paths are for installing the operator. We can the

[2018-07-06 17:56] jlewi commented on #709
@bhack no haven't looked at TensorRT. Are you saying that people want onnx because they want to try out a bunch of different models and those models could be  in different frameworks (e.g. TF vs. PyTorch)?

By framework are you referring to serving infrastructure in this case (e.g. model server as in onnx or tensorRT) as opposed to DL framework?

[2018-07-06 17:57] jlewi commented on #705
Great. Closing this issue.

[2018-07-06 17:57] #705 closed

[2018-07-06 18:02] jlewi commented on #563
Per the above closing this issue.

[2018-07-06 18:02] #563 closed

[2018-07-06 22:56] bhack commented on #709
On the first point yes. Users can find published different paper or engineered models by different teams but don't want to change framework just cause they want to use that specific model/research i.e. for [fine-tuning](https://mxnet.incubator.apache.org/tutorials/onnx/fine_tuning_gluon.html).

On the serving side TensorRT 4 has onnx support but also Tensorflow. An example on how to run [TensorRT

[2018-07-07 00:41] ddysher commented on #716
IMO, maintaining helm just for tf operator doesn't cost much, and also doesn't conflict with the goal to graduate TFJob to v1.

+1 for triage all issues.

[2018-07-09 02:43] ChanYiLin commented on #718
Is there any one working on it?
I am willing to do more research on this issues and work on it.

But here are some discussions,

I think the issue is similar to the issue of whether to delete all the pods of tf-job after finishing since users might want to log in to check the logs of training. As far as I know, delete the tf-job will also delete all the resource it has at the same time. So the pro

[2018-07-09 02:45] gaocegege commented on #718
@ChanYiLin

Hi, we already implemented the logic about deleting pods of the tfjob. While the issue is to delete the tfjob after cleanupTimeoutAfterFinished.

But feel free to pick up this issue!

[2018-07-09 03:01] ChanYiLin commented on #718
Oh! I see the closed issue. I didn't keep up with the trend lol.

I have checked the code and just want to make sure.
Do we just let user specify how they want to deal with the pods after tf-job finished, and if the policy is Running or All, then we simply call k8s api to delete those pods without storing training logs?

Then I think the these issues are a little bit different.
In this proposal, w

[2018-07-09 03:05] gaocegege commented on #718
This issue is similar to #550 , and we could refer to the implementation of job controllers.

[2018-07-09 08:36] #575 closed

[2018-07-09 10:17] chaoleili opened #720 "Pod stuck in unknown status when kubernetes node is down"
I run tfjobs on kubernets using tf-operator. I found that when kubernetes worker node down or node in NotReady status. the worker or ps pod of tfjobs will be stuck in unknown status and will not rebuild. So the entire tensorflow train job will block until the worker node Ready again. So, should we consider using ReplicaSet or Deployment to create worker and ps instead of just using Pod?

[2018-07-09 18:36] ccding commented on #718
I am working on it.

[2018-07-10 01:34] ChanYiLin commented on #718
@ccding Sure! No problem!

[2018-07-10 02:00] gaocegege commented on #720
We have some discussions about it while we decided to used pod because we need to support some custom restart policy, I think we should handle it in the operator.

[2018-07-10 02:46] chaoleili commented on #720
How about adding a reschedule function in the operator when the pod in the unknown status?

[2018-07-10 02:48] gaocegege commented on #720
reschedule is not the scope of the operator, maybe we could discuss with @k82cn

[2018-07-10 03:32] gaocegege commented on #720
Ref https://github.com/kubernetes/kubernetes/issues/55713

It seems a bug in Kubernetes kubelet.

[2018-07-10 03:56] chaoleili commented on #720
:)  Thanks for your ref.

[2018-07-10 10:18] k82cn commented on #720
IMO, `NotReady` is a common state, and should be handled by k8s; in tf-operator, it already has restart policy which are framework related :)

[2018-07-10 12:15] jlewi opened #722 "Export TF/Tensorboard/TF Summaries to prometheus"
In TF TF.summary is the primary ways people export metrics tracking the performance of their models during training. This data can be visualized using tensorboard ([see here](https://www.tensorflow.org/programmers_guide/summaries_and_tensorboard)).

A lot of the key signals; e.g. accuracy metrics are just time series.

Should we export summaries in prometheus format so that they can be visualized

[2018-07-10 12:42] chaoleili commented on #720
I got that, thanks for your reply ！:)

[2018-07-10 13:09] gaocegege commented on #720
Then I am closing the issue

[2018-07-10 13:09] #720 closed

[2018-07-10 17:11] tjingrant commented on #709
I do not have much to add since my experience with Kubeflow is limited, but it occurs to me that having an onnx-operator repository in kubeflow where users can specify backends might make more sense? Then users can just have onnx models in their model portfolio that are ready to be deployed to multiple backends for _training_(italicized b/c there's not much, [or maybe even a bit of reverse progres

[2018-07-11 21:57] cheyang opened #723 "Unable to check logs in TFJob ui for v1apha2"
I'm trying to check logs in tfjob ui with tf_operator:v0.2.0, get such error:
[code]

but seeing the following errors:
[code]

[2018-07-11 22:17] cheyang commented on #723
/assign @wbuchwalter

[2018-07-11 22:18] cheyang commented on #723
@wbuchwalter ,Please help, thanks a lot.

[2018-07-12 02:34] jlewi commented on #723
Are the pods still there? I assume if the pods are gone it won't work.

[2018-07-12 02:45] jlewi commented on #716
Sounds good.

[2018-07-12 03:15] cheyang commented on #723
The pods still exist, and I am able to run `kubectl logs`
[code]

[2018-07-12 03:19] gaocegege commented on #723
Thanks for the issue! The error is from backend here: https://github.com/kubeflow/tf-operator/blob/master/dashboard/backend/handler/api_handler.go#L241

I will have a look too if I have time these days.

[2018-07-13 03:31] gaocegege commented on #550
I think we could add ActiveDeadlineSeconds and BackoffLimit, while it is not in high priority

[2018-07-13 09:14] lovejoy opened #727 "not proper log message"
After I delete the dist-mnist-for-e2e-test tfjob ,I get a log like this
`
time="2018-07-13T16:57:30+08:00" level=error msg="Failed to get TFJob from key default/dist-mnist-for-e2e-test: The object is not found" filename="controller.v2/controller.go:314"
`

But i think this should be a  TFJob has been deleted info

[2018-07-15 04:56] #723 closed

[2018-07-16 10:55] GarnettWang opened #729 "tf-operator synPdb failed when enable-gang-scheduler"
tf-operator start with `--enable-gang-scheduler` , tf -operator will invoke syncPbd to create a Pbd object when you create TFJob object.

But it is not actually like this. you will find that pdb not created successfully, this abnormal behavior will lead to kube-batchd can not guarantee gang schedule.

[2018-07-16 11:14] GarnettWang commented on #729
add debug logs position after the following code,

[code]

we will see the error of Get Pdb invoke:

[code]

So, tf-job-operator ClusterRole don't have the permission of poddisruptionbudgets.policy. We can check the tf-job-operator ClusterRole info:

[code]

 tf-job-operator created by kubeflow indeed does not config the pdb permission.

[2018-07-16 21:39] jlewi commented on #718
Why do we want to delete old jobs?
If we want to garbage collect jobs why wouldn't we implement this as a separate agent that could garbage collect other resources like Argo workflows.

Are there any issues within K8s about garbage collecting resources?

[2018-07-16 21:41] jlewi commented on #718
Seems related
https://github.com/lwolf/kube-cleanup-operator

Although not sure why we need a CRD as opposed to just an agent/daemon running in the cluster.

[2018-07-16 22:10] jlewi commented on #718
Why not implement this as an agent/daemon in the cluster that can garbage collect multiple types of resources; e.g.

- K8s jobs
- Argo workflows
- All KF job operators

This could work by relying on common Conditions to determine when a job was considered done and eligible for deletion.

We could also follow the pattern of using K8s annotations to indicate that jobs should be included/excluded fro

[2018-07-17 01:37] gaocegege opened #731 "[doc] API Documentation"
We need the documentation for v1alpha2 API

[2018-07-17 04:10] jian-he commented on #718
The proposal extends the current clean policy to have a delay semantics and add the ability to delete the tfjob object in addition to deleting pods which currently exists.

The use case is to delete old jobs after X days. the delay is because we need debug information to stay for certain time.  The deletion is because,  if not deleted, the tfjob object will pile up in etcd increasingly and we run

[2018-07-17 04:17] gaocegege commented on #729
Please try to use v1alpha2 :smile:

[2018-07-17 05:59] GarnettWang commented on #729
@gaocegege OK, I close  the issue now. thx !

[2018-07-17 05:59] #729 closed

[2018-07-17 11:59] ScorpioCPH commented on #718
+1, as a production component, `tf-operator` create too many TFJobs everyday, we now delete these TFJobs every week manually, this feature sounds good for me :)

[2018-07-17 17:51] ddysher commented on #722
I like the idea but haven't thought carefully about the details.

Essentially, metrics generated from ML applications are event driven (e.g. one batch is done, here is the accuracy), which is not a major targeting use care for prometheus.  A concrete question is at what frequency should we scrape the metrics?  I don't know if there's any other solutions, but it occurs to me that simply exposing me

[2018-07-18 08:45] gaocegege opened #736 "[build] Delete build/images/tf_operator/build_and_push.py"
@jlewi Could we delete https://github.com/kubeflow/tf-operator/blob/master/build/images/tf_operator/build_and_push.py? I think we do not use the script to build the image.

The issue is found by @JetMuffin . Big thanks.

[2018-07-18 08:54] #727 closed

[2018-07-18 12:03] jlewi commented on #718
Here is the issue in K8s community:
kubernetes/kubernetes#64470
Design doc: https://goo.gl/YxtxTi.
To solve it for K8s jobs first and then generalize it.

The proposal is to have a field `TTLAfterFinished`.

I think an admission controller could be used to enforce a non-zero and maximum TTL for all jobs in the cluster; which addresses my earlier question about making this a per job setting.

It lo

[2018-07-18 12:17] cheyang opened #737 "tf-dashboard show workers of all the tfjobs when querying a specific tfjob"
Expect result:
Access http://192.168.1.120:8080/tfjobs/ui/#/default/tf-dist-1-tfjob, I think there should be only the workers or PS in the tfjob `tf-dist-1-tfjob`.

But the result is  ![](http://acs-public-mirror-cn-hongkong.oss-cn-hongkong.aliyuncs.com/tf-dashboard.jpg). It shows all the workers even in other tfjobs.  `tf-dist-tfjob-worker-0` and `tf-dist-tfjob-worker-1` are also shown in the das

[2018-07-18 12:37] jlewi commented on #718
It looks like the original proposal of adding `cleanupTimeoutAfterFinished` is very much in line with
kubernetes/kubernetes#64470.

I suggest we follow kubernetes/kubernetes#64470 and add a TTL parameter. If we don't want to wait for Kubernetes to provide a generic solution, I think we can implement it ourselves. Since this will hopefully be a short term solution, I think its fine to implement in

[2018-07-19 02:18] gaocegege commented on #736
Great, I will open another issue to keep track the build tool.

[2018-07-19 02:19] gaocegege opened #739 "[build] Replace Python with Make or Bazel"
From jlewi@

FWIW I'm not a huge fan of using a custom python script to do the build (I know I wrote it :)).

I think I favor using a Makefile or possibly Bazel and then just calling make/bazel from our Argo workflows.

I'm reticent to use bazel because I think bazel can be a pain if your trying to use existing tool chains (like the go tool chain) or yarn for the front end.

[2018-07-19 02:23] gaocegege commented on #718
I think we could keep the delay until the upstream implemented TTL. WDYT @ccding @jian-he @jlewi

[2018-07-19 03:16] jlewi commented on #718
@gaocegege What purpose does the CleanPodDelay serve? The stated purpose in this issue and in the PR was to garbage collect old jobs to prevent the K8s master from being overwhelmed. How does the CleanPodDelay accomplish that? Won't it just exacerbate the problem by leaving more pods lying around?

So why would we leave it in?

[2018-07-19 03:17] gaocegege commented on #718
@jlewi I think @jian-he wants to keep the pod for a time to get the log, then after a delay, the operator could delete them.

[2018-07-19 03:19] #737 closed

[2018-07-19 04:31] jlewi commented on #718
@gaocegege @jian-he Do these pods not terminate? Is that the problem?

[2018-07-20 04:58] jlewi opened #742 "Kubernetes API review for TFOperator"
Sig Apps machinery is offering a voluntary API review for CRDs to ensure consistent experience across the ecosystem.

See  here
https://docs.google.com/document/d/1OkSQngGem7xaENqaO8jzHLDSSIGh2obPUaJGAFDwTUE/edit#heading=h.r0zho3dg08dg

I think we should do this soon so that we can try to incorporate any feedback into 0.3.

We should update the existing v1alpha2 proposal to reflect any changes mad

[2018-07-20 04:58] jlewi commented on #742
/cc @gaocegege @johnugeorge

[2018-07-20 05:01] gaocegege commented on #718
@jlewi They want to keep the pods for a time, then delete it. And the delay is for this purpose. If we do not support it, the pod will be deleted immediately.

I think the delay makes sense to me since there are some ppl who want to get the log for a while, then delete.

[2018-07-20 06:17] jlewi commented on #718
Is the complexity of adding yet another knob really worth it? It seems like this field provides minimal benefit over what we already have.

One of the clean pod policies that only deletes non-completed pods. So for completed pods the logs will be preserved for as long as K8s doesn't GC the pods.

For non completed pods cluster level logging seems like the right solution.

I don't think CleanPodDel

[2018-07-20 06:45] jian-he commented on #718
The use-case is not only for logs, but also some local artifacts for debugging purpose.

The original intend is to delete the job after certain time, but you raised a concern for why [deleting the job ](https://github.com/kubeflow/tf-operator/issues/718#issuecomment-405390298).  The CleanPodDelay was chosen because there's already deletion policy for pods, hence this adds one more retention policy

[2018-07-20 08:53] gaocegege commented on #742
It is awesome! Will they review the repository or the proposal?

[2018-07-20 13:09] jlewi commented on #718
@jian-he that makes sense. So per my [comment](https://github.com/kubeflow/tf-operator/issues/718#issuecomment-405915666)  above does the following make sense.

1. Remove CleanPodDelay (#718)
1. Add a Job TTL followingkubernetes/kubernetes#64470

[2018-07-20 13:10] jlewi commented on #742
Not sure. I'm guessing they'll look at both.

[2018-07-20 13:19] jlewi opened #743 "Document how to use gang scheduling with TFJob"
In #349 we added support for gang scheduling use kube arbitrator.

We should document how to use this feature and how it works. Some things we should probably explain

1. The dependency on kube-arbitrator and at least reference to how to install it
1. from a user perspective how it impacts how jobs are scheduled

    - e.g. what happens when a job requiring N pods is created and there are only eno

[2018-07-20 14:15] jlewi opened #744 "[Test Flake] tf_job_client.py needs to handle case where conditions is none"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1236/kubeflow-presubmit/2642/

Logs

[code]

The offending line is here

https://github.com/kubeflow/tf-operator/blob/aae83273411aeeb6f251409c9d26978b5f8fb5da/py/tf_job_client.py#L220

It looks like conditions can end up being present in the status field with a value of None so the subsequent for loop fails.

[2018-07-20 15:05] johnugeorge commented on #742
Great to see this effort. How should we plan this?

[2018-07-20 15:12] jlewi commented on #736
@gaocegege Thanks

[2018-07-20 15:12] #736 closed

[2018-07-22 02:18] #744 closed

[2018-07-23 17:52] ccding commented on #718
submitted a PR #746  to revert the #725

[2018-07-23 21:47] #400 closed

[2018-07-23 21:52] jlewi opened #747 "Build the tf-operator every night"
We should be building the TFOperator every night to produce a container with the latest code.

How we build the TFJob operator might not directly match what we currently recommend for auto-image release
https://github.com/kubeflow/kubeflow/blob/master/docs_dev/releasing.md#image-auto-release

In particular we don't have a build.sh script. We currently just run the E2E test workflow to build and re

[2018-07-23 22:05] jlewi opened #748 "v1 and v2 E2E tests appear to be stomping on each other"
Here's a post submit test.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_tf-operator/745/kubeflow-tf-operator-presubmit/872

We run 2 separate workflows for v1 and v2 but we only see test results for

[code]

The logs for the v1alpha2 test appear to indicate a problem running the job.

[2018-07-23 22:11] jlewi commented on #748
So here's the problem.

We give each workflow its own directory named after the workflow in the shared NFS directory.

But the artifacts for all the workflows end up being copied to the same GCS bucket for gubernator because they are part of the same prow job.

[code]

As a result the junit files end up clobbering each other.

[2018-07-24 03:29] jlewi opened #750 "[testing] CleanPodPolicy needs E2E test"
We should have an E2E test to verify CleanPodPolicy is working as intended.

[2018-07-24 04:25] jlewi opened #751 "[v1alpha2] Job should be marked completed when worker 0 exits but other workers are still running"
I think there was a regression in v1alpha2.

When there is no chief, we want to assume worker 0 is the chief. Thus when worker 0 exits the job should be marked completed. This was the behavior in v1alpha1 when using a terminationPolicy which allowed us to specify which worker to use as the chief.

In v1alpha2 it looks like the behavior is to wait for all workers to exit.
https://github.com/kubeflo

[2018-07-24 04:35] gaocegege commented on #751
Make sense. Then how do we support both cases? We only have one restart policy.

[2018-07-24 04:54] jlewi commented on #751
If we need to support both policies we'll need to add a terminationPolicy or similar field as we had in v1alpha1. I'm following up with the TensorFlow folks to see whether we need to support both cases i.e only worker 0 exits or all workers exit.

[2018-07-24 20:15] maver1ck commented on #716
Great.
First we deleted chart.
https://github.com/kubeflow/tf-operator/issues/564
Now adding it back ?

[2018-07-25 02:09] gaocegege commented on #716
@maver1ck

I like helm, too. Then we are going to maintain helm charts in https://github.com/kubeflow-incubator/charts while it is WIP.

[2018-07-25 03:10] #748 closed

[2018-07-25 03:30] jlewi commented on #716
@gaocegege I don't think we've agreed to maintain helm charts in kubeflow-incubator. The current issue is solely about a helm chart just for TFJob. If someone wants to take a stab at doing that and maintaining it its fine. But I think the cost of maintaining two different solutions for installing Kubeflow is not something we've agreed to take on. We have our hands fully maintaining a single soluti

[2018-07-25 04:01] gaocegege commented on #716
/cc @ddysher

@jlewi

I agree that maintaining two tools takes more time, while we are using helm to deploy our stack. If we can not get the feature from the upstream, we will have to maintain it by ourselves.

I do not know it. I think we could take a look to see if we could support helm via ksonnet.

[2018-07-25 04:21] jlewi commented on #716
@gaocegege The comment from @ddysher  above was

If you want to maintain a helm chart for TF operator and put that in the TFOperator repo. I think that's fine.

There is a difference between maintaining a chart just for TF operator and deploying Kubeflow with ksonnet.

If you create a a helm repository labeled Kubeflow it will likely cause confusion. People will want to know why they can't deploy

[2018-07-25 04:31] jlewi opened #754 "TFJobs UI returns 500s and json parse errors displaying pod information or creating job"
Using
gcr.io/kubeflow-images-public/tf_operator:v20180724-13863edf

TFJob is v1alpha2

Here's what I see

![tfjobs_ui](https://user-images.githubusercontent.com/777219/43179151-0cad834a-8f86-11e8-8e8a-86d5cffe2321.png)

Note though that nothing is showing up in Name, Status, Logs.

Developer console is showing me errors

[code]

I see similar errors if try to create a job via the UI.

This appears

[2018-07-25 05:57] maver1ck commented on #716
@jlewi
I agree that there are many tools to handle k8s YAMLs, but I think that helm is much popular than others and widely adopted and supported. And this is the first tool I'd like to use without helm support.

[2018-07-25 09:32] ddysher commented on #716
@jlewi  If there are requests for helm support for components other than tf-operator, we can add to the chart repo.

helm is much more popular and easier than ksonnet, and all projects I've used have helm support. helm is also part of cncf so the adoption will likely to increase. If there's community interests on supporting helm, I don't see any reason not to do so.

[2018-07-25 11:55] jlewi commented on #716
@ddysher Supporting two solutions is not cheap. It means E2E tests, release processes, docs, etc... We are already falling short of a great user experience trying to support 1 solution. Trying to support 2 solutions will exacerbate the problem. I think we will just end up with 2 fragmented and incomplete experiences. For example, some options features will be supported in the helm packages and som

[2018-07-25 12:19] jlewi commented on #751
The correct criterion should be only waiting for worker N=0 to exit. That should be sufficient; we don't need to support the case where we wait for all N workers to exit.

Here's the answer I got from some TensorFlow experts.

We currently have three multi-node strategies that have three corresponding setups:

a) Between-graph replication with ps:
  Waiting for the chief looks like the right crite

[2018-07-25 23:56] jlewi opened #755 "Surface invalid spec errors in a more user friendly way"
Right now if a user submits a TFJob with invalid spec the job will be created and nothing will happen.

The logs for the TFJob operator indicate that the spec is invalid but this isn't very discoverable. The only indication that the job is invalid is the fact there is no status.

I'd like the error to be surfaced when user does

[code]

Firing off a K8s events linked to the job should be doable. T

[2018-07-26 02:36] ccding opened #756 "e2e test for cleanupTFJob"
this is needed as it is not implemented in #753

[2018-07-26 02:40] ccding opened #757 "refactor the code of TFJobController for unittest"
It uses syncHandler, updateStatusHandler, deleteTFJobHandler for unittest purposes: real workload calls REST api, while tests simulate the responses.

It would be better if we implement two classes: realTFJobController and fakeTFJobController, which is similar to what kubernetes does and the real/fakePodController, real/fakeServiceController in tf-operator.

It will make the code clean.

[2018-07-26 02:53] gaocegege commented on #757
I am not sure if I got you. We do have FakePodControl and FakeServiceControl and they are to test if the controller itself works well without creating real resources. While I am not sure what we will test with the FakeTFJobController.

:thinking:  Could you please explain more?

[2018-07-26 02:53] gaocegege commented on #756
Indeed, I think we should add it before 0.3

[2018-07-26 02:55] gaocegege commented on #755
The TFJob will get an event when the spec is invalid, I think the code is here: https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/controller_tfjob.go#L28

If it does not have the event, it should be a bug.

[2018-07-26 02:57] gaocegege commented on #751
SGTM, WDYT @ddysher @codeflitting

[2018-07-26 03:21] ccding commented on #757
The same.

see these code

https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/controller_tfjob_test.go#L295
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/controller_status.go#L122

https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/controller_tfjob_test.go#L64
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/control

[2018-07-26 03:31] gaocegege commented on #757
Oh I got you. You mean FakeTFJobControl, not FakeTFJobController. Make sense.

[2018-07-26 03:34] gaocegege commented on #757
Do you have a plan? I think k8s has FakeJobControl to test CronJob, which will creates Job. While our operator do not create TFJob, we just manage the lifecycle of the TFJob. Thus I think we need a more detailed design to show the benefit of FakeTFJobControl.

[2018-07-26 03:40] gaocegege commented on #757
We use these handlers (sync, updateStatus) to test the logic. And it is inspired by https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/job/job_controller_test.go#L1178. If you have better design, we could have a design doc for the ut of the operator and implement it. I do think it is a little hacky.

[2018-07-26 07:10] ccding commented on #757
My point is there are too many handlers in the current code. If we use a struct, it will hide all of them into the struct.

[2018-07-26 16:42] jlewi opened #759 "Scope TFJob operator to only claim jobs in a given namespace"
We'd like to be able to scope Kubeflow to a particular namespace to better support multi-tenant situations.
See kubeflow/kubeflow#1213

When deploying the operator we should be able to specify which namespaces to monitor and the operator should only claim/manage jobs in that namespace.

We'd also like to scope our RBAC permissions and service accounts to only the provided namespaces.

@gaocegege A

[2018-07-26 16:51] jlewi commented on #759
Looks like informer can be scoped to a namespace. But by default we monitor all namespaces
https://github.com/kubeflow/tf-operator/blob/master/pkg/client/informers/externalversions/kubeflow/v1alpha2/tfjob.go#L65

So we need to add an option to monitor a namespace.

I wonder if we can easily monitor a subset of namespaces?

[2018-07-27 13:37] jlewi opened #760 "Update and move README.md to website"
The README is outdated
https://github.com/kubeflow/tf-operator/blob/master/README.md

For example its still referencing v1alpha1 and not v1alpha2.

Most of this information needs to be moved over to the website.

kubeflow/website#102 is creating a separate page for TensorFlow training. We should add information to that page. For example, we should add information about monitoring TF training jobs.

[2018-07-27 13:38] jlewi commented on #760
/cc @amsaha

[2018-07-28 00:41] jessesuen commented on #759
Argo workflow controller supports the notion of an "instance ID". The way it works is:
* if the workflow-controller-configmap **is not** configured with an instanceID, then that controller instance will only watch workflow resources with the instanceID label **missing**.
* if the workflow-controller-configmap **is** configured with with an instanceID, then that controller instance will only watch

[2018-07-28 23:43] jlewi commented on #759
Thanks @jessesuen

[2018-07-28 23:51] jlewi opened #761 "v1alpha2 doesn't work TF.estimator for TF <= 1.6 ; need to add environment:cloud to TF_CONFIG"
See kubeflow/kubeflow#1283

On TF <= 1.6 if you try to use the estimator API with a master the job hangs with

[code]

The TF_CONIFG looks

[code]

Its missing Environment which is used in TF 1.6 See here
https://github.com/tensorflow/tensorflow/blob/r1.6/tensorflow/contrib/learn/python/learn/estimators/run_config.py#L146

TF 1.8 doesn't use Environment but it looks like it expects the Chief type.

[2018-07-28 23:56] jlewi opened #762 "E2E test for TF estimator API"
See #761; we should have E2E tests that TF estimator API is configured correctly based on TF_CONFIG.

An E2E test is better than a unittest because we want to verify that TF_CONFIG actually produces what TF.estimator expects and this has changed with different TF versions.

We can launch a simple program for each replica that just constructs a RunConfig object
https://github.com/tensorflow/tensorf

[2018-07-29 02:46] jlewi opened #763 "Events don't show up in kubectl describe tfjobs"
Below is the output of running kubectl describe for a TFJob that is running.

The job is running successfully (pods exist) but events don't show up in output of `kubectl describe`

The events don't show up with `kubectl get events`; but they do show up in stackdriver. I wonder if the problem is that the events are tool old.

[code]

[2018-07-29 02:48] jlewi commented on #763
Created a new job and the events show up; so looks like its a question of events being too old and not showing up.

[code]

[2018-07-29 02:48] #763 closed

[2018-07-29 21:09] jlewi commented on #763
See kubernetes/kubernetes#52521

It looks like events are garbage collected after 1 hour to avoid straining ETCD.

[2018-07-30 13:10] jlewi commented on #167
I think there is an issue to move this into the kubeflow org. I think it's better to I incubate things in our existing org for now.

There's a cost to maintaining multiple GitHub orgs that we should try to avoid until necessary.

[2018-07-30 15:50] jlewi commented on #755
I think the problem is that pass tfjob to the event recorder
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/controller_tfjob.go#L30

But I think TFJob will be nil because it was unable to successfully parse the unstructured object into TFJob. So we should be passing the unstructured object to the event recorder.

[2018-08-02 00:34] activatedgeek opened #768 "Error syncing tfjob: Failed to found the port"
TFJob v1alpha2 seems to be throwing unknown errors. Here is the TFJob spec which is based on the distributed MNIST example.

<details><summary>TF Job Spec</summary>
<p>

[code]

</p>
</details>

<details><summary>Logs</summary>
<p>

[code]

</p>
</details>

[2018-08-02 02:06] gaocegege commented on #768
The name of the container should be tensorflow

[2018-08-03 02:33] gaocegege commented on #761
Could we close the issue? I think we fixed it in #766

[2018-08-05 04:38] ashahab opened #770 "TF_CONFIG cluster spec has wrong FQDN name"
v1alpha2 seems to introduce TF_CONFIG cluster spec with FQDNs:
[code]
This is problematic because we use a different cluster-domain (and not 'cluster.local') and so after upgrading to kubeflow 0.2.2, workers got stuck in "CreateSession still waiting for response from worker"
I've dug through the code in the operator and can't find anything wrong at a glance: https://github.com/kubeflow/tf-operator

[2018-08-05 07:40] gaocegege commented on #770
I think we are using the service name instead of the FQDN

[2018-08-05 15:14] ashahab commented on #770
Thanks for the response.
So I won't expect "mnist4555-worker-0.kubeflow.svc.cluster.local" to be in
the cluster spec in this case. I expect the TF_CONFIG to have
"mnist4555-worker-0"
which is my service name.

Can anyone help explain why/how my service name is getting expanded to the
full FQDN when it ends up in the TF_CONFIG? This is breaking all the
distributed tensorflow jobs.

On Sun, Aug 5, 2

[2018-08-05 15:47] gaocegege commented on #770
@jlewi

Do we cherry pick the commit in 0.2?

https://github.com/kubeflow/tf-operator/commit/a5a5f49f2a9f3a783301c0df38727b938c3bbc3c

[2018-08-05 15:48] gaocegege commented on #770
@ashahab

Maybe you could have a try on master. We have a commit to fix your issue here: https://github.com/kubeflow/tf-operator/commit/a5a5f49f2a9f3a783301c0df38727b938c3bbc3c

[2018-08-05 16:56] ashahab commented on #770
Thanks I'll try.

On Sun, Aug 5, 2018, 8:48 AM Ce Gao <notifications@github.com> wrote:

[2018-08-05 17:48] ashahab commented on #770
Is there a tf-operator image from master or an easy way to generate one?

On Sun, Aug 5, 2018 at 9:55 AM, Abin Shahab <ashahab@gmail.com> wrote:

[2018-08-06 02:58] #761 closed

[2018-08-06 08:46] cheyang commented on #770
You can check the available tag by querying `https://gcr.io/v2/kubeflow-images-public/tf_operator/tags/list`.

[2018-08-06 12:43] jlewi commented on #710
@codeflitting Do you want to add a check to TFJobOperator to see if the CRD exists?

[2018-08-06 13:13] jlewi commented on #751
@codeflitting Any chance you could take this on?

[2018-08-06 16:12] ashahab commented on #770
Thanks so much for all the quick help(this community is great!).

I assume v20180724-13863edf would be a tag with the patch merged?

On Mon, Aug 6, 2018 at 1:46 AM, cheyang <notifications@github.com> wrote:

[2018-08-06 17:00] jlewi commented on #770
Yes it looks like that commit should include the fix
https://github.com/kubeflow/tf-operator/blob/13863edf7ccf6a2786457f098a9fc115c097d14b/pkg/controller.v2/controller_tensorflow.go#L106

[2018-08-07 21:16] ashahab opened #772 "TF_CONFIG in tf-operator:v20180724-13863edf missing Environment: cloud"
This omits the Environment:cloud: https://github.com/kubeflow/tf-operator/blob/a7be53607640aea90645adcc7212f6d05feb4b62/pkg/controller.v2/controller_tensorflow.go#L72

This is causing tensorflow to be not-distributed.

[2018-08-08 02:58] gaocegege commented on #772
Yeah, we have a PR to fix it #766

[2018-08-08 08:42] falcocoris commented on #106
Hello

I've done just that but it doesn't seem to be enough.
Is there something I missed ?

I have a test cluster with 3 nodes and the only thing i did was helm init so far..

[code]

[2018-08-08 10:57] aganesan94 commented on #106
Same here did that as per instructions still run into the same issue.

[2018-08-08 13:04] falcocoris commented on #106
using these lines fixed my pb :

[code]
Note the error at the end, i'm not sure this command did anything in the end but it worked with all of these.

[2018-08-08 23:59] jlewi commented on #772
I published an updated image
[gcr.io/kubeflow-images-public/tf_operator:v20180807-a83ccdc](https://gcr.io/kubeflow-images-public/tf_operator:v20180807-a83ccdc)

[2018-08-08 23:59] #772 closed

[2018-08-09 00:00] jlewi opened #774 "PS still running after tfjob is complete"
Copying kubeflow/kubeflow#1334

Hi,
I have an issue that the PS pod keeps running after the tfjob is complete, even after several days.
kubectl get pods returns
'''
trainer-180804-004108-master-0 0/1 Completed 0 4d
trainer-180804-004108-ps-0 1/1 Running 0 4d
trainer-180804-004108-worker-0 0/1 Completed 0 4d
'''

And, kubectl get tfjob returns
'''
tfReplicaStatuses:
MASTER:
succeeded: 1
PS:
active:

[2018-08-09 00:03] jlewi commented on #774
Looks like we aren't verifying that pods are deleted
https://github.com/kubeflow/tf-operator/blob/d2509aae732ae1eb23dd8754bcc3b74f19df51cd/py/test_runner.py#L555

[2018-08-09 04:46] ankushagarwal commented on #774
@gaoning777

What version of tfjob are you using? The cleanPodPolicy might not work in earlier versions of tfjob

I used cleanPodPolicy in my tfjob spec and it cleaned up all pods as expected after the job completed. Here is my complete tfjob spec

[code]

[2018-08-09 07:50] ilchemla opened #775 "Latest docker Image on wrong commit"
Hi,

According to the `gcr.io/kubeflow-images-public/tf_operator` the latest image in on commit a83ccdc (April 3rd).

Is there a way to update it?
thanks

[2018-08-09 08:25] gaocegege commented on #775
/cc @jlewi

[2018-08-09 15:57] ankushagarwal commented on #774
The default is to leave pods running.

https://github.com/kubeflow/tf-operator/blob/1fa0779840816b772a1c113c14220a2464d04ac0/pkg/apis/tensorflow/v1alpha2/defaults.go#L91

[2018-08-09 22:52] gaoning777 commented on #774
I was using the default clean policy.
I tried the  cleanPodPolicy: All, but to no avail. the PS is still running after 10 minutes. I'm using kubeflow v1alpha2.

[2018-08-09 23:38] gaoning777 commented on #774
My yaml looks like this:
apiVersion: kubeflow.org/v1alpha2
kind: TFJob
metadata:
  generateName: trainer-
spec:
  cleanPodPolicy: All
  tfReplicaSpecs:
    MASTER:
      replicas: 1
      restartPolicy: OnFailure
      template:
        spec:
          containers:
          - command:
            - python
            - -m
            - trainer.task
            image: ******
            name: tenso

[2018-08-10 01:14] jlewi commented on #774
@gaoning777 What are the events for the TFJob? I'd like to know if we tried to delete the pod.

There are instructions here for dumping the events
https://www.kubeflow.org/docs/guides/monitoring/#default-stackdriver

You can ping us internally in the Kubeflow chat room with relevant stackdriver information.

[2018-08-10 01:37] jlewi commented on #775
Sorry about that.
gcr.io/kubeflow-images-public/tf_operator:v20180809-d2509aa
https://github.com/kubeflow/tf-operator/commit/d2509aae732ae1eb23dd8754bcc3b74f19df51cd

[2018-08-10 01:37] #775 closed

[2018-08-10 03:17] lovejoy commented on #375
https://github.com/kubeflow/tf-operator/tree/master/examples/crd https://github.com/kubeflow/tf-operator/tree/master/examples/v1alpha2/dist-mnist are useful. And I think there are many people don't use ksonnet. So it is better if there is some example yaml file.

[2018-08-10 05:50] k82cn commented on #743
+1

[2018-08-10 13:12] jlewi commented on #774
#750 is for E2E test for CleanPodPolicy.

[2018-08-10 13:18] jlewi commented on #774
@ankushagarwal The default CleanPodPolicy is Running
https://github.com/kubeflow/tf-operator/blob/1fa0779840816b772a1c113c14220a2464d04ac0/pkg/apis/tensorflow/v1alpha2/defaults.go#L94

That means we will delete pods that are still Running which is the right default.
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/tfcontroller/tfjob.go#L88

[2018-08-10 13:47] jlewi commented on #747
Maybe we should just use Google Container Builder and configure it to build an image on every commit?

[2018-08-10 14:25] jlewi commented on #628
@bhack either.

[2018-08-10 14:34] bhack commented on #628
Batch sync is more related to the framework, I've mentioned a issue for TF in the previous comment that has a referfrence also to the pytorch issue.
For [multi work strategy](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/distribute/python/multi_worker_strategy.py) I don't know here if we need only to add an example or more it is required.

[2018-08-12 08:58] ChanYiLin commented on #774
@jlewi @ankushagarwal
I think I found the root cause.
The reason is when the last time we refactored the code (#767 ), we put functions like GetPodsForJob, GetServicesForJob, DeletePod, DeleteService under JobController rather than TFJobController.
We cannot call these function under tc.XXX(), therefore, this issue happened.
See #776
Thanks!

[2018-08-13 07:08] ScorpioCPH commented on #774
@ChanYiLin I think https://github.com/kubeflow/tf-operator/pull/767 is ok as we used embedded field in `TFJobController` struct.

[2018-08-13 09:31] ScorpioCPH commented on #751
@jlewi I will take this if nobody working on this :)

[2018-08-13 13:49] jlewi commented on #774
Can anyone reproduce the problem with the prods not being deleted?

[2018-08-13 18:32] jlewi commented on #710
@codeflitting @ddysher is someone from Caicloud willing to pick this up?

[2018-08-13 18:34] jlewi commented on #751
@ScorpioCPH If you could pick this up that would be awesome.

/assign @ScorpioCPH

[2018-08-14 10:26] ChanYiLin commented on #774
I've tested it using GCP with KUBEFLOW_VERSION=0.2.2 and tf-operator v1alpha2.
Kubeflow killed all the pods after the job succeeded as expected.

The yaml file I used is as follow
[code]

[2018-08-14 16:09] gaoning777 commented on #774
Where can I find the new version? The most recent v0.2.2 release(https://github.com/kubeflow/kubeflow/releases) was published on July 12nd.

[2018-08-14 20:40] jlewi commented on #774
@gaoning777 What is the docker image for tf-operator that you are using?

[2018-08-15 00:04] jlewi opened #778 "[Test Flake] Intermittent test failures: tensorflow.python.framework.errors_impl.UnavailableError: OS Error"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/1357/kubeflow-presubmit/2947/

The chief is failing with the error:

[code]

I think we recently upgraded from TensorFlow 1.3 to 1.8 for the smoke test and that's when we started noticing this.

From discussions in 2016

Unavailable Error is gRPC error  which maps to TensorFlow error space.
  * RPC failed fo

[2018-08-15 04:17] jlewi opened #780 "test_runner.py is using wrong util module for JobTimeoutError"
https://github.com/kubeflow/tf-operator/blob/master/py/test_runner.py#L571

Here util refers to the util in kubeflow/testing; but that's not the right util module.

[2018-08-15 12:19] #780 closed

[2018-08-15 17:05] ashahba commented on #774
@jlewi I also put some comments here: https://github.com/tensorflow/tensorflow/issues/20833
but it may well apply to `tf-operator`.
Strangely enough if I used `Tensorflow 1.8.0` the TfJob and marked as `Succeeded` but with `Tensorflow 1.9.0` it remains running indefinitely, however when using `1.8.0` I see this in `kubetail` logs, although the jobs are marked as `Succeeded` 🤔
[code]

[2018-08-17 00:15] ashahab opened #781 "Ability to prefer using all gpus on a single node"
We are interested in having the ability in tf-operator to prefer a single node and use it's gpus if possible. That can dramatically increase training performance if the workers and ps don't have to talk over network.

[2018-08-17 01:41] codeflitting commented on #710
Sorry for the late reply, I or my colleague will deal with it next week @jlewi

[2018-08-17 15:33] gaocegege commented on #781
Yeah, I agree with you. While it is not in our scope. We should support the feature via the scheduler kube-arbitrator. https://github.com/kubernetes-incubator/kube-arbitrator/

[2018-08-17 16:15] ashahab commented on #781
Thanks for the reply. How can I try out kube-arbitrator along with kubeflow?

On Fri, Aug 17, 2018 at 8:33 AM Ce Gao <notifications@github.com> wrote:

[2018-08-17 20:16] gaocegege commented on #781
You need to enable gang scheduling in tf operator and let kube-arbitrator to schedule the training jobs.

[2018-08-17 21:07] ashahab commented on #781
How do I deploy kube-abitrator? I don't see it deployed with the default
kubeflow installation.

On Fri, Aug 17, 2018 at 1:16 PM Ce Gao <notifications@github.com> wrote:

[2018-08-18 01:01] richardsliu commented on #774
This can be consistently reproduced if the tf operator is using image tf_operator:v0.2.0. The latest tf operator image (I was using tf_operator:v20180809-d2509aa) does not have this issue.

[2018-08-18 01:25] richardsliu commented on #774
@gaoning777

This should be fixed in 0.2.3. If you have a dependency on Kubeflow 0.2.2, you can fix this by doing something like:

1. export KUBEFLOW_DEPLOY=false
2. Run deploy.sh
3. ks param set tf-job-operator tfJobImage gcr.io/kubeflow-images-public/tf_operator:v20180809-d2509aa
4. export KUBEFLOW_DEPLOY=true
5. Run deploy.sh again

[2018-08-18 01:37] gaoning777 commented on #774
Thanks Richard for looking into this.
The ideal would be to enable the user to specify the tf-operator version to the deploy script such that there is a clear decoupling of these two projects. As such, user will not depend on the new release of kubeflow to upgrade their tf-operator version on the assumption that we need one-click deployment.

[2018-08-18 03:36] ChanYiLin commented on #781
So first of all you can find or build your own kube-arbitrator image here
https://github.com/kubernetes-incubator/kube-arbitrator/blob/master/doc/usage/tutorial.md

after that you can use following yaml file (I forgot where to find the sample, so here is my own taml file)

[code]
NOTE: kube-arbitrator need to collect cluster information(such as Pod, Node, CRD, etc) for scheduing, so the service ac

[2018-08-18 03:44] ChanYiLin commented on #781
@ashahab
However, kube-arbitrator still can't achieve what you want.
It can only schedule all the Pods together to prevent the situation that some pods of the tfjob are bound to nodes while some pods can't  due to lack of resources so the job is pending there.

[2018-08-18 03:51] ChanYiLin commented on #781
@gaocegege
IMO, I don't think scheduling all the worker of tfjob together is also in the scope of kube-arbitrator, since this requirement only happens in job like distributed tensorflow training.

Another thing is I also found there is no option for user to assign schedulerName in v1alpha2 tfjob spec like we did in v1alpha1. So it seems that we have to add this setting to all the PodSpec.
in v1alp

[2018-08-18 17:08] ashahab commented on #781
Got it. Thanks for the info.
Can I use the default scheduler with pod affinity to achieve what we need?

On Fri, Aug 17, 2018, 8:51 PM Jack <notifications@github.com> wrote:

[2018-08-18 17:25] ChanYiLin commented on #781
Yes, you can.
In the tfjob yaml file, PS/Worker/Master parts are actually Pod spec in Kubernetes.
You can follow the format of Pod spec to add anything you want.

[2018-08-20 02:31] gaocegege commented on #781
@ashahab

Agree with @ChanYiLin , I am closing the issue. If you have any question feel free to add new comments here.

[2018-08-20 02:31] #781 closed

[2018-08-20 02:32] gaocegege commented on #778
Could we please close the issue? @jlewi

[2018-08-20 02:44] gaocegege opened #782 "[enhancement] Add SchedulerName in V1alpha2"
We have the gang scheduling option while we do not support schedulername for TFJob, and we should add it to keep consistency with v1alpha1.

[2018-08-20 02:45] gaocegege commented on #782
/assign @ChanYiLin

[2018-08-20 08:08] johnugeorge opened #785 "Add Pytorch V1alpha2 Implementation"
- [ ] Implement initial v1alpha2 implementation for PyTorch which is consistent with TF
- [ ] Add unit tests - Current pkg/util/testutil have to refactored as it is currently using TF code
- [ ] Add examples - Port examples from pytorch-operator repo
- [ ] Add build workflows for presubmits
- [ ] update ksonnet packages in Kubeflow repo

[2018-08-20 16:34] ChanYiLin commented on #782
/assign @ChanYiLin

[2018-08-20 18:12] richardsliu commented on #774
The TFJob operator image on master is already pointing to the latest image. I believe @gaoning777 is depending on the 0.2.2 release.

[2018-08-21 00:42] ChanYiLin commented on #782
/assign @ChanYiLin

[2018-08-21 13:09] jlewi commented on #751
@ScorpioCPH How's this coming?

[2018-08-21 22:06] richardsliu commented on #774
This release has the fix: https://github.com/kubeflow/kubeflow/releases/tag/v0.2.4-rc.0

[2018-08-22 02:26] ScorpioCPH commented on #751
Will submit a PR later today :)

[2018-08-22 17:39] #759 closed

[2018-08-23 00:41] #770 closed

[2018-08-23 15:47] jlewi opened #793 "[Test Flake] 503 accessing the test server exit handler"
worker0-is-chief

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_tf-operator/790/kubeflow-tf-operator-presubmit/970/

[code]

[2018-08-23 18:18] richardsliu commented on #774
Closing this since the issue is fixed. Will send out a separate PR for the e2etest.

[2018-08-23 18:18] #774 closed

[2018-08-23 20:07] #778 closed

[2018-08-24 13:39] jlewi opened #794 "Backwards compatibility support "Master" as chief"
For backwards compatibility with older versions of TF.estimator we need to treat replicas with name "Master" as "Chief".

One place where this doesn't seem to be happening is the exit policy. If there is a replica of type, "Master" than TFJob should be marked completed when the "Master" exits. It would be good to add an E2E test for this case.

We should probably add validation to ensure only "Mas

[2018-08-24 14:43] ankushagarwal commented on #754
Yes, I have verified that this is fixed. I no longer see 500s. I am able to launch jobs successfully and view pod logs successfully.

[2018-08-24 14:43] #754 closed

[2018-08-27 08:27] #751 closed

[2018-08-27 22:42] jlewi opened #800 "reconcile should be triggered on update; even if no changes"
#796 made a change to prevent reconcile from being on every update; now reconcile is only called if the resourceVersion changed.

I think the original behavior might be WAI. I think we want to periodically trigger reconcile? Reconcile ensures that everything is running correctly.

@jian-he Can you provide more explanation for the change?

/cc @ScorpioCPH @gaocegege

[2018-08-27 22:48] jlewi opened #801 "Should scheduleName be a TFJob field or is it sufficient to be a podTemplateField"
#787 add ScheduleName to TFJob spec. Looking at that PR; it seems like the field is just setting ScheduleName on the PodTemplateSpec.

Could users just set the scheduleName on the PodTemplateSpec?

Right now it seems like users could easily get confused; they might think they could just specify it on PodTemplateSpec; but I don't think that would work because it would be overwritten by the field in

[2018-08-27 22:49] jlewi commented on #801
@ChanYiLin thoughts?

[2018-08-28 00:50] ChanYiLin commented on #801
@jlewi IMO, when it comes to gang-scheduling case, specify the schedulerName on TFJob spec is more reasonable for it some how means using this scheduler to schedule all pods as a group.

But I can get your point, it is really confusing in other case when people need to specify different scheduler on different pod.

How about we set a priority. If user already sets the schedulerName in PodTemplate,

[2018-08-28 03:05] gaocegege commented on #800
I think it is two different problems. The reconcile on on-update request is not what we want, since it is
idempotent. While we want to call reconcile periodically.

[2018-08-28 03:06] gaocegege commented on #801
Personally, I think we should keep consistency with v1alpha1, which has a SchedulerName in TFJob level.

[2018-08-28 16:29] johnugeorge commented on #785
Closing this as this is not anymore in the tf-operator repo

[2018-08-28 16:29] #785 closed

[2018-08-29 08:46] codeflitting commented on #710
@jlewi @ddysher  should I exit tf-operator when the CRD not exists ?

It now  have error information when tf-operator start  if the CRD not exists.
[code]

[2018-08-29 12:46] jlewi commented on #800
@gaocegege Isn't update called periodically by the informer?

See #309.  I thought the design was to configure the informer to periodically issue an Update event and then handle Update by calling reconcile.

[2018-08-29 13:37] gaocegege commented on #800
I thought we want to implement the logic in the operator instead of relying on the informer. We have a ReconcilerSyncLoopPeriod although we do not implement the logic about it. Personally, I think we should follow the TODO [here](https://github.com/kubeflow/tf-operator/blob/01c76af3b94478222ee18ef7b8512ee8060a5602/pkg/controller.v2/jobcontroller/jobcontroller.go#L70) to reduce the cost of reconcil

[2018-08-29 15:58] johnugeorge commented on #800
@gaocegege  I feel that there can be cases of transient errors during reconcile. Eg: call to api server fails during one reconcile period and error may be returned before the entire processing of the event. In such a case, state might get wrong

[2018-08-29 22:56] jlewi commented on #800
I think we could potentially do both. The informer provides an upper bound for retries. But there might be cases where we know we want to retry sooner then that; e.g. if there was a temporary API error we might want to retry with exponential backoff. I think the controller control loop supports that because we can requeue an update after some time.

My understanding is that K8s controllers are des

[2018-08-30 02:35] gaocegege commented on #800
OK, I will file a PR to revert the changes

/cc @jian-he

[2018-08-30 03:38] gaocegege opened #804 "[v1alpha2] Delete resources according to cleanuppolicy exactly once"
When the resource is deleted here: https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/tensorflow/job.go#L110, the delete event will send to the operator, then the operator will run the delete logic again.

The second delete request will add an error event to the TFJob, which will confuse users. It is not what we expected.

[2018-08-30 03:41] gaocegege commented on #755
Do you mean here https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/tfcontroller/tfjob.go#L37 ?

I will try to fix it.

[2018-08-30 03:42] gaocegege commented on #755
/assign @gaocegege

[2018-08-30 03:42] gaocegege commented on #801
WDYT @jlewi

[2018-08-30 03:42] gaocegege commented on #800
/assign @gaocegege

[2018-08-30 03:51] jlewi opened #806 "Why are lastTransitionTime's all the same"
Here are the job conditions for a job I ran.

Note that the lastTransitionTime's are all the same. Is this expected? What's the difference between lastUpdateTime and lastTransitionTime?

[code]

[2018-08-30 03:52] jlewi commented on #800
Thanks!

[2018-08-30 03:54] jlewi commented on #801
Wouldn't the API be cleaner if there was just a single way to set scheduler?

As soon as we introduce two different ways of setting the scheduler name, this introduces added complexity in the form of deciding which field to use and the API is no longer self-documenting.

What do other K8s controllers do?

[2018-08-30 04:01] gaocegege commented on #801
https://github.com/kubernetes-incubator/kube-arbitrator/blob/master/pkg/apis/extensions/v1alpha1/job.go#L44

kube-arbitrator defines the field for its own job.

[2018-08-30 04:01] gaocegege commented on #801
I think it is similar to restartpolicy, we do not use the restartpolicy defined in pod level

[2018-08-30 04:02] gaocegege commented on #755
I think we should add an e2e test for invalid spec.

[2018-08-30 04:03] gaocegege commented on #794
/assign

[2018-08-30 04:54] gaocegege opened #810 "E2E test for invalid spec errors"
We should test the situation that the operator got an invalid spec.

[2018-08-30 05:39] #800 closed

[2018-08-30 07:09] #794 closed

[2018-08-30 07:16] gaocegege commented on #782
Close by https://github.com/kubeflow/tf-operator/pull/787, some discussions are in here #801

[2018-08-30 07:16] #782 closed

[2018-08-31 01:02] richardsliu opened #813 "Invalid TFJob spec can cause the TFJob operator pod to crash repeatedly"
We should log the invalid TFJob spec, but the job operator pod itself should not crash.

[2018-08-31 04:59] gaocegege commented on #813
Could you give me an example of the case? I think it should be fixed after https://github.com/kubeflow/tf-operator/pull/807 merged

[2018-08-31 05:00] gaocegege commented on #813
/assign

[2018-08-31 16:35] jlewi commented on #755
Thanks @gaocegege I think this provides a good short term solution. But I'd really like to surface the error  in the status of the TFJob as a failed condition so that it shows up as

[code]

It looks like we can use the metaunstructured package to easily set the the status on the TFJob struct

[code]

We then just need to issue an update call to the APIServer.

@gaocegege Do you know if there's a

[2018-08-31 16:59] jlewi commented on #755
I think we could use the RestClient interface
https://github.com/kubeflow/tf-operator/blob/5bc08134412a9793057deb5632d826e904c4f2f3/pkg/util/k8sutil/tf_job_client.go#L125

[2018-08-31 18:02] richardsliu commented on #813
This is my jsonnet file (note that container.name is misspelled):

local params = std.extVar("__ksonnet/params").components.estimator_runconfig;

local k = import "k.libsonnet";

local parts(namespace, name, image) = {
  job:: {
    apiVersion: "kubeflow.org/v1alpha2",
    kind: "TFJob",
    metadata: {
      name: name,
      namespace: namespace,
    },
    spec: {
      cleanPodPolicy: "All",

[2018-08-31 18:15] jlewi commented on #755
I'll take a stab at this.

[2018-09-01 19:35] jlewi opened #816 "invalid-tfjob test results don't show up in gubernator/test grid"
Related to #755
In #813  we added an E2E test for invalid TFJob specs
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-tf-operator-postsubmit

The test is running but results aren't being reported to gubernator.

Example:
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-tf-operator-postsubmit-v2-454c5c1-241-8852?tab=workflow

The invalid-tfjob test ran but the XML file

[2018-09-01 23:29] richardsliu commented on #813
I am using gcr.io/kubeflow-images-public/tf_operator:v20180809-d2509aa.

I can repro the crash if the jsonnet file for the TFJob has a spelling error for the container name, for example "tensorlow". Some relevant logs:

jsonPayload: {
  filename:  "validation/validation.go:50"
  level:  "warning"
  msg:  "There is no container named tensorflow in Chief"
 }
jsonPayload: {
  filename:  "tfcontroller

[2018-09-02 01:08] jlewi commented on #813
I haven't observed crashes with the latest code at head. If its crashing with an older version, is there a stack trace indicating the cause of the crash?

[2018-09-02 01:30] jlewi opened #818 "Event reporting pod exited with non-zero exit code is improperly formatted"
I recently added an Event to report pods exiting with non-zero exit code.

Here's how the event shows up

[code]

The code is here
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/tensorflow/pod.go#L85

The format string looks correct; there are 3 parameters in the format string and 3 arguments.

I'm using an image built from master
gcr.io/kubeflow-images-public/tf_operator:v2

[2018-09-02 06:09] johnugeorge commented on #818
Reason argument in Eventf missing?

[2018-09-02 06:12] johnugeorge commented on #818
3 rd argument is the reason. And from 4, it is the message.

[2018-09-02 08:26] johnugeorge commented on #800
@jian-he In all k8s controllers like replicates, daemonset, statefulset, I see that own update events are actually enqueued without resource version checks(while external informers like pod informers have version checks)
eg:
https://github.com/kubernetes/kubernetes/blob/5d8a79f2e1fe381d348f77fb314e13350de519df/pkg/controller/daemon/daemon_controller.go#L183
https://github.com/kubernetes/kubernetes

[2018-09-02 09:45] johnugeorge commented on #801
@jlewi  @gaocegege Shall I add this to pytorch for consistency?

[2018-09-02 17:27] bhack commented on #628
There is a plan to add a Kubernetes example:

https://github.com/tensorflow/tensorflow/commit/94f57c63c7ff5afc58fd5bc29d52533b82ffb93c

[2018-09-03 02:17] johnugeorge commented on #801
I have same opinion of @jlewi . However, I am not aware of the earlier discussions why RestartPolicy  was kept it in Spec overriding the pod template field. If the reason still holds good, we can keep SchedulerName also part of Spec.  We have to clearly document each of them else it will be confusing for the users.

[2018-09-03 02:17] gaocegege commented on #628
There are three strategies now, I think what we can do it to test if all strategies are supported by our operator.

@bhack Do you think is there anything we should do to support the strategies? I read the doc and think we already support all three now.

[2018-09-03 02:38] gaocegege commented on #743
SGTM, I will do it in this month if there is no one is interested in it.

[2018-09-03 02:42] gaocegege commented on #709
I think this issue is out of the scope of tf-operator. There are some candidates to finish it:

- https://github.com/Microsoft/MMdnn
- https://github.com/onnx/

[2018-09-03 02:44] gaocegege commented on #674
@bryanl Any updates here?

[2018-09-03 02:58] #818 closed

[2018-09-03 10:09] ChanYiLin commented on #801
I agree with @gaocegege .
We can keep it as a syntax sugar when user need to apply single scheduler to all pods.

BTW, how about my priority idea? Personally, I think it's more reliable and flexible.
@jlewi @johnugeorge

[2018-09-03 10:29] johnugeorge commented on #801
We have to be consistent in behavior across spec fields. Else it will be confusing. Eg: RestartPolicy is always overridden by the spec.
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/tensorflow/pod.go#L152

[2018-09-03 21:00] jlewi commented on #801
Sorry for the slow reply.

@ChanYiLin I don't have a good enough understanding of how KubeArbitrator works to evaluate your suggestion. There's an open issue #743 to document it.

I think it would be really helpful if someone could write up a proposal of how gang scheduling will work and then we can make decisions based on that.

If a user wants syntactic sugar in the form of conveniently specifyi

[2018-09-03 21:56] jlewi commented on #710
Yes I think exiting with non-zero exit code is a good idea; Crash looping should help make it clear that things are not working correctly.

[2018-09-03 22:10] jlewi commented on #674
ks 0.12 is out. Unless @bryanl has a specific update; lets close it and wait to see if anyone reports a similar issue with 0.12.

[2018-09-03 22:11] jlewi commented on #709
I agree with @gaocegege.
Closing this issue.

[2018-09-03 22:11] #709 closed

[2018-09-03 22:15] jlewi commented on #628
Adding E2E tests would be good.

I opened up a similar issue for an E2E test #762 related to TF.estimator.

We should try to come up with simple E2E tests that verify that TFJob is fulfilling its responsibility.

/cc @richardsliu

[2018-09-03 22:16] jlewi commented on #375
True; but we could use `ks show` to automatically publish our ksonnet examples as YAMl manifests. The advantage of doing it that way is

1. We have E2E tests for our ksonnet prototypes
1. Those ksonnet prototypes are kept up to date.

[2018-09-03 22:31] jlewi commented on #742
Moving this to 0.4.0 because I don't think we will complete this as part of 0.3 since the review hasn't started yet.

[2018-09-03 22:45] jlewi commented on #645
We've added a bunch of E2E tests to TFJob operator; its possible we now have test coverage for this; we should check.

[2018-09-04 02:33] gaocegege commented on #674
SGTM

[2018-09-04 02:33] #674 closed

[2018-09-04 02:41] gaocegege commented on #801
@ChanYiLin I am not sure if I understand the priority idea, could you please explain more about it?

BTW, are you interested in #743 ?

@jlewi @ChanYiLin SGTM, if we do not need to keep consistency with v1alpha1, we can eliminate the field in TFJob level.

@ChanYiLin Could you please revert the change? Or if you have no time I can do it.

[2018-09-04 03:15] ChanYiLin commented on #801
@jlewi SGTM.
@gaocegege It's ok, I can do the reversion in these days. I am also interested in #743 , so if no one has already started doing it, I can do that.

[2018-09-04 07:56] gaocegege opened #822 "[docs] Add instructions about how to contribute e2e test cases"
Ref https://github.com/kubeflow/mxnet-operator/issues/8

I think we need to have a doc about how to write e2e test cases for operators, which will lower the barriers of participation. In the best case, the doc could be also helpful for pytorch and mxnet operators.

/cc @johnugeorge

[2018-09-04 17:53] jian-he commented on #801
On a side question, what's the behavior if one sets the schedulerName for one pod and missed the other ?  (sometimes people may forget to set certain fields across the pods consistently. )
In gang-scheduling mode, do we run one scheduler or two ?  If two, does it throw error or let the pod scheduled with different schedulers ? If scheduled with different schedulers, will it warn users or silently

[2018-09-04 20:43] #816 closed

[2018-09-04 21:06] jlewi commented on #816
Passing post submit
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubeflow_tf-operator/kubeflow-tf-operator-postsubmit/244

[2018-09-05 00:20] jian-he opened #824 "Revisit Pdb calls during the reconciles while job is completed"
Since, the reconcileTFJob is continuously invoked, this  [DeletePdb code](https://github.com/kubeflow/tf-operator/blob/68159861d540d617ad99219d2202c63d75f26efa/pkg/controller.v2/tfcontroller/tfcontroller.go#L362) will be continuously invoked even when job is completed.

That will cause the following FailedDeletePdb/SuccessfulDeletePdb events continuously get generated after job completes.

[2018-09-05 00:25] jian-he commented on #824
It's fine to continuously invoke reconcileTFJob while the job is running even with no updates, but I think it's better to not invoke it continuously for completed jobs with no updates.

[2018-09-05 02:43] gaocegege commented on #801
We can add a validation to check if all pod have the same schedulerName. If not, we can raise a warning event. WDYT

[2018-09-05 03:29] #801 closed

[2018-09-05 03:30] gaocegege commented on #743
According to the discussions in #801 , @ChanYiLin is interested in this issue.

[2018-09-05 03:31] gaocegege commented on #822
/cc @jzp1025 @jlewi @richardsliu

[2018-09-05 03:35] gaocegege commented on #824
SGTM. I think we definitely should do it. While it is not in high priority since the performance is not the primary goal in this release.

@jian-he Are you facing some problems with the performance?

[2018-09-05 06:34] lovejoy commented on #427
How can i set this flags to log to a dir and the log file same as the stderr .Now I tried to set -log_dir but the log file have less log than stderr

[2018-09-05 07:40] gaocegege commented on #427
https://github.com/sirupsen/logrus/issues/156

[2018-09-05 07:51] gaocegege commented on #743
/cc @cheyang @k82cn

Hope to get your review when the doc is ready, thanks.

[2018-09-05 07:55] gaocegege commented on #804
ref #824

[2018-09-05 07:58] gaocegege commented on #824
It is dup with #804 , IMO. @jian-he WDYT? We could close this one and discuss about it in #804 .

There is some other resources like pods and services which also have the problem

[2018-09-05 08:08] johnugeorge commented on #743
Since we are planning to have consistent behavior across operators, we can have a general doc too.

https://github.com/kubeflow/kubeflow/issues/1471

[2018-09-05 08:10] gaocegege commented on #743
SGTM, I think we share the same patterns (using labels to indicate the job), thus we could use TFJob as an example to illustrate how to integrate mxnet/pytorch/tf jobs with kube-arbitrator.

[2018-09-05 08:26] k82cn commented on #743
sure, my pleasure :)

[2018-09-05 14:09] jlewi commented on #813
Going to mark this as fixed.

[2018-09-05 14:09] #813 closed

[2018-09-05 17:49] jian-he commented on #801
LGTM

[2018-09-06 08:46] gaocegege commented on #762
I am closing the issue since #814 merged.

[2018-09-06 08:46] #762 closed

[2018-09-07 06:23] dailong opened #826 "How to run in stand-alone mode"
How to run in stand-alone mode ，in other words, no ps and worker in v1alpha2 api?

[2018-09-07 07:42] dailong commented on #826
Thank you for your reply. like this? @gaocegege

apiVersion: "kubeflow.org/v1alpha2"
kind: "TFJob"
metadata:
  name: "dist-mnist-sigle"
  namespace: "default"
spec:
  tfReplicaSpecs:
    Worker:
      replicas: 1
      restartPolicy: OnFailure
      template:
        spec:
          containers:
            - name: tensorflow
              image: kubeflow/tf-dist-mnist-test:1.0
              env:

[2018-09-07 08:51] gaocegege commented on #826
Yeah, and you do not need to write replicas: 1 since the default value for replicas is 1

[2018-09-07 08:51] gaocegege commented on #826
I am going to close the issue. If you have any question please leave comments here.

[2018-09-07 08:51] #826 closed

[2018-09-10 09:26] ChanYiLin commented on #743
Hi, i have tested the tf-operator with kube-batchd:v0.2 these days, but I found it doesn't work on both GKE and my own environment.
I then tested it using my own code base which was backed up around this commit [https://github.com/kubernetes-incubator/kube-arbitrator/pull/181](url)

I am now trying to find the problems, so the doc might be delayed until the kube-batchd:v0.2 works again.

/cc @k82c

[2018-09-10 10:28] k82cn commented on #743
Any logs?

[2018-09-10 10:42] ChanYiLin commented on #743
The problem I encountered was that
even the pdb were created and the resources the tfjob required were smaller then the capacity, all the pods kept in pending state.
So I try to follow the kube-arbitrator's new tutorial and use podgroup instead, it didn't work either.

Here are two issues
1. I didn't get any logs related to pdb, tfjob's pods or resources info, so I cannot trace the error.

2. I go

[2018-09-12 14:48] k82cn commented on #743
We already have a NOTEs in the tutorial; it's security configuration, that maybe hard to give a correct configuration. So we give a general notes.

[code]

PDB is used for rolling update, and we'll not add any new field for "batch". PodGroup is introduced by https://github.com/kubernetes/community/pull/2337 . I'm trying to make is as offcial for batch workload.

That maybe a bug, I'll check that.

[2018-09-13 02:36] gaocegege commented on #743
@k82cn @jlewi @ChanYiLin

I think several months ago we can use label to aggregate the pods to a TFJob in kube-arbitrator. Now we have to use PDB or PodGroup and the feature is abandoned?

[2018-09-13 04:43] k82cn commented on #743
We're using owner reference to group the pods from the beginning :) The PDB part should be broken because PodGroup are using annotations. I'll add an e2e to cover this case.

For PodGroup, I'm working to merge it into core (https://github.com/kubernetes/kubernetes/pull/67111). So I'd suggest to keep current integration, and did update when https://github.com/kubernetes/kubernetes/pull/67111 merged

[2018-09-13 04:50] k82cn commented on #743
Opened https://github.com/kubernetes-incubator/kube-arbitrator/issues/364 to handle PDB issue. That'll be handled in 0.2.

[2018-09-13 05:51] gaocegege commented on #743
SGTM

WDYT @ChanYiLin

[2018-09-13 08:06] ChanYiLin commented on #743
@k82cn @gaocegege
I agree that we can keep using pdb until PodGroup is merged.

Also, I have submit a PR to kube-arbitrator, I've tested it and can fix the problem of using pdb above.

Here is a little summary,

1. tf-operator don't need to change to integrated with kube-batchd, pdb still works.
2. different from podgroup, we don't need to add this part to spec while using pdb
[code]

3. I got las

[2018-09-18 14:46] rnkhouse commented on #106
kubectl patch deploy --namespace kube-system tiller-deploy -p '{"spec":{"template":{"spec":{"serviceAccount":"tiller"}}}}'
Error from server (BadRequest): invalid character 's' looking for beginning of object key string

[2018-09-18 19:17] jlewi commented on #824
I agree once a TFJob reaches a terminal state we no longer need to call reconcile periodically; but how would we implement that?

We rely on the informer to periodically generate update events for all TFJobs to ensure reconcile gets called periodically.

[2018-09-20 01:23] jlewi opened #829 "[scalability testing] large number of jobs (100?) running concurrently?"
As a step towards reaching v1, I think we should consider doing a scalability test to see if we can correctly handle a large number 100-1000 of jobs running concurrently.

I think what we want to look at is:
1. CPU/MEM usage of the operator
1. What is the latency with which the operator responds to events
    * e.g. when a pod dies, does the operator still process it in a timely fashion.

For the

[2018-09-20 01:26] jlewi opened #830 "[scalability testing] large number of replicas (100)"
As a step towards reaching v1, I think we should consider doing a scalability test to see if we can correctly handle a large number 100-1000 of jobs running concurrently.

I think what we want to look at is:

1. CPU/MEM usage of the operator
1. What is the latency with which the operator responds to events
    e.g. when a pod dies, does the operator still process it in a timely fashion.

For the l

[2018-09-20 17:58] jian-he commented on #804
I don't see an error event is sent in the deletePodsAndServices method. Am I missing something ?

[2018-09-20 18:01] jian-he commented on #824
hmm, I guess we can have a cache to store that whether the job is already completed and reconciled once.  Then next time, it can skip the reconcilation.

[2018-09-21 02:51] gaocegege commented on #804
https://github.com/kubeflow/tf-operator/blob/c45db42ad7d87cd4418817281fd50166a019afd6/vendor/k8s.io/kubernetes/pkg/controller/controller_utils.go#L592

[2018-09-21 02:52] gaocegege commented on #804
It is not in the function, but in the pod control implementation.

[2018-09-21 21:11] jlewi commented on #747
Once we submit #831 and verify postsubmits are pushing the image we can close this issue.

[2018-10-03 16:52] jamborta opened #836 "TF operator UI not showing jobs"
I am using kubeflow v0.3.0-rc3. I create a TF job but unable to see it in the UI (going through ambassador):

![screen shot 2018-10-03 at 17 45 07](https://user-images.githubusercontent.com/4638229/46425871-c577f500-c734-11e8-8ead-6f1c7232be3a.png)

It seems that the namespace is set to test, and the tf job I created is in kubeflow, but I am unable to change the namespace in the UI.

[2018-10-05 05:27] jlewi commented on #836
Dashboard logs show the following error

[code]

[2018-10-05 05:32] jlewi commented on #836
Looks like a bug in the clusterrolebinding for TFJob dashboard

[code]

We're binding the wrong service account.

[2018-10-06 00:27] k82cn opened #837 "Update kube-arbitrator to kube-batch"
During the discussion at https://github.com/kubernetes/org/issues/112 , we move kubernetes-incubator/kube-arbitrator to https://github.com/kubernetes-sigs/kube-batch. So I think we need to update related doc for tf-operator.

[2018-10-06 01:46] richardsliu commented on #756
@gaocegege Any updates on this?

[2018-10-07 10:48] gaocegege commented on #837
/cc @ChanYiLin

[2018-10-07 15:56] ChanYiLin commented on #837
Sure, no problem!

[2018-10-07 22:03] jlewi opened #838 "Create v0.3-branch"
Create a v0.3-branch.

This will become useful if we need to pin things like the tests used in kubeflow/kubeflow.

We are using Docker image
kubeflow-tf-operator-postsubmit-v2-fac8eff-251-af42
as v0.3

So cut the branch on commit fac8eff

[2018-10-07 22:05] jlewi commented on #838
Created the branch.

[2018-10-07 22:05] #838 closed

[2018-10-08 08:23] Suozz opened #840 "run tfjob failded with self build image"
I build an image by a Dockerfile which is the same as tf-operator/examples/tf_sample/Dockerfile. When I try to apply and run a tfjob.  The container is failed without any logs.....

[2018-10-08 08:38] Suozz commented on #840
the description of master pod:

Name:           example-job1-master-0
Namespace:      default
Node:           192.168.9.158/192.168.9.158
Start Time:     Mon, 08 Oct 2018 15:15:27 +0800
Labels:         group_name=kubeflow.org
                tf-replica-index=0
                tf-replica-type=master
                tf_job_name=example-job1
Annotations:    <none>
Status:         Failed
IP:

[2018-10-08 08:45] gaocegege commented on #840
I think the error is from your code, since `Exit Code: 132`

[2018-10-08 08:46] gaocegege commented on #840
Maybe you could output something in the container, to debug.

[2018-10-08 08:47] gaocegege commented on #837
/assign @ChanYiLin

Thanks!

[2018-10-08 08:47] gaocegege commented on #743
I think we could close the issue since https://github.com/kubeflow/website/pull/241 was merged

[2018-10-08 08:47] #743 closed

[2018-10-08 08:52] Suozz commented on #840
my code is the same as the file  `tf-operator/examples/tf_sample/tf_smoke.py`
There is a lot of log output statement, but no output log。

[2018-10-08 08:56] gaocegege commented on #840
I think the error is from the image, then.

PTAL https://github.com/tensorflow/tensorflow/issues/19584

[2018-10-08 09:50] Suozz commented on #840
But when I use the sample image from the official `gcr.io/tf-on-k8s-dogfood/tf_sample:dc944ff`, the code could run off. Do you know how to build this official image?

[2018-10-08 11:14] gaocegege commented on #840
https://github.com/kubeflow/tf-operator/blob/master/examples/tf_sample/Dockerfile

[2018-10-08 12:52] Suozz commented on #840
I have built this Dockerfile before I open this issue. My error is caused by this image. So how to build an useful image for tfjob?

[2018-10-08 12:59] gaocegege commented on #840
I think you just need to make sure that the tensorflow is installed correctly in the image.

[2018-10-09 02:43] Suozz commented on #840
Thank you,I solve this problem. After I used the `tensorflow/tensorflow:1.5.0` instead of `tensorflow/tensorflow:1.8.0` in the Dockerfile, my image run off.

[2018-10-09 02:43] #840 closed

[2018-10-11 06:52] johnugeorge commented on #830
@gaocegege how should we plan this ?

[2018-10-11 06:59] johnugeorge commented on #742
Has the review started?  Any update?

[2018-10-11 18:50] richardsliu commented on #830
@johnugeorge I think we should first try to enhance the test code so it becomes easier to add an E2E test. Then we can extend the infrastructure to support stress testing and collect metrics.

[2018-10-11 21:44] richardsliu commented on #742
I'll take this on as part of the beta release.

[2018-10-11 21:48] richardsliu commented on #628
I've tested the distribution strategies in independent worker mode, they seem to work. For the 0.4.0 release we should add:
- E2E tests
- Examples
- Error handling (some errors may not be retriable, others require the entire cluster to restart)

The standalone client mode does not work because of the way ingress is set up for our clusters. I think this is ok, the right solution here is to support

[2018-10-11 22:51] richardsliu commented on #731
Definitely need documentation and API reference for v1beta1 and stable release.

[2018-10-12 01:56] johnugeorge commented on #830
Are you planning to add this as a E2E tests for every PR presubmit?  I don't know if it is feasible.  Is Kubernetes doing the same way?

[2018-10-12 02:02] richardsliu commented on #830
Not on pre or post submits. But we can do this periodically on release (stable) branches.

[2018-10-13 21:16] ChanYiLin commented on #837
I think we could close this issue for the PR has been merged here [kubeflow/website#253](https://github.com/kubeflow/website/pull/253)
Close #837

[2018-10-13 23:15] k82cn commented on #837
/close

[2018-10-13 23:16] #837 closed

[2018-10-14 21:44] jlewi commented on #747
Postsubmits are green
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-tf-operator-postsubmit

[2018-10-14 21:44] #747 closed

[2018-10-15 18:23] richardsliu opened #842 "Add E2E tests for TensorFlow distribution strategies"
For TF version 1.11+, we should test creating TFJobs with different distribution strategies. Examples can be found here: https://github.com/tensorflow/ecosystem/tree/master/distribution_strategy

[2018-10-15 18:24] richardsliu opened #843 "Add examples using TF distributed training"
Examples are here: https://github.com/tensorflow/ecosystem/tree/master/distribution_strategy

We should write up our own examples using the TF operator.

[2018-10-15 18:25] richardsliu opened #844 "Support error handling for TF distributed strategies"
There are still work pending on the TF team here to return actionable error codes, e.g. retryable vs non-retryable. Some errors may require the entire cluster to restart.

[2018-10-24 03:56] Suozz opened #850 "how to save the model on PVC"
I use this yaml file to init a tfjob. But it shows errors on the 32rd line code

[code]
the error is `error: error parsing tfjob.yaml: error converting YAML to JSON: yaml: line 32: mapping values are not allowed in this context`

[2018-10-24 22:31] richardsliu opened #851 "Enhance the test harness so that our tests can be run as Python unit tests"
Quoted from https://github.com/kubeflow/tf-operator/pull/849:

Do we need our own "main()"? Could we just use unittest.main()? Or if need be subclass unittest.main()?

I think one of the advantages of reusing unittest.main() is that out of the box it supports a lot of useful parameters. e.g. we can run a single test

python my_module.py TestClass.test_func

Should Test Case subclass unittest.TestC

[2018-10-24 22:35] #373 closed

[2018-10-25 13:46] chrisheecho commented on #29
area/testing

[2018-10-25 13:53] chrisheecho commented on #29
/area testing

[2018-10-25 13:55] chrisheecho commented on #167
why does this have 2 difficulties? which is it hard or medium? I would lean on hard just in case but wanted to ask why this has both @gaocegege ?

[2018-10-25 14:51] chrisheecho commented on #167
haha great, can I propose to just make it hard so that we err on the safer side? :D

[2018-10-25 15:36] gaocegege commented on #167
Sure, LGTM

[2018-10-25 17:11] chrisheecho commented on #29
/priority p1

[2018-10-25 17:12] chrisheecho commented on #30
/priority p1

[2018-10-25 17:13] chrisheecho commented on #170
/priority p2

[2018-10-25 17:14] chrisheecho commented on #214
/priority p2

[2018-10-25 17:21] abhi-g commented on #628
/priroity p1

[2018-10-25 17:21] jlewi commented on #843
/priority p2

[2018-10-25 17:21] ewilderj commented on #628
/priority p1

[2018-10-25 17:21] jlewi commented on #842
/priority p1

[2018-10-25 17:29] chrisheecho commented on #810
/priority p2

[2018-10-28 11:37] #822 closed

[2018-10-29 15:59] chrisheecho commented on #829
/priority p2

Don't have large users hitting this as far as I'm aware

[2018-10-29 18:19] richardsliu opened #857 "Implement v1beta1 controller for TFjob"
After the v1beta1 API is defined, we need to implement the controller based on that API.

[2018-10-29 18:21] richardsliu opened #858 "Create a script/tool to migrate users to v1beta1 API"
When https://github.com/kubeflow/tf-operator/issues/857 is done, we need to be able to help existing users migrate their TFJobs to the v1beta1 API.

[2018-10-31 22:54] richardsliu commented on #436
https://github.com/kubeflow/tf-operator/pull/860

[2018-11-01 12:31] #843 closed

[2018-11-02 00:40] bhack commented on #628
Has anybody followed the thread in https://github.com/tensorflow/community/pull/25?

[2018-11-02 00:56] richardsliu commented on #628
Thanks, I'll take a look.

[2018-11-02 03:08] #842 closed

[2018-11-02 21:36] chrisheecho commented on #30
/remove-priority p1
/priority p2

No engineering resource assigned for 0.4

[2018-11-02 21:42] jbottum commented on #29
/remove-priority 1
/priority 2

[2018-11-02 21:43] jbottum commented on #29
/remove-priority p1
/priority p2

[2018-11-02 22:38] jbottum commented on #756
/remove-priority P1
/remove-area 0.4.0
/area 0.5.0
/priority 2

[2018-11-02 22:39] jbottum commented on #756
/priority P2

[2018-11-02 22:40] jbottum commented on #756
area /0.5.0

[2018-11-02 22:41] jbottum commented on #756
area/0.5.0

[2018-11-03 21:13] jbottum commented on #829
/remove-priority p1

[2018-11-04 14:44] jbottum commented on #844
/priority p2

[2018-11-05 10:34] bhack commented on #628
@richardsliu The review period there has been extended until Nov. 8th.

[2018-11-05 19:19] chrisheecho commented on #844
/remove-priority p1

[2018-11-06 14:16] jlewi opened #864 "Log message severity isn't properly reported in stackdriver"
Below are the TFJob operator logs fetched with the following query.

[code]

The log prints out the severity as reported in stackdriver as well as the level in the json message. The level indicates they are info level log messages but they are logged as severity error in stackdriver.

[trainer-logs-1106.txt](https://github.com/kubeflow/tf-operator/files/2553500/trainer-logs-1106.txt)

[2018-11-07 23:06] jlewi commented on #830
Downgrading to P1
/priority p1
/cancel-priority p0

[2018-11-08 01:33] richardsliu opened #865 "Delete v1alpha1 controller and API"
V1beta1 is done now, so we can start deprecating the V1alpha API and controller logic.

[2018-11-08 01:52] johnugeorge commented on #865
Keeping v2alpha2 for now?

[2018-11-08 02:02] richardsliu commented on #865
I would like to delete both if possible. Deleting v1alpha1 seems like a good start since we have already removed it from the kubeflow components.

Do you see value in keeping v1alpha2? The only reason I have is that people might still be using it. But switching to v1beta1 is fairly trivial (just need to update the API version).

[2018-11-08 03:31] johnugeorge commented on #865
I have the same opinion.

[2018-11-08 04:43] johnugeorge opened #866 "Code restructuring"
I am little confused with the code structure

With recent changes,
1. We  have duplicated jobcontroller in common package.  However, v1beta1 code still  uses controller.v2 job controller. (https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1beta1/tensorflow/pod.go#L29)

2.  Files in https://github.com/kubeflow/tf-operator/tree/master/pkg/common/util are specific to TF and its vers

[2018-11-08 04:50] gaocegege commented on #866
I think so.

[2018-11-08 05:15] richardsliu commented on #866
1 is my mistake, it should be using the common package.

For 2, maybe we can move util under controller.v1beta1?

[2018-11-08 05:29] johnugeorge commented on #865
@jlewi Shall we delete v1alpha1 and v1alpha2 versions now? AS @richardsliu , It is trivial to switch version to v1beta1

[2018-11-08 07:48] gaocegege commented on #865
I think we could keep v1alpha2 in 0.4, since maybe there are some users still using it. We can claim that we will deprecate it in the next release (1.0).

[2018-11-08 09:19] gaocegege commented on #710
I think the feature is implemented in #820

[2018-11-08 09:20] #710 closed

[2018-11-08 19:11] richardsliu commented on #865
Talked to @jlewi. We will keep v1alpha2 until all our examples have been updated to v1beta1.

[2018-11-08 21:40] richardsliu commented on #858
This is not needed, just changing the API version is sufficient.

[2018-11-08 21:40] #858 closed

[2018-11-08 21:40] #857 closed

[2018-11-09 01:03] jlewi opened #869 "TFJob doesn't properly handle PS error."
First reported in: kubeflow/examples/issues/318

See the logs in that issue.

Here are the bugs/questions:

1. Why didn't we emit an event about the chief exit?
1. Why didn't we emit an event indicating why the job failed?

Here's the job spec:
[demo-trainer-11-07-dist-sync-gpu.yaml.txt](https://github.com/kubeflow/tf-operator/files/2564221/demo-trainer-11-07-dist-sync-gpu.yaml.txt)

We should be

[2018-11-18 05:14] xigang opened #871 "create TFjob resource object successfully, but did not create pod"
After the kubeflow environment is deployed, the tf_sample.yaml test is ready to be created. The TFjob resource object is created successfully, but the pod is not created. What is the specific reason?

[code]

started pod status:
[code]

next step create TFjob object  use tf_sample.yaml:
[code]

created result:
[code]

View the created pod and no  tf_sample ps and work pod:
[code]

View standard lo

[2018-11-18 10:09] johnugeorge commented on #871
what is the output of
kubectl  get tfjob -o yams

[2018-11-19 02:42] xigang commented on #871
@johnugeorge thx for your answer. I solved my problem with kubeflow version 0.2.2, but when using the [tf_cnn_benchmarks.yaml](https://www.kubeflow.org/docs/guides/components/tftraining/) test, the log output DNS was not resolved successfully. Do I need to install kube-dns or core-dns to solve this problem?

[code]

[code]

[code]

ps service output log content:
[code]

worker service log output:

[2018-11-19 02:46] gaocegege commented on #871
@xigang If you are in China, maybe it is caused by GFW. Sometimes worker will download some dataset from some banned websites.

[2018-11-19 03:00] xigang commented on #871
@gaocegege Yes, I am in China. But from the log output of the worker service, I guess it should be caused by the worker service accessing the ps service network through tfjob-ps-0.kubeflow.svc.cluster.local:2222.

In the ps container:
[code]

[2018-11-19 10:55] xigang commented on #871
@gaocegege @johnugeorge the [kube-dns](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns/kube-dns) is installed and the problem is solved. Thank you.😁

[2018-11-19 10:59] #871 closed

[2018-11-21 08:48] ScorpioCPH opened #875 "Support custom defined cluster domain"
We have received several issues about DNS domain not working which specified in `TF_CONFIG`:
- https://github.com/kubeflow/tf-operator/issues/770
- https://github.com/kubeflow/tf-operator/issues/703

As we use headless kubernetes service for PS/Worker service discovery, as described [here](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#a-records):

For example, I want to

[2018-11-21 09:01] gaocegege commented on #875
Yeah, I think we should support it.

[2018-11-21 09:11] gaocegege commented on #875
BTW, I think we have a discussion about it, and we decided to use the service name in TF_CONFIG. Does the approach work for you?

[2018-11-22 02:42] ScorpioCPH commented on #875
Yes, we have decided to use DNS for finding a `Service`, and if we have a `Service` called `my-service` in a `Namespace` called `my-ns`, a DNS record `my-service.my-ns.svc` is created for this service. And we can use `my-service.my-ns.svc` to lookup the endpoints which pointed to `Pods` which exist in the `my-ns` namespace.

The spec is here: [Kubernetes DNS-Based Service Discovery](https://github

[2018-11-22 02:45] ScorpioCPH commented on #875
FYI, @jlewi @richardsliu

[2018-11-22 03:35] jokerwenxiao opened #877 "how can I get distributed tfjob log when set "cleanPodPolicy: All""
when i set "cleanPodPolicy: All" in the distributed tfjob yaml file, all pod will be deleted in completed status of "Worker".  in this case, how can I get distributed tfjob log.

[2018-11-22 03:38] gaocegege commented on #877
Maybe you should have a log backend such as fluentd to keep log persistent.

[2018-11-26 17:37] jlewi commented on #742
@richardsliu Any update here? What do you think we can get done as part of 0.4.0?

[2018-11-26 18:35] richardsliu commented on #742
Not yet. I have not heard back from the API review team; I'll ping them offline again.

One thing to consider beyond 0.4.0 is to create a separate repository for kubeflow APIs (including CRDs and generated client code). This solves two problems:
1. Avoids complicated inter-repo dependencies. For example, pytorch currently imports Gopkgs from tf-operator. It is possible that katib needs to import b

[2018-11-27 20:23] #639 closed

[2018-11-28 13:23] hougangliu commented on #850
your yaml format is wrong indeed. Please keep **name: mypd** and **persistentVolumeClaim:** same indentation.

[2018-11-28 13:42] gaocegege commented on #850
@Suozz Does it work for you?

[2018-11-28 13:42] gaocegege commented on #850
I am closing the issue, feel free to leave comments if you have any question.

[2018-11-30 21:08] Jeffwan commented on #810
Could I take this task? @gaocegege @chrisheecho

[2018-12-02 13:24] deepanshg opened #881 "PS failed but tfjob status is running"
Tfjob consists of 1 PS and 2 Workers. PS is failed, workers are running and status of tfjob is running,  whereas it should be failed according to [PR#690](https://github.com/kubeflow/tf-operator/pull/690)

Status:
[code]

The status remains same even after hours.

Some parts of Yaml:
[code]

tf-opertor-image: gcr.io/kubeflow-images-public/tf_operator:v0.2.0
kubeflow version: v0.2.4

[2018-12-03 05:02] 372046933 opened #888 "Should limit the size of logs of tf_operator container"
I have a kubeflow deployment, after 4 months of usage, the  tf_operator containers used about 40GB of disk for logs storage. I know the logs can be directed to stderr to save disk space. But can we limit the size of the overall logs?

[2018-12-03 19:51] jlewi commented on #731
Anyone working on this?

Any idea on how we can autogenerate docs? Is that something we can reasonable get done in time for 0.4 or should we punt to 0.5?

/cc @richardsliu

[2018-12-03 19:54] jlewi commented on #651
Anyone working on this? should we punt to 0.5?

/cc @richardsliu

[2018-12-03 19:55] jlewi commented on #645
I don't think anyone is working on this; should we punt to 0.5?

/cc @richardsliu

[2018-12-03 19:57] jlewi commented on #628
@richardsliu What are the next steps to close out this issue?

[2018-12-03 23:04] richardsliu commented on #628
We should support TF 2.0 when it comes out. But for 0.4 there are no other action items.

[2018-12-04 04:46] carmine commented on #651
Make it higher priority for 0.5..

[2018-12-05 02:17] cndaimin opened #882 "There is a spelling mistake in developer_guide.md"
[code]

`crd-v1beta1.yml` is not correct, it should be `crd-v1beta1.yaml`

[2018-12-05 02:44] gaocegege commented on #882
@cndaimin Thanks for the issue, would you help us to fix it?

[2018-12-05 03:16] cndaimin commented on #882
ok, let me figure out how to

[2018-12-07 06:14] jjayadeep06 opened #887 "Running TFJob on GPU only"
Can I use NodeSelector or NodeAffinity today to schedule TFJob to use GPU's specifically? I don't see it in the TFJob spec.

[2018-12-07 07:31] gaocegege commented on #887
Sure, you can define it in the template.

[2018-12-07 10:03] hougangliu commented on #850
/close

[2018-12-07 10:03] #850 closed

[2018-12-07 18:44] jlewi commented on #888
@372046933 do you not have any type of log rotation mechanism running on your cluster?

@richardsliu Do we have ksonnet parameters that control the log verbosity?

If I did the math right; 40GB in Month works out to ~300MB per day. Does that seem right?

We log a lot of stuff related to each job so amount of logs will increase with the number of jobs. So that could explain it.

[2018-12-07 20:20] jokerwenxiao opened #889 "the information of "tfReplicaStatuses" is none when tfjob is in In termination state"
I usually use "tfReplicaStatuses" to judge the state of a tfjob. but after I deployed kubeflow 0.3.3, the information of "tfReplicaStatuses" is none, I can't get any useful information at all. The situation is as follows

1. When tfjob runs successfully

"tfReplicaStatuses":{
          "PS":{},
           "Worker": {}
}

2. When tfjob fails

"tfReplicaStatuses":{
          "Chief": {}
          "M

[2018-12-07 20:20] jlewi commented on #889
/cc @richardsliu @gaocegege

[2018-12-07 20:21] jlewi commented on #889
Is it possible this has already been fixed in 0.4?

[2018-12-10 03:33] jjayadeep06 commented on #887
Thanks, I will try and will let you know if I see any issues.

[2018-12-10 03:33] #887 closed

[2018-12-11 11:37] cndaimin commented on #882
Fixed now.

[2018-12-11 11:37] #882 closed

[2018-12-17 23:32] richardsliu commented on #889
@jokerwenxiao Another option is to look at the Conditions field: https://github.com/kubeflow/tf-operator/blob/v0.3-branch/pkg/apis/tensorflow/v1alpha2/types.go#L141

The last condition should be one of the following values: https://github.com/kubeflow/tf-operator/blob/v0.3-branch/pkg/apis/tensorflow/v1alpha2/types.go#L194

I will take a look at why the tf replica status is missing.

[2018-12-18 03:08] richardsliu commented on #889
Looks like we are reinitializing the TF replica status after TFJob completes: https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/tensorflow/controller.go#L374

So after a TFJob completes (either success or fail), the replica statuses are reset.

@gaocegege What is the reason for this?

[2018-12-18 05:08] #628 closed

[2018-12-18 06:56] gaocegege commented on #889
I think it is a bug, while there is something we need to care about: how to show the result if we delete pods after finished.

In the current design, we get the status of all pods, then set in the TFReplicaStatuses field. After the job is finished, we cannot get the result anymore.

[2018-12-18 07:09] richardsliu commented on #889
Do we still need to reconcile pod status after the job is done?

[2018-12-18 07:40] gaocegege commented on #889
If there is no need, I think we could just remove the code about initialization, then it should work. WDYT @richardsliu @johnugeorge

Personally, I think there is no need although there may be some PS/workers after finished.

[2018-12-18 11:30] johnugeorge commented on #889
Few questions

1.  What is the real significance of tfReplicaStatus field currently?  Can we treat it as an internal field which should not be used by developers?

2. Wrt @gaocegege's last comment, what is the  extra information that we provide with the status of the previous workers/ps.? Doesn't JobCondition suffice our needs?

3. If we need to expose it,  we have to note down the expected values

[2018-12-18 14:01] DeliangFan opened #894 "Add validation for evaluator"
As the tensorflow said: There should be no "ps" job for CollectiveAllReduceStrategy and MirroredStrategy. The "evaluator" job is optional and can have at most one task.

So add validation for evaluator that the number of evaluator should no more than 1.

[2018-12-18 14:02] DeliangFan commented on #894
/assign DeliangFan

[2018-12-18 17:57] richardsliu commented on #889
TfReplicaStatus is being used internally to determine status of the TFJob: https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1beta1/tensorflow/status.go#L46

I think it makes sense to keep the usage internal. JobCondition should suffice for identifying the job status.

[2018-12-19 06:53] #894 closed

[2018-12-20 05:04] gaocegege opened #900 "[feasibility-research] Handle machine failure"
According to the docs about restart policy here: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy, once bound to a node, a Pod will never be rebound to another node.

Thus when the machine node is down, we should try to handle such a failure.

There are some options to achieve it:

- Use [descheduler](https://github.com/kubernetes-incubator/descheduler)
- Implement

[2018-12-20 05:05] gaocegege opened #901 "[feasibility-research] TF AllReduce Strategy"
https://www.tensorflow.org/api_docs/python/tf/contrib/distribute/CollectiveAllReduceStrategy

TF now supports AllReduce natively, we could investigate if we could support it in tf-operator, or mpi-operator.

[2018-12-20 11:04] dpaks opened #902 "shareProcessNamespace not working with TFJob"
Using kubeflow v0.3.4 and kube 1.12

shareProcessNamespace **works** when used with Pod spec.

kind: Pod
metadata:
  name: "dpak-shared"
spec:
  shareProcessNamespace: true
  containers:
    - image: "ubuntu:16.04"
      name: ubuntu
      imagePullPolicy: IfNotPresent
      command: ["sleep", "infinity"]
      securityContext:
        capabilities:
          add:
          - SYS_PTRACE
    - imag

[2018-12-21 02:01] jokerwenxiao opened #903 "When the distributed training job fails, the PS node and some worker node pod are deleted, and only worker 0 is retained."
I created a distributed training job with the specifications of one PS node and three worker nodes. After a few seconds of starting, the job failed. At this time, the PS0 node, work1 and work2 nodes were deleted and only the work0 node was reserved.  Is this related to cleanPodPolicy?

**The work0 log is as follows**：
2018-12-20 09:24:00.624284: I tensorflow/core/platform/cpu_feature_guard.cc:141]

[2018-12-21 10:39] tingweiwu opened #904 "is there any lighter way to deploy tf-operators?"
is there a lighter way to deply CRD `tf-operators` without install kubeflow?
 like the `mpi-operator` [deploy style](https://github.com/kubeflow/mpi-operator/tree/master/deploy)

thanks a lot if anyone reply

[2018-12-29 04:38] wangzewang opened #906 "[v1alpha2] Support for custom rpc_layer in TFConfig"
The rpc_layer default value is 'grpc', but we need support other rpc_layer values, eg: grpc+gdr, grpc+works.

Therefore, we add a new parameter of rpc_layer in TFConfig to support custom rpc_layer in TFConfig.

[2018-12-29 04:42] wangzewang commented on #906
[#907](https://github.com/kubeflow/tf-operator/pull/907)

[2018-12-29 04:43] #906 closed

[2018-12-29 04:44] wangzewang commented on #906
I have submit a pull-request, so close this issue.
[pull-request](https://github.com/kubeflow/tf-operator/pull/907)

[2019-01-02 14:59] jlewi commented on #875
@ScorpioCPH Is there anyone at CaiCloud that could fix this as part of 0.5?

[2019-01-02 16:01] gaocegege commented on #875
I think it is implemented in #876  /cc @ScorpioCPH

[2019-01-04 15:03] jlewi commented on #904
You can use ksonnet to just install the ksonnet package for tf operator.

[2019-01-04 15:06] jlewi commented on #902
@dpaks Can you provide the full pod spec for the actual pods created by TFJob e.g

```kubectl get pods -o yaml ${MASTER pod```

As @gaocegege says tf-operator should be passing the fields through directly to the pod template spec. If its not then its a bug in tf-operator but if it is then something outside tf-operator is going on.

[2019-01-04 22:51] richardsliu commented on #866
@johnugeorge Anything else needed here?

[2019-01-05 01:52] richardsliu commented on #903
What did you set for the cleanPodPolicy? By default running pods are killed. You can set it to None to keep all the pods.

[2019-01-05 01:53] richardsliu commented on #881
This should be fixed in v0.3.0 and later.

[2019-01-05 02:38] johnugeorge commented on #866
2 is not done yet.  But we can take it up in a separate PR when we move to a new version later

[2019-01-05 02:39] johnugeorge commented on #866
/close

[2019-01-05 02:39] #866 closed

[2019-01-07 19:44] #865 closed

[2019-01-07 22:16] richardsliu commented on #875
Can this be closed? @ScorpioCPH

[2019-01-07 22:55] richardsliu commented on #888
I don't believe we have such parameters to control log verbosity.

@372046933 Can you take a look at [this link](https://kubernetes.io/docs/concepts/cluster-administration/logging/)? It has some discussions around using logrotate to periodically clean up container logs.

[2019-01-08 18:15] richardsliu commented on #875
Closing this since I believe it is fixed.

[2019-01-08 18:15] #875 closed

[2019-01-09 18:50] richardsliu commented on #889
This is fixed. Now if the job succeeds (regardless of clean pod policy), the replica statuses are:
[code]
And if a pod fails:
[code]

[2019-01-09 20:50] gabrielwen commented on #651
/assign @gabrielwen

[2019-01-09 23:08] richardsliu commented on #645
This is somewhat covered by recent e2e tests. For example the runconfig e2e tests will send request specifically to service endpoints with the assumption that the pod names are formatted as "[job-name]-[replica-type]-[index]". But it may be good to explicitly validate the names.

[2019-01-10 08:21] gaocegege commented on #904
@tingweiwu

Hi, we have an example for CRD here: https://github.com/kubeflow/tf-operator/blob/master/examples/crd/crd-v1alpha2.yaml

We do not have corresponding YAML files for the operator. Personally, I think we should have it to simplify the trial. Thus, currently, you could deploy it using our ksonnet or deploy the crd, then write a YAML file for the operator, then deploy it as a deployment.

[2019-01-10 08:21] #904 closed

[2019-01-10 08:32] #836 closed

[2019-01-10 17:52] gabrielwen commented on #651
/close

[2019-01-10 17:52] #651 closed

[2019-01-15 05:48] jlewi opened #914 "Rename top level python package - py -> kubeflow-tf-job"
The top level package for our python code is currently "py".

This is rather generic; unfortunately it conflicts with https://docs.pytest.org

If we can make [namespace packaging working](https://packaging.python.org/guides/packaging-namespace-packages/) then we could follow the convention of having each repo be imported as

[code]

Alternative would be to just rename the top level package to some

[2019-01-15 05:49] jlewi commented on #914
Renaming the package would likely require upgrading the E2E tests that are checking out kubeflow/tf-operator as an extra-repo. We might want to pin those tests to a particular commit so they don't all get broken.

[2019-01-15 09:19] gaocegege commented on #901
It works while I think we need to add an e2e test for the case.

[2019-01-15 20:17] richardsliu commented on #901
We have an example here: https://github.com/kubeflow/tf-operator/blob/master/examples/distribution_strategy/keras_model_to_estimator.py#L61

This is covered by e2e test case here: https://github.com/kubeflow/tf-operator/blob/master/py/distributed_training_tests.py

[2019-01-15 20:35] #645 closed

[2019-01-16 02:40] gaocegege commented on #901
Awesome! I will close the issue, thanks.

[2019-01-16 02:40] #901 closed

[2019-01-23 12:37] zionwu opened #916 "Use pod group instead of PDB for gang scheduling"
The lastest version of [kube-batch](https://github.com/kubernetes-sigs/kube-batch) is using [pod group](https://github.com/kubernetes-sigs/kube-batch/blob/master/pkg/apis/scheduling/v1alpha1/types.go#L93) instead of PDB.
With the pod group,  user can specify the queue for the job, even the job is in different namespaces. With the PDB, we can't specify the queue,  it is defaults to the its namespac

[2019-01-23 13:57] k82cn commented on #916
https://github.com/kubernetes/enhancements/pull/639 was merged, I think it's time to replace PDB with PodGroup. In addition, it will also support phase/condition/status of PodGroup, e.g. unschedulable, which is helpful for lifecycle management of tfjob.

[2019-01-23 13:58] k82cn commented on #916
xref https://github.com/kubernetes-sigs/kube-batch/pull/533

[2019-01-25 02:42] zionwu commented on #916
@k82cn  I know  kube-batch is using namespace as queue as default, but it also supports creating queue CRD and specify the queue in the pod group. I would love to see that user can specify the queue for their TFjob, to do that we can add to field called `queue` in the `TFJobSpec`. What do you think?

[2019-01-25 06:09] k82cn commented on #916
I'm OK with that; for `TFJobSpec`, it's better to get @jlewi 's feedback :)

[2019-01-25 07:16] k82cn commented on #916
xref https://github.com/kubernetes-sigs/kube-batch/pull/465

@adam-marek and I talked about Queue supported in tf-operator; it need to community's feedback on `TFJob` API changes.

Or maybe we can introduce annotation as an alpha features, @jlewi , WDYT?

[2019-01-25 08:28] zionwu opened #920 "Use kube-batch as scheduler by default when gang-scheduling is enabled"
When gang scheduling is enabled,  Users have to explicitly set `schedulerName` to `kube-batch` in podTemplate of TFJob CRD. Otherwise the TFJob will not use gang  scheduling. I would suggest if gang scheduling is enabled, tf-operator should set the `schedulerName` to `kube-batch` for user by default when creating the pod.

I would like to create a PR for it if the community agree with this change.

[2019-01-25 18:55] stpabhi opened #921 "e2e test for dashboard/backend/handler/api_handler.go"
/area testing

[2019-01-28 17:19] johnugeorge commented on #916
@zionwu  Isn't the queue name part of the PodGroupSpec ?  https://github.com/kubernetes-sigs/kube-batch/blob/master/pkg/apis/scheduling/v1alpha1/types.go#L116

In such a case, why do we need a separate queue field after we set the PodGroup for the TFJob?

[2019-01-28 18:04] johnugeorge commented on #920
@zionwu

We need to decide the behavior for a situation where gang scheduling is enabled but user has specified a different scheduler name.
We had a similar discussion wrt SchedulerName override in TFJob. See https://github.com/kubeflow/tf-operator/issues/801#issuecomment-418460254 There is a possible situation where schedulerNames are set differently across pods (explicitly by the user). We then

[2019-01-28 23:11] richardsliu commented on #920
Can we default to kube-batch unless the user has specified some other scheduler?

[2019-01-29 02:16] zionwu commented on #916
@johnugeorge, @richardsliu ,  just like PDB, the PodGroup will be created by TF-Operator,.  If user can only specify the queue name in PodGroup , the process to specify the queue name is:
1. User submit a TFJob.
2. The TF-Operator creates a PodGroup with default queue name.
3. User has to find out the PodGroup, and modify the queue name.
However, this may not be working as the job may already be s

[2019-01-29 02:22] gaocegege commented on #916
Is pod group a standard resource in K8s? I am not sure what will happen if the user does not register the resource.

[2019-01-29 02:36] gaocegege commented on #920
SGTM

[2019-01-29 04:53] k82cn commented on #916
If tf-operator need fair-sharing from scheduler, `Queue` is one of option; and `Queue` is a common concept in 'batch' system, e.g. Job, Queue.
If we have concern about the API changes, how about  annotations as alpha feature?

[2019-01-29 06:39] johnugeorge commented on #920
SGTM

[2019-01-29 06:39] zionwu opened #922 "TFJob with 1 replicas can't use gang-scheduling"
When I enabled gang-scheduling, I expect all the TF jobs to be scheduled by "kube-batch", so that all the jobs will have the same scheduling policy.

However, If I submit a TFJob with 1 replicas and specified the schedulerName to "kube-batch",  The job stays pending.  The cause is that TF-operator is not creating PDB if the replicas is less than 2 for the job:
[code]

Can we remove this check to m

[2019-01-29 07:47] k82cn commented on #920
+1

[2019-01-29 08:09] gaocegege commented on #922
/cc @k82cn

Is this the expected behaviour of kube-batch?

[2019-01-29 08:45] richardsliu commented on #920
Agreed.

[2019-01-29 09:01] k82cn commented on #922
+1, kube-batch also support single pod in podgroup; it's safe to remove this check :)

[2019-01-29 09:38] johnugeorge commented on #916
I am little skeptical about adding non-TF fields in TFJob. We would then be forced to change the TFJob API when upstream implementation changes.

[2019-01-29 22:17] richardsliu commented on #916
Would it be possible to introduce a field in https://github.com/kubeflow/tf-operator/blob/master/pkg/apis/common/v1beta1/common_types.go? For example something like "SchedulingPolicy". That way all operators can then share the same implementation.

[2019-01-30 01:15] k82cn commented on #916
+1 ; in the previous version of [gang-scheduling design doc](https://docs.google.com/document/d/1AUwcvTtULNvow5M9e428FnlvINO1uQ7ojRoTGuTp4DA/edit#), I proposed to introduce `SchedulingSpec`/`PodSchedulingGroup` as bridge between operator and scheduler, and provide a default implementation of `QueueJob`. Currently, `PodGroup` is playing similar role, it's up to community to wrapper it as new API, a

[2019-01-30 02:43] richardsliu commented on #742
Feedback from the k8s API team:

"""
The API looks good overall.

Minor suggestions:

You have +genclient:noStatus".  Consider generating removing this and regenerating your client, and using updateStatus from your controller, to avoid a bug where the controller clobbers the spec, and I think there are other minor benefits.

Consider using KubeBuilder for v1.  It will remove a lot of your boilerpl

[2019-01-30 02:43] richardsliu commented on #742
@gaocegege @johnugeorge WDYT?

[2019-01-30 03:20] gaocegege commented on #742
+genclient:noStatus SGTM

KubeBuilder for v1 strongly LGTM 👍

[2019-01-30 03:36] johnugeorge commented on #742
+1. However we should investigate the effort required to move to KubeBuilder and make it stable.

[2019-01-30 15:25] llegolas opened #923 "tfjob dashboard namespaced"
Is it possible tfjob dashboard not to show all the namespaces?
I'm running kubeflow v0.4.1 on openshift as poc.
I (tried to) namespace pytorch and ft-job-operator like this:
[code]

and pods are using the parameters but when i navigate to tfjob dashboard via ambassador i still can see all namespaces in the "namespace" dropdown

[2019-01-31 02:41] richardsliu opened #924 "Remove genclient:noStatus and call updateStatus() from controller"
Based on API review suggestions (see https://github.com/kubeflow/tf-operator/issues/742).

[2019-01-31 02:42] richardsliu opened #925 "Consider using KubeBuilder to reduce boilerplate code"
Based on API review suggestions (see #742).

Need to investigate how long this will take, and whether we should include it for v1.

[2019-01-31 02:43] richardsliu commented on #742
Opened #924 and #925 to track the work items. I can work on #924. For #925 as @johnugeorge mentioned we need to investigate whether it is worthwhile for v1.

[2019-01-31 03:03] richardsliu opened #927 "Use status subresource in TFJob CRD"
Suggested by https://github.com/kubeflow/tf-operator/issues/742.

[2019-02-02 00:21] magick93 opened #928 "Failed to marshal the object to TFJob; the spec is invalid: Failed to marshal the object to TFJob"
Hello

I have the following tfjob yaml:

[code]

I'm using `oc create -f tf_job_pgp.yaml` to send this to my OpenShift cluster.
Then using `oc describe tfjob kubeflow_testing -n kubeflow` to inspect it. And when I run this command, I see:

[code]

I'm not sure where I'm going wrong. Can anyone please offer some guidance?

[2019-02-02 03:37] johnugeorge commented on #928
One of the containers must be 'tensorflow'. Change the container name to 'tensorflow'

[2019-02-02 05:35] magick93 commented on #928
Thanks

[2019-02-02 05:35] #928 closed

[2019-02-02 20:41] #923 closed

[2019-02-02 21:03] llegolas opened #929 "tf-job-operator RBAC"
The environment is Openshift 3.11 /kubeflow v0.4.1
tf-job-operator and pytorch-operator are set with deploymentScope: namespace
jsonnete logic says that in this case we will have roles and rolebindings instead of clusterRoles and clusterrolebindings
As a result both pods are failng with similar error

[code]

If i reconfigure the roles(tf-job-operator/pytorch-operator) to ClusterRoles and create t

[2019-02-04 18:19] jlewi commented on #888
@richardsliu Is there more work to do here or should we close this out?

[2019-02-04 18:23] jlewi commented on #929
@johnugeorge @richardsliu

[2019-02-04 18:30] jlewi commented on #903
@jokerwenxiao The default clean pod policy is to only delete pods that are still running to prevent them from continuing to consume resources. That's why we delete the PS. If the worker exited then we wouldn't delete it because it wouldn't continue to consume resources.

[2019-02-04 18:30] #903 closed

[2019-02-04 18:32] jlewi commented on #900
@gaocegege Doesn't the CR already handle this? Won't the reconcile logic detect that the pod isn't running and create a new one.

@johnugeorge @richardsliu

[2019-02-04 18:32] #881 closed, assigned to nobody

[2019-02-04 18:33] #877 closed

[2019-02-04 18:34] jlewi commented on #844
@richardsliu Anything we can do here in 0.5?

[2019-02-04 18:35] jlewi commented on #806
It would be great if someone could check if this still an issue in 0.4.

[2019-02-04 18:37] jlewi commented on #622
@johnugeorge @richardsliu should we try to do this in 0.5?

[2019-02-04 18:39] jlewi commented on #597
@johnugeorge @richardsliu We have an mnist test in kubeflow/examples. Should we rely on that test and the other E2E tests and remove the mnist test in the TFJob operator repo?

[2019-02-04 18:40] jlewi commented on #550
@richardsliu @johnugeorge Can we make a decision about whether to include these fields as part of the API?

[2019-02-04 18:43] jlewi commented on #384
I'm going to close this issue out because of lack of activity.

[2019-02-04 18:43] #384 closed

[2019-02-04 18:44] jlewi commented on #214
This is obsolete.

[2019-02-04 18:44] #214 closed

[2019-02-04 18:46] jlewi commented on #167
@johnugeorge @richardsliu @gaocegege Should we try to do this for 0.5?

[2019-02-04 18:48] jlewi commented on #109
Closing this as obsolete.

[2019-02-04 18:48] #109 closed

[2019-02-04 19:04] richardsliu commented on #888
I would keep this open but maybe lower its priority.

[2019-02-04 19:07] richardsliu commented on #622
We should add this in 0.5.

[2019-02-04 21:57] richardsliu commented on #844
Based on discussions with the TF team, I don't think there's anything for us to do here. Closing the issue.

[2019-02-04 21:57] #844 closed

[2019-02-04 21:59] richardsliu commented on #742
Closing the issue since the review is done. The work items are tracked under separate issues.

[2019-02-04 21:59] #742 closed

[2019-02-05 03:58] johnugeorge commented on #922
/assign

[2019-02-05 05:46] johnugeorge commented on #806
<img width="697" alt="screen shot 2019-02-05 at 11 13 35 am" src="https://user-images.githubusercontent.com/2171903/52255118-2c9df400-2937-11e9-8cd3-02d1e717bf0e.png">

[2019-02-05 05:58] johnugeorge commented on #806
"lastUpdateTime":     "The last time this condition was updated.",
"lastTransitionTime": "Last time the condition transitioned from one status to another."

Since we do not update the condition once created, it will remain same.

[2019-02-05 05:58] johnugeorge commented on #806
/close

[2019-02-05 05:58] #806 closed

[2019-02-05 22:07] richardsliu opened #932 "Support for multiple CRD versions"
We have multiple versions of the TFJob CRD defined. We should look into serving multiple CRD versions (requires k8s v1.11.0 or higher).

[2019-02-05 23:33] richardsliu opened #934 "Deprecate v1alpha2 controller and API"
Kubeflow 0.4.0 installs v1beta1 by default now: https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-training/prototypes/tf-job-operator.jsonnet#L10

This means we can clean up the v1alpha2 controller and API, which is now outdated. Also it will get rid of some of the confusions around naming and file structure.

[2019-02-06 08:05] johnugeorge opened #935 "TF operator v1beta2 API"
There are couple of minor api changes that are suggested. We can incorporate all these changes in the next API version.

- [x]  Requires support of Status subresource in CRD  #927 #924
- [x] Add ActiveDeadlineSeconds and BackoffLimit  #550
- [x] Use pod group instead of PDB for gang scheduling #916
- [x] Supporting multiple versions of CRD #932

Please add if I missed out any.

/cc @richardsliu @g

[2019-02-06 08:17] gaocegege commented on #550
I think we should add it as API, it is useful.

[2019-02-06 12:04] johnugeorge commented on #935
/area 0.5.0

[2019-02-06 12:10] johnugeorge commented on #550
/remove-area 0.4.0

[2019-02-06 12:19] johnugeorge commented on #916
/area 0.5.0

[2019-02-06 16:33] ChanYiLin commented on #756
Anyone take this issue? @gaocegege @richardsliu
I can take this one

[2019-02-06 18:49] #934 closed

[2019-02-07 07:18] richardsliu opened #938 "Consider restructuring tests under the shared control package"
For example, in `pkg/control/pod_control_test.go`, we are using a specific version of testutil:
[code]
Ideally the test utils should be restructured to avoid having to duplicate all the code, so we wouldn't need to link against a specific version here.

[2019-02-07 18:35] #922 closed

[2019-02-07 19:50] ChanYiLin commented on #916
@k82cn @richardsliu @gaocegege
I remembered that we have discussed wether we should add a common schedulerName in TFJob Spec or not?
In v1alpha2 we decided not to do that and users need to add schedulerName to each replicas(pod) spec.

How about in v1beta2, should we also ask users to add schedulerName to each replicas(pod) spec or also change to use annotation to indicate the scheduler?

[2019-02-08 18:36] ShaswataJash commented on #716
According to recent 3 days back announcement by ksonnet team (https://ksonnet.io/ - "The team behind ksonnet is stepping back from the project. As a result, work on ksonnet will end and the GitHub repositories will be archived."), whether going forward kubeflow will still be installed via ksonnet or will there be plan to migrate installation via Helm?

[2019-02-08 19:39] richardsliu commented on #550
/assign @ChanYiLin

[2019-02-08 19:39] ChanYiLin commented on #550
I can take this issue
Thanks!

[2019-02-09 05:27] #924 closed

[2019-02-09 08:07] #927 closed

[2019-02-11 03:26] gaocegege commented on #550
/assign @ChanYiLin

[2019-02-11 03:37] gaocegege commented on #716
We are considering kustomize, here is the doc: https://docs.google.com/document/d/156H79GiQ-gCAputHzcCdmD6gZZaMBLqC-kzwKqc2MIA/edit?usp=sharing

[2019-02-11 04:32] gaocegege commented on #938
SGTM

[2019-02-11 04:45] gaocegege commented on #916
@ChanYiLin Ref https://github.com/kubeflow/tf-operator/issues/920

We decide to simplify the process.

[2019-02-11 04:46] gaocegege commented on #756
/assign @ChanYiLin

Thanks!

@richardsliu Sorry for the late reply, it is not implemented now.

[2019-02-11 07:49] maver1ck commented on #716
@gaocegege
Any reason of not using helm ?
Or just "we're not listening voice of our users"

[2019-02-11 08:26] rbq commented on #716
@gaocegege The Rancher app catalog seems to contain an attempt to build a [Kubeflow (0.3) chart](https://github.com/rancher/charts/tree/master/proposed/kubeflow/latest).

But I agree, as a cluster operator I wish there was a sane way to deploy an opinionated standard distribution of Kubeflow via Helm chart (which then could be wrapped into an operator or deployed via Rancher or other self-service

[2019-02-11 09:02] gaocegege commented on #716
@maver1ck Actually, I am an advocate of Helm and strongly wish we could support Helm. You can see my comment in the doc which suggests using Helm instead of Kustomize. https://docs.google.com/document/d/156H79GiQ-gCAputHzcCdmD6gZZaMBLqC-kzwKqc2MIA/edit?disco=AAAACkTeXVE

But, I am not sure which tool will be used to replace ksonnet.

[2019-02-12 09:28] thomasfricke commented on #716
Looks like https://github.com/ksonnet/ksonnet is dead unless somebody picks up the solution.

Kustomize only shows a handful of trivial examples
https://github.com/kubernetes-sigs/kustomize/tree/master/examples

Unless these projects show more impact I would prefere helm.

This does not judge the quality of the ideas, just the current usage in the community.

[2019-02-12 14:31] rbq commented on #716
Btw., has anybody had a look at [Ship](https://www.replicated.com/ship)? The ability to patch the output of a Helm chart with Kustomize might be useful in this context.

[2019-02-12 22:46] richardsliu commented on #914
/assign @zahraabbasi

[2019-02-12 22:46] richardsliu commented on #914
/assign @zabbasi

[2019-02-12 22:48] richardsliu commented on #914
/assign @zabbasi

[2019-02-12 23:18] zabbasi commented on #914
/assign @zabbasi

[2019-02-13 17:58] richardsliu commented on #925
Moving this out of 0.5.0 since it is not feasible at the current time.

[2019-02-13 20:13] johnugeorge commented on #916
@k82cn working on this ?

[2019-02-14 03:14] richardsliu commented on #622
@gaocegege I am not sure if we can do this actually. We are adding support for multiple CRD versions (https://github.com/kubeflow/tf-operator/issues/932), and version-specific schema validation is not yet supported. ETA is k8s 1.16.

[2019-02-14 19:30] johnugeorge commented on #929
looks like a bug that got introduced with the CRDExists check.
 https://github.com/kubeflow/tf-operator/blob/master/cmd/tf-operator.v1beta1/app/server.go#L193

[2019-02-15 18:21] #932 closed

[2019-02-18 13:43] k82cn commented on #916
yes, i'm working on this one :)

[2019-02-21 09:07] alienxt commented on #173
I have same problem,  how can i fix?

describe:
"
the provided version "kubeflow.org/v1alpha2" has no relevant versions: group kubeflow.org has not been registered
no matches for kubeflow.org/, Kind=TFJob
"

[2019-02-21 15:28] Chris-Paul-Li opened #944 "Cannot running tfjob pod"
I cannot link gci ,so i find docker pull cschen/tf-mnist-with-summaries from dockerhub.
But my tfjob pod status is "CrashLoopBackOff" ,and describe is "Error syncing pod",and logs is "python: can't open file '/root/kubeflow/mnist-with-summaries.py': [Errno 2] No such file or directory"

The contents of other documents are the same as the examples.

my tf_job_mnist.yaml
**apiVersion: "kubeflow.org/

[2019-02-21 17:22] richardsliu commented on #888
/assign @zabbasi

[2019-02-21 18:25] zabbasi commented on #914
/assign @zabbasi

[2019-02-25 19:10] richardsliu commented on #550
@ChanYiLin Any update on this?

[2019-02-25 19:10] richardsliu commented on #916
@k82cn Any updates on this?

[2019-02-25 22:03] ChanYiLin commented on #550
I have finished ActiveDeadlineSeconds feature and now thinking how to implement BackoffLimit.
According to the implementation of Job controller in K8s, they count the restart count based on the restart count of the pod/container.
However, in tf-operator, when the pod restart because of exit code, we delete the pod and recreate it using api, so there will no restart count in the pod.
I have to try

[2019-02-26 02:16] richardsliu commented on #731
We should be close to finishing the v1beta2 APIs for tf-operator. This would be a good opportunity to have API documentation ready.

[2019-02-26 02:18] gaocegege commented on #944
Does cschen/tf-mnist-with-summaries contain the file /root/kubeflow/mnist-with-summaries.py?

[2019-02-27 01:35] xyhuang commented on #830
/assign

[2019-02-27 01:35] xyhuang commented on #829
/assign

[2019-02-28 06:47] luoxiaoxun opened #946 "tf operator ui could not list and create tf job"
When I enter the tf operator dashboard through ambassador, it shows cannot list tfjob resource
[code]

I check the tf-job-dashboard cluster role binding,  which use the correct service account as follows：
[code]

I check the tf-job-dashboard cluster role, which has list tfjobs privilege as follows：
[code]

[2019-02-28 20:05] #914 closed

[2019-03-01 02:16] cndaimin commented on #929
What RBAC rules were configured? @llegolas

[2019-03-01 02:49] cndaimin opened #948 "How to prevent tfjob from Running while there are still pods in Pending status?"
In our production environment users run into this situation occasionally: some pods started `running` while some others were still `pending` due to insufficient resources or other reasons. This will leading to a problem that tfjob was starving because of absent partners.

I understand this may be not a problem to tf-operator framework. Since pod's command is launching tensorflow job, and if this p

[2019-03-02 02:20] richardsliu commented on #731
@gaocegege @johnugeorge

Preview version: https://github.com/richardsliu/tf-operator/blob/test_md/tensorflow.md#TFJob

[2019-03-02 03:55] johnugeorge commented on #731
looks good. Is something else pending?

[2019-03-02 23:54] richardsliu commented on #731
I need to check in the tool (requires some configuration changes) and then somehow link the API reference from the kubeflow website. Then probably write the instructions on how to generate this for other operators.

[2019-03-03 03:38] johnugeorge commented on #731
SGTM

[2019-03-03 20:35] sarahmaddox commented on #731
This looks great! Thanks @richardsliu. Some suggestions and questions:

* The generated reference is for version `v1beta2`, whereas the currently available version is `v1beta1`. Do you know when we'll be launching `v1beta2`?

* Currently, the generator pushes the output to a file called `tensorflow.md` in the `kubeflow/tf-operator` repo on GitHub. Two comments:

    * The content of the file is HT

[2019-03-03 22:16] richardsliu commented on #731
Thanks @sarahmaddox. We are planning to launch the v1beta2 APIs as part of 0.5.0.

So the reason for generating those two .md files in the tf-operator repo is purely out of convenience. The tool that I am using also assumes that you are generating documentation in the same repo.

I can try to generate the same content again but under kubeflow/website. Can you help create the section and navigation

[2019-03-03 23:51] sarahmaddox commented on #731
Hallo @richardsliu

I've created this PR to show you how it will look:
https://github.com/kubeflow/website/pull/514

The previews of the relevant pages are here:

* https://deploy-preview-514--competent-brattain-de2d6d.netlify.com/docs/reference/
* https://deploy-preview-514--competent-brattain-de2d6d.netlify.com/docs/components/tftraining/#more-information

[2019-03-04 04:10] johnugeorge commented on #929
@gaocegege @richardsliu @Muzry

Currently, namespace scoped deployment fails because CRD check in operator bootup code needs cluster scope.

Issue: https://github.com/kubeflow/tf-operator/issues/710
PR: https://github.com/kubeflow/tf-operator/pull/820

[2019-03-04 16:21] pskindel commented on #948
Disclaimer: I am not a contributor of tf-operator.

That's what gang-scheduling was invented for. You basically need to setup another scheduler e.g. `kube-batch` and enable gang-scheduling in tf-operator. The new scheduler will run whole group of pods at a time, or leave them all pending, so you would not encounter partial running group.

[2019-03-04 18:14] richardsliu commented on #731
@sarahmaddox I've created a PR for the html files generated. Another reason for using .md is that the formatting works nicely on GitHub. But it should be simple to just add some css to style it up.

[2019-03-04 18:17] richardsliu commented on #731
Examples: https://deploy-preview-516--competent-brattain-de2d6d.netlify.com/docs/references/tfjob/v1beta2/tensorflow/

https://deploy-preview-516--competent-brattain-de2d6d.netlify.com/docs/references/tfjob/v1beta2/common/

[2019-03-04 21:23] zabbasi commented on #914
/close

[2019-03-04 21:24] zabbasi commented on #914
addressed in https://github.com/kubeflow/tf-operator/pull/945

[2019-03-04 21:50] richardsliu commented on #916
@k82cn Is this still on track to be finished in 0.5.0?

[2019-03-04 21:51] richardsliu commented on #550
@ChanYiLin Is this still on track to be finished in 0.5.0? We are trying to reach code complete by 3/15.

[2019-03-04 23:42] ChanYiLin commented on #550
Yes it can be finished this week. I am testing it.

[2019-03-04 23:46] richardsliu commented on #550
Thanks!

[2019-03-05 01:27] zhan849 opened #949 "[FeatureRequest] Support dynamic volume provisioning for TFJob and PyTorchJob"
There are a lot of machine learning use cases where we need large scratch spaces for jobs i.e. job needs to download 100s of GBs of data for processing. In cloud environment, block devices (EBS for example) has its advantages as we don't need to over provision the hosts with large host volume, nor do we need expensive shared file system (EFS for example), as machine learning workloads usually don'

[2019-03-05 01:37] k82cn commented on #916
@richardsliu , sorry for the delay response. Let me try to submit a PR this week.

[2019-03-05 01:43] johnugeorge commented on #949
@zhan849 Can you explain more on it wrt to the support required and changes in API?

[2019-03-05 01:53] zhan849 commented on #949
@johnugeorge I'm thinking about the following:

1. Add a slice of volume claim templates in `ReplicaSpec`
[code]

2. In `ReplicaSpec.Spec.InitContainers` and `ReplicaSpec.Spec.Containers`, if any of the container requests a volume whose name is **NOT** in `ReplicaSpec.Spec.Volumes` but in `ReplicaSpec.VolumeClaimTemplates`, we create `PersistentVolumeClaim` objects for that container. Since contai

[2019-03-05 01:54] zhan849 commented on #949
I can send out the PR for the community to review if the general direction is agreed.

[2019-03-05 02:01] johnugeorge commented on #949
/cc @richardsliu
/cc @gaocegege

[2019-03-05 02:22] johnugeorge commented on #948
More customization is discussed in this thread: https://github.com/kubeflow/tf-operator/issues/916

[2019-03-05 04:36] richardsliu commented on #731
Latest example: https://deploy-preview-516--competent-brattain-de2d6d.netlify.com/docs/reference/tfjob/v1beta2/tensorflow/
https://deploy-preview-516--competent-brattain-de2d6d.netlify.com/docs/reference/tfjob/v1beta2/common/

[2019-03-05 21:40] richardsliu commented on #731
The documentation is on the kubeflow website now: https://www.kubeflow.org/docs/reference/tfjob/v1beta1/tensorflow/

Keeping this open until the tool/instructions are also merged.

[2019-03-05 21:54] richardsliu commented on #167
Moving this out of 0.5.

[2019-03-05 22:08] abhi-g commented on #731
Awesome!

On Tue, Mar 5, 2019 at 1:40 PM Richard Liu <notifications@github.com> wrote:

[2019-03-06 01:36] johnugeorge commented on #731
@richardsliu do we need to keep docs of both versions in the website?

[2019-03-06 01:48] richardsliu commented on #731
We should keep docs for all the versions that we currently support (i.e. v1beta1 and v1beta2).

[2019-03-06 20:54] #731 closed

[2019-03-06 21:08] richardsliu commented on #622
Moving this out of 0.5.0.

[2019-03-06 21:09] richardsliu commented on #888
Moving out of 0.5.

[2019-03-06 21:19] richardsliu commented on #946
Are you deploying tf operator from master or from 0.4.0 release?

[2019-03-07 00:45] richardsliu opened #953 "Create distributed training example for TF 2.0"
Should follow the example in https://github.com/kubeflow/tf-operator/tree/master/examples/distribution_strategy.

/assign @zabbasi

[2019-03-07 01:38] cndaimin commented on #948
Many thanks to your reply, which helps a lot! @pskindel @johnugeorge

[2019-03-11 07:30] zionwu opened #956 "Delete pod with unknown status in reconcilePods"
When a node is down, the status of the pod running on this node becomes unknown.  The training job could not recover because the pod is not scheduled to a healthy node.

According to this issue https://github.com/kubernetes/kubernetes/issues/51333,  k8s would not delete the pod on the node if the node is down.  I think tf-operator should take care of this case by deleting the pod with unknown stat

[2019-03-12 01:52] zionwu commented on #956
@johnugeorge @richardsliu @gaocegege  any thoughts?

[2019-03-12 12:00] johnugeorge commented on #956
Related: https://github.com/kubeflow/tf-operator/issues/900

[2019-03-13 20:45] zabbasi commented on #953
@richardsliu  TF 2.0  currently has allpha release.  version of tensorflow in tensorflow/tensorflow:latest is 1.13.0rc1.

[2019-03-15 00:11] richardsliu opened #960 "Proposal for a Common Operator"
## Proposal

Move common API types and lower-level libraries to a new, common repository.

## Motivation

TFJob is currently in v1beta1 (v1beta2 after 0.5.0) and is fairly stable. Its common types and libraries are being used in other operators like [pytorch](https://github.com/kubeflow/pytorch-operator/blob/master/pkg/apis/pytorch/v1beta2/types.go) and [MPI](https://github.com/kubeflow/mpi-operat

[2019-03-15 00:31] terrytangyuan commented on #960
Looks great to me in general! I really like the new introduced type `RunPolicy`. Also are we missing `JobStatus` here which is what initially triggered our further discussion on the common operator?

[2019-03-15 00:34] richardsliu commented on #960
@terrytangyuan `JobStatus` is already in `TFJob`, so there should not be any changes:
[code]

[2019-03-15 00:44] terrytangyuan commented on #960
Sorry I didn't see that you meant to move those directories from tf-operator. Sounds good then.

[2019-03-15 01:40] johnugeorge commented on #960
Yes. As we discussed, we can wait till
https://github.com/kubeflow/tf-operator/pull/958 and
https://github.com/kubeflow/tf-operator/pull/954 are merged.

Since this would be a breaking API change,  should we target in 0.5 itself?    We can refactor API but code can moved later?

[2019-03-15 01:56] gaocegege commented on #960
SGTM

I think it will help us a lot. One thing that I care about is if the common operator will be a real operator or just a repository to store the common-maintained CRD APIs.

[2019-03-15 02:09] richardsliu commented on #960
@johnugeorge This will be after 0.5, and after those 2 PRs are merged.

@gaocegege I think it is cleaner for it to be just a repository for common APIs. What do you think?

[2019-03-15 03:49] johnugeorge commented on #960
@richardsliu  Since it would be a breaking API change, won't this need one more release before v1?

[2019-03-15 04:59] gaocegege commented on #960
@richardsliu SGTM, this is much cleaner.

[2019-03-15 08:32] k82cn commented on #960
+1 to this proposal!

Actually, we already have such a common operator for those framework; and we plan to open source it recently (I can give a demo in weekly meeting if it's ok). It will try to support other frameworks; not only ML frameworks, but also some others, e.g. bigdata. And this operator will work with kube-batch for batch scheduling capability. I'm thihking whether we can work together

[2019-03-15 15:01] ScorpioCPH commented on #960
+1 for common operator, and for common API, can we abstract more? such as define a common master/slave model for distributed jobs.

[2019-03-15 17:48] richardsliu commented on #960
@k82cn @ScorpioCPH I have considered further abstractions to make the operator common for distributed jobs, but it can become difficult to keep one implementation across different frameworks. For example the MPI operator has framework-specific details that do not apply to TF or PyTorch. I think it will be cleaner and safer to just refactor the most shared and least controversial elements (such as

[2019-03-15 23:39] richardsliu commented on #829
Anything else left to do here? Otherwise we can close this.

[2019-03-15 23:39] richardsliu commented on #830
Anything else left to do here? Otherwise we can close this.

[2019-03-16 01:18] k82cn commented on #960
We already have something there, run TF and MPI job by one operator/controller; maybe I can give a demo later, and discuss our next step. WDYT?

[2019-03-17 14:27] ScorpioCPH commented on #960
@richardsliu SGTM, let's achieve the final goal step by step :)

[2019-03-18 09:58] AnixPasBesoin commented on #903
We're encountering the same issue as the one that shows in your log:

Can you please post your solution or workaround.

[2019-03-18 17:24] richardsliu commented on #960
@k82cn Thanks for the information you shared, we would be glad to see a demo. Will you be available on Mar 27 at 8:30 a.m. Beijing time (our community call in a week)?

[2019-03-18 18:57] richardsliu commented on #960
@k82cn My current thoughts is that for the upcoming v1.0 release, we (kubeflow) will limit the scope of changes to just abstracting the common APIs and types. This will help stabilize our patterns across different training frameworks without introducing significant changes.

Meanwhile, I would like to see how volcano develops in parallel, in particular its batch-scheduling functionalities. Post v1

[2019-03-19 05:03] gaocegege commented on #929
It is an interesting problem. It seems that we cannot check the crd if the controller is not in cluster scope.

I cannot figure out a better idea than deleting the check.

[2019-03-19 05:50] richardsliu commented on #929
Can we handle that error and print a warning instead?

[2019-03-19 05:55] gaocegege commented on #929
The warning does not work, IMO. The controller will not work if the crd is not registered.

Maybe we could do what kubebuilder-generated controller does: leave an error to user and sys.Exit(1):

[code]

@johnugeorge WDYT, is there any other suggestion?

[2019-03-19 06:46] johnugeorge commented on #929
@gaocegege How does the controller detect this error without the check?

[2019-03-19 06:52] gaocegege commented on #929
I think the informer will return an error if the kind is not registered. When we did not have the check before, I always meet with the error.

[2019-03-19 07:19] richardsliu commented on #929
How did namespace deploymentScope work before we introduced the crd check?

[2019-03-19 17:06] richardsliu commented on #916
@thandayuthapani @k82cn Any more pending work for this item? This was automatically closed by k8s bot.

[2019-03-19 17:09] richardsliu commented on #929
@johnugeorge Any recommendations here? Should this still be a blocker for 0.5.0?

[2019-03-19 17:17] johnugeorge commented on #929
Yes. Without a crd client check, we can check the error from TFJob List API.  I will raise PR soon

[2019-03-20 00:54] #929 closed

[2019-03-20 03:32] thandayuthapani commented on #916
@richardsliu Yeah, in v1beta2 side, it uses podGroup instead of PDB during gang scheduling.

[2019-03-20 04:06] johnugeorge commented on #920
Closing as #957 is merged
/close

[2019-03-20 04:06] #920 closed

[2019-03-20 04:16] johnugeorge commented on #916
@thandayuthapani Are you working on SchedulingPolicy? (From https://github.com/kubeflow/tf-operator/issues/916#issuecomment-458729706 )

[2019-03-20 06:19] k82cn commented on #916
@richardsliu , no more items for 0.5 release

@johnugeorge , we'll do some investigation after 0.5 release.

[2019-03-20 17:16] richardsliu commented on #830
Results can be found at https://bit.ly/2CtWFn3. Closing this for now.
/close

[2019-03-20 17:16] #830 closed

[2019-03-20 17:16] richardsliu commented on #829
Results can be found at https://bit.ly/2CtWFn3. Closing this for now.
/close

[2019-03-20 17:16] #829 closed

[2019-03-22 07:32] DQinYuan opened #964 "Failed to marshal the object to TFJob; the spec is invalid: Failed to marshal the object to TFJob"
before i add affinity in spec, this config can run normally. But after add some affinity config, it always `Failed to marshal the object to TFJob; the spec is invalid: Failed to
      marshal the object to TFJob`, config as follow:

[code]

[2019-03-22 08:04] johnugeorge commented on #964
Were you able to run without affinity spec?  I see that space is missing in  labels  `tfjob:tf`

[2019-03-22 08:13] DQinYuan commented on #964
I do some test, I comfirm it is not related with that space. When I run without affinity spec, it can run normally. but when I rum with affinity spec, it will `Failed to marshal the object to TFJob; the spec is invalid: Failed to marshal the object to TFJob`   @johnugeorge

[2019-03-22 08:34] DQinYuan commented on #964
I test more, `nodeSelector` can work normally. Is it because tf-operator API is not updated to support `affinity`?(my kubernetes version is v1.13.4, I confirm it support affinity)    @johnugeorge

[2019-03-25 08:32] zionwu opened #965 "Performance issue when there is a lot of completed jobs"
I run tf-operator for a month and recently I find it takes several minutes for tf-operator to start creating pods after I submit a new job, which is slower than the time(a few seconds) a month ago.

I think the cause is that the resyncPeriod is ~~15s~~   30s,  and there are a lot of completed job that I don't want to delete in order to keep the job history. So the work queue is always full of comp

[2019-03-25 09:03] gaocegege commented on #965
/cc @richardsliu @johnugeorge

[2019-03-25 09:17] johnugeorge commented on #965
@zionwu How many completed jobs do you have in the system currently?

[2019-03-25 09:18] johnugeorge commented on #965
Resync period is currently 30s (https://github.com/kubeflow/tf-operator/blob/master/cmd/tf-operator.v1beta2/app/server.go#L53)

[2019-03-25 14:29] Cplo commented on #946
@richardsliu  the same issue from 0.4.0 release

[2019-03-25 17:20] richardsliu commented on #946
/cc @johnugeorge

[2019-03-25 18:52] richardsliu commented on #965
/cc @zabbasi

[2019-03-26 00:46] richardsliu commented on #946
I just tried from master, and it seems to be working. Did you change any of the configuration settings?

[2019-03-26 04:40] jlewi commented on #550
@ChanYiLin Any update on this?

[2019-03-26 04:41] jlewi commented on #935
@johnugeorge @richardsliu Can we close this issue? Is the v1beta2 API blocked by #550?

[2019-03-26 05:37] johnugeorge commented on #946
@richardsliu I am not sure if 0.4.0 release image has this fix https://github.com/kubeflow/tf-operator/pull/917

[2019-03-26 05:50] johnugeorge commented on #935
@jlewi Yes. we were waiting for #550 to get merged

[2019-03-26 09:15] zionwu commented on #965
I increased `resyncPeriod`  from 30s to 300s/900s, but it did not improve the performance much.

I changed the code by adding a new condition called "ResourceCleaned". The new condition is added to job after resource is cleaned in `reconcileTFJobs`. And in the beginning of `syncTFJob`, if the new condition is found, just return.

This fix can improve the performance and now it only take a few seco

[2019-03-26 09:44] johnugeorge commented on #965
It is slightly misleading to have a JobCondition to be ResourceCleaned.  How about using this condition (https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1beta2/tensorflow/controller.go#L382) ?

[2019-03-26 09:59] zionwu commented on #965
When this condition `tfjob.Status.ReplicaStatuses[rtype].Active = 0`  is true, the job must be failed or succeed and the resources is already cleaned up, right?   If so I think we can use this condition.

[2019-03-26 10:06] ChanYiLin commented on #550
@jlewi almost done
I and @richardsliu just discussed how to implement the unit test.
Also, it seems that it failed the e2e test sometimes and randomly.

[2019-03-26 22:22] #550 closed

[2019-03-26 22:23] richardsliu commented on #935
/close

[2019-03-26 22:23] #935 closed

[2019-03-26 22:37] ChanYiLin commented on #550
@jlewi
the PR has been merged.

[2019-03-27 10:17] #948 closed

[2019-03-27 20:57] richardsliu opened #967 "Create CRD conversion webhook"
For future breaking API changes, we should implement a CRD conversion webhook to ensure cross-version compatibility.

An example can be found here: https://github.com/kubernetes/kubernetes/blob/master/test/images/crd-conversion-webhook/converter/example_converter.go

It should be noted that the feature is currently in Alpha.

[2019-03-27 21:01] richardsliu opened #968 "TFJob 1.0"
Tracking items needed for TFJob 1.0:

- [x] Create API: https://github.com/kubeflow/tf-operator/issues/989
- [x] Adding Prometheus support: https://github.com/kubeflow/tf-operator/issues/988
- [x] Documentation: https://github.com/kubeflow/tf-operator/issues/990
- [x] Kustomize files: https://github.com/kubeflow/tf-operator/issues/991

/cc @gaocegege /cc @johnugeorge

[2019-03-28 02:27] zionwu commented on #965
@johnugeorge  could you please help answering the above question?

[2019-03-28 03:01] johnugeorge commented on #968
Sounds good

[2019-03-28 03:19] johnugeorge commented on #965
Yeah.  When I had a relook at code, `Active` is updated only when job is succeeded.  If job is failed,  there will be `Active` and `Failed` pods.

[2019-03-28 04:15] gaocegege commented on #949
The idea SGTM while I think storage class already  supports dynamic volume provision, what things should we do in the use case?

[2019-03-28 04:15] gaocegege commented on #968
SGTM

[2019-03-28 04:30] zhan849 commented on #949
@gaocegege yes storage class should define how the volume should actually be provisioned. We already started some experiments in a forked branch, do you guys want me to submit a brief proposal or you want to implement it. it'd be something similar to stateful set

[2019-03-28 06:48] zionwu commented on #965
@johnugeorge in this case we have to introduce a new condition, right?

[2019-03-28 07:23] johnugeorge commented on #968
Performance issues: https://github.com/kubeflow/tf-operator/issues/965

[2019-03-28 07:38] johnugeorge commented on #965
Is new status `completed` set only when resources are cleaned up? What would be behavior if CleanPodPolicy of Job is set to None or Running?

[2019-03-28 08:38] zionwu commented on #965
The new status will be set no matters what CleanPodPolicy is.
It is used to mark that required steps(if any) are done after job terminated, so next time we find job with the new status we can do nothing and return.  It avoids re-processing the terminated job.

We can set the new status at the end of this block https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1beta2/tensorflow/co

[2019-03-28 21:47] richardsliu commented on #960
The common repository is created now: https://github.com/kubeflow/common. I thought about naming it `api` to follow the conventions of Kubernetes, but unlike https://github.com/kubernetes/api/ which contains only types and generated Go files, we also have common libraries like the job controller.

Directory structure will be mapped as follows:

[code]
[1] This is originally its own package called

[2019-03-28 22:39] richardsliu commented on #960
@johnugeorge @terrytangyuan @gaocegege
A couple of open questions:

1. What should the initial version be? TFJob and PytorchJob are current in v1beta2 while MPI is in v1alpha2. Should we just start with v1?
2. What to do about dependency management? Other kubeflow components like kfctl are moving towards using Go modules (https://github.com/golang/go/wiki/Modules) but it requires Golang 1.11+.

[2019-03-29 00:48] terrytangyuan commented on #960
Yes v1 should be fine.

I am fine with either Go modules or dep. It seems like the majority of kubeflow projects uses dep instead of Go modules (only kfp uses Go modules from a quick glance) though.

[2019-03-29 17:18] johnugeorge commented on #960
Sounds good to me.

[2019-03-30 01:12] k82cn commented on #960
That's great to work together on the batch scheduling part :)

[2019-03-30 01:20] k82cn commented on #968
I can help on the "Scheduling policy" to integrate with related scheduler :)

[2019-03-30 13:56] gaocegege commented on #949
@zhan849 I am glad to see your proposal! Thanks for your contribution.

[2019-04-02 06:01] ScorpioCPH commented on #960
@richardsliu [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder) provides powerful libraries and tools to build operator, we have use it to build some operators internal :)

[2019-04-04 17:23] richardsliu commented on #968
I've included SchedulingPolicy in the common API here: https://github.com/kubeflow/common/blob/master/operator/v1/types.go#L184

[2019-04-08 21:19] richardsliu commented on #938
This is mostly addressed by moving to the common library: https://github.com/kubeflow/common/blob/master/job_controller/pod_control_test.go

We should not be creating new versions of the common type very often, so duplication here is acceptable.

/close

[2019-04-08 21:19] #938 closed

[2019-04-08 21:34] richardsliu commented on #921
@stpabhi Can you clarify what is meant here?

[2019-04-08 21:36] richardsliu commented on #946
This should be fixed in 0.5.

[2019-04-08 21:58] stpabhi commented on #921
@richardsliu /cc @jlewi asked to create this issue to address api version mismatch between frontend and backend as a pre validation such that issues like https://github.com/kubeflow/tf-operator/pull/917 wouldn't happen.

[2019-04-11 08:43] gaocegege commented on #722
@jlewi Hi, is there any reference implementation about the session_hook approach?

[2019-04-11 08:59] gaocegege commented on #622
@richardsliu Now Kubebuilder could generate openAPISchema for CRD, maybe we could take a look at the implementation of kubebuilder.

[2019-04-11 21:17] richardsliu commented on #622
We have not decided if we are using kubebuilder yet. See discussion here: https://github.com/kubeflow/common/issues/7#issuecomment-481026289

[2019-04-12 01:42] k82cn commented on #622
It's hard to import it which is binding with kubebuilder; in kube-batch/volcano, I build a shadow project to generate CRD openAPISchema and copy back to my project :)

[2019-04-12 01:42] gaocegege commented on #622
@richardsliu Yeah I saw the comments. We can use the function of validation generation to generate openAPISchema for all our CRDs. As for the other functions in Kubebuilder which requires re-implementation, we should discuss it carefully.

[2019-04-14 05:07] merlintang commented on #960
This would be very useful for other types of operators. I have one question here, can we provide the document or example for other operator to use the common operator? this would help new users to begin.

[2019-04-15 12:40] zionwu opened #972 "Missing evaluator info from cluster section of TFCONFIG"
I run tf Evaluator as an individual pod in my TFJOB:
[code]

However, the TFCONFIG set for the evaluator pod is as follow:
[code]

I think the correct TFCONFIG should be:
[code]

[2019-04-15 12:46] zionwu commented on #972
Checked the code https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1beta2/tensorflow/tensorflow.go#L110,
The evaluator is not set to cluster on purpose.

[2019-04-15 12:46] #972 closed

[2019-04-16 00:36] richardsliu commented on #960
@merlintang Agree, we should create an example to demonstrate how to use the common APIs. Meanwhile, @jian-he has committed this PR which defined the common interfaces to be implemented by custom operators: https://github.com/kubeflow/common/pull/12.

[2019-04-17 02:55] gaocegege commented on #949
@richardsliu @zhan849

Should we place the feature in common-operator? It is general for all PS-worker based training jobs

[2019-04-17 04:26] richardsliu commented on #949
@gaocegege Yes I think so. So it should be in the next API version.

[2019-04-19 11:29] izhaomeng opened #975 "Can not create tfjob using examples/v1beta1/dist-mnist/tf_job_mnist.yaml in self-created k8s cluster and tf-operator"
I can not link gci , so i use the image jackfantasy/tf-dist-mnist-test:1.0

The k8s is installed on some vm nodes using the flannel network plugin and the kubeflow/tf-operator with version 0.5.0 is installed by ksonnet.

The tf-job yaml is listed below:
[code]

Start the job by script:
[code]

The script "kubectl get all -n zhaomeng " output is like this:
[code]

The script " kubectl get all -n zh

[2019-04-19 16:25] zhan849 commented on #949
@gaocegege @richardsliu agreed. will close this one and open new one under common-operator.

And also for design doc, given all the discussion threads under tf-operator, I'd suggest that we keep it there and check into community repo after the PR is finalized and merged

[2019-04-19 16:31] #949 closed

[2019-04-21 07:06] d34th4ck3r opened #976 "ERROR handle object: patching object from cluster: merging object with existing state: unable to recognize "/var/folders/tl/zzfcr4zs53vgnpqqjq4n08sh0000gn/T/ksonnet-mergepatch020443124": no matches for kind "TFJob" in version "kubeflow.org/v1beta1""
I am trying to follow the guide here: https://www.kubeflow.org/docs/gke/gcp-e2e/
However, when I am trying to apply my TFJob chart on cluster it is giving me above error:
[code]

I have tfjobs in my custom resources:
[code]

Here is the output yaml:
[code]

I have pod up and running:
[code]

However, the logs inside pods seems to giving connection refused error:
[code]

Other pods seems to be work

[2019-04-21 13:41] gaocegege commented on #976
I think you may register TFJob v1beta2, while the config is v1beta1, then it is not found.

[2019-04-22 02:09] d34th4ck3r commented on #976
I tried changing the `apiVersion` from `kubeflow.org/v1beta1` to `kubeflow.org/v1beta2` but that gave the same error:
[code]

[2019-04-22 03:01] gaocegege commented on #976
What's the output of `kubectl describe crd tfjobs.kubeflow.org`

[2019-04-22 03:19] d34th4ck3r commented on #976
Here:
[code]

[2019-04-22 12:13] jlewi commented on #960
@richardsliu What is the remaining work to close out this issue?

[2019-04-22 14:35] jlewi commented on #921
So in #917 it looks like the TFJob dashboard broke because it was using an old APIVersion for TFJob that was no longer supported.

It looks like the bug was in dashboard/backend/handler/api_handler.go
Which is go code.

So presumably we could an e2e test to verify the API is working.

[2019-04-22 14:54] jlewi commented on #722
I think weights and biases had an example of this.

[2019-04-22 19:36] jian-he commented on #960
@jlewi
The common repo still needs a couple of patches to go in and also requires documentation and examples.

[2019-04-22 21:04] richardsliu commented on #960
We also need a plan to migrate the existing operators (tf, pytorch, mxnet, etc) to the common library.

[2019-04-23 11:28] ChanYiLin commented on #975
Hi, I am the owner of the image, jackfantasy/tf-dist-mnist-test:1.0
I created the image for my own development testing, so I modify some code inside and it may not work in your environment.

I suggest you to build your own  image using our `examples/v1beta1/dist-mnist `

Thanks!

[2019-04-23 11:34] ChanYiLin commented on #944
I suggest to build your own docker image using our `examples/v1beta1/dist-mnist`

[2019-04-24 06:02] alienxt opened #980 "TFJob Dashboard is not support pvc"
Hi all,
When submitting several TFjobs, I need add cephfs pvc, I can't choose pvc on volume option.

I am using kubeflow v0.5.0.

[2019-04-24 06:08] gaocegege commented on #976
It seems that the v1alpha1 is already registered. I will have a try. But the operator cannot visit apiserver, from your case.

[2019-04-25 03:53] gaocegege commented on #964
@DQinYuan I checked the version of the kube api used in tf-operator, we support affinity.

[2019-04-26 01:01] d34th4ck3r commented on #976
How did it go?

[2019-04-30 18:35] zhan849 commented on #980
@alienxt we are trying to support PVC in 1.0
see https://github.com/kubeflow/common/issues/19

[2019-05-08 12:31] royxue opened #985 "Shall we consider upgrading k8s to 1.11.3"
I noticed the tf-operator version are using k8s v1.11.2

Are we going to upgrading it to 1.11.3 recently?

[2019-05-09 17:27] johnugeorge opened #987 "MasterRole label initialization"
@terrytangyuan I see that masterRole re-initialization is removed inside loop in your PR https://github.com/kubeflow/tf-operator/pull/974/files#diff-ec57988f58453ac8c08d62d32e48e0a2L76

If masterRole is not re-initialized inside loop, every pod will have master role to be true once it has got set . What is the reason behind this?

/cc @terrytangyuan

[2019-05-09 17:36] terrytangyuan commented on #987
@johnugeorge I changed it only from a programmatic/lint perspective, the default value for bool is false in Go so `masterRole = false` isn't really necessary anymore.

[2019-05-09 17:48] johnugeorge commented on #987
@terrytangyuan `masterRole = false` is inside a loop and masterRole is set only for the pod where it acts as master

[2019-05-09 17:51] johnugeorge opened #988 "Prometheus support in TF Job"
Reference: https://github.com/kubeflow/common/issues/22

Since common repo is not ready yet, Prometheus support will be added to TF/Pytorch and code will be later moved to common repo.

/assign @johnugeorge
/cc @richardsliu

[2019-05-09 17:53] richardsliu commented on #960
After discussion with contributors, we are postponing the migration of TF and Pytorch to the common library. Instead, a new operator (e.g. XGBoost or MPI) can start using it first, which gives us sufficient time to find all the issue. So this issue will no longer be blocking for TFJob 1.0.

[2019-05-09 18:01] #946 closed

[2019-05-09 18:04] richardsliu opened #989 "Create TFJob v1 API and controller from v1beta2"
TFjob v1beta2 has been stable for a while. We can create the v1 version now.

[2019-05-09 18:06] richardsliu opened #990 "Create TFJob v1 documentation"

[2019-05-09 18:07] merlintang commented on #960
XGBoost Operator based on common lib would be a better way to debug and
demonstrate.

On Thu, May 9, 2019 at 10:53 AM Richard Liu <notifications@github.com>
wrote:

[2019-05-09 18:08] richardsliu commented on #968
Discussed with community members - for TFJob 1.0, we will not be migrating to the new common API until the latter has been stabilized and tested with a new operator.

Instead the goal will be to release v1 from the v1beta2 implementation, with smaller improvements like enhancing metrics.

[2019-05-09 18:17] richardsliu opened #991 "Update kustomize files for tf-operator v1"

[2019-05-09 18:45] terrytangyuan commented on #987
@johnugeorge Good catch. I am reverting it in https://github.com/kubeflow/tf-operator/pull/992. Thanks!

[2019-05-09 20:32] #987 closed

[2019-05-10 02:21] gaocegege commented on #980
@zhan849 I think @alienxt wants to submit jobs with PVC from tfjob dashboard, which is not covered in your proposal

[2019-05-10 02:23] wackxu opened #994 "tf-operator panic when cleanupTFJob"
tf-operator panic when clean tfjob that exceeds limit, because the `CompletionTime` of tfjob  is nil, so we should first set `CompletionTime ` first for the tfjob then try to clean the job.

![20190510-101936(eSpace)](https://user-images.githubusercontent.com/30396467/57498122-34da4680-730d-11e9-972f-a857ce28ca86.png)

[2019-05-10 02:46] johnugeorge commented on #994
Can you paste your tf job yaml here? Have you set ttl?

[2019-05-10 02:47] gaocegege commented on #994
I think #995 can fix it.

[2019-05-10 02:51] wackxu commented on #994
@johnugeorge Yes, I set ttl and activeDeadlineSeconds in the tfjob

[2019-05-10 03:11] #994 closed

[2019-05-10 06:25] zhan849 commented on #980
@gaocegege Sounds like supporting PVC is a good to have feature for UI.

While my proposal was about API design and backend implementation, which are going to commonly shared by any distributed training jobs, I'd prefer we have separate design about the dashboard workflow for adding PVC (either make it generic or TFJob specific), as dashboards would have different focuses such as user experience,

[2019-05-10 13:56] gaocegege commented on #980
Yeah, I agree.

[2019-05-10 17:46] #989 closed

[2019-05-13 01:19] jlewi commented on #916
@johnugeorge @k82cn @richardsliu Is there more work to be done before we close out this issue? If there's more work can we clarify what work is needed and if anyone is planning on taking it on?

[2019-05-13 01:20] jlewi commented on #988
Thanks @johnugeorge. Is anyone planning on picking this up in the next 2 weeks?

[2019-05-13 04:08] johnugeorge commented on #988
Yes. This will be in 0.6 release. @krishnadurai will take this up.

[2019-05-13 08:13] GitHub007Dra commented on #836
i have the same problem,pls help ..

[2019-05-13 17:28] richardsliu commented on #916
@k82cn Is there any more we want to do for 0.6?

Note that if the scheduling policy changes need to go in the common API repo, then it can wait until after 0.7.

[2019-05-13 19:55] jlewi commented on #968
Update from TFJob 1.0
TFJob 1.0 API is done
But not for PyTorch

[2019-05-13 20:03] johnugeorge commented on #968
@jlewi I will complete it in 2 days

[2019-05-14 02:25] luistrange opened #996 "error with kubeflow instalation"
im installing toolkit for begin in kubernetes and with command "kubeflow-tools/install-kubeflow.sh"
i cant done the installation, this is the issue

+ '[' 0 -eq 0 ']'
+ echo 'namespace kubeflow already exists'
namespace kubeflow already exists
+ set +e
++ ks env describe default
+ O='name: default
kubernetesversion: v1.14.1
path: default
destination:
  server: https://127.0.0.1:16443
  namespace:

[2019-05-14 12:46] wackxu opened #997 "tf-operator delete pod and service repeatedly"
tf-operator delete pod and service repeatedly when the tfjob is success or fail or exceed backoff limit, but if the pod or the service is not found, we should just return instead launch a event that failed to delete pod or service.

![image](https://user-images.githubusercontent.com/30396467/57698676-bc66e300-7688-11e9-8420-e730a73b1456.png)

[2019-05-15 01:24] #997 closed

[2019-05-15 04:23] matthen opened #999 "Jobs failing when a node is preempted"
On google kubernetes engine, I am finding that TFJobs fail when a node running a worker is pre-empted.

I have set restartPolicy: OnFailure for the workers, evaluator and chief. The tf-operator deployment is in a node pool with nodes that cannot be preempted.
 It looks like some of the pods got restarted around the time of the preemption, but finally the job was stopped with the following status:

[2019-05-15 07:57] wackxu opened #1000 "tfjob startTime should set immediately after create instead of wait pod of one replicaType are all running"
When I create tfjob with activeDeadlineSeconds but the image address is wrong, the pod of tfjob are all pending and the start time of tfjob is nil and activeDeadlineSeconds does not work.
So I look at the code that set startTime,  only pods of one replicaType are all running then the startTime is set.

https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1/tensorflow/status.go#L60

[2019-05-17 16:34] #991 closed

[2019-05-17 19:41] jlewi commented on #167
@swiftdiaries Did this for Argo
https://github.com/argoproj/argo/issues/732

[2019-05-22 05:20] matthen commented on #999
I'd appreciate any help with this. I saw one error on a worker that was preempted, saying it did not have enough `nvidia/gpu`. So it sounds like the GPU was taken away from the instance, causing the worker to fail. And even though it has `restartPolicy: OnFailure`, it caused the whole tf-job to fail.

Note when there is a failure in the code, e.g. `sys.exit(1)`, then workers are correctly restarte

[2019-05-22 07:01] johnugeorge commented on #999
Can you provide logs of worker and controller? Is this similar to https://github.com/kubeflow/tf-operator/issues/366?

@richardsliu @gaocegege

[2019-05-22 08:41] ScorpioCPH opened #1003 "Failed to update TFJob status in version v1"
I'm trying v0.5.1, after all pods & services created, there is an error msg: `error syncing tfjob: the server could not find the requested resource (put tfjobs.kubeflow.org tfjob-smoke-v1-1)`

And this is coming from here:
[code]

My CRD looks like this:
[code]

[2019-05-22 08:41] ScorpioCPH commented on #1003
/assign @richardsliu

[2019-05-22 09:02] gaocegege commented on #1003
I can reproduce it. We define status as status subresource in client but we do not define it in CRD yaml.

[2019-05-22 09:06] gaocegege commented on #1003
Fixed it with

[code]

[2019-05-22 09:25] gaocegege commented on #1003
/close

[2019-05-22 09:25] #1003 closed

[2019-05-22 09:31] gaocegege commented on #996
It seems that your problem is about kubeflow, not tf-operator. Maybe asking in kubeflow/kubeflow is better.

[2019-05-22 09:33] gaocegege commented on #975
@izhaomeng

I think it is caused by your network environment. There are something cannot be downloaded from the internet. MNIST dataset is GFWed, maybe you should mount it into the container.

[2019-05-22 09:33] #975 closed

[2019-05-22 09:34] #944 closed

[2019-05-22 09:39] gaocegege commented on #793
/close since it is fixed

[2019-05-22 09:39] #793 closed

[2019-05-22 10:00] gaocegege commented on #622
We can run

[code]

to use https://github.com/kubernetes-sigs/controller-tools generate CRD with validation for tf-operator. But the group will be tensorflow.kubeflow.org, not kubeflow.org. I think I could maintain a fork or file an PR to controller-tool to avoid tensorflow prefix then use the fork to generate the CRD from our API.

[2019-05-22 10:41] matthen commented on #999
Any tips on how to recreate this, so I can monitor everything as it happens? If I delete the VM instance, then everything works correctly. The workers on that node stop, a new node is scheduled, and they start back up again. Could there be something different that happens in a real preemption? (Are the GPUs sometimes detached from preemptible instances while the instances themselves keep running?)

[2019-05-22 13:04] matthen commented on #999
Aha, it just happened.

On the dashboard I see `worker-0` has failed with the message `"Pod Node didn't have enough resource: nvidia.com/gpu, requested: 1, used: 0, capacity: 0"`

Doing `kubectl describe` for the worker pod, I see:

[code]

The worker's logs do not have any error message, but are just cut off abruptly.

The chief has the error message that happens when one of the other workers or

[2019-05-23 03:10] matthen commented on #999
I wonder if this was the individual GPU running out of memory and failing (I was trying to push its limits). Before I had seen an error message about going out of memory, which I didn't see here.

[2019-05-23 03:14] gaocegege commented on #999
@matthen If the resource is not enough, the pod cannot be scheduled and it may be failed. But we do not show the real reason in TFJob since we think it can be shown in pods. I am not sure if we need show the info in TFJob. You know, there are so many problems that can fail a pod.

[2019-05-23 08:14] ScorpioCPH commented on #988
Hi, this is very useful for production, and here are some requirements about this feature:
- Export leader info, such as report `1` if this is leader and report `0` if not leader.
- Report TFJob object creation and deletion infos, such as how many object created per seconds.
- Report CPU/Memory used infos.

[2019-05-24 03:41] gaocegege commented on #722
Some helpful links:

- https://github.com/tensorflow/models/blob/master/official/utils/logs/metric_hook.py

[2019-05-24 03:56] ScorpioCPH commented on #965
`Completed` status is needed for user experience, and `resyncPeriod` gives informer a second chance to make sure that the local cache is equal to remote apiserver, but we should depend on `Event` which is more reliable, and we set resyncPeriod to 24 hours in our env.

[2019-05-24 03:59] ScorpioCPH commented on #965
resources cleaned up means the pods and services are deleted, I think complete status means all pods are exit 0 but not deleted yet.

[2019-05-24 06:35] krishnadurai commented on #988
@ScorpioCPH thanks for posting these requirements. I'll include these in the PR.

[2019-05-25 11:18] krishnadurai commented on #988
Metrics being targetted to track using Prometheus: 
1. Report for each pod (tf-operator, tf-master, tf-ps and tf-worker), reports on:
    1. CPU usage
    2. GPU usage
    3. RAM usage
    4. Memory usage
    5. Network usage
    6. I/O usage
    7. Keep Alive check
    8. Is Leader check
2. Report TFJob metrics:
    1. Job creation
    2. Job deletion
    3. Jobs created per hour
    4. Successfu

[2019-05-26 04:33] gaocegege commented on #988
@krishnadurai

Thanks for the summary. Will your PR be ready after 0.6 release?

[2019-05-26 06:58] johnugeorge commented on #988
@gaocegege  It is planned for upcoming v1 release

[2019-05-27 03:25] wackxu opened #1011 "Podgroup is constantly created and deleted after tfjob is success or failure"
Podgroup is constantly created and deleted after tfjob is success or failure, As shown below
![image](https://user-images.githubusercontent.com/30396467/58393455-61ae8d80-8071-11e9-812a-3f60456b51e5.png)

also, there is a JobTerminated event is constantly reporting.

![image](https://user-images.githubusercontent.com/30396467/58393464-6d9a4f80-8071-11e9-860c-6b4e7401c6e9.png)

[2019-05-27 13:54] wackxu opened #1016 "Create common CRD validate and mutating webhook for all operator"
If the spec of tfjob is invalid, we should reject the request when creating and also set default when create tfjob.  we can use the [k8s webhook](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/) to do this. And also we can replace the unstructured informer code.

[2019-05-27 14:21] #1000 closed

[2019-05-28 03:31] #1011 closed

[2019-05-28 21:10] karthikv2k opened #1019 "Deleting tf-job through the dashboard is not working"
When i tried to delete a tf-job through tf-job dashboard. I get a message saying "Are you sure you want to delete TFJob "test" in namespace "test"?"

<img width="845" alt="Screen Shot 2019-05-28 at 2 07 48 PM" src="https://user-images.githubusercontent.com/627808/58512579-50897d80-8152-11e9-9c64-e47c4cc44bb4.png">

[2019-05-28 23:58] richardsliu commented on #990
/close

[2019-05-28 23:58] #990 closed

[2019-06-03 16:46] richardsliu commented on #988
This is now done.
/close

[2019-06-03 16:46] #988 closed

[2019-06-03 19:52] richardsliu commented on #968
We can close this after https://github.com/kubeflow/tf-operator/issues/965 is fixed.

[2019-06-04 02:11] gaocegege commented on #436
/close

I think we could close the issue safely.

[2019-06-04 02:11] #436 closed

[2019-06-07 02:13] richardsliu commented on #976
Is this issue resolved?

Btw we have now deprecated v1beta1 in the latest version.

[2019-06-07 02:15] richardsliu commented on #804
Do we still need this issue?

[2019-06-07 02:17] johnugeorge commented on #824
This should be fixed in  #1012
closing the issue
/close

[2019-06-07 02:17] #824 closed

[2019-06-07 02:37] gaocegege commented on #804
Not sure, I will have a look

[2019-06-07 02:54] richardsliu opened #1024 "Creating tfjob in dashboard usability issues"
- Invalid tfjob configurations do not display any errors. The user has to examine network responses to see the actual error.
- The "resources" section should either be optional (as in the yaml file), or prepopulated with default values (all 0's).

[2019-06-07 03:01] richardsliu commented on #1019
I think I know what's going on.

The message is just misleading - looks like it is hardcoded.

Also for deletion to work, the user needs to actually click on the TFJob to delete. This means that the URL should be something like
[code]
instead of just
[code]

If either the namespace or name is missing in the request, the deletion will fail.

[2019-06-10 13:10] jlewi commented on #1024
@richardsliu Is the TFJob dashboard worth keeping? Do we know if folks are actually using it?

[2019-06-10 13:11] jlewi commented on #1019
Is the TFJob dashboard worth keeping?

[2019-06-10 13:13] wackxu commented on #1016
cc @gaocegege  @johnugeorge @richardsliu

[2019-06-10 13:17] jlewi commented on #965
@johnugeorge @richardsliu Any update on this? I believe this is the only remaining issue blocking 1.0?

[2019-06-10 13:20] jlewi commented on #968
Regarding the UI bug: #1019. Should we get eventually rid of or keep the TFJobs dashboard? Would it be better to have a more general UI that isn't specific to TFJob? How far can we get with existing monitoring tools like the K8s dashboard?

Should we open up a separate issue to figure out the future of the TFJobs dashboard?

[2019-06-10 17:49] johnugeorge commented on #968
Related slack conversation:  https://kubeflow.slack.com/archives/C985VJN9F/p1560184440012500

[2019-06-10 18:33] richardsliu commented on #965
Last week we decided that this issue is not a blocker for 1.0, so we removed the label.

[2019-06-10 19:38] richardsliu commented on #1024
Moving this out of 1.0 since the dashboard is being deprecated.

Will reconsider this in 0.7 if there is a demand to bring back the dashboard.

[2019-06-10 19:39] richardsliu commented on #1019
Moving this out of 1.0 since the dashboard is being deprecated.

Will reconsider this in 0.7 if there is a demand to bring back the dashboard.

[2019-06-11 01:36] gaocegege commented on #1016
It is a good idea. I think we need it.

[2019-06-11 01:37] gaocegege commented on #1016
Personally, I think we should use validation webhook instead of the unstructured informer in the code.

[2019-06-11 07:51] wackxu commented on #1016
@gaocegege Yes. agree with that. I think we can use one webhook server for all the operator to do validate or set default value,  WDYT?

[2019-06-11 08:00] gaocegege commented on #1016
Personally, SGTM.

WDYT @johnugeorge @richardsliu

[2019-06-11 08:06] johnugeorge commented on #1016
LGTM.  However, we should not take this up in this release as we are late.

[2019-06-11 08:11] gaocegege commented on #1016
Yeah, I think so

[2019-06-13 02:09] wackxu commented on #1016
@gaocegege @johnugeorge @richardsliu So we need create a new repository for the webhook, then I can start the webhook work.

[2019-06-13 02:19] gaocegege commented on #1016
We need a detailed proposal to persuade the community to open a new repo.

[2019-06-13 02:39] johnugeorge commented on #1016
Just wondering why do we need a separate repo for webhook?

[2019-06-13 02:41] gaocegege commented on #1016
I think we need a proposal first, then we can discuss it and decide if we need a repo for it.

@wackxu Are you interested in the proposal? I can co-work with you if you are busy.

[2019-06-13 02:55] wackxu commented on #1016
We may want to add validate webhook for all operators and we have about six operators, so I think use one operator for all operators and we can use some switch to let user to choose which webhook to use.

[2019-06-13 02:58] wackxu commented on #1016
I am busy with some internal work recently. You can start write the proposal and I can help review and implement the code.

[2019-06-13 03:14] gaocegege commented on #1016
@wackxu Maybe we could have a meeting later to make sure that we are on the same page.

[2019-06-13 03:30] wackxu commented on #1016
@gaocegege yes, we can talk more details in the slack.

[2019-06-18 03:19] xqqcoder opened #1026 "no error log for create tfjob fail"
use api to create tfjob , i get this error:
"create tfjob err,the error is the server rejected our request due to an error in our request (post tfjobs.kubeflow.org)",
i know it may be the spec not correct , but dont know where, please add some info in error to show the specific error (i also find nothing in operator log,  its too hard to fix this error)

[2019-06-18 12:56] ChanYiLin commented on #1026
Hi, to make it clear.
Did the issue happen when you created a job by using dashboard/backend api or through k8s api (kubectl).

[2019-06-19 03:37] xqqcoder commented on #1026
by k8s api ,but not kubectl , i generate a tfjob client

[2019-06-20 18:13] richardsliu commented on #968
/close

[2019-06-20 18:13] #968 closed

[2019-06-21 03:11] staugust opened #1029 "Will tf-operator upgrading k8s to 1.13?"
I'm facing the problem that function **testing.NewPatchSubresourceAction**  in **"k8s.io/client-go/test"** is not compatible between release-1.11 & release 1.13. At the mean time,  k8s cluster's version is 1.13, so I cannot compile my source code with k8s dependency specified to release-1.13.
Here is the error message:
`..\..\vendor\github.com\kubeflow\tf-operator\pkg\client\clientset\versioned\ty

[2019-06-21 03:25] johnugeorge commented on #1029
Yes. we would like to do it in the next release.

/area 0.7.0

[2019-06-21 03:36] staugust commented on #1029
Thank you very much.

[2019-06-21 07:42] gaocegege opened #1030 "[feature] Can we use one headless service for one job?"
We have ps/worker/chief for one TFJob. And now we create one headless service for one replica. I think we can use one headless service for easy-to-use.

After that, we could use `{tfjob_name}-{replica_type}-{index}.{service_name}.svc.cluster.local` in the code.

WDYT @johnugeorge @richardsliu

[2019-06-21 08:43] zlcnju opened #1031 "gang schedule annotation"
The annotation is need to be set when use gang scheduler as [described](https://github.com/kubernetes-sigs/kube-batch/blob/master/doc/usage/tutorial.md#how-to-enable-gang-scheduling-on-kubeflowtf-operator-for-kube-batch). However, now the podgroup is created by tf operator, but the annotation is not set auto. So, i think it's better to add annotation auto as the [scheduler name](https://github.com