[2021-08-23 03:39] biaochen opened #1377 "volcano scheduler with customized queue"
I'm using tf-operaotr v1.1.0 with volcano v1.3.0. It seems I can't customize the queue name to run tfjob, which means all my tfjobs will be under default queue.
The reason seems to be that tf-operator doesnot set the PodGroup.Spec.Queue field:

github.com/kubeflow/common/pkg/controller.v1/common/job_controller.go:
[code]

What should I do to support customizing queue name so I can put tfjobs into

[2021-08-23 06:16] gaocegege commented on #1377
https://github.com/kubeflow/common/issues/46

We do not implement it now. /cc @kubeflow/wg-training-leads

[2021-08-23 06:17] gaocegege commented on #1377
The easiest way to implement is to set one annotation in TFJob and use it as queue name when creating the PodGroup

[2021-08-23 06:38] johnugeorge commented on #1348
Related: https://github.com/kubeflow/manifests/issues/1962

manifests are already taken care of

[2021-08-23 06:51] johnugeorge commented on #1348
We will update docs after the rename @theadactyl  @Bobgy

[2021-08-23 08:56] shinytang6 commented on #1377
@biaochen @gaocegege The latest version of kubeflow/common should solve this problem. Maybe you should upgrade tf-operator version and have another try )

ref:
* https://github.com/kubeflow/common/blob/master/pkg/controller.v1/common/job.go#L226

[2021-08-23 09:03] gaocegege commented on #1377
@Jeffwan WDYT

[2021-08-23 14:18] Bobgy commented on #1348
LGTM too, let me confirm with other PSG members in the next meeting.

It would be helpful preparing a plan with when to rename and what should happen after the rename, so that everyone is better prepared for the change.

[2021-08-23 17:27] deepak-muley commented on #1376
I will take this up @Jeffwan for post 1.4

[2021-08-23 17:28] deepak-muley commented on #1376
/assign

[2021-08-23 17:37] thunderboltsid commented on #1311
/assign

[2021-08-24 01:45] biaochen commented on #1377
I'v tested with tf-operator v1.2.0 with volcano v1.3.0, with proper config, tfjob can run under queue which I created previously. This is nice. However, I encounter another issue: volcano scheduler doesnot act as expected:
First I create a queue:
`apiVersion: scheduling.volcano.sh/v1beta1
kind: Queue
metadata:
  name: test
spec:
  weight: 1
  reclaimable: false
  capability:
    cpu: 2`
Then I cre

[2021-08-24 02:00] biaochen commented on #1377
`apiVersion: scheduling.volcano.sh/v1beta1
kind: Queue
metadata:
  name: test
spec:
  weight: 1
  reclaimable: false
  capability:
    cpu: 2`

[2021-08-24 02:48] gaocegege commented on #1377
Can you please show us the PodGroup?

[2021-08-24 03:32] biaochen commented on #1377
Following is the status of podgroup auto-created by volcano when submitting a tfjob, podgroup will be auto-deleted after tfjob is completed.
[code]

[2021-08-24 03:34] gaocegege commented on #1377
/cc @shinytang6

[2021-08-24 04:50] Jeffwan commented on #1377
@biaochen  It might be good to attach volcano logs as well. Seem the setting is correct.

[2021-08-24 09:37] ultraji opened #1379 "some questions about job sync"
some questions:

q1:

https://github.com/kubeflow/tf-operator/blob/7e6953133c3d95c6f3103348351b999e4e84f955/pkg/controller.v1/tensorflow/controller.go#L321

why don't need to delete expectations here?

q2:

https://github.com/kubeflow/tf-operator/blob/7e6953133c3d95c6f3103348351b999e4e84f955/pkg/controller.v1/tensorflow/controller.go#L251

https://github.com/kubeflow/tf-operator/blob/7e6953133c3d9

[2021-08-25 00:18] Jeffwan commented on #1379
@ultraji

Q1: This is at different level. when pod/services are removed, expectations are deleted but not here at the job level.
example: https://github.com/kubeflow/common/blob/2f3f636f16ef4cedb12543a96ac1412da98bbca5/pkg/controller.v1/common/pod.go#L211

The logic you attached indicates the job is deleted. That means normal path has been went through. Does it make sense?

Q2:

`processNextWorkIt

[2021-08-25 00:19] Jeffwan commented on #1379
/kind question

[2021-08-25 09:43] ultraji commented on #1379
In k8s , `jobNeedsSync` Only affects the creation or deletion of pod, but in tf-operator, `tfjobNeedsSync` also affects the tfjob status update.  If satisfiedExpectations is fasle, the tfjob status will not be updated?

[2021-08-26 08:20] alembiewski opened #1380 "Python SDK for Kubeflow Training Operator"
Are there any plans to add Python SDK for the new all-in-one Kubeflow Training Operator?

[2021-08-26 11:49] pingsutw opened #1381 "Fail to install tf-operator in minikube because of the version of kubectl/kustomize"
Try to use `kubectl kustomize "github.com/kubeflow/tf-operator.git/manifests/overlays/standalone?ref=master" | kubectl apply -f -` to install **tf-oepator**, and I met below erorr
[code]
Kubernetes version:
[code]

[2021-08-27 09:12] qiankunli opened #1382 ""invalid memory address or nil pointer dereference""
old tf-operator version is v0.5.3 , I only upgrade tf-operator controller without upgrading crd/serviceacccount etc.
new tf-operator image is  `public.ecr.aws/j1r0q0g6/training/tf-operator:47a74b738920edbf4207160cec7e1dff9cdab3f2`

when I create tfjob

[code]

tf-operator container logs
[code]

[2021-08-27 17:51] Jeffwan opened #1385 "Cut beta release of tf-operator for 1.4 release"
We notice a few issues recently

~~1. Gang scheduling issue with Volcano #1382~~
~~2. installation issue due to kustomize version or kubectl #1381~~
3. Testing on existing SDK
~~4. E2E testing for rest of the frameworks besides TF.~~

I will spend some time this weekend to address some of above issue before we cut beta release.

[2021-08-29 03:05] gaocegege commented on #1382
Yes, the operator will crash if gang is enabled.

[2021-08-29 17:24] Jeffwan commented on #1381
1.19
https://github.com/kubernetes/kubernetes/blob/3e061debee7ceed92b2bf15a3b472c603e206b0c/go.mod#L141

1.20
https://github.com/kubernetes/kubernetes/blob/b9d77cc50b8d24422f2018ebe5b63e1d1b94236b/go.mod#L535

I didn't notice 1.19 and 1.20 are still using kustomize v2.0.x. The major reason kustomize doesn't work is only bases can refer to outside paths. See more details here. https://github.com/ku

[2021-08-29 17:49] Jeffwan opened #1386 "Update guidance to install all-in-one operator in README.md"
1. Add README.md to install all-in-one operator

There're some outdated contents to clean up as well

2. Fix expired API documentation links
https://github.com/kubeflow/tf-operator/blame/master/README.md#L40

`docs/api/generated.asciidoc` this is expired after this change https://github.com/kubeflow/tf-operator/pull/1370

3. expired invitation link

[2021-08-29 19:40] Jeffwan commented on #1385
SDK installation issue

[code]

[2021-08-29 22:05] #1386 closed

[2021-08-29 22:38] Jeffwan commented on #1380
Agree. It would be hard for all projects to have same version. We can try to have same version as others.

Yeah, I think at least we should regenerate it to reflect latest changes. I cut https://github.com/kubeflow/tf-operator/pull/1389 and it introduces some unnecessary files. We will resolve it later

[2021-08-29 22:39] Jeffwan commented on #1367
@thunderboltsid I think so. Thanks for the contribution

[2021-08-29 22:39] #1367 closed

[2021-08-30 00:37] Jeffwan commented on #1385
Manually test all 4 frameworks, all work well

[code]

[code]

https://github.com/kubeflow/tf-operator/blob/master/examples/mxnet/mxjob_dist_v1.yaml
https://github.com/kubeflow/tf-operator/blob/master/examples/xgboost/xgboostjob.yaml

[2021-08-30 00:41] Jeffwan opened #1392 "Update kubeflow/website for 1.4 release"
Sept 5 is the last day for doc update for 1.4 release. We should take a look at latest doc and make sure they are up to date.

https://www.kubeflow.org/docs/components/training/

[2021-08-30 02:31] gaocegege opened #1393 "[example] kubeflow/tf-dist-mnist-test:1.0 is missing in v1.2-branch examples/v1/dist-mnist"
/help

https://github.com/kubeflow/tf-operator/blob/v1.2-branch/examples/v1/dist-mnist/tf_job_mnist.yaml#L14 is missing.

[2021-08-30 02:50] gaocegege opened #1394 "[bug] Reconcilation fails when upgrading common to 0.3.6"
When the pods are created and running, the tfjob status is still hanging on Created.

The log of tf-operator:

[code]

Seems that the operator always tries to create the pod.

**We definitely need a way to prove that the changes in common are correct.

[2021-08-30 02:54] Jeffwan commented on #1392
/help
/good-first-issue

[2021-08-30 03:09] Jeffwan commented on #1393
You mean source code and Dockerfile are missing?

[2021-08-30 03:09] gaocegege commented on #1393
Docker image in Docker Hub.

[2021-08-30 03:37] Jeffwan commented on #1393
em.. try https://github.com/kubeflow/tf-operator/blob/master/examples/tensorflow/simple.yaml for short term.

Do you have access to dockerhub kubeflow? We can build one and push to the registry

[2021-08-30 04:04] Jeffwan commented on #1394
Let me run some manual e2e test to check the problem. I think the error either comes from `expectation` pr or `rtype` pr.

[2021-08-30 11:07] gaocegege commented on #1393
Yes, I have. But I am not sure if we can do it. Did we delete the repository?

[2021-08-30 15:38] alculquicondor commented on #1303
@gaocegege would you be willing to work on a KEP to handle different status codes? Or perhaps you could recommend another member of this community to do so. I can provide guidance.

You would have to document the expected behavior when setting failure status codes. Probably some of the design that you did for tf-operator could be directly shared. Note that the status codes would have to be configu

[2021-08-30 20:51] Jeffwan commented on #1393
@gaocegege I don't know and we don't have auditing for that registry.

[2021-08-30 20:56] Jeffwan commented on #1394
I revert `rtype` PR and everything works fine. I think the problem is when it filters the pods with specific rtype (case sensitive), it doesn't find corresponding pods. In the end, it tries to create new ones.

I think at this moment, we should revert the change and consider refactor later and make it more careful. WDYT? @gaocegege

see https://github.com/kubeflow/common/pull/158 for more details.

[2021-08-31 02:37] gaocegege commented on #1394
LGTM

[2021-08-31 02:45] gaocegege commented on #1303
Sure, I can help with it. Besides this and your KEP about ready status, is there any missing feature we need to implement?

[2021-08-31 05:01] johnugeorge commented on #1393
I think, we just kept a placeholder name.

[2021-08-31 13:27] alculquicondor commented on #1303
There are 2 more features, but they need further clarification of use cases, expected behavior and API:
- Resizing jobs
- Success Policy

I can also assist with them, but I admit that I don't understand the requirements well enough.

[2021-09-01 04:31] Jeffwan commented on #1394
both master and v1.2-branch are patched. We can close this issue

/close

[2021-09-01 04:31] #1394 closed

[2021-09-01 04:32] Jeffwan commented on #1385
I cut https://github.com/kubeflow/tf-operator/releases/tag/v1.3.0-rc.0 release. Official release would be discussed in the WG-training meeting.

[2021-09-06 06:28] zw0610 opened #1397 "change layout to follow the standard of kubebuilder?"
Shall we change the layout of files in this repository to follow the standard defined by kubebuilder? The contemporary layout prevents developers from creating new APIs with kuebuilder following the kuebuilder book.

[2021-09-06 07:24] johnugeorge commented on #1397
+1 to this

[2021-09-06 07:33] gaocegege commented on #1397
It will change the import path of api package.

/cc @kubeflow/wg-automl-leads

[2021-09-06 11:01] andreyvelich commented on #1397
@zw0610 Please can you share these standards ?

@gaocegege We are not importing the Training APIs in Katib, so it should be fine.

[2021-09-06 11:28] zw0610 commented on #1397
[code]

[2021-09-06 12:01] andreyvelich commented on #1397
Not sure if it works for us, since we are adding some common source code under `pkg/common`, and we are generating [controller clients](https://github.com/kubeflow/tf-operator/tree/master/pkg/client).
In addition to that, we use `kustomize` to install manifests, does kubebuilder support it ?

What advantages we will get by changing the folder structure ?
What are your thoughts @Jeffwan ?

[2021-09-06 12:04] gaocegege commented on #1397
Personally, I do not see many benefits here. The only benefit I can see is as Wang Zhang said

[2021-09-06 14:18] SharpEdgeMarshall opened #1399 "Missing Pod label for Service selector"
After this change https://github.com/kubeflow/tf-operator/commit/46c586463e3c13b0d4f2d534aae84a46329dc4ef the service use this selector: `name: training-operator` but there is no such label on pod.

[2021-09-06 17:27] Jeffwan opened #1400 "Rate exceeded for aws ecr image"
Seems public ECR has rate limitation as well. `Error response from daemon: toomanyrequests: Rate exceeded`  My env fails to download training image. It would be great to understand the limitation and have a proper configuration?

[code]

I can verify the image exists.
[code]

[2021-09-06 17:32] Jeffwan commented on #1399
em. I can verify this is a bug.  Since deployment use generated name, it doesn't have the `name: training-operator` in the pod.  We should have a different label like `component: training-operator` or use other labels as identifier.

@SharpEdgeMarshall  @deepak-muley Can you help fix it?

[code]

[2021-09-06 18:01] Jeffwan commented on #1397
@zw0610 That's the valid point. Can you generate the apis and move the current folder to overcome the folder structure difference. I think I made the change at that time. The major reason behind this is kubebuilder in the past doesn't have a stable structure and the structure it generates is not friendly to big projects (compare to simple one controller one operator model). For example, If we want

[2021-09-06 18:02] Jeffwan commented on #1400
This just takes more time to get operator up but no other issues

[2021-09-06 18:47] andreyvelich opened #1402 "Validation fails for MXJob Tune example"
I tried to run [MXJob Tune example](https://github.com/kubeflow/tf-operator/blob/master/examples/mxnet/tune/mx_job_tune_gpu_v1.yaml):
[code]

I am getting this error:
[code]

[2021-09-06 18:47] andreyvelich commented on #1402
cc @kubeflow/wg-training-leads

[2021-09-07 08:16] SharpEdgeMarshall commented on #1399
@Jeffwan why you say we can't simply add a label `name: training-operator`? If you see, before that commit there was a label `name: tf-job-operator` [service](https://github.com/kubeflow/tf-operator/commit/46c586463e3c13b0d4f2d534aae84a46329dc4ef#diff-5ef52fe5ae7603106fc8f999552546e48a1444662783b850e904b04404bd22d2L18) and [deployment](https://github.com/kubeflow/tf-operator/commit/46c586463e3c13b

[2021-09-07 21:11] Jeffwan commented on #1399
@SharpEdgeMarshall I think we can. Adding `name: training-operator` or reusing existing one sounds good to me.

This is current label.
[code]

can you help file a PR to address the issue. Thanks!

[2021-09-07 21:12] Jeffwan commented on #1402
/assign @Jeffwan

[2021-09-07 21:13] Jeffwan commented on #1399
/kind bug

[2021-09-07 21:13] Jeffwan commented on #1400
/area enhancement

[2021-09-07 21:13] Jeffwan commented on #1400
/kind enhancement

[2021-09-07 21:13] Jeffwan commented on #1402
/kind bug

[2021-09-08 08:49] gaocegege commented on #1345
Is there any progress? Recently some users expect that horovod can be supported in the universal operator.

[2021-09-08 08:49] gaocegege commented on #1345
/cc @qiankunli

[2021-09-08 17:54] deepak-muley commented on #1399
/assign

[2021-09-09 07:44] carmark commented on #1345
Our team have been working on this integration, hope that we can submit a draft PR next week.

[2021-09-09 13:18] alculquicondor commented on #1345
Are the integration and E2E tests being migrated as well?

[2021-09-09 19:30] andreyvelich opened #1403 "Unable to specify pod template metadata for TFJob"
I tried to run this example with Pod Template metadata:
[code]

The **metadata** was not populated in the TFJob.
This is output of the command `kubectl get tfjob test-tfjob -n kubeflow-user-example-com -o yaml`:

[code]

[2021-09-09 19:31] andreyvelich commented on #1403
/kind bug
/cc @kubeflow/wg-training-leads

[2021-09-10 01:40] gaocegege commented on #1403
I think it may be related to https://github.com/kubernetes/apiextensions-apiserver/issues/50.

[2021-09-10 03:05] shinytang6 commented on #1403
upgrade `controller-tools` to >= 0.6 should solve this problem.

ref:
* https://github.com/kubernetes-sigs/controller-tools/issues/448

[2021-09-10 13:32] andreyvelich commented on #1403
Should we add `x-kubernetes-preserve-unknown-fields: true` to our CR?
Similar to this: https://github.com/kubeflow/katib/blob/master/manifests/v1beta1/components/crd/experiment.yaml#L27.

[2021-09-14 14:58] andreyvelich commented on #1348
We have updated the docs: https://www.kubeflow.org/docs/components/training/
Are we ready to rename the repository @Bobgy @zijianjoy  ?

[2021-09-14 17:15] Jeffwan commented on #1399
@deepak-muley Do you get a chance to update the label?

[2021-09-14 17:32] deepak-muley commented on #1399
I will get a PR out today. Sorry for the delay.

[2021-09-15 06:29] gaocegege commented on #1403
I think we can add it.

[2021-09-15 07:08] Bobgy commented on #1348
@kubeflow/wg-training-leads can you give us a date?

[2021-09-15 09:03] johnugeorge commented on #1348
@Bobgy We will cut the training-operator release soon if there are no blockers on the RC released today. https://github.com/kubeflow/tf-operator/releases/tag/v1.3.0-rc.1

The plan is to rename the repo immediately after release is cut. We will post and confirm once release is cut to avoid any confusion.

[2021-09-15 17:01] Jeffwan commented on #1348
@andreyvelich @johnugeorge

Should we rename the repo first and then cut official release? We might need to make some changes in the code to reflect the change like configuration and go modules. etc.

these kind of code changes can go into official v1.3.0 release

[2021-09-15 17:08] Jeffwan commented on #1399
/close

[2021-09-15 17:08] #1399 closed

[2021-09-15 17:13] andreyvelich commented on #1348
I agree with @Jeffwan.
Since we have already changed our manifests to `training-operator`, we can rename this repo before Kubeflow 1.4

[2021-09-16 02:14] gaocegege commented on #1348
SGTM

[2021-09-16 11:11] shinytang6 commented on #1220
@gaocegege Is there any progress for that? This is a very useful feature )

[2021-09-16 11:55] qiankunli opened #1407 "add workqueue metric"
tf-operator version :v1.2.1

我们发现一些tfjob 从创建到开始调度耗时很久，达到8分钟，初步结论是tf-operator cpu 配少了 导致消费workqueue 速度不够（tfjob 每天400+，pod 3800+），后来增加了cpu和 threadiness，现在看大致正常了。
[code]

因此建议 将client-go workqueue 的metric加入到 tf-operator 的metric，这样分析延迟原因和证明问题解决 都方便一些，也便于用户作为调整cpu和 threadiness 的依据。

[2021-09-17 02:23] gaocegege commented on #1220
There is a outdated PR https://github.com/kubeflow/tf-operator/pull/1231

[2021-09-17 02:27] gaocegege commented on #1407
SGTM.

/kind feature

We should add metrics for the workqueue

[2021-09-17 02:27] gaocegege commented on #1407
/help-wanted

[2021-09-17 02:51] shinytang6 commented on #1220
Yes, I have been exploring this and found this issue. In theory, as long as the scale subresource is supported, tfjob cr can be combined with hpa to do something elastic. Is there any reason why the pr did not continue?

[2021-09-17 03:39] gaocegege commented on #1220
I do not have the bandwidth for it. I am working on PyTorch elastic before. If you are interested in it, feel free to take it.

[2021-09-17 03:40] gaocegege commented on #1220
Yes, but HPA may does not work well with batch jobs. Maybe we need another autoscaler for it.

[2021-09-17 08:20] shinytang6 commented on #1220
Can you elaborate more, are there any known issues ?

[2021-09-17 08:21] shinytang6 commented on #1220
sure, l'd like to have a try

[2021-09-17 08:22] gaocegege commented on #1220
HPA scales with CPU/Memmory usages, maybe we should have custom metrics/or co-design the HPA logic with the scheduler.

[2021-09-20 17:04] andreyvelich commented on #1403
/priority p0
cc @zijianjoy

@kubeflow/wg-training-leads Should we prioritise this task ?
For example, our users can't disable istio sidecar containers on the TFJobs and some examples will not work in Kubeflow installation.

[2021-09-20 18:51] Jeffwan commented on #1403
@andreyvelich @zijianjoy

I filed a PR to address this issue and I verify it's working fine now.  I can publish a new release later
https://github.com/kubeflow/tf-operator/pull/1409/files

[code]

[2021-09-20 18:55] andreyvelich commented on #1403
Thank you @Jeffwan !

[2021-09-20 19:09] zijianjoy commented on #1403
Thank you @Jeffwan and @andreyvelich !

[2021-09-20 22:46] pramodrj07 opened #1411 "Hyperlinks in the "Overview" section is incorrect/not found"
The hyperlinks in the overview section do not work.  This is for the API Definition to the custom resource definitions of TensorFlow, Pytorch, MXNet, and XGBoost

https://github.com/kubeflow/tf-operator#overview

[2021-09-21 00:23] Jeffwan commented on #1411
@pramodrj07 Thanks for reporting the issue. It should be https://github.com/kubeflow/tf-operator/blob/master/pkg/apis/xgboost/v1/xgboostjob_types.go.

If you have time to file a PR to fix them, that would be great!

/help
/good-first-issue

[2021-09-21 00:23] Jeffwan commented on #1411
/bug

[2021-09-21 16:43] alembiewski commented on #1380
@Jeffwan, any updates on this?

[2021-09-22 07:52] gaocegege opened #1414 "[feature] Support SchedulingPolicy in PyTorchJob"
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v1/pytorch/pytorchjob_controller.go#L164

SchedulingPolicy is not supported in PyTorchJob, we should implement it just like TFJob.

[2021-09-22 15:49] andreyvelich commented on #1311
As we discussed today on the AutoML and Training meeting, we want to use Python scripts instead of deprecated `ksonnet` to build Argo Workflows for the AWS CI infra.
This is the current tf-operator Argo workflow: https://github.com/kubeflow/tf-operator/blob/master/test/workflows/components/workflows.libsonnet#L98-L327. For all operators they will be similar.

To transfer this workflow to Python we

[2021-09-22 16:29] terrytangyuan commented on #1357
To simplify this, I am thinking about just adding an acknowledgement section in the README that links to the contributors graph in each of the original repos as well as the major contributors and maintainers. What do you think? Let me know what I might be missing in the meantime and I'll get to this soon.

[2021-09-22 17:52] Jeffwan commented on #1414
I think It's due to some migration issue. The support should be easy, we just need to use `job.spec.runPolicy` directly as  the argument for `reconcileJobs` because all jobs are migrated to use `commonv1.RunPolicy` now

[2021-09-23 02:46] gaocegege commented on #1357
SGTM.

[2021-09-23 13:51] terrytangyuan commented on #1345
https://github.com/kubeflow/tf-operator/pull/1413#issuecomment-925824047

From @alculquicondor

Let's continue this conversion here.

Is everyone okay with ONLY migrating the NEW V2 controller? I can see things will be hard to maintain if we migrate two versions. The old version will be deprecated at some point in the future anyways so we will have to come up with a migration/deprecation plan and

[2021-09-23 14:07] alculquicondor commented on #1345
First reference question:
I suppose the first kubeflow version to have the migrated controller would be at least 1.5. When is it supposed to be released?

[2021-09-23 14:08] zw0610 commented on #1345
No. I still see many users using the v1 API. Forcing users to adopt v2 API seems not a good choice for our internal users and external customers. As I brought in community meeting before, it will be great to provide solid user cases for v2 API at scale, which I can use as examples to our users showing the v2 controller is production ready.

[2021-09-23 14:11] zw0610 commented on #1345
Meanwhile, I think one of the benefits we use one-manager-multi-contorller mode is we can support multiple controllers in one repository. To me, mpi-controller v1 and mpi-controller v2 are just two controllers, which does not need to be maintained by the same group of contributors. I do not fully make sense of the exclusive decision to keep one instead of both.

[2021-09-23 14:13] terrytangyuan commented on #1345
Seems like we are facing the chicken or the egg problem. We need adoptions to show production readiness but production readiness comes from a wider range of testing from users.

@alculquicondor You mentioned the maintenance efforts for two controllers. I think at least @zw0610's team can help maintain v1 controller. Any other concerns?

[2021-09-23 14:13] alculquicondor commented on #1345
They can still use the v1 API. We just have to provide a conversion webhook. That seems like a much better direction to me. Still, without the conversion webhook, the jobs mostly work, except for a couple of fields.

[2021-09-23 14:16] alculquicondor commented on #1345
Depending on the date for the kubeflow 1.5 release, we can have this plan:

- Migrate the v2 controller only
- Wait for signal for users of the v2 controller from the mpi-operator repository.
- Fix any performance issue that might came up
- If it really doesn't scale, migrate the v1 controller as well.

[2021-09-23 18:04] terrytangyuan commented on #1345
FYI I added this to Oct 6th AutoML and Training WG Meeting agenda to discuss. cc @andreyvelich

[2021-09-23 18:12] andreyvelich commented on #1345
Thank you @terrytangyuan.
@alculquicondor @zw0610 Please try to attend this meeting.
This is the meeting notes: https://bit.ly/2PWVCkV

[2021-09-23 18:18] alculquicondor commented on #1345
Thanks, I'll be there

[2021-09-23 22:06] andreyvelich commented on #1311
I created PR in Katib: https://github.com/kubeflow/katib/pull/1674 to switch from ksonnet to python.
@thunderboltsid @Jeffwan I think we can keep the similar process for Training Operator.

[2021-09-24 01:51] gaocegege commented on #1311
Sounds really good

[2021-09-24 03:08] terrytangyuan opened #1423 "Add "not maintained" notice to other operator repos"
We should add notice to all other operator repos and freeze code changes. Let's use this issue to discuss the wording before adding the notice to the top of the README files in those repos.

/cc @kubeflow/wg-training-leads

[2021-09-24 03:16] gaocegege commented on #1423
SGTM.

[2021-09-24 04:11] Jeffwan commented on #1423
sounds good. Let's hold this task until we officially release the repo

[2021-09-24 04:14] Jeffwan commented on #1403
This has been supported.

/close

[2021-09-24 04:14] #1403 closed

[2021-09-24 04:49] #1357 closed

[2021-09-24 20:33] Jeffwan commented on #1311
Using python, we can still leverage kubeflow/testing common code base, right?
I am thinking if we should write test codes in golang later. Bring up this topic since we will anyway rewrite the tests.

[2021-09-24 21:01] andreyvelich commented on #1311
@Jeffwan Yes, we can.
Check here: https://github.com/kubeflow/katib/blob/f2af5d5ab7385eedbb903060dcf64f6b42fcdcf6/test/e2e/v1beta1/argo_workflow.py#L312.

I am using shared infra utils.

[2021-09-29 01:17] terrytangyuan opened #1424 "Clean up TF specific docs"
For example, README refers to https://github.com/kubeflow/tf-operator/blob/master/docs/monitoring/README.md that has TF specific information.

[2021-09-29 17:31] Jeffwan commented on #1424
/help
/good-first-issue

[2021-09-29 17:45] Jeffwan opened #1425 "Cut official release of 1.3.0"
Hi team, I think it's time to cut official release.

Since 2021-08-31, we cut three release candidates. latest RC passes community tests and it works well with Katib, Notebook, Pipeline in Kubeflow 1.4. All related issues have been fixed in latest branch. One last thing I am not sure is if we want to bring sdk changes back to v1.3-branch, please leave some comments.

SDK
1. https://github.com/kube

[2021-09-29 17:45] Jeffwan commented on #1425
Note: following two PRs are not part of v1.3 scope.
1.  Generic job using reconciler.v1 https://github.com/kubeflow/tf-operator/pull/1398
2. MPI integration https://github.com/kubeflow/tf-operator/pull/1413

[2021-09-29 17:51] terrytangyuan commented on #1425
+1

[2021-09-30 08:28] qiankunli opened #1426 "Podgroup is constantly created and deleted after tfjob is success or failure"
tf-operator version:v1.2.1

[code]

tjob is successfully sucess in 2021/09/29, but  constantly created and delete podgroup on 2021/09/30

[2021-09-30 08:52] gaocegege commented on #1426
The PodGroup is created and deleted many times. It is weird.

/cc @kubeflow/wg-training-leads

[2021-09-30 08:53] gaocegege commented on #1426
Maybe it is related to Expectations.

[2021-10-02 17:52] Jeffwan commented on #1426
If the job status is success or failure, we should skip reconciling actually..

[2021-10-03 01:43] terrytangyuan commented on #1348
@Bobgy I think we are ready for this. Could you help rename the repo when you get a chance?

[2021-10-03 01:49] Bobgy commented on #1348
I am on vacation, can you ask @zijianjoy or @james-jwu?

[2021-10-03 01:53] terrytangyuan commented on #1348
Thanks for letting me know and enjoy your vacation!

@zijianjoy and @james-jwu Could you help rename this repo to “training-operator”?

[2021-10-03 19:13] Jeffwan opened #1429 "Clean up test folder before testing"
I tried to restart the post submit workflow to rebuild the image. However, I notice we didn't check folder existence and this results in failure.

https://argo.kubeflow-testing.com/workflows/kubeflow-test-infra/kubeflow-tf-operator-postsubmit-v1-e0b872e-2128-8fc4-dc8vm?tab=workflow&nodeId=kubeflow-tf-operator-postsubmit-v1-e0b872e-2128-8fc4-dc8vm-922790636&sidePanel=logs%3Akubeflow-tf-operator-pos

[2021-10-03 19:34] Jeffwan commented on #1425
SDK can be release separately and even we release master change, it should work well with v1.3-branch.  so SDK are excluded from 1.3.0. I will prepare release and cut tag today. We can update the manifest repo later today

[2021-10-03 21:28] Jeffwan commented on #1425
Hi team,

I cut official v1.3.0 release https://github.com/kubeflow/tf-operator/releases/tag/v1.3.0
I create a manifest update PR here https://github.com/kubeflow/manifests/pull/2042

I will ask release-team to merge it in before they cut official kubeflow 1.4 release. Currently, we are using rc.2 which is a stable version as well.  The only difference is #1415

[2021-10-03 21:29] Jeffwan commented on #1318
For universal operator related stores are all done. some items need further improvement will be moved out from this epic. We can track their progress separately.

[2021-10-03 21:29] #1318 closed

[2021-10-03 21:33] Jeffwan opened #1433 "Master branch should provide a nightly image"
Even we enable post-job workflow to build the image for every commit, we have to manually update manifest to use latest tag.

This is inconvenient to use nightly image. In some situation, master manifest may use elder version than stable release branch. it totally depends on when we update the manifest.

We should make post submit job retag commit to `nightly` as well and push the image. In that c

[2021-10-03 21:33] Jeffwan commented on #1433
/kind enhancement

[2021-10-03 21:33] Jeffwan commented on #1433
/help

[2021-10-04 00:51] Jeffwan commented on #1380
It's auto closed. I keep it open for pypi release update.

[2021-10-04 08:59] alembiewski commented on #1380
Thanks, @Jeffwan! I built and uploaded the package to the TestPyPI repository for testing:
https://test.pypi.org/project/kubeflow-training/1.3.0/#description
After it is verified and tested, we can then release it to PyPI. Should we update the release notes mentioning the updated SDK for 1.3.0 after the package is published?

/cc @kubeflow/wg-training-leads

[2021-10-04 16:30] james-jwu commented on #1348
I renamed the repo. Please verify everything is working.

[2021-10-04 16:37] terrytangyuan commented on #1348
Thank you! cc @kubeflow/wg-training-leads

[2021-10-04 22:05] dimitraz commented on #1301
Hi @Jeffwan, is this still open? I wouldn't mind taking a look :)

[2021-10-04 22:10] dimitraz commented on #1350
Hi, I'm happy to take a look at this one if its free :)

[2021-10-04 22:24] Jeffwan commented on #1350
@dimitraz Feel free to pick it up.

/assign @dimitraz

[2021-10-06 17:23] tenzen-y opened #1436 "Add Go test to CI"
/kind feature

I think this repository is not running any tests for Go in CI. So, I'd like to add CI to run the test for Go same as [Katib](https://github.com/kubeflow/katib/blob/8d8acd828979e192b07a5d74c81e87b316b365d3/.github/workflows/test-go.yaml) using GitHub actions.
Does it sound good? @kubeflow/wg-training-leads

- [coverralls](https://coveralls.io/github/kubeflow/tf-operator?branch=master

[2021-10-06 18:18] terrytangyuan commented on #1348
https://github.com/kubeflow/internal-acls/pull/499 did not seem to take effect (note the repo description did not change). @zijianjoy and @james-jwu Any ideas? Once that's fixed, we can close this issue.

[2021-10-06 18:34] andreyvelich commented on #1436
It should be great, thank you @tenzen-y!
What do you think @Jeffwan ?
Corresponding issue: https://github.com/kubeflow/training-operator/issues/1311.

[2021-10-07 19:32] james-jwu commented on #1348
Automated update tool is running now. However, the tool is configured to update teams/members, and skips repo metadata. That's why repo description is not updated. I am hesitant to turn on more update options without a lot of testing. I think the best option for now is to manually update your repo description. Can you check if everything else is in order?

[2021-10-07 20:08] #1348 closed

[2021-10-08 18:22] #1436 closed

[2021-10-08 18:31] tenzen-y opened #1442 "Display coverage % in GitHub actions list"
/kind feature

Display coverage report in GitHub actions lists same as https://github.com/coverallsapp/coveralls-node-demo/pull/18.

Discussion: https://github.com/kubeflow/training-operator/pull/1440#discussion_r724494969

cc @andreyvelich @Jeffwan

[2021-10-09 00:12] andreyvelich commented on #1442
As I can see the Coveralls reports results properly in the PR after each build: https://github.com/kubeflow/training-operator/pull/1434#issuecomment-939181542
Which should work for us.

I think the reason why we don't see the similar message in Katib is because settings are disabled.

@james-jwu @Bobgy @zijianjoy Since you have Katib repository admin permission, please can you check if settings ar

[2021-10-09 02:52] Jeffwan opened #1443 "Update prometheus monitoring doc"
This doc still targets for TFJob. In the past release, we have applied metrics to all frameworks and I think this needs to be updated.  https://github.com/kubeflow/training-operator/tree/master/docs/monitoring This issue is to track the progress.

/cc @deepak-muley

[2021-10-09 02:52] Jeffwan commented on #1443
/help
/good-first-issue

[2021-10-09 03:02] #1425 closed

[2021-10-09 09:42] qiankunli opened #1444 "github.com/go-logr/zapr.(*zapLogger).Error"
version: v1.3.0
[code]

[2021-10-09 09:45] #1444 closed, assigned to nobody

[2021-10-09 20:50] Jeffwan commented on #1444
@qiankunli Seems this is expected?

[2021-10-09 21:24] Jeffwan opened #1445 "SDK: wait_for_job reports typeError"
I follow instruction https://github.com/kubeflow/training-operator/blob/master/sdk/python/examples/kubeflow-tfjob-sdk.ipynb  and when I run to `tfjob_client.wait_for_job('mnist', namespace=namespace, watch=True)` and I got follow errors. Rest of the steps work well. I think it's probably the python and dependency compatibility issue.

[code]

![image](https://user-images.githubusercontent.com/4739

[2021-10-09 23:22] alembiewski commented on #1445
I think it's `python3.9` and `ipykernel` compatibility issue or something might be wrong on `table-logger` side, or both. But this is definitely not related to the `retrying` package - the `watch` method is annotated to retry on error, so that's the reason we see it in the. stack trace. FTR, I was able to run the notebook under question end-to-end without any issues on the following env:
[code]
Ca

[2021-10-10 01:38] Jeffwan commented on #1445
@alembiewski Here's my envs

[code]

![image](https://user-images.githubusercontent.com/4739316/136678225-7e23be2c-c3eb-488d-b29c-564fe455a370.png)

[2021-10-10 21:16] alembiewski commented on #1445
Hey @Jeffwan, I dug a bit deeper into this issue and it seems that `table-logger` library used in `watch`method of the `tf_job_watch.py` is not compatible with `ipykernel` 6.0.0 and up. So most likely if you try to downgrade the `ipkernel` version to `5.x`, it will work even on your env. Sharing some findings below.

Here is the commit that changes the logic of the `write` method https://github.co

[2021-10-11 10:56] alembiewski opened #1446 "[sdk]: Replace `TableLogger` component in the SDK for better support with `ipykernel>=6.x`"
The current version of `table-logger` package doesn't work with `ipykernel >= 6.0.0` due to the recent changes in the latter, making writing string as bytes no longer supported.
We need to exclude `table-logger` dependency from the SDK and replace the `TableLogger` component used in `*_job_watch.py` for reporting job events with a more generic approach, making the watcher work with the newer `ipyk

[2021-10-11 11:04] terrytangyuan commented on #1445
Yes agree it's not a blocker. We can probably fix this by adding logic around imports on different versions of the problematic module.

[2021-10-12 03:55] tenzen-y commented on #1442
Thanks for telling me! @andreyvelich
/close

[2021-10-12 03:55] #1442 closed

[2021-10-13 19:26] alembiewski commented on #1380
Hey @Jeffwan, is the testing of the SDK still ongoing? Are there any estimations regarding when the package will be published to the PyPI?

[2021-10-14 05:54] qiankunli opened #1447 "training-operator set scheduler error"
training-operator v1.3.0

if `spec.Template.Spec.SchedulerName` is null, IsGangSchedulerSet will return false, podTemplate.Spec.SchedulerName will not set gangSchedulerName

[code]
the same code in tf-operator v1.2.1

[code]

[2021-10-14 08:29] alembiewski commented on #1380
Sounds good, thanks @Jeffwan! Looking forward for the SDK to be released. Please let me know if any help is needed with publishing it to PyPI, glad to help with that

[2021-10-14 17:54] Jeffwan commented on #1447
em. I agree the logic here is kind of confusing but current patch doesn't make sense to me.

We need to define the correct behavior here. With gang enabled,

1. If there's different scheduler name, then we file warning events.
2. If there's  empty scheduler name, we set to default
3. If there's already `volcano` scheduler name, we keep it same.

`IsGangSchedulerSet ` can be refactored to two metho

[2021-10-15 01:57] gaocegege commented on #1447
I think it should be: If there is empty scheduler name or null

[2021-10-15 05:58] qiankunli commented on #1447
@Jeffwan I think it is a better idea.  IsGangSchedulerSet have two logic
1.  is replica set schedulerName
2. is schedulerName is same with gangSchedulerName

[code]
or just simply
[code]

[2021-10-27 09:18] zw0610 opened #1452 "tfjob status not match when EnableDynamicWorker set true"
In proposal [Support ClusterSpec Propagation Feature](https://github.com/kubeflow/training-operator/issues/1141), the following behaviors are expected:

However, when testing a tfjob with `EnableDynamicWorker` set true (controller: v1.3.0):

1. deleting a worker pod (worker failed) leads to the status of the tfjob turning `Failed`, leading to the termination of other pods
2. ~~while scaling up (in

[2021-10-28 09:16] gaocegege opened #1454 "[question] PyTorchJob MNIST example training speed"
Some users complain that the more CPU worker they run in the same kubelet, the lower the speed is. We need to figure it out.

[2021-11-01 11:09] berlinsaint opened #1456 "Bug: SomeTimes Coredumped using tfjob"
hello, iam using tfjob to train keras model.

most of times, they work fine. But some times, it will crash  after train and savemodel.

our partial train code is here:

[code]
And the log is:
![image](https://user-images.githubusercontent.com/10629930/139662542-31221f80-a0de-4c76-b4f5-cfd017612de4.png)

I get the coredumpe file;

it show this:
![image](https://user-images.githubusercontent.com/106

[2021-11-01 11:22] gaocegege commented on #1456
Hi, can you please show us the version of your keras/tensorflow?

[2021-11-01 11:25] gaocegege commented on #1456
https://stackoverflow.com/questions/7381757/c-terminate-called-without-an-active-exception

Maybe there is a thread that did not join or detach.

[2021-11-01 11:53] berlinsaint commented on #1456
aslo submit the same issue. [tensorflow-1456](https://github.com/kubeflow/training-operator/issues/1456)

[2021-11-04 07:15] berlinsaint commented on #1447
The same error here.

[code]
so, does this mean the volcano is not working?

[2021-11-04 07:25] gaocegege commented on #1447
@Jeffwan Can you please help review the PR https://github.com/kubeflow/training-operator/pull/1448 ?

@berlinsaint Personally, I think it does not work with this bug not fixed.

[2021-11-04 12:05] Jeffwan commented on #1447
@gaocegege Sounds good. I ping @qiankunli for renaming

[2021-11-04 12:32] qiankunli commented on #1447
@Jeffwan

i add a GetSchedulerName method, it may be simple to read
[code]

[2021-11-04 13:59] gaocegege commented on #1447
@berlinsaint The patch is merged, you can use the lastest code. The bug should be fixed.

[2021-11-04 14:03] berlinsaint commented on #1447
Thanks. In fact , i have compiled them myself this afternoon..

[2021-11-05 01:41] gaocegege commented on #1447
Awesome. Sorry for the late fix.

[2021-11-05 05:08] whybeyoung opened #1458 "About tfjob restartpolicy and svc check health problem."
@gaocegege
原谅我用中文表述下这个问题抱歉，适当时候我会翻译下，避免表述不清

我们再用training-operator时候发现有不规则概率出现  tfob中worker任务因为看起来像是域名解析导致的退出。非必现，有时候出现几率比较高，在使用volcano gang后，这种现象有所减缓。

大概背景:
我们使用 TF2.6 训练  allreduce 同步式任务，任务有两个worker。

job的yaml大概如下:
[code]

请注意这里的  restartPolicy我们这里设置了Never，因为我们希望如果训练脚本遇到一些因为训练数据问题导致的不可预知错误时候能够就地失败，而不是restart，我们的训练数据是来源于线上清洗后的，有概率不符合规范。
所以onfailure重启pod不是我需要的，且重启没有意义，因为因为数据未知的重启训练肯定还是错误。此外这里的Nev

[2021-11-05 05:18] berlinsaint commented on #1458
Translation:

Forgive me for expressing this question in Chinese. Sorry, I will translate it in due course to avoid ambiguity.

When we using training-operator, we find that there is an irregular probability of the worker task in tfob because it looks like the exit caused by the domain name resolution. It is not necessary to appear, sometimes the probability of occurrence is relatively high, after

[2021-11-05 05:33] gaocegege commented on #1458
The image link is broken.

[2021-11-05 05:35] gaocegege commented on #1458
Are you using CoreDNS? Could you please check if the CoreDNS works well?

[2021-11-05 05:35] gaocegege commented on #1423
Can we move forward?

[2021-11-05 06:21] berlinsaint commented on #1458
yes . coredns has default configured. i have checked them logs .（not open debug） no more logs

[2021-11-05 06:26] berlinsaint commented on #1458
fixed

[2021-11-05 06:32] gaocegege commented on #1458
Does the job only contain worker spec? Is there any PS?

[2021-11-05 08:34] II-VSB-II opened #1459 "Help Wanted in ParameterServerStrategy Example."
**Dataset:** [https://www.kaggle.com/c/flower-classification-with-tpus/data](https://www.kaggle.com/c/flower-classification-with-tpus/data)
**Code:** [code.zip](https://github.com/kubeflow/training-operator/files/7481680/code.zip)

We are trying to train the above dataset using ParameterServerStrategy. We tried with 2 worker nodes and then increased the worker nodes to 4 but it's taking the same t

[2021-11-05 08:38] berlinsaint commented on #1458
no.   only workers

[2021-11-05 08:43] gaocegege commented on #1458
I guess that the pod is running before the service is created. Then it does not find the DNS records. The job is failed.

I will try to reproduce it locally.

[2021-11-05 08:43] zw0610 commented on #1459
Could you share the resource set for `worker`, `ps` and `chief`? It will also be helpful if the network configuration is provided.

[2021-11-05 08:54] II-VSB-II commented on #1459
@zw0610 As of now I am training on CPU only and I have not specified any resources in my YAML. I tried previously by adding resources limit but my pod was evicted because of Memory so I removed it.

[2021-11-05 10:02] berlinsaint commented on #1458
3ks！

[2021-11-05 12:45] terrytangyuan commented on #1423
Yes, I think so. I'll start adding notices.

[2021-11-05 13:32] gaocegege commented on #1458
Did not get time to do it.

[2021-11-05 14:25] johnugeorge commented on #1423
+1 to this. There are issues created in other repos even now

[2021-11-05 14:27] johnugeorge commented on #1423
Should we archive repos as well (with notice in Readme)?

[2021-11-05 14:36] terrytangyuan commented on #1423
Let me update the README and then comment in https://github.com/kubeflow/community/issues/479 to see if we can include those repos as part of the archiving process.

@kubeflow/wg-training-leads Let me know if there's any concerns for archiving (pytorch, xgboost, mxnet).

[2021-11-06 02:06] terrytangyuan commented on #1423
https://github.com/kubeflow/pytorch-operator/pull/361
https://github.com/kubeflow/mxnet-operator/pull/99
https://github.com/kubeflow/xgboost-operator/pull/125

[2021-11-06 02:17] Jeffwan commented on #1423
Thanks for driving the efforts. It sounds good to me.  Let's give the notice and archive them later.

[2021-11-06 10:34] terrytangyuan commented on #1423
Notices were added and I commented on the issue to archive the repos. Let's track the progress there.

[2021-11-06 10:34] #1423 closed

[2021-11-08 08:53] gaocegege commented on #1313
Should we keep "github.com/go-logr/logr" or "github.com/sirupsen/logrus"?

Now we are using both. Personally, I prefer keeping logr and removing logrus.

[2021-11-09 01:32] berlinsaint commented on #1458
I changed   the order of reconsile service and pods...... works well but here is still a small chance of having the same problem

[2021-11-09 02:04] gaocegege commented on #1458
Nice try. Would you mind adding me wechat?

gaocedidi

[2021-11-09 14:05] #1381 closed, assigned to nobody

[2021-11-09 14:05] terrytangyuan commented on #1376
@deepak-muley Any progress/updates on this?

[2021-11-15 09:52] Wenshiqi222 opened #1466 "How can i add the Priorityclass to the TFjob？"
Since i wanna realize the gangscheduling with the Scheduler-Framework，i need to ensure that any pod belongs to the same PodGroup should has the same priority and different PodGroup should has different priority .   i can add the podgroup in the "Labels” field，but since the "PriorityClass” belongs to Pod.Spec field， how can i add the PirorityClass to the PodGroup or the specific TFjob ？
Thanks for

[2021-11-15 10:05] gaocegege commented on #1466
/cc @zw0610

[2021-11-15 13:08] zw0610 commented on #1466
When you define [spec](https://github.com/kubeflow/training-operator/blob/master/pkg/apis/tensorflow/v1/types.go#L68) for each ReplicaType, it's actually [`PodTemplateSpec`](https://github.com/kubeflow/common/blob/v0.3.7/pkg/apis/common/v1/types.go#L77) which contains a field called [`PriorityClassName`](https://github.com/kubernetes/api/blob/2d1f8bde0d9a17503a72cd99bb8d227e547249b4/core/v1/types.

[2021-11-16 02:29] Wenshiqi222 commented on #1466
Got it，really thanks for your help~

[2021-11-16 02:29] #1466 closed

[2021-11-16 03:43] Jeffwan opened #1467 "Write down e2e failure debug process"
A follow up on https://github.com/kubeflow/training-operator/pull/1462

I notice it's helpful to write down the process to help contributors understand how to debug the failures. The guidance will give us a clear path on local e2e case debugging.

[2021-11-16 03:52] Jeffwan opened #1468 "Deprecate ksonnet and use python/golang to submit jobs"
Ksonnet has been deprecated for long time but we are still using it in testing flow.

The next step is

1. Use python/golang to render testing job template.
2. Find alternative to render argo workloads
3. Simplify e2e testing tech stack and remove ksonnet dependencies.

[2021-11-17 02:25] #1467 closed

[2021-11-18 07:40] cakeislife100 opened #1471 "Installing kubeflow-training breaks import for other kubeflow packages (katib, fairing, etc.)"
Installing `kubeflow-training` (at the user-level) and then trying to import `katib` (previously installed at the system level) leads to the error:
[code]

To repro:
1. Install `kubeflow-katib` at the system level using `pip install kubeflow-katib`
2. Install `kubeflow-training` at the user level using `pip install --user kubeflow-training`
3. Try to import `katib`

I believe the fix should be to

[2021-11-18 07:42] gaocegege commented on #1471
cc @alembiewski

[2021-11-18 07:44] gaocegege commented on #1471
Thanks for the issue. I am not familiar with the python client, maybe @alembiewski could help us.

https://github.com/kubeflow/training-operator/commit/6523d8d2b7a27f1140a05971843cc4da7523694f#diff-b7637017217263593c31539d809c79ef7ddcc2018b8b454ba6bdbacdb6962aaaL1

[2021-11-21 12:01] FANG-MING opened #1475 "PyTorch DistributedDataParallel training with multi nodes"
could you provied a demo for PyTorch DistributedDataParallel training with multi nodes?

[2021-11-22 01:57] gaocegege commented on #1475
Does it work for you ? https://github.com/kubeflow/training-operator/blob/master/examples/pytorch/mnist/v1/pytorch_job_mnist_nccl.yaml

[2021-11-22 04:37] WEICHINLIN commented on #1369
Has this function been implemented?
I want to know how to implement this function.

[2021-11-22 04:54] zw0610 commented on #1369
I only have an implementation for poc based on v0.5.3: https://github.com/zw0610/tf-operator/tree/diverse-worker

[2021-11-22 06:21] gaocegege commented on #1369
Can you please describe your use scenario? Maybe there is another workaround.

[2021-11-22 08:23] Shuai-Xie opened #1478 "PytorchJob DDP training will stop if I delete a worker pod"
Hi, everyone.

I want to test the failure tolerance of PytorchJob.

I started a PytorchJob with 1 master and 3 workers.
[code]

It trains fine.

Then I deleted a worker.

[code]

As I set `restartPolicy: OnFailure`, this pod will restart quickly with the same name `mnist-ddp-worker-1`.

But sadly, I can't see this newborn worker join the DDP training.

Thanks.

[2021-11-22 08:47] WEICHINLIN commented on #1369
My previous expression is not correct.
I want to understand the purpose of this ISSUE.
Including whether the above Yaml file can be executed, and the problem ISSUE want to solve.
I didn't quite understand after reading the previous comments.

[2021-11-22 10:37] gaocegege commented on #1369
We want to support heterogeneous PS/worker.

For example, some workers use CPU to train while some others use GPU.

[2021-11-22 15:52] terrytangyuan opened #1479 "Migrate v2 MPI operator to the unified operator"
Now that v1 MPI operator has been migrated to this repo https://github.com/kubeflow/training-operator/pull/1457. Let's use this issue to track the progress on v2.

https://github.com/kubeflow/mpi-operator/tree/master/v2

cc @hackerboy01 @zw0610 @alculquicondor @kubeflow/wg-training-leads

[2021-11-23 10:53] aikow opened #1481 "Python PytorchJob: no attribute openapi_types for example code"
When trying to start a PytorchJob using the latest example from the PytorchJob [documentation](https://github.com/kubeflow/pytorch-operator/blob/master/sdk/python/docs/PyTorchJobClient.md), The client fails with:

[code]

After doing some research, I found numerous threads that suggested rolling back to version 10.0.1, but I also found an [issue](https://github.com/kubeflow/training-operator/issue

[2021-11-24 07:16] gaocegege opened #1482 "[bug] Missing init container in PyTorchJob"
https://github.com/kubeflow/pytorch-operator/blob/4aeb6503162465766476519339d3285f75ffe03e/pkg/common/config/config.go is missing in the training operator, thus the job may fail because of the bad DNS resolution.

[2021-11-24 07:16] gaocegege commented on #1482
/assign @gaocegege

[2021-11-24 07:56] gaocegege commented on #1482
I will fix it after #1453 is merged.

[2021-11-24 08:09] gaocegege commented on #1478
Are you sure that your training script is fault tolerant?

[2021-11-25 06:09] qiankunli opened #1483 "swagger.json missing Pytorchjob.Spec.ElasticPolicy"

[2021-11-25 06:10] gaocegege commented on #1483
/assign

[2021-11-26 06:42] #1483 closed

[2021-11-26 13:58] alembiewski commented on #1471
Thanks for finding that, @cakeislife100! The fix you provided in the description looks good to me - it seems like this code was lost during the major SDK upgrade. Feel free to open a PR or let me know if you need any help with that.

[2021-11-27 08:42] Shuai-Xie commented on #1478
No. The training code is almost the same as the official PyTorch mnist demo.
I just want to test if the restarted worker can join the DDP training automatically.

By the way, I notice that `elasticPolicy` feature has been integrated into PytorchJob.
Does that mean that we can use the elastic feature in `kubeflow 1.4.0` with `training-operator 1.3.0` now?

[2021-11-29 02:02] gaocegege commented on #1478
I do not think the official PyTorch demo supports fault-tolerant. Maybe you need to dive into the demo.

1.4.0 is already released. But the elasticPolicy is introduced in master branch, thus you cannot use it in 1.4.0.

[2021-11-29 07:34] jazka opened #1492 "Reconcile PyTorch Job error Operation cannot be fulfilled on pytrochjobs.kubeflow.org"
After creating Pytorch Job, the stauts of the job pods will always be pending, and the training-operator controller throws error as below:

`Reconcile PyTorch Job error Operation cannot be fulfilled on pytrochjobs.kubeflow.org "xxx-pytorchjob": the object has been modifyed; please apply your changes to the latest version and try again`

The gang schedule is enabled with volcano.

[2021-11-29 07:35] gaocegege commented on #1492
It should not affect the logic since we will retry. Could you please show us the full log? Which version are you using?

[2021-11-29 07:43] jazka commented on #1492
Yes, it tries to "Reconciling", but the job pods hang on "pending" status, and there is no any logs about this job on volcano-scheduer pod.

[2021-11-29 07:49] gaocegege commented on #1492
May I ask which version you are using?

[2021-11-29 07:58] jazka commented on #1492
The container image of training operator is "public.ecr.aws/j1r0q0g6/training/training-operator:760ac1171dd30039a7363ffa03c77454bd714da5". I am not sure if it is okay to check the version, or any other way to get the version?

[2021-11-29 08:07] gaocegege commented on #1492
/cc @Jeffwan @PatrickXYS Do you know about it?

Are you using it in AWS?

[2021-11-29 08:21] jazka commented on #1492
If it is not the official version, I can change it with official version and try it again.

[2021-11-29 08:39] jazka commented on #1492
Attach the error logs:

![1638175051459.png](https://user-images.githubusercontent.com/7553111/143834600-3cb51d98-f4a9-4688-8a90-4b665ff131b1.png)

[2021-11-29 08:42] gaocegege commented on #1492
Is there any pod created?

[2021-11-29 09:18] jazka commented on #1492
Yes, the pods are created but hang on pending status.

![1638177266263.png](https://user-images.githubusercontent.com/7553111/143840389-278cf282-8a26-4d75-9cde-be53fe62569a.png)

![1638177263745.png](https://user-images.githubusercontent.com/7553111/143840448-20b5bd2e-af92-40cb-878d-e8c1efda41f3.png)

[2021-11-29 09:22] gaocegege commented on #1492
Can you please show `kubectl describe pods`?

[2021-11-29 09:56] jazka commented on #1492
I could find any clue from pod describe. It is different to attatch large image directly for me, please open it with link url.

master-0 pod:
[https://l4x826wg3c.feishu.cn/file/boxcnvhEHBXXtnjE1s4qcMWSOme](url)
[https://l4x826wg3c.feishu.cn/file/boxcnMa1sYsODn7Weu3QRrT1Bqd](url)

worker-0 pod:
[https://l4x826wg3c.feishu.cn/file/boxcnDBuVOyg7YPUTA2ERxxXHNe](url)
[https://l4x826wg3c.feishu.cn/file/b

[2021-11-29 10:27] gaocegege commented on #1492
I did not understand why there is no event of the pods. It's weird.

But I do not think it is related to the operator. Seems that the pods are already created.

[2021-11-29 10:48] jazka commented on #1492
Yes, it is weird. Some things I noticed may be helpful：

- The pending pytroch job will fail after long time(last one job, it is abount 60min). One info log is "Ignoring inactive pod xxxx-pytorchjob-worker-0 in state Failed, deleteion time <nil>"
- It is still pending if restarting training-operator pod
- It will begin to running if restart volcano-scheduler pod. But there is no any log abount the

[2021-11-29 11:03] gaocegege commented on #1492
Personally, I think it is may be related to volcano. Since it can work after restarting the volcano.

[2021-11-29 14:59] Jeffwan commented on #1492
`760ac1171dd30039a7363ffa03c77454bd714da5` is the commit id, you can search it in git logs.
We probably can change to version tag later for easy debugging.

[2021-11-30 13:16] hackerboy01 opened #1494 "[bug] (MpiJob)Init container KubectlDeliveryImage should remain the ability that it can be specified from container parameters or environment variables."
In previous v1 MPI operator, KubectlDeliveryImage can be specified from container  parameters([mpi-operator.v1/app/options/options.go](https://github.com/kubeflow/mpi-operator/blob/master/cmd/mpi-operator.v1/app/options/options.go)). In training-operator,init container KubectlDeliveryImage should remain the ability that it can be specified from container  parameters or environment variables.

[2021-11-30 13:20] hackerboy01 commented on #1494
/assign @hackerboy01

[2021-12-01 07:48] Shuai-Xie commented on #1478
OK. Many thanks.

[2021-12-01 07:48] #1478 closed

[2021-12-01 16:04] Jeffwan opened #1496 "Roadmaps for 1.4 release"
Training Operator 1.3 operator has been released for few months. It's time to build wishlist for the next release.  Community is collecting roadmaps for kubeflow 1.5 release as well (Jan or Feb?). https://github.com/kubeflow/community/issues/535

I think for the next release, we can put more time to build an elastic training story.
- @gaocegege is working on PyTorch parts and the large PR has been

[2021-12-01 17:28] terrytangyuan opened #1497 "Improve test coverage"
Per our community meeting, currently, we are at 27% test coverage. We could obviously do a better job.

Please comment on this issue if you'd like to help and contribute more test cases.

[2021-12-01 17:33] terrytangyuan commented on #1496
Migrating notes from today's community meeting:

- Training Operator ROADMAP for Kubeflow 1.5: https://github.com/kubeflow/community/issues/535
  - We will present it at the next community meeting.
- Draft roadmap and initial thoughts https://github.com/kubeflow/training-operator/issues/1496
  - Create draft presentation based on above issue
  - Support MPI Operator v1 in universal Training Operat

[2021-12-01 18:18] andreyvelich commented on #1479
@alculquicondor What is the status for MPI Operator v2 ?
Do we have plans to deliver MPI Operator v2 as part of Universal Training Operator in Kubeflow 1.5 ?
The Kubeflow 1.5 release deadline is January 15th.

[2021-12-01 18:32] alculquicondor commented on #1479
We need a contributor to do it. I don't currently have capacity to handle it. That means that likely it wouldn't be possible for January 15th. But I don't think the v1 operator is ready either.

[2021-12-02 01:53] gaocegege opened #1498 "[feature] Make init container injection logic availabel to all jobs"
Ref https://github.com/kubeflow/training-operator/pull/1493#discussion_r759814231

[2021-12-02 07:17] gaocegege commented on #1498
/assign @hackerboy01

[2021-12-02 07:38] #1482 closed

[2021-12-03 17:29] migueltol22 opened #1499 "[Feature] Create a Informer/ClientSet for PyTorch Jobs"
Currently there is an [informer](https://github.com/kubeflow/training-operator/blob/master/pkg/client/informers/externalversions/tensorflow/v1/tfjob.go) and [client](https://github.com/kubeflow/training-operator/blob/master/pkg/client/clientset/versioned/typed/tensorflow/v1/tensorflow_client.go) for Tensorflow Jobs, however there isn't one for pytorch jobs. It'd be very beneficial to have a pytorc

[2021-12-06 02:50] gaocegege commented on #1499
/cc @kubeflow/wg-training-leads

Yeah I think we should provide such a client/informer.

[2021-12-06 19:04] terrytangyuan commented on #1499
Yes this is nice to have. @migueltol22 Would you like to submit a PR?

[2021-12-06 22:32] migueltol22 commented on #1499
@terrytangyuan I began a PR [here](https://github.com/kubeflow/training-operator/pull/1501). Although after running the script there appear to be duplicates naming imports when referencing the pytorch and tensorflow generated code.
I haven't worked with code-gen before and didn't find much in the documentation. Do you happen to know what am I missing? Or is the expectation to manually fix these im

[2021-12-08 01:57] gaocegege commented on #1499
Can you please explain more about it?

[2021-12-08 02:46] tingweiwu opened #1502 "Could you add the example of MPIJob in this repository"
Is this example compatible here？
[mpi-operator/tree/master/examples](https://github.com/kubeflow/mpi-operator/tree/master/examples)

[2021-12-08 02:48] zw0610 commented on #1502
@tingweiwu yes.

@hackerboy01 do you have time to migrate the examples of mpi-controller.v1 here? It seems the mpi example is still missing.

[2021-12-08 12:38] qiankunli opened #1504 "pytorch elastic scheduler error"
v2-pytorch-1208202754389-worker-0  is always running,but other worker is completed.
[code]

v2-pytorch-1208202754389-worker-0  log
[code]

v2-pytorch-1208202754389-worker-1  log
[code]
14min later
[code]

v2-pytorch-1208202754389-worker-0  log
[code]

[2021-12-09 02:33] gaocegege commented on #1504
Ref https://github.com/pytorch/pytorch/issues/67742

[2021-12-09 06:42] gaocegege opened #1505 "[feat] Support SuccessPolicy in PyTorchJob"

[2021-12-10 16:45] terrytangyuan opened #1507 "Support label selector based success/failure conditions"
See context in https://github.com/kubeflow/common/pull/181#pullrequestreview-827746349

[2021-12-14 02:17] tingweiwu opened #1509 "Scale down of pytorchJob cause workers pod to restart"
Hi, I run [imagenet](https://github.com/kubeflow/training-operator/tree/master/examples/pytorch/elastic/imagenet) example with pytorch elastic

1、Firstly, I create PytorchJob with the following elasticPolicy
[code]
[code]

2、Scale down to 2 nodes by editing `Worker.replicas` to 2
[code]

3、 Scale up to 3 nodes by editing `Worker.replicas` to 3
[code]

Is  scale down cause workers pod to restart th

[2021-12-14 02:18] zw0610 commented on #1509
@gaocegege

[2021-12-14 02:20] gaocegege commented on #1509
Yes, the PyTorch elastic relies on checkpointing and restarting.

Sometimes the agent deals with the restart, thus the pod does not restart.

[2021-12-14 07:05] tingweiwu commented on #1509
Yeah, It's reasonable that process restart while scaling down happen, but can't figure it out why pod needs to restart.

[2021-12-14 07:07] gaocegege commented on #1509
There are two processes in the pod: agent and worker. The agent will not restart in the most case, and the worker will restart.

[2021-12-14 07:16] tingweiwu commented on #1509
Could you be more specific about trigger condition of agent restarting(agent restart processes actually ) or pod restarting.
and what is the relationship between with `elasticPolicy.maxRestarts`

[2021-12-14 07:23] gaocegege commented on #1509
For example, if the worker cannot find the other workers, the agent and the work will both exit. And the pod will restart. It does not affect the elasticPolicy.maxRestarts

elasticPolicy.maxRestarts equals to https://github.com/pytorch/pytorch/blob/df11e2d6f9782fc3995e17ef09a5ef3812da041d/torch/distributed/run.py#L205

[2021-12-14 07:24] gaocegege commented on #1509
the max times of scale down operation is limited to maxRestarts

It is a feature of PyTorch elastic. I think it is to avoid permanent failure. For example, if the worker always fail, we should not always retry.

[2021-12-14 07:40] tingweiwu commented on #1509
Appreciate for your reply，I got it. Thus ,pod restarting is inevitable while scaling down under this mechanism.

[2021-12-14 07:43] gaocegege commented on #1509
I think it may be possible. But in the current implementation, it is inevitable. I am not sure if the behavior is the same in the next PyTorch release (1.11 or 1.10.2)

[2021-12-15 03:29] zw0610 opened #1510 "Add checking import order in CI"
https://github.com/kubeflow/training-operator/pull/1484#discussion_r768761513

@terrytangyuan

[2021-12-17 07:48] zw0610 commented on #1497
/assign

I shall take several weekends to convert previously existed test cases and move them here. Starting with tf-controller.

[2022-01-05 13:45] Fan-SJ opened #1514 "Modified the configuration of RootLogger"
https://github.com/kubeflow/training-operator/blob/master/sdk/python/kubeflow/training/api/py_torch_job_client.py#L26-L27
https://github.com/kubeflow/training-operator/blob/master/sdk/python/kubeflow/training/api/tf_job_client.py#L29

from kubeflow import training

[2022-01-06 00:24] #1497 closed

[2022-01-06 01:42] zw0610 commented on #1497
/open this is far away from being addressed. We shall improve coverage for mxnet and xgboost as well.

[2022-01-06 03:03] qiankunli opened #1515 "support elastic training"
elastic training design doc:  https://mp.weixin.qq.com/s/93Fb1cyAJ3tuzTwwwC4CUQ

I'm pushing volcano support elastic scheduler with pr  https://github.com/volcano-sh/volcano/pull/1884

in order to support elastic training, operator should collaborate with volcano
1.  operator set `podgroup.minMember = elasticPolicy.min`
2.  operator ensures that there are a total of elasticPolicy.max pods anytime.

[2022-01-06 03:05] gaocegege commented on #1515
/cc @kubeflow/wg-training-leads

[2022-01-06 03:19] zw0610 commented on #1515
1. Are we referring elastic training with PyTorchJob or this proposal is applied to all training jobs?
2. when re-creating the pod deleted/evicted by volcano or any other scheduler, any requirement for the new pod like pod name, pod spec remaining the same as the deleted/evicted one?
3. For non-elastic mode, why should we ensure worker with rank 0 start before other workers?

[2022-01-06 08:01] zw0610 opened #1518 "Support PodGroup in scheduler-plugins/coscheduling"
At this moment, the training operator only supports `PodGroup` defined in volcano. Users are also using `PodGroup` defined in:

- [scheduler-plugins/coscheduling](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/pkg/apis/scheduling/v1alpha1/types.go#L116)

*If there are other PodGroup definitions, let's added to this list.*

We should make the PodGroup-related process more generic

[2022-01-06 08:04] gaocegege commented on #1518
/cc @kubeflow/wg-training-leads

[2022-01-06 08:20] denkensk commented on #1518
Great, this will be very convenient for users using default-scheduler/scheduler-plugins.

[2022-01-06 09:39] zw0610 opened #1519 "Support queue-related logic with kube-queue"
For a deep learning cluster, it is common case that all kinds of tasks (like TFJob, MPIJob, Deployment, Statefulset, etc.) submitted by users are waiting for resource to be allocated. Unfortunately, Pod is the minimal scheduling unit, which brings hurdle to mange tasks the way other clusters like Slurm do.

To make up such a feature missing, @denkensk and I work together with other contributors to

[2022-01-06 14:42] terrytangyuan commented on #1519
Are there any experimental results to support this?

[2022-01-07 06:12] qiankunli commented on #1515
@zw0610
1.  it works only in the allreduce model, it may be work on ps model（like tensorflow）, but I haven't thought about it
2.  yes,  pod spec should remain the same as the deleted/evicted one
3.  in pytorch scenario, worker with rank 0(we call it master)  is used as Service Registry,  worker connect to master to find other workers, every worker have an env `MASTER_ADDR=xxx-worker-0`

[2022-01-08 07:05] WEICHINLIN commented on #1369
This means that distributed training has both ps task and work task, so that cpu and gpu can act on training at the same time?

[2022-01-11 02:25] zw0610 opened #1522 "Restore KUBEFLOW_NAMESPACE options"
In tf-operator 1.2.0, users are able to set environment variable `KUBEFLOW_NAMESPACE` or command line option `--namespace` to specify which namespace to watch. Such feature is lost in training-operator. We'd like to restore this one.

[2022-01-11 12:23] denkensk commented on #1519
Sorry for late reply. The improvement in cluster resource utilization is related to the different cluster sizes, tenant divisions and the types of workloads. There is a 5%~30% improvement according to actual statistics after using Kube-queue and a reasonable quota management system. @terrytangyuan

[2022-01-14 07:05] Shuai-Xie opened #1523 "How to schedule PytorchJob Pods on Specific Nodes with Specific numbers?"
This question can trace back to this issue https://github.com/kubeflow/pytorch-operator/issues/344.

I just want to do a quite simple thing, **schedule the PytorchJob DDP Pods on specific machines with specific numbers**.

For examples, I want to schedule the PytorchJob training pods like machine A has 2 pods, machine B has 3 pods.
**I try to set the preferred node affinity with weight, but it can

[2022-01-16 03:01] #1522 closed

[2022-02-02 06:42] lukepfister opened #1529 "Add DispatchServer and WorkerServer to TFJob"
The TFJob operator currently supports PS, Chief, Worker, and Evaluator.

Is there any appetite for adding new process types to cover [DispatchServer](https://www.tensorflow.org/api_docs/python/tf/data/experimental/service/DispatchServer) and [WorkerServer](https://www.tensorflow.org/api_docs/python/tf/data/experimental/service/WorkerServer)?  I'm happy to contribute a PR.

[2022-02-02 12:42] terrytangyuan commented on #1529
I am a little concerned about the fact that these are still experimental. We may expect the removal of them at any point of time.

[2022-02-07 22:55] jaiganeshp commented on #1471
Will this issue be resolved with v1.4.0 release? I still don't see the fix in master code. It is breaking kubeflow katib for us as well.

[2022-02-08 04:32] goofy-z opened #1530 "use pytorchjob with yolov5 code in single pod"
in yolov5 code, when i use pytorchjob to run non-distributed training like that

[code]
it cause error

[code]

i guess the reason is  env variables `RANK` not right, seems operator will set the `RANK=0`
https://github.com/ultralytics/yolov5/blob/b57abb17f2525ce60145038c751a7d8c614e6953/train.py#L59-L62

[2022-02-08 04:33] goofy-z commented on #1530
@gaocegege

[2022-02-08 06:28] gaocegege commented on #1530
Maybe you could follow the guide here https://github.com/ultralytics/yolov5/issues/475 and use PyTorch 1.9.x+ DDP to train the model.

[2022-02-08 06:33] cakeislife100 commented on #1471
Sorry for the delay, I completely lost track of this. @alembiewski do you mind reviewing?

[2022-02-08 06:47] gaocegege commented on #1523
Do you fix the problem? You can modify the operator to support different pod spec.

[2022-02-08 14:26] terrytangyuan commented on #1479
cc @ArangoGutierrez

[2022-02-08 19:34] jaiganeshp commented on #1471
Thank you for the reply @cakeislife100 . @alembiewski : Do you think it could be released with v1.4.0?

[2022-02-08 20:30] alembiewski commented on #1471
@jaiganeshp, it definitely makes sense to me to include it. cc @gaocegege and @terrytangyuan to confirm

[2022-02-08 20:35] terrytangyuan commented on #1471
Yeah we can include it for the next 1.4 RC release.

[2022-02-08 22:40] jaiganeshp commented on #1471
Thank you so much @alembiewski and @terrytangyuan .  And thank you @cakeislife100 for the fix.

[2022-02-08 22:43] terrytangyuan commented on #1471
@johnugeorge Could you cherry-pick this https://github.com/kubeflow/training-operator/pull/1531 to the 1.4 release branch?

[2022-02-09 02:45] allendred opened #1532 "The pytorchJob training is slow"
I use this repository [https://github.com/Shuai-Xie/mnist-pytorchjob-example](url) for speed testing, I have more than two k8s nodes, and test the speed difference between two machines with four cards on the same node and two machines with four cards on different nodes. Each node has 4 Tesla V100 (32G Version) cards. Below is the comparison result.
@Shuai-Xie
The different nodes.

Train Epoch: 1 [

[2022-02-09 03:15] allendred commented on #1532
Pytorch Version 1.7.1+cu102

Training code
[code]
yaml

[code]

[2022-02-09 03:16] allendred commented on #1532
@gaocegege

[2022-02-09 07:28] allendred commented on #1532
opttime 78.1211314201355

[2022-02-09 07:28] allendred commented on #1532
opttime 78.1211314201355

[2022-02-09 07:30] gaocegege commented on #1532
How about the network in the cluster?

[2022-02-09 07:32] allendred commented on #1532
The time difference is mainly reflected in the optimizer
same nodes 9.449573755264282
different nodes 78.1211314201355

[2022-02-09 07:37] allendred commented on #1532
qperf test
tcp_bw:
    bw  =  1.14 GB/sec
tcp_lat:
    latency  =  63.2 us
Looks ok

[2022-02-09 15:00] terrytangyuan commented on #1471
Actually this doesn’t have to be part of the release of the repo. We can just release the Python SDK independently as the versioning is different. https://pypi.org/project/kubeflow-training/#history

@alembiewski Would you like to release a new version of the SDK once 1.4 is officially released?

[2022-02-09 19:23] arashd opened #1533 "Job TTLs not working"
I'm running into an issue where the "Ttl Seconds After Finished" on my TFJobs isn't being respected and I suspect it's because the reconcile loop where `CleanupJob` runs isn't run frequently enough for all jobs.

As an example:  I start a TFJob with a TTL of 1 minute. The reconcile loop runs anytime there's a state change (including when the job successfully finishes). It doesn't get deleted upon

[2022-02-09 21:41] alembiewski commented on #1471
@terrytangyuan, sure!

But the package version should be 1.4, right? To match the operator version?

[2022-02-09 21:53] terrytangyuan commented on #1471
Yes

[2022-02-10 02:43] zw0610 commented on #1533
I believe so. When [constructing the manager](https://github.com/kubeflow/training-operator/blob/master/cmd/training-operator.v1/main.go#L101), an option named [`SyncPeriod`](https://github.com/kubernetes-sigs/controller-runtime/blob/6c7c1d73fc5ed965c2962d6f4552b15f9841ce86/pkg/manager/manager.go#L109) should do the work.

However, I believe we might find another way to re-support such feature aft

[2022-02-10 18:35] arashd commented on #1533
Thanks for the helpful guidance.  Looking forward to hearing if there's a way to change this without touching code.

[2022-02-14 17:56] mChowdhury-91 opened #1535 "Question: What is the recommended way for Data Scientists to run a distributed training job"
The Data Scientists do not have access to K8s cluster, and hence cannot use commands like kubectl create -f <yaml file> -n kubeflow, in that case what is the recommended way to run distributed training jobs.
Is Kubeflow Pipeline the right approach or Fairing?

[2022-02-15 07:56] johnugeorge commented on #1471
Sorry that I missed this. As @terrytangyuan  mentioned, this can go in the separate sdk release.  We can close this issue once sdk is released

[2022-02-15 15:24] johnugeorge commented on #1535
You can use python sdk for it . https://github.com/kubeflow/training-operator/tree/master/sdk/python

[2022-02-16 05:53] mChowdhury-91 commented on #1535
@johnugeorge How do we run a MPIjob using the Python SDK. Is there any api to call the MPIJob yaml file

[2022-02-23 16:11] mChowdhury-91 commented on #1535
@johnugeorge Can we directly provide the configuration yaml file https://github.com/kubeflow/training-operator/blob/master/examples/tensorflow/dist-mnist/tf_job_mnist.yaml or https://github.com/kubeflow/training-operator/blob/master/examples/pytorch/mnist/v1/pytorch_job_mnist_mpi.yaml to trigger the training via a Kubeflow pipeline?

[2022-02-24 10:56] johnugeorge commented on #1535
you can take a look at https://github.com/kubeflow/katib/blob/master/examples/v1beta1/kubeflow-pipelines/kubeflow-e2e-mnist.ipynb

[2022-02-27 09:53] #1535 closed, assigned to nobody

[2022-02-28 11:21] cheimu opened #1538 "Reconcile PyTorchJob error: PyTorchJob.status.replicaStatuses: Invalid value: \"null\" after enable-gang-scheduling"
Hi communities.

I'm currently trying to use volcano for pytorch training jobs using example from kubeflow website. https://www.kubeflow.org/docs/components/training/pytorch/#monitoring-a-pytorchjob . However, when PyTorchJob was submitted, the training operator got errors: `2022-02-28T09:49:55.707Z	ERROR	Reconcile PyTorchJob error	{"pytorchjob": "default/pytorch-tcp-dist-mnist", "error": "PyTorch

[2022-03-01 17:53] alculquicondor commented on #1519
@denkensk do you mind if we repurpose this issue for kueue? :)

ref kubernetes-sigs/kueue#65

[2022-03-01 20:22] terrytangyuan commented on #1471
We are releasing 1.4 now.

@alembiewski Would you be able to help us released the new SDK with the fix?

[2022-03-02 11:13] #1273 closed

[2022-03-02 12:09] alembiewski commented on #1278
Resolved in https://github.com/kubeflow/training-operator/pull/1420.
This issue can be closed now.

[2022-03-02 13:07] #1278 closed

[2022-03-02 13:51] #1345 closed

[2022-03-02 14:28] #1385 closed

[2022-03-02 18:44] johnugeorge commented on #1471
@alembiewski Please use the release branch https://github.com/kubeflow/training-operator/tree/v1.4-branch

[2022-03-02 18:56] terrytangyuan opened #1540 "Automate Python SDK release process in GitHub Actions"
Currently, this is manual and requires setting up a proper local environment.

https://github.com/kubeflow/training-operator/issues/1471

cc @alembiewski

[2022-03-08 17:39] person142 commented on #1446
To add some further activity to stave off stalebot - another reason to switch is that while `kubeflow-training` is licensed as Apache 2, `table-logger` is GPLv2.

[2022-03-09 07:21] johnugeorge commented on #1471
Closing this PR as #1539 and #1541 are merged

[2022-03-09 07:21] #1471 closed

[2022-03-10 05:47] siriusa51 opened #1543 "PyTorchJob fails when creating a task with a different namespace but the same name"
task - 1
[code]
task -2
[code]
If task 1 is created first and then task 2 is created, task 2 cannot generate a new pod

[2022-03-10 05:53] siriusa51 commented on #1543
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.1", GitCommit:"632ed300f2c34f6d6d15ca4cef3d3c7073412212", GitTreeState:"clean", BuildDate:"2021-08-19T15:38:26Z", GoVersion:"go1.16.6", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", Buil

[2022-03-11 16:22] siriusa51 commented on #1543
It would be great if you could help fix it.

[2022-03-12 06:34] #1543 closed

[2022-03-12 13:31] cheimu opened #1546 "MPIJob launcher completed while workers continue running"
Hi, I'm new to use mpi framework to train model. However, I think I got the classic problem where launcher completed but workers are still running.
<img width="715" alt="image" src="https://user-images.githubusercontent.com/13050415/158019611-f23acdc8-866e-4c45-a856-2d52de80058c.png">

The mpijob version is kubeflow/v1
The one I used is the example from mpi-controller, which is the following.
http

[2022-03-12 14:28] cheimu commented on #1546
Oh. If workers are not on the same nodes, it will complete once launcher got completed. Otherwise workers will take about 40-50mins to complete. Weird

[2022-03-15 03:49] cheimu opened #1548 "--enable-gang-scheduling=true doesn't work for MPIJob"
Hi tranining-operator experts.

When I set --enable-gang-scheduling=true for training-operator
<img width="327" alt="image" src="https://user-images.githubusercontent.com/13050415/158302221-6db848e7-7d65-4670-b197-401f49ef0768.png"> , they worked for TFJob, PyTorchJob, .etc, but it doesn't work for MPIJob.
<img width="312" alt="image" src="https://user-images.githubusercontent.com/13050415/1583021

[2022-03-16 12:50] zw0610 commented on #1548
Hi, I double-checked with the latest master branch ([1f3f29a0bbac00e0410b8fc9b0f32cdf710dda30](https://github.com/kubeflow/training-operator/commit/1f3f29a0bbac00e0410b8fc9b0f32cdf710dda30)) and was not able to reproduce the issue. After setting `--enable-gang-scheduling=true`, I filed the MPIJob under the [example directory](https://github.com/kubeflow/training-operator/tree/master/examples/mpi)

[2022-03-16 13:00] cheimu commented on #1546
The current training-operator for MPIJob has the following bug:
![image](https://user-images.githubusercontent.com/13050415/158203128-e5c6c2ec-20a3-4de1-95bb-d1e8d85433c4.png)
Although cleanPodPolicy is set, when launcher completed, pod would continue run infinitely so that gpu resources couldn't be returned for incoming jobs.

The bug in short is that mpi-operator give both worker/launcher labels

[2022-03-17 21:25] shaowei-su commented on #1458
Follow up this thread.. we've observed similar error when upgrade TF from 2.1 to 2.5+. @berlinsaint could you share a code diff on how to re-order the reconciliation? thanks!

[2022-03-18 09:36] zw0610 commented on #1546
I believe this issue could be fixed by https://github.com/kubeflow/training-operator/pull/1550

[2022-03-18 12:48] kpouget opened #1552 "Cannot set blockOwnerDeletion if an ownerReference refers to a resource you can't set finalizers on"
Hello,

in OpenShift, I see this error:

[code]
when I try to create a TFJob.
For reference, here is the job:
[code]
and the operator was installed with
[code]

[2022-03-18 12:59] kpouget commented on #1552
the issue is related to this: https://sdk.operatorframework.io/docs/faqs/#after-deploying-my-operator-why-do-i-see-errors-like-is-forbidden-cannot-set-blockownerdeletion-if-an-ownerreference-refers-to-a-resource-you-cant-set-finalizers-on-

because this
[code]
is missing in
[code]

[2022-03-18 14:17] kpouget commented on #1552
... and I can't find the proper command to fix it, if anybody can help:
[code]
this is quite closes, it adds the finalizer at the right place ... but the siblings of `.rules` are eaten away :/

[2022-03-18 15:20] martialblog opened #1553 "Error: invalid memory address or nil pointer dereference"
Hi,

I'm running into an `invalid memory address or nil pointer dereference` Error when a PyTorchJob on the Cluster is failing.

The PyTorchJob Pod runs into a Python Exception which then causes the training-operator Deployment to crash.

Training Operator Release: v1.3.0
Kubernetes: rke2 v1.21.10

PyTorchJob Manifest:

[code]

Error Message:

[code]

I don't know if this is related to https://git

[2022-03-18 17:38] #1538 closed

[2022-03-20 11:51] cheimu opened #1555 "Should we update MPIJob unit test CleanPodPolicy field?"
Current MPIJob's unit test uses cleanPodPolicy field to test the gc logic. However, this is duplicate and in training-operator framework, runPolicy.cleanPodPolicy is used. So should we update it?
https://github.com/kubeflow/training-operator/blob/master/pkg/controller.v1/mpi/mpijob_controller_test.go#L50
<img width="986" alt="image" src="https://user-images.githubusercontent.com/13050415/159160829

[2022-03-20 16:57] #1555 closed

[2022-03-20 17:10] cheimu commented on #1553
I think this is the reason
<img width="1073" alt="image" src="https://user-images.githubusercontent.com/13050415/159174145-72849d2e-fc21-47db-bbd0-f50f0bf562c3.png">
as indicated in the comments, jobStatus.CompletionTime is nil, so it got nil pointer panic when `finishTime.Add(duration)`

[2022-03-21 08:32] martialblog commented on #1553
Hi, thanks for the update. Yes seems as if that might be the cause.

Ok, so this was fixed in https://github.com/kubeflow/common/pull/178 , however the PR is from 26.11.2021 and the latest kubeflow/common Release v0.4.1 was on 24.11.2021.

And as far as I can tell, the kubeflow/training-operator Release 1.4.0 still uses kubeflow/common v0.4.1

In order to fix this the kubeflow/common version needs

[2022-03-21 10:41] cheimu commented on #1553
I guess so, you can try to update it and `make docker-build` to see it that works. I think the update how package dependency is a periodic task by bots...

[2022-03-21 11:16] martialblog commented on #1553
Yeah I figured building an Image would be a workaround.

Would be great to have a kubeflow/common v0.4.2 and kubeflow/training-operator 1.4.1 release though.

[2022-03-22 09:16] vtlrazin opened #1559 "Training-operator container failed to start in K8s v1.22.5"
Hi,
I am trying to install Training operator v1.4.0 in my K8s cluster installed by Kubespray v2.18.
Training operator container failed to start with error:

[code]
[code]

[code]

Installation:
`kubectl apply -k "github.com/kubeflow/training-operator/manifests/overlays/standalone?ref=v1.4.0"`

Setup info:
K8s cluster: v1.22.5 installed with Kubespray v2.18 default settings
Kubectl: v1.22.8

Thanks

[2022-03-22 17:17] rllin opened #1560 "When restartPolicy is ExitCode and a pod is deleted (137), the entire TFJob will still be marked as failed."
*Expectations*: if a replica has `restartPolicy=ExitCode`, then a pod deletion (triggers `137`) should cause that pod to restart without triggering TFJob failure.
*Reality*: The entire TFJob fails.

However, the correct behavior happens for `OnFailure` where the pod is properly restarted without the entire job failing.

How to reproduce:
1. Take below spec [0], and apply.
2. Delete the evaluator p

[2022-03-22 17:17] rllin commented on #1560
replicated from https://github.com/kubeflow/common/issues/186

[2022-03-22 18:15] johnugeorge commented on #1559
Can you try with different delay timeouts in the deployment yaml if this issue persists?

[2022-03-22 19:47] vtlrazin commented on #1559
Please specify which delay timeouts in the deployment.yaml you want to change. I will be glad to help.

[2022-03-22 20:05] vtlrazin commented on #1559
Maybe you reviewed the solution to move "training-operator" management pod to the K8s master node?
In my opinion, this would be the preferred deployment method as it frees up worker node capacity and removes pressure/eviction events from that pod. I will try to test this solution first.

[2022-03-23 02:35] PatrickXYS opened #1561 "Optional-test-infra Deprecation Notice - Training"
This issue serves as a trainning sub-issue of the main issue: https://github.com/kubeflow/testing/issues/993.

TLDR: trainning WG should start to research and choose a preferable testing solution for the E2E testing use case before June 2022.

/cc @kubeflow/wg-training-leads

[2022-03-23 11:57] cheimu commented on #1560
updated in https://github.com/kubeflow/common/issues/186#issuecomment-1076286123

[2022-03-24 07:12] cheimu opened #1563 "Should we add a check for TFJob's container name？"
Hi community,

Should we add a check for TFJob's container name？That is `tfjob.spec.tfReplicaSpecs.template.spec.containers.name`

Since TFJob requires to inject `TFCONFIG` and to create corresponding services, tfjob-operator required at least one of tfjob pods' containers names is `tensorflow`, otherwise it won't work. This leads to so many energy and time wasting for new kubeflow on boarding use

[2022-03-24 07:17] gaocegege commented on #1563
We do not have a validation webhook now. Thus we can not reject invalid jobs. I think there is a check here https://github.com/kubeflow/training-operator/blob/master/pkg/apis/tensorflow/validation/validation.go#L57

[2022-03-24 08:30] cheimu commented on #1563
Current behavior is that it will only log an error while the pods will still be created. Is this expected?

[2022-03-24 08:36] gaocegege commented on #1563
I think we can add a warning event to the TFJob, WDYT

[2022-03-24 08:44] cheimu commented on #1563
Sure, add a warning event and then directly return like https://github.com/kubeflow/training-operator/blob/master/pkg/controller.v1/tensorflow/tfjob_controller.go#L156 ? Because otherwise pod will run on nodes which will reserve resources without doing things correctly.

[2022-03-24 08:45] gaocegege commented on #1563
SGTM. Would you mind fixing it?

[2022-03-24 08:45] cheimu commented on #1563
No problem.

[2022-03-26 02:49] #1548 closed

[2022-03-27 06:20] #1494 closed

[2022-03-27 11:24] fighterhit commented on #975
It report the same error when I build my own image according the [dist-mnist](https://github.com/kubeflow/training-operator/tree/master/examples/tensorflow/dist-mnist), and my host could access google. Is the tensorflow distributed training example outdated? Could anyone update it?
[code]

[2022-03-29 12:42] ahg-g commented on #1303
/remove-lifecycle stale

[2022-03-30 02:36] aheeruru opened #1566 "pytorchjob doesn't have status.startTIme."
Hi,
pytorchjob doesn't provide status.startTime.
mpi and tfjob has function to update status.startTime, but pytorchjob doesn't have.
Is it deprecated? Or just missing?
[code]

[2022-03-30 04:04] cheimu commented on #1566
Hi @aheeruru

I think you are right. XGB job also doesn't update startTime. Let me add them.

[2022-03-30 09:42] #1566 closed

[2022-04-06 13:03] georgkaleido opened #1570 "PyTorchJob: OnFailure Policy won't handle pod failure gracefully"
When a PyTorchJob with `restartPolicy=OnFailure` is created, it won't handle all errors correctly.

In case the worker pod status is in `Status=Failed` due to a [graceful node shutdown](https://kubernetes.io/blog/2021/04/21/graceful-node-shutdown-beta/) it won't get recreated, but instead the the PytorchJob while fail in this block: https://github.com/kubeflow/training-operator/blob/8c4323194a09b3

[2022-04-07 03:44] qiankunli opened #1571 "support elastic scheduling for pytorch"
## Design

pytorchjob have supported elasticPolicy, including MinReplicas and MaxReplicas fields, operator is responsible for creating MaxReplicas pods (some pods may not be able to run immediately and is pending), and set VcJob.PodGroup.minAvailable = MinReplicas. Volano will decide to run `[MinReplicas,MaxReplicas]` pods according to the actual situation of resources.

## Volcano work

The pods

[2022-04-09 00:30] zw0610 commented on #1571
/assign me

[2022-04-09 02:31] zw0610 commented on #1571
@qiankunli Cloud you give more details about how to implement the `failPolicy`? From my perspective, the fail policy is still part of `ElasticPolicy`.

[2022-04-09 11:27] qiankunli commented on #1571
@zw0610 for example
[code]

[2022-04-13 11:34] johnugeorge commented on #1571
@qiankunli Isn't failPolicy automatically taken care of by ElasticPolicy?

[2022-04-15 01:03] zw0610 commented on #1571
I second to this idea.

[2022-04-16 10:29] qiankunli commented on #1571
@johnugeorge can you be more clear?

[2022-04-16 10:35] qiankunli opened #1574 "trainning-operator may need to monitor PodGroup"
I create a pytorchjob, then pytorch-controller create a PodGroup. The PodGroup was pending state at the beginning, so no pod was created for the pytorchjob. After the PodGroup became the inqueue state, It seems that the controller is not listening to the change of Podgroup, so that the reconcile logic could not be triggered, and the job had no pod.

[2022-04-16 18:23] cheimu commented on #1574
Hi @qiankunli  Don't know if we are on the same page, I think the base job controller has already tried to reconcile podGroup https://github.com/kubeflow/common/blob/master/pkg/reconciler.v1/common/gang_volcano.go#L149

[2022-04-16 20:04] #1502 closed

[2022-04-16 23:57] #1279 closed

[2022-04-16 23:57] #1282 closed

[2022-04-16 23:57] #1271 closed

[2022-04-16 23:57] #1306 closed

[2022-04-16 23:57] #1186 closed

[2022-04-16 23:57] #1319 closed

[2022-04-16 23:57] #1323 closed

[2022-04-16 23:57] #1332 closed

[2022-04-16 23:57] #1333 closed

[2022-04-16 23:57] #1343 closed

[2022-04-16 23:57] #1329 closed

[2022-04-16 23:57] #1363 closed

[2022-04-16 23:57] #1340 closed

[2022-04-16 23:57] #1366 closed

[2022-04-16 23:57] #1353 closed

[2022-04-16 23:57] #1258 closed

[2022-04-16 23:57] #1251 closed

[2022-04-16 23:57] #1162 closed

[2022-04-16 23:57] #1354 closed

[2022-04-16 23:57] #1382 closed

[2022-04-16 23:57] #1392 closed

[2022-04-16 23:57] #1379 closed

[2022-04-16 23:57] #1393 closed

[2022-04-16 23:57] #1400 closed

[2022-04-16 23:57] #1407 closed

[2022-04-16 23:57] #1402 closed

[2022-04-16 23:57] #1220 closed

[2022-04-16 23:57] #1411 closed

[2022-04-16 23:57] #1311 closed

[2022-04-16 23:57] #1414 closed

[2022-04-17 00:57] #1433 closed

[2022-04-17 00:57] #1350 closed

[2022-04-17 00:57] #1443 closed

[2022-04-17 00:57] #1301 closed

[2022-04-17 00:57] #1424 closed

[2022-04-17 00:57] #1445 closed

[2022-04-17 00:57] #1429 closed

[2022-04-17 00:57] #1454 closed

[2022-04-17 00:57] #1452 closed

[2022-04-17 00:57] #1447 closed

[2022-04-17 00:57] #1313 closed

[2022-04-17 00:57] #1376 closed

[2022-04-17 00:57] #1456 closed

[2022-04-17 00:57] #1459 closed

[2022-04-17 00:57] #1397 closed

[2022-04-17 00:57] #1468 closed

[2022-04-17 00:57] #1475 closed

[2022-04-17 00:57] #1481 closed

[2022-04-17 00:57] #1492 closed

[2022-04-17 00:57] #1498 closed

[2022-04-17 05:00] qiankunli commented on #1574
@cheimu I mean, if the state of podgroup changed from pending to inqueue, the reconcile should be triggered.  when podgroup is pending,   https://github.com/kubeflow/common/blob/master/pkg/controller.v1/common/job.go#L256 break the reconcile, when podgroup is inqueue, the reconcile can not be triggered, so the ReconcilePods and ReconcileServices can not be reached.

[2022-04-17 12:51] zw0610 commented on #1574
It is true that PodGroup is not watched to trigger reconciliation but the controller does resync after certain period. You may change to a short time for the resynchronization.

[2022-04-18 01:28] gaocegege commented on #1574
I  do not think the resync works here since podgroup is per job and should be watched in the controller.

[2022-04-20 04:00] #1446 closed

[2022-04-20 06:53] Neytoph opened #1576 "cannot use "github.com/go-openapi/spec".Schema{...} (type "github.com/go-openapi/spec".Schema) as type "k8s.io/kube-openapi/pkg/validation/spec".Schema in field value"
my env:
## go version
       go1.17 linux/amd64
## go.mod
	k8s.io/api v0.23.1
	k8s.io/apimachinery v0.23.1
	k8s.io/client-go v0.23.1
	k8s.io/klog v1.0.0
	k8s.io/kubernetes v1.23.1
	github.com/kubeflow/training-operator v1.4.0

when i build go project, i got
 `# github.com/kubeflow/common/pkg/apis/common/v1
/root/go/pkg/mod/github.com/kubeflow/common@v0.4.1/pkg/apis/common/v1/openapi_generated.go:3

[2022-04-20 07:33] Neytoph commented on #1576
i fix it by
add require an old kube-openapi
	k8s.io/kube-openapi => k8s.io/kube-openapi v0.0.0-20211110012726-3cc51fd1e909

[2022-04-20 07:33] #1576 closed

[2022-04-20 18:32] TrevorM15 opened #1577 "PyTorchJob Pods "Not Ready" After Completing Training"
I have tried a couple different models (yolox and convmixer) with the PyTorchJob CRD. I watch the logs from the master and worker pods and see the training progress and complete, but when training is done and the logs finish the pods go from the "Running" status to "Not Ready." I would expect them to go to "Completed" status so my pipeline that I've made to train and serve the model can progress,

[2022-04-24 01:15] zhuyaguang opened #1578 "README.md about Installation url page not found"
kubectl apply -k "github.com/kubeflow/training-operator/manifests/overlays/standalone"

kubectl apply -k "github.com/kubeflow/training-operator/manifests/overlays/standalone?ref=v1.3.0"

[2022-04-25 20:07] #1577 closed

[2022-04-25 20:08] TrevorM15 commented on #1577
I was putting the istio sidecar annotation in the wrong spot.

[2022-04-27 06:33] zhiyxu opened #1579 "When some sub-task of PytorchJob Failed, the other tasks are still Running"
I'm create following PytorchJob workload, and set `restartPolicy` as `Never`:
[code]
When worker failed, the whole PytorchJob failed, but the master is stilling running, which is meaningless in my perspective.
[code]

Meaningwhile, when setting `restartPolicy` as `OnFailure`, only the failed task is restarted, but as long as some sub-tasks have failed, I think **all the tasks under the PytorchJob

[2022-04-27 13:04] cheimu commented on #1579
Hi @zhiyxu , for

1. For general cases, if one or multiple workers crashed, I believe master will hang there and wait for them to recover and in pytorch distributed training, master will serve mainly for logging. These stateful applications all have fault-tolerance mechanism, so they can handle it. In your case, since it's a dry-run sleeping os, it is sleeping, so it won't detect anything but just

[2022-04-28 15:41] TrevorM15 opened #1580 "PyTorchJob: making master/worker write to KFP artifacts"
I have a pipeline with a training task component that uses the PyTorchJobClient to kick off training. I try to pass the Output artifact path to the master to save the model weights upon training completion, but I get an error that the local file path does not exist. What is the proper way to configure the master/worker to be able to access pipeline artifacts?

[2022-04-30 03:16] zw0610 commented on #1578
Could you be more specific? I tested locally and believe the both commands work.

[code]

[2022-04-30 14:58] #1499 closed

[2022-04-30 14:58] #1505 closed

[2022-04-30 14:58] #1507 closed

[2022-04-30 14:58] #1509 closed

[2022-04-30 14:58] #1510 closed

[2022-04-30 14:58] #1514 closed

[2022-04-30 14:58] #1518 closed

[2022-04-30 14:58] #1515 closed

[2022-04-30 14:58] #1369 closed

[2022-05-03 09:28] Jeffwan opened #1581 "CI stop working due to unsupported kubernetes version being used"
@zw0610 synced the CI issue found in this Pr https://github.com/kubeflow/training-operator/pull/1575 with me and I notice it's using 1.18 which has been deprecated by AWS EKS.

I asked @zw0610 to use 1.19 and file a PR here https://github.com/kubeflow/testing/pull/998. However, I forget the image `public.ecr.aws/j1r0q0g6/kubeflow-testing:latest` was manually updated in the past. Due to https://git

[2022-05-03 09:28] Jeffwan commented on #1581
Let me pick up this one and help fix it.

[2022-05-04 17:04] mbaijal opened #1584 "The Training sample `kubeflow-tfjob-sdk.ipynb` does not exit successfully"
I am trying to run the training sample provided [here](https://github.com/kubeflow/training-operator/blob/master/sdk/python/examples/kubeflow-tfjob-sdk.ipynb) in a Kubeflow notebook with the kubeflow-training package installed. Tensorflow sample training is working but the training did not exit properly causing the wait api to wait endlessly. Basically it reaches the end of training as expected bu

[2022-05-04 17:10] mbaijal opened #1585 "The Pytorch example `kubeflow-pytorchjob-sdk.ipynb` fails to run the training. Throws a `connection closed` error"
I am trying to run the training sample provided [here](https://github.com/kubeflow/training-operator/blob/master/sdk/python/examples/kubeflow-pytorchjob-sdk.ipynb) in a Kubeflow notebook with the kubeflow-training package installed (CPU Cluster). However, the pod stays stuck and on checking the logs see the following error -

[code]

[2022-05-05 23:14] person142 opened #1587 "Labels in Python client are out of date"
With the latest version of the Python sdk and operator, a call like

[code]

will fail with an error like

[code]

This is because the Python client still looks for the label `job-role`:

https://github.com/kubeflow/training-operator/blob/master/sdk/python/kubeflow/training/constants/constants.py#L34

whereas in https://github.com/kubeflow/common/commit/6c9fe11e07ddba03fc824ee15e77aa5dc9cfdd3f the

[2022-05-06 01:02] gaocegege commented on #1587
Thanks for the issue. Would you help fix it? I saw a commit https://github.com/person142/training-operator/commit/c1c155ec79fc54fcbcccc332321fb10efa50d9e3 here.

[2022-05-06 04:31] person142 commented on #1587
Yes indeed - https://github.com/kubeflow/training-operator/pull/1588 is the PR. Had to wait a bit to get approval to make it.

[2022-05-07 05:05] zhiyxu opened #1589 "When setting restartPolicy to OnFailure in PyTorchJob, is there something like maxRetartCount"
When `restartPolicy` is set to `OnFailure` in PyTorchJob, if the worker always failed, it will be restarted continueously.
I would like to know if there is a configuration like `maxRestartCount`, if worker restart count reaches the limit, the PyTorchJob just fail directly and release resources.

[2022-05-11 03:12] zqyi opened #1590 "missing image in tf_job_design_doc.md"
https://github.com/kubeflow/training-operator/blob/master/docs/design/tf_job_design_doc.md

[2022-05-12 11:20] #1590 closed

[2022-05-17 03:33] shuaiyy opened #1592 "golang clientset for pytorchjob and other CR kind"
I only find a TFJOB clientset in  `github.com/kubeflow/training-operator/pkg/client/clientset/versioned/typed/tensorflow/v1`

I want to use golang to crud pytorchjob and other kind of jobs,  i need some help, thx.

[2022-05-23 02:35] zhiyxu commented on #1579
@cheimu Thanks for your reply, one more question, when restartPolicy is set to OnFailure in PyTorchJob, if the worker always failed, it will be restarted continueously.
I would like to know if there is a configuration like `maxRestartCount`, if worker restart count reaches the limit, the PyTorchJob just fail directly and release resources.

[2022-05-26 16:16] wengyao04 opened #1597 "Is grpc server file path configmap required in training-operator ?"
Hi we are migrating from tf-operator to training-operator. When we deploy tf-operator, we mount configmap

[code]

Do we still need this configmap file to specify grpc server file path in training operator ?

Thanks

[2022-05-28 01:04] zw0610 commented on #1597
In the perspective of API and usage, the migration does not change that. Users shall keep how to launch a TFJob with training-operator just as before.

[2022-05-29 07:02] shuaiyy opened #1598 "kubectl get tfjob -o yaml, but not status output"
when I use  `kubectl get  tfjobs.kubeflow.org train-11 -o yaml `
only get output of `spec` and not `status`.

the describe event is
[code]

I'm very confused, why can't get some info from `tfjob.Status`,   I do think if the pod create failed or pending for some reason,  some Phase info should be sync to `tfjob.Status`.

by the way,  i'm use go client-sdk for kubeflow tfjob, and try to find a way t

[2022-05-29 22:03] ggaaooppeenngg opened #1599 "upgrade client-go"
The client-go of training-operator is a little bit old. I tested it with the latest v0.24.1, and the build looked fine.

[2022-05-30 01:39] gaocegege commented on #1599
Thanks for the issue.

The client is generated, do you mean the client-gen is too old to generate the client?

[2022-05-30 01:55] #1598 closed

[2022-05-30 08:12] ggaaooppeenngg commented on #1599
I tried upgrading k8s.io/client-go and also found the generator needs to be upgraded.

[2022-05-30 08:52] Findlazyfriend opened #1601 "Pytorchjob dist-mnist no training logs"
Hello, guys
As a novice, I encountered a seemingly simple problem. When executing examples/pytorch/mnist/mnist.py, I found that there is no log information after downloading the data, but the master and worker are always running Status, the training process can be displayed normally when debugging locally. This question may seem a bit stupid, I hope you can give pointers, thank you very much.
All

[2022-06-01 18:18] wengyao04 opened #1602 "How to migrate from pytorch operator to training operator"
Hi
We are migrating from pytorch operator to training operator. And find issues that the training operator cannot properly reconcile pytorchjob created by pytorch operator.

We need to patch master/worker pods/services in our mutating webhook to append the following labels because of the pod reconciling logic https://github.com/kubeflow/common/blob/34276e9d2ffa39f5922479bff87dc5ed5ed94cfb/pkg/cont

[2022-06-02 06:48] johnugeorge commented on #1601
Do you GPUs with in your cluster?

Can you try Gloo backend?

[2022-06-02 07:02] johnugeorge commented on #1585
Can you check if istio sidecar is activated in your namespace? If yes, you have to disable it.  (Ref: https://github.com/kubeflow/training-operator/tree/master/examples/pytorch/mnist)

I have verified the example and it works

[2022-06-02 07:14] #1561 closed

[2022-06-03 04:07] #1587 closed

[2022-06-06 06:34] Findlazyfriend commented on #1601
Thank you very much for your reply, the problem has been solved, it is the problem of the version in my base image.😊

[2022-06-06 07:51] johnugeorge commented on #1601
Thanks.
Closing this issue

[2022-06-06 07:51] #1601 closed

[2022-06-06 08:20] zw0610 commented on #1602
The [change to the labels](https://github.com/kubeflow/common/pull/150) broke the backward compatibility. For me, I would suggest adding these labels right before https://github.com/kubeflow/training-operator/blob/master/pkg/controller.v1/pytorch/pytorchjob_controller.go#L132 instead of the webhook.

What do you think? @Jeffwan @gaocegege

[2022-06-09 12:42] #1570 closed

[2022-06-13 07:14] goodpp opened #1612 "unable to fetch TFJob when I use client.go run tfjob"
为了表述准确，用中文来描述这个问题。
当我使用client.go 运行tfjob，tfjob运行成功后，会自动把相关tfjob,pod 数据都清理了。此时在training-operator的日志中看到提示 TFJob.kubeflow.org "tjob-tf1-ps-demo-10-1-0-0" not found，请问下怎么能查到什么原因导致出现unable to fetch TFJob
xxx？

PS：使用kubectl运行同样的tfjob的时候是能正常结束的，使用Client.go运行tfjob时才会出现该问题。

k8s version: 1.20
client.go version: 1.21

相关日志logs：
time="2022-06-13T06:51:01Z" level=info msg="Reconciling for job tjob-tf1-ps-demo

[2022-06-13 07:33] goodpp commented on #1612
I‘m sorry，请忽略或关闭这个问题！是我们应用程序自己的问题，

[2022-06-13 07:33] #1612 closed

[2022-06-14 04:33] PatrickXYS opened #1613 "Deprecate kubeflow/training related ECR repos"
**What steps did you take and what happened:**
As a post item of deprecating optional-test-infra, we'll deprecate kubeflow/training ECR repos provided by optional-test-infra.
Serves as sub-issue of https://github.com/kubeflow/testing/issues/1008

**What did you expect to happen:**
Deprecate kubeflow/training ECR repos provided by optional-test-infra

Private ECR Repo Lists:

**kubeflow/training**

[2022-06-14 04:50] johnugeorge commented on #1613
https://github.com/kubeflow/testing/issues/1008#issuecomment-1154706963

[2022-06-15 12:38] ehudyonasi commented on #1197
Do you still need one?

[2022-06-15 17:51] N-Kingsley commented on #1601
I have met the same problem, could you tell me what happened and how to solve?

[2022-06-16 06:07] #1533 closed

[2022-06-17 10:28] goodpp opened #1617 "MPIJob worker still running when NotEnoughResources with enable-gang-scheduling==true?"
请问下，MPIJOB刚性调度在资源不足的情况下，显示Running状态，是Bug吗？

== MPIJOB
NAME            AGE   STATE
hvd-tf1-mnist   16m   Running

===  POD
NAME                                     READY   STATUS    RESTARTS   AGE     IP            NODE                NOMINATED NODE   READINESS GATES
hvd-tf1-mnist-launcher                   0/1     Pending   0          14m     <none>        <none>              <none>           <non

[2022-06-17 10:51] goodpp commented on #1617
### training-operator version （v1.4.0）
public.ecr.aws/j1r0q0g6/training/training-operator:174e8813666951ded505daf334a37f60fd50c18d

[2022-06-20 04:10] zw0610 commented on #1617
A bit translation. MPIJob shows Status as 'Running' while not every related Pod is running.

It seems two issues come at once:
1. Even with `enable-gang-scheduling=true`, some Worker Pods get scheduled. (This seems a gang-scheduler issue instead of the training-operator one.)
2. With partial Worker Pods in Pending status, the MPIJob appeared in `Running` status. (If reproduced, this is an operator

[2022-06-20 09:36] goodpp commented on #1617
@zw0610 是的，确实存在2个问题

[2022-06-21 11:22] thesuperzapper commented on #1613
@johnugeorge @kubeflow/wg-training-leads I have made a script to migrate all the Notebook WG images from ECR to [GitHub Container Registry](https://github.com/orgs/kubeflow/packages).

I will use it to migrate the PUBLIC training ones ASAP (so we don't lose access to the old images):

- [`public.ecr.aws/j1r0q0g6/training/training-operator`](https://gallery.ecr.aws/j1r0q0g6/training/training-operat

[2022-06-22 00:49] thesuperzapper commented on #1613
@johnugeorge the mirroring is now finished, you can see them at:

- [`ghcr.io/kubeflow/training/training-operator`](https://ghcr.io/kubeflow/training/training-operator)
- [`ghcr.io/kubeflow/training/tf-operator`](https://ghcr.io/kubeflow/training/tf-operator)

For now they are just a one-time mirror from ECR (in the interest of not losing the old images if ECR dies).
If you want to start using the

[2022-06-22 03:23] goodpp commented on #1617
补充一些日志：
MPIJob启动8个worker，每个worker一个GPU，空闲4个GPU

== MPIJOB
NAME                              AGE    STATE
tjob-horovod-test-demo-12-1-0-9   4m4s   Running

=== POD
tjob-horovod-test-demo-12-1-0-9-launcher            0/1     Init:0/1    0          4m28s
tjob-horovod-test-demo-12-1-0-9-worker-0            1/1     Running     0          4m28s
tjob-horovod-test-demo-12-1-0-9-worker-1            1/1

[2022-06-22 07:35] gaocegege opened #1619 "feat(framework): Support JAX"
JAX becomes extremely popular these days. Users may expect to run JAX [distributed training](https://jax.readthedocs.io/en/latest/multi_process.html) jobs on Kubernetes with the help of training-operator.

JAX uses a “multi-controller” programming model where each JAX Python process runs independently, sometimes referred to as a [Single Program, Multiple Data (SPMD)](https://jax.readthedocs.io/en/

[2022-06-23 01:15] zw0610 commented on #1619
Any solid examples showing how a multi-host JAX job runs? Especially the host registering part.

[2022-06-23 03:21] zw0610 commented on #1617
/assign @hackerboy01
/assign @Garrybest

[2022-06-23 05:32] kuizhiqing commented on #1619
Well, to launch a distributed training with Jax, `jax.distributed.initialize` api should be used.
A method to implement this would be like this, training operator provide related environ for each container and the user script should handle them as below. [src](https://github.com/google/jax/blob/main/jax/_src/distributed.py).
[code]

Anyway, I'm not aware of any mature practice of this in productio

[2022-06-27 03:00] PatrickXYS commented on #1613
I don't think training repos are actively using those ECR images for deployment, from what I can tell, only notebooks WG are using it for production deployment.

Reason for the above observation: only notebooks ECR image has version tags such as `v1.1`, `v1.2`, etc.

So the rest of the other repos are no-concern, but notebooks might be a special one.

[2022-06-27 03:10] PatrickXYS commented on #1613
There are public ECR repos and Private ECR repos, I don't think training WG are using private ECR repos:

[code]

Can you help confirm? @johnugeorge Thanks!

[2022-06-28 06:02] YuxiangJohn commented on #1546
Which version fix this issue? I met the same problem.

[2022-06-28 06:12] cheimu commented on #1546
Current release is 1.4.0 which was released on March 2nd, so 1.4.1 will fix this problem. If you are urgent, please try the mainstream code which fixed it at late March.

[2022-06-28 06:42] YuxiangJohn commented on #1546
Thank you~ By the way, when will v1.4.1 be released?

[2022-06-28 08:11] YuxiangJohn commented on #1546
I finally solved the problem by the method @cheimu said. I merged the master to 1.4-branch with all the commits before#1550 (Mar 27)。

[2022-06-28 08:14] cheimu commented on #1546
It should be soon. Probably within these two weeks :)

[2022-06-28 11:13] johnugeorge opened #1622 "Release v1.5.0 tracking"
This PR is tracking new release v1.5.0 and related pending  issues

[2022-06-28 11:31] johnugeorge commented on #1622
Related: https://github.com/kubeflow/manifests/issues/2196#

[2022-06-28 13:13] #1617 closed

[2022-06-28 16:53] johnugeorge commented on #1622
SDK update: #1624
Images update: #1625

[2022-06-28 18:33] johnugeorge commented on #1622
Training operator v1.5.0 RC0 is out
https://github.com/kubeflow/training-operator/releases/tag/v1.5.0-rc.0

SDK v1.5.0rc0 is out
[1.5.0rc0](https://pypi.org/manage/project/kubeflow-training/release/1.5.0rc0/)

[2022-06-30 14:24] zhypku opened #1626 "Training operator fails to create HPA for TorchElastic jobs"
Hi,

We were testing PyTorchJob with ElasticPolicy and HPA configurations on Kubeflow. But it seems that training-operator cannot create HPA for the job.

Environment: K8s 1.20.11, Kubeflow 1.5, training-operator 1.4

I used the ImageNet elastic training example in [https://github.com/kubeflow/training-operator/blob/master/examples/pytorch/elastic/imagenet/imagenet.yaml](url) and added `metrics` c

[2022-06-30 14:27] gaocegege commented on #1626
/cc @kubeflow/wg-training-leads

[2022-06-30 14:37] Shuai-Xie opened #1627 "unknown field "ttlSecondsAfterFinished" in org.kubeflow.v1.PyTorchJob.spec"
Dear Developers.

I'm using kubeflow manifest 1.4.0, `training-operator:760ac1171dd30039a7363ffa03c77454bd714da5`.

And I try to use PytorchJob with the `ttlSecondsAfterFinished` feature like the official document: https://v0-6.kubeflow.org/docs/reference/pytorchjob/v1/pytorch/#github.com/kubeflow/pytorch-operator/pkg/apis/pytorch/v1.PyTorchJobSpec

Below is my test case and the error. Thanks a lo

[2022-06-30 18:58] wengyao04 commented on #1602
@zw0610 I think the logic is broken in https://github.com/kubeflow/common/blob/master/pkg/util/labels/labels.go#L26-L35
[code]
It reads the worker's index by looking up replicaIndexLabel. The max index plus 1 is the total number of replica (podSlices) https://github.com/kubeflow/common/blob/34276e9d2ffa39f5922479bff87dc5ed5ed94cfb/pkg/core/pod.go#L54-L67
In pytorch-operator, the replica index labe

[2022-07-01 06:04] henrysecond1 opened #1628 "Defaulting before validation cause operator panic"
**Reproduce**

Deploy below Pytorch job

[code]

Operator fails with below log

[code]

**Analysis**

`Default()` called before validation in `onOwnerCreateFunc`.
- https://github.com/kubeflow/training-operator/blob/v1.5.0-rc.0/pkg/controller.v1/pytorch/pytorchjob_controller.go#L530

It assumes a container exists, so panic occurs with `index out of range`.
- https://github.com/kubeflow/training-op

[2022-07-01 12:21] Shuai-Xie commented on #1627
Thanks for your kind reply @johnugeorge

I've tried your solution and the error not existed ! The new YML file is below.

However, the PytorchJob still exists even thought I've used `ttlSecondsAfterFinished` in `spec.runPolicy` as below.

Then, if I set `cleanPodPolicy: All`, the spawn pods will be cleaned immediately when the pytorchjob finished. However, the pytorchjob still exists. And in this

[2022-07-01 15:24] johnugeorge commented on #1627
Can you try latest RC release ?
https://github.com/kubeflow/training-operator/releases/tag/v1.5.0-rc.0

[2022-07-07 03:07] nkflash opened #1630 "training-operator can not get podgroup status(inqueue) with volcano when enable gang"
I setup two new clusters, both of them meet same problem.

enable gang in training-operator
![image](https://user-images.githubusercontent.com/42488903/177682343-045b5c00-e0e0-42b1-960d-5780411ee0a5.png)

submit PyTorch job which in example directory

[code]
The job will not create pod.

I check the pod group status:

[code]
It seems the status is correct: "inqueue"

from operator log: the job in

[2022-07-07 09:53] bsraya opened #1631 "Unable to assign a number of GPUs to the worker"
I just stumbled upon Training Operator's Python SDK. However, there is no tutorial on how to assign multiple GPUs to a worker. Could anyone tell me how to assign it correctly? Thank you so much.

Here is the code.
[code]

[2022-07-08 07:39] nkflash commented on #1630
![image](https://user-images.githubusercontent.com/42488903/177942262-772c6a48-f908-452b-96af-e8cb14661003.png)

![image](https://user-images.githubusercontent.com/42488903/177941742-a18ae815-4c9c-492d-89a6-69b58c5bdc17.png)

This is an bug, training-operator didn't watch pod group status change. But check pod group status. So only pod group status change will not trigger reconcile

[2022-07-08 07:41] nkflash commented on #1630
/assign @shinytang6

[2022-07-09 06:14] johnugeorge commented on #1631
you can put resource limits to the pod template

[2022-07-11 06:24] #1631 closed

[2022-07-14 06:08] shinytang6 commented on #1630
Thanks for the report @nkflash, it's a bug, would you like to fix that?

[2022-07-14 06:29] gaocegege commented on #1630
Thanks for the issue!

[2022-07-14 21:38] wengyao04 opened #1633 "Distributed tensorflow job with evaluator"
Hi, we find that if we add evaluator in our distributed tfjob like
[code]
The evaluator is added in TF_CONFIG
[code]

However, when using tensorflow operator, the evaluator is not added in TF_CONFIG
[code]

The problem is that when adding evaluator in the clusters, other nodes will wait for evaluator forever
[code]
We use tensorflow 1.14, python 3.7. Could anyone give any suggestions ? Thx

[2022-07-15 03:46] zw0610 commented on #1633
Could you tell us when you say `The evaluator is added in TF_CONFIG`, who did the composition of `TF_CONFIG`? Is it your code or the operator?

In my understanding (which could be wrong), the evaluator only reads the saved checkpoint or model and have no communication with ps nor worker.

[2022-07-18 05:25] johnugeorge commented on #1197
Inorder to ensure that helm charts are in sync, we can add one extra check in Github Actions.

[2022-07-18 14:29] martialblog commented on #1553
kubeflow/common is now at v.0.4.3 https://github.com/kubeflow/training-operator/commit/f554921b71ea817ec5405801401fe0483f60c66b any change we can get a training-operator minor release?

[2022-07-18 21:38] streamnsight opened #1634 "training operator needs an AuthorizationPolicy with istio"
I tried the sample
https://github.com/kubeflow/training-operator/blob/master/examples/pytorch/simple.yaml

in my kubeflow cluster and I was getting the following error in the istio side-car when looking with
[code]

The error:
[code]

I added the following policy to avoid the error

[code]

but it is still not working.
Now it seems to hang on the discovery of the c10d.

I see logs from nslookup bu

[2022-07-18 22:00] streamnsight opened #1635 "Wrong setting for disabling output buffering"
the code here:
https://github.com/kubeflow/training-operator/blob/bf3787f18ff6cf367ae813d1899e9244b4de7eb3/pkg/controller.v1/pytorch/envvar.go#L46

says it set the PYTHONUNBUFFERED to true to disable output buffering, but it does the opposite, setting it to "0"

and that prevents anyone from actually setting it to 1 since those override any env set by the user.

[2022-07-18 22:12] streamnsight commented on #1635
a work around is to use the python `-u` flag in the command itself.

[2022-07-19 04:20] johnugeorge commented on #1553
Ref: https://github.com/kubeflow/training-operator/issues/1622

[2022-07-19 09:18] martialblog commented on #1553
Awesome possum, looking forward to the release.

Still I think the project should maybe consider bugfix releases inbetween a major release? Maybe there is or was already discussion about that, just mentioning it.

Anywho, keep up the good work!

[2022-07-19 15:14] johnugeorge commented on #1553
You can try RC release https://github.com/kubeflow/training-operator/issues/1622#issuecomment-1169084672

[2022-07-19 16:11] streamnsight opened #1636 "pytorch distributed training hangs at init_process_group"
Not sure if it is a PyTorch issue or a Kubeflow / Training Operator issue, but I can't get it to work.

my code hangs at the `init_process_group`, which is the first meaningful line of the code.

See linked issue here: https://github.com/pytorch/pytorch/issues/81704

I added a AuthorizationPolicy because the proxy was not letting requests through:
[code]

and I have not seen other errors.

The log

[2022-07-19 18:08] streamnsight commented on #1636
I setup debug log level on the side car and see things like this:
[code]
but I honestly have no idea what that means.

[2022-07-19 19:18] streamnsight commented on #1636
I think I resolved this by adding the proper annotation on the pods and avoid istio side-car alltogether:

[code]

The key being the
[code]
annotation in each pod spec.

[2022-07-19 19:18] #1636 closed

[2022-07-19 19:19] streamnsight commented on #1634
I was having this issue: https://github.com/kubeflow/training-operator/issues/1636

but i found how to disable the istio-side-car, and that means there is no need for this AuthorizationPolicy

[2022-07-19 19:28] streamnsight opened #1637 "example is missing annotation to prevent istio side car injection"
https://github.com/kubeflow/training-operator/blob/master/examples/pytorch/simple.yaml

does not work as istio injects a side car and cause troubles.

I had to add the annotation
[code]

to avoid side-car-injection, so we end up with:
[code]

The issue was:
https://github.com/kubeflow/training-operator/issues/1636

[2022-07-19 19:28] #1634 closed

[2022-07-20 15:32] zclyne opened #1638 "All pods of an elastic PytorchJob get restarted when one pod is down with c10d backend, and pods keeps failing with etcd backend"
Hi! I'm trying to launch elastic PytorchJobs on my k8s cluster and I've got different problems while using c10d backend and etcd backend, and I'd like to check whether what I've observed is the expected behavior or a bug.

## c10d

I started the [imagenet elastic example](https://github.com/kubeflow/training-operator/blob/master/examples/pytorch/elastic/imagenet/imagenet.yaml) with 2 worker nodes

[2022-07-25 22:34] #1560 closed

[2022-07-28 03:51] goyalankit opened #1640 "Default LeaderElectionID is invalid"
The [default leader election ID](https://github.com/kubeflow/training-operator/blob/master/cmd/training-operator.v1/main.go#L99)  has an invalid format. If one enables leader election through `leader-elect=true`, the operator fails to start with the following error:

Example:
[code]

Fails to acquire lease:

`
E0727 20:44:04.107669 1889297 leaderelection.go:334] error initially creating leader ele

[2022-07-28 04:36] #1640 closed

[2022-07-28 06:57] ycfnana opened #1641 "pytorchjobs have not start time?"
I add runPolicy.activeDeadlineSeconds to pytorchjobs but it doesn't work because status.startTime is nil.
I see tf and mpi has added it. is missing it?

[2022-07-29 11:58] ycfnana opened #1642 "pytorchjob status.completionTime may be nil when backofflimit is nil"
when I start a wf like this:
[code]
its status is this:
[code]
but when backofflimit is nil, the completionTime will be nil.
look for code for common,
[code]
and then jobExceedsLimit will be false when backofflimit is nil and pytorchjobs not expired.
**is it a bug?**
and the logic of check exceedsBackoffLimit, it used nums of requeue to judge if exceed limit, but it'll also requeue if reconcile ha

[2022-07-29 12:07] ycfnana commented on #1642
i think we can add code to func SetDefaults_PyTorchJob? set default 0 for BackoffLimit

[2022-08-01 06:59] ycfnana commented on #1642
I search code of pytorch controller,
find this one
[code]
you set CompletionTime to pytorchjobs.status, and set condition, so I print these address like this:
[code]
the log is this:
[code]
maybe its the reason of no completeion time when failed

[2022-08-04 14:30] zclyne opened #1645 "Kubernetes HPA doesn't work with elastic PytorchJob"
# Background

Hi! I'm trying to launch elastic PytorchJob on training-operator with horizontal pod autoscaling (HPA), but I cannot get it work.

Here is the manifest of the job that I try to launch:

[code]

The image contains the [imagenet example training code](https://github.com/kubeflow/training-operator/blob/master/examples/pytorch/elastic/imagenet/imagenet.py) from the examples given under t

[2022-08-04 14:32] johnugeorge commented on #1645
/cc @gaocegege

[2022-08-05 23:34] asahalyft opened #1647 "MPIJOb Horovod - Gradient Accumulation is happening only in One Node"
Hi Team,

We observed that when we try to train a `pytorch lightning` job using `MPIJob` with Multiple nodes, we see only one node is doing all the training and gradient calculation, we do not see any other node participating in gradient calculation. We use Weights & Biases to log the metrics per epoch and we can only see one Node is logging all the metrices but others are not.  We eventually will

[2022-08-05 23:50] asahalyft commented on #1647
cc @terrytangyuan Any pointers on why this would happen would be very helpful.

[2022-08-11 01:58] alison-lim opened #1650 "Request for mxjob status bug fix"
Hi.
I want to request for mxjob status logic using training operator.
When I create a training job with a simple command, two job's condition status are created at the same time.
In fact, the job is completed, but it seems be Running when I check using 'kubectl get mxjob'
My guess is because the Running status is aligned to the bottom.
Could you fix this issue as soon as possible?
Please reply.

A

[2022-08-12 08:16] gaocegege commented on #1645
We defined the scale resource at https://github.com/kubeflow/training-operator/blob/master/manifests/base/crds/kubeflow.org_pytorchjobs.yaml#L8455

I will have a deep dive to see what happened here.

[2022-08-12 17:34] zclyne commented on #1645
Thank you so much!

[2022-08-16 01:58] alison-lim commented on #1650
Is there anyone who can reply?

[2022-08-19 13:58] johnugeorge commented on #1622
Final release cut

Training operator v1.5.0 is out from v1.5-branch
https://github.com/kubeflow/training-operator/releases/tag/v1.5.0

SDK v1.5.0 is out
https://pypi.org/project/kubeflow-training/1.5.0/

[2022-08-19 14:01] martialblog commented on #1553
Should be fixed in 1.5.0

[2022-08-19 14:01] #1553 closed

[2022-08-24 07:49] thuzhf opened #1653 "When will MPIJob support v2beta1 version?"
According to https://github.com/kubeflow/mpi-operator/blob/master/proposals/scalable-robust-operator.md , v1 version of MPIJob has several defects. And these defects are resolved in v2beta1. But in training-operator, only v1 version of MPIJob is supported. So my question is when will MPIJob support v2beta1 version?

[2022-08-24 08:41] johnugeorge commented on #1653
Since there are many users on v1 version, there are no plans as of now.

[2022-08-24 19:13] pablofiumara opened #1654 "Issue when upgrading from Kubeflow 1.3 to Kubeflow 1.5"
Error:

[code]

[2022-08-26 01:55] zzunny97 opened #1655 "What is the purpose of /examples/pytorch/elastic/etcd.yaml"
I don't understand clearly.
Is it necessary to apply this yaml file to run the imagenet ddp training under the directory?

[2022-08-26 01:57] gaocegege commented on #1655
It is only used in **elastic** distributed training. If you run DDP, there is no need to create this.

As for ealstic training, please have a look at https://pytorch.org/docs/stable/distributed.elastic.html

[2022-08-26 02:06] zzunny97 commented on #1655
Thank you for fast reply. I will look for the reference! Thanks again

[2022-08-26 02:06] #1655 closed

[2022-09-05 08:24] varinic opened #1657 "After setting hostNetwork to true, mpi does not work"
I set hostNetwork to true for the mpi job, but the new ip is not used when the MPI is actually executed, resulting in no communication between the worker pods.
I found the mapping between the physical machine ip and the worker pod name in /opt/kube/hosts of the launcher pod, but there is no such mapping relationship in the worker pod. I doubt this is the reason why MPI is not using the new ip?
Can

[2022-09-05 12:59] zw0610 commented on #1657
Could you confirm the mapping file is located at `/opt/kube/hosts`? From
the mpi-controller in the master branch, I think the controller does not
mount such a file.

Given the circumstance that the real ip of a pod will only be assigned
after the pod is scheduled, it seems quite possible that the
`kube-delivery` image does the job. In this case, could you confirm the
image (version/tag) of the `ku

[2022-09-05 13:19] varinic commented on #1657
The problem can be solved by removing "-mca pml ob1 -mca btl ^openib" parameter in the mpirun command.
Thanks!

[2022-09-05 13:19] #1657 closed

[2022-09-09 07:59] chengmengli06 opened #1658 "ps-worker mode, tfjob status update should consider all workers."
https://github.com/kubeflow/training-operator/blob/master/pkg/controller.v1/tensorflow/tfjob_controller.go#L460.
Currently, in ps-worker mode, tfjob is set to succeed in case master/chief pod is finished, however, it is likely that the evaluator is still running, in that case, if we set cleanPodPolicy to All or Running, the evaluator pod will be killed, thus, we cannot get the evaluation results f

[2022-09-10 09:09] zw0610 commented on #1658
I believe it's a fair point. Once users define an evaluator in
replicaSpecs, the lifecycle of this tfjob depends on whether the evaluator
is finished or not.

Do you think you can submit a patch fixing this issue? Otherwise, I can do
it later this week.

On Fri, Sep 9, 2022 at 4:00 PM chengmengli06 ***@***.***>
wrote:

[2022-09-14 11:48] vtlrazin opened #1661 "Training Operator pod failed to start on OCP 4.10.30 with error "memory limit too low""
Hi,
The training operator failed to start in OpenShift cluster v4.10.30 with error:
[code]
[code]
System info:
OCP - v4.10.30
Worker node - NVIDIA DGX A100

The proposed solution to resolve the issue to increase the limit in daemonset deployment to:

[code]

Best regards,
Vitaliy

[2022-09-18 15:46] tenzen-y opened #1664 "Support for multiplatform container imege (amd64 and arm64)"
/kind feature

I'd like to support multiplatform container image (amd64 and arm64), same as https://github.com/kubeflow/katib/issues/1900 so that users can run on arm machines such as NVIDIA DGX Server with Grace CPU.

ref: https://docs.docker.com/desktop/multi-arch/

[2022-09-18 16:11] tenzen-y opened #1665 "Change Kubernetes version for test"
/kind discussion

According to [this](https://kubernetes.io/releases/), it seems that K8s v1.21 reached EOL on 2022-06-28.
So, we need to change the below K8s versions for tests.

- https://github.com/kubeflow/training-operator/blob/8c9b33c6a381913c9bd9f1e16d2f1a4ba669071e/.github/workflows/integration-tests.yaml#L11
- https://github.com/kubeflow/training-operator/blob/8c9b33c6a381913c9bd9f1e16d2f

[2022-09-18 16:12] tenzen-y commented on #1599
@gaocegege Probably, we can close this.

[2022-09-19 04:14] johnugeorge commented on #1665
Yes. We should upgrade the versions as in Ltib

[2022-09-19 04:19] tenzen-y commented on #1665
Thanks for your response.
I will create the PR.

/assign

[2022-09-19 05:43] tenzen-y commented on #1665
I will create the PR once #1663 is merged.

[2022-09-19 11:22] shinytang6 commented on #1630
https://github.com/kubeflow/training-operator/pull/1666 should fix this issue

[2022-09-22 21:01] #1665 closed

[2022-09-26 13:52] leeqleeqleeq opened #1670 "There is no clusterrole of "MPI Jobs" in kubeflow 1.5."
I use a clusterrole that is **"kubeflow-admin"** for permission checking.
In kubeflow 1.3, I could find the clusterrole of **"MPI Jobs"** in "kubeflow-admin".
But, in kubeflow 1.5, I cannot find the clusterrole of "MPI Jobs" in "kubeflow-admin".

Of courese, I know that something has changed.
In kubeflow 1.3, there was clusterroles of Jobs.
For example,
- kubeflow-mpijobs-xxxxx (admin/edit/view)
-

[2022-09-27 04:06] #1661 closed

[2022-09-27 04:09] johnugeorge commented on #1670
This has been fixed.  https://github.com/kubeflow/training-operator/pull/1565

https://github.com/kubeflow/training-operator/blob/master/manifests/overlays/kubeflow/kubeflow-training-roles.yaml

[2022-09-27 13:44] #1670 closed

[2022-09-30 07:21] shuaiyy opened #1671 "update volcano to latest version"
1. the training-operator use `volcano.sh/apis v1.2.0-k8s1.19.6`,  which published 2 years ago.
2. now volcano is updated to 1.6.0,  maybe contains more feature or bug-fix

[2022-10-05 13:38] misohu opened #1672 "GPU benchmark image does not exist"
Trying to run GPU benchmark from [documentation](https://www.kubeflow.org/docs/components/training/tftraining/#using-gpus). The example uses images:

[code]
Seems like none of them exist. Can you point me to right images? Or if there is some other way to benchmark GPUs in kubeflow.

[2022-10-06 01:02] allendred commented on #1532
After testing, I think it is a bandwidth problem

[2022-10-06 01:02] #1532 closed

[2022-10-17 11:08] psheorangithub commented on #1630
How long will it take to merge that PR? I'm also facing the same issue

[2022-10-18 04:05] journey-wang opened #1673 "kubectl not work"
kubectl apply -k "github.com/kubeflow/training-operator/manifests/overlays/standalone?ref=v1.5.0"

error: rawResources failed to read Resources: Load from path ../../base failed: '../../base' must be a file (got d='/tmp/kustomize-294036135/manifests/base')

kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8"

[2022-10-18 04:11] tenzen-y commented on #1673
@journey-wang Thanks for creating this!
You need to use v1.21 or a later version of kubectl.

[2022-10-18 17:52] #1622 closed

[2022-10-20 11:54] johnugeorge commented on #1664
Ref: https://github.com/kubeflow/training-operator/pull/1674
@tenzen-y Should we add ARCH as param like in Katib?

[2022-10-20 11:54] #1599 closed

[2022-10-20 11:56] johnugeorge commented on #1650
Is this always reproducible?

[2022-10-20 12:06] tenzen-y commented on #1664
I will work on this before the next feature freeze date.

[2022-10-21 06:24] alison-lim commented on #1650
yes we solved this problem by fixing the clusterrole file.
my clusterrole "kubeflow-admin / kubeflow-edit" was not including mpijobs in kubeflow.org resources.

[2022-10-21 06:26] johnugeorge commented on #1650
This was fixed in latest release https://github.com/kubeflow/training-operator/pull/1565

[2022-10-31 09:00] D0m021ng opened #1678 "OnDependentUpdateFunc for Job will panic when enable volcano scheduler"
`OnDependentUpdateFunc` for TF Job will panic when enable volcano, because of job controller inject watching for job related podGroup.

**OnDependentUpdateFunc**
[code]
logger might be null when newObj is `v1beta1.PodGroup`

TF Job controller
[code]

panic
<img width="1427" alt="image" src="https://user-images.githubusercontent.com/9292128/198978851-3751c967-dcb2-45e8-887c-6a638426d167.png">

[2022-11-01 04:19] Crazybean-lwb opened #1679 "panic happened when add podgroup watch"
kubeadm version: v1.20.11
k8s version: 1.20.11
I have build training-operator image with this merged pr.
pytorch job can use gang-scheduler, now. However nil pointer problem happened, when  training controller build or watch pytorch jobs .
I have detected problem happened, when log event object in https://github.com/kubeflow/training-operator/blob/master/pkg/common/util/reconciler.go#L113
Some exc

[2022-11-02 03:16] Crazybean-lwb commented on #1678
not only tf, pytorch、mnnet... met the same problem :
https://github.com/kubeflow/training-operator/issues/1679

[2022-11-02 05:12] johnugeorge commented on #1678
which version of training operator are you using?

[2022-11-02 05:20] D0m021ng commented on #1678
k8s version: 1.20.15
training-operator version: v1-74655a (commit id `74655a177a7d886d6e2d9c86c800271d4d44687b`)

[2022-11-02 05:53] johnugeorge commented on #1678
Seems like, bug got introduced as part of https://github.com/kubeflow/training-operator/pull/1666

/cc @ggaaooppeenngg

[2022-11-02 07:44] ggaaooppeenngg commented on #1678
I only tested it with MPIJob. I made a temporary fix for this issue. @D0m021ng @johnugeorge

[2022-11-02 10:07] johnugeorge commented on #1678
@ggaaooppeenngg How did it work for MPIJob? Can you add a test case as well?

[2022-11-02 14:12] ggaaooppeenngg commented on #1678
@johnugeorge  Only MPIJob controller uses OnDependentXXXFuncGeneric which initializes the generic logger at the beginning. I am trying to commit to a test for it.

[2022-11-02 14:45] kimwnasptd opened #1681 "MPIJobs and Istio"
I tried to run some MPIJobs with Istio enabled in the user namespaces but have bumped into a couple of issues. I'll use this issue to expose the bugs that occurred as well as proposed solutions. Although we might need to break this into smaller issues.

I used the [`tensorflow-benchmarks`](https://github.com/kubeflow/mpi-operator/tree/master/examples/v2beta1/tensorflow-benchmarks) example, so this

[2022-11-02 15:18] johnugeorge commented on #1678
I see that pod watch uses OnDependentXXXFunc https://github.com/kubeflow/training-operator/blob/74655a177a7d886d6e2d9c86c800271d4d44687b/pkg/controller.v1/mpi/mpijob_controller.go#L200

[2022-11-02 15:27] johnugeorge opened #1682 "Support Kubernetes v1.25"
Based on [this](https://kubernetes.io/releases/),  K8s v1.22 reached EOL on 2022-10-28 and K8s v1.25 was released on 2022-08-23.

We need to support Kubernetes v1.25 for next operator release

[2022-11-02 15:28] terrytangyuan commented on #1682
Are we relying on any deprecated/removed APIs? We should have a CI to test against different versions.

[2022-11-02 15:29] johnugeorge opened #1683 "Training operator 1.6 Roadmap"
Major features tracked for next Training Operator release. Few might be a stretch but still tracked for next release.

- [ ] Better KFP integration (#1580)
- [x] PodGroup enhancements(#1574)
- [x] Integration with other training  frameworks - Paddlepaddle([#520](https://github.com/kubeflow/community/issues/520))
- [x] Enhancements on Pytorch Elastic training ([#1645](https://github.com/kubeflow/tr

[2022-11-02 15:32] johnugeorge commented on #1682
Yes. We have CI already . https://github.com/kubeflow/training-operator/blob/74655a177a7d886d6e2d9c86c800271d4d44687b/.github/workflows/integration-tests.yaml#L11

 I will create a PR to add 1.25

[2022-11-02 15:34] terrytangyuan commented on #1683
Looks great! Thanks for driving this!

[2022-11-02 19:52] #1682 closed

[2022-11-03 03:37] ggaaooppeenngg commented on #1678
@johnugeorge It is for the pod. For other objects, it uses the generic function.
https://github.com/kubeflow/training-operator/blob/74655a177a7d886d6e2d9c86c800271d4d44687b/pkg/controller.v1/mpi/mpijob_controller.go#L207

[2022-11-04 08:19] #1679 closed

[2022-11-07 04:00] #1678 closed

[2022-11-08 12:53] andreyvelich commented on #1681
cc @terrytangyuan @johnugeorge @alculquicondor @gaocegege

[2022-11-08 13:25] gaocegege commented on #1681
/cc @zw0610

[2022-11-11 05:18] namespace-io opened #1690 "Add Env Var in InitContainer"
https://github.com/kubeflow/training-operator/blob/05badc6ee8a071400efe9019d8d60fc242818589/pkg/controller.v1/xgboost/xgboost.go#L74

Can we add Env var in initContainer?
for example, if we use data parallel, we may expect every pod can use it's rank to get their own training dataset and we can download dataset when pod init, app container has no need to care where dataset comes from.

[2022-11-16 14:28] alculquicondor commented on #1653
Duplicate of #1479
/close

[2022-11-16 14:28] #1653 closed

[2022-11-17 13:34] andreyvelich opened #1691 "[SDK] Create unify client for all Training Job types"
Recently we introduced SDKs for MPIJob: https://github.com/kubeflow/training-operator/pull/1608 and XGBoostJob: https://github.com/kubeflow/training-operator/pull/1607 in a separate Kubernetes Python clients.

All of our clients (TFJobClient, PyTorchJobClient, MPIJobClient, XGBoostJobClient, MXJobClient) use logically the same CRUD APIs and we can reduce our code base.
Also, from the user perspect

[2022-11-17 13:43] andreyvelich commented on #1691
/area sdk

[2022-11-17 18:20] terrytangyuan commented on #1691
Great idea!

[2022-11-17 18:48] johnugeorge commented on #1691
Agree. It will give a better user experience

[2022-11-18 02:22] tenzen-y commented on #1691
Looks great!

[2022-11-21 04:05] alison-lim commented on #1650
sorry, it was different issue. It is still happening in my cluster.

Status:
  Conditions:
    Last Transition Time:  2022-11-21T03:21:20Z
    Last Update Time:      2022-11-21T03:21:20Z
    Message:               MXJob mxnet-job is created.
    Reason:                MXJobCreated
    Status:                True
    Type:                  Created
    Last Transition Time:  2022-11-21T03:27:06Z

[2022-11-22 02:24] NettrixTobin opened #1693 "Training-operator pod CrashLoopBackOff in K8s v1.23.6 with kubeflow1.6.1"
[code]

[2022-11-22 02:51] kuizhiqing commented on #1693
Is any crash log, maybe try with `kubectl logs -p training-operator-5cc8cdfdd6-xz5qq -n kubeflow`.

[2022-11-22 03:22] NettrixTobin commented on #1693
I gave it a try and the output is as follows
[code]

[2022-11-22 13:40] johnugeorge commented on #1693
@NettrixTobin Any other interesting logs? Is it any resource limits issue?

[2022-11-23 02:29] hecheng64 opened #1694 "PaddlePaddle Training: why can't find pods"
step：
1. kubectl apply -k "github.com/kubeflow/training-operator/manifests/overlays/standalone"

2. kubectl create -f https://raw.githubusercontent.com/kubeflow/training-operator/master/examples/paddlepaddle/simple-cpu.yaml

result：
![image](https://user-images.githubusercontent.com/38343878/203458527-ece7d1c7-74ec-4b7b-904d-96bd0b46482e.png)

NAMESPACE      NAME

[2022-11-23 03:16] johnugeorge commented on #1694
@hecheng64 The paddle paddle support has been added recently.

If you want to try, you can use this image  `kubeflow/training-operator:v1-dd77069`

[2022-11-23 03:40] hecheng64 commented on #1694
tks

[2022-11-23 09:42] #1694 closed

[2022-11-25 13:37] johnugeorge commented on #1693
Is it any Out of Memory issue? I am not seeing any issues in logs.

[2022-11-30 18:14] johnugeorge opened #1695 "Conformance tests for Training operator"
Add Kubeflow conformance tests for training operator components

Ref: https://github.com/kubeflow/kubeflow/issues/6485

/cc @james-jwu

[2022-11-30 18:19] johnugeorge commented on #1695
Design: https://docs.google.com/document/d/1TRUKUY1zCCMdgF-nJ7QtzRwifsoQop0V8UnRo-GWlpI/edit#

[2022-11-30 18:59] #1664 closed