[2018-01-19 20:31] #335 closed

[2018-01-19 22:38] jlewi commented on #326
Can we reuse K8s bots like label_sync?

[2018-01-20 15:07] jlewi commented on #337
The code is TensorFlow specific so I think `tensorflow.org` is fine although `kubeflow.org` would also work and I agree probably better.

I lean towards changing it to kubeflow.org.

[2018-01-20 15:35] jlewi commented on #333
- Is scalability an issue here? What if a job has 50 or 100 replicas? That seems like it would make the status unnecessarily verbose.

- The pattern of most controllers (e.g. ReplicaSet, [StatefulSet](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#statefulsetstatus-v1beta1-apps)) seems to be to provide aggregated statistics? Why would we do anything different?

- In many cases

[2018-01-20 15:44] jlewi commented on #165
If the training is stuck this will be surfaced to the user in the TFJob status in terms of number of replicas running, waiting etc... And the user can deal with it (e.g. increase cluster size if its an issue of not being replicas).

I think the pernicious/hard to deal with cases are going to be situations where "manual scheduling" doesn't work because there are so many jobs in the cluster that a u

[2018-01-20 15:50] jlewi commented on #330
There are currently two use cases for TFImage
   * Using it for TensorBoard
   * Using it for a vanilla parameter server

I'd be ok with changing how we handle both of these so that we no longer need TFImage.

For TensorBoard, I think it might make sense to launch TB separately. The original reason for making TB a replica was as a convenient way to tie lifetime of TB to lifetime of job. In practic

[2018-01-20 15:52] jlewi commented on #329
LGTM.

IsDefaultPs adds a lot of complexity to the controller and creates some weird failure modes e.g. using two different versions of TF for PS and workers.

[2018-01-20 15:54] jlewi commented on #283
I think I've commented on all the issues.

[2018-01-20 17:21] jlewi commented on #326
Should we have labels for issues specific to a particular distribution/cloud e.g.

distro/gke
distro/minikube
distro/canonical

What does K8s do?

[2018-01-21 00:39] DjangoPeng commented on #337
Vote for `kubeflow.org`. `.org`

Ref:
- https://en.wikipedia.org/wiki/.org
- https://en.wikipedia.org/wiki/.io

[2018-01-21 01:02] DjangoPeng commented on #326
@jlewi There are many SIGs in kubernetes community for different domain or distribution, such as

![image](https://user-images.githubusercontent.com/16943353/35189573-07c66cdc-fe88-11e7-8ec1-8cdcb565c700.png)

I checked the labels of kubernetes/kubernetes repo, and they have been divided into many classe as below.  Ref: https://github.com/kubernetes/kubernetes/labels?page=1&sort=name-asc

- area/{

[2018-01-21 14:28] ScorpioCPH commented on #333
@jlewi
Thanks, this is a good question!
Will re-think about this, a quick comments: maybe we should let user to decide whether we restart a failed `Pod` or ignore it (by `StartPolicy`).

[2018-01-22 02:36] ScorpioCPH commented on #326
Many labels are used for `bot` (e.g. lifecycle, priority, size, status) in kubernetes.

+1 pick up some of them, `area`, `kind`, `priority`.

[2018-01-22 06:02] k82cn commented on #165
Sure, it's exciting to run TF on kube-arbitrator :).

[2018-01-22 07:35] pineking commented on #337
`kubeflow.org` +1

[2018-01-22 16:34] ConnorDoyle opened #339 "[Discussion] Time to start tagging releases for the TF operator?"
Several documented examples depend on an unversioned tarball URL.

In order to:

- make demos more reproducible
- speak clearly about when changes happened
- make organized progress toward 1.0
- begin building release capabilities among the contributors

it would be great for this project to begin tagging pre-release (`v0.x.x`) versions.

[2018-01-23 05:44] jlewi commented on #339
What are the examples referring to an versioned tarball?

The way things are currently setup, we release versioned tarballs on each passing post-submit. So in principle the commit hash is the tag.

The suggestion in the [docs](https://github.com/tensorflow/k8s#installing-the-tfjob-crd-and-operator-on-your-k8s-cluster) is to pick a particular version and control when you upgrade. Is that not suffic

[2018-01-23 05:50] jlewi commented on #328
We announced this on Slack on January 20 7am Saturday and said we'd close voting by EOD Monday.
Since no one's chimed I think we can go with TFJob.

[2018-01-23 06:10] jlewi commented on #326
So looks like gke would be under team.

[2018-01-23 06:12] jlewi commented on #333
Yes. I generally agree we might want to let user decide what the restart behavior should be.

[2018-01-23 06:13] ConnorDoyle commented on #339
From the README, this is the first thing I saw as a user coming to the project.

[code]

While it's true you can get a tarball for an arbitrary commit, this isn't very user friendly. For one, a commit sha doesn't convey much information (ordering, relative distance from another tarball, alpha vs pre-alpha state, etc.)

Here's one scenario: If I look at a deployment of the operator and find a given

[2018-01-23 06:44] ScorpioCPH commented on #339
+1

@aronchick How about add this topic in the governance and process proposal which we planned to do at kick-off meeting last week?

[2018-01-23 08:18] #328 closed

[2018-01-23 10:08] sdf611097 opened #340 "[feature] Does tfJob support setting different label/envVar for each worker(replicas >1)?"
In my case, I have some tools which are designed by pod label.  How can I set different label for each pod which is created by tfJob? (N workers with different custom labels)
[code]

If not, are there any hints or suggestions to do this(Maybe I can make a PR). Such as naming, how to validating(spec.replicaSpecs.replicas equal to replicaLabels size) and so on.

[2018-01-23 10:11] ScorpioCPH commented on #281
@jlewi @DjangoPeng @gaocegege

So which namespace should we put our `CRD object (TFJob in our case)`:

- I prefer `kube-system`:
  -  `TFJob` a critical resource which is expected to be restricted to "kube-system" namespace.

[2018-01-23 10:28] ScorpioCPH opened #341 "Deprecate the ENV MY_POD_NAMESPACE and MY_POD_NAME"
As we discussed [here](https://github.com/tensorflow/k8s/issues/281):

- We decide to create `CRD object: TFJob` from CRD yaml file
- Set namespace in this CRD yaml file

So I propose to deprecate the `ENV MY_POD_NAMESPACE` and `MY_POD_NAME`.

@jlewi WDYT?

[2018-01-23 11:38] ScorpioCPH commented on #329
@jlewi @DjangoPeng Hi, what is `DefaultPS` in distributed TensorFlow? Any references?

[2018-01-23 13:00] jlewi commented on #281
Since the CRD is cluster scope namespace doesn't actually matter. So I think we should just leave it blank.

[2018-01-23 15:10] erikerlandson commented on #337
-1 for kubeflow

My mental model of this is that kubeflow is decoupled from tensorflow, and anything tensorflow specific ought not to refer to kubeflow.

[2018-01-23 18:18] jlewi commented on #329
In distributed TensorFlow the parameter server is just a standard TF gRPC server. Rarely do people do anything special in their code.

So DefaultPS was just syntactic sugar that would cause the TFJob controller to automatically start a standard TF gRPC server so that the user wouldn't have to write any code to do so.

[2018-01-23 18:23] jlewi commented on #339
I agree about moving to semver; I was thinking that we'd call may a 0.1.0 release.

I'm happy to start introducing more convenient user tags before than.

The main thing is I'd like our release process and tagging to be automated rather than getting into the habit of doing manual, human qualified releases.

So I'm fully supportive if someone wants to improve are release process to

- Use semver or

[2018-01-23 19:17] wbuchwalter commented on #337
+1 for for `kubeflow.org`

I always assumed it was, see Kubeflow's `README` which refers to this component, and `tensorflow/k8s` is embedded as a submodule in Kubeflow's code base.
But I do agree that it would be much clearer with a separate org.

[2018-01-23 20:22] ConnorDoyle commented on #339
Definitely +1 for automating this.

[2018-01-24 05:08] jlewi commented on #337
:( somebody seems to already own kubeflow.org.

[2018-01-24 13:52] wbuchwalter commented on #337
Registered Nov 23rd...
Well, let's  go with `kubeflow.io` then?

[2018-01-24 13:56] DjangoPeng commented on #337
:) I bought `kubeflow.org` for our kubeflow open-source project.

[2018-01-24 14:04] gaocegege commented on #340
@sdf611097

You could add labels in the YAML file and I think it should be added into the jobs and services created by the TFJob.

[2018-01-24 14:07] gaocegege commented on #281
We come to an agreement 🎉

:dibs

[2018-01-24 14:20] jlewi commented on #329
I filed tensorflow/issues#16365 to provide a replacement by adding grpc_std_server to the TF Docker image.

[2018-01-24 22:55] sanchitarora commented on #174
Looking for a troubleshooting guide to help me resolve the same problem.
`error: unable to recognize "config.yaml": no matches for tensorflow.org/, Kind=TfJob`
I have tried the pointers given in the previous issues without much luck. The crd, deployment and pod seem to be successfully created:
[code]
Logs from the pod don't seem to have the same problem for the controller config file which seems t

[2018-01-25 03:49] sdf611097 commented on #340
@gaocegege

I can set same labels to N workers as expected, but I don't know how to set different label for each worker. For example, I have 2 worker, each worker need 2 label (labelA, labelB).
[code]

P.S. I think my question is not clearly, so I made some modifications.

[2018-01-25 04:30] gaocegege commented on #340
@sdf611097

Got it, then it is a new feature.

[2018-01-25 04:36] gaocegege opened #346 "Performance Modeling and Evaluation of Distributed Deep Learning Frameworks on GPUs"
https://arxiv.org/pdf/1711.05979.pdf

label/gpu

[2018-01-25 04:36] #346 closed

[2018-01-25 04:37] gaocegege commented on #346
Sorry, I opened the issue by mistake.

[2018-01-25 12:34] #329 closed

[2018-01-25 12:37] #334 closed

[2018-01-25 12:39] jlewi commented on #340
You can't add individual labels specific to a replica (e.g. worker 0 vs. worker1). We do however add standard labels corresponding to the replica type and replica index.

[2018-01-25 12:53] jlewi commented on #339
Our release tooling as it is consists of the [script](https://github.com/tensorflow/k8s/blob/master/py/build_and_push_image.py) which gets the latest green and builds, pushes the artifacts.
   * This runs as a cron job in a dedicated K8s cluster

I think an obvious improvement would be to add a releases web page (#70) where users could go to find and download the latest release.

I looked a bit to

[2018-01-25 13:03] jlewi commented on #339
Adding this to the Kubecon Europe milestone because I think we should switch to semver by then. I also added #70 to the milestone.

Lets try to reach a consensus though on what specifically we want to get done by Kubecon? Other than adding a releases page and switching to semver tagging is there anything else?

Some questions about versioning
  * How do we map semver to K8s API versioning?

[2018-01-25 13:23] jlewi commented on #323
I think we should try to design our UIs to support having a path prefix.
The motivation is that to allow easy secure access from outside the cluster we want to have a single ingress point with a reverseproxy see google/kubeflow#11.

I think `kubectl port-forward` will be a source of friction so I'd like to avoid it. We will have many UIs (Argo, TFJobs, TensorBoard) etc...

I think an alternative s

[2018-01-25 13:24] jlewi commented on #322
Lets add a test to verify this isn't an issue.

[2018-01-25 13:25] jlewi commented on #321
See #339 for discussion about how we want to start tagging our releases.

[2018-01-25 13:26] jlewi commented on #314
Should we try to get this done by Kubecon?

[2018-01-25 13:27] jlewi commented on #322
Looks like we have a separate issue for a test #310

[2018-01-25 13:35] jlewi opened #347 "Get rid of TensorBoard replica"
I think we should consider getting rid of TensorBoard replica in TFJob.

This was a bit of a hack to simplify TB management by tying the lifetime of TensorBoard to the lifetime of the TFJob.

I think there are better solutions though

-  The UI can make it easy to launch/manage all the TB jobs
-  TB is moving to a model where the UI is stateless and backed by a DB tensorflow/tensorboard#92
-  We c

[2018-01-25 13:36] jlewi commented on #304
See #347 I think we should consider getting rid of TBReplica and managing TensorBoard separately.

[2018-01-25 13:37] #300 closed

[2018-01-25 13:38] jlewi commented on #294
Tests are green again.

[2018-01-25 13:38] #294 closed

[2018-01-25 13:38] #267 closed

[2018-01-25 13:41] jlewi commented on #229
This has been fixed.

[2018-01-25 13:41] #229 closed

[2018-01-25 13:43] jlewi commented on #224
@gaocegege @DjangoPeng What do you think? Can we close this or do you think we still need these fields?

[2018-01-25 13:44] jlewi commented on #206
Is there more work to be done to use Informer and Controller?

[2018-01-25 13:44] jlewi commented on #201
Argo seems like the most promising solution right now for docker builds.

[2018-01-25 13:44] #201 closed

[2018-01-25 13:46] jlewi commented on #188
This is obsolete because #343 removed DefaultPS and grpcServerFilePath.

[2018-01-25 13:46] #188 closed

[2018-01-25 13:49] jlewi commented on #174
What's the output of?

[code]

You might also want to try `TFJob` as opposed to `TfJob` the capitalization just changed #332 .

[2018-01-25 13:50] #150 closed

[2018-01-25 13:51] #120 closed

[2018-01-25 13:53] jlewi commented on #58
Closing this because we decided to remove default PS server (#329).

[2018-01-25 13:53] #58 closed

[2018-01-25 13:55] jlewi commented on #19
This is fixed.

[2018-01-25 13:55] #19 closed

[2018-01-25 13:55] jlewi commented on #54
This is fixed.

[2018-01-25 13:55] #54 closed

[2018-01-25 13:58] jlewi commented on #24
If we use glog is there a way to output json logs with metadata such as the job and replica a log message is associated with?

[2018-01-25 14:00] gaocegege commented on #224
I think we could close the issue.

[2018-01-25 14:01] gaocegege commented on #206
I think the work is done, and other things are in other issues, e.g. #314

[2018-01-25 14:05] gaocegege commented on #24
I am afraid not 🤔 , since there is no function about it in the docs https://godoc.org/github.com/golang/glog

[2018-01-25 21:53] sanchitarora commented on #174
@jlewi Thanks for the response! Changing the capitalization seems to have done the trick.
For anyone else who lands here - from the output of the crd yaml we can see that the name was capitalized (TFJob) hence the older name (TfJob) was not found
[code]

[2018-01-26 04:05] #174 closed

[2018-01-26 05:15] k82cn opened #349 "Enable kube-arbitrator as scheduler for tensorflow"
Per discussion at #165 , we'd like to take kube-arbitrator as scheduler; so I open this issue to trace all related sub tasks.

/cc @jlewi , @ScorpioCPH

[2018-01-26 05:15] k82cn commented on #349
/assign

[2018-01-26 05:27] mitake commented on #349
@k82cn great. IIUC, current kube-arbitrator doesn't have a mechanism of gang scheduling yet. We have in-house implementation of the feature (very limited subset just for slack demo can be found here: https://github.com/mlkube/gang-scheduler/tree/master/cmd/scheduler). If the idea can be accepted by kube-arbitrator, I want to make PRs to the project. How do you think?

[2018-01-26 05:30] k82cn commented on #349
@mitake , sure, that'll be great :). Please feel free to open the PR :).

[2018-01-26 05:30] mitake commented on #349
@k82cn thanks, I'll create a PR :)

[2018-01-26 05:58] k82cn commented on #349
@mitake , sorry for confusion :( We just created a PR for gang-scheduling few days ago. In kube-arbitrator, we re-use PDB to define the min Pod requirement; the policy to try to meet "min available" firstly :).

Regarding the PDB, it's also a point to discussion here; as you known, kube-arbitrator will also support other framework, e.g. Spark, so we will not parse the yaml/object of framework to g

[2018-01-26 06:00] k82cn commented on #349
/cc @foxish for what we are doing :).

[2018-01-26 06:05] mitake commented on #349
@k82cn thanks. Which is the PR for the gang scheduling? I'd like to try :)

[2018-01-26 06:30] k82cn commented on #349
refer to https://github.com/kubernetes-incubator/kube-arbitrator/pull/134 for more detail :). And here's [the tutorial](https://github.com/kubernetes-incubator/kube-arbitrator/blob/master/doc/usage/batchd_tutorial.md) for it.

[2018-01-26 06:32] k82cn commented on #349
/cc @jinzhejz

[2018-01-26 06:35] mitake commented on #349
@k82cn thanks, I'll try it

[2018-01-26 14:00] jlewi commented on #349
@k82cn Thanks for driving this!

[2018-01-26 14:49] yupbank commented on #337
+1 for for kubeflow.org

[2018-01-26 14:49] jlewi commented on #337
Up vote this comment for kubeflow.org

[2018-01-26 14:49] jlewi commented on #337
Up vote this comment for kubeflow.io

[2018-01-26 14:51] subramp commented on #337
+1 kubeflow.org
Also @DjangoPeng seems to own! :)

[2018-01-26 14:57] erikerlandson commented on #337
+1 for kubeflow.org

[2018-01-26 17:33] animeshsingh commented on #337
+1 kubeflow.org

[2018-01-26 17:58] rongou commented on #337
+1 kubeflow.org

[2018-01-26 18:31] nellaivijay commented on #337
kubeflow.org +1

[2018-01-26 20:50] jlewi commented on #323
So as part of creating a generic reverse proxy solution (google/kubeflow#11) I tried out TB and the dashboard UI behind an Envoy based reverse proxy.

TensorBoard works but the jobs UI doesn't.

My reverse proxy is rooting the app at

[code]
When I navigate to that page chrome developer console reports a 200 for the main page

[code]

But then there are failed requests to some resources because th

[2018-01-26 23:49] aronchick commented on #337
Sorry about that Erik. You can blame me - but it's Kubeflow. (Flow in the concept of ML flow or FB Learner Flow, not TensorFlow).

[2018-01-27 02:06] zhoudongyan commented on #304
LGTM. Thank you very much.

[2018-01-27 02:12] net-sniper commented on #337
+1 kubeflow.org

[2018-01-27 09:05] DjangoPeng commented on #337
+1 for kubeflow.org

[2018-01-29 13:52] #281 closed

[2018-01-29 22:00] jlewi opened #350 "Move tensorflow/k8s to kubeflow/tf-operator"
Now that we have the Kubeflow GitHub organization should we

- Move tensorflow/k8s into the Kubeflow GitHub org?
- Rename and rescope tensorflow/k8s to a TFJob CRD?

Reasons for moving the repo

- tensorflow/k8s is owned/adminstered by the Kubeflow community
   - Putting the repo under Kubeflow should facilitate this (e.g. we can use Kubeflow  GitHub teams to administer access to the tensorflow/k8

[2018-01-29 23:15] jose5918 opened #351 "Helm test tf-job does not pass validation"
I'm on gke with Kubernetes 1.8.6.

I have found that helm test e2e test does not pass validation.

Here are the steps I did to recreate:
[code]
[code]
[code]
It also appears to be fail validation for the example:
[code]
[code]

It looks like this might have been introduced in https://github.com/tensorflow/k8s/pull/343/files.

I would like to fix this but I'm not sure if the fix involved specifying

[2018-01-30 00:20] ConnorDoyle commented on #350
+1 to move

Propose naming the repo `kubeflow/tf-operator`. The rationale for basing the name onthe operator rather than the CRD it controls is that you could fathom more TF-related resources in the future.

[2018-01-30 00:56] yupbank commented on #350
+1 to move

[2018-01-30 00:59] ScorpioCPH commented on #350
+1
And how about naming it `kubeflow/tf-controller` :)

[2018-01-30 01:13] gaocegege commented on #350
+1, and +1 for the name `kubeflow/tf-controller`

[2018-01-30 01:49] k82cn commented on #350
+1 to move :).

`kubeflow/tf-controller` seems better for k8s's style :).

[2018-01-30 02:00] jlewi commented on #350
Per tensorflow/k8s#300
`kubeflow/tf-operator` seems better than `kubeflow/tf-controller`

[2018-01-30 02:49] ScorpioCPH opened #352 "Should resourcelock be in the same namespace as controller?"
As we discussed [here](https://github.com/tensorflow/k8s/pull/348#discussion_r164426000), need to investigate whether the namespace of resourcelock should be the same as controller.

[2018-01-30 03:30] gaocegege opened #353 "[discussion] Whether to create CRD in helm charts"
Ref https://github.com/tensorflow/k8s/pull/345#discussion_r164629785

\cc @jlewi @ScorpioCPH @DjangoPeng

[2018-01-30 03:32] gaocegege commented on #350
tf-operator SGTM, too.

[2018-01-30 03:35] gaocegege commented on #337
If we come to an agreement, I could file a PR to rename the group name of the CRD.

[2018-01-30 03:37] pineking commented on #350
+1

[2018-01-30 04:52] jlewi commented on #337
Consensus is kubeflow.org.

[2018-01-30 13:16] jlewi commented on #353
Won't the TFJob controller just crash-loop until the CRD exists? We could have the controller just wait and retry until the CRD exists.

[2018-01-30 13:18] jlewi commented on #352
I suspect it should be because the resource lock is per controller; i.e. we might have different controllers in different namespaces each claiming a different set of TFJobs.

So resource lock should be scoped to a namespace because we only 1 instance of the controller in each namespace accessing the subset of TFJobs assigned to that namespace.

[2018-01-30 13:37] jlewi commented on #351
So there are two issues one is the issue you mentioned and the other is that fact that are tests are reported as passing even though the test is failing.

To fix the issue mentioned above we need to specify the program to invoke for the parameter servers because #343 removed the default program.

So [here](https://github.com/tensorflow/k8s/blob/master/test/e2e/main.go#L89) we need to add a Templat

[2018-01-30 13:43] jlewi opened #355 "Helm test failure not reported to gubernator"
See #351; helm test is failing but this is not properly reported to gubernator.

Here are the logs from Airflow from the run_tests step.

[code]
So because an exception is occurring we never set t.failure and the test isn't reported as failed.

@jose5918 can you fix this is in the same PR as #351? We can't fix this issue without the fix to #351 because without that fix the tests won't pass.

[2018-01-30 14:09] #337 closed

[2018-01-30 17:22] jose5918 commented on #355
@jlewi Sure

[2018-01-30 19:45] karthikvadla commented on #351
I tried adding spec to PS section for https://github.com/tensorflow/k8s/blob/master/examples/tf_job.yaml#L24. It *fixed* invalid spec issue while creating TFjob `example-job`.
I did same change in https://github.com/tensorflow/k8s/blob/master/test/e2e/main.go#L90 and
https://github.com/tensorflow/k8s/blob/master/test/e2e/simple_job.yaml.template#L24. But Still `helm test tf-job` failing with same

[2018-01-30 23:48] jlewi commented on #351
@karthikvadla Can you take a look at #356 looks like the tests are passing with that PR.

[2018-01-31 00:39] #351 closed

[2018-01-31 03:03] gaocegege commented on #350
@pineking This repo would be moved to kubeflow/tf-operator, not kubeflow/kubeflow, I think. It will be transferred so when you visit github.com/tensorflow/k8s it will be redirected to kubeflow/tf-operator.

[2018-01-31 03:15] gaocegege commented on #350
There are some tasks we should do before we move to kubeflow/tf-operator:

- [ ] Rename the import path in go files, python scripts, markdown files, YAML, Dockerfile, and other files.
- [ ] Regenerate the client
- [ ] Update the name in [kubernetes/test-infra](https://github.com/kubernetes/test-infra/blob/master/prow/plugins.yaml)
- [ ] Update kubeflow/kubeflow submodule and docs

[2018-01-31 03:32] jlewi commented on #350
Does it matter whether we do the rename before or after we move the repo?

I suggest we don't update the name in kubernetes/test-infra until after the move so that our tests continue to work.

[2018-01-31 04:08] ScorpioCPH commented on #352
After taking a deep look at source code [here](https://github.com/kubernetes/client-go/blob/master/tools/leaderelection/resourcelock/endpointslock.go#L29-L36), I think resourcelock's name and namespace is not related to CRD or controller.

It is used for create new `Endpoint` object with `LeaderElectionRecord` annotation, code is [here](https://github.com/kubernetes/client-go/blob/master/tools/lea

[2018-01-31 04:39] gaocegege commented on #350
@jlewi SGTM, I think it does no matter 😄

[2018-01-31 05:13] jlewi commented on #352
Thanks for investigating.Can you clarify what you mean unrelated? Shouldn't the resourceLock be deployed in the same namespace as the controller?

It seems strange that the controller would be creating resources in the default namespace.

If I deploy the controller in some name space e.g. "controller-test", then my expectation is that if I delete the namespace "controller-test" all resources assoc

[2018-01-31 06:11] ScorpioCPH commented on #352
No, it shouldn't. You can deploy `ResourceLock` and `controller` in different namespaces.

I don't think so.

Actually, you can deploy `controller` in many ways:

- Daemonset(recommended)
- Binary
- Docker container

It will create only one `Endpoint` object even if we restart the controller.

SGTM.

But i'm not sure how to get the namespace of controller if user deploy it in themselves way, set a

[2018-01-31 06:29] Jimexist commented on #350
🚀 no churn no gain, early churn << later churn.

[2018-01-31 06:31] Jimexist commented on #324
@wbuchwalter I think this is fixed?

[2018-01-31 13:10] jlewi commented on #352
I think this a good solution as it allows us to use the same namespace as the controller for the resourcelock when deployed on K8s.

If we use a flag that we set via environment variable when running on K8s, does that mean we can't run the container using the [exec](https://docs.docker.com/engine/reference/builder/#run) form and need to run in a shell because we rely on environment variable expans

[2018-01-31 13:20] jlewi commented on #353
If we move CRD creation out of the helm chart then the user has 2 things to deploy right?

In the context of Kubeflow, we  use ksonnet to create both the CRD and deploy the operator. That seems  equivalent to having the helm chart create the CRD and deploy the controller.

[2018-01-31 13:59] jlewi commented on #205
I've started working on this.

[2018-01-31 14:02] jlewi commented on #350
I've started working on #205 (replacing Airflow with Argo for CI). My suggestion is we wait until we've migrated off Airflow to Argo for testing to do the move. Debugging tests is so painful with Airflow that I'd rather migrate to Argo first as I think this will make dealing with the churn and breakages much easier.

[2018-01-31 14:18] wbuchwalter commented on #324
@Jimexist Yep, not sure why it wasn't closed automatically. Thanks.

[2018-01-31 14:18] #324 closed

[2018-01-31 14:39] jlewi commented on #214
The CRD is now created explicitly (e.g. using ksonnet). Any change to the CRD should arguably correspond to a bump in the CRD version. So if each controller only claims TFJobs at a particular version and for a particular namespace then tests should be isolated pretty well and we should be able to reuse clusters speeding up the tests.

[2018-01-31 21:32] jose5918 opened #360 "Local releaser fails due to version_tag"
I was trying to test a release in my own registry and got this error.
[code]
Passing in version_tag doesn't seem to help.
[code]

[2018-02-01 01:07] jose5918 commented on #321
@jlewi Mind if I take this? I found this was being tagged as dirty as a result of glide install. Making an adjustment to how we check modified files like this: `git ls-files *[^vendor/*] --modified` or `git ls-files --modified | grep -v ^vendor` should make it stop tagging as dirty. Does that seem like a valid solution?

Also I haven't tried with airflow or anything but the earliest release I see

[2018-02-01 01:58] gaocegege commented on #326
I think it is better to put gke in distro since it is an environment, and google could be placed in team 🤔

WDYT @DjangoPeng

I think the issues are not friendly to new contributors or users now, could you give me a write access temporarily and I could add these labels manually to the existing issues? @jlewi

[2018-02-01 02:38] jlewi commented on #321
That would be great thanks.

[2018-02-01 02:48] ScorpioCPH commented on #352
You can use the ENV statement to set an environment variable in your Dockerfile.

IMHO, We should use environmental variables sparingly:

- They are delete-able, set-able from anywhere, if i inadvertently changed the value of ENV, I can't see the change clearly.
- They're visible be any programs which running on the same HOST, i don't think it is a safe way.

Command-line arguments seems better:

[2018-02-01 05:48] jlewi commented on #352
So I generally agree about environment variables vs. command line flags. But in this particular case, POD_NAMESPACE describes the runtime environment so isn't this a suitable use case for using an environment variable and not a flag?

The only time we want to set a flag is when running on K8s in which case the POD_NAMESPACE environment variable will be set via the downward API.

If you wanted to s

[2018-02-01 05:51] jlewi commented on #326
@gaocegege invite with write access sent. Thank you.

[2018-02-01 06:30] gaocegege commented on #304
😄  could we close the issue?

[2018-02-01 06:31] gaocegege commented on #302
This could be solved after #314

[2018-02-01 06:33] gaocegege commented on #266
Who should be the copyright owner: google or kubeflow? I think we should communicate with the community.

[2018-02-01 06:35] gaocegege commented on #255
Did we solve the issue?

[2018-02-01 07:34] ScorpioCPH commented on #352
The simple question: what if I want to run another program with the same `POD_NAMESPACE` environment variable but different values?

Sorry i'm not very clear about your point here, `command line flags` and `environment variable` have nothing about how we deploy the program (docker, k8s, binary, etc).

Why should i still need to set the environment variable?

AFAIK, most components of k8s (kubelet,

[2018-02-01 12:00] jlewi commented on #255
Nope.

[2018-02-01 12:25] gaocegege opened #363 "[enhancement] Rename the cmd/tf_operator to cmd/tf-operator"
The new name is more k8s style, and #350 also sets the repo name to tf-operator.

And, the command name in kubeflow should be changed, too.

[2018-02-01 13:30] jlewi commented on #352
So the problem we want to solve is how to let the tf-operator know what namespace its running in.
The operator needs to know what namespace its in so that it can create other resources (e.g. the resource lock) in the same namespace.

The namespace is a property of the runtime environment i.e. the K8s pod. The environment variable should only be set when running on K8s. Furthermore,  the namespace

[2018-02-01 13:32] jlewi commented on #266
I think it has to be Google until Kubeflow becomes part of a foundation (e.g. CNCF). At which point CNCF can be used.

[2018-02-01 13:38] jlewi commented on #53
So I think the additional work items are

- enforce pep8 check using pipenv
- use prettier for markdown checks

py lint checks are performed by running py scripts using prow.
go lint checks are performed by running gometaliner using Travis

My preference over time would be to do everything using prow. So when we add more checks lets do it by using prow.

[2018-02-01 13:42] gaocegege commented on #266
@jlewi Well, I will file a PR to solve the issue.

[2018-02-01 15:35] ewilderj commented on #266
Actually, it doesn't have to be Google. For TensorFlow, it is just "The TensorFlow Authors." I will check out what ought to be recommended for us, but as a working presumption, I'd go with "The Kubeflow Authors."

[2018-02-01 16:13] jlewi commented on #266
Great

On Feb 1, 2018 7:35 AM, "Edd Wilder-James" <notifications@github.com> wrote:

[2018-02-01 17:14] ewilderj commented on #266
I can confirm that "Copyright The Kubeflow Authors" is the right copyright line, followed by the Apache 2 header.

[2018-02-02 01:04] gaocegege commented on #266
@ewilderj The Kubeflow Authors SGTM, and I will update the PR 😄

[2018-02-02 01:54] ScorpioCPH commented on #352
Thanks for your nice explanation, one last question:

Should the environment variable `NAMESPACE` be required?

I prefer optional.

[2018-02-02 02:22] jlewi commented on #352
Optional is fine.

[2018-02-02 18:54] #266 closed

[2018-02-02 18:54] #360 closed

[2018-02-02 18:56] #341 closed

[2018-02-02 19:45] kevincvlam opened #366 "tf-job-operator pod hangs and doesn't restart if it can't delete one of the TfJob pods"
Hi!

We're experimenting with the TfJob on a kubernetes cluster with auto-scaling.

Observing an error where sometimes one of the pods created by the TfJob will finish but then be deleted because the node it ran on is being de-allocated (for example, it was a pod that required a GPU. It triggered the autoscaler to bring up a node and after it completed, the node was idle and so was scaled down.)

[2018-02-03 02:21] gaocegege commented on #366
Hi @kevincvlam

Do you run the operator locally or use our ksonnet app in kubeflow/kubeflow? And is the TFJob complete? And could you file the log about the new TFJob?

[2018-02-03 08:34] gaocegege commented on #355
It seems that problem has been solved, could we close it?

[2018-02-03 08:36] gaocegege commented on #353
@jlewi I think so, and BTW, I was wondering why do we use helm chart in this repo but ksonnet in kubeflow/kubeflow?

[2018-02-04 10:32] gaocegege opened #369 "[discussion] How to set clusterspec"
Now we set the `TF_CONFIG` to get the cluster spec in the training code, and it follows the idea in [Google Cloud Machine Learning Engine (Cloud ML Engine)](https://cloud.google.com/ml-engine/docs/trainer-considerations#use_tf_config).

In [TensorFlow distributed training docs](https://www.tensorflow.org/deploy/distributed), it uses CLI arguments instead. We can not support those two ways since we

[2018-02-04 10:34] gaocegege commented on #352
Could we close the issue since https://github.com/tensorflow/k8s/pull/348 is merged 🤔

[2018-02-04 19:13] jlewi commented on #366
So the problem is that new TfJob objects fail to spin up any new resources.

The tf-job-operator log doesn't indicate any new jobs being created. Once the tf-job-operator enters this broken state, can you try creating a new TFJob and providing the logs for it so we can see what is happening.

[2018-02-04 19:13] #355 closed

[2018-02-04 19:14] #352 closed

[2018-02-04 19:16] jlewi commented on #353
@gaocegege The use of helm predated our use of ksonnet. We should switch to using ksonnet and get rid of the helm chart #239

[2018-02-04 19:19] jlewi commented on #340
@sdf611097 Does this address your needs?

[2018-02-04 19:26] jlewi commented on #369
TF_CONFIG is a TensorFlow convention that TF APIs like the EstimatorAPI use to get information about the runtime environment and configure the job appropriately.

If users want to use command line arguments, they can write a launcher script that parses TF_CONFIG and sets the command line arguments as needed. This is what we do in the TFCNN example; see https://github.com/kubeflow/kubeflow/blob/mas

[2018-02-04 19:39] jlewi opened #370 "Post submits are failing with Argo"
Post submits are failing with Argo. The pod doesn't even start.

The stackdriver log shows the following error

[code]

The problem is when we create a name for the workflow we don't truncate the sha and it ends up being too large.

[2018-02-04 19:46] jlewi commented on #370
Should be fixed by kubeflow/testing#9

[2018-02-04 22:51] jlewi commented on #205
#358 is submitted.  Tests are using Argo now.

I deleted the cluster GKE cluster prow in project mlkube-testing which was used to run Airflow.

[2018-02-04 22:51] #205 closed

[2018-02-04 22:56] jlewi commented on #350
I submitted #205.

I'll plan on moving this repo to **kubeflow/tf-operator**  early this week

@wbuchwalter @DjangoPeng @gaocegege  as committers to tensorflow/k8s can you explicitly LGTM/+1 this change?

[2018-02-05 00:03] DjangoPeng commented on #350
+1 for moving it to kubeflow/tf-controller.

[2018-02-05 01:25] gaocegege commented on #350
+1

[2018-02-05 01:27] gaocegege commented on #353
LGTM and I am closing the issue.

[2018-02-05 01:27] #353 closed

[2018-02-05 01:40] gaocegege commented on #369
SGTM, WDYT @DjangoPeng

[2018-02-05 05:38] k82cn commented on #349
@gaocegege , great :).

[2018-02-05 06:18] pineking commented on #349
that's great to implement the queueing on k8s https://github.com/cncf/soc#batch-scheduling-and-queueing-for-data-processingml-workloads, @gaocegege , If there some progress, please let me know, I can test it first.

[2018-02-05 09:35] ScorpioCPH commented on #333
@jlewi @gaocegege How about this structure for TFJobStatus:
[code]

[2018-02-05 09:40] DjangoPeng commented on #333
@ScorpioCPH How about using `Running` instead of `Active`?
There is only one chief worker, so only one of `ActiveChief`, `CompletedChief` and `FailedChief` are `1`, and others would be `0`. Am I right?

[2018-02-05 09:53] gaocegege commented on #333
LGTM

[2018-02-05 09:59] ScorpioCPH commented on #333
Yes. And the same as `local job`:

[code]

[2018-02-05 13:36] sdf611097 commented on #340
Yes. If I still need to set different label or env var for each job, I will send a PR.

[2018-02-05 15:16] gaocegege commented on #206
I am closing the issue since we have already finished it. Thanks for your awesome contribution again @wackxu

[2018-02-05 15:16] #206 closed

[2018-02-05 15:24] gaocegege commented on #349
FYI There are some discussions about kubeflow integration in https://github.com/kubernetes-incubator/kube-arbitrator/issues/156

[2018-02-05 18:00] jlewi commented on #370
Here's the most recent postsubmit

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/tensorflow_k8s/tf-k8s-postsubmit/129/
http://testing-argo.kubeflow.io/timeline/kubeflow-test-infra/tf-k8s-postsubmit-4220361-129-d4ee

The workflow ran successfully (sha is properly truncated) but the test is marked as a failure because it timed out waiting for the workflow to finish.

The timeout i

[2018-02-05 18:02] jlewi commented on #340
@sdf611097 Thanks.

[2018-02-05 18:02] #340 closed

[2018-02-06 00:09] jlewi commented on #333
What is a LocalJob?

Why not

[code]

This seems more flexible in terms of supporting changes to the Replica type (see #64).

[2018-02-06 00:20] jlewi commented on #350
@DjangoPeng @gaocegege  Seems to be some disagreement over the name.

Based on the feedback in this issue `kubeflow/tf-controller` seems more popular but based on tensorflow/k8s#300 `kubeflow/tf-operator` seems like the more accurate terminology.

Specifically, [this comment]( https://github.com/tensorflow/k8s/issues/300#issuecomment-357527937) says that an operator is a controller that is applica

[2018-02-06 00:23] bhack commented on #35
What about https://github.com/Microsoft/KubeGPU?

[2018-02-06 02:04] DjangoPeng commented on #350
@jlewi @gaocegege
Operator is more powerful than controller in my mind. If we move it to `kubeflow/tf-operator`, we'd better clearly define the scope of `tf-operator`. For example, it can manage the whole lifecycle of distributed tensorflow jobs and provide many termination policies such as `restart`, `restore`, `stop`, etc.

BTW: Considering the development of kubeflow, there are `mxnet-operator`

[2018-02-06 02:05] ScorpioCPH commented on #333
`LocalJob` is a non-distributed training job.

I'm not sure it is a good pattern to keep information in deeper layers. I would think it might be a little bit tough to get the information directly and explicitly.

And about `flexible` and `changing to the Replica type`, Can you give a example about the changes?
And as we use `TFJob` to represent the `TensorFlow` jobs, so keep the status more explic

[2018-02-06 12:18] gaocegege commented on #350
@DjangoPeng

Yeah, I think this repo is a operator, since it does manage the whole lifecycle of distributed TF jobs. I agree that it is better to place all clientset and CRD in one repo, but it is not in high priority, IMO.

[2018-02-06 12:46] jlewi commented on #333
What does a non-distributed job require special handling? Why isn't that just a job with a single chief, no workers and no PS?

And as we use TFJob to represent the TensorFlow jobs, so keep the status more explicitly maybe better

The proposal in #64 is to get rid of ReplicaType and introduce different properties to control different behaviors such as restart behavior rather than the inferring thi

[2018-02-06 12:55] jlewi commented on #350
It seems like we're ok with kubeflow/tf-operator for now. I'll add this to the community meeting agenda just to ensure there's no final objections.

I agree with @DjangoPeng that if we add more operators in the future we might need to rethink code organization but I say we cross that bridge when we come to it.

I opened #179 to gauge interest in PyTorch. Anecdotally PyTorch is the deep learning fr

[2018-02-06 13:25] gaocegege commented on #350
@jlewi The issue should be https://github.com/kubeflow/kubeflow/issues/179 😄

And FYI, there is a third party MXNet operator inspired by this repo: https://github.com/deepinsight/mxnet-operator. But it follows our old architecture, and I think we should rewrite it to be event-driven.

[2018-02-06 13:30] DjangoPeng commented on #350
Cool!

[2018-02-06 16:12] aronchick opened #371 "User facing website for Kubeflow that details how to choose a stack"
Just start with the information architecture

[2018-02-06 16:13] #371 closed

[2018-02-06 17:03] ScorpioCPH commented on #64
It seems like we must use something to specify the `Type` of `TFReplica`.
+1 for `type`.

I don't think `name` or `job` can represent this exactly.

[2018-02-06 17:06] ScorpioCPH commented on #61
How about claim the minimum version we supported now.

Is this will be a new `TFReplicaType` in the future?

[2018-02-06 17:15] ScorpioCPH commented on #333
Sure, each time I want to get how many worker Pods are running, I must iterate over the whole array, filter which type == workers, return the value i want. This is

A map is better than array/list, we can have many map operations (e.g. set/get).

But the containers have the same template (no different type).

How abut use map:

[code]

[2018-02-06 21:10] jlewi commented on #350
Decision at the morning meeting was to move the repo to kubeflow/tf-operator
I think I'd like to get an E2E test that verifies kubeflow is working (kubeflow/kubeflow#207) before we move things to try to avoid getting in the state where things are broken at head.

[2018-02-06 22:40] jlewi commented on #333
I think the spec and status should be consistent; either both lists or both maps

So option 1

[code]

Option 2

[code]

I think I prefer lists for the following reasons

- This is the convention in K8s
   - e.g. a Pod contains a list of containers/volumes not a map of containers/volumes
-  With a map the question becomes do we store the name in ReplicaSpecs/ReplicaStatus or just rely on the key i

[2018-02-06 22:55] jlewi opened #373 "Improve our test harness to make it easy to write lots of E2E tests"
We need to improve our E2E test coverage for the TFJob controller.

At a high level I think they are two sets of tests we want to write

 - Tests that exercise different/features control options (e.g. Termination policies, different types of replicas, GPUs, etc...)
 -  Tests that exercise different situations; e.g. deleting a job, then recreating a job with the same name.

For the former, we could

[2018-02-07 01:52] ScorpioCPH commented on #333
TFJobs are not the same as Pods, we have `ReplicaType`, this is the key point which make things more complex.

Why should we store the name, i think it is read-only. Is there any chance we will modify it?

Another case, we create `Pods/Services` due to `ReplicaSpecs`, then watch these Pods are created to update the `ReplicaStatus`. We can set this directly by `TFJob.Status["worker"].active` withou

[2018-02-07 02:02] jlewi opened #375 "What to do about example TFJob YAML specs?"
We currently have some example YAML specs [here](https://github.com/tensorflow/k8s/tree/master/examples).

- Do we still need these?
- Should we turn them into ksonnet templates to facilitate running them as part of our E2E tests (see #374)?

[2018-02-07 07:12] gaocegege commented on #333
I prefer map, for the following reasons:

- the data structure is easy to iterate. When i implement caicloud/kubeflow-controller, I found that it is not easy to get the index of the spec in the list: https://github.com/caicloud/kubeflow-controller/blob/master/pkg/tensorflow/distributed.go#L201. And if we replace the spec list with map, it will be easier.
- the config is tidy:

[code]

And pod has

[2018-02-07 14:16] jlewi commented on #339
I think we should close this in favor of kubeflow/kubeflow#215

I think the ksonnet configs are the things we want to tag and pin since those are what we expect users to interact with.

[2018-02-07 14:57] jlewi commented on #322
@cliveseldon reported a similar problem but in his case the first job was successful.

[2018-02-07 15:02] jlewi commented on #322
I suspect a bug in the [controller](https://github.com/tensorflow/k8s/blob/master/pkg/controller/controller.go#L229).

The controller stores a map from name to TrainingJob. I suspect we are incorrectly using the existing TrainingJob when resubmitting a job with the same name. I thought this was fixed by #308  which added a check based on the UID of the job but maybe I'm missing something.

Is it p

[2018-02-08 03:48] Jimexist opened #377 "use Python3 for all python code?"
I think nowadays new projects should not use Python2 but I see some code that is incompatible with Python3.

I think we should try to use Python3 and do back-compatible support for Python2 only if needed.

[2018-02-08 03:56] gaocegege commented on #377
LGTM, I agree that we should use python3, although it is not in high priority.

[2018-02-08 11:46] ScorpioCPH commented on #333
@jlewi WDYT? Maybe we can start this change in `api/v1alpha2`.

[2018-02-09 08:27] gaocegege opened #379 "[enhancement] Refactor docs"
Now our readme is too long and we missed some useful info, e.g. slack and mailing list. I think we could:

- add a new markdown file `get-started.md` and put most of the content in that file.
- add argo link into readme

#dibs

[2018-02-09 14:32] gaocegege commented on #317
#dibs

[2018-02-09 14:40] jlewi commented on #333
@ScorpioCPH yes lets start api/v1alpha2.go and use that to itterate on an API.

I'm not sure I understand your point about ReplicaType. My suggestion is to get rid of ReplicaType and just have `Name` and various properties (e.g. `TerminationPolicy`) that determine the behavior of replica.

At this point a TFJob consists of many Replicas each identified by a Name. The pattern in K8s e.g. with volum

[2018-02-09 16:24] gaocegege commented on #333
Sorry for the vague comment

My opinion is that the containers could be handled by the same logic, but in our case, PS and worker have different execution path. Because PS and worker are different roles, then we have to deal with them in different ways.

The logic to handle container creation may be:

[code]

But we can not use the same code for PS and worker, then we have to:

[code]

For example

[2018-02-11 02:17] gaocegege opened #382 "[enhancement][CI] Replace Travis CI with Prow"
Now the build in Travis CI only checks the code style and run test cases, I think we should add `go install github.com/tensorflow/k8s/cmd/tf_operator` to ensure that the binary could be built successfully.

WDYT @jlewi @jose5918

[2018-02-11 08:28] pineking opened #384 "[discussion] specify total GPU count for distributed training"
I am not sure whether this can be discussed here.

suppose we have a k8s cluster with 5 nodes. each node has 8 GPUs, so there are 40 GPUs in total.
when a user starts a distributed training with 20 GPUs.

what we expect:
he just specifies the number 20 and does not need to split the GPUs request count manually. a controller or something else can do this automatically according to the current free

[2018-02-11 09:59] gaocegege commented on #384
I am not sure if I understand the idea. Do you mean that the operator should support assigning GPUs to PS and workers automatically?

[2018-02-11 10:57] pineking commented on #384
the k8s can support to assign GPUs to pod/worker automatically now if the limit of "nvidia.com/gpu" specified in pod YAML file. But for distributed training, it is not easy and user-friendly to use. we need to create each worker/pod and set the number of GPU in each pod separately.

I mean, for distributed training,
the user does not need to know how many workers(pods) to run the training, nor the

[2018-02-11 11:25] gaocegege commented on #384
I do not think we should hide the PS/worker from users at operator level, maybe we could build a config generator on top of tf-operator, which accepts the user code and number of GPUs, and generates the TFJob config.

[2018-02-11 12:56] pineking commented on #384
I agree we can implement this in the top of tf-operator.
we use https://github.com/uber/horovod MPI mode instead of parameter servers in tensorflow, It's easy and faster to use. I have tested it with k8s, perhaps it can also work with tf-operator in the future.

[2018-02-11 17:17] jlewi commented on #384
horovod looks promising. Is there something that could make that easier to use on K8s?

[2018-02-11 18:20] jlewi commented on #382
Seems reasonable.
What is the plan with respect to what we use Travis for as opposed to what we use Prow for?

I think it would be nice to converge on a single system. I don't think travis is sufficient to run our E2E tests but prow could probably be used to run unittests pretty easily.

We already use Prow to run pyunittests. We'd just need to add a step to our prow workflows to run the relevant

[2018-02-12 02:41] jlewi commented on #382
@gaocegege The slowness of our tests has nothing to do with prow but what the test is doing. Our tests are slow because we are creating a GKE cluster and then running TFJobs on them with/without GPUs. That's the slow part.

So if we want to have a bunch of smoke tests (e.g. check code builds, run unittests) we should be able to do this with prow and have it execute reasonably fast. I don't think w

[2018-02-12 02:48] gaocegege commented on #382
Then LGTM, I think we could remove Travis, since it is not in high priority.

[2018-02-12 02:48] gaocegege commented on #382
Then LGTM, I think we could remove Travis, although it is not in high priority.

[2018-02-12 02:50] jlewi commented on #229
This was addressed by #319

[2018-02-12 03:47] gaocegege opened #385 "[enhancemnet] Separate release image and test image"
Now we build one image for release and e2e test, I think we should keep the release image clean and small.

More detail: https://github.com/tensorflow/k8s/pull/374#discussion_r166825792

Actually, I am thinking if we should separate the UI and the operator. Maybe we should place the UI in an independent repo.

[2018-02-12 14:08] jlewi commented on #350
@gaocegege I moved the repository it is now kubeflow/tf-operator.
Can you take on putting together a PR to update all the locations in the code?

[2018-02-12 14:09] gaocegege commented on #350
@jlewi I will do it.

[2018-02-12 14:17] #304 closed

[2018-02-12 14:18] #224 closed

[2018-02-12 14:19] jlewi commented on #61
I think we should get rid of TFReplicaType and allow TFJobs to have arbitrary number of replicas identified by a unique name and use properties to control various behaviors (e.g. TerminationPolicy)

[2018-02-12 14:34] Jimexist commented on #382
Travis can be used to run unit tests and it is quite handy for that.

[2018-02-12 15:14] gaocegege commented on #350
PTAL #386 And I think we should setup Travis and Prow for this repo.

[2018-02-12 18:24] jlewi commented on #350
kubernetes/test-infra#6779 defines the prow jobs for the new repo. That should hopefully get merged at which point we can figure out what's broken and needs to be fixed.

[2018-02-12 22:06] jlewi commented on #350
https://prow.k8s.io/?repo=kubeflow%2Ftf-operator

It looks like the prow job was triggered correctly for kubeflow//tf-operator but the results weren't written back to the PR.

[2018-02-12 22:07] jlewi commented on #350
The k8s-ci-robot has write access on the repo which is what we have for kubeflow/kubeflow

[2018-02-12 22:10] jlewi commented on #350
Looks like the prow job can't pull the image

[code]

[2018-02-13 02:11] gaocegege opened #389 "[discussion] Separate the operator and UI dashboard"
This repository has two components: operator and dashboard, I think if we could separate these two components since they are designed to be decoupled.

[2018-02-13 14:12] jlewi commented on #333
You make a good point with [ResourceList](https://github.com/kubernetes/kubernetes/blob/e0225de330e032215da37c288dbd9539806fc211/staging/src/k8s.io/api/core/v1/types.go#L3722).

The fact that we need different logic for different types of containers seems unrelated to whether its a map or list. We will still need to have different logic. However, with the proposed changes to get rid of ReplicaType

[2018-02-14 00:27] Jimexist commented on #389
+1 for that, I think UI dashboard can now live in its own repo. What do you think? @wbuchwalter

[2018-02-14 01:58] jlewi commented on #310
Here's some pointers in case anyone once to take this one.

You could start by looking at either
   - [e2e/main.go](https://github.com/kubeflow/tf-operator/blob/master/test/e2e/main.go)
   - [test_runner.py](https://github.com/kubeflow/tf-operator/blob/master/py/test_runner.py)

Both of these are programs to submit a TFJob and verify it completes successfully. We could start with one of these prog

[2018-02-14 02:40] fxue commented on #310
will take a stab at this one.

[2018-02-14 21:33] wbuchwalter commented on #389
I don't have any objection. We discussed this at the beginning with @jlewi and always assumed it would be separate at some later point.
My only concern currently is around breaking changes in `github.com/kubeflow/tf-operator/pkg/apis/tensorflow/v1alpha1`. Today the dashboard is part of the release process of `tf-operator` so it's very easy to know wether a change broke the dashboard. Would we stil

[2018-02-15 01:13] gaocegege commented on #389
I think it could be done after we release a version and then dashboard does not need to adapt the HEAD of the operator.

[2018-02-15 09:22] AK-ayush commented on #363
Hi @gaocegege I would like to work on this issue. Could you please elaborate a little bit since I am just a beginner here.

[2018-02-15 12:56] Jimexist commented on #389
once the release and lifecycle convention of tf-operator is known and widely observed this can be done (and it should be).

[2018-02-15 13:00] Jimexist commented on #373
+1 for Python because it is more flexible and Golang's strength does not shine here.

[2018-02-15 13:09] Jimexist commented on #389
@jlewi wondering do we have a release schedule at least GitHub-wise for this repo? So that many dependent Golang repos can have sensible expectations, etc.

[2018-02-15 14:15] jlewi commented on #382
kubeflow/testing#33 adds a simple prow job that just runs lint and python unittests. Its an example of how we could use prow to replace  Travis for this. (That prow job is more useful than just e2e testing because it ensures changes to kubeflow/testing don't break our prow test infrastructure).

My hope is that we can define a standard workflow that does a bunch of basic checks
  -  lint (go, pyth

[2018-02-15 14:58] gaocegege commented on #363
Hi @AK-ayush

Thank you and I think you just update the package name. But I think we need to make sure that the changes will not break kubeflow. So maybe you need to file a PR to kubeflow, too.

[2018-02-15 15:01] gaocegege commented on #363
@jlewi Could we update the package name now? Or we could wait until we release a version.

[2018-02-15 15:11] gaocegege commented on #389
I agree that we could just release a version in github, to keep a usable version here.

[2018-02-15 18:36] jlewi commented on #389
Our testing infrastructure ([checkout.sh](https://github.com/kubeflow/testing/blob/master/images/checkout.sh) supports checking out multiple repos.

You just specify the environment variable "EXTRA_REPOS". You can specify a commit/branch/tag to checkout.

So our E2E tests can specify which version of each repo to test; e.g. we could test kubeflow/kubeflow HEAD wit kubeflow/tf-operator HEAD or HEAD

[2018-02-15 19:58] vishh commented on #325
Just FYI: @kow3ns and I have been noodling on the idea of a stateful Job that would benefit TF Training Operator. Managing pods outside of existing curated controllers is a risky proposition IMHO, but might be a good stop gap solution.
We will post some updates once we get around to having some concrete designs on that.

[2018-02-15 22:35] jlewi commented on #363
This should be fine.

Kubeflow's ksonnet registry uses a specific Docker image so when we update the Docker image we can catch and fix any breakages.

[2018-02-16 01:23] gaocegege commented on #325
@vishh We can discuss it in the issue https://github.com/kubeflow/tf-operator/issues/45

[2018-02-16 01:25] gaocegege commented on #363
@AK-ayush Then feel free to just update the package name in this repo, and you can file a WIP PR ASAP and the CI test will help you debug 😄

[2018-02-16 09:38] AK-ayush commented on #363
@gaocegege I've submitted initial PR [#393](https://github.com/kubeflow/tf-operator/pull/393) Please, have a look at it and let me know. Thanks

[2018-02-16 13:48] gaocegege opened #394 "[enhancement] Fix the warnings reported by goreportcard.com"
Now our code does not follow golang style well, it has gofmt and golint errors: https://goreportcard.com/report/github.com/kubeflow/tf-operator

Please help us to fix them. This issue is open for new contributors and it will help you to get involved in the development of our project :)

[2018-02-16 14:06] gaocegege commented on #375
I think some examples are outdated and we should remove them. Actually I think we have no enough contributors to maintain multiple examples. Maybe one is enough.

[2018-02-16 14:11] gaocegege commented on #330
I think we should wait until #347 is solved.

[2018-02-16 14:17] gaocegege commented on #327
Now our pod template spec is not required because we have TfImage and TfPort, if we deprecate it, we should add validation and defaults.

[2018-02-16 14:22] jlewi commented on #327
+1.

For validation we should look at the validation features now available with CRDs. I think we can provide an OpenAPi spec and it will K8s will automatically validate specs.

[2018-02-16 14:28] gaocegege commented on #327
@jlewi

I like the idea! The feature is beta in v1.9, I think we should update the requirement in this repo and kubeflow.

[2018-02-16 18:12] jlewi commented on #326
Does someone want to capture the relevant labels in this issue in a PR documenting them in kubeflow/community?

[2018-02-17 02:05] gaocegege opened #395 "[enhancement] Fix go vet errors which not caught by the compilers"
There are some errors in our code but it won't caught by the compilers:

[code]

You can get them by running:

[code]

[2018-02-17 02:10] gaocegege commented on #370
Did we solve it? I saw there is a successful record: http://testing-argo.kubeflow.io/timeline/kubeflow-test-infra/kubeflow-tf-operator-postsubmit-tfjob-e2e-37f5533-4-a335

[2018-02-17 02:12] gaocegege commented on #350
It seems that there is only one thing to do:

- Update the name in kubernetes/test-infra

[2018-02-17 17:36] AK-ayush commented on #394
I will start working on it. I'll let you when done.

[2018-02-18 07:18] gaocegege commented on #394
@AK-ayush 👌 Just go ahead

[2018-02-20 13:24] AK-ayush commented on #394
@gaocegege I have fixed some warnings. I have generated pull request [#396](https://github.com/kubeflow/tf-operator/pull/396) just to make sure that nothing is broken till now.

[2018-02-21 18:29] jlewi commented on #318
This is fixed since we are using Argo.

[2018-02-21 18:29] #318 closed

[2018-02-22 03:04] jlewi commented on #24
With glog how do we make it really easy to filter the TFJob operator logs so we can see log messages for a particular job.

I think this will be super useful for debugging troubleshooting.

If we use structured logging then we can add a tag corresponding to the job name. Then it should be very easy to filter the logs to find all log messages for a particular job.

[2018-02-22 03:16] jlewi commented on #24
This solution looks promising
https://github.com/sirupsen/logrus/issues/63#issuecomment-365334562
https://github.com/sirupsen/logrus/issues/63#issuecomment-349946465

I believe this solution just uses the filename hook
https://github.com/onrik/logrus

I think we can just define a logrus logger with that hook and it will work.
https://github.com/onrik/logrus

[2018-02-22 05:28] jlewi commented on #322
I wasn't able to reproduce this just by

- creating a job
- deleting the job
- creating a job with the same name

While trying to recreate this I observed the following

- Create a job
- Try to recreate the job via (ks apply) (don't know if job had been deleted.
- Job gets stuck in creating state.

Here is the job spec

[code]

TFJob operator logs indicate that Job controller `test-job-003-master-

[2018-02-22 06:09] jlewi commented on #322
[Controller](https://github.com/kubeflow/tf-operator/blob/master/pkg/controller/controller.go#L67) maintains a map from `namespace.name` to job.

I wonder if keying that by UID instead of name might prevent race conditions causing this?

[2018-02-22 07:33] jlewi commented on #322
keying by UID doesn't look like the right thing to do; it looks like cache has functions like `MetaNamespaceKeyFunc` to get the key based on the name. I think we want that so that we can map keys to namespace/name so we can use them to get the object and sync them.

My conjecture is that the problem is we configure the [informer](https://github.com/kubeflow/tf-operator/blob/master/pkg/controller/c

[2018-02-22 07:52] jlewi commented on #322
Its not entirely clear to me though why  a race condition would manifest as the new job being stuck in the creating state but without the defaults having been set.

The fact that its in the creating state suggests the job should have initialized the defaults and persisted them to the K8s master.

The only way I can think the defaults wouldn't be persisted is if in `TrainingJob.updateCRDStatus` the

[2018-02-22 18:05] jlewi commented on #373
I lean towards python as well.

#399 added some more validation to test_runner.py. I think we should continue in that direction and move any checks performed by e2e.go into test_runner.py and then delete e2e.go.

That should remove our use of helm for testing. It should also allow us to address #375 since test_runner.py uses ksonnet to define the E2E jobs and doesn't rely on YAML files.

[2018-02-22 20:02] kflynn commented on #323
What does the Ambassador annotation added for this service look like?

[2018-02-22 20:22] swiftdiaries commented on #323
This is the generated TFJob service YAML:
[code]

[2018-02-22 20:58] kflynn commented on #323
If I'm reading things correctly in the report above, then switching the annotation to use `rewrite: /tfjobs/ui` seems like it should probably fix the issue.

[2018-02-22 21:01] swiftdiaries commented on #323
Let me try it out. Thank you for your comments @kflynn.

[2018-02-22 21:05] kflynn commented on #323
Mea culpa -- left out a `/`:

[code]

[2018-02-22 21:39] swiftdiaries commented on #323
Ah I made the same mistake, last time as well.
This is the corrected service YAML:
[code]
This is the curl output:
[code]

[2018-02-22 21:41] kflynn commented on #323
This is where I suggest dropping into the [Ambassador Gitter channel](https://gitter.im/datawire/ambassador) so we can get this sorted out. :)

[2018-02-22 21:43] swiftdiaries commented on #323
Sure thing 👍

[2018-02-23 01:03] jlewi opened #400 "Update releaser to use Argo."
Our releaser for tf-operator is currently broken.

Due to various issues.

[code]

I think we should refactor this to be an Argo workflow that builds ontop of our E2E workflows so that we validate the image as part of a release.

We could start with what our E2E tests do and then if the tests pass push the image to an appropriate registry with the appropriate tag.

[2018-02-23 01:44] gaocegege commented on #395
@swiftdiaries Thanks for your contribution and I am closing the issue now :)

[2018-02-23 01:44] #395 closed

[2018-02-23 03:58] #310 closed

[2018-02-23 14:42] jlewi commented on #339
Duplicate of kubeflow/kubeflow#215

[2018-02-23 14:42] #339 closed

[2018-02-23 14:45] jlewi commented on #350
@gaocegege What name are you referring to?

[2018-02-23 15:02] gaocegege commented on #350
https://github.com/kubernetes/test-infra/blob/master/prow/plugins.yaml#L13
@jlewi

[2018-02-23 15:20] kflynn commented on #323
To summarize the conversation from the Ambassador Gitter channel: I misunderstood what @jlewi said a month ago about where the application was expecting to be rooted vs where the Ambassador `Mapping` was ing to root it. Oops.

Given that the application thinks it's rooted at `/`, and that it uses absolute paths without any capability for configuration, pretty much the only way to do this is with a

[2018-02-23 15:34] swiftdiaries commented on #323
Just a thought. We could change the dashboard service slightly.
This is from https://github.com/kubeflow/tf-operator/blob/master/dashboard/backend/main.go
Current:
[code]
Proposed change:
[code]
And then the ambassador service annotation to be,
[code]
Would this be a viable solution? I don't know about the ramifications of this change.
cc/ @Jimexist @wbuchwalter @jlewi

[2018-02-23 16:44] wbuchwalter commented on #323
@swiftdiaries I don't see any issue with your approach, however this would need a bit of testing.

@kflynn

I haven't been very active as I am finishing a round of non-stop travel for work, but if you think this issue can be more cleanly solved by modifying the front-end let me know and I will try to find some time to do that.

[2018-02-23 19:26] jlewi commented on #323
@swiftdiaries per @kflynn's comment above

[code]

Can we fix the APP (its our code :)) so it will use the correct root?

I believe we want to configure Ambassador using

[code]

If we do this then I'd expect the request that hits the UI has in it somewhere the URL

[code]

So we'd like the UI to use `https://my-domain/tf-jobs/ui/` as the root for the application and then all paths like "main.e765

[2018-02-23 23:35] ankushagarwal commented on #24
I'm looking into this. I will try the `filenameHook` from onrik/logrus and post the results here

[2018-02-23 23:43] swiftdiaries commented on #323
I'll take a look at this.

[2018-02-24 03:22] kkasravi commented on #323
try adding homepage to package.json in tf-operator/dashboard/frontend
[code]
See https://github.com/facebook/create-react-app/issues/527 and https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#building-for-relative-paths

[2018-02-24 16:30] jlewi opened #404 "Presubmits failing due to lint"
Presubmits are failing due to lint issues and a bug in the code.

Here's the bug.

[code]

The bug is only triggered if a lint issue occurred.

The lint issues started because the docker image used by the tests got rebuilt which caused us to switch to using python3.

The lint issues are specific to python3.

[2018-02-24 18:08] #404 closed

[2018-02-24 19:09] jlewi opened #406 "Make coverall results advisory and not report as failure"
Right now if test coverage decreases (even slightly) coveralls reports this as a failure and the PR is marked as having failures.

I find this distracting in that it makes it harder to see which PRs are ready to review/merge.

Can we make coveralls advisory so that it reports test coverage results to GitHub but doesn't report a failure if there is a decrease?

[2018-02-25 03:39] gaocegege commented on #406
I tried but I have no access to the settings, you could update it in https://coveralls.io/github/kubeflow/tf-operator/settings.

<img width="473" alt="default" src="https://user-images.githubusercontent.com/5100735/36637878-948ca3ee-1a20-11e8-87d1-1ef7b2493cd6.PNG">

[2018-02-25 18:54] jlewi commented on #406
I changed coverage decrease threshold for failure to 20%.

What is the coverage threshold for failure?

[2018-02-26 01:46] gaocegege commented on #406
If we set coverage threshold to 20%, and our code coverage is 19%, then it will report a failure.

If we set coverage decrease threshold to 20%, and one PR decrease the coverage from 100% to 79%, then it will report a failure.

Then I think we could set all these two to 20%

[2018-02-26 13:15] jlewi commented on #406
I see, coverage threshold is blank right now. Lets see what happens.

[2018-02-26 14:19] jlewi commented on #350
We have already enabled it for the org
https://github.com/kubernetes/test-infra/blob/master/prow/plugins.yaml#L23

So I'm going to mark this bug as closed. It would still be good to clean up the reference to tensorflow/k8s
https://github.com/kubernetes/test-infra/blob/master/prow/plugins.yaml#L13

[2018-02-26 14:19] #350 closed

[2018-02-26 20:08] jlewi commented on #322
We need to cut a release to push out the fix.

[2018-02-26 21:51] jlewi commented on #122
Fixed as a result of us moving to the github org.

[2018-02-26 21:51] #122 closed

[2018-02-27 02:36] gaocegege opened #411 "[docs] Add dashboard readme"
https://github.com/kubeflow/tf-operator/blob/master/dashboard/README.md is empty now and users do not know how to use it. I think we should add necessary documentation

[2018-02-27 02:43] jlewi commented on #406
Coveralls is no longer reporting failure see
https://github.com/kubeflow/tf-operator/pull/403#issuecomment-368725661

[2018-02-27 02:43] #406 closed

[2018-02-27 02:54] #322 closed

[2018-02-27 04:06] jlewi commented on #400
I don't think it makes sense to update the cron job/releaser that regularly rebuilds the TFJob operator image. We should just delete that code right now since its no longer used.

Instead of updating that, we should think about how to continuosly buiild docker image images as needed as part of our release process for Kubeflow ksonnet packages.

[2018-02-27 04:10] gaocegege commented on #400
SGTM, I think we should establish the continuous deployment process to build and publish docker image.

[2018-02-27 05:40] #239 closed

[2018-02-27 14:42] gaocegege opened #415 "[enhancement] Add OWNERS in subdirectories"
We have a simple OWNERS file now, and we could override it in subdirectories to get more appropriate reviewers and approvers.

https://github.com/kubeflow/tf-operator/pull/414#issuecomment-368866268

https://github.com/kubeflow/community/issues/10#issuecomment-368667835

[2018-02-27 19:49] chrisheecho commented on #326
Hi @gaocegege @texasmichelle and I put this list together in this duplicate [issue](https://github.com/kubeflow/community/issues/12) without being aware of your work here. Would you mind taking a look?

[2018-02-28 03:18] #347 closed

[2018-02-28 03:22] #411 closed

[2018-02-28 10:47] gaocegege opened #420 "CI failed to setup the cluster"
http://testing-argo.kubeflow.io/timeline/kubeflow-test-infra/kubeflow-tf-operator-presubmit-tfjob-e2e-419-f70fc2c-112-5f59;tab=workflow;node=kubeflow-tf-operator-presubmit-tfjob-e2e-419-f70fc2c-112-5f59-2200365907:logs

[2018-02-28 14:08] jlewi commented on #420
The Error is available via the Argo UI.

[code]

We were pinning to 1.8.5 because we depend on 1.8 but the current version is no longer valid.

We just need to stop pinning.

[2018-02-28 14:08] jlewi commented on #420
/assign

[2018-02-28 14:26] jlewi opened #422 "Use DAG functionality of Argo in our E2E tests"
Now that Argo added support for true DAGS we should update our E2E workflows to be true DAGs.

I think this will help render exit handlers.

[2018-02-28 14:29] jlewi opened #423 "E2E workflows should ignore failures"
It would be nice if in our Argo workflows we could mark steps as failed but not have them block dependent execution.

An example would be lint tests. Even if lint tests fail we'd like the rest of the steps in the DAG to execute.

This might just be a function of the fact that we aren't using Argo's newly added DAG functionality. So in our case the Setup cluster step depends on the lint step. But m

[2018-02-28 14:34] ddysher commented on #415
The top level OWNERS can merge code for all subdirectories, so the existing list is probably longer than it should be. We should break it down to subdirectory OWNERS.

[2018-02-28 16:45] ankushagarwal opened #424 "Add appropriate logging fields to the tf-operator log messages"
Structured logging was introduced in #416

We should add fields to the log messages from our code so that we can easily search for logs pertaining to a particular job, replica, index, etc.

An example of adding fields to a log message is:
[code]

We want to get to a point where we can filter logs by a particular job, replica, index, etc.

[2018-03-01 00:28] jlewi commented on #420
Fixed by #421

[2018-03-01 00:28] #420 closed

[2018-03-01 02:32] gaocegege commented on #326
@chrisheecho I added some comments to the docs, and I will close the issue since it is dup

[2018-03-01 02:32] gaocegege commented on #326
dup with https://github.com/kubeflow/community/issues/12

[2018-03-01 02:32] #326 closed

[2018-03-01 02:54] gaocegege commented on #24
Now we use flag package to support command line flags, and glog also uses it by default. Then you can see our binary have more flags than we thing although we use logrus instead of glog:

[code]

There are some pros and cons:

- We can support vendor and client's glog, since we have glog's flags
- But the users may be confused since the tf-operator outputs logs regardless of the flag `-logtostderr

[2018-03-01 03:24] gaocegege commented on #24
I think we could close the issue after #416 merged. And I will file a new issue for the extra flag problem. But it is now a big problem. We can refer to etcd/etcd-operator.

[2018-03-01 03:25] gaocegege commented on #24
xref #424

[2018-03-01 03:42] gaocegege opened #426 "[CI] Add hack/verify-codegen.sh in Travis CI"
We rely on k8s code generator to generate clientset, informer and listener, so we need to add verification for the codegen.

/cc @wackxu

[2018-03-01 03:54] #24 closed

[2018-03-01 03:57] gaocegege opened #427 "[logging] Extra flag problem"
Now we use flag package to support command line flags, and glog also uses it by default. Then you can see our binary have more flags than we thing although we use logrus instead of glog:

[code]

There are some pros and cons:

- We can support vendor and client's glog, since we have glog's flags
- But the users may be confused since the tf-operator outputs logs regardless of the flag `-logtostderr

[2018-03-01 03:57] gaocegege commented on #427
We can refer to etcd/etcd-operator, which also uses logrus.

[2018-03-01 06:36] Jimexist commented on #426
note the difference between go1.10 and other versions - their generated code formats differently

[2018-03-01 08:31] wackxu opened #430 "add boilerplate header"
We should add boilerplate header  for generate file, we need also add for shell and python file

- [x] go boilerplate

- [ ] shell boilerplate

- [ ] python boilerplate

[2018-03-01 08:34] gaocegege commented on #430
I think go is solved in #431

[2018-03-01 08:35] gaocegege commented on #430
[code]

FYI the template is here

[2018-03-01 14:19] wbuchwalter commented on #375
Also, this examples won't necessary work on all clusters. For example `tf_job_gpu.yaml` can only run on cluster with NVIDIA device plugin installed.
So we could either:
* Use ksonnet to parametrize this with a `cloud` param.
* Create different directories for different environments.

I like the second option for two reasons:
* I think examples should be very easy to read, and IMHO a simple yaml fi

[2018-03-02 05:12] gaocegege commented on #430
Now we missed the header in python and bash code, so I reopened the issue.

[2018-03-02 06:33] naeemkhan12 commented on #106
I encountered the same issue. Insert these line to disable RBAC in ```config.yaml```
[code]

[2018-03-02 07:40] ScorpioCPH commented on #363
Close as https://github.com/kubeflow/tf-operator/pull/393.

[2018-03-02 07:40] #363 closed

[2018-03-02 13:35] jlewi commented on #333
@ScorpioCPH @gaocegege Any update on api/v1alpha2?

I checked the [refactor branch](https://github.com/kubeflow/tf-operator/tree/refactor). I didn't see a [v1alpha2] (https://github.com/kubeflow/tf-operator/tree/refactor/pkg/apis/tensorflow) directory.

[2018-03-02 13:38] gaocegege commented on #333
@jlewi I think we are going to implement v1alpha2 these days.

[2018-03-02 14:36] ScorpioCPH commented on #333
I'm working on a design doc for v1alpha2. Let's design first then implement it :)

                            Penghao Cen

                                    邮箱：scorpiocph@gmail.com

签名由 网易邮箱大师 定制
On 03/02/2018 21:38, Ce Gao wrote: @jlewi I think we are going to implement v1alpha2 these days.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or

[2018-03-04 13:41] bhack commented on #61
What is the status of estimators created from tf.keras? See https://github.com/tensorflow/tensorflow/issues/14504#issuecomment-367986842

[2018-03-04 18:43] jlewi commented on #61
@bhack Can you be more specific? I haven't tried to use tf.keras estimators, do they require special support from TFJob?

[2018-03-04 18:50] bhack commented on #61
Was just to remember to check if models defined with the new tf.keras core high level api are compatibile with a distributed config when we will introduce estimators.

[2018-03-04 18:53] bhack commented on #61
I was referring to estimators created with https://www.tensorflow.org/api_docs/python/tf/keras/estimator/model_to_estimator

[2018-03-05 01:44] jlewi commented on #61
@bhack Thanks for raising this. I don't know. Would be great if someone could investigate and figure out what if any changes are needed to support them.

[2018-03-05 08:23] gaocegege commented on #330
Assign to me since no one is interested in it and it is urgent. /assign @gaocegege

[2018-03-05 08:23] gaocegege commented on #330
/assign gaocegege

[2018-03-05 08:24] gaocegege commented on #327
/assign gaocegege

[2018-03-05 19:36] cjwagner opened #433 "Tide is misconfigured for this repository."
/assign @jlewi
/kind bug

Based on Prow's logs, Tide is misconfigured for this repository. Specifically, Tide is throwing this error when trying to merge some PRs in this repository.
[code]
This error is occurring because Tide was not configured to require an approving review as a merge requirement, but the Github repo has been configured to require it. There are a few ways this can be solved:
1.

[2018-03-06 13:53] jlewi commented on #433
@cjwagner  Thank you!

I removed the requirement

**Require pull request reviews before merging** for the master branch.

Since we require /lgtm and /approve from the prow plugins I don't think there's any need to also require a GitHub approval that seems like toil for reviewers.

See also kubeflow/community#22

[2018-03-06 13:53] #433 closed

[2018-03-06 19:20] Gajendran27 commented on #106
Just these commands, it'll work

kubectl create serviceaccount --namespace kube-system tiller
kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller
kubectl patch deploy --namespace kube-system tiller-deploy -p '{"spec":{"template":{"spec":{"serviceAccount":"tiller"}}}}'
helm init --service-account tiller --upgrade

[2018-03-06 22:12] yongwen opened #435 "default install of kubeflow no longer install tf-job-dashboard"
ks apply default -c kubeflow-core no longer install tf-job-dashboard pod and related services.

@wbuchwalter pointed out that to manually install it, "need to modify the ksonnet template here: https://github.com/kubeflow/kubeflow/blob/master/kubeflow/core/tf-job.libsonnet" to include:
      $.parts(params.namespace).uiService(params.tfJobUiServiceType),
      $.parts(params.namespace).uiServiceAcc

[2018-03-06 22:14] wbuchwalter commented on #435
Before adding the dashboard back we need to:
* Fix #323 (I am working on it)
* Make sure the dashboard works correctly with the latest API changes (Tensorboard etc)

[2018-03-07 04:17] jlewi commented on #435
Looks like I accidentally removed the ui components when I refactored the prototype
https://github.com/kubeflow/kubeflow/commit/06613896cc723b2b514a065117386d4dfcb9cba2#diff-94d1fb924d5e01ec16bf7e1b28501bcb

Sorry.

@yongwen As a workaround you don't necessarily need to modify the template.

You could probably just modify `components/kubeflow-core.jsonnet` and do something like

[code]
There's pro

[2018-03-07 05:04] jlewi commented on #70
Removing this from the 0.1. release I think we could live without it.

[2018-03-07 05:10] jlewi commented on #61
This could potentially be solved by the v2 API (kubeflow/community#30). In particular, if for our V2 API we get rid of replica type and let the user pick the names for replicas then user could pick whatever name matches TF_CONFIG.

[2018-03-07 06:09] mitake opened #436 "RFC: adding more examples of TFJob for distributed learning tasks"
Currently tf-operator repository has one example of distributed TFJob: https://github.com/kubeflow/tf-operator/tree/master/examples/tf_sample. I think adding more examples of distributed learning tasks would be helpful because the existing example is artificial and its configuration wouldn't a typical distributed learning task of TF (the number of PSes is larger than the number of the workers). Th

[2018-03-07 06:25] gaocegege commented on #436
I agree that, and I think @ScorpioCPH may be interested in this issue.

[2018-03-07 06:26] jlewi commented on #330
@gaocegege Is this still blocked? Any particular reason you think its P1 and not P2?

It will definitely be fixed as part of the V2 API. Does it make sense to fix in the v1alpha1 API?

[2018-03-07 06:28] jlewi opened #437 "Use OpenAPI validation for CRDs in k8s 1.9"
For validation we should look at the validation features now available with CRDs in K8s 1.9. I think we can provide an OpenAPi spec and it will K8s will automatically validate specs.

[2018-03-07 06:28] jlewi commented on #327
Opened #437 to use OpenAPI validation.

[2018-03-07 06:28] jlewi commented on #437
We should probably wait for the V2 API kubeflow/community#30

[2018-03-07 06:29] gaocegege commented on #330
@jlewi I will fix it in v1alpha2, and it could be p2 since it will not block the main use case.

[2018-03-07 06:30] jlewi commented on #327
Do you think we should fix this issue or just wait for the V2 APi (kubeflow/community#30)? My vote would be for fixing it as part of the v2 API.

[2018-03-07 06:35] jlewi commented on #325
@ScorpioCPH #344 is merged. Can we close this? Or is there more work to be done?

[2018-03-07 06:36] jlewi commented on #321
This is obsolete since we are moving to using an Argo workflow to build images and that doesn't appear to have this problem.

[2018-03-07 06:36] #321 closed

[2018-03-07 06:39] jlewi commented on #249
The v1alpha2 API (kubeflow/community#30) gets rid of runtime id.

[2018-03-07 06:47] gaocegege commented on #327
I will fix the issue in v1alpha2 :smile:

[2018-03-07 07:38] gaocegege opened #438 "[examples] Add termination policy in examples/tf_job.yaml"
I found that the job won't stop since there is no termination policy now.

[2018-03-07 08:35] ScorpioCPH commented on #325
/close

[2018-03-07 08:35] #325 closed

[2018-03-07 19:44] bhack commented on #61
@jlewi Follow upstream https://github.com/tensorflow/tensorflow/issues/14504. Many people are asking clarification/documentation about this.

[2018-03-08 04:17] jlewi opened #443 "Create a suitable OWNERS file in /dashboard"
We should create a suitable OWNERs file in /dashboard to add approvers/reviewers.

We should explicitly list people knowledge of javascript/react because this set of folks is rather small; @wbuchwalter and @Jimexist anyone else?

This set of folks will also be different from the folks with knowledge/context about the operator. So an OWNERs file should help blunderbuss assign a better set of review

[2018-03-08 13:45] ScorpioCPH opened #444 "[Feature] Support "eval" worker in tf-operator"
Hi, folks,

  As we discussed [here](https://github.com/kubeflow/community/pull/30#issuecomment-371198124), there is request for supporting "eval" worker in tf-operator, we can continue the discussions in this issue.

@gaocegege @jlewi @DjangoPeng FYI.

[2018-03-08 15:46] jlewi commented on #444
Can we discuss this as part of the v1alpha2 API proposal?

There is an existing bug open to support eval workers because they are added to the TF estimator API in 1.5. so we should make sure the new version of TFJob API can support them.

Can you clarify in the V2 proposal whether the question is whether to support or eval workers or not or if the question is how.

I think the question in the prop

[2018-03-08 16:49] wbuchwalter commented on #443
Added @jlewi @Jimexist and me as approvers, and kept the reviewer as the same set of people as the root dir `OWNERS` file.

[2018-03-08 19:19] #443 closed

[2018-03-08 21:17] wbuchwalter opened #447 "[dashboard] Ability to create a TensorBoard instance"
This feature was removed as part of https://github.com/kubeflow/tf-operator/commit/0759f7ae5142ed2e78a6971e9703fdc86b7307cd#diff-4439d36bce6af4981968871313fed633 since TB is no longer part of the TfJob spec.
This should however be implemented back into the frontend.
The dashboard backend should directly create a TensorBoard pod/service if requested by the user.

However how would the lifetime of T

[2018-03-08 21:19] wbuchwalter opened #448 "[dashboard] GPU limits are not taken into account"
In the dashboard if I specify a number of GPU for my master/worker, this is not taken into account at the creation and pods will have no resource limits.

[2018-03-08 21:21] wbuchwalter opened #449 "[dashboard] How to handle storage?"
When creating a new TfJob, specifying a volume might me needed depending on what storage is used, i.e for rook, gluster, azure files etc.

How can we provide a solution in the front end that would allow mounting all of those?

[2018-03-08 22:05] wbuchwalter opened #450 "Add environment name in ControllerConfig"
It would be useful to add the environment name (gke, azure etc.) in the `ControllerConfig`.

For example, in the dashboard  we want to be able to specify the `resources.limits` for master/worker.
However for GPUs, GKE is using the device plugin, so `nvidia.com/gpu` while Azure is using `alpha.kubernetes.io/nvidia-gpu` for example.
The dashboard could first read the environment name in the `Control

[2018-03-08 22:09] wbuchwalter commented on #448
This needs to happen first: https://github.com/kubeflow/tf-operator/issues/450

[2018-03-09 01:22] Jimexist commented on #450
@wbuchwalter did you mean https://github.com/kubeflow/tf-operator/pull/451 ?

[2018-03-09 02:59] gaocegege commented on #389
Do we have integration test for operator and the dashboard?

[2018-03-09 07:44] ScorpioCPH commented on #448
Hi, @wbuchwalter Do you think we need a separated repo for dashboard, such as kubeflow/tf-dashboard.

@jlewi WDYT?

[2018-03-09 08:04] gaocegege commented on #448
@ScorpioCPH We have some discussions in #389 . I think we could create a repo for the dashboard.

[2018-03-09 08:20] ScorpioCPH commented on #389
+1

[2018-03-09 08:20] ScorpioCPH commented on #448
@gaocegege Good!

[2018-03-09 08:43] mitake commented on #349
I opened a PR which lets tf-operator create PDB, which is required by kube-batchd for the gang scheduling: https://github.com/kubeflow/tf-operator/pull/452
The PR isn't tested yet and I'm still not fully sure its usage of kube-arbitrator is correct or not. It will be great if I can have comments.

[2018-03-09 13:43] wbuchwalter commented on #450
@Jimexist Yes :)

[2018-03-09 14:02] jlewi commented on #128
Now that #267 is merged I think this is unblocked.

When a job finishes we should delete all the pods and services and not wait for the job itself to be terminated.

[2018-03-11 09:50] gaocegege opened #455 "[test] Add unit test for pkg/controller"
Now we have no unit test for the controller then there may be some bugs that we do not know.

/assign @gaocegege

[2018-03-12 10:35] ScorpioCPH commented on #55
After discuss, We will extend kubernetes built-in `RestartPolicy` by adding new policy `ExitCode`:

[code]

We let users set this field according to their model code.
  + If set RestartPolicy to `OnFailure`/`Always`, user should add reloading checkpoint code by themselves.
  + Otherwise restarting will take no effect.

`ExitCode` policy means that user should add exit code by themselves, `tf-opera

[2018-03-13 21:31] lluunn commented on #40
I will take a stab at this one

[2018-03-14 10:16] Farrellow opened #461 "Waiting pods start too long"
I use "kubectl apply -f" to apply a tfjob, sometimes the pods started immediately, but sometimes waiting more than five minutes till the pods started.

[2018-03-15 02:43] gaocegege commented on #461
Hi, could you give us more info about it? for example, `kubectl describe pods <your worker or ps>`.

[2018-03-16 05:02] Farrellow commented on #461
@gaocegege thanks, I have already solved this problem.

[2018-03-16 05:03] #461 closed

[2018-03-16 05:14] Farrellow commented on #461
谢谢, 这个问题我已经解决了. 我的问题是之前调用 "kubectl apply -f *.json" 之后,
tfjob成功创建了(可以用"kubectl get tfjob"确认), 但是与之对应的pod并不总是马上被创建("kubectl get pods
-a"查不到), 有时很快, 有时很慢, 最久的一次我等了20分钟pod才创建, 这样很不稳定. 我之前 apply tfjob的时候,
json模板里面的name有可能是刚刚删除的,
我做的改变是在每次创建tfjob的时候,都在name的后面加一小串随机字符串,确保name是之前没有被apply过的,这样问题就解决了.

2018-03-15 10:43 GMT+08:00 Ce Gao <notifications@github.com>:

[2018-03-16 07:06] mitake commented on #349
I created a PR of kube-arbitrator for supporting GPU: https://github.com/kubernetes-incubator/kube-arbitrator/pull/181
I'll share the testing result next week whether it can work well with the combination of kubeflow and TF learning task which uses GPU.

[2018-03-17 03:28] jlewi commented on #450
Would it be better to use the ksonnet template as opposed to the controller config to handle GPU config?

In the way we have Cloud specific parts for TFServing
https://github.com/kubeflow/kubeflow/blob/master/kubeflow/tf-serving/tf-serving.libsonnet

We could have cloud specific bits for TFJob and we could use this to specify resources like the GPU resource name conditioned on the cloud.

Using th

[2018-03-19 07:50] matthen commented on #128
:+1: I would like to see default behaviour of stopping the parameter servers and workers once the master is finished.

[2018-03-19 10:10] #455 closed

[2018-03-19 11:36] gaocegege opened #475 "[enhancement] Set StartTime for TFJob status"
In v1alpha2 the tfJob's StartTime is not set, and we should set it.

/cc @ScorpioCPH

[2018-03-19 12:40] jlewi commented on #64
Closing this issue since the proposal for the v1alpha2 API has been approved.

[2018-03-19 12:40] #64 closed

[2018-03-19 13:01] jlewi commented on #447
Why not have the UI manage TB completely independent of TFJobs?

e.g. the web UI could make it easy to launch a TB instance as well as see all running TB jobs and stop them.

There is a related issue kubeflow/kubeflow#428 to stop using Jupyter to manage TB.

I think it makes more sense to build out the functionality to manage TB independently. This would make it easier to do things like launch a T

[2018-03-19 13:02] jlewi commented on #449
Wouldn't giving the user options to specify the volume be sufficient?

Can you assign a priority to this issue?

[2018-03-19 13:28] wbuchwalter commented on #449
@jlewi Yes but each kind of volume might have different parameters (and so a specific component in the UI).
For example:
* rook:
[code]

* gluster:
[code]

* Azure files:
[code]

So I am wondering if there is a smarter solution than creating one component for each kind of volume?

[2018-03-19 13:31] wbuchwalter commented on #447
SGTM.

[2018-03-19 22:19] lluunn opened #479 "Presubmit shows succeeded, but some test actually failed."
Related: https://github.com/kubeflow/kubeflow/issues/436

Example #471

[2018-03-19 22:20] lluunn commented on #479
cc @gaocegege @jlewi

[2018-03-20 06:27] ScorpioCPH commented on #475
Yes, let's set it after all pods are active.

[2018-03-20 07:26] gaocegege commented on #479
Thanks for the issue, I will take a look.

[2018-03-20 15:46] jlewi commented on #136
No specific information; but I'd be very surprised if it was just GKE.

/cc @r2d4

[2018-03-20 15:49] r2d4 commented on #136
@bhack theres nothing specific to GKE in skaffold. In fact it works well on local clusters too (kubernetes for docker for desktop and minikube).

Happy to work with anyone here to help integrate skaffold in your workflow. I'm already in the kubeflow slack under mrick@.

[2018-03-20 15:56] bhack commented on #136
@jlewi  Do you think that this issue need to be moved at Kubeflow level or is it still specific of the tf-operator?

[2018-03-20 16:54] jlewi commented on #136
@bhack probably makes sense to open a new issue either in kubeflow/kubeflow or maybe kubeflow/examples.

[2018-03-20 17:06] #323 closed

[2018-03-21 02:19] jinzhejz commented on #349
@mitake @k82cn , update two videos to show the difference between [default k8s scheduler](https://youtu.be/oQgEmoOyf_U) and [kube-batchd](https://youtu.be/hhwU7reNJDU) when running tensorflow jobs

BTW: in the videos, I used `kubectl create -f tfjob.yaml` to create a tensorflow job

[2018-03-21 03:15] jinzhejz commented on #349
@mitake @gaocegege

Now, `kube-batchd` use owner reference of pods to group them into PodSet. In a tfjob, kubeflow create Master/PS/Worker as a k8s job and each job contains one pod, in this way, pods under the same tfjob will have different owner reference, `kube-batchd` will group them into different PodSet. [Group pods into one PodSet when they belong to same deployment/tfjob](https://github.co

[2018-03-21 03:29] gaocegege commented on #349
@jinzhejz @k82cn @mitake

Thanks for your awesome work! the group-label works well in tfjob v1alpha2 and v1alpha1. In v1alpha2 we use tfjobkey instead tfjobname but it can also work via the option `--group-label tf_job_key`.

I am wondering if batchd could schedule all tasks in one job to one node. As you all know, TensorFlow distributed jobs require GPU and good network connection. It is better t

[2018-03-21 03:57] gaocegege opened #484 "[api] Remove pending pods from active pods"
Now we get all active pods with this function:

[code]

The code is in kubernetes and I think it does not meet our demand. For a TF job, only running pods make sense, then we could update the logic here and also change the logic for status update:

[code]

[2018-03-21 04:28] jlewi commented on #479
Duplicate of kubeflow/kubeflow#436

[2018-03-21 04:28] #479 closed

[2018-03-22 03:20] gaocegege opened #490 "[v1alpha2] Sync commits with v1alpha1"
- Use headless services for Training jobs (#471)
- fix field selectors in controller (#465)
- Fix dashboard + proxy incompatibility (#441)
- Create PDB of TFReplicaSet for gang scheduling by kube-arbitrator (#452)

There are 4 commits and we should sync them in v1alpha2. #452 #465 #471 needs to be re-implemented and #441 could be cherry-picked.

[2018-03-22 07:26] ScorpioCPH commented on #490
Yes, we can create new PR for this after merge v1alpha2 to master.

[2018-03-22 07:55] mitake commented on #349
@jinzhejz

Is this true? I thought pods belong to a same tfjob share the common owner reference: https://github.com/kubeflow/tf-operator/blob/master/pkg/trainer/replicas.go#L165
Probably I'm missing something. Could you point out if I'm making a wrong assumption?

[2018-03-22 08:01] mitake commented on #349
@jinzhejz BTW the latest tf-operator creates pods directly instead of creating jobs after this commit: https://github.com/kubeflow/tf-operator/commit/6706903c1b45e775ddb310fe00fce6e07942ddb4

[2018-03-22 08:29] gaocegege commented on #349
@jinzhejz

Agreed with @mitake Now we create pods directly.

[2018-03-22 09:32] jinzhejz commented on #349
@mitake @gaocegege

I refer to [kubeflow user guide](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md) and [tf-operator readme](https://github.com/kubeflow/tf-operator/blob/master/README.md) to run kubeflow sample. I used the below steps to install kubeflow package, not sure whether it is latest.

[code]

yes, the group label is not necessary if the pods belong to the same tfjob shar

[2018-03-22 09:44] gaocegege commented on #349
@jinzhejz

Sorry that the tf-operator readme is outdated. Now we creates pods for ps and workers and the pods are all owned by the TFJob.

Then that is awesome that we can not introduce the hack about labels :)

[2018-03-22 09:46] gaocegege commented on #349
If you want to use the latest version of tf-operator, you could have a look at https://github.com/kubeflow/tf-operator/blob/master/developer_guide.md

You could just build the operator and run it locally to serve.

[2018-03-22 12:35] gaocegege opened #496 "[test] All log is 404 in argo"
http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-tf-operator-presubmit-tfjob-e2e-492-b317aef-225-99c4?tab=workflow&nodeId=kubeflow-tf-operator-presubmit-tfjob-e2e-492-b317aef-225-99c4-3605379172&sidePanel=logs%3Akubeflow-tf-operator-presubmit-tfjob-e2e-492-b317aef-225-99c4-3605379172%3Amain

The log of element in argo DAG is 404 although the element is succeeded
[code]

[2018-03-22 12:36] gaocegege commented on #496
/assign @jlewi

[2018-03-23 00:02] jlewi commented on #496
Duplicate of argoproj/argo#777

The work around is to access the logs directly via stackdriver as described [here](https://github.com/kubeflow/testing#stackdriver-logs).

@gaocegege @ScorpioCPH You should both have access to stackdriver.

[2018-03-23 00:02] #496 closed

[2018-03-23 01:18] gaocegege commented on #496
Thanks for your comment!

[2018-03-23 02:02] jinzhejz commented on #349
Thanks for the new guide, I will have a try :)

[2018-03-23 04:59] gaocegege commented on #426
I think we could ignore the verification in go 1.10 environment

[2018-03-23 05:02] gaocegege commented on #394
Close by #486

[2018-03-23 05:04] gaocegege commented on #394
It seems that there still be some errors, so I reopen it and welcome to fix errors.

[2018-03-23 13:42] jlewi commented on #490
What does sync commits mean? Are we maintaining multiple branches?

I thought per the discussion in #492 the plan was to have 2 different binaries in master 1 for v1alpha2 and 1 for v1alpha1?

So is this issue about keeping both implementations in master in sync? or is this about keeping branches in sync?

I think it will be much better if we keep both implementations on master. Then if there are

[2018-03-23 13:49] jlewi opened #499 "[v1alpha2] TF_CONFIG should be configurable by user"
I think we need to make TF_CONFIG part of the job spec.

The TF estimator API allows the user to set a bunch of variables via TF_CONFIG. For example model_dir, session_config, etc... See [here](https://github.com/tensorflow/tensorflow/blob/d7d7f4eea5f3a2e63e12c803d02f56726c0e0513/tensorflow/python/estimator/run_config.py#L35)

I think we should make tfConfig a field in TfJobSpec. I think we should

[2018-03-23 14:04] gaocegege commented on #490
The commits implements some new features in v1alpha1 and I think we could support it in v1alpha2, too. Then we need to re-implement it in v1alpha2.

[2018-03-23 14:06] gaocegege commented on #490
@jlewi PTAL #492 and I think we could merge it to continue the development.

We keep two implementations in the PR #492 and I think we should deprecate v1alpha1 when downstream updates to the new API.

[2018-03-23 14:10] gaocegege commented on #499
SGTM

/cc @DjangoPeng

[2018-03-23 14:56] jlewi commented on #499
Looks like I might be confused about RunConfig and TF_CONFIG and the examples.

/assign @jlewi
/unassign @ScorpioCPH

[2018-03-23 17:19] jlewi commented on #499
After looking at the code; I do not think we should add tfConfig to the spec.
Apologies for the confusion.

The code does allow getting modelDir from TF_CONFIG see [here](https://github.com/tensorflow/tensorflow/blob/d7d7f4eea5f3a2e63e12c803d02f56726c0e0513/tensorflow/python/estimator/run_config.py#L445).

But this appears to be an exception other variables like session config, checkpoint saving p

[2018-03-23 17:19] #499 closed

[2018-03-23 20:40] jlewi opened #500 "E2E tests timing out; job appears to remain in running state even though job is done."
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_tf-operator/485/kubeflow-tf-operator-presubmit/246/

[code]

[2018-03-23 20:43] jlewi commented on #500
Here are the logs from the run_gpu tests.
https://console.cloud.google.com/logs/viewer?project=kubeflow-ci&organizationId=714441643818&minLogLevel=0&expandAll=false&timestamp=2018-03-23T17:53:24.511000000Z&dateRangeStart=2018-03-23T19:41:54.670Z&dateRangeEnd=2018-03-23T20:41:54.670Z&interval=PT1H&resource=container%2Fcluster_name%2Fkubeflow-testing%2Fnamespace_id%2Fkubeflow-test-infra&advancedFilt

[2018-03-23 21:01] jlewi commented on #500
From those logs we are able to get the cluster name that the TFJob E2E test created.

We can then fetch the event logs for that cluster

https://console.cloud.google.com/logs/viewer?project=kubeflow-ci&organizationId=714441643818&minLogLevel=0&expandAll=false&timestamp=2018-03-23T20:46:54.895000000Z&dateRangeStart=2018-03-23T19:41:54.670Z&dateRangeEnd=2018-03-23T20:41:54.670Z&interval=CUSTOM&resou

[2018-03-23 21:17] jlewi commented on #500
Here are the logs for the GPU master pod
https://console.cloud.google.com/logs/viewer?project=kubeflow-ci&organizationId=714441643818&minLogLevel=0&expandAll=false&timestamp=2018-03-23T20:46:54.895000000Z&dateRangeStart=2018-03-23T19:41:54.670Z&dateRangeEnd=2018-03-23T20:41:54.670Z&interval=CUSTOM&resource=container%2Fcluster_name%2Fkubeflow-testing%2Fnamespace_id%2Fkubeflow-test-infra&scrollTimes

[2018-03-23 21:19] jlewi commented on #500
We can use the filter below to get logs for the TFJob controller.

[code]

[2018-03-23 21:24] jlewi commented on #500
The TFJob controller is using the image
gcr.io/kubeflow-ci/tf_operator:kubeflow-tf-operator-presubmit-tfjob-e2e-485-d23ba90-246-13ee

So its an image built at head as expected.

[2018-03-23 21:25] jlewi commented on #500
Timeouts are occurring in our postsubmits.
https://k8s-testgrid.appspot.com/sig-big-data#kubeflow-tf-operator-postsubmit

[2018-03-23 21:27] jlewi commented on #500
This looks like the first time the postsubmit started failing
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubeflow_tf-operator/kubeflow-tf-operator-postsubmit/25/

[2018-03-23 21:34] jlewi commented on #500
So my conjecture is that when we switched to pods we introduced a bug whereby we never transition from Running state to done state.

[2018-03-23 21:45] jlewi commented on #500
Here's the bug.

GetSingleReplicaStatus is getting the pod by name here
https://github.com/kubeflow/tf-operator/blob/master/pkg/trainer/replicas.go#L334

But the name is incorrect; genName doesn't include the random salt attached to the name.

The code below it does the correct thing; i.e. list pods by index and then get the status from the pod list. So we just need to delete some code.

[2018-03-24 22:17] jlewi commented on #500
While trying to fix this. I started to notice problems similar to #322 in which we observed recreating a job with the same name would cause the job to get stuck until we deleted the TFJob operator pod

[2018-03-25 00:20] jlewi commented on #500
I think my previous comment about this being a caching problem is wrong.

Here's my conjecture

- We issue a delete for TFJob
- We use [Foreground Deletion](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#foreground-cascading-deletion)
- So deletion of TFJob is blocked until child resources are deleted
- While waiting for resources to be deleted, TFJob calls reconcile

[2018-03-25 08:16] gaocegege opened #502 "[v1alpha2] Implement condition update"
We should update the conditions according to the status.

/cc @ScorpioCPH

[2018-03-25 22:39] jlewi opened #503 "TFJob operator surface queue metrics"
TFJob operator uses a queue interface to process items.

I believe this queue exports metrics
https://github.com/kubernetes/client-go/blob/master/util/workqueue/metrics.go

We should figure out how to surface those metrics. They could be very useful for troubleshooting and debugging the operator.

[2018-03-26 01:11] #500 closed

[2018-03-26 23:30] jlewi commented on #128
Bump to P0. I think this is a relatively straightforward fix so I think we should just do it in v1alpha1 and not wait for v1alpha2.

[2018-03-27 10:18] #502 closed

[2018-03-29 11:58] #128 closed

[2018-03-29 11:58] #317 closed

[2018-03-30 01:33] gaocegege commented on #112
@ddutta

Google Vizier is a good reference for us since it applies at large scale. And there is an open source implementation in Jupiter Notebook: https://github.com/tobegit3hub/advisor and we could have a try on it to see if it is what we want to implement.

[2018-03-30 02:44] mitake commented on #349
If someone who has a GPU cluster can try this PR, it is really helpful :) https://github.com/kubernetes-incubator/kube-arbitrator/pull/181

[2018-03-30 02:51] gaocegege commented on #349
@mitake

Really appreciate your work! Will it be merged into master？

[2018-03-30 02:54] mitake commented on #349
@gaocegege I think so. But of course I need reviews from @k82cn and @jinzhejz . If other developers can test it, it would be helpful for the maintainers of the kube-arbitrator :)

[2018-03-30 03:07] jlewi opened #514 "E2E test steps should exit with non zero exit code if test fails"
In our E2E workflows, the steps that run the E2E tests e.g. test_runner should exit with non-zero exit code
if the tests don't pass.

This way test failures will be immediately evident from the Argo UI.

I think I originally didn't exit with non-zero exit code because I wasn't sure whether this would cause the workflow to fail immediately or only prevent dependent steps from running.

Either way I

[2018-03-30 21:15] ddutta commented on #112
@gaocegege Thx. We will try it out. We have a version which we could contribute/merge too.

[2018-03-31 02:07] willb opened #519 "Run submit_release_job.sh in CI"
Per [discussion](https://github.com/kubeflow/tf-operator/pull/515#pullrequestreview-108385721) on #515, we should run the `submit_release_job.sh` script in CI.

[2018-04-02 13:45] jlewi commented on #249
I'm closing this issue because I think its resolved by the v1alpha2 API.

[2018-04-02 13:45] #249 closed

[2018-04-02 14:12] gaocegege commented on #475
Close by #504

[2018-04-02 14:12] #475 closed

[2018-04-03 05:42] gaocegege commented on #389
## Proposal for separating operator and dashboard

## Motivation

See https://github.com/kubeflow/tf-operator/issues/389

## Goals

- Separate operator and dashboard
- Build integration test for dashboard

## Migration

We need to create a new repository `tfjob-dashboard` and:

- [ ] Remove `dashboard/frontend/build` from git ignore file
- [ ] Remove `dashboard` from developer_guide.md
- [ ] Migra

[2018-04-03 05:44] gaocegege commented on #389
I am glad to help to migrate the dashboard to the new repository for better maintainance. And there is a list of TODOs, PTAL @jlewi @wbuchwalter

If you think it works I think we could open a new repository and begin the work.

[2018-04-03 11:11] YujiOshima commented on #112
Hi @gaocegege @ddutta @jlewi
I have also been interested in parameter tuning system and I'm developing vizier clone that can integrate with kubernetes.
And tuning system itself also work on kubernetes.
It’s mostly functional. I use it internally for our team.
It supports grid, random, and hyperband search algorithm.
I hope to collaborate with KubeFlow community!

The code is [here](https://github.

[2018-04-03 11:44] gaocegege commented on #112
@YujiOshima

Thanks for the information! I will take a look.

/cc @DjangoPeng @ddysher

[2018-04-03 18:50] ddutta commented on #112
This is the client library (to show the APIs) of the tool we built internally  -->  https://github.com/CiscoAI/hyper-advisor-client.git

[2018-04-04 07:12] gaocegege commented on #112
I am closing the issue since we have a new repo for hyperparameter tuning: https://github.com/kubeflow/hp-tuning

Thank you all :tada:

[2018-04-04 07:12] #112 closed

[2018-04-09 12:50] jlewi commented on #389
Do we really need a new repository? Every repository has a fairly high maintenance cost.

We can still do all the other changes; e.g. put it in a separate Docker image.

[2018-04-10 02:11] gaocegege opened #521 "v1alpha2 integration"
* [x] split PRs into individual ones
   * [x] API, code gen
   * [x] controller
   * [x] tests?
   * etc
* documentation
   * [x] developer guide
   * [ ] quick start
   * [x] design doc
* [x] examples
* [ ] test-infra, etc
* others?

[2018-04-10 02:47] yph152 opened #522 "[v1alpha2] start using kubeconfig"
When start tf-operator, I'd like to start to use ```Incluster service```, but when I perform tf-operator, it shows that ```~/.kube/config```, I have to start, through the way of ```tf-operator  --kubeconfig = "" ``` I don't think this is the default value is not necessary, so that will have ambiguity.

![1523328374506](https://user-images.githubusercontent.com/20721597/38533577-8c59e232-3cac-11e8-

[2018-04-10 14:14] gaocegege opened #524 "[v1alpha2] Do not set default to always for restartpolicy"

[2018-04-11 01:42] ddysher commented on #524
Can you provide more details of this issue, or link back to an issue comment if that was how this issue was surfaced.

[2018-04-11 01:45] gaocegege commented on #524
@ddysher

https://github.com/kubeflow/tf-operator/pull/523#issuecomment-380084788

[2018-04-11 02:35] ddysher commented on #522
i'm not quit understand what's asking here; If we are using official client-go, shouldn't we already use `in-cluster service`?

@gaocegege

[2018-04-11 02:45] gaocegege commented on #522
@ddysher

I think he means that we should set https://github.com/kubeflow/tf-operator/blob/v1alpha2/cmd/tf-operator/app/options/options.go#L38 to be:

[code]

[2018-04-11 02:50] yph152 commented on #522
![1523414541304](https://user-images.githubusercontent.com/20721597/38593640-f9b38e1e-3d74-11e8-9353-b069f0ce8efe.jpg)
yeah,  that's right！

[2018-04-11 02:57] gaocegege commented on #522
@yph152 I am contributing v1alpha2 to the master, after I submitted the code about cli would you mind fixing it?

[2018-04-11 03:02] yph152 commented on #522
@gaocegege    Ok, I'll do that later.

[2018-04-11 07:35] mitake commented on #349
@pineking how about the situation of testing?

[2018-04-11 07:46] gaocegege opened #530 "[v1alpha2][test] Avoid potential data race problem"
https://github.com/kubeflow/tf-operator/pull/526#discussion_r180657250

[2018-04-12 04:03] gaocegege opened #532 "[v1alpha2] Suppport customized port"
https://github.com/kubeflow/tf-operator/pull/526#discussion_r180700751

[2018-04-12 04:04] gaocegege opened #533 "[v1alpha2] Try to not to always claim pods"
https://github.com/kubeflow/tf-operator/pull/526#discussion_r180696762

[2018-04-12 06:56] ddysher commented on #533
My original thought is to rename the function to better capture its intent (get and claim). This is just for clarity, and I do think it's necessary to patch the pods in each controller iteration: reconciliation is the reason we need controller (i hope there is optimization in apiserver side to not actually update the backend if data doesn't change).

If that's how kubernetes upstream controller na

[2018-04-12 06:57] gaocegege commented on #533
I agree, thus closing it now.

[2018-04-12 06:57] #533 closed

[2018-04-12 07:55] gaocegege opened #534 "[log] investigate zap"
zap has a better performance than logrus for structural logging. There is an evaluation https://github.com/uber-go/zap#performance

https://github.com/uber-go/zap

[2018-04-12 17:50] anj-s opened #535 "Unable to deploy the example TfJob in the user guide"
I am trying to run the example TfJob by following the user guide here:
https://github.com/kubeflow/kubeflow/blob/master/user_guide.md

I run into the following error when running the command:
cmd:ks apply default -c kubeflow-core
INFO  Updating configmaps distrat.jupyterhub-config
INFO  Creating non-existent configmaps distrat.jupyterhub-config
INFO  Updating services distrat.tf-hub-0
INFO  Creati

[2018-04-12 17:55] aronchick commented on #535
Can you execute this command first? (assuming you're doing this on GKE):

[2018-04-12 17:57] anj-s commented on #535
Which command are you referring to?

[2018-04-12 17:58] anj-s commented on #535
Also information about ksonnet version:
ks version
ksonnet version: 0.9.2
jsonnet version: v0.9.5
client-go version: 1.8

[2018-04-12 17:58] jlewi commented on #535
@anj-s @aronchick wants you the execute the kubectl command he posted in is comment

[code]

https://github.com/kubeflow/kubeflow/blob/master/user_guide.md#rbac-clusters

[2018-04-12 18:54] karthikvadla opened #536 "Adding flag in tf-operator to preserve Logs"
https://github.com/kubeflow/tf-operator/issues/128

I see with the above fix, it cleans off the pods when job completed to avoid resource issues.

Pain points:
-----------
- What if the user does not have any cluster level logging.? In future, we are planning to have in-lab setup where we don't want to use any cloud storage for logging purpose.
- Currently working on some POC's with tf-operator, t

[2018-04-13 01:17] fxue commented on #535
@anj-s looks like you are on GKE, per user guide, think you also need to run
[code]

[2018-04-13 02:34] gaocegege commented on #536
Yeah, that is a good point. Thanks for your issue.

I will take a look on v1alpha2.

[2018-04-13 15:39] #435 closed

[2018-04-16 03:10] gaocegege opened #537 "[v1alpha2] Use structured log"
https://beta.reviewable.io/reviews/kubeflow/tf-operator/526#-L9wzCBu3iIVq5x29_bT
https://beta.reviewable.io/reviews/kubeflow/tf-operator/526#-L9x0gq8AMaK7QTfSnyV

[2018-04-16 03:46] gaocegege opened #538 "[v1alpha2] Potential bugs when there is one worker succeeded"
Test Case:

[code]

[2018-04-16 03:53] gaocegege commented on #535
Hi, @anj-s

Does it solve your problem?

[2018-04-16 03:55] gaocegege commented on #537
https://github.com/kubeflow/tf-operator/pull/526#issuecomment-381469354

[2018-04-16 11:48] ChanYiLin commented on #349
Hi, I have tested it with my Kubernetes cluster which has one master and two workers having 8 p100 GPUs.
I found the kube-batchd scheduler still scheduled the worker pod requesting 1 GPU to the master node.

1. kube-batchd scheduler has possibility to schedule the pod to the master node.
2. Even the master node has no GPU, kube-batchd scheduler still schedule the worker pod to it.
3. the PR doesn'

[2018-04-16 13:09] zjj2wry opened #540 "feat: use fake client-set and informer add controller unittest."
The controller now uses informer, list, clientset. For the controller test client-go provides fake-client and "k8s.io/client-go/testing" package to help test. Use them can test the logic of the controller worker is correct.

/cc @jlewi @ScorpioCPH @gaocegege

[2018-04-16 13:15] gaocegege commented on #540
The test code is inspired by test in job controller in Kubernetes. And I do think we should use fake clientset instead of the normal clientset.

Thanks for the issue.

[2018-04-16 13:47] zjj2wry commented on #514
@jlewi test/e2e/main.go Is it still executed in ci? it seems can not run in local. I think we can use ginkgo to add some e2e tests, and ginkgo is heavily used in kubernetes. more infor https://github.com/onsi/ginkgo

[2018-04-16 13:57] zjj2wry commented on #503
@jlewi you are right, i thinks this metris is very useful, through these metrics, we can get some information, such as queue length, arrivals, queue delays, processing durations. I will investigate how to export them : )

[2018-04-16 13:57] zjj2wry commented on #503
/assign

[2018-04-16 14:07] jlewi commented on #514
We should remove e2e/main.go from CI. We currently rely on [Argo](https://github.com/kubeflow/testing) to write E2E tests.

If we need to use gingko as well we can but its not clear to my what problem that would solve.

[2018-04-16 14:18] gaocegege commented on #514
ginkgo is a BDD style test framework and it makes the e2e test easy to understand and maintain, IMO.

[2018-04-16 23:36] jlewi commented on #538
Its not clear to me from the issue description what the expected outcome is and what the actual outcome is.

[2018-04-16 23:45] jlewi commented on #522
Can we just get rid of the command line flag? Don't we support using an environment variable KUBECONFIG to override the default location.

I don't think we should have both an environment variable and command line flag; I think  that just leads to confusion as this issue illustrates.

[2018-04-17 01:43] gaocegege commented on #538
The description is `we expect not to create new pods for the succeeded workers but we do create now.`

[2018-04-17 02:04] jlewi commented on #514
But its not distributed like Argo workflows which is one of the reasons I picked Argo over Gingko for our E2E tests.

[2018-04-17 02:25] gaocegege commented on #514
Yeah, I agree.

I think what @zjj2wry means is that we could use ginkgo to implement e2e test cases. Argo and ginkgo have no conflict and we could use them together.

[2018-04-17 02:33] mitake commented on #349
@ChanYiLin thanks for your testing. Could you provide the command lines in your test?

[2018-04-17 11:01] gaocegege opened #543 "[test] copy labels and anotations to pod from tfjob"
- [x] Implement it in v1alpha2
- [ ] Add test for v1alpha1

[2018-04-17 18:31] nqn commented on #536
@jlewi Instead of deleting the resources (pods), could we work out something where the entry process _completes_ (exits with 0) when receiving a signal (could be a POST to an endpoint). A log aggregator should obviously be in place, but we have found users be pretty confused about loosing the access to the logs immediately.

[2018-04-18 06:09] jlewi commented on #536
I'm open to suggestions but I haven't been able to come up with a good solution for forcing terminations of the pod.

The requirement here is that we don't want uses to have to change their TF code. So how do we force the process to exit with a code of 0.

[2018-04-18 06:34] yph152 opened #544 "[v1alpha2] The state of distributed model training."
@gaocegege @ScorpioCPH @DjangoPeng
As for the state judgment of model training, I think there are usually several situations:
1、The best case is that the non-chief worker task is wrong, because these tasks are actually stateless. When such a worker task is restored, it will reconnect with its PS task and restart the process that was previously broken.
2、More bad a situation is PS task fails, then

[2018-04-18 07:58] DjangoPeng commented on #544
/area operator
/kind discussion
/priority p0

/cc @ddysher @jlewi

[2018-04-18 09:15] gaocegege commented on #544
Personally, I think we do not make decisions for users. We consider the job failed if there is one worker failed and the user do not specify the chief worker.

[2018-04-18 09:44] ScorpioCPH commented on #544
We will use worker-0 as chief worker by default.

`Training fails` is a big topic we have discussed several times, It depends on many cases:
- Synchronous training or asynchronous training.
- Whether user have written costume code to save/reload model from checkpoint file or not.
- And some other cases.

[2018-04-18 14:59] ChanYiLin commented on #349
Below is the information of my cluster.
[code]

The following yaml file is how I launched a tfjob.
It indicated that my job consisted of 7 Workers and a PS.
Each worker requested 1 GPU.
I also used nodeSelector to try to force kube-bachd to schedule my pod to apollo61 and apollo62 which have GPUs.

[code]
The job successfully create the pdb and the pods as below.
However, the number of Running pod

[2018-04-19 00:38] DjangoPeng commented on #544
How many cases do we support now?  Or what's the default policy for distributed TFJob?

[2018-04-19 00:43] DjangoPeng commented on #544
@yph152 See also:

https://github.com/kubeflow/tf-operator/issues/283
https://github.com/kubeflow/tf-operator/issues/333

[2018-04-19 04:46] mitake commented on #349
@ChanYiLin thanks for sharing the information. Could you also provide the command line options and config files of kube-batchd and tf-operator?

[2018-04-19 07:58] yph152 commented on #544
@DjangoPeng @gaocegege @ScorpioCPH
Training for distributed model does have a lot of kinds of situation, for the back-end to determine all of the state is very difficult, can't we make for the entire state of the art distributed training to users to set up, we only need to according to the users to set returned to the user related condition. Such as:

1, user Settings container restart strategy fo

[2018-04-19 20:42] 0olwzo0 commented on #544
IMO, the overall state for distributed training should be:
-  succeeded: master/chief succeeded.
-  failed: any replica got permanent error(#518). Every worker/ps container can exit due to permanent errors before master/chief,  In which case restart won't help,  controller should fail the job and terminate all the replicas. For retryable exit status, should respect user's choice(RestartPolicy).

[2018-04-19 21:42] nqn commented on #536
Re: not changing the code; completely agreed - we can look at this.

[2018-04-20 03:47] yph152 commented on #544
@0olwzo0 My understanding is:
+ User Settings (RestartPolicy)Never, OnFailure,Always, we use the k8s default policy;
+ When the user sets the (RestartPolicy) ExitCode, we handle it according to ExitCode;
Is that right?

[2018-04-20 10:12] gaocegege commented on #522
Close in #526

[2018-04-20 10:12] #522 closed

[2018-04-20 10:12] gaocegege commented on #490
@mitake  Now the v1alpha2 is merged and I think you are not blocked now :tada:

[2018-04-20 10:13] gaocegege commented on #537
Close in #526

[2018-04-20 10:13] #537 closed

[2018-04-20 10:16] gaocegege opened #547 "[v1alpha2] Enhance the logic about sync"
Please see https://github.com/kubeflow/tf-operator/pull/526#issuecomment-382570932

[2018-04-20 16:45] ChanYiLin commented on #349
@mitake
For kube-batchd,
[code]

For tf-operator,
[code]

[2018-04-21 02:47] gaocegege commented on #521
/assign @ScorpioCPH for the examples.

[2018-04-22 05:15] u2takey opened #550 "[v1beta2] Add ActiveDeadlineSeconds and BackoffLimit"
1. add ActiveDeadlineSeconds to tfjob.Spec like batch.Job's JobSpec.ActiveDeadlineSeconds, which control the max active time for a job.
2. add BackoffLimitt to tfjob.Spec like batch.Job's JobSpec.BackoffLimitt, which control restart limit for a failing job.
3. add CleanPolicy to tfjob.Spec for control clean up tfjob's pod after tfjob is done(success/fail), clean up on time is very important for a

[2018-04-22 08:22] zuowang opened #552 "Servable not found for request: Latest(mnist)"
I am trying to run [model.py](https://raw.githubusercontent.com/kubeflow/examples/master/mnist/model.py) with tfjob. Below is my yaml file to create a tfjob.

[code]

But when I used tf-serving to serve the trained model, and predicate a number.
[code]
[code]

I got "Servable not found for request: Latest(mnist)" error. I am working on kubernetes 1.9.3. Can anybody help me?
[code]

However, it wor

[2018-04-22 08:31] gaocegege commented on #552
/api v1alpha1
/kind question

[2018-04-22 08:34] gaocegege commented on #552
I am not sure if it is the right place for the question since it is related to tf-serving.

/cc @jlewi

[2018-04-22 08:41] gaocegege commented on #552
Hi @zuowang

I am not sure if the dir here is right:

[code]

Maybe it should be` /data/pijie/mnist/model-12345`. :thinking:

BTW, I think the error is not caused by tf-operator.

[2018-04-22 08:43] zuowang commented on #552
@gaocegege The dir is right. /model-12345/export/modelf-12345 is the exported model.

[2018-04-22 10:35] gaocegege commented on #535
I am closing it since it is stale. Feel free to leave comments if you still have problems about the issue.

[2018-04-22 10:35] #535 closed

[2018-04-22 10:37] gaocegege commented on #333
Closed by #492

[2018-04-22 10:37] #333 closed

[2018-04-22 10:37] gaocegege commented on #330
Closed by #492

[2018-04-22 10:37] #330 closed

[2018-04-22 10:37] gaocegege commented on #327
Closed by #492

[2018-04-22 10:37] #327 closed

[2018-04-22 10:38] gaocegege commented on #302
Closed by #492

[2018-04-22 10:38] #302 closed

[2018-04-22 10:40] gaocegege commented on #370
Cloud we close it? @jlewi

[2018-04-22 10:41] gaocegege commented on #283
Closed by #492

[2018-04-22 10:41] #283 closed

[2018-04-22 10:41] gaocegege commented on #314
Closed by #492

[2018-04-22 10:41] #314 closed

[2018-04-23 02:24] mitake commented on #349
@ChanYiLin thanks, could you also provide the content of `/etc/config/controller_config_file.yaml`? Did you specified `SchedulerName` in the file?

[2018-04-23 02:29] jlewi commented on #370
Yes.

[2018-04-23 02:29] #370 closed

[2018-04-23 02:37] jlewi commented on #552
The error `"Servable not found for request: Latest(mnist)`  indicates a problem with TFServing and the client. I believe this error basically means that the request specified a model of `Latest(mnist)` and this was not found.

What do the logs for TFServing show?

/cc @elsonrodriguez @lluunn

[2018-04-23 02:41] jlewi commented on #536
I don't think forcing users to explicitly set the behavior is all that useful. Users would likely only want to set this if they know ahead of time that there job isn't working and they want to capture logs.

In practice users won't know ahead of time that there job won't work. Forcing users to rerun their job in order to get logs is cumbersome.

Can someone investigate to see if there is a simple

[2018-04-23 04:35] yph152 opened #555 "[v1alpha2]tfjob restartPolicy for Never"
When I set it to never, the pod run failed and tfjob recreated the pod, which I think is problematic.

[2018-04-23 06:27] elsonrodriguez commented on #552
Can you try changing `--model_name=modelf-12345` to `--model_name=mnist` for the tf-seving command?

[2018-04-23 08:22] #552 closed, assigned to nobody

[2018-04-23 14:58] nqn commented on #536
Just bringing this up one more time; from the user perspective (and this in not inferred, but reported to us). It is confusing that getting logs from a TFJob run is different from getting logs from a plain kubernetes job. The log aggregators are in place, but it is pretty common to use `kubectl logs` to get the latest logs quickly.

If we can make it work, I would argue we should try to make the p

[2018-04-23 15:49] nqn commented on #536
We tinkered with this (abstracting logging) as well, but found that `kubectl logs --selector=...` wasn't enough complexity to hide behind another layer. Folks run other than tf-operator jobs on the cluster, so the UI/UX consistency ends up mattering too. So our first path was just a documented "best known method". `kubetail` has been useful too, for tailing logs for multiple pods and the pod name

[2018-04-24 03:06] gaocegege commented on #555
Yeah, it is a bug, thanks for your report.

[2018-04-24 03:24] gaocegege opened #556 "[go] Use dep instead of glide to reduce the size of vendor"
Please see **https://github.com/kubeflow/tf-operator/pull/541#issuecomment-381868512**

[2018-04-24 14:46] gaocegege commented on #556
I think the vendor tool is not the gap since glide and dep are all easy to use. We do not need any additional work in it. Thus I think dep and glide all works for me.

I migrate from glide to dep because we are using some code in k8s.io/kubernetes and k8s code base is too large. We do not expect to put k8s code in our vendor. Now we just copy the code that we used manually into our code, but it is

[2018-04-24 14:54] gaocegege commented on #556
Maybe we could use @kubeflow to ask all members for their opinions.

[2018-04-24 20:37] ashahba commented on #536
@jlewi I agree with your argument here, but at the same time when users are still in template development phase they may require to get a shell into the running Pod and inspect it and many other scenarios that require Pods to be available.

For that reason I believe that leaving resource cleanup to users and their jobs is more appropriate here.
Cluster admins should always be able to define `Resou

[2018-04-24 21:15] ashahba opened #558 "Add a timeout flag in tf-operator to preserve resources after job completion for a given period"
When users are still in template development phase they may require to get a shell into the running Pod and inspect it and many other scenarios that require Job resources to remain available even after Job has been completed.

This way we leave decision on resource cleanup to users.
On the other hand cluster admins should always be able to define `Resource Quotas` per user and per namespace.
This

[2018-04-24 21:16] ashahba commented on #536
Addressing my previous comment to a different thread here #558 because it is tackling Resource preservation rather than just keeping logs around which this issue is really about 🙂

[2018-04-25 03:27] jlewi commented on #536
If users don't wand their job to terminate they can do this by adding a sleep forever to their job; e.g. by wrapping their binary in a bash script that invokes their command then just does `tail -f /dev/null`.

I think that's much better than adding a flag to TFJob operator to prevent resource cleanup.

Importantly, leaving a container running so people can get a shell into it is very different fr

[2018-04-25 04:06] gaocegege commented on #556
Katib is using dep from the beginning 😊ཽ

[2018-04-25 08:04] gaocegege commented on #558
/cc @ScorpioCPH @jlewi

/priority p3
/area operator

[2018-04-25 10:51] ChanYiLin commented on #349
@mitake
Hi, I found you have done some changes to the PR.
When I followed the revision and changed the
[code]
to
[code]

My test scenario works like a charm now!

[2018-04-25 14:03] mitake commented on #349
@ChanYiLin great! Thanks for testing again :) I'll make the PR ready to merge.

[2018-04-25 16:37] balajismaniam commented on #556
There is on-going work to migrate kubernetes/kubernetes to dep as well: https://github.com/kubernetes/kubernetes/pull/57795. I think it is a good idea to standardize dep management across all kubeflow org project.

PS: KVC uses dep.

[2018-04-26 04:49] jlewi commented on #203
/lifecycle stale

[2018-04-26 04:49] #203 closed

[2018-04-26 04:56] jlewi commented on #558
I don't think this will work as mentioned in kubeflow/tf-operator#536

In order to get a shell into a container the container must still be running. It is entirely up to the user's code whether the container is running.

If the user code exits there's no way for the user to start a shell in the container even if TFJob operator doesn't delete the pod.

If a user wants to leave their containers runn

[2018-04-26 05:02] gaocegege commented on #558
I think so, but I am not sure if we are on the same page. It seems that we all think that it is not what we want.

Closing it.

[2018-04-26 05:02] #558 closed

[2018-04-26 05:51] #556 closed

[2018-04-26 05:51] ashahba commented on #558
Fair enough guys 🙂

[2018-04-26 06:12] gaocegege commented on #558
Sorry for that. But it is not the solution for the problem. We are trying to import fluentd to solve the log problem in #536 , I think it is more appropriate.

[2018-04-26 16:00] jlewi opened #561 "TfJob operator stops working on invalid spec"
I submitted a job with an invalid spec (container args contained integrs and not strings). The job was created but it was never started and the status was never updated. Furthermore, I think this blocked the TFJob operator from processing any other jobs. Deleting the job fixed things.

The TFJob operator showed the following logs.

[code]

I believe what's happening is that since the spec is inval

[2018-04-27 07:02] yph152 opened #562 "[proposal]TFJob condition for v1alpha2"
## TFJob condition proposal
[Documents](https://docs.google.com/document/d/1iSRRqJ5cfT25d0Kt3ifeYdsx7vBSqK8E0XsYrpAkKGM/edit#heading=h.uo5a15q6q5mk)
### Author：[Penghui Yan](yph152), [Jingtian Peng](DjangoPeng)
&nbsp;&nbsp;&nbsp;&nbsp;This document is mainly to discuss the management of the state of distributed model training for the tf-operator.
### Background
 &nbsp;&nbsp;&nbsp;&nbsp;It’s very i

[2018-04-27 07:06] #547 closed

[2018-04-27 07:06] gaocegege commented on #547
Ref #548

[2018-04-27 07:07] gaocegege commented on #544
Ref #562

[2018-04-27 07:08] gaocegege commented on #538
Close in #548

[2018-04-27 07:08] #538 closed

[2018-04-27 17:41] ankushagarwal opened #563 "Get rid of the restriction that the container should be named "tensorflow""
Right now to deploy a TFJob, the pod must contain a container named tensorflow. The idea with this was to support sidecar containers. But if there is only a single container for a worker, we shouldn't enforce the restriction that it should be named tensorflow

/cc @jlewi @gaocegege

[2018-04-28 01:16] gaocegege commented on #563
SGTM.

[2018-04-28 08:27] gaocegege opened #564 "[discussion] Do we need to maintain helm chart now?"
Now we use ksonnet in the community, so I think we could deprecate the helm chart (which is not available now, actually).

WDYT @jlewi @ScorpioCPH

[2018-04-30 00:43] jlewi commented on #561
See also kubeflow/tf-operator#437 - OpenAPI Validation for TFJob controller

[2018-04-30 13:35] jlewi commented on #564
We can remove the helm chart. We removed it from our docs long ago. We can go ahead and delete any remaining code.  We haven't rebuilt it in months so its completely outdated.

[2018-04-30 19:28] jlewi commented on #61
Closing this bug since it should be fixed by our v1alpha2 API and we have bugs already tracking that.

[2018-04-30 19:28] #61 closed

[2018-04-30 19:33] jlewi commented on #514
/cc @ankushagarwal

[2018-04-30 23:05] ankushagarwal commented on #514
@gaocegege @zjj2wry ginkgo looks like a good framework for writing E2E tests, but right now we have all of our test code in python modules which are run by argo workflows. If we were to move to `ginkgo`, it would require non-trivial effort to move the ~15-20 tests that we have in python. I am not sure if we have the capacity to do that right now.

I am going to go ahead and close this issue becaus

[2018-04-30 23:05] #514 closed

[2018-05-02 08:50] gaocegege opened #567 "[test] Test failed because of ImagePullBackOff"
Please have a look at https://console.cloud.google.com/kubernetes/pod/us-east1-d/kubeflow-testing/kubeflow-test-infra/kubeflow-tf-operator-presubmit-tfjob-e2e-549-cbd9b69-369-4a11-3244758015?project=kubeflow-ci&tab=details&duration=PT1H&container_summary_list_tablesize=10

[code]

The issue blocks #549 #565 #566

PTAL @jlewi @ankushagarwal

[2018-05-02 13:27] gaocegege commented on #567
Thanks, I will update it.

[2018-05-02 14:28] #567 closed

[2018-05-05 16:26] #564 closed

[2018-05-08 13:13] jlewi commented on #389
Assuming we keep the UI and operator in the same repository for now but in different directories.

What changes are needed to better separate the two.

[2018-05-08 13:16] jlewi commented on #450
@wbuchwalter Any update on this? Should the different resource names just be handled in the UI?

E.g. in the UI we could let users specify `alpha.kubernetes.io/nvidia-gpu` or `nvidia.com/gpu`? They could either specify that directly or they could specify cloud and then the UI would infer the values based on this.

What priority should we assign this issue? If it must get done and will get done for

[2018-05-08 13:18] jlewi commented on #448
@wbuchwalter Should this be P2 or P1? P1 means it will get done by our 0.2 release which is end of June.

[2018-05-08 13:26] wbuchwalter commented on #450
Haven't worked on this yet, but let's mark it as P1.

[2018-05-08 13:36] gaocegege commented on #437
I can take a look at it.

[2018-05-08 13:36] gaocegege commented on #437
/assign @gaocegege

[2018-05-08 14:25] jlewi commented on #562
@gaocegege @ScorpioCPH What are your thoughts on this proposal? Do you think we can complete it in time for our 0.2 release?

[2018-05-08 14:27] jlewi opened #573 "TFJob operator should pass through annotations to the pod"
If a user sets annotations in the PodTemplateSpec inside TFJob, these annotations should get set on the actual pods created.

This important for custom hardware (e.g. TPUs) since custom hardware support might depend on pod annotations.

Marking this P1 because we want it to be fixed as part of our 0.2 release so that TPUs are well supported.

[2018-05-08 14:28] gaocegege commented on #562
Hi @jlewi

What is the deadline of 0.2?

[2018-05-08 14:28] jlewi commented on #573
Its possible this is already fixed in v1alpha2. We should check and an appropriate E2E test.

[2018-05-08 14:30] jlewi commented on #573
Duplicate of #543

[2018-05-08 14:30] #573 closed

[2018-05-08 14:32] jlewi commented on #543
Are you suggesting that annotations in the TFJob metadata be copied to the pod metadata? Or are you suggesting that metadata inside the TFJob PodTemplateSpec's be copied to the actual pods created.

If the latter then I agree with you. This is necessary to support various extensions/features that rely on annotations (e.g. admission controllers, TPUs).

Bumping to P1 because I'd like this to be fix

[2018-05-08 14:36] jlewi commented on #521
@ScorpioCPH Is the remaining work just creating examples and tests?

[2018-05-08 14:40] jlewi opened #574 "v1alpha2 should use headless services"
Background
  #490
  #471 Switched v1alpha1 to use headless services

We need to ensure the change is in v1alpha2 as well.

[2018-05-08 14:45] jlewi opened #575 "[v1alpha2] Add PDB of TFReplicaSet for gang scheduling by kube-arbitrator"
Background
   #490 port changes in v1alpha1 to v1alpha2
   #452 Add PDB to TFReplicaSet in v1alpha1

We added a PDB to TFReplicaSet in v1alpha1 to support kube-arbitrator we need to port this change to the v1alpha2 API.

/assign @mitake

[2018-05-08 15:02] jlewi commented on #490
@gaocegege @ScorpioCPH I'd like to replace this issue with finer grained issues so its easier to track and assign the actual work items.

I created the issues
 * #574 to support headless services in v1alpha2
 * #575 to support gang scheduling

Regarding the PRs mentioned in the first comment

 *  #452 this is about gang scheduling and covered by #575
 * #471  headless services is covered by #574

[2018-05-08 16:46] ankushagarwal commented on #563
The constraint of naming the container 'tensorflow' is fine when there are sidecars. But if there is only a single container per pod (which is not an uncommon scenario), it doesn't make sense of have this restriction.

[2018-05-08 19:12] jlewi commented on #563
So we could drop the requirement that a container be named TensorFlow if there is a single container but I'm not sure I like the idea of only imposing the requirement of having a container named TensorFlow when there is more than 1 container.

If there is a single container that isn't named "TensorFlow" can't we just provide a very clear error message that explains how to fix things?

[2018-05-09 04:04] gaocegege commented on #543
Ref https://github.com/kubeflow/tf-operator/pull/542

The latter, I think.

[2018-05-09 08:02] mitake commented on #575
@jlewi thanks for creating this issue. I'll work on it.

[2018-05-09 08:20] gaocegege commented on #437
FMI

https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/ has the documentation about how to enable the beta feature: `CustomResourceValidation` in Kubernetes 1.9.

[2018-05-09 08:41] gaocegege commented on #223
I think we could close the issue since v1alpha2 already implemented it.

[2018-05-09 08:41] #223 closed

[2018-05-09 08:43] gaocegege commented on #555
This is fixed in https://github.com/kubeflow/tf-operator/pull/548

[2018-05-09 08:43] #555 closed

[2018-05-09 08:45] #40 closed

[2018-05-09 08:50] #379 closed

[2018-05-09 08:52] gaocegege commented on #424
Close in #416

[2018-05-09 08:52] #424 closed

[2018-05-09 09:00] gaocegege commented on #70
I think the issue should be in kubeflow/website :thinking:

[2018-05-09 09:13] gaocegege commented on #422
I think we already use it, then could we close it?

[2018-05-09 09:14] gaocegege commented on #93
We do not support helm chart now.

[2018-05-09 09:14] #93 closed

[2018-05-09 09:15] gaocegege commented on #25
dup with #437

[2018-05-09 09:15] #25 closed

[2018-05-09 09:15] gaocegege commented on #110
We do not use phase now, thus close the issue soon :smile:

[2018-05-09 09:15] #110 closed

[2018-05-09 09:16] gaocegege commented on #167
Ref #577

[2018-05-09 09:17] gaocegege commented on #136
Do we want this now?

[2018-05-09 10:08] bhack commented on #136
I like Skaffold but Draft has a more [integrated tool for Ide](https://github.com/Azure/vscode-kubernetes-tools) and people like to do language server and debug in containers instead of replicating all the dependencies on the host.

[2018-05-09 10:15] bhack commented on #136
P.s. And also breakpoint for remote debugging on the provisioned Minikube/Cluster pod..

[2018-05-09 10:52] bhack commented on #136
@gaocege See https://github.com/Azure/draft/issues/482  and https://github.com/GoogleContainerTools/skaffold/issues/10

[2018-05-09 12:07] gaocegege commented on #136
Thanks for the link :+1:

[2018-05-09 14:01] Farrellow opened #580 "can not set labels"
I set labels in yaml file, and kubectl apply -f yaml file.but the pod template has no the value in labels.
the yaml file is like this:
[code]

[2018-05-09 14:15] gaocegege commented on #580
Please add `apiVersion: "kubeflow.org/v1alpha1"` before the config and try again.

Please have a look at https://github.com/kubeflow/tf-operator/blob/master/examples/tf_job.yaml

[2018-05-10 01:33] ScorpioCPH commented on #490
@jlewi Thanks, LGTM, we can close this one.

[2018-05-10 02:26] jlewi commented on #562
We want to release end of June. So we should be code complete first half of
June.

On Tue, May 8, 2018, 7:28 AM Ce Gao <notifications@github.com> wrote:

[2018-05-10 02:45] gaocegege commented on #562
Personally, I think it has some potential risks

WDYT @yph152

[2018-05-10 02:47] gaocegege commented on #521
Yeah, it includes documentation and test infra.

[2018-05-10 03:29] Farrellow commented on #580
sorry, my fault.
my yaml file is actually like this:
[code]
I was so careless that miss the apiVersion: "kubeflow.org/v1alpha1" in issue.

but it still can not set labels in pod

[2018-05-10 03:33] gaocegege commented on #580
Ref https://github.com/kubeflow/tf-operator/pull/542

We should implemented the feature before.

@u2takey Do you have any thought about the issue?

[2018-05-10 03:34] gaocegege commented on #580
Do you mean you set the labels in pod template and the pods created by the operator does not have these labels, right?

[2018-05-10 03:44] u2takey commented on #580
If you are using master/tf-operator(v1), `missing labels in pod template` is fixed by https://github.com/kubeflow/tf-operator/pull/542

[2018-05-10 04:45] Farrellow commented on #580
@gaocegege  yes, it is.

[2018-05-10 04:54] gaocegege commented on #580
Do you use the latest version? Or you create the instrance from kubeflow/kubeflow?

[2018-05-10 06:29] Farrellow commented on #580
@gaocegege I used ks install kubeflow followed by this [article](https://github.com/kubeflow/kubeflow/blob/master/user_guide.md)
[code]
my version is v0.1.2

[2018-05-10 06:41] gaocegege commented on #580
OK, I found the cause. The commit used in v0.1.2 is https://github.com/kubeflow/tf-operator/commit/a7511ff284621e4d88dba2354b048d57965a4011, which is not included the feature commit. Then you could not benefit from it.

I think maybe you could have a try to run the oprator on your own in the latest version.

[2018-05-10 06:41] #580 closed

[2018-05-10 07:04] Farrellow commented on #580
ok, I will try to upgrade kubeflow, thank you very much.

[2018-05-10 07:05] gaocegege commented on #580
Don't be so kind :smile:

BTW, the newest version v0.1.3 also uses a7511ff. Thus I suggest building and running the operator on your own.

[2018-05-10 08:06] bhack commented on #136
@jlewi Generally I think the dev loop automation behavior is defined by you interpretation of what is the "experimental/dev" phase of an experiment and what is the production phase of an experiment. See https://github.com/kubeflow/kubeflow/issues/264#issuecomment-387976421

[2018-05-10 09:27] gaocegege opened #586 "[enhancement] Fix the gofmt support"
Now we only run linting check in pkg package, which is not sufficient.

[2018-05-10 09:28] gaocegege commented on #586
/assign @wgliang

[2018-05-10 09:57] squillace commented on #136
We would generally love to help get a custom draft-pack working with kubeflow. I would think that skaffold would be great for it as well -- the community will naturally choose the tooling it prefers, as it should, but these are two great tools to help people use KubeFlow.

[2018-05-10 11:30] bhack commented on #136
@squillace We have also a more general issue at KubeFlow level at https://github.com/kubeflow/kubeflow/issues/465

[2018-05-10 12:18] squillace commented on #136
The general issue being a skaffold one? Is there an inner issue I can look at here? I'm missing something.

[2018-05-10 12:27] bhack commented on #136
I will re-edit the title so that you can comment the entry point of Draft and we can compere with Skaffold.

[2018-05-10 13:00] jlewi commented on #136
@squillace I think it would be very helpful to have concrete examples illustrating how draft and/or skaffold can be used.

Some areas where Draft might be useful

- Launching tensorboard
- Launching TFJobs
- Deploying models
- Argo workflows

For TFJobs I think we can actually ignore the subtleties of TensorFlow and TFJob and consider the following use cae

- I have a shell script "hello_world.sh"

[2018-05-10 13:38] squillace commented on #136
I chatted with @wbuchwalter about this at kubecon, and we shall definitely kick off some examples. In general, draft builds containers and deploys helm charts for iterative development, which largely means you can use draft for almost any thing that is kubernetes native.

I'll hop back into this once I get back home (end of the week).

[2018-05-10 14:17] Farrellow commented on #580
I install the latest version kubeflow in kubernetes cluster, but it dosen't work. I still can not set the labels.
I am not sure whether I upgraded the kubeflow successfully. how to check the version of kubeflow?
[code]

[2018-05-10 14:29] squillace commented on #136
cheers! looks like we got all the peeps to make some progress to help people make the best of kubeflow whatever they want to use, which is great.

[2018-05-10 14:35] inc0 commented on #136
@jlewi also Draft will solve slightly different use case - image mgmt or, what we discussed, code -> image path.
In short me, @squillace and @wbuchwalter discussed idea where we could use draft to point to local code, draft would then use this to build docker image in cluster (using img or something) and publish this image in registry somewhere.

[2018-05-11 03:08] gaocegege opened #588 "[question] dist_mnist example failed to run"
I run the mnist test and got:

[code]

Is there anything wrong?

/assign @ScorpioCPH

[2018-05-11 04:08] gaocegege opened #589 "[v1alpha2] Add CI test"
Just as v1apha1 does.

[2018-05-11 04:09] gaocegege commented on #521
I opened a separate issue for test infra, and I think it is time to close the issue.

[2018-05-11 04:09] #521 closed

[2018-05-11 04:11] gaocegege opened #590 "[v1alpha2] Push the example docker image to google or dockerhub registry"
@ScorpioCPH implemented a example dist_mnist for v1alpha2, and I think we could place the docker image under the kubeflow org.

[2018-05-11 05:32] gaocegege opened #591 "[v1alpha2] Remove controller_utils.go"
We imported the file to reduce the size of vendor. Now we have dep support then we could eliminate it.

[2018-05-11 06:17] gaocegege commented on #586
/assign @gaocegege

[2018-05-11 07:05] #484 closed

[2018-05-11 07:52] gaocegege commented on #543
We already implemented it in v1alpha2, my mistake.

[2018-05-11 11:48] #586 closed

[2018-05-13 12:02] ddysher commented on #562
Do we want to include this into our API?  We already have `Conditions` and `TFReplicaStatuses` in our API, it occurs to me that user should be responsible to decide the status, either it is the developer running the job, or a higher level system launching tfjob on behalf of developer.

[2018-05-14 05:37] Farrellow commented on #580
what do you mean of building and running the operator on my own, you mean that the latest version of kubeflow in github master branch dosen't merge this commit [a7511ff](https://github.com/kubeflow/tf-operator/commit/a7511ff284621e4d88dba2354b048d57965a4011)?

[2018-05-14 05:40] gaocegege commented on #580
I mean the version used in kubeflow does not have the enhancement change.

[2018-05-18 08:09] gaocegege commented on #543
I set the priority to p2 sine we implemented it and the last work is to add test cases.

[2018-05-20 15:15] #591 closed

[2018-05-21 12:37] lizzy220 opened #596 "tf-operator throws runtime error: invalid memory address or nil pointer dereference"
I used TFJob to train a model and got this error: IOError: [Errno socket error] [Errno 101] Network is unreachable.
I thought the TFJob would Failed, but actually it was in Creating phase and had a Running state. At the same time, tf-operator pod threw a runtime error: invalid memory address or nil pointer dereference and changes status to CrashLoopBackOff. After I cleaned up the tfjob manually, t

[2018-05-21 13:12] gaocegege commented on #596
Hi, are you using v1alpha1 in tf-operator 0.1?

[2018-05-21 18:27] jlewi commented on #589
Bumping this P1 because we need this to have v1alpha2 ready for 0.2.
/priority p1

[2018-05-21 18:29] jlewi opened #597 "mnist test isn't part of CI"
An mnist test was added but this isn't integrated with our CI system.
https://github.com/kubeflow/tf-operator/tree/master/test/e2e/dist-mnist

Ideally we'd run this as part of an Argo workflow that would build and deploy the latest version of the TFJob operator

/cc @ScorpioCPH
/priority p2

[2018-05-21 18:33] jlewi commented on #589
It looks like at a minimum we need

- ksonnet changes to support deploying v1alpha2 controller
- (Possibly) Changes to v1alpha2 and v1alpha1 controllers so they only claim specific versions of TFJobs so that we can co deploy both versions
- Upgrade the [E2E test workflow](https://github.com/kubeflow/tf-operator/blob/master/test/workflows/components/workflows.libsonnet) to deploy both controllers
-

[2018-05-21 18:36] jlewi opened #598 "Support deploying v1alpha2 and v1alpha1 controllers simultaneously"
To support development of v1alpha2 and migration to the v1alpha2 API, we'd like to make it possible to deploy controllers for v1alpha1 and v1alpha2 in the same cluster.

The controllers should only claim/operate on API objects with the correct version.

[2018-05-21 18:41] jlewi commented on #598
It looks like informers are scoped to specific versions.

https://github.com/kubeflow/tf-operator/blob/master/pkg/controller/controller.go#L110
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/controller.go#L205

So I think the different controllers are already scoped to specific versions. And no additional work is needed.

I will open up a separate issue to add an appropriate

[2018-05-21 18:42] jlewi opened #599 "[v1alpha2] Need ksonnet package"
We need to make the ksonnet changes to support deploying the v1alpha2 controller with Kubeflow.

Per #598 we'd like to deploy both controllers simultaneously.

/priority p1

[2018-05-21 19:58] jlewi opened #600 "[v1alpha2] Need to add the v1alpha2 binaries to our Docker image"
We need to update
https://github.com/kubeflow/tf-operator/blob/master/py/release.py

To build the v1alpha2 controller and include it in the docker image

/priority p1
/assign jlewi

[2018-05-22 03:52] #600 closed

[2018-05-22 05:17] lizzy220 commented on #596
@gaocegege
yes, I am using v1alpha1

[2018-05-22 07:35] gaocegege commented on #580
https://github.com/kubeflow/tf-operator/blob/master/developer_guide.md

[2018-05-22 09:03] gaocegege commented on #563
I meet a problem when I am fixing #532 , I found that it is hard to set the default port for tensorflow container if we do not know which one is it.

Consider that we have two containers in the pod and one is tensorflow container named "my-name", and a sidecar named "sidecar". We need to set the default port for the tensorflow container since it does not have one. Then we can not do it without the

[2018-05-22 17:29] jlewi commented on #598
It looks like K8s doesn't support deploying multiple versions of the resource simultaneously;
see kubernetes/features#544

One workaround is to create a resource with a different name.

[2018-05-22 17:31] jlewi commented on #599
Per #598 it looks like deploying v1alpha1 and v1alpha2 simultaneously is not straightforward. I think as a starting point we should add an option to deploy one or the other.

[2018-05-23 01:36] gaocegege commented on #598
Yeah, I meet the same problem.

[2018-05-23 01:55] #588 closed

[2018-05-25 02:55] gaocegege commented on #598
I am closing the issue since we know it is not supported by kubernetes.

[2018-05-25 02:55] #598 closed

[2018-05-25 04:55] jlewi opened #606 "tf_job_client blocks forever"
In kubeflow/kubeflow#866 I observed the test_runner.py seemingly hang waiting for TFjobs to complete.

Here are some sample logs

[code]

From [gubernator](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kubeflow_kubeflow/866/kubeflow-presubmit/1663/) and [workflow](http://testing-argo.kubeflow.org/workflows/kubeflow-test-infra/kubeflow-presubmit-kubeflow-e2e-minikube-866-

[2018-05-25 04:55] jlewi commented on #606
/priority p1

[2018-05-25 07:03] gaocegege commented on #561
It is hard to validate the config using the feature crd validation since we have podtemplatespec in your definition. The feature does not support `$ref`, podtemplatespec heavily uses $ref. If we want to check it, we need to get the OpenAPI schema and have a hack on it, which I think is not what we want.

[2018-05-25 07:19] #606 closed

[2018-05-25 10:28] fatkun opened #608 "latest.Status.StartTime is nil:invalid memory address or nil pointer dereference"
I use gcr.io/kubeflow-images-public/tf_operator:v20180522-77375baf   docker image start and throw error.

I try to chage the code and the error not throw again.
tf-operator\pkg\trainer\replicas.go

[code]

error logs
[code]

[2018-05-25 12:44] jlewi commented on #561
Can you explain more about $ref and how it is used? Would it be possible to just use OpenAPI validation to ensure that container args are strings not integers?

I guess another solution might be to use an admission controller to validate the spec.

@enisoc Any suggestions on how to handle this?

@jesseun I think you faced a similar problem with the Argo CRD what did you do?

[2018-05-25 18:05] enisoc commented on #561
If you just want to validate container args, and not everything in PodTemplateSpec, then it may be feasible to write an OpenAPI schema by hand for that.

If you want to validate the whole PodTemplateSpec, the best workaround I've heard of so far is this one (although I haven't tried it personally):

https://github.com/kubernetes/kubernetes/issues/54579#issuecomment-370372942

[2018-05-25 20:26] jlewi commented on #437
@gaocegege Has a PR for this and this may be a duplicate issue.

[2018-05-25 22:50] ankushagarwal commented on #599
Since #851 is merged can this be closed?

[2018-05-28 03:59] jessesuen commented on #561
@jlewi coincidentally, I literally just "fixed" this in the workflow controller. But it's more to workaround the upstream kubernetes issue: https://github.com/kubernetes/kubernetes/issues/57705.

I followed the recommendation in this comment:
https://github.com/kubernetes/kubernetes/issues/57705#issuecomment-354552314

Instead of using the auto-generated workflow informer, I wrote a `unstructured.

[2018-05-28 10:49] gaocegege commented on #561
Thanks for your reply @jessesuen

I wrote a tool to generate the validation from the OpenAPI specification: https://github.com/gaocegege/crd-validation.

While we meet an issue from Kubernetes side: https://github.com/kubernetes/kubernetes/issues/59485#issuecomment-380032718. Kubernetes does not support addtionalproperties while it is needed for map type. Unfortunately, `TFRelicaSpec` is a map.

T

[2018-05-29 03:38] gaocegege commented on #561
At this moment validating all types in the CRD is not practical, and the crd validation feature has some limitations, such as lack of addtional properties support. I think the workaround from jessesuen is a good way to solve the problem.

[2018-05-29 07:03] mitake commented on #349
The PR which adds GPU support to kube-arbitrator is already merged: https://github.com/kubernetes-incubator/kube-arbitrator/pull/181
Probably we can close this PR? @jlewi

[2018-05-29 07:57] staugust opened #609 "Set labels and annotations for svc created by tf_operator"
Hi, is there any solution to set labels and annotations for services created by tf_operator or inheriting labes and annotations set for tfjobs ? Thank you.

[2018-05-29 08:15] gaocegege commented on #609
We do not support it, but it is easy to implement. I will do it after #603 merged.

[2018-05-29 12:54] jlewi commented on #561
@gaocegege I like the idea of following @jessesuen's work around and then implementing what validation we can with CRD validation.

[2018-05-30 01:27] StAugust commented on #609
Ok, thank you very much.

[2018-05-30 05:45] zuowang opened #611 "panic: runtime error: invalid memory address or nil pointer dereference"
tf-job-operator stay in CrashLoopBackOff state and logs show it hit a panic. Can anyone help on this?
[code]
kubectl -n tfworkflow logs tf-job-operator-77776c8446-gt8vd
[code]

[2018-05-30 05:57] gaocegege commented on #611
dup wtih https://github.com/kubeflow/tf-operator/issues/608

[2018-05-30 05:57] #611 closed

[2018-05-31 06:00] #561 closed

[2018-05-31 06:53] gaocegege commented on #589
I will take a look. We need a e2e test to accelerate development of v1alpha2.

[2018-05-31 06:53] gaocegege commented on #589
/assign @gaocegege

[2018-06-01 06:31] gaocegege opened #616 "[v1alpha2] RealServiceControl does not set owner reference"
/type bug

We do not have the logic to set owner reference although we have a function CreateServicesWithControllerRef

[2018-06-04 04:55] gaocegege commented on #562
@yph152

Do we still need this?

[2018-06-04 05:03] gaocegege commented on #532
I am working on it. While we have to define a key word to use in code as the customized port. Maybe `tfjob-port` lgtm

[2018-06-04 05:06] yph152 commented on #562
yeah!  I'm making it.

[2018-06-04 05:11] gaocegege commented on #562
OK, feel free to open a PR and assign me to review!

[2018-06-04 05:13] yph152 commented on #562
OK。

[2018-06-04 06:04] gaocegege opened #620 "[v1alpha2] Set event for tfjob when spec is not valid"
We need to remind users that the spec is invalid

[2018-06-04 07:38] gaocegege commented on #437
I am closing it since we have enabled crd validation in kubeflow/kubeflow. I will open a separate issue to keep track of the validation generation work.

[2018-06-04 07:38] #437 closed

[2018-06-04 07:40] gaocegege opened #622 "[v1alpha2] Generate CRD validation in Kubernetes 1.11"
Ref https://github.com/kubeflow/tf-operator/issues/561#issuecomment-392491392

[2018-06-04 07:40] gaocegege commented on #622
This will limit the version of Kubernetes to 1.11.

[2018-06-04 07:42] gaocegege commented on #544
dup with #562

[2018-06-04 07:42] #544 closed

[2018-06-04 07:43] gaocegege commented on #609
/assign @gaocegege

[2018-06-04 08:46] gaocegege commented on #609
@jlewi Do you think it is needed from the operator? I think we have some discussions in #543

[2018-06-04 13:49] #574 closed

[2018-06-05 03:05] #620 closed

[2018-06-05 05:01] #532 closed

[2018-06-05 12:54] jlewi commented on #609
Do you mean should we copy labels from the PodTemplate specs to the services associated with those pods? That's a good question.

@StAugust Can you explain your use case for wanting the labels to be attached to the services?

[2018-06-05 22:50] jlewi commented on #447
I don't think this is going to land in 0.2 since I don't think anyone is actively working on this.
Moving it to 0.3.
Also downgrading to P2.

[2018-06-06 14:45] wbuchwalter commented on #447
Hey @jlewi sorry for the late reply.
I think this is the right call yes.
I think we need to have a discussion about the role of the dashboard in general (I will open a separate issue for that) and how to handle TB as well, so I don't think everything will be resolved before the end of the month.

The biggest question I have for TensorBoard, is how to link from an instance to the TfJobs it is curre

[2018-06-06 22:59] bhack opened #628 "Distribution strategies"
Just to point on https://github.com/tensorflow/tensorflow/issues/19605#issuecomment-395235868.

Are we interested?

[2018-06-07 02:51] EdwardZhang88 commented on #608
I have the same error. It seems it happens when there are failing pods with the same label. However, when I check startTime on those failed pods, none of them is null. Hope someone can find out the root cause for a complete fix.

[2018-06-07 03:34] gaocegege commented on #608
I will take a look asap. And you could have a try on v1alpha2, which is the new version of the TFJob.

[2018-06-07 03:41] gaocegege commented on #628
I think we could define one worker and assign it multiple GPUs, then we could specify mirrored strategy, while I haven't tried it.

[2018-06-07 07:17] kinglion811 opened #630 "tensorflow on kubernetes how to pass in worker_host and ps_host to container if I use tf-operator"
recently,I use tf-operator ,for example my python run command like this:
python demo.py --ps_hosts=172.16.42.2:2222   --worker_hosts=172.16.42.3:2222,172.16.41.2:2222 —job_name=woker —task_index=0

if I use the yaml file to release training tasks ,how can I pass in the parametes to container to start python program，the tf-operator can do this?

[2018-06-07 07:19] gaocegege commented on #630
You do not need to pass it since we will create headless service and generate cluster spec, then set it as env var `TF_CONFIG` in all ps and workers. Then you could just parse the env var and do your logic.

[2018-06-07 07:27] kinglion811 commented on #630
@gaocegege  thanks

[2018-06-07 07:35] #630 closed

[2018-06-08 07:05] jlewi commented on #255
This is fixed now.

[2018-06-08 07:05] #255 closed

[2018-06-11 00:49] jlewi commented on #575
Removing this from the 0.2 release because I don't think  Gang scheduling support is a hard requirement.

@mitake Any update though?

[2018-06-11 00:53] jlewi commented on #562
Why doesn't the Running condition depend on the workers?

[2018-06-11 00:55] jlewi commented on #562
Why does success depend on PS workers being in running state? Why isn't chief exiting successfully sufficient?

[2018-06-11 01:16] jlewi commented on #448
Removing this from the  0.2 release because it doesn't look like its going to make the cut at this point.

[2018-06-11 01:40] jlewi commented on #503
@zjj2wry Any update?

[2018-06-11 02:08] yph152 commented on #562
@jlewi Our default user will use worker-0 as chief.

[2018-06-11 02:12] yph152 commented on #562
OK, I will modify it.

[2018-06-11 04:50] mitake commented on #575
@jlewi sorry for the delay. Probably I'll be able to open a PR for this issue this week. Removing this from 0.2 would be ok.

[2018-06-11 06:07] gaocegege commented on #589
I am afraid that I can not handle the issue

/unassign

[2018-06-11 21:59] jlewi opened #633 "v1alpha2 - pod names don't include replica type"
I'm running a simple v1alpha2 job and I'm noticing the pod names don't include the replica type.

[code]

This is for a job with 2 PS and 4 workers.

Is this intentional? I'd have to double check but my sense is in v1alpha1 pod names included the replica type in the name.

[2018-06-11 22:38] jlewi opened #634 "TFJob not marked as success when master exits but not workers"
I ran the simple TFJob we use for smoke tests but modified it to have PS, Workers, and Master
https://github.com/kubeflow/tf-operator/blob/master/test/workflows/components/simple_tfjob.jsonnet

The master is marked as succeeded but the job is still marked as running. See below.

This is different behavior from v1alpha1 and seems like a regression.

@gaocegege @ScorpioCPH

[code]

[2018-06-11 22:44] jlewi commented on #589
There was a bunch of prior work in kubeflow/kubeflow#852

But that issue used mnist which I think is overly complicated and doesn't make it easy to test distributed communication patterns.

For example, the test doesn't appear to have caught #634

Using a complicated test like mnist also leads to flakes like kubeflow/kubeflow#974

Lets use this issue to update the test to use a simple TFJob like w

[2018-06-11 23:20] jlewi commented on #589
The problem appears to be here
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/controller_status.go#L45

The code doesn't appear to be implementing the termination policy logic as we discussed in the v1alpha2 spec. In particular

1. If there is a chief the job should be marked as completed when the chief exits.
1. If there is no chief worker 0 should be considered the chief.

[2018-06-11 23:20] jlewi commented on #634
The problem appears to be here
https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/controller_status.go#L45

The code doesn't appear to be implementing the termination policy logic as we discussed in the v1alpha2 spec. In particular

If there is a chief the job should be marked as completed when the chief exits.
If there is no chief worker 0 should be considered the chief.

[2018-06-11 23:35] jlewi commented on #634
Support for exit policies was discussed here in the original proposal
https://github.com/kubeflow/community/pull/30#issuecomment-371956143

[2018-06-11 23:36] jlewi commented on #562
How does this relate to support of termination policies as discussed in the original proposal?
https://github.com/kubeflow/community/pull/30#issuecomment-371956143

Per #634 it looks like termination policies were never implemented.

[2018-06-11 23:46] jlewi commented on #589
It looks like kubeflow/kubeflow#974 added the v1alpha2 test to Kubeflow but not to the TFOperator repository.

[2018-06-12 00:03] jlewi commented on #589
one complication is that the current tf-job-operator test is setting up a GPU cluster to run GPU tests.

Our DM config doesn't fully setup GPUs; we still need to create the daemonset. (see kubeflow/kubeflow#288).

Here's what I think we should do

1. We should copy over the E2E workflow used by kubeflow/kubeflow
1. We should strip out the non tf-operator tests
1. We should add steps to run with/wi

[2018-06-12 02:00] gaocegege commented on #634
We have no logic about master replicas now, and I think we do not just miss the support of exit policies. I think it could be added in 0.3. My opinion is to make ps/worker high availability, WDYT

[2018-06-12 03:16] gaocegege commented on #633
I will take a look.

[2018-06-12 03:50] gaocegege commented on #633
We are using podcontrol in Kubernetes to create pods with the given parent object TFJob, and the code uses the name of the parent TFJob as the generateName to generate the name of the pod, I will try to hack it.

[2018-06-12 04:11] gaocegege opened #635 "[v1alpha2][log] Use logrus instead of glog in service_control"
We copied the code in Kubernetes and they use glog. Then we need to update it.

[2018-06-12 08:15] gaocegege commented on #634
And FYI, the master spec is using `Chief` instead of `Master`.

[2018-06-12 08:16] gaocegege commented on #634
I implement the logic #637 and the code will generate the cluster spec like this:

[code]

Thus we need to write an example for the case.

[2018-06-12 09:01] gaocegege commented on #524
How about setting the value to OnFailure?

[2018-06-12 09:01] gaocegege commented on #55
dup with #524

[2018-06-12 09:01] #55 closed

[2018-06-12 12:44] jlewi opened #639 "[v1alpha2] E2E test for replica restart policy"
We'd like to have E2E tests for the pod restart policy.

The restart policy controls whether pods get restarted based on the exit code.

A simple E2E test would just be a simple script that exits with the desired code. We could then verify that the pod is restarted or not.

Verification might be a little tricky.

A simple way to do this would be:

1. The script can store state in shared storage

[2018-06-12 12:46] jlewi commented on #628
We should support distribution strategies. My expectation is that no extra work is required. But if there is extra work we should figure out what that is and support it.

[2018-06-12 12:50] bhack commented on #628
@jlewi Check the last reply at https://github.com/tensorflow/tensorflow/issues/19605#issuecomment-396383108

[2018-06-12 12:52] jlewi opened #640 "GPU tests failing; ks env doesn't exist"
The GPU tests have started failing with the error

[code]
I suspect a race condition because the non gpu and gpu tests are both trying to add it at the same time.

This appears to have started when we upgraded to 0.11 in the testing container.
kubeflow/kubeflow#727

My guess is the behavior might have changed.

Adding retries might help; but it looks like we will also get an error if the environme

[2018-06-12 13:10] yph152 opened #641 "[v1alpha2]Unable to create pod"
@gaocegege
[code]
![image](https://user-images.githubusercontent.com/20721597/41292333-d2fca6ac-6e84-11e8-9414-dcee60be8535.png)

[2018-06-12 13:15] gaocegege commented on #641
Could you please give me more information? I can not know what happened from the log.

[2018-06-12 13:20] gaocegege commented on #634
OK, SGTM. we have 3 days before the DL and I will work on it.

[2018-06-12 13:20] yph152 commented on #641
I used the above configuration file to create tfjob, but I can't create a new pod.

[2018-06-12 13:21] gaocegege commented on #639
https://github.com/gaocegege/k8s/tree/termination-example/examples/v1alpha2/restartpolicy

I used code here to test the PR #638

[2018-06-12 13:22] gaocegege commented on #641
Could you please show me `kubectl describe tfjob`?

[2018-06-12 13:31] yph152 commented on #641
[code]

[2018-06-12 13:50] gaocegege commented on #641
Are you using the latest master? I tried and it works.

[code]

[2018-06-12 14:24] yph152 commented on #641
thanks ,i will test it.

[2018-06-12 19:29] #640 closed

[2018-06-12 20:42] jlewi opened #644 "[v1alpha2] pod names don't include random salt"
#633 Changed the pod names to look like the following

[code]

Pods need to include some random salt; so that if pod terminates we can restart a new pod without deleting the previous pod.

[2018-06-12 20:51] jlewi opened #645 "E2E test to validate pod names"
We had some regressions with v1alpha2 with pod names:

See #644 & #633 we should consider adding an E2E test to prevent regressions.

[2018-06-12 20:56] jlewi commented on #562
I tried a job and it doesn't look like conditions indicating job is done are set.

This is using #637

[code]

[2018-06-13 02:16] xychu opened #647 "`dep ensure` give warning on `k8s.io/apiserver`"
When I run `dep ensure` as [Developer Guide](https://github.com/kubeflow/tf-operator/blob/master/developer_guide.md#building-the-operator) suggested,

I got:

[code]

And as a result, lots of extra pkgs got added into `vendor/` directory.

Is this expected?

[2018-06-13 02:20] gaocegege commented on #644
I am not sure why we do not delete the previous pod. In the code we ensure that there is exactly one pod for each replica. And I think we should delete the previous pod.

[2018-06-13 02:39] gaocegege commented on #647
Are you running it in the latest master? And could you please have a try on `dep ensure -v`?

[2018-06-13 02:39] gaocegege commented on #641
Could we close the issue?

[2018-06-13 03:03] jiaxuanzhou commented on #641
@gaocegege  there is no templates for v2 tfjobs, is there any plan to provide the whole solution of v1alpha2?

[2018-06-13 03:06] gaocegege commented on #641
@jiaxuanzhou We have a template in https://github.com/kubeflow/tf-operator/tree/master/test/e2e/dist-mnist

[2018-06-13 03:32] gaocegege commented on #641
@jiaxuanzhou v1alpha1 and v1alpha2 has different spec, you may try

[code]

[2018-06-13 03:40] jiaxuanzhou commented on #641
@gaocegege yes, it works using the template above, but my point is that once wrong tfjob obj created ,controller of tf-oprerator should deny and print err info to let the users know what happened.
BTW, how to use the service related tf-operator, any templates?

[2018-06-13 03:52] gaocegege commented on #641
Yeah, I agree with you. If you are using lastest master, I think the operator will submit an event to the TFJob to tell the users that the spec is invalid. Ref https://github.com/kubeflow/tf-operator/commit/ea770be0edc576940abf293bcbe4dc98c2b219dd

And, could you please explain what the service related to tf-operator is?

[2018-06-13 03:55] jiaxuanzhou commented on #641
@gaocegege one scenario for example: one PS job want to communicate with another Worker job within one tfjob, services of ps and worker may work for this.

[2018-06-13 04:01] gaocegege commented on #641
Oh, I understand. The operator will generate cluster spec and headless services for the TFJob, then set the cluster spec as env var `TF_CONFIG`. Then you do not need to care about how to create services for the PS and workers.

[2018-06-13 04:17] jiaxuanzhou commented on #641
great, thanks, that's what i want.

[2018-06-13 05:43] jlewi commented on #644
This was a long discussion in the original PR that I think @ScorpioCPH implemented.

Consider the following case.

* worker-1 exits with some retryable error
* We start a new pod for worker-1

If you delete the old pod then there is no straightforward way for the user to access the logs to see why the pod failed. They would dependent on a backend for the logging cluster.

In particular; consider t

[2018-06-13 05:48] gaocegege commented on #644
We will record an event in the corresponding TFJob if there are pods to be deleted.

But I agree that logs matter. We should not expect users has a backend for logs. Then I will try to fix it. There is one thing we need to make sure is that the communication will not be affected by two pods. If we keep the failed pod, we will have two pods for one headless service. I am not sure if it works.

[2018-06-13 05:51] jlewi commented on #589
#646 Created some v1alpha2 E2E tests but they aren't enabled.

We will enable them in a follow on PR. The reason to enable them in a follow on PR is I'm not sure yet whether they are passing.; there may be additional fixes that are needed.

Getting them committed and triaging in follow on PRs will easier then holding them until the PRs are committed.

[2018-06-13 05:54] zjj2wry commented on #503
updated，😉

[2018-06-13 06:19] gaocegege commented on #524
Close in https://github.com/kubeflow/tf-operator/pull/638

Default is never now.

[2018-06-13 06:19] #524 closed

[2018-06-13 06:39] xychu commented on #647
@gaocegege  same warn for the latest master.

BTW, my go version is 1.10.3 and dep version is v0.4.1.

I've tried `go build` without those extra pkgs added by `dep ensure` and it works well.
So it's not a issue, feel free to close it :-）

[2018-06-13 07:29] gaocegege opened #651 "[v1alpha2] Add e2e test cases for evaluator"
#650 Adds evaluator support without test cases.

[2018-06-13 08:20] gaocegege commented on #503
@zjj2wry @jlewi  Could we close the issue?

[2018-06-13 08:21] gaocegege commented on #444
This is implemented in #650

[2018-06-13 08:21] #444 closed

[2018-06-13 10:16] xychu commented on #651
Actually, I do have a e2e mnist estimator test locally, but it relies on distributed storage support as [tf doc](https://www.tensorflow.org/api_docs/python/tf/estimator/train_and_evaluate) said:

Do we have any solution for this in tf-operator or maybe other kind of tests are also okay?

[2018-06-13 10:19] gaocegege commented on #651
I think in the early stage, we just need UT to make sure that the eval worker is created and the cluster spec is what we expect.

We do have a platform for e2e test in Google Cloud, with shared disks. We could add e2e test for the feature after UT.

[2018-06-13 13:11] jlewi opened #653 "[v1alpha2] Create a simple python server to be used for E2E tests of controller behavior"
We'd like to write more comprehensive E2E test cases to verify the controller works as expected.

We have a number of issues related to adding more tests
  #646 - Add tests for termination behavior
  #651 - Add Evaluator tests

Currently our E2E tests are based on [smoke_test.py]https://github.com/kubeflow/tf-operator/blob/master/examples/tf_sample/tf_sample/tf_smoke.py). This verifies that ops ca

[2018-06-13 13:14] jlewi commented on #651
I don't think using mnist is the right way to test this.
What we want to test is the controller logic. We don't really need to test TF; so using actual TF models just adds complexity that gets in the way.

We can test the controller by running simple python processes that exhibit the behavior we care to test; e.g. exiting with a particular exit code to test restart behavior.

For the evaluator the

[2018-06-13 17:13] jlewi commented on #644
Good point. Hadn't thought about the RPC.

[2018-06-13 17:14] jlewi opened #654 "[v1alpha2] service names are prefixed with namespace"
It looks to me like the services for the replicas are prefixed with the namespace

[code]

pods

[code]

What was the reason for adding the namespace as a prefix?

[2018-06-13 19:31] jlewi opened #655 "Make it easier to debug/develope E2E tests"
Iterating on E2E tests is really slow because each test run. The following steps are the expensive ones

  1. Creating a GCP cluster
  1. Rebuilding the tf-job-operator image

For development purposes, it would be nicer if we could easily run the E2E tests without repeating the above steps.

Developers can follow our getting started guide to setup Kubeflow and can configure the TFJob image to use.

[2018-06-14 01:38] gaocegege commented on #654
Nope, I can fix it ASAP. I think it is a bug.

[2018-06-14 01:39] gaocegege commented on #634
I think it is closed by #637

[2018-06-14 01:39] #634 closed

[2018-06-14 02:32] nosmatch opened #657 "In TFjob, when the workers Completed, i want the ps Completed too, how can i do?"
[code]
and for ps:
    server = server = tf.train.Server(cluster, job_name=local_type, task_index=local_index)
     ...
    if local_type == "ps":
        print "local server is ps"
        server.join()

[2018-06-14 02:33] nosmatch commented on #657
@gaocegege

[2018-06-14 02:49] jlewi commented on #654
Thanks!

[2018-06-14 02:50] #654 closed

[2018-06-14 02:54] jlewi opened #659 "Speedup E2E test by running build and setup cluster in parallel"
We should be able to speedup the E2E test by running the setup cluster step and build step in parallel.

The setup cluster step waits for the TFJob operator deployment to start which will be blocked on the build step completing. But this should be fine as long as the timeout is long.

However, it would be better if we made the wait for deployment step a separate step that depends on both the clust

[2018-06-14 03:58] gaocegege commented on #657
I do not think you could do it, because PS is designed to be long running in TF

[2018-06-14 03:59] gaocegege commented on #644
Do you think we need import it into 0.2?

[2018-06-14 04:10] gaocegege commented on #651
I agree. But I think at least we need at least one e2e for real workload to see if the integration works.

[2018-06-14 04:13] gaocegege commented on #534
zap is fast while I do not think logging is a bottleneck, thus close the issue.

[2018-06-14 04:13] #534 closed

[2018-06-14 04:15] gaocegege commented on #195
I think we could close the issue since we already have:

- https://github.com/Azure/kubeflow-labs
- https://katacoda.com/courses/machine-learning/deploying-kubeflow

[2018-06-14 04:15] #195 closed

[2018-06-14 04:16] nosmatch commented on #657
but the ps belongs to one tfjob, and when i create a new tfjob we will create new ps, according my understand when a tfjob compled we will delete all resources the tfjob used, right?

[2018-06-14 04:17] gaocegege commented on #263
Close it since we come to an agreement.

[2018-06-14 04:17] #263 closed

[2018-06-14 04:18] gaocegege commented on #657
We do not implement the logic to delete all pods and services after the TFJob is completed in v1alpha2. And even if we implement it, we do not set the ps to be completed, we just delete it.

[2018-06-14 06:32] nosmatch commented on #657
which one will delete the ps server when TFjob completed? mster?

[2018-06-14 06:33] nosmatch commented on #657
Thank you for your reply.

[2018-06-14 06:33] gaocegege commented on #657
controller for v1alpha1 will do it.

[2018-06-14 06:34] nosmatch commented on #657
what about v1alpha2？

[2018-06-14 06:37] gaocegege opened #661 "[feasibility study] Investigate strategy to stop PS after job is completed"
We have lots of discussions about the behavior when the job is finished. PS is designed to be long-running, but we do not accept it since TFJobs do not share PS. Thus we decided to delete ps and workers after TFJob is finished in v1alpha1.

But, in the meantime, it causes some problems with logging （ #536 ）. Thus we need to investigate if there is another approach to avoid deletions.

[2018-06-14 06:38] gaocegege commented on #657
We will investigate if there is another way to do the same thing without deletions. Ref #661

[2018-06-14 06:40] gaocegege commented on #543
Close by https://github.com/kubeflow/tf-operator/pull/658

[2018-06-14 06:40] #543 closed

[2018-06-14 06:50] jiaxuanzhou commented on #661
how about adding one annotation for ps pods to make it configurable whether delete or keep it long-time running?

[2018-06-14 06:53] gaocegege commented on #661
@jiaxuanzhou I do not think we could benefit from the long-running ps. This issue is to find a way to stop PS or release the resource.

Could you give me a use case for long-running ps?

[2018-06-14 06:55] jiaxuanzhou commented on #661
we have no scenarios of long-time running for ps neither, i positively agree with deleting the ps pods when worker pods completed.

[2018-06-14 07:06] jiaxuanzhou commented on #661
But，i went through the issue #536 , it is just used for debugging, may be making it configurable for ps will benefit , or we can add another role as "persist ps" and "ps" in tfjob.

[2018-06-14 07:10] gaocegege commented on #661
Yeah, we definitely meet with problems about logging. While we want to keep the log but release the resource. Thus we do not expect that keep the ps running forever.

[2018-06-14 07:17] jiaxuanzhou commented on #661
i think persist the log is nothing to do with tfjob, it should be configured by the end user to use one persist volume or "host path" to store the log file, while tfjob's mission is just run and promise the tfjob is successfully completed and report the status.

[2018-06-14 07:43] gaocegege commented on #661
I mean the pod log. If we need the user to specify PV, then we could just delete pods without hesitation.

[2018-06-14 07:58] jiaxuanzhou commented on #661
pod log? isn't it stdout/stderr info of cmd running in  containers within the pod ？or do i miss some other concepts in pod?

[2018-06-14 08:02] gaocegege commented on #661
Yeah, I mean if we delete the pods, we can not access the STDOUT/STDERR. Thus we expect that the resource is recycled but the log is still accessed. For example, stop ps but do not delete it.

[2018-06-14 08:14] jiaxuanzhou commented on #661
oh, i got u, but i think log should always managed by end users, they produce the logs and consume the logs, meanwhile tfjob is just a platform tool to place the tasks, you can refer to the controllers in k8s, tf-operator just like job/deployment/statefulset..., these controllers will never concern about the stdout/stderr info, they just provide solutions like pv/hostpath/empyt-dir to let users to

[2018-06-14 08:17] gaocegege commented on #661
I understand that the controllers do not concern about the stdout/err. And we do not care about it, too. But, if there is a way to stop PS without deletion, I think it is better than deleting them.

[2018-06-14 08:20] jiaxuanzhou commented on #661
there is another concern, when to delete the ps? make the lifecycle of ps same with the tfjob?

[2018-06-14 08:32] gaocegege commented on #661
We deleted ps when the job is succeeded in v1alpha1. Could we chat on slack?

[2018-06-14 11:44] gaocegege opened #664 "[v1alpha2] Move test util to separate package"

[2018-06-14 11:45] gaocegege opened #665 "[v1alpha2] Move control interface to separate pakckage"

[2018-06-14 16:35] #653 closed

[2018-06-14 16:35] #235 closed

[2018-06-15 01:29] jlewi opened #668 "[v1alpha2] conditions not updated"
I'm running jobs using v1alpha2. And it doesn't seem like the conditions change when the pods enter the running state.

[code]

The pods are all running

[code]
My operator is using this image:
gcr.io/cloud-ml-dev/tf_operator:kubeflow-tf-operator-presubmit-tfjob-e2e-667-0f4abf6-652-6c99
https://github.com/kubeflow/tf-operator/pull/667/commits/0f4abf6d03e81cc2143651f184c2a73e073db0f1

@gaocegege Ar

[2018-06-15 01:49] jlewi commented on #668
Looks like termination policy might not be implemented correctly either. I terminated the chief and worker 0 but the job isn't marked as completed.

[code]

[code]

[2018-06-15 01:50] jlewi commented on #668
Terminating all the workers also didn't seem to help

[code]

[code]

[2018-06-15 01:53] jlewi commented on #668
Job isn't marked completed even when I terminate all pods.

The operator logs show its still reconciling.

[code]
[code]

Status indicates all the processes have succeeded.

[code]

[2018-06-15 02:02] jlewi commented on #668
Here's my crd definition

 kubectl get crd -o yaml tfjobs.kubeflow.org
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    ksonnet.io/managed: '{"pristine":"H4sIAAAAAAAA/6SSu2rzQBCF+/8xTr3oR0kT1AWHQFIZOzj1SB7JE2kv7EVxMHr3sPIFjAsX2Wpmzp5vDsseQE427INYgyo3vI9schuK/ikUYv+PZc2RSij0YraosEghWr3iYJNv+IVbMRIzQEFzpC1FQnWAIc2oENsvW4eiTzW3g/0urO8wKQTHTb7VeZscKl

[2018-06-15 02:04] gaocegege commented on #668
Same as me, I think

[code]

[2018-06-15 02:39] gaocegege commented on #668
Oh I found the reason
You are using CHIEF
And we do not check all case for the replica type
I am using Chief to update the status
I could file a quick fix to rename all case to Chief in defaults. (edited)
You could try to use Chief/PS/Worker

[2018-06-15 03:46] jlewi commented on #668
Thanks.

Can we make the checks type insensitive?

[2018-06-15 03:48] jlewi commented on #668
NM. Looks like that's what your PR does.

[2018-06-15 04:06] jlewi opened #671 "[v1alpha2] Pods not deleted when job finishes"
Doesn't look like the pods are being deleted when the job finishes.

This means the pods will still be running and continue to consume resources.

For v1alpha1 we decided that was undesirable and that pods should be deleted when the job finishes.

I think we should preserve that behavior even though it means access to logs depends on cluster level logging.

If a user wants to leave pods running un

[2018-06-15 04:06] jlewi commented on #671
/assign @gaocegege

[2018-06-15 04:07] gaocegege commented on #671
Is this for v1alpha1 or v1alpha2?

[2018-06-15 04:15] jlewi commented on #671
v1alpha2.

Here's the issue related to changing the behavior in v1alpha1 to delete pods when job finishes.
https://github.com/kubeflow/tf-operator/issues/128

Per that issue, I think this is a real issue for using TFJob. If you launch a job which uses GPUs then that job will continue to consume GPUs even after the job finishes.

I think this is a major barrier to doing actual work.

Bumping this t

[2018-06-15 04:19] jlewi commented on #562
@gaocegege pointed out to me on slack that Failed is not a permanent state. This doesn't seem right to me.

There should be terminal conditions corresponding to success and failure.

If we have an error and are retrying I think it makes more sense to have a Condition like "Error" or "Crash"

[2018-06-15 04:29] jlewi opened #672 "[v1alpha2] add pod label with job name (without namespace)"
Right now the pod labels include "tf_job_key" which is ${namespace}-{jobname}.

The namespace feels redundant. I think we should have a label with just the job name and not force
the user to specify namespace. I believe users can already restrict to namespace by specifying the namespace directly so I don't think it makes sense to require the namespace.

If we need the tf_job_key label for some oth

[2018-06-15 04:39] jlewi commented on #562
To summarize my discussion with @gaocegege in slack. At a minimum for 0.2 I think we need the following

I think that's sufficient.  For 0.2 I think we need the following.

i) The conditions Failed and Succeeded should indicate the job is completely done
ii) When the job enters the conditions Failed and Succeeded the pods should be deleted so resources are released

Additional conditions can be ad

[2018-06-15 04:44] jlewi commented on #562
For reference I checked what Job does
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#jobcondition-v1-batch

It looks like it has conditions Complete and Failed. I think I prefer Succeeded and Failed. Its not obvious to me that Complete means succeded.

[2018-06-15 04:46] jlewi commented on #608
Downgrading to P1 because I think we should focus on v1alpha2.

[2018-06-15 04:49] jlewi commented on #644
I think you're right. I think we should try to making the pod names deterministic.
I think this has added benefits; e.g. makes it easier for user to find pod logs.

So lets stick with the current implementation for the initial release in 0.2. And then based on feedback we can figure out if we need to change things.

[2018-06-15 04:50] jlewi commented on #644
Per the above closing this issue. If we think its an actual problem we can open a new issue.

[2018-06-15 04:50] #644 closed

[2018-06-15 04:52] #664 closed

[2018-06-15 04:52] gaocegege commented on #664
Close in #666

[2018-06-15 04:53] jlewi opened #673 "[v1alpha2] Need conditions Succeeded and Failed indicating when job is done"
Per [comment](https://github.com/kubeflow/tf-operator/issues/562#issuecomment-397511373)

I think a minimum requirement for the 0.2 release is that we have conditions Succeeded and Failed that indicate when a job is completely done and whether it completed successfully or not.

/assign @gaocegege

[2018-06-15 04:54] jlewi commented on #562
Filed #673 for the immediate work needed for 0.2

[2018-06-15 05:06] jlewi opened #674 "[v1alpha2] ks apply on existing job; "unable to find api field in struct Unstructured for the json field "metadata"""
When running ks apply for a TFJob that already exists I get an error

[code]

Using kubectl apply doesn't give this error

[code]

[code]
I don't know whether the problem is v1alpha2 or ks 0.11.

ksonnet 0.11 changed how it does updates
v1alpha2 changed how we use informers see #561

kubeflow/kubeflow#980 is another possibly related issue with ksonnet 0.11.

I guess its an open question about what

[2018-06-15 05:51] #665 closed

[2018-06-15 05:51] jiaxuanzhou commented on #661
prober for container is used to check if the container is ready(readiness prober) or  whether to restart the container(liveness prober), so it definitely does not work for this scenario.
BTW i have no access workspace of kubeflow  on slack
May u kindly share ur wechat No. to me?  @gaocegege

[2018-06-15 05:58] gaocegege commented on #661
@jiaxuanzhou Sent via email in your profile.

[2018-06-15 09:00] jiaxuanzhou commented on #641
@gaocegege i have tested again with the template below, controller.v2 will not send out event and log the err. this is a bug , i will submit one pr soon.
[code]

here is my test log
[code]

[2018-06-15 09:58] gaocegege opened #680 "[v1alpha2] CreatedCondition is not set"
We add created condition in addTFJob but we do not use the updated obj to enqueue, thus we do not have the condition.

[2018-06-16 01:49] gaocegege opened #682 "[v1alpha2] Validate the TFJob converted from unstructured"
#678 has a simple check. We need a more detailed one.

[2018-06-16 02:11] #659 closed

[2018-06-16 02:36] #641 closed

[2018-06-16 04:20] jiaxuanzhou commented on #682
this kind of validation should be implemented in pkg/apis/validation

[2018-06-16 09:11] u2takey commented on #673
`func reconcileTFJobs` may need some refactoring to achieve this, current design https://github.com/kubeflow/tf-operator/blob/master/pkg/controller.v2/controller.go#L337 to separate logic with different `rtype` in not a good idea.
IMO, `tfjob` is a special kind of `job`, we can just follow way here: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/job/job_controller.go#L436

[2018-06-17 01:12] bryanl commented on #674
@jlewi I'm researching this issue. I'll post an update here. Moving forward, ee are going to add a kubeflow to our end to end testing.

[2018-06-17 02:37] gaocegege commented on #674
@bryanl  Thanks!

[2018-06-17 04:35] 372046933 commented on #634
@gaocegege Can you provide a sample training with `Chief, Master and Worker`

[2018-06-17 14:02] gaocegege commented on #634
@372046933 I do not really train a mode, I just use busybox to test the functionality.

[2018-06-18 05:13] gaocegege commented on #673
Personally, I think we should deal with PS/Worker/Chief differently. We will benefit from fine-grained control.

[2018-06-18 05:14] gaocegege commented on #673
BTW, @yph152 is working on the feature.

[2018-06-18 05:14] gaocegege commented on #682
Yeah, thanks for your suggestion. I think so.

[2018-06-18 12:30] u2takey commented on #673
What i mean is: we should see Ps/worker/chief as a whole (for example: if chief die, worker should be killed)，which is not implemented in current design.

[2018-06-18 12:32] gaocegege commented on #673
I understand and agree that we should implement it. And yph is working on it now. :smile:

[2018-06-18 14:50] yph152 commented on #673
I think that when the training is successful, we can reclaim pods and services, but when the training fails, I don't think I should recycle them, because at this time the user can use the information of these pods to check the reasons for the failure, such as Look at the pod's log.

[2018-06-18 20:58] jlewi commented on #673
There's some good suggestions in this thread. But we really need the behavior indicated in this report e.g. conditions to determine when job is in a terminal condition to have a minimally viable version of v1alpha2 included in 0.2.

Its imperative that we be able to switch to v1alpha2 in 0.2.

I don't think this is what we want. Distributed jobs are meant to be resilient to transient failures. So

[2018-06-18 22:30] u2takey commented on #673
In fact, what i want to point out is same with you @jlewi ：if trianing fail (In most case: chief fail and not restartable), gpu/cpu resource should be reclaimed. For debug reason, user can store pod log In elk, more information should be collected to tfjob's condition to help user for debug reason.

[2018-06-19 02:38] gaocegege commented on #673
Yeah, I agree. While I think the condition is not the perfect place to show the information. Maybe we should send more events about the TFJob, e.g. Chief is failed and restarting now.

[2018-06-19 06:06] cheyang commented on #536
BenHall/fluentd-kubernetes-daemonset@cb27545

@jlewi , my question is that how we check and make sure the logs are collected completely before the pods are deleted, as I know the pods are deleted once the tfjob is complete.

[2018-06-19 09:36] jiaxuanzhou commented on #575
maybe later, we can introduce the flow graph scheduling based scheduler poseidon(kubernetes-sigs/poseidon
) to make the scheduling policy more various.

[2018-06-19 09:40] gaocegege commented on #575
I am not sure if Firmament is designed for ML. Could you please explain more about why to use Poseidon/Firmament instead of kube-arbitrator?

[2018-06-19 12:19] jlewi commented on #673
@gaocegege @yph152 Any update on when the PR for this issue will be ready?

[2018-06-19 12:20] jlewi commented on #671
@yph152 and @gaocegege Any update on when the PR for this issue will be ready? Do you need help?

[2018-06-19 12:43] gaocegege commented on #673
This and #671 will be fixed in #686

[2018-06-19 21:22] lluunn commented on #645
I will try this one

[2018-06-19 21:34] jlewi commented on #673
Great thanks.

[2018-06-19 23:47] lluunn commented on #680
IIUC it's on this line https://github.com/kubeflow/tf-operator/blob/050a71771fb0c98f70e6d265d8185a3e67b89cbe/pkg/controller.v2/controller_tfjob.go#L45
The tfjob variable is updated but obj is not?
Is the fix just do `tc.enqueueTFJob(tfjob)`, or something else needs to be done?

[2018-06-20 01:59] gaocegege commented on #680
I haven't tried it. I will take a look.

/assign

[2018-06-20 02:19] jlewi commented on #589
Enabled in #667

[2018-06-20 02:19] #589 closed

[2018-06-20 23:33] jlewi commented on #536
@cheyang I think ensure logs are properly collected is a generic/k8s problem; I don't have a good answer.

[2018-06-20 23:37] jlewi commented on #536
I like the solution in #685 of defining a CleanupPolicy per job. In particular, I like the idea of having a policy that terminates running pods but not completed pods. That seems like a good stop gap until K8s gives us a way to terminate pods.

An extension of that idea would to allow users to have a handler "/quit" that we could call in order to terminate their pods. Its possible there's a way we

[2018-06-20 23:39] jlewi commented on #536
Tagging this 0.2. Even though it won't make 0.2.0 we should consider including it in a 0.2.1 release before 0.3.0.

[2018-06-21 07:33] zjj2wry commented on #503
I think it should be closed. If there is a problem, you can turn it back on. thanks
/close

[2018-06-21 07:33] #503 closed

[2018-06-21 07:57] gaocegege opened #692 "[v1alpha2] Make restart policy a pointer"
Or it will not be in deepcopy functions.

[2018-06-21 09:22] gaocegege commented on #651
/assign @codeflitting